Repository xbmc/xbmc, pull requests merged in 2018-09, with the labels that each got.

#14385 guilib: do not log empty compile info of pixel shaders
  xbmc/guilib/Shader.cpp
Labels: Cleanup, Logging, v18 Leia

#14378 [PVR] PVRChannelGroup::ResetChannelnumberCache - fixes trac#18009
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Fix, PVR, v18 Leia

#14381 [Estuary] Music OSD: Remove 'Previous' button for non-seekable stream…
  addons/skin.estuary/xml/MusicOSD.xml
Labels: Fix, Music, Skin, v18 Leia

#14370 [cleanup] silence class memaccess warning
  xbmc/filesystem/ZipManager.cpp
  xbmc/filesystem/ZipManager.h
Labels: Cleanup, v18 Leia

#14387 [PVR][Estuary] Add support for ACTION_(PREV|NEXT)_ITEM for timeshift buffer navigation
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/VideoOSD.xml
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/PlayListPlayer.cpp
  xbmc/messaging/ApplicationMessenger.cpp
  xbmc/messaging/ApplicationMessenger.h
  xbmc/messaging/ThreadMessage.h
  xbmc/pvr/PVRActionListener.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
Labels: Improvement, PVR, v18 Leia

#14388 [windowing/osx] - fix double release of nsstring when no displayname can be determined
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Fix, macOS, v18 Leia

#14391 [PVR] trac#18022: Add support for ACTION_SHOW_INFO to CGUIDialogPVRChannelGuide
  xbmc/pvr/dialogs/GUIDialogPVRChannelGuide.cpp
Labels: Improvement, PVR, v18 Leia

#14383 [XBMCHelper] - fixed up/down buttons on macOS 10.13.6
  tools/EventClients/Clients/OSXRemote/HIDRemote/HIDRemote.h
  tools/EventClients/Clients/OSXRemote/HIDRemote/HIDRemote.m
  xbmc/input/InputManager.cpp
  xbmc/network/EventClient.cpp
Labels: Fix, macOS, v18 Leia

#14382 [videoplayer] [bluray] Fix playback of disc with truehd tracks in menu mode.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#14402 [messaging] CID 1439117: Uninitialized members (UNINIT_CTOR)
  xbmc/messaging/ThreadMessage.h
Labels: Fix, v18 Leia

#14373 Fix show info dialog for music videos on current musicplaylist
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Fix, Music, v18 Leia

#14399 VideoPlayer: fix timeshift on demand, allow pause if no buffer exists
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFFmpeg.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#14400 input: LibInputTouch: Switch to get_seat_slot() to fix single touch device input
  xbmc/platform/linux/input/LibInputTouch.cpp
Labels: Fix, Input, Linux, v18 Leia

#14393 gbm: fix surface creation when no modifiers are present
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/GBMUtils.cpp
Labels: Fix, Linux, Rendering GUI, v18 Leia

#14394 [addons] sync with repo
  addons/game.controller.default/addon.xml
  addons/metadata.album.universal/addon.xml
  addons/metadata.album.universal/albumuniversal.xml
  addons/metadata.album.universal/changelog.txt
  addons/metadata.album.universal/resources/language/English/strings.po
  addons/metadata.album.universal/resources/settings.xml
  addons/metadata.artists.universal/addon.xml
  addons/metadata.artists.universal/artistuniversal.xml
  addons/metadata.artists.universal/changelog.txt
  addons/metadata.artists.universal/resources/language/English/strings.po
  addons/metadata.artists.universal/resources/settings.xml
  addons/metadata.common.allmusic.com/addon.xml
  addons/metadata.common.allmusic.com/allmusic.xml
  addons/metadata.common.fanart.tv/addon.xml
  addons/metadata.common.fanart.tv/fanarttv.xml
  addons/metadata.common.imdb.com/addon.xml
  addons/metadata.common.imdb.com/changelog.txt
  addons/metadata.common.imdb.com/imdb.xml
  addons/metadata.common.musicbrainz.org/addon.xml
  addons/metadata.common.musicbrainz.org/musicbrainz.xml
  addons/metadata.common.theaudiodb.com/addon.xml
  addons/metadata.common.theaudiodb.com/tadb.xml
  addons/metadata.common.themoviedb.org/addon.xml
  addons/metadata.common.themoviedb.org/tmdb.xml
  addons/metadata.tvdb.com/addon.xml
  addons/metadata.tvdb.com/changelog.txt
  addons/metadata.tvdb.com/tvdb.xml
Labels: Addons, v18 Leia

#14406 [PVR] Guide window: Fix deadlock.
  xbmc/pvr/windows/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIEPGGridContainer.h
  xbmc/pvr/windows/GUIEPGGridContainerModel.cpp
  xbmc/pvr/windows/GUIEPGGridContainerModel.h
Labels: Fix, PVR, v18 Leia

#14408 VideoPlayer: demuxClient, wait until video has extradata
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.h
Labels: Improvement, Video, v18 Leia

#14407 VideoPlayer: handle dying streams during sync
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#14414 bump to v18.0 beta 3
  version.txt
Labels: No-Jenkins, v18 Leia

#14412 [PVR] trac#18025: Channel Guide Dialog and Channels OSD Dialog fixes
  system/keymaps/keyboard.xml
  system/keymaps/remote.xml
  xbmc/Application.cpp
  xbmc/FileItem.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/dialogs/CMakeLists.txt
  xbmc/pvr/dialogs/GUIDialogPVRChannelGuide.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelGuide.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.h
  xbmc/pvr/dialogs/GUIDialogPVRItemsViewBase.cpp
  xbmc/pvr/dialogs/GUIDialogPVRItemsViewBase.h
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
Labels: Fix, PVR, v18 Leia

#14404 Games: Fix error calculating savestate size
  xbmc/cores/RetroPlayer/streams/memory/LinearMemoryStream.cpp
Labels: Fix, Games, v18 Leia

#14392 added: hand rtsps (rtsp over ssl) inputs to ffmpeg
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
Labels: Video, v18 Leia

#14415 [PVR] gui info fixes
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRGUITimesInfo.cpp
Labels: Fix, PVR, v18 Leia

#14398 Enable games by default
  system/settings/settings.xml
  system/settings/win10.xml
Labels: Games, v18 Leia

#14397 libinput: use epoll to wait for events on the fd
  xbmc/platform/linux/input/LibInputHandler.cpp
Labels: Input, Linux, v18 Leia

#14417 [Music]Fix forced expansion of .m3u playlists
  xbmc/filesystem/Directory.cpp
Labels: Fix, Music, v18 Leia

#14421 fix coding issue on show disk usage message.
  xbmc/platform/win32/storage/Win32StorageProvider.cpp
Labels: Fix, Windows, v18 Leia

#14424 [PVR] PVR addon API documentation updates and fixes.
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
Labels: Improvement, PVR, v18 Leia

#14418 [gui] Add icon for Blu-rays.
  addons/skin.estuary/media/DefaultBluray.png
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/Util.cpp
  xbmc/filesystem/SourcesDirectory.cpp
Labels: Improvement, Skin, v18 Leia

#14413 VideoPlayer: rt streams - flush demux queue if sync error is too big
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#14426 [modernize] range-based loops
  xbmc/GUIInfoManager.cpp
  xbmc/GUIPassword.cpp
  xbmc/LangInfo.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/TextureDatabase.cpp
  xbmc/Util.cpp
  xbmc/addons/AddonInfo.cpp
  xbmc/addons/Scraper.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkSNDIO.cpp
  xbmc/cores/AudioEngine/Utils/AEChannelInfo.cpp
  xbmc/cores/DllLoader/DllLoaderContainer.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/DllLoader/exports/util/EmuFileWrapper.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/DVDCodecUtils.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder708.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/DVDDemuxSPU.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/dbwrappers/DatabaseQuery.cpp
  xbmc/dialogs/GUIDialogBoxBase.cpp
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistEditor.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeOverview.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeTop100.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMoviesOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMusicVideosOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTvShowsOverview.cpp
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUISliderControl.cpp
  xbmc/guilib/GUIVisualisationControl.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/input/Action.cpp
  xbmc/interfaces/python/AddonPythonInvoker.cpp
  xbmc/music/Album.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/network/httprequesthandler/python/HTTPPythonWsgiInvoker.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/pictures/PictureInfoTag.cpp
  xbmc/pictures/SlideShowPicture.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/pvr/PVRSettings.cpp
  xbmc/settings/windows/GUIWindowSettingsCategory.cpp
  xbmc/utils/CharsetConverter.cpp
  xbmc/utils/FileUtils.cpp
  xbmc/utils/HttpParser.cpp
  xbmc/utils/ScraperParser.cpp
  xbmc/utils/SortUtils.cpp
  xbmc/video/Teletext.cpp
  xbmc/weather/WeatherManager.h
  xbmc/windowing/X11/WinEventsX11.cpp
Labels: Improvement, v18 Leia

#14423 [PVR] Fix recording thumbnail/channel logo not displayed in video OSD.
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/FileItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
Labels: Fix, GUI Engine, PVR, v18 Leia

#14405 [Music]Setting to use artist sortname when sorting by artist
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Fix, Music, v18 Leia

#14430 Fix log format string in PeripheralJoystick
  xbmc/peripherals/devices/PeripheralJoystick.cpp
Labels: Fix, v18 Leia

#14429 [bluray] Improve menu and still mode handling.
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Improvement, Video, v18 Leia

#14411 [ios] - use libdvdcss
  cmake/scripts/ios/ArchSetup.cmake
  tools/depends/target/Makefile
  tools/depends/target/libdvdcss/DVDCSS-VERSION
  tools/depends/target/libdvdread/Makefile
Labels: iOS, v18 Leia

#14435 [CURL] Update to version 7.61.1
  tools/depends/target/curl/01-pkg-config-openssl.patch
  tools/depends/target/curl/Makefile
  xbmc/filesystem/CurlFile.cpp
Labels: Fix, Network, v18 Leia

#14439 [guiinfo] Fix Listitem.DBType not working for music videos.
  xbmc/guilib/guiinfo/GUIInfoProviders.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#14441 [keymaps] Map key 'numpad period' to action 'channel number separator'.
  system/keymaps/keyboard.xml
Labels: Improvement, Input, PVR, v18 Leia

#14440 [cleanup] yuv2rgb.neon isn't used since #9719
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/yuv2rgb.neon.S
  xbmc/cores/VideoPlayer/VideoRenderers/yuv2rgb.neon.h
Labels: Cleanup, v18 Leia

#14442 [PVR] CFileItem PVR ctors: No need to set label2
  xbmc/FileItem.cpp
Labels: Fix, PVR, v18 Leia

#14444 [videoplayer] Fix crash if demuxffmpeg's AddStream method returns null.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#14443 VideoPlayer: fix edge case where input stream sets chunk size for liv…
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#14403 WebDAV: Fix folder display names for WebDAV sources.
  xbmc/filesystem/DAVDirectory.cpp
Labels: Fix, Network, v18 Leia

#14446 Move error handling out of CEGLContextUtils::SwapBuffers
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.cpp
Labels: AMLogic, Android, Fix, Linux, v18 Leia

#14176 [Android] Release Surface Buffers 1.5 VSYNC in future and use CLOCK_MONOTONIC
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/MMALRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/MMALRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererAML.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererAML.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodec.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodec.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/utils/TimeUtils.cpp
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Android, Video

#14431 [Android] call OnResetDisplay() on HDMI_AUDIO_PLUG event
  cmake/scripts/android/Install.cmake
  tools/android/packaging/xbmc/src/interfaces/XBMCDisplayManagerDisplayListener.java.in
  tools/depends/target/libandroidjni/Makefile
  xbmc/platform/android/activity/CMakeLists.txt
  xbmc/platform/android/activity/JNIMainActivity.h
  xbmc/platform/android/activity/JNIXBMCDisplayManagerDisplayListener.cpp
  xbmc/platform/android/activity/JNIXBMCDisplayManagerDisplayListener.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/platform/android/activity/android_main.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Android, Improvement, Rendering Video, v18 Leia

#14451 KEY_EPG is wrongly mapped to title instead of guide
  system/Lircmap.xml
Labels: Fix, Input, Linux, v18 Leia

#14445 RetroPlayer: Enable rewind past a reset
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
Labels: Games, Improvement, v18 Leia

#14459 [bluray] Revert handling still event with pause.
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
Labels: Fix, Video, v18 Leia

#14422 Use Linux Sysfs SoC interface for SystemInfo and CPUInfo
  xbmc/utils/CPUInfo.cpp
  xbmc/utils/CPUInfo.h
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Improvement, Linux, v18 Leia

#14456 [fix] iterate over reference and only copy the variable if needed
  xbmc/dialogs/GUIDialogMediaFilter.cpp
Labels: Fix, v18 Leia

#14462 [PVR] Fix accidentally introduced PVR Addon API incompatibility.
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
Labels: Fix, PVR, v18 Leia

#14425 Game OSD: Show help dialog on first view
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/GameOSD.xml
  cmake/treedata/common/retroplayer.txt
  system/keymaps/joystick.xml
  system/settings/settings.xml
  xbmc/ServiceBroker.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/RetroPlayerInput.cpp
  xbmc/cores/RetroPlayer/RetroPlayerInput.h
  xbmc/cores/RetroPlayer/guiplayback/CMakeLists.txt
  xbmc/cores/RetroPlayer/guiplayback/GUIPlaybackControl.cpp
  xbmc/cores/RetroPlayer/guiplayback/GUIPlaybackControl.h
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.cpp
  xbmc/cores/RetroPlayer/playback/CMakeLists.txt
  xbmc/cores/RetroPlayer/playback/IPlaybackControl.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/games/GameSettings.cpp
  xbmc/games/GameSettings.h
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/GameClientCallbacks.h
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/dialogs/osd/CMakeLists.txt
  xbmc/games/dialogs/osd/DialogGameOSD.cpp
  xbmc/games/dialogs/osd/DialogGameOSD.h
  xbmc/games/dialogs/osd/DialogGameOSDHelp.cpp
  xbmc/games/dialogs/osd/DialogGameOSDHelp.h
  xbmc/listproviders/StaticProvider.cpp
Labels: Feature, Fix, Games, v18 Leia

#14450 link with libnfs instead of loading it dynamic
  CMakeLists.txt
  cmake/modules/FindNFS.cmake
  tools/android/packaging/Makefile.in
  tools/depends/target/libnfs/Makefile
  xbmc/DllPaths_generated.h.in
  xbmc/DllPaths_generated_android.h.in
  xbmc/DllPaths_win32.h
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/DllLibNfs.h
  xbmc/filesystem/NFSDirectory.cpp
  xbmc/filesystem/NFSDirectory.h
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/NFSFile.h
Labels: Cleanup, v18 Leia

#14467 [guiinfo] redact user/pass in debug logging
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Fix, Logging

#14464 kodi.sh: add apport support
  tools/Linux/kodi.sh.in
Labels: Improvement, Linux, v18 Leia

#14463 [android] use ndk 18
  docs/README.Android.md
  tools/android/packaging/Makefile.in
  tools/buildsteps/defaultenv
  tools/depends/README.md
  tools/depends/configure.ac
  tools/depends/target/libffi/armAssembler.patch
Labels: Android, Documentation, Fix, Improvement, v18 Leia

#14470 [Android] Fix rounding / type issue when adding VSYNC offset
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Fix, Rendering Video, v18 Leia

#14472 Revert "VideoPlayer: WinRenderer - add smooth motion"
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
Labels: Rendering Video, Windows, v18 Leia

#14465 DVDDemuxFFmpeg: correctly set probeBuffer size matching avioread chunk
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, v18 Leia

#14471 [videoplayer] Fix usage of external vob subtitles.
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Fix, Video, v18 Leia

#14454 [JSON]Fix Player.GetItem during track change seg fault
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Fix, JSON-RPC API Change, v18 Leia

#14453 RPI: Be sure to register Alsa and Pulseaudio.
  system/settings/rbp.xml
  xbmc/windowing/rpi/WinSystemRpi.cpp
Labels: Audio, Improvement, RPi, v18 Leia

#14477 [docs] Fixed a typo.
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Documentation, Fix, v18 Leia

#14482 Update game.controller.default to v1.0.7
  addons/game.controller.default/addon.xml
Labels: Addons, Games, v18 Leia

#14475 [Android] check profile when selecting h/w decoder
  tools/depends/target/libandroidjni/Makefile
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Video, v18 Leia

#14473 [PVR] Store epg database on exit + epg code cleanup
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/windows/GUIEPGGridContainerModel.cpp
Labels: Cleanup, Fix, PVR, v18 Leia

#14480 Fix silently failing to launch game when emulators are disabled
  xbmc/games/GameUtils.cpp
Labels: Fix, Games, v18 Leia

#14484 [Android] Use VSYNC time from Choreographer
  xbmc/windowing/android/VideoSyncAndroid.cpp
Labels: Android, Fix, Video, v18 Leia

#14486 [guiinfo] Fix VideoPlayer.Title and MusicPlayer.Title
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#14481 Add missing SNES controller profile
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/icon.png
  addons/game.controller.snes/resources/language/resource.language.en_gb/strings.po
  addons/game.controller.snes/resources/layout.png
  addons/game.controller.snes/resources/layout.xml
  addons/game.controller.snes/resources/mask.png
  system/addon-manifest.xml
Labels: Games, v18 Leia

#14474 Fix game getting stuck in rewind/fast-forward
  system/keymaps/joystick.xml
  xbmc/input/Action.cpp
  xbmc/input/Action.h
  xbmc/input/joysticks/keymaps/KeyHandler.cpp
  xbmc/input/joysticks/keymaps/KeyHandler.h
Labels: Fix, Games, v18 Leia

#14490 [cmake] install game.controller.snes
  cmake/installdata/common/addons.txt
Labels: CMake, Fix, v18 Leia

#14491 [skins] visualisation control needs an id
  addons/skin.estouchy/xml/MusicVisualisation.xml
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Fix, Skin, v18 Leia

#14493 [python] bump for leia
  addons/xbmc.python/addon.xml
  xbmc/interfaces/python/PythonSwig.cpp.template
Labels: Addons, Python, v18 Leia

#14492 [docs] Add initializer list whitespace convention in Code Guidelines
  docs/CODE_GUIDELINES.md
  docs/doxygen/CODING_GUIDELINES.dox
Labels: Documentation, v18 Leia

#14294 gbm/windowing: fix compile when using older EGL headers + assert mess…
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
Labels: Linux, v18 Leia
