Repository xbmc/xbmc, pull requests merged in 2018-12, with the labels that each got.

#14976 [linux] powermanagement: change logind detection to also use Dbus
  xbmc/platform/linux/powermanagement/LogindUPowerSyscall.cpp
Labels: Improvement, Linux, v18 Leia

#14997 fixed: division by zero in addon installation
  xbmc/addons/AddonInstaller.cpp
Labels: Addons, Fix, v18 Leia

#14993 [Android] Dispatch runUIThread messages on own HandlerThread
  tools/android/packaging/xbmc/src/Main.java.in
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Rendering GUI, v18 Leia

#15001 [Android] Fix failing VideoView creation
  tools/android/packaging/xbmc/src/Main.java.in
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Addons, Fix, Rendering GUI, v18 Leia

#14979 [Settings] Fix regression for time oldformat setting
  xbmc/XBDateTime.cpp
  xbmc/settings/SettingDateTime.h
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/utils/TimeUtils.cpp
  xbmc/utils/TimeUtils.h
Labels: Fix, Settings, v18 Leia

#15020 [DemuxClient] Call SetStreamProps only if OpenStream succeeds
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
Labels: Fix, PVR, v18 Leia

#15004 [systeminfo] use timestamp for application build date from BUILDATE
  CMakeLists.txt
  cmake/scripts/common/Macros.cmake
  xbmc/Application.cpp
  xbmc/CompileInfo.cpp.in
  xbmc/CompileInfo.h
  xbmc/utils/SystemInfo.cpp
Labels: CMake, v18 Leia

#15007 cmake: add freetype2 PATH_SUFFIX to FindFreeType.cmake
  cmake/modules/FindFreeType.cmake
Labels: CMake, Fix, v18 Leia

#15021 [docs] fixes for xbmcvfs.Stat
  xbmc/interfaces/legacy/ModuleXbmcvfs.h
  xbmc/interfaces/legacy/Stat.h
Labels: Documentation, Fix, Python, v18 Leia

#15027 [Android] evaluate default subtitle position if GUI res != screen res
  addons/resource.language.en_gb/resources/strings.po
  system/settings/android.xml
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Android, Fix, v18 Leia

#15011 [cmake] Fix ninja (fixes: #15008)
  CMakeLists.txt
  cmake/scripts/common/GenerateVersionedFiles.cmake
  cmake/scripts/common/Macros.cmake
Labels: CMake, Fix, v18 Leia

#15028 [cmake] make sure APP_BUILD_DATE is always set
  cmake/scripts/common/Macros.cmake
Labels: CMake, Fix, v18 Leia

#15017 [omxplayer] Make functions const correct
  xbmc/cores/omxplayer/OMXAudio.cpp
  xbmc/cores/omxplayer/OMXAudio.h
  xbmc/cores/omxplayer/OMXAudioCodecOMX.cpp
  xbmc/cores/omxplayer/OMXAudioCodecOMX.h
  xbmc/cores/omxplayer/OMXImage.h
  xbmc/cores/omxplayer/OMXVideo.h
Labels: Improvement, RPi, v18 Leia

#14971 [settings] Hide episode thumb if unseen (core wise)
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/media/OverlaySpoiler.png
  system/settings/settings.xml
  xbmc/settings/MediaSettings.cpp
  xbmc/settings/MediaSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/video/VideoThumbLoader.cpp
Labels: Improvement, Settings, v18 Leia

#15029 [win32] fix wrong output size in case when system doesn't inform wind…
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Fix, Rendering GUI, Windows, v18 Leia

#15050 VideoPlayer: WinRenderBuffer - reset m_locked state on release
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
Labels: Fix, Rendering Video, Windows, WindowsStore, v18 Leia

#15040 [windows] forcible change resolution (if required) on application starts
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Fix, Rendering GUI, Windows, WindowsStore, v18 Leia

#15056 [Android] remove mpeg4 HD restriction / use dts for unknown pts for mpeg4
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Android, Improvement, Video, v18 Leia

#15032 libinput: add support for absolute pointer motion
  xbmc/platform/linux/input/LibInputHandler.cpp
  xbmc/platform/linux/input/LibInputPointer.cpp
  xbmc/platform/linux/input/LibInputPointer.h
Labels: Fix, Input, Linux, v18 Leia

#15054 OMXPlayerVideo: Send PLAYER_AVCHANGE message when stereo mode changes
  xbmc/cores/omxplayer/OMXPlayerVideo.cpp
Labels: RPi, Video, v18 Leia

#15047 AMLCodec: fix contrast setting
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
Labels: AMLogic, Fix, Linux, v18 Leia

#15068 Screenshot: simplify logic and bail out if no folder is set
  xbmc/utils/Screenshot.cpp
Labels: Fix, v18 Leia

#15045 RenderAML: support vertical shift
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererAML.cpp
Labels: AMLogic, Improvement, Rendering Video

#15070 [settings] Fix announcement call
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/settings/MediaSettings.cpp
Labels: Fix, Settings, v18 Leia

#15067 VideoPlayer: release reference to m_pInputStream after usage
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#15075 bump to v18.0 rc4
  version.txt
Labels: No-Jenkins, v18 Leia

#15072 [settings] Parser for oldsettings - Fix label settings starting with integers
  xbmc/addons/settings/AddonSettings.cpp
Labels: Fix, Settings, v18 Leia

#15078 [Android] pass AV_NOPTS_VALUE for OMX video decoders
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Android, Improvement, Video, v18 Leia

#15079 Log ID instead of name for insecure repository add-ons
  xbmc/addons/Repository.cpp
Labels: Addons, Improvement, v18 Leia

#14992 Fix watched items in plugins after updating Kodi
  xbmc/video/VideoDatabase.cpp
Labels: Database, Fix, v18 Leia

#15088 [macos] Remove storage mount/unmount popups
  xbmc/platform/darwin/osx/storage/DarwinStorageProvider.cpp
  xbmc/storage/MediaManager.cpp
Labels: Fix, macOS, v18 Leia

#15094 Inhibit screensaver in a later initialization stage
  xbmc/Application.cpp
Labels: Fix, Linux, v18 Leia

#15074 Update README.FreeBSD.md
  docs/README.FreeBSD.md
Labels: BSD, Documentation, Fix, v18 Leia

#15098 Replace kodi_temp_key.pfx
  tools/windows/packaging/uwp/kodi_temp_key.pfx
Labels: Fix, WindowsStore, v18 Leia

#15097 Add missing dirty region update in GUIFadeLabelControl
  xbmc/guilib/GUIFadeLabelControl.cpp
Labels: Fix, Rendering GUI, v18 Leia

#15093 [json-rpc][pvr] Fix 'PVR.Record'.
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Fix, PVR, v18 Leia

#15100 python scripts: add missing icons
  addons/script.module.pil/icon.png
  addons/script.module.pycryptodome/icon.png
Labels: Addons, Improvement, v18 Leia

#15104 Fix aborts with -D_GLIBCXX_ASSERTIONS -D_GLIBCXX_DEBUG
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/windowing/wayland/WindowDecorator.cpp
Labels: Fix, Rendering GUI, v18 Leia

#15111 Remove first check for EDL from PVR
  xbmc/cores/VideoPlayer/Edl.cpp
Labels: Fix, PVR, v18 Leia

#15113 [win32] replace vc140 redis with vc141
  project/Win32BuildSetup/genNsisInstaller.nsi
  project/Win32BuildSetup/getdeploydependencies.bat
Labels: Fix, Windows, v18 Leia

#15115 [win32] fixed blank other displays option
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/Settings.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Fix, Settings, Windows, v18 Leia

#15116 Fix path for looking up external subtitles
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#15108 Do not crash when not getting GL_EXTENSIONS
  xbmc/rendering/gl/RenderSystemGL.cpp
Labels: Fix, v18 Leia

#15095 Bump libcec to 4.0.4
  tools/depends/target/libcec/Makefile
Labels: Dependencies, Fix, v18 Leia

#15052 [wayland] Centralize seat handling
  xbmc/windowing/wayland/CMakeLists.txt
  xbmc/windowing/wayland/InputProcessorKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.h
  xbmc/windowing/wayland/InputProcessorPointer.cpp
  xbmc/windowing/wayland/InputProcessorPointer.h
  xbmc/windowing/wayland/InputProcessorTouch.cpp
  xbmc/windowing/wayland/InputProcessorTouch.h
  xbmc/windowing/wayland/Seat.cpp
  xbmc/windowing/wayland/Seat.h
  xbmc/windowing/wayland/SeatInputProcessing.cpp
  xbmc/windowing/wayland/SeatInputProcessing.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/wayland/WindowDecorator.cpp
  xbmc/windowing/wayland/WindowDecorator.h
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
  xbmc/windowing/wayland/XkbcommonKeymap.h
Labels: Fix, Linux, v18 Leia

#15121 [depends] fix m4 ftbfs with glibc 2.28
  tools/depends/native/m4-native/01-fix-ftbfs-with-glibc-2.28.patch
  tools/depends/native/m4-native/Makefile
Labels: Dependencies, Fix, v18 Leia

#15105 [osx/WinEventsSDL] - ensure to enable gui rendering once the app gets focus
  xbmc/windowing/osx/WinEventsSDL.cpp
Labels: Fix, macOS, v18 Leia

#15123 X11: make make on vblank in SwapBuffers an advanced setting
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/windowing/X11/GLContext.h
  xbmc/windowing/X11/GLContextEGL.cpp
Labels: Fix, v18 Leia

#15099 Do not list non-repo add-ons as "unavailable" in info dialog
  xbmc/addons/GUIDialogAddonInfo.cpp
Labels: Addons, Fix, v18 Leia

#15137 Fix unchecked reinterpret_cast of ID3v2 UFID frame
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Fix, Music, v18 Leia

#15038 [joystick.xml] Add more buttons to bring up OSD in LiveTV/Radio and Menu in EPG
  system/keymaps/joystick.xml
Labels: Input, v18 Leia

#15109 Workaround file copying bug decoding "+" to space in file names in add-on installation
  xbmc/addons/AddonInstaller.cpp
Labels: Addons, Fix, v18 Leia

#15124 Scroll GUIListLabel on focus only when enabled
  xbmc/guilib/GUIListLabel.cpp
  xbmc/guilib/GUIListLabel.h
Labels: Fix, GUI Engine, v18 Leia

#15138 [keymaps] Specify that gamepad.xml is for EventServer "gamepads"
  system/keymaps/gamepad.xml
Labels: Input, v18 Leia

#15152 bump to v18.0 rc5
  version.txt
Labels: No-Jenkins, v18 Leia

#15156 [JSON]Add OnRefresh announcement to the schema
  xbmc/interfaces/json-rpc/schema/notifications.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Fix, JSON-RPC API Change

#15162 Redact URL in CUtil::ExcludeFileOrFolder
  xbmc/Util.cpp
Labels: Fix, Logging, v18 Leia
