Repository xbmc/xbmc, pull requests merged in 2018-10, with the labels that each got.

#14503 [guiinfo] Fix Visualisation.Locked.
  xbmc/guilib/guiinfo/VisualisationGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#14380 AESinkAudioTrack: Support multi channel float
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Android, v18 Leia

#14506 VideoPlayer: fix subtitle on/off setting
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, v18 Leia

#14505 [fix] Fix a stack overflow in LangCodeExpander
  xbmc/utils/LangCodeExpander.cpp
Labels: Fix, v18 Leia

#14494 Controller dialog: Make it more awesome
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogGameControllers.xml
  xbmc/games/controllers/windows/CMakeLists.txt
  xbmc/games/controllers/windows/ControllerInstaller.cpp
  xbmc/games/controllers/windows/ControllerInstaller.h
  xbmc/games/controllers/windows/GUIControllerDefines.h
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.h
  xbmc/games/controllers/windows/GUIFeatureList.cpp
Labels: Fix, Games, Skin, v18 Leia

#14496 Game OSD: Finish renaming "View mode" to "Stretch mode"
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/DialogSelect.xml
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/GameSettings.h
  xbmc/cores/RetroPlayer/RetroPlayerUtils.cpp
  xbmc/cores/RetroPlayer/RetroPlayerUtils.h
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettings.cpp
  xbmc/cores/RetroPlayer/guibridge/IGUIRenderSettings.h
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.cpp
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.h
  xbmc/cores/RetroPlayer/guicontrols/GUIRenderSettings.cpp
  xbmc/cores/RetroPlayer/guicontrols/GUIRenderSettings.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RenderUtils.cpp
  xbmc/cores/RetroPlayer/rendering/RenderUtils.h
  xbmc/cores/RetroPlayer/rendering/RenderVideoSettings.cpp
  xbmc/cores/RetroPlayer/rendering/RenderVideoSettings.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.h
  xbmc/games/dialogs/osd/DialogGameStretchMode.cpp
  xbmc/games/dialogs/osd/DialogGameStretchMode.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/GamesGUIInfo.cpp
  xbmc/input/WindowTranslator.cpp
  xbmc/settings/GameSettings.cpp
  xbmc/settings/GameSettings.h
  xbmc/settings/MediaSettings.cpp
Labels: Games, Skin, v18 Leia

#14498 Game OSD: Extend help dialog to explain lack of remote support
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/GameOSD.xml
Labels: Games, Skin, v18 Leia

#14502 Controller dialog: Fix keyboard and mouse ignored in sub-dialogs
  xbmc/games/controllers/dialogs/GUIDialogAxisDetection.cpp
  xbmc/games/controllers/dialogs/GUIDialogAxisDetection.h
  xbmc/games/controllers/dialogs/GUIDialogIgnoreInput.cpp
  xbmc/games/controllers/dialogs/GUIDialogIgnoreInput.h
  xbmc/games/controllers/windows/GUIConfigurationWizard.h
  xbmc/input/joysticks/generic/ButtonMapping.cpp
  xbmc/input/joysticks/interfaces/IButtonMapper.h
Labels: Fix, Games, v18 Leia

#14432 CDRMPRIMEEGL: specify EGL colorspace and colorrange
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.h
  xbmc/utils/EGLImage.cpp
  xbmc/utils/EGLImage.h
Labels: Linux, Rendering Video, v18 Leia

#14468 bump to v18.0 beta 4
  version.txt
Labels: v18 Leia

#14508 Controller dialog: Hide features not supported by game add-on
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/addons/input/GameClientJoystick.cpp
  xbmc/games/addons/input/GameClientJoystick.h
  xbmc/games/addons/input/GameClientKeyboard.cpp
  xbmc/games/addons/input/GameClientKeyboard.h
  xbmc/games/addons/input/GameClientMouse.cpp
  xbmc/games/addons/input/GameClientMouse.h
  xbmc/games/addons/input/GameClientTopology.cpp
  xbmc/games/addons/input/GameClientTopology.h
  xbmc/games/controllers/types/ControllerTree.cpp
  xbmc/games/controllers/types/ControllerTree.h
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerList.h
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/GUIFeatureList.cpp
  xbmc/games/controllers/windows/GUIFeatureList.h
Labels: Games, Input, v18 Leia

#14507 Add PVR_TIMER_TYPE_SUPPORTS_READONLY_DELETE flag
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/timers/PVRTimerType.h
Labels: Improvement, PVR API Change, v18 Leia

#14513 [guilib] GUIBaseContainer: Add support for ACTION_PLAYER_PLAY
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Improvement, v18 Leia

#14518 VideoPlayer: WinRenderer - fix rendering YUYV422 videos
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
Labels: Fix, Rendering Video, Windows, v18 Leia

#14519 [addons] correct directory name for audioencoder.kodi.builtin.(aac|wma) after #12319
  addons/audioencoder.kodi.builtin.aac/addon.xml.in
  addons/audioencoder.kodi.builtin.aac/icon.png
  addons/audioencoder.kodi.builtin.aac/resources/language/English/strings.po
  addons/audioencoder.kodi.builtin.aac/resources/settings.xml
  addons/audioencoder.kodi.builtin.wma/addon.xml.in
  addons/audioencoder.kodi.builtin.wma/icon.png
  addons/audioencoder.kodi.builtin.wma/resources/language/English/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/settings.xml
Labels: Addons, Fix, v18 Leia

#14520 [settings] Fix CSettings::UninitializeISettingsHandlers
  xbmc/settings/Settings.cpp
Labels: Fix, Settings, v18 Leia

#14479 Fix stuck progress dialog opening "My add-ons" without network
  xbmc/utils/URIUtils.cpp
  xbmc/utils/test/TestURIUtils.cpp
Labels: Addons, Fix, v18 Leia

#14521 [docs] add skinning changelog tags
  docs/doxygen/Doxyfile.doxy
  xbmc/addons/kodi-addon-dev-kit/doxygen/General/General.dox
  xbmc/addons/kodi-addon-dev-kit/doxygen/Skin/skin.dox
Labels: Documentation, v18 Leia

#14524 Adjust PVR context menus for timer and timer rule objects
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/PVRContextMenus.cpp
Labels: Improvement, PVR, v18 Leia

#14527 [pvr] Verify parent timer rule is deletable before prompting to delete it
  xbmc/pvr/PVRGUIActions.cpp
Labels: Fix, PVR, v18 Leia

#14509 [Docs] Add documentation for Window IDs
  xbmc/addons/kodi-addon-dev-kit/doxygen/Skin/skin.dox
  xbmc/guilib/WindowIDs.dox
Labels: Documentation

#14525 ApplicationPlayer: Fix playlists by correctly switching players
  xbmc/ApplicationPlayer.cpp
Labels: Fix, v18 Leia

#14530 [docs] Game_Control should be a subpage of skin_controls
  xbmc/guilib/_Controls.dox
Labels: Documentation, v18 Leia

#14533 Binary add-ons: Fix CORE_PLATFORM_NAME not set for new platforms
  tools/depends/target/Toolchain_binaddons.cmake.in
Labels: CMake, Fix, Linux, v18 Leia

#14517 cmake/README: Some cleanup
  cmake/README.md
  cmake/addons/README.md
  cmake/addons/depends/README
Labels: Documentation, v18 Leia

#14535 ApplicationPlayer: Fixup mixed playlists, really reopen new player
  xbmc/ApplicationPlayer.cpp
Labels: Fix, v18 Leia

#14341 input: libinput: add setting to allow changing keymap layout
  addons/resource.language.en_gb/resources/strings.po
  system/settings/aml-linux.xml
  system/settings/gbm.xml
  system/settings/rbp.xml
  xbmc/platform/linux/input/CMakeLists.txt
  xbmc/platform/linux/input/LibInputHandler.cpp
  xbmc/platform/linux/input/LibInputHandler.h
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/platform/linux/input/LibInputKeyboard.h
  xbmc/platform/linux/input/LibInputSettings.cpp
  xbmc/platform/linux/input/LibInputSettings.h
Labels: Fix, Input, Linux, Settings, v18 Leia

#14536 [PVR] Ensure PVR_MENUHOOK dialog is always opened, even for one item.
  xbmc/pvr/PVRGUIActions.cpp
Labels: Improvement, PVR, v18 Leia

#14539 Fix Linux build after #14511.
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/platform/linux/input/LibInputSettings.cpp
Labels: Fix, v18 Leia

#14540 [pvr] Fix focus handling for channels OSD and guide guide dialogs.
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRItemsViewBase.cpp
Labels: Fix, PVR, v18 Leia

#14514 EGLUtils: rework the way we choose the egl config
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
Labels: Improvement, Linux, Rendering GUI, v18 Leia

#14537 LibInputHandler: Don't block shutdown forever
  xbmc/platform/linux/input/LibInputHandler.cpp
Labels: Fix, Input, v18 Leia

#14543 [docs] Reverse order of revisions for Python and Skinning
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/addons/kodi-addon-dev-kit/doxygen/Skin/skin.dox
Labels: Documentation, v18 Leia

#14529 [docs] Create issue templates for the Kodi repo to be used by github
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/roadmap_item.md
Labels: Documentation, No-Jenkins

#14546 [docs] typo
  .github/ISSUE_TEMPLATE/roadmap_item.md
Labels: Documentation, v18 Leia

#14544 Minor Coverity fixes
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
Labels: Audio, Fix, GUI Engine, v18 Leia

#14541 Cleanup some includes.
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/ApplicationPlayer.cpp
  xbmc/ContextMenuItem.cpp
  xbmc/ContextMenuItem.h
  xbmc/ContextMenuManager.cpp
  xbmc/ContextMenuManager.h
  xbmc/GUIPassword.h
  xbmc/LangInfo.cpp
  xbmc/PartyModeManager.cpp
  xbmc/SectionLoader.cpp
  xbmc/SectionLoader.h
  xbmc/ServiceManager.cpp
  xbmc/TextureCacheJob.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/windows/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
  xbmc/pvr/windows/GUIWindowPVRTimersBase.cpp
  xbmc/rendering/RenderSystem.h
  xbmc/rendering/dx/DirectXHelper.h
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/DiscSettings.cpp
  xbmc/settings/MediaSettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/dialogs/GUIDialogContentSettings.cpp
  xbmc/settings/dialogs/GUIDialogContentSettings.h
  xbmc/storage/DetectDVDType.cpp
  xbmc/utils/GroupUtils.h
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/utils/SaveFileStateJob.h
  xbmc/utils/SortUtils.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/URIUtils.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/Teletext.cpp
  xbmc/video/Teletext.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
  xbmc/video/dialogs/GUIDialogCMSSettings.cpp
  xbmc/video/dialogs/GUIDialogSubtitles.cpp
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
  xbmc/video/tags/VideoTagLoaderNFO.h
  xbmc/video/windows/GUIWindowFullScreen.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/windows/VideoSyncD3D.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32DX.cpp
  xbmc/windows/GUIWindowFileManager.cpp
  xbmc/windows/GUIWindowSplash.cpp
Labels: Cleanup, v18 Leia

#14547 libinput: check CSettingsComponent for nullptr
  xbmc/platform/linux/input/LibInputSettings.cpp
Labels: Fix, Linux, v18 Leia

#14550 [docs] Fix roadmap template markup
  .github/ISSUE_TEMPLATE/roadmap_item.md
Labels: Documentation, No-Jenkins, v18 Leia

#14552 [addons] [lang] Link to GitHub issues instead of Trac
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estouchy/language/resource.language.en_gb/strings.po
  addons/skin.estuary/language/resource.language.en_gb/strings.po
Labels: Documentation, v18 Leia

#14499 Add fourcc, colorspace and colorrange to inputstream API
  xbmc/addons/binary-addons/AddonInstanceHandler.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Binary Addons API Change, Improvement, Video, v18 Leia

#14555 [VideoPlayer] Initialize maxspeedadjust / remove roundings in Updateframerate
  xbmc/cores/VideoPlayer/DVDClock.cpp
Labels: Improvement, Video, v18 Leia

#14565 Remove redundant -std=c++11 build option
  tools/depends/configure.ac
Labels: Cleanup, Dependencies, iOS, macOS, v18 Leia

#14563 [cmake] Show error when required platform deps are explicitly disabled
  CMakeLists.txt
Labels: CMake, Improvement, v18 Leia

#14551 [docs] Update readme to link to Github issues instead of Trac
  README.md
Labels: Documentation, No-Jenkins, v18 Leia

#14576 [docs] onAVStarted and onAVChanged were missing from v18 changelog
  xbmc/interfaces/legacy/Player.h
Labels: Documentation, No-Jenkins, v18 Leia

#14579 [docs] Assorted doxygen python documentation fixes
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/legacy/DrmCryptoSession.h
  xbmc/interfaces/legacy/Player.h
Labels: Documentation, No-Jenkins, v18 Leia

#14578 [settings] store default centermixlevel
  xbmc/settings/MediaSettings.cpp
Labels: Audio, Improvement, Settings, v18 Leia

#14567 [cmake][addons] package CUSTOM_(BINARY|DATA) & ADDITIONAL_BINARY for windows
  cmake/scripts/common/AddonHelpers.cmake
Labels: Binary Addons, CMake, Fix, Improvement, v18 Leia

#13600 [addons] add architecture dependent platform strings (binary addon repo)
  cmake/KodiConfig.cmake.in
  cmake/scripts/common/AddonHelpers.cmake
  cmake/scripts/common/PrepareEnv.cmake
  xbmc/addons/AddonManager.cpp
Labels: Addons, v18 Leia

#14580 EGLUtils: log the egl version, vendor and extensions
  xbmc/utils/EGLUtils.cpp
Labels: AMLogic, Android, Linux, RPi, v18 Leia

#14569 Windowing: GBM - add missing namespace
  xbmc/cores/RetroPlayer/buffers/RenderBufferGBM.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.h
  xbmc/powermanagement/DPMSSupport.cpp
  xbmc/utils/GBMBufferObject.cpp
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMAtomic.h
  xbmc/windowing/gbm/DRMLegacy.cpp
  xbmc/windowing/gbm/DRMLegacy.h
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/GBMUtils.cpp
  xbmc/windowing/gbm/GBMUtils.h
  xbmc/windowing/gbm/OffScreenModeSetting.cpp
  xbmc/windowing/gbm/OffScreenModeSetting.h
  xbmc/windowing/gbm/OptionalsReg.cpp
  xbmc/windowing/gbm/OptionalsReg.h
  xbmc/windowing/gbm/VideoLayerBridge.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.h
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLContext.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.h
Labels: Improvement, Linux

#14581 EGLUtils: use a configless context if available
  xbmc/utils/EGLUtils.cpp
Labels: AMLogic, Android, Linux, RPi, v18 Leia

#14553 CEGLUtils: log the egl attributes of the chosen config
  xbmc/utils/EGLUtils.cpp
Labels: Linux, v18 Leia

#14556 Coverity: Fixup constness of iterators
  xbmc/LangInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Fix, Music, v18 Leia

#12955 [Estuary] Change default button text & icon for tvshows in videoinfo …
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Fix, Skin, v18 Leia

#14595 [Estuary] fix a few cosmetic issues
  addons/skin.estuary/media/flags/audiocodec/alac.png
  addons/skin.estuary/media/flags/audiocodec/flac.png
  addons/skin.estuary/media/flags/audiocodec/pcm.png
  addons/skin.estuary/media/flags/audiocodec/pcm_bluray.png
  addons/skin.estuary/media/flags/audiocodec/pcm_s16le.png
  addons/skin.estuary/media/flags/audiocodec/pcm_s24le.png
  addons/skin.estuary/xml/Home.xml
Labels: Fix, Skin, v18 Leia

#14562 Stop build if vswhere.cmd can't properly set VC vars
  tools/buildsteps/windows/arm-uwp/BuildSetup.bat
  tools/buildsteps/windows/arm-uwp/bootstrap-addons.bat
  tools/buildsteps/windows/arm-uwp/make-addons.bat
  tools/buildsteps/windows/arm-uwp/make-mingwlibs.bat
  tools/buildsteps/windows/vswhere.bat
  tools/buildsteps/windows/win32-uwp/BuildSetup.bat
  tools/buildsteps/windows/win32-uwp/bootstrap-addons.bat
  tools/buildsteps/windows/win32-uwp/make-addons.bat
  tools/buildsteps/windows/win32-uwp/make-mingwlibs.bat
  tools/buildsteps/windows/win32/BuildSetup.bat
  tools/buildsteps/windows/win32/bootstrap-addons.bat
  tools/buildsteps/windows/win32/make-addons.bat
  tools/buildsteps/windows/win32/make-mingwlibs.bat
  tools/buildsteps/windows/x64-uwp/BuildSetup.bat
  tools/buildsteps/windows/x64-uwp/bootstrap-addons.bat
  tools/buildsteps/windows/x64-uwp/make-addons.bat
  tools/buildsteps/windows/x64-uwp/make-mingwlibs.bat
  tools/buildsteps/windows/x64/BuildSetup.bat
  tools/buildsteps/windows/x64/bootstrap-addons.bat
  tools/buildsteps/windows/x64/make-addons.bat
  tools/buildsteps/windows/x64/make-mingwlibs.bat
Labels: Improvement, Windows, v18 Leia

#14594 [binary-addons] add additional arguments to the build scripts
  tools/buildsteps/defaultenv
  tools/buildsteps/windows/make-addons.bat
  tools/depends/xbmc-addons.include
Labels: Binary Addons, Dependencies, v18 Leia

#14596 [Estouchy] prevent from getting locked in
  addons/skin.estouchy/xml/DialogConfirm.xml
  addons/skin.estouchy/xml/Home.xml
  addons/skin.estouchy/xml/Includes.xml
Labels: Improvement, Skin, v18 Leia

#14501 fix: Cve 2017 5982
  xbmc/network/WebServer.cpp
  xbmc/network/httprequesthandler/HTTPImageHandler.cpp
  xbmc/network/httprequesthandler/HTTPWebinterfaceHandler.cpp
  xbmc/utils/FileUtils.cpp
  xbmc/utils/FileUtils.h
Labels: Fix, v18 Leia

#14598 VideoPlayer: create new audiosink if pt stream type changes
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodec.h
Labels: Audio, Fix, v18 Leia

#14599 Wait for AnnouncementManager thread to exit
  xbmc/Application.cpp
Labels: Fix, v18 Leia

#14603 [depends] binary-addons: fix install directories for android & linux
  tools/depends/target/binary-addons/Makefile
  tools/depends/xbmc-addons.include
Labels: Binary Addons, Fix, Improvement, v18 Leia

#14614 [fix][windows] check FirstUnicastAddress for nullptr
  xbmc/platform/win32/network/NetworkWin32.cpp
Labels: Fix, Network, Windows, v18 Leia

#14602 [cmake] FindMariaDBClient: use pkgconfig if available
  cmake/modules/FindMariaDBClient.cmake
Labels: CMake, Improvement, v18 Leia

#14608 DVDAudioCodecPassthrough: Fix off-by-one-frame timestamps
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Audio, Fix

#14604 AEStreamParser: Fix E-AC-3 dependent stream passthrough (trac#17871)
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.h
Labels: Audio, Fix

#14620 [windows] make-addons: remove surrounding quotation marks
  tools/buildsteps/windows/make-addons.bat
Labels: Windows, v18 Leia

#14616 [pvr] fix EPG crash and recording errors produced by not present data…
  xbmc/addons/PVRClient.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
Labels: Fix, PVR, v18 Leia

#14618 [PVR] Integrate client menu hooks into context menu system
  addons/resource.language.en_gb/resources/strings.po
  xbmc/ContextMenuManager.cpp
  xbmc/ContextMenuManager.h
  xbmc/addons/CMakeLists.txt
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
  xbmc/addons/PVRClientMenuHooks.cpp
  xbmc/addons/PVRClientMenuHooks.h
  xbmc/pvr/PVRActionListener.cpp
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRContextMenus.h
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/addons/PVRClients.h
Labels: Improvement, PVR, v18 Leia

#14628 [addons] Remove game addons from addon-manifest
  system/addon-manifest.xml
Labels: Addons, Games, No-Jenkins, v18 Leia

#14623 [depends][configure] Disable asserts on release builds (typo fix)
  tools/depends/configure.ac
Labels: Dependencies, Fix, v18 Leia

#14605 [windows] Add message to installer that add-ons have been removed
  project/Win32BuildSetup/genNsisInstaller.nsi
Labels: Improvement, v18 Leia

#14584 [docs] Properly document Python API removed functions in changelog
  docs/doxygen/Doxyfile.doxy
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/legacy/RenderCapture.h
Labels: Documentation, No-Jenkins, v18 Leia

#14629 [estuary] Fix PVRGames section add-on browser link
  addons/skin.estuary/xml/Home.xml
Labels: No-Jenkins, Skin, v18 Leia

#14626 CryptThreading: reset CRYPTO_set_id_callback to nullptr in destructor
  xbmc/utils/CryptThreading.cpp
Labels: v18 Leia

#14624 [Android] more frame timing optimizations
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.h
Labels: Android, Video, v18 Leia

#14636 [PVR] Fix CID 188792: Memory - illegal accesses (WRAPPER_ESCAPE).
  xbmc/addons/PVRClient.cpp
Labels: Fix, PVR, v18 Leia

#14639 Avoid hard-coding the repo for binary addons
  addons/skin.estuary/xml/Home.xml
Labels: Skin, v18 Leia

#14641 fixed: KODI_BUILD_DIR mirroring of custom data
  cmake/scripts/common/AddonHelpers.cmake
Labels: Binary Addons, CMake, Fix, v18 Leia

#14646 [cmake][addons] package CUSTOM_DATA & ADDITIONAL_BINARY for posix
  cmake/scripts/common/AddonHelpers.cmake
Labels: Binary Addons, CMake, Fix, v18 Leia

#14637 X11: fixes a lot of misses in VideoReferenceClock OML
  xbmc/windowing/X11/GLContextEGL.cpp
Labels: Fix, v18 Leia

#14558 [Feature][skin.estuary] add support for artist-slideshow add-on
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Custom_1105_MusicOSDSettings.xml
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Feature, No-Jenkins, Skin, v18 Leia

#14625 Allow a clean shutdown on window system failure
  xbmc/Application.cpp
  xbmc/platform/xbmc.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gl/RenderSystemGL.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
  xbmc/weather/WeatherManager.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Fix, v18 Leia

#14523 [jsonrpc] set movie collection plots and get/set season titles
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Improvement, JSON-RPC API Change, Video, v18 Leia

#14651 [fix][win10] relocate InitOSKeymap after #14511
  xbmc/platform/win10/Win10App.cpp
  xbmc/windowing/win10/WinEventsWin10.cpp
Labels: Fix, WindowsStore, v18 Leia

#13859 [videolibrary] Assign extra artwork from file system
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoScanner.h
  xbmc/video/VideoThumbLoader.cpp
Labels: Improvement, Video, v18 Leia

#13564 [guilib] attach collection artwork to movie items as "set.[arttype]"
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/VideoThumbLoader.h
Labels: Improvement, Video, v18 Leia

#14586 CCurlFile::Exists() to fallback to GET if 405 is returned
  xbmc/filesystem/CurlFile.cpp
Labels: Fix, Improvement

#14587 CCurlFile::Stat missing easy_release on early return
  xbmc/filesystem/CurlFile.cpp
Labels: Fix

#14656 [addons] force a repo refresh (ignore checksum) if repo version changed
  addons/repository.xbmc.org/addon.xml
  xbmc/addons/Repository.cpp
Labels: Addons, Fix, v18 Leia

#14658 Fix broken controller input in games
  xbmc/games/addons/input/GameClientInput.cpp
Labels: Fix, Games, Input, v18 Leia

#14655 [addons] sync with repo
  addons/metadata.common.imdb.com/addon.xml
  addons/metadata.common.imdb.com/changelog.txt
  addons/metadata.common.imdb.com/imdb.xml
  addons/metadata.common.themoviedb.org/addon.xml
  addons/metadata.common.themoviedb.org/tmdb.xml
  addons/metadata.themoviedb.org/addon.xml
  addons/metadata.themoviedb.org/resources/settings.xml
  addons/metadata.themoviedb.org/tmdb.xml
  addons/metadata.tvdb.com/addon.xml
  addons/metadata.tvdb.com/changelog.txt
  addons/metadata.tvdb.com/tvdb.xml
  addons/service.xbmc.versioncheck/.gitignore
  addons/service.xbmc.versioncheck/addon.xml
  addons/service.xbmc.versioncheck/changelog.txt
  addons/service.xbmc.versioncheck/resources/versions.txt
Labels: Addons, v18 Leia

#14615 Fix NDK r18 Android x86 ffmpeg dependency build
  tools/depends/target/ffmpeg/Makefile
Labels: Android, v18 Leia

#14660 Game API: v1.1.0 - Sync with RetroPlayer test builds
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_game_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_game_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libKODI_game.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/games/addons/input/CMakeLists.txt
  xbmc/games/addons/input/GameClientController.cpp
  xbmc/games/addons/input/GameClientController.h
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/addons/input/GameClientTopology.cpp
  xbmc/games/controllers/types/ControllerTree.cpp
  xbmc/games/controllers/types/ControllerTree.h
Labels: Binary Addons API Change, Games, Input, v18 Leia

#14642 Fix cue sheet iteration ignoring the last line
  xbmc/CueDocument.cpp
Labels: Fix, Music, v18 Leia

#14669 changed: remove old shoutcast workaround in curl file
  xbmc/filesystem/CurlFile.cpp
Labels: Fix, v18 Leia

#14678 [music] Fix compilation with taglib versions < 1.11
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Fix, Music, v18 Leia

#14585 [playlist] Add support for reading XSPF Playlists
  cmake/installdata/test-reference-data.txt
  cmake/treedata/common/tests.txt
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/platform/darwin/ios/Info.plist.in
  xbmc/playlists/CMakeLists.txt
  xbmc/playlists/PlayListFactory.cpp
  xbmc/playlists/PlayListXSPF.cpp
  xbmc/playlists/PlayListXSPF.h
  xbmc/playlists/test/CMakeLists.txt
  xbmc/playlists/test/TestPlayListFactory.cpp
  xbmc/playlists/test/TestPlayListXSPF.cpp
  xbmc/playlists/test/test.xspf
  xbmc/settings/AdvancedSettings.cpp
  xbmc/utils/Mime.cpp
Labels: Feature, Music

#14633 bump to v18.0 beta5
  version.txt
Labels: v18 Leia

#14500 [android] bump targetsdk to 26 and handle runtime security
  tools/android/packaging/xbmc/build.gradle.in
  tools/android/packaging/xbmc/src/Splash.java.in
Labels: Android, v18 Leia

#14686 [Android] switch renderGUI based on surface existance instead onPause/onSuspend
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Android, Fix, Rendering Video, Video, v18 Leia

#14653 Fix infinite loop when listitem action is "Play"
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Fix, v18 Leia

#14687 [Estuary] Update addon browser
  addons/skin.estuary/xml/Custom_1100_AddonLauncher.xml
Labels: Improvement, No-Jenkins, Skin, v18 Leia

#14693 [cmake/Xcode] - fix missing text and icon resources when using target Xcode
  cmake/scripts/ios/Install.cmake
Labels: Fix, iOS, v18 Leia

#14679 fixed: add-on creation is not thread safe
  xbmc/guilib/imagefactory.cpp
  xbmc/guilib/imagefactory.h
Labels: Binary Addons, Fix, v18 Leia

#14680 add mime types for heif/heic
  xbmc/utils/Mime.cpp
Labels: Picture, v18 Leia

#14683 Fix crash on exit when checking of libgpg-error lock object size.
  tools/depends/target/libgpg-error/Makefile
Labels: Fix, iOS, v18 Leia

#14613 OSX: fix fullscreen on Mojave
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Fix, macOS, v18 Leia

#14652 EGLUtils: breakup EGL init process
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.cpp
Labels: AMLogic, Android, Improvement, Linux, RPi, Rendering GUI, v18 Leia

#14673 windowing/gbm: use CFileHandle to handle the fd
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/OffScreenModeSetting.cpp
  xbmc/windowing/gbm/OffScreenModeSetting.h
Labels: Cleanup, Improvement, Linux, v18 Leia

#14515 [GBM] support 10bit output modes and other fixes
  xbmc/utils/EGLUtils.cpp
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/GBMUtils.cpp
  xbmc/windowing/gbm/GBMUtils.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
Labels: Feature, Linux, Rendering GUI, v18 Leia

#14676 Games: Fix crash on game close after controller disconnects
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/ports/Port.cpp
  xbmc/input/joysticks/keymaps/KeymapHandling.cpp
  xbmc/input/joysticks/keymaps/KeymapHandling.h
Labels: Fix, Games, Input, v18 Leia

#14568 Windowing: GBM - make sure connector is connected before doing a modeset
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
Labels: Improvement, Linux

#14691 FullscreenGame: Remove OSD toggle action
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.cpp
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.h
Labels: Cleanup, Games, v18 Leia

#14677 Game OSD: Always show help if no controllers are connected
  xbmc/ApplicationPlayer.cpp
  xbmc/ApplicationPlayer.h
  xbmc/cores/IPlayer.h
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.cpp
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
Labels: Games, Input, v18 Leia

#14619 [addons] Update Chorus2 to v18.x-2.4.6
  addons/webinterface.default/addon.xml
  addons/webinterface.default/js/kodi-webinterface.js
  addons/webinterface.default/lang/en/app-changelog.html
  addons/webinterface.default/lang/en/app-readme.html
  addons/webinterface.default/lang/en/developers.html
  addons/webinterface.default/lang/fr/lang-readme.html
  addons/webinterface.default/themes/base/css/base.css
Labels: Addons, No-Jenkins, v18 Leia

#14692 Input code relocation
  cmake/treedata/common/subdirs.txt
  xbmc/Application.cpp
  xbmc/addons/AddonBindings.cmake
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/Window.h
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.cpp
  xbmc/dialogs/GUIDialogTextViewer.cpp
  xbmc/games/addons/GameClient.cpp
  xbmc/games/controllers/ControllerFeature.h
  xbmc/games/controllers/ControllerTranslator.cpp
  xbmc/games/controllers/ControllerTranslator.h
  xbmc/games/controllers/dialogs/GUIDialogButtonCapture.cpp
  xbmc/games/dialogs/osd/DialogGameOSD.cpp
  xbmc/games/dialogs/osd/DialogGameVideoSelect.cpp
  xbmc/guilib/GUIAudioManager.cpp
  xbmc/input/ButtonTranslator.cpp
  xbmc/input/ButtonTranslator.h
  xbmc/input/CMakeLists.txt
  xbmc/input/CustomControllerTranslator.cpp
  xbmc/input/InputManager.h
  xbmc/input/JoystickMapper.cpp
  xbmc/input/Key.h
  xbmc/input/TouchTranslator.cpp
  xbmc/input/actions/Action.cpp
  xbmc/input/actions/Action.h
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
  xbmc/input/actions/ActionTranslator.h
  xbmc/input/actions/CMakeLists.txt
  xbmc/input/joysticks/DriverPrimitive.h
  xbmc/input/joysticks/keymaps/KeyHandler.cpp
  xbmc/input/joysticks/keymaps/KeyHandler.h
  xbmc/input/keyboard/KeyboardTypes.h
  xbmc/input/keyboard/KeymapActionMap.cpp
  xbmc/input/keyboard/interfaces/IActionMap.h
  xbmc/interfaces/builtins/GUIBuiltins.cpp
  xbmc/interfaces/json-rpc/InputOperations.cpp
  xbmc/interfaces/json-rpc/JSONRPC.cpp
  xbmc/interfaces/swig/AddonModuleXbmcgui.i
  xbmc/network/EventServer.cpp
  xbmc/peripherals/addons/PeripheralAddonTranslator.cpp
  xbmc/pvr/dialogs/GUIDialogPVRItemsViewBase.cpp
  xbmc/video/dialogs/GUIDialogVideoOSD.cpp
  xbmc/windowing/win10/WinEventsWin10.cpp
Labels: Cleanup, Input, v18 Leia

#14710 [JSON]Fix AudioLibrary.GetArtists with only "thumbnail" or "fanart"
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
Labels: Fix, JSON-RPC API Change, Music, v18 Leia

#14716 [settings/osx] - hide the fakefullscreen setting.
  system/settings/darwin.xml
Labels: Fix, No-Jenkins, macOS, v18 Leia

#14717 [Estuary] bug fixes
  addons/skin.estuary/playlists/recent_unwatched_episodes.xsp
  addons/skin.estuary/playlists/recent_unwatched_movies.xsp
  addons/skin.estuary/xml/MyGames.xml
  addons/skin.estuary/xml/MyVideoNav.xml
  addons/skin.estuary/xml/View_502_FanArt.xml
  addons/skin.estuary/xml/View_50_List.xml
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_53_Shift.xml
Labels: Improvement, No-Jenkins, Skin, v18 Leia

#14719 [Estuary] Remove unused default icons
  addons/skin.estuary/media/DefaultGameAddons.png
  addons/skin.estuary/media/DefaultGames.png
Labels: Cleanup, Skin, v18 Leia

#14715 [depends] export TOOLCHAIN & HOST for android in binaddons cmake toolchain
  tools/depends/target/Toolchain_binaddons.cmake.in
Labels: CMake, Dependencies, v18 Leia

#14662 DVDVideoCodecAndroidMediaCodec: Revert c15ff2d9f6e - to accelerate dvds
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, v18 Leia

#14720 Game Infolabel and GUI settings update
  xbmc/GUIInfoManager.cpp
  xbmc/cores/GameSettings.h
  xbmc/cores/RetroPlayer/RetroPlayerUtils.cpp
  xbmc/cores/RetroPlayer/RetroPlayerUtils.h
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.cpp
  xbmc/games/dialogs/osd/DialogGameStretchMode.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/GamesGUIInfo.cpp
  xbmc/settings/MediaSettings.cpp
Labels: Documentation, Games, v18 Leia

#14714 windowing/gbm: authorize drm master if drmSetMaster fails
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Improvement, Linux, v18 Leia

#14672 Code quality improvements
  xbmc/cores/VideoPlayer/Interface/Addon/DemuxPacket.h
  xbmc/filesystem/ZipFile.cpp
  xbmc/filesystem/ZipFile.h
  xbmc/games/addons/input/GameClientController.cpp
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/controllers/types/ControllerGrid.cpp
  xbmc/games/controllers/types/ControllerTree.h
  xbmc/games/controllers/windows/ControllerInstaller.cpp
  xbmc/games/controllers/windows/GUIFeatureList.cpp
  xbmc/peripherals/addons/PeripheralAddon.cpp
  xbmc/peripherals/addons/PeripheralAddon.h
  xbmc/peripherals/bus/PeripheralBus.cpp
  xbmc/peripherals/bus/PeripheralBus.h
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.cpp
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.h
  xbmc/windows/GUIMediaWindow.cpp
Labels: Cleanup, v18 Leia

#14685 changed: modernize mime type map initialization
  xbmc/utils/Mime.cpp
  xbmc/utils/Mime.h
Labels: Cleanup, v18 Leia

#14621 Allow number
  xbmc/addons/binary-addons/AddonDll.cpp
Labels: Addons, Fix, Settings, v18 Leia

#14371 [Subtitles] Avoid using res and overscan (use rectview instead)
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGUI.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGUI.h
Labels: Cleanup, Fix, Improvement, Rendering Video, v18 Leia

#14729 [osx/windowing] - removed "true fullscreen" mode as it is not supported on macOS.
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Cleanup, macOS, v18 Leia

#14727 [Settings] Update videoscreen.screen setting when toggling fullscreen…
  xbmc/settings/DisplaySettings.cpp
Labels: Fix, Settings, v18 Leia

#14124 [video library] Use one of the original item url to get url options
  xbmc/utils/GroupUtils.cpp
Labels: Fix, Video, v18 Leia

#14724 [Docs] Cleanup removed methods and style fixes
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/legacy/ListItem.h
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/interfaces/legacy/ModuleXbmcgui.h
  xbmc/interfaces/legacy/ModuleXbmcplugin.h
  xbmc/interfaces/legacy/Player.h
Labels: Cleanup, Documentation, v18 Leia

#14701 Resolution: Use v17 behaviour if whitelist is not present
  system/settings/settings.xml
  xbmc/settings/DisplaySettings.h
  xbmc/windowing/Resolution.cpp
Labels: Improvement, Video, v18 Leia

#14702 Addons: Don't consider broken add-ons installable
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/addons/GUIWindowAddonBrowser.cpp
  xbmc/addons/IAddon.h
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/interfaces/json-rpc/AddonsOperations.cpp
Labels: Addons, Fix, v18 Leia

#14731 [PVR][Estuary] Add GUI for Radio Data System (RDS).
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/media/flags/rds/rds.png
  addons/skin.estuary/xml/DialogPVRRadioRDSInfo.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.cpp
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRadioRDSInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRadioRDSInfo.h
Labels: Fix, GUI Engine, Improvement, PVR, v18 Leia

#14704 [GLES] VideoPlayer: YUV2RGB rework, Tonemapping, and other cleanup
  system/shaders/GLES/2.0/gles_convolution-4x4.frag
  system/shaders/GLES/2.0/gles_convolution-6x6.frag
  system/shaders/GLES/2.0/gles_shader.vert
  system/shaders/GLES/2.0/gles_shader_default.frag
  system/shaders/GLES/2.0/gles_shader_fonts.frag
  system/shaders/GLES/2.0/gles_shader_multi.frag
  system/shaders/GLES/2.0/gles_shader_multi_blendcolor.frag
  system/shaders/GLES/2.0/gles_shader_rgba.frag
  system/shaders/GLES/2.0/gles_shader_rgba_blendcolor.frag
  system/shaders/GLES/2.0/gles_shader_rgba_bob.frag
  system/shaders/GLES/2.0/gles_shader_rgba_bob_oes.frag
  system/shaders/GLES/2.0/gles_shader_rgba_oes.frag
  system/shaders/GLES/2.0/gles_shader_texture.frag
  system/shaders/GLES/2.0/gles_shader_texture_noblend.frag
  system/shaders/GLES/2.0/gles_tonemap.frag
  system/shaders/GLES/2.0/gles_yuv2rgb.vert
  system/shaders/GLES/2.0/gles_yuv2rgb_basic.frag
  system/shaders/GLES/2.0/gles_yuv2rgb_bob.frag
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodec.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUVMatrix.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUVMatrix.h
Labels: AMLogic, Android, Cleanup, Feature, Improvement, Linux, RPi, Rendering Video, v18 Leia

#14741 Correctly read artist art after Coverity scan fix
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Fix, Music, v18 Leia

#14739 [Estuary] Video OSD and Music OSD enhancements/fixes.
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/media/osd/fullscreen/buttons/rds.png
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Fix, Improvement, Music, PVR, Skin, Video, v18 Leia

#14738 [JSON]Fix use of IsBroken method in addon serialization
  xbmc/interfaces/json-rpc/AddonsOperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Addons, Fix, JSON-RPC API Change, v18 Leia

#14510 Fix resolution changes on OSX
  xbmc/settings/DisplaySettings.cpp
Labels: Fix, v18 Leia

#14745 [Estuary] Add media/flags/audiocodec/mp3float.png texture to support …
  addons/skin.estuary/media/flags/audiocodec/mp3float.png
Labels: Fix, Music, Skin, v18 Leia

#14742 Fix empty VideoResolution for certain 4K videos
  xbmc/utils/StreamDetails.cpp
Labels: Fix, GUI Engine

#14744 Fix RES_DESKTOP calibration setting assignement
  xbmc/settings/DisplaySettings.cpp
Labels: Fix, Settings, v18 Leia

#14730 [Aplication] Don't flip GFXContext if GUIRender is forced off
  xbmc/Application.cpp
Labels: Fix, Rendering GUI, v18 Leia
