Repository xbmc/xbmc, pull requests merged in 2018-04, with the labels that each got.

#13713 [filesystem] don't change auths for an url if the auth is set explicitly
  xbmc/filesystem/Directory.cpp
  xbmc/filesystem/File.cpp
Labels: Fix, v18 Leia

#13723 remove Audio DSP, it is unmaintained and not in a working state
  xbmc/Application.cpp
  xbmc/DatabaseManager.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/addons/AddonBuilder.cpp
  xbmc/addons/AddonInfo.cpp
  xbmc/addons/AddonInfo.h
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/interfaces/AudioEngine.h
  xbmc/addons/interfaces/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AudioEngine.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/AudioDSP.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libXBMC_addon.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSP.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSP.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPAddon.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPAddon.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPDatabase.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPDatabase.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPMode.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPMode.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPProcess.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/ActiveAEDSPProcess.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/AudioDSPSettings.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/AudioDSPAddons/AudioDSPSettings.h
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/guiinfo/GUIInfoLabels.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/dialogs/CMakeLists.txt
  xbmc/settings/dialogs/GUIDialogAudioDSPManager.cpp
  xbmc/settings/dialogs/GUIDialogAudioDSPManager.h
  xbmc/settings/dialogs/GUIDialogAudioDSPSettings.cpp
  xbmc/settings/dialogs/GUIDialogAudioDSPSettings.h
  xbmc/windows/GUIWindowLoginScreen.cpp
Labels: Audio, v18 Leia

#13728 [win32] fix crash after #13722 + cosmetics
  xbmc/utils/CPUInfo.cpp
  xbmc/windowing/windows/WinEventsWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Fix, Windows, v18 Leia

#13729 [filesystem] fix cosmetics after #13725
  xbmc/filesystem/Directory.cpp
  xbmc/filesystem/SMBFile.cpp
Labels: Cleanup, v18 Leia

#13732 Fix missing include in StringUtils.cpp
  xbmc/utils/StringUtils.cpp
Labels: Fix, v18 Leia

#13733 drop leftovers from audio dsp removal
  addons/skin.estouchy/xml/DialogAudioDSPManager.xml
  addons/skin.estouchy/xml/Includes.xml
  addons/skin.estuary/xml/Custom_1105_MusicOSDSettings.xml
  addons/skin.estuary/xml/DialogAudioDSPManager.xml
  xbmc/addons/interfaces/AudioEngine.cpp
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/input/WindowTranslator.cpp
  xbmc/messaging/ApplicationMessenger.h
Labels: Audio, Cleanup, v18 Leia

#13740 [win10] filesystem: handle win-lib file/directory as a local resources.
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
Labels: Fix, WindowsStore, v18 Leia

#13730 [cmake] move rbpi platform defines into platform file
  cmake/platform/linux/rbpi.cmake
  cmake/scripts/linux/ArchSetup.cmake
Labels: CMake, RPi, v18 Leia

#13738 [Estuary] Reintroduce/fix busy dialog animations after #13715.
  addons/skin.estuary/xml/DialogBusy.xml
  addons/skin.estuary/xml/VideoFullScreen.xml
Labels: Fix, Skin, v18 Leia

#13720 Allow a PVR addon to set a start offset of a stream to be played
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
Labels: Improvement, PVR, PVR API Change, v18 Leia

#13737 AE: drop dsp leftovers
  .gitignore
  .travis.yml
  addons/kodi.binary.instance.adsp/addon.xml.in
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/Custom_1105_MusicOSDSettings.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Variables.xml
  appveyor.yml
  cmake/installdata/common/addons.txt
  docs/README.FreeBSD
  docs/README.ios.md
  docs/README.linux
  docs/README.opensuse
  docs/README.osx.md
  project/Win32BuildSetup/genNsisIncludes.bat
  project/Win32BuildSetup/genNsisInstaller.nsi
  system/addon-manifest.xml
  system/settings/settings.xml
  xbmc/ServiceBroker.h
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_cpp.dox
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.h
  xbmc/cores/AudioEngine/Interfaces/AE.h
  xbmc/cores/AudioEngine/Interfaces/AEStream.h
  xbmc/cores/AudioEngine/Utils/AEStreamData.h
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/music/dialogs/GUIDialogMusicOSD.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
  xbmc/video/dialogs/GUIDialogAudioSettings.h
  xbmc/video/dialogs/GUIDialogVideoOSD.cpp
Labels: Audio, Cleanup, v18 Leia

#13745 VideoPlayer: move switching to fullscreen from RM to VP
  xbmc/cores/VideoPlayer/IVideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
  xbmc/cores/omxplayer/OMXPlayerVideo.cpp
  xbmc/cores/omxplayer/OMXPlayerVideo.h
Labels: Fix, Video, v18 Leia

#13747 fix double busy dialog on playback start
  xbmc/Application.cpp
Labels: Fix, v18 Leia

#13672 [Music]Refactor Artist/Album Information Dialog
  addons/resource.language.en_gb/resources/strings.po
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/FileItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/interfaces/legacy/Dialog.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/music/ContextMenus.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicUtils.cpp
  xbmc/music/MusicUtils.h
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.h
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicBase.h
  xbmc/music/windows/GUIWindowMusicNav.cpp
Labels: Improvement, Music, v18 Leia

#13726 Add OnResume, OnAVChange and OnAVStart to jsonRPC notifications
  xbmc/Application.cpp
  xbmc/interfaces/json-rpc/schema/notifications.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/network/AirPlayServer.cpp
  xbmc/network/AirTunesServer.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/peripherals/devices/PeripheralCecAdapter.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/darwin/ios-common/AnnounceReceiver.mm
  xbmc/windowing/win10/WinEventsWin10.cpp
Labels: JSON-RPC API Change, Wiki-Needed

#11691 Do not invoke UpdateFileList() when calling SaveFileState()
  xbmc/utils/SaveFileStateJob.cpp
Labels: Fix

#13752 [Music] Fix endless rescraping of unfound album
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Fix, Music, v18 Leia

#13749 [cleanup] drop support for alsa lower than 1.0.27
  cmake/modules/FindAlsa.cmake
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.h
Labels: Audio, Cleanup, Linux, v18 Leia

#13568 windowing/gbm: destroy property blob
  xbmc/windowing/gbm/DRMAtomic.cpp
Labels: Fix, Linux, v18 Leia

#13760 [cleanup] remove GNUReplacement function
  cmake/treedata/freebsd/subdirs.txt
  xbmc/addons/Addon.cpp
  xbmc/freebsd/CMakeLists.txt
  xbmc/freebsd/FreeBSDGNUReplacements.c
  xbmc/freebsd/FreeBSDGNUReplacements.h
  xbmc/platform/darwin/CMakeLists.txt
  xbmc/platform/darwin/OSXGNUReplacements.c
  xbmc/platform/darwin/OSXGNUReplacements.h
  xbmc/platform/linux/LinuxTimezone.cpp
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/PlatformDefs.h
  xbmc/platform/win32/strverscmp.cpp
Labels: Cleanup, v18 Leia

#13750 register AE as pointer to ServiceBroker
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Interfaces/AE.h
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.cpp
  xbmc/cores/AudioEngine/Sinks/alsa/ALSADeviceMonitor.cpp
  xbmc/cores/AudioEngine/Sinks/alsa/ALSAHControlMonitor.cpp
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAudio.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/omxplayer/OMXAudio.cpp
  xbmc/cores/omxplayer/OMXAudioCodecOMX.cpp
  xbmc/cores/omxplayer/OMXPlayerAudio.cpp
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/guilib/GUIAudioManager.cpp
  xbmc/guilib/GUIVisualisationControl.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/win32/IMMNotificationClient.h
  xbmc/powermanagement/PowerManager.cpp
Labels: Audio, Fix, v18 Leia

#13763 [PVR] Fix label2 for recordings file items after #11691.
  xbmc/FileItem.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
Labels: Fix, PVR, v18 Leia

#13765 [application] fix broken powermanagement after #13748.
  xbmc/Application.cpp
Labels: Fix, v18 Leia

#13764 [cleanup][linux] remove unused symbols
  xbmc/cores/DllLoader/exports/emu_msvcrt.h
  xbmc/platform/linux/ConvUtils.cpp
  xbmc/platform/linux/PlatformDefs.h
  xbmc/platform/linux/XFileUtils.cpp
  xbmc/platform/linux/XFileUtils.h
  xbmc/platform/linux/XTimeUtils.cpp
  xbmc/platform/linux/XTimeUtils.h
  xbmc/storage/IoSupport.cpp
Labels: Cleanup, v18 Leia

#13743 Kill global CStereoscopicsManager
  xbmc/Application.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/guilib/GUIComponent.cpp
  xbmc/guilib/GUIComponent.h
  xbmc/guilib/StereoscopicsManager.cpp
  xbmc/guilib/StereoscopicsManager.h
  xbmc/interfaces/builtins/GUIBuiltins.cpp
  xbmc/interfaces/json-rpc/GUIOperations.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/Settings.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/windowing/rpi/RPIUtils.cpp
  xbmc/windows/GUIWindowLoginScreen.cpp
Labels: Improvement, v18 Leia

#13768 VideoPlayer: fix reconfigure renderer after 76757f01c8c5e3b1fafe8b13a…
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
Labels: Fix, Video, v18 Leia

#13761 lirc: redesign, fix
  CMakeLists.txt
  cmake/modules/FindLircClient.cmake
  docs/README.linux
  docs/README.ubuntu
  xbmc/AppParamParser.cpp
  xbmc/ServiceManager.cpp
  xbmc/input/IRTranslator.cpp
  xbmc/input/IRTranslator.h
  xbmc/input/InputManager.cpp
  xbmc/input/InputManager.h
  xbmc/platform/linux/OptionalsReg.cpp
  xbmc/platform/linux/OptionalsReg.h
  xbmc/platform/linux/input/CMakeLists.txt
  xbmc/platform/linux/input/LIRC.cpp
  xbmc/platform/linux/input/LIRC.h
  xbmc/powermanagement/PowerManager.cpp
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.h
  xbmc/windowing/XBMC_events.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/rpi/WinSystemRpi.cpp
  xbmc/windowing/rpi/WinSystemRpi.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
Labels: Improvement, v18 Leia

#13770 AE: fix dependencies on startup
  xbmc/Application.cpp
  xbmc/cores/AudioEngine/AESinkFactory.cpp
  xbmc/cores/AudioEngine/AESinkFactory.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Interfaces/AE.h
Labels: Audio, v18 Leia

#13361 [xbmc] Added clang-format that roughly matches our current style
  .clang-format
Labels: RFC

#13767 [guiinfo] Implement time format "m" (TIME_FORMAT_M)
  xbmc/GUIInfoManager.cpp
  xbmc/XBDateTime.cpp
  xbmc/XBDateTime.h
  xbmc/utils/StringUtils.cpp
Labels: GUI Engine, Improvement, v18 Leia

#13772 [guiinfo] Fix CGUIInfoManager::GetInt after #13754
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRGUIInfo.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
Labels: Fix, GUI Engine, v18 Leia

#13771 more use dynPath instead of changing path (id)
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/addons/Scraper.cpp
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/network/upnp/UPnPInternal.cpp
Labels: Fix, v18 Leia

#13777 allow playlist items in a playlist for files
  xbmc/PlayListPlayer.cpp
  xbmc/playlists/PlayList.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Improvement, v18 Leia

#13778 [Windows] remote control re-design.
  xbmc/Application.cpp
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/input/CMakeLists.txt
  xbmc/input/InputManager.cpp
  xbmc/input/InputManager.h
  xbmc/input/remote/IRemoteControl.h
  xbmc/network/EventClient.cpp
  xbmc/platform/win10/input/RemoteControlXbox.cpp
  xbmc/platform/win10/input/RemoteControlXbox.h
  xbmc/platform/win32/input/IRServerSuite.cpp
  xbmc/platform/win32/input/IRServerSuite.h
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/win10/WinEventsWin10.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Cleanup, Windows, WindowsStore, v18 Leia

#13784 [win10] don't allow browse root of RemoteStorages virtual folder.
  xbmc/platform/win10/filesystem/WinLibraryDirectory.cpp
Labels: Fix, WindowsStore, v18 Leia

#13786 [guiinfo] Fix PLAYER_TITLE fallbacks.
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#13647 Verify add-on zip authenticity
  addons/repository.xbmc.org/addon.xml
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonVersion.cpp
  xbmc/addons/Repository.cpp
  xbmc/addons/Repository.h
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/CurlFile.h
  xbmc/filesystem/File.h
  xbmc/utils/Digest.cpp
  xbmc/utils/Digest.h
  xbmc/utils/test/TestDigest.cpp
Labels: Addons, Feature, Wiki-Done, v18 Leia

#13780 bump ffmpeg to 4.0
  cmake/modules/FindFFMPEG.cmake
  cmake/scripts/windows/ArchSetup.cmake
  tools/buildsteps/windows/make-mingwlibs.sh
  tools/buildsteps/windows/patches/0001-ffmpeg-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-zlib-config-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-fix-msvc.patch
  tools/depends/target/ffmpeg/CMakeLists.txt
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  tools/depends/target/ffmpeg/Makefile
  tools/depends/target/ffmpeg/autobuild.sh
  xbmc/Application.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEFilter.cpp
  xbmc/cores/FFmpeg.cpp
  xbmc/cores/FFmpeg.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAmlogic.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/omxplayer/OMXAudioCodecOMX.cpp
  xbmc/guilib/FFmpegImage.cpp
Labels: v18 Leia

#13779 Implement generic DRM CryptoSession interface + python API
  cmake/treedata/android/subdirs.txt
  cmake/treedata/common/drm.txt
  tools/depends/target/libandroidjni/Makefile
  xbmc/commons/Buffer.h
  xbmc/drm/CMakeLists.txt
  xbmc/drm/CryptoSession.cpp
  xbmc/drm/CryptoSession.h
  xbmc/interfaces/legacy/CMakeLists.txt
  xbmc/interfaces/legacy/DrmCryptoSession.cpp
  xbmc/interfaces/legacy/DrmCryptoSession.h
  xbmc/interfaces/python/AddonPythonInvoker.cpp
  xbmc/interfaces/swig/AddonModuleXbmcdrm.i
  xbmc/interfaces/swig/CMakeLists.txt
  xbmc/platform/android/drm/CMakeLists.txt
  xbmc/platform/android/drm/MediaDrmCryptoSession.cpp
  xbmc/platform/android/drm/MediaDrmCryptoSession.h
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Addons, Android, Feature, Python, Python API Change, v18 Leia

#12382 Cleanup due to x64 build changes
  appveyor.yml
  project/BuildDependencies/DownloadBuildDeps.bat
  project/BuildDependencies/DownloadMingwBuildEnv.bat
  project/Win32BuildSetup/BuildSetup.bat
  project/Win32BuildSetup/readme.txt
  tools/buildsteps/win32/make-mingwlibs.bat
  tools/buildsteps/win32/prepare-env.bat
Labels: Cleanup, Windows, v18 Leia

#13795 fix crash on iOS
  xbmc/Application.cpp
  xbmc/platform/darwin/ios/XBMCController.mm
Labels: iOS, v18 Leia

#13794 [guiinfo] Fix Container.CanFilter (CONTAINER_CAN_FILTER).
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#13792 Fix add-ons repository after #13647
  cmake/installdata/common/certificates.txt
  cmake/installdata/osx/certificates.txt
  cmake/installdata/windowsstore/certificates.txt
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/curl/Makefile
  tools/depends/target/openssl/cacert.pem
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Addons, Fix, v18 Leia

#13799 fix crash if iso is mounted
  xbmc/storage/MediaManager.cpp
Labels: Fix, v18 Leia

#13802 [cmake] always pass compiler to libdvd
  cmake/modules/FindLibDvd.cmake
Labels: CMake, v18 Leia

#13775 Method for addon to detect external player
  xbmc/interfaces/legacy/Player.cpp
  xbmc/interfaces/legacy/Player.h
Labels: Feature, Python, v18 Leia

#13781 AMLUtils: additional checks on sysfs for correct functionality on AMLogic platforms
  xbmc/utils/AMLUtils.cpp
Labels: AMLogic, Improvement, v18 Leia

#13805 Bump waylandpp to 0.2.3 for SUSE
  tools/depends/target/waylandpp/Makefile
Labels: Dependencies, Fix, v18 Leia

#13785 kill CNetworkServices global
  cmake/treedata/android/subdirs.txt
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/interfaces/builtins/ProfileBuiltins.cpp
  xbmc/network/Network.cpp
  xbmc/network/Network.h
  xbmc/network/NetworkServices.cpp
  xbmc/network/NetworkServices.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/network/NetworkAndroid.cpp
  xbmc/platform/android/network/NetworkAndroid.h
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/linux/network/NetworkLinux.h
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/platform/win10/network/NetworkWin10.h
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/NetworkWin32.h
  xbmc/settings/Settings.cpp
Labels: Cleanup, v18 Leia

#13808 Bump repository add-on to 3.1.0
  addons/repository.xbmc.org/addon.xml
Labels: Addons, Fix, v18 Leia

#13807 [guiinfo] Fix Listitem.PercentPlayed (LISTITEM_PERCENT_PLAYED) string…
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#13769 [Music]Fetching local art for multi-folder albums (disc sets)
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicThumbLoader.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/infoscanner/MusicInfoScanner.h
Labels: Fix, Improvement, Music, v18 Leia

#13801 [fix] call av_dump_format with redacted url
  xbmc/cores/FFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Logging, v18 Leia

#13691 Assorted FreeBSD fixes
  cmake/platform/freebsd/gbm.cmake
  cmake/platform/freebsd/rbpi.cmake
  cmake/scripts/freebsd/ArchSetup.cmake
  cmake/scripts/freebsd/ExtraTargets.cmake
  cmake/scripts/freebsd/Macros.cmake
  cmake/treedata/freebsd/subdirs.txt
  system/settings/freebsd.xml
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: BSD, Improvement, v18 Leia

#13818 [cleanup][windows] remove unused scripts & files
  lib/win32/ffmpeg_dxva2/dxva.h
  lib/win32/ffmpeg_dxva2/dxva2api.h
  project/BuildDependencies/scripts/dlextract.bat
  tools/codegenerator/GenerateSWIGBindings.bat
  tools/windows/JsonSchemaBuilder.bat
Labels: Cleanup, Windows, v18 Leia

#13815 [PVR] Implement smart direct channel number input
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.h
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.h
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Improvement, PVR, v18 Leia

#13816 [depends][darwin] cleanup, fix variable order & build / host mix up
  tools/depends/Makefile.include.in
  tools/depends/configure.ac
  tools/depends/native/config.site.native.in
  tools/depends/target/config-binaddons.site.in
  tools/depends/target/config.site.in
  tools/depends/target/gmp/Makefile
Labels: Cleanup, Dependencies, Fix, v18 Leia

#13819 [windows] set GPU & D3D version for SettingsSystemInfo window
  xbmc/rendering/dx/RenderSystemDX.cpp
Labels: Improvement, Windows, v18 Leia

#13823 lirc: work around buggy client lib
  xbmc/platform/linux/input/LIRC.cpp
  xbmc/platform/linux/input/LIRC.h
Labels: Fix, Linux, v18 Leia

#13822 [fix] save resume points on exit
  xbmc/Application.cpp
Labels: Fix, Video, v18 Leia

#13812 [Music]Prefer scraped album covers to embedded images
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Improvement, Music, v18 Leia

#13826 gui: improve limited color range
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
  xbmc/guilib/GUITextureGL.cpp
  xbmc/rendering/RenderSystem.cpp
  xbmc/rendering/RenderSystem.h
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
Labels: Rendering GUI, v18 Leia

#13829 [PVR] Parental check fix; Profile switch fix
  xbmc/addons/interfaces/GUI/AddonCallbacksGUI.cpp
  xbmc/addons/interfaces/GUI/dialogs/Numeric.cpp
  xbmc/dialogs/GUIDialogNumeric.cpp
  xbmc/dialogs/GUIDialogNumeric.h
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/settings/SettingConditions.cpp
Labels: Fix, PVR, v18 Leia

#13827 allow plugins to return another plugin path on CPluginDirectory::GetP…
  xbmc/Application.cpp
Labels: Fix, v18 Leia

#13817 [linux] libinput: remove dependency to CWinEventsLinux
  xbmc/platform/linux/input/LibInputHandler.cpp
  xbmc/platform/linux/input/LibInputHandler.h
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/platform/linux/input/LibInputKeyboard.h
  xbmc/platform/linux/input/LibInputPointer.cpp
  xbmc/platform/linux/input/LibInputPointer.h
  xbmc/windowing/CMakeLists.txt
  xbmc/windowing/WinEventsLinux.cpp
  xbmc/windowing/WinEventsLinux.h
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/WinSystemX11.cpp
  xbmc/windowing/X11/WinSystemX11.h
  xbmc/windowing/amlogic/WinSystemAmlogic.cpp
  xbmc/windowing/amlogic/WinSystemAmlogic.h
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/mir/WinSystemMir.cpp
  xbmc/windowing/mir/WinSystemMir.h
  xbmc/windowing/osx/WinSystemIOS.h
  xbmc/windowing/osx/WinSystemIOS.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/rpi/WinSystemRpi.cpp
  xbmc/windowing/rpi/WinSystemRpi.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Cleanup, Input, Linux, v18 Leia
