Repository xbmc/xbmc, pull requests merged in 2018-06, with the labels that each got.

#13954 fix issues related to DialogBusy
  xbmc/Application.cpp
  xbmc/Autorun.cpp
  xbmc/addons/interfaces/GUI/AddonGUIWindow.cpp
  xbmc/addons/interfaces/GUI/Window.cpp
  xbmc/dialogs/GUIDialogBusy.cpp
  xbmc/guilib/GUIDialog.cpp
  xbmc/guilib/GUIDialog.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/GUIWindowManager.h
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
  xbmc/interfaces/legacy/Dialog.cpp
  xbmc/interfaces/legacy/Dialog.h
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIMediaWindow.h
  xbmc/windows/GUIWindowLoginScreen.cpp
Labels: Fix, v18 Leia

#13963 [guiinfo] Fix LISTITEM_RATING parameter handling.
  xbmc/GUIInfoManager.cpp
Labels: Fix, GUI Engine, v18 Leia

#13958 add GUIDialogNoCancel - work around
  xbmc/dialogs/CMakeLists.txt
  xbmc/dialogs/GUIDialogBusyNoCancel.cpp
  xbmc/dialogs/GUIDialogBusyNoCancel.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
Labels: v18 Leia

#13962 Games: Compiler warning and typo fixes
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_game_dll.h
  xbmc/cores/RetroPlayer/RetroPlayerAudio.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAudio.h
  xbmc/cores/RetroPlayer/RetroPlayerVideo.cpp
  xbmc/cores/RetroPlayer/RetroPlayerVideo.h
  xbmc/cores/RetroPlayer/process/IRenderBuffer.h
  xbmc/cores/RetroPlayer/process/RenderBufferGuiTexture.cpp
  xbmc/cores/RetroPlayer/process/RenderBufferGuiTexture.h
  xbmc/cores/RetroPlayer/process/RenderBufferSysMem.cpp
  xbmc/cores/RetroPlayer/process/RenderBufferSysMem.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/games/addons/GameClientCallbacks.h
  xbmc/games/addons/playback/GameClientReversiblePlayback.cpp
  xbmc/games/addons/playback/GameClientReversiblePlayback.h
  xbmc/games/addons/savestates/BasicMemoryStream.cpp
  xbmc/games/addons/savestates/BasicMemoryStream.h
  xbmc/games/addons/savestates/DeltaPairMemoryStream.cpp
  xbmc/games/addons/savestates/DeltaPairMemoryStream.h
  xbmc/games/addons/savestates/IMemoryStream.h
  xbmc/games/addons/savestates/LinearMemoryStream.cpp
  xbmc/games/addons/savestates/LinearMemoryStream.h
  xbmc/games/windows/GUIWindowGames.cpp
Labels: Games, Improvement, v18 Leia

#13964 VideoPlayer: vdpau - fix deepcopy of VideoPictue
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
Labels: Fix, Video, v18 Leia

#13971 VideoPlayer: update renderer after a resolution change
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
Labels: Fix, Video, v18 Leia

#13961 Fix games running at partial speed
  xbmc/threads/SystemClock.cpp
Labels: Fix, Games, v18 Leia

#13966 [PVR] PVRGUIInfo: Fix clock format handling for PVR.Timeshift(Start|End|Play)Time and PVR.EpgEventFinishTime.
  xbmc/XBDateTime.cpp
  xbmc/XBDateTime.h
  xbmc/pvr/PVRGUIInfo.cpp
Labels: Fix, GUI Engine, PVR, v18 Leia

#13970 [guiinfo] Fix: 'Skin.String(string1, string2)' did not work if string2 was empty.
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SkinGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#13967 RetroPlayer: Fixes and improvements
  cmake/treedata/common/retroplayer.txt
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAudio.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAudio.h
  xbmc/cores/RetroPlayer/buffers/BaseRenderBuffer.cpp
  xbmc/cores/RetroPlayer/buffers/BaseRenderBuffer.h
  xbmc/cores/RetroPlayer/buffers/BaseRenderBufferPool.cpp
  xbmc/cores/RetroPlayer/buffers/BaseRenderBufferPool.h
  xbmc/cores/RetroPlayer/buffers/CMakeLists.txt
  xbmc/cores/RetroPlayer/buffers/IRenderBuffer.h
  xbmc/cores/RetroPlayer/buffers/IRenderBufferPool.h
  xbmc/cores/RetroPlayer/buffers/RenderBufferManager.cpp
  xbmc/cores/RetroPlayer/buffers/RenderBufferManager.h
  xbmc/cores/RetroPlayer/buffers/video/CMakeLists.txt
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferGuiTexture.cpp
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferGuiTexture.h
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferSysMem.cpp
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferSysMem.h
  xbmc/cores/RetroPlayer/process/CMakeLists.txt
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/RetroPlayer/process/rbpi/RenderBufferMMAL.h
  xbmc/cores/RetroPlayer/process/rbpi/RenderBufferPoolMMAL.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RenderTranslator.cpp
  xbmc/cores/RetroPlayer/rendering/RenderTranslator.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/MMALProcess.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererMMAL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererMMAL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
  xbmc/games/addons/CMakeLists.txt
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/GameClient.h
  xbmc/games/addons/GameClientCallbacks.h
  xbmc/games/addons/GameClientTiming.cpp
  xbmc/games/addons/GameClientTiming.h
  xbmc/games/addons/savestates/SavestateWriter.cpp
Labels: Fix, Games, v18 Leia

#13904 Fix whitelistable resolutions on some platforms
  xbmc/windowing/amlogic/WinSystemAmlogic.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/rpi/WinSystemRpi.cpp
Labels: Android, Fix, Linux, v18 Leia

#13974 [d3d11] fix crash on some platforms in case of 10bit swap chain
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/Screenshot.cpp
Labels: Fix, Rendering GUI, Windows, v18 Leia

#13972 Remove CGUIWindowLoginScreen::LoadProfile()
  xbmc/Application.cpp
  xbmc/ContextMenuManager.cpp
  xbmc/ContextMenuManager.h
  xbmc/favourites/GUIDialogFavourites.cpp
  xbmc/interfaces/builtins/ProfileBuiltins.cpp
  xbmc/profiles/ProfilesManager.cpp
  xbmc/profiles/ProfilesManager.h
  xbmc/profiles/windows/GUIWindowSettingsProfile.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowLoginScreen.cpp
  xbmc/windows/GUIWindowLoginScreen.h
Labels: Improvement, Profiles, v18 Leia

#13981 [guiinfo] Fix after 2cef6e4 - skin.string label broken
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SkinGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#13979 [tools] win32: build ffmpeg with openssl instead of schannel
  tools/buildsteps/windows/buildffmpeg.sh
Labels: Fix, Video, Windows, v18 Leia

#13982 Add cryptoSession when comparing hints (DVDStreamInfo)
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/Interface/Addon/DemuxCrypto.h
Labels: Fix, Video, v18 Leia

#13980 Add CGUIViewStateFromItems::AutoPlay feature for Videos
  xbmc/view/GUIViewState.cpp
  xbmc/view/GUIViewState.h
Labels: Improvement, Settings, Video, v18 Leia

#13918 utils/Geometry: add "constexpr"
  xbmc/utils/Geometry.h
Labels: Improvement, v18 Leia

#13994 [dependencies] win10: fix python-2.7.14 package
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
Labels: Dependencies, Fix, WindowsStore, v18 Leia

#13983 RetroPlayer: Fix left-shifted pixels on Windows
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
Labels: Fix, Games, v18 Leia

#13998 [c-pluff] kill another implicit function declaration warning
  lib/cpluff/console/cmdinput_readline.c
  lib/cpluff/patches/0013-Kill-implicit-function-declaration-warning-2.patch
Labels: Fix, v18 Leia

#13984 CHelper_libXBMC_addon: Avoid buffer overflow in Log
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libXBMC_addon.h
Labels: Binary Addons, Fix, v18 Leia

#14000 [PVR] Addon API documentation cleanup
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_epg_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
Labels: Cleanup, Fix, PVR, v18 Leia

#13965 [videoplayer] DVDDemux::GetStreamType(): Add more codecs and channel …
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Cleanup, Improvement, Video, v18 Leia

#13985 Small GBM code cleanups
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMAtomic.h
  xbmc/windowing/gbm/DRMLegacy.cpp
  xbmc/windowing/gbm/DRMLegacy.h
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Cleanup, v18 Leia

#13969 [JSON]Music library "lastupdated" property
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Improvement, JSON-RPC API Change, Music, v18 Leia

#13989 Games window: Fix error playing standalone cores
  xbmc/games/windows/GUIWindowGames.cpp
Labels: Fix, Games, v18 Leia

#14005 Various copy operator optimizations (and several small cleanups)
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/pictures/PictureInfoTag.cpp
  xbmc/pictures/PictureInfoTag.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/channels/PVRChannelNumber.cpp
  xbmc/pvr/channels/PVRChannelNumber.h
Labels: Cleanup, Music, PVR, Picture, v18 Leia

#14002 [PVR] Addon API 5.10.0: New API function GetStreamReadChunkSize.
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
Labels: Improvement, PVR, PVR API Change, v18 Leia

#13999 RetroPlayer: Fix memory leak on Windows
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
Labels: Fix, Games, v18 Leia

#13700 Rename GL_INTERFACE to KODIGL_INTERFACE
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/cores/DllLoader/DllLoaderContainer.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/storage/cdioSupport.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Wiki-Needed, v18 Leia

#13991 [addons] implement path attribute
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
Labels: Addons, Feature, v18 Leia

#13975 GUIDialogSubtitles: close SUBTITLE_OSD_SETTINGS after a subtitle download
  xbmc/guilib/GUIMessage.h
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
  xbmc/video/dialogs/GUIDialogSubtitleSettings.h
  xbmc/video/dialogs/GUIDialogSubtitles.cpp
Labels: Improvement, v18 Leia

#13996 Clear EDL when opening a new FileItem
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#14013 VideoPlayer: vaapi - fix quirk for mesa
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Fix, Video, v18 Leia

#13993 MMALCodec: Initialise iRepeatPicture
  xbmc/cores/VideoPlayer/DVDCodecs/Video/MMALCodec.cpp
Labels: Fix, RPi, Video, v18 Leia

#14008 Game OSD: Add "Advanced settings" button to settings list
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/guibridge/CMakeLists.txt
  xbmc/cores/RetroPlayer/guibridge/GUIGameRenderManager.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameRenderManager.h
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettingsHandle.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettingsHandle.h
  xbmc/cores/RetroPlayer/guibridge/IGameCallback.h
  xbmc/games/dialogs/osd/CMakeLists.txt
  xbmc/games/dialogs/osd/DialogGameAdvancedSettings.cpp
  xbmc/games/dialogs/osd/DialogGameAdvancedSettings.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
Labels: Feature, Games, v18 Leia

#13624 ADD: [droid] support for binary addons by repo
  tools/android/packaging/xbmc/src/Splash.java.in
  xbmc/Application.cpp
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
Labels: Android, Binary Addons, Improvement, v18 Leia

#14015 [PVR][VideoPlayer] Rework and simplify DVDInputStreamPVRManager.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDFactoryDemuxer.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRChannel.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRChannel.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRRecording.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRRecording.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Cleanup, PVR, Video, v18 Leia

#13978 RendererDRMPRIME: release video buffers after flush
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.h
Labels: Fix, Linux, Video, v18 Leia

#14025 [Estuary] Fix header of rating dialog in skin settings
  addons/skin.estuary/xml/SkinSettings.xml
Labels: Fix, Skin, v18 Leia

#14023 [PVR] CPVRClients cleanup.
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Cleanup, PVR, v18 Leia

#14022 VideoPlayer: correct frame rate for interlaced
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
  xbmc/cores/VideoPlayer/Process/ProcessInfo.h
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Video, v18 Leia

#14032 CMediaSource cleanup
  xbmc/MediaSource.h
  xbmc/Util.cpp
Labels: Cleanup, v18 Leia

#14034 CStreamDetails code cleanup
  xbmc/utils/StreamDetails.cpp
  xbmc/utils/StreamDetails.h
Labels: Cleanup, v18 Leia

#14004 Trivial code cleanups in Util.cxx
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/utils/StringUtils.cpp
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
Labels: Cleanup, v18 Leia

#14035 [PVR] Fix crash in CPVREpg::UpdateFromScraper after 2c09a9ca284cdc9312c3fe39086f65c03fdaf139
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
Labels: Fix, PVR, v18 Leia

#14012 [Music]Filter music items by media source
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/View_52_IconWall.xml
  system/library/music/sources.xml
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/dialogs/GUIDialogMediaSource.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistRule.cpp
  xbmc/filesystem/MusicDatabaseDirectory.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeGrouped.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeOverview.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.h
  xbmc/interfaces/json-rpc/JSONServiceDescription.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicDbUrl.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/infoscanner/MusicInfoScanner.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicBase.h
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/DatabaseUtils.h
Labels: Feature, JSON-RPC API Change, Music, v18 Leia

#14038 CURL: Disable FAILONERROR only for Open() calls
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/CurlFile.h
Labels: Fix, Network, v18 Leia

#14041 Doxygen
  .codedocs
  CMakeLists.txt
  docs/doxygen/CODING_GUIDELINES.dox
  docs/doxygen/Doxyfile.doxy
  docs/doxygen/README.md
  docs/doxygen/Thumbnail-symbol-whitebg-small.jpg
  docs/doxygen/pages/mainpage.dox
  xbmc/addons/kodi-addon-dev-kit/doxygen/Doxyfile
Labels: Documentation, Improvement, No-Jenkins, v18 Leia

#14037 Fix Season no. displayed for launcher Channels.
  tools/android/packaging/xbmc/src/channels/SyncProgramsJobService.java.in
Labels: Android, Fix, v18 Leia

#14040 VideoPlayer: ffmpeg - make sure not to return eof as long nothing was…
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.h
Labels: Fix, Video, v18 Leia

#14042 Display #channels in audio selection list
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
Labels: Audio, GUI Engine, Improvement, v18 Leia

#14029 [GLES] update rendering method to use CPictureBuffer
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodec.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Android, Linux, Rendering Video, iOS, v18 Leia

#14043 Do not reuse pvr channel string
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
Labels: Audio, Fix, Settings, v18 Leia

#14044 center -> centre revert / lowercase channels
  addons/resource.language.en_gb/resources/strings.po
Labels: Fix, Settings, v18 Leia

#14033 Cleanup of various virtual destructors
  xbmc/LangInfo.cpp
  xbmc/LangInfo.h
  xbmc/PartyModeManager.cpp
  xbmc/PartyModeManager.h
  xbmc/XBDateTime.h
  xbmc/addons/AddonEvents.h
  xbmc/commons/Buffer.h
  xbmc/events/IEvent.h
  xbmc/music/Song.h
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/pictures/PictureInfoTag.h
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.h
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/settings/lib/SettingConditions.h
  xbmc/settings/lib/SettingDependency.h
  xbmc/utils/ActorProtocol.h
  xbmc/utils/BitstreamStats.cpp
  xbmc/utils/BitstreamStats.h
  xbmc/utils/BooleanLogic.cpp
  xbmc/utils/BooleanLogic.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/EGLUtils.h
  xbmc/utils/EmbeddedArt.h
  xbmc/utils/HttpRangeUtils.h
  xbmc/utils/IArchivable.h
  xbmc/utils/IRssObserver.h
  xbmc/utils/ISortable.h
  xbmc/utils/IXmlDeserializable.h
  xbmc/utils/JobManager.cpp
  xbmc/utils/JobManager.h
  xbmc/utils/StreamDetails.h
  xbmc/utils/TextSearch.cpp
  xbmc/utils/TextSearch.h
  xbmc/utils/URIUtils.h
  xbmc/video/VideoInfoTag.h
Labels: Addons, Cleanup, Music, PVR, Video, v18 Leia

#14046 Misc code cleanups
  xbmc/LangInfo.cpp
  xbmc/powermanagement/DPMSSupport.cpp
  xbmc/utils/ISerializable.h
Labels: Cleanup, v18 Leia

#14030 LinuxRendererGLES: consolidate custom renderers
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodec.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Cleanup, Rendering Video, v18 Leia

#14049 Revert "utils/IXmlDeserializable: drop useless interface"
  xbmc/settings/lib/SettingConditions.h
  xbmc/settings/lib/SettingDependency.h
  xbmc/utils/BooleanLogic.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/IXmlDeserializable.h
Labels: Fix, v18 Leia

#14017 [cmake] pass vaapi and vdpau options to internal ffmpeg
  CMakeLists.txt
  cmake/modules/FindFFMPEG.cmake
  tools/depends/target/ffmpeg/CMakeLists.txt
Labels: CMake, Fix, Linux, v18 Leia

#14028 libinput: check max pointers
  xbmc/platform/linux/input/LibInputTouch.cpp
  xbmc/platform/linux/input/LibInputTouch.h
Labels: Fix, Input, v18 Leia

#14060 [vdpau] Fix black screen after pvr channel switch.
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VdpauGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VdpauGL.h
Labels: Fix, PVR, Video, v18 Leia

#14059 Resolution: Fixup GetResolutionFromString
  xbmc/settings/DisplaySettings.cpp
Labels: Fix, v18 Leia

#14061 [video] Cleanup and optimize CDVDFileInfo::ExtractThumb.
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.h
  xbmc/video/VideoThumbLoader.cpp
Labels: Cleanup, Video, v18 Leia

#14055 PAPlayer: fix advancing playlist on error
  xbmc/Application.cpp
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Fix, v18 Leia

#14039 GUIMediaWindow: prevent from updates while updating
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIMediaWindow.h
Labels: Fix, v18 Leia

#14054 Fix playback of playlists
  xbmc/FileItem.cpp
  xbmc/playlists/PlayListFactory.cpp
Labels: Fix, v18 Leia

#14063 don't pass cryto to ffmpeg when transcoding
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
Labels: Android, Audio, Fix, v18 Leia

#14064 LinuxRendererGLES: remove early exit from Flush
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Fix, v18 Leia

#14069 VideoPlayer: LinuxRendererGL - remove early exit from Flush
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
Labels: Fix, v18 Leia

#14066 [Android] Reactivate screensaver timeout after lock release
  tools/depends/target/libandroidjni/Makefile
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Fix, Video, v18 Leia

#14073 Revert "addons/AddonEvents: remove virtual destructor"
  xbmc/addons/AddonEvents.h
Labels: Binary Addons, Fix, v18 Leia

#14067 [Estuary] Added missing setting at SkinSettings.xml
  addons/skin.estuary/xml/SkinSettings.xml
Labels: Fix, Skin, v18 Leia

#14053 [RetroPlayer] Add basic resolution changing
  xbmc/cores/RetroPlayer/buffers/BaseRenderBufferPool.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.h
Labels: Games, v18 Leia

#14051 [RetroPlayer] Adjust game loop
  xbmc/games/addons/playback/GameLoop.cpp
  xbmc/games/addons/playback/GameLoop.h
Labels: Games, v18 Leia

#14050 [RetroPlayer] Set AML GPU to ignore alpha channel
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/cores/RetroPlayer/process/amlogic/RPProcessInfoAmlogic.cpp
  xbmc/cores/RetroPlayer/process/amlogic/RPProcessInfoAmlogic.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/utils/AMLUtils.cpp
  xbmc/utils/AMLUtils.h
Labels: AMLogic, Games, Linux, v18 Leia

#14052 [RetroPlayer] Flush/sync audio
  xbmc/cores/RetroPlayer/streams/RetroPlayerAudio.cpp
Labels: Audio, Games, v18 Leia

#14075 [win10] a set of fixes based on the store's reports.
  xbmc/filesystem/SpecialProtocol.cpp
  xbmc/platform/win10/filesystem/WinLibraryFile.cpp
  xbmc/platform/win10/powermanagement/WinIdleTimer.cpp
  xbmc/windowing/win10/WinEventsWin10.cpp
Labels: Fix, WindowsStore, v18 Leia

#13952 added: ListItem.setProperties wrapper for python list items
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/interfaces/legacy/ListItem.h
Labels: Python, Python API Change, v18 Leia

#14068 json-rpc: fix playing URLs with options
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Fix, JSON-RPC API Change, v18 Leia

#14078 VideoPlayer: vtb - move to new hwaccel api
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VTB.cpp
Labels: Fix, Video, v18 Leia

#14016 Util::GetMatchingSource: Unset protocol options for matching
  xbmc/Util.cpp
Labels: Fix, Music, Video, v18 Leia

#14080 [depends] use MAKE variable instead of make command
  tools/depends/target/libssh/Makefile
  tools/depends/target/rapidjson/Makefile
  tools/depends/xbmc-addons.include
Labels: BSD, Fix, v18 Leia

#14062 RendererDRMPRIME: use ServiceBroker to get WinSystem
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Linux, v18 Leia

#14084 Fix event server keypress input
  xbmc/input/InputManager.cpp
Labels: Fix, Input, v18 Leia

#14058 [ios] Fix external/tvout monitor support
  system/settings/settings.xml
  xbmc/platform/darwin/ios/IOSExternalTouchController.mm
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/ios/XBMCApplication.mm
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/windowing/osx/WinSystemIOS.h
  xbmc/windowing/osx/WinSystemIOS.mm
Labels: Fix, iOS, v18 Leia

#14087 Fix unsafe usage of last invoker thread
  xbmc/interfaces/generic/ScriptInvocationManager.cpp
Labels: Addons, Fix, Python, v18 Leia

#14048 [cleanup][iOS] remove outdated code and silence compiler warnings
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/ios/IOSExternalTouchController.h
  xbmc/platform/darwin/ios/IOSExternalTouchController.mm
  xbmc/platform/darwin/ios/IOSKeyboard.mm
  xbmc/platform/darwin/ios/IOSKeyboardView.mm
  xbmc/platform/darwin/ios/IOSScreenManager.h
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/ios/XBMCApplication.mm
  xbmc/platform/darwin/ios/XBMCController.mm
Labels: Cleanup, iOS, v18 Leia

#12005 changed: remove internal sftp support
  .travis.yml
  CMakeLists.txt
  cmake/cpack/deb/copyright
  cmake/cpack/deb/packages/kodi.txt.in
  cmake/modules/FindSSH.cmake
  cmake/scripts/windows/ArchSetup.cmake
  docs/README.FreeBSD
  docs/README.fedora
  docs/README.linux
  docs/README.opensuse
  docs/README.ubuntu
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/libssh/Makefile
  tools/depends/target/libssh/android.patch
  tools/depends/target/libssh/darwin-no-fork.patch
  tools/depends/target/libssh/darwin.patch
  tools/depends/target/libssh/fix-gcc-5-compile.patch
  tools/depends/target/libssh/md5.patch
  tools/depends/target/libssh/ntohl.patch
  tools/depends/target/libssh/pkg-config.patch
  tools/depends/target/libssh/removelegacy.patch
  xbmc/Application.cpp
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
  xbmc/filesystem/SFTPDirectory.cpp
  xbmc/filesystem/SFTPDirectory.h
  xbmc/filesystem/SFTPFile.cpp
  xbmc/filesystem/SFTPFile.h
  xbmc/network/GUIDialogNetworkSetup.cpp
  xbmc/network/ZeroconfBrowser.cpp
  xbmc/platform/darwin/DarwinUtils.h
  xbmc/platform/darwin/DarwinUtils.mm
  xbmc/utils/URIUtils.cpp
Labels: Cleanup, v18 Leia

#14086 [pvr] PVR Addon API 5.10.1: Add PVR_STREAM_PROPERTY_ISREALTIMESTREAM.
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.cpp
Labels: PVR, PVR API Change, v18 Leia

#14085 AE: add a switch to signal that streaming will continue
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Interfaces/AE.h
  xbmc/cores/RetroPlayer/streams/RetroPlayerAudio.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.h
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Audio, Fix, v18 Leia

#14081 Implement SDK21 AudioTrack constructor
  tools/depends/target/libandroidjni/Makefile
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Android, Audio, Improvement, v18 Leia

#14010 bump to v18 alpha3
  version.txt
Labels: v18 Leia

#14082 [Music]Sources filtering ignore drives without paths
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/windows/GUIWindowMusicBase.h
Labels: Fix, Music, v18 Leia

#14090 Inputstream improvements
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
Labels: Cleanup, Improvement, v18 Leia

#14093 [cmake] fix HandleDepends if only some dependencies have hash checking
  cmake/scripts/common/HandleDepends.cmake
Labels: CMake, Fix, v18 Leia

#14094 windows - fix issues
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/guilib/D3DResource.cpp
  xbmc/guilib/D3DResource.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/RenderSystemDX.cpp
Labels: Fix, Rendering GUI, Video, Windows, WindowsStore, v18 Leia

#14095 guiinfo: PicturesGUIInfo - fix possible crash if an item has no info …
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
Labels: Fix, Picture, v18 Leia

#14079 [RetroPlayer][Linux] add RPRendererGBM
  cmake/modules/FindGBM.cmake
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/RetroPlayer/process/gbm/CMakeLists.txt
  xbmc/cores/RetroPlayer/process/gbm/RenderBufferGBM.cpp
  xbmc/cores/RetroPlayer/process/gbm/RenderBufferGBM.h
  xbmc/cores/RetroPlayer/process/gbm/RenderBufferPoolGBM.cpp
  xbmc/cores/RetroPlayer/process/gbm/RenderBufferPoolGBM.h
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/CMakeLists.txt
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGBM.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGBM.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/EGLImage.cpp
  xbmc/utils/EGLImage.h
  xbmc/utils/GBMBufferObject.cpp
  xbmc/utils/GBMBufferObject.h
  xbmc/utils/IBufferObject.h
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Feature, Games, Linux, v18 Leia

#14065 [Estouchy] add subtitle settings button
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estouchy/xml/Includes.xml
Labels: Fix, Skin, v18 Leia

#14027 [Estuary] assign unique id to the TouchBackButton
  addons/skin.estuary/xml/Includes.xml
Labels: Fix, Skin, v18 Leia

#14096 Gbm code improvements
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMAtomic.h
  xbmc/windowing/gbm/DRMLegacy.cpp
  xbmc/windowing/gbm/DRMLegacy.h
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/GBMUtils.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Cleanup, Linux, v18 Leia

#14103 VideoPlayer: fix pausing demuxer
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Fix, Video, v18 Leia

#14106 [docs] fix README.raspberrypi to make depends build succeed on Ubuntu 16.04
  docs/README.raspberrypi
Labels: Documentation, Fix, v18 Leia

#14105 VideoPlayer: opengl - fix color range of subtitle textures
  system/shaders/GL/1.5/gl_shader_frag_texture_lim.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gl/RenderSystemGL.h
Labels: Fix, Video, v18 Leia

#14109 [windows] use recompiled zlib for x64
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Fix, Windows, v18 Leia

#14098 Add required package names
  docs/README.fedora
Labels: Documentation, Fix, No-Jenkins, v18 Leia

#14024 [dns-cache] Only use nmblookup if HAS_SMBCLIENT
  xbmc/network/DNSNameCache.cpp
Labels: Fix, v18 Leia

#14100 [Estuary] increase space for sysinfo
  addons/skin.estuary/xml/Font.xml
  addons/skin.estuary/xml/SettingsSystemInfo.xml
  xbmc/utils/CPUInfo.cpp
Labels: Improvement, Skin, v18 Leia

#14110 VideoPlayer: inputStreamAddon fix interface IsRealtime
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
Labels: Fix, Video, v18 Leia

#13088 [infoscanner] ensure we're only checking for .nomedia in folders (fixes #17651)
  xbmc/InfoScanner.cpp
  xbmc/InfoScanner.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/video/VideoInfoScanner.cpp
Labels: Fix, v18 Leia

#14108 windowing/gbm: allow different gui and screen size
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.h
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Linux, v18 Leia

#14112 [PVR][Log] Introduce component based logging for PVR and EPG.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/PVRClient.cpp
  xbmc/commons/ilog.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRItem.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRSettings.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/dialogs/GUIDialogPVRClientPriorities.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Improvement, PVR, v18 Leia

#14118 [win10] update cppwinrt to a version which comes with VS v15.7
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  xbmc/platform/win10/Win10App.cpp
  xbmc/platform/win10/filesystem/WinLibraryDirectory.cpp
  xbmc/platform/win10/filesystem/WinLibraryFile.cpp
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/utils/StringUtils.h
  xbmc/windowing/win10/WinEventsWin10.cpp
Labels: Dependencies, Fix, WindowsStore, v18 Leia

#14114 [CURL] Rework failonerror
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/CurlFile.h
Labels: Addons, Binary Addons, Binary Addons API Change, Feature, Improvement, Network, v18 Leia

#14116 windowing/gbm: use connector with a valid encoder
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Fix, Linux, v18 Leia

#14117 [docs] remove instructions for obsolete Ubuntu versions
  docs/README.ubuntu
Labels: Documentation, Linux, v18 Leia

#14115 allow reading build date from a BUILDDATE file
  cmake/scripts/common/Macros.cmake
Labels: CMake, Fix, v18 Leia

#14107 [cmake] always build with -Wall
  cmake/scripts/common/ArchSetup.cmake
Labels: CMake, v18 Leia

#14122 win10: filesystem - catch possible exception
  xbmc/platform/win10/filesystem/WinLibraryFile.cpp
Labels: Fix, WindowsStore, v18 Leia

#14123 FFmpeg: Bump to 4.0.1-Leia-Alpha3-1
  tools/buildsteps/windows/patches/0001-ffmpeg-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-zlib-config-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-fix-msvc.patch
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Dependencies, v18 Leia

#14126 [Skin] add DefaultMusicSources icon
  addons/skin.estouchy/media/DefaultMusicSources.png
  addons/skin.estuary/media/DefaultMusicSources.png
Labels: Fix, Skin, v18 Leia

#14007 [Estuary] Add setting to show profilename
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/SkinSettings.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Improvement, Skin, v18 Leia

#14099 Estuary fixes
  addons/skin.estuary/xml/DialogKeyboard.xml
  addons/skin.estuary/xml/MyPVRChannels.xml
  addons/skin.estuary/xml/View_55_WideList.xml
Labels: Fix, Skin, v18 Leia

#14113 [linux] windowing/gbm: plane selection rework
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.h
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
Labels: Linux, Rendering GUI, Rendering Video, v18 Leia

#14120 Settings: GBM - hide "Display mode" setting
  system/settings/gbm.xml
Labels: Fix, v18 Leia

#14133 AESinkPULSE: Fix enumeration callback
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.cpp
Labels: Fix

#14130 Fix ocassional playback in background
  xbmc/PlayListPlayer.cpp
Labels: Fix, v18 Leia
