Repository xbmc/xbmc, pull requests merged in 2018-03, with the labels that each got.

#13599 CHG: Allow art > 1080p
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Improvement, Video, v18 Leia

#13533 [Music]Refactor Song Information Dialog
  addons/resource.language.en_gb/resources/strings.po
  xbmc/Application.cpp
  xbmc/FileItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/music/CMakeLists.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/MusicUtils.h
  xbmc/music/dialogs/GUIDialogMusicOSD.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Improvement, Music, v18 Leia

#13602 VideoPlayer: OpenGL - fix col conversion in filter
  system/shaders/GL/4.0/gl_yuv2rgb_filter4.glsl
Labels: Fix, Video, v18 Leia

#13574 VideoPlayer: videobuffers, fix memleak, allow to have more pools of s…
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoPPFFmpeg.cpp
  xbmc/cores/VideoPlayer/Process/VideoBuffer.cpp
  xbmc/cores/VideoPlayer/Process/VideoBuffer.h
Labels: Fix, Video, v18 Leia

#13601 [guiinfo][PVR] Fix PVR.EpgeventProgress GUI int & some GUIInfoManager cleanup
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRItem.cpp
  xbmc/pvr/PVRItem.h
Labels: Cleanup, Fix, GUI Engine, PVR, v18 Leia

#13604 VideoPlayer: fix videoBufferSysMem after 5461d8c520454e2880f36b58f1e8…
  xbmc/cores/VideoPlayer/Process/VideoBuffer.cpp
Labels: Fix, Video, v18 Leia

#13608 Bump to v18 alpha2
  version.txt
Labels: v18 Leia

#13571 [cleanup][windows] remove obsolete msys and mingw binary addon dependencies
  cmake/addons/depends/windows/cmake/mingw/CMakeLists.txt
  cmake/addons/depends/windows/cmake/mingw/MinGWConfig.cmake.in
  cmake/addons/depends/windows/cmake/mingw/Toolchain_mingw32.cmake.in
  cmake/addons/depends/windows/cmake/mingw/mingw.txt
  cmake/addons/depends/windows/cmake/mingw/mingw32-cmd.bat.in
  cmake/addons/depends/windows/cmake/mingw/noinstall.txt
  cmake/addons/depends/windows/cmake/msys/CMakeLists.txt
  cmake/addons/depends/windows/cmake/msys/msys.txt
  cmake/addons/depends/windows/cmake/msys/noinstall.txt
  cmake/scripts/common/HandleDepends.cmake
Labels: Binary Addons, Cleanup, Windows, v18 Leia

#13611 [PVR] Direct channel number input improvement
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGUI.cpp
  xbmc/music/windows/GUIWindowVisualisation.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.h
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/video/windows/GUIWindowFullScreen.cpp
Labels: Improvement, PVR, v18 Leia

#13617 VideoPlayer: fix frame blendig, broke with OpenGL 3.2
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
Labels: Fix, Video, v18 Leia

#13618 VideoPlayer: fix crash in ffmpeg postproc
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoPPFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#13616 VideoPlayer: OpenGL - fix HDR metadata MaxCLL
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
Labels: Fix, Video, v18 Leia

#13620 VideoPlayer: VPV - drop obsolete code for ff
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Fix, Video, v18 Leia

#13615 Fix Wayland frame throttling
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
Labels: Fix, Linux, v18 Leia

#13622 Add missing #include
  xbmc/ContextMenuItem.cpp
Labels: Fix, v18 Leia

#13619 [pvr][keymaps] Cleanup: Implement PVR 'direct channel input' and 'channel prev…
  system/keymaps/keyboard.xml
  system/keymaps/remote.xml
  xbmc/guilib/WindowIDs.h
  xbmc/input/ButtonTranslator.cpp
  xbmc/input/ButtonTranslator.h
  xbmc/input/CustomControllerTranslator.cpp
  xbmc/input/InputManager.cpp
  xbmc/input/InputManager.h
  xbmc/input/TouchTranslator.cpp
  xbmc/input/WindowTranslator.cpp
  xbmc/music/windows/GUIWindowVisualisation.cpp
  xbmc/pvr/PVRActionListener.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.h
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/video/windows/GUIWindowFullScreen.cpp
Labels: Cleanup, PVR, v18 Leia

#13626 [cmake] fix packing binary addons
  cmake/scripts/common/AddonHelpers.cmake
Labels: Binary Addons, CMake, Fix, v18 Leia

#13627 FIX: [droid;x86] libgpg-error build
  tools/depends/target/libgpg-error/Makefile
Labels: Android, Dependencies, Fix, v18 Leia

#13630 VideoPlayer / pvr: set playing times to zero when opening a new file
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Fix, PVR, Video, v18 Leia

#13632 bump to v18 alpha2
  version.txt
Labels: No-Jenkins, v18 Leia

#13623 [wayland] Add and use dummy OS screen saver implementation
  xbmc/windowing/OSScreenSaver.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Fix, Linux, v18 Leia

#13636 AE: init struct AESinkRegEntry
  xbmc/cores/AudioEngine/AESinkFactory.h
Labels: Audio, Fix, v18 Leia

#13631 GUIInfoManager: revert 8809df940d265f79e3d529b6591a2c8333ed06d6, this…
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
Labels: Fix, v18 Leia

#13635 FIX: crash: playerfactory is not initialized when using profile login
  xbmc/windows/GUIWindowLoginScreen.cpp
Labels: Fix, v18 Leia

#12857 Use our api to set info on python scrapers
  addons/metadata.demo.movies/demo.py
  addons/metadata.demo.tv/demo.py
  xbmc/addons/Scraper.cpp
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/interfaces/legacy/ListItem.h
Labels: Improvement, Python, v18 Leia

#13644 [peripherals] Make CPeripherals::Initialise survive getting called wh…
  xbmc/peripherals/Peripherals.cpp
Labels: Fix, Profiles, v18 Leia

#13642 [PVR][guiinfo][Estuary] Bunch of PVR guiinfo fixes and improvements
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.cpp
  xbmc/dialogs/GUIDialogSeekBar.cpp
  xbmc/dialogs/GUIDialogSeekBar.h
  xbmc/guiinfo/GUIInfoLabels.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRGUIInfo.h
  xbmc/pvr/PVRItem.cpp
  xbmc/pvr/PVRItem.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
Labels: Cleanup, Fix, GUI Engine, Improvement, PVR, v18 Leia

#13633 VideoPlayer: set starttime to zero if streaminfo is skipped
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Fix, PVR, Video, v18 Leia

#13645 [videoplayer][pvr] Remove deprecated IDispTime from CDVDInputStreamPV…
  xbmc/GUIInfoManager.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRGUIInfo.h
  xbmc/pvr/PVRManager.h
Labels: Cleanup, PVR, Video, v18 Leia

#13640 Avoid unncecessary DB access by GUI on update Item
  xbmc/Application.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
Labels: Fix, GUI Engine, v18 Leia

#13573 [swig] Revert PR #12490 now Trusty is no longer supported/able to build
  xbmc/interfaces/legacy/Addon.h
  xbmc/interfaces/legacy/Control.h
  xbmc/interfaces/legacy/Dialog.h
  xbmc/interfaces/legacy/File.h
  xbmc/interfaces/legacy/InfoTagMusic.h
  xbmc/interfaces/legacy/InfoTagRadioRDS.h
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/interfaces/legacy/Keyboard.h
  xbmc/interfaces/legacy/ListItem.h
  xbmc/interfaces/legacy/Monitor.h
  xbmc/interfaces/legacy/PlayList.h
  xbmc/interfaces/legacy/Player.h
  xbmc/interfaces/legacy/RenderCapture.h
  xbmc/interfaces/legacy/Window.h
  xbmc/interfaces/legacy/WindowDialog.h
  xbmc/interfaces/legacy/WindowXML.h
  xbmc/interfaces/legacy/wsgi/WsgiErrorStream.h
  xbmc/interfaces/legacy/wsgi/WsgiInputStream.h
  xbmc/interfaces/legacy/wsgi/WsgiResponse.h
  xbmc/interfaces/legacy/wsgi/WsgiResponseBody.h
Labels: Cleanup, Improvement, v18 Leia

#13648 fix playing video strm files with autoplay
  xbmc/FileItem.cpp
  xbmc/filesystem/VideoDatabaseDirectory.cpp
  xbmc/playlists/PlayList.cpp
  xbmc/playlists/PlayListFactory.cpp
Labels: Fix, v18 Leia

#13651 [guiinfo][PVR] Another bunch of (PVR) guiinfo fixes and improvements
  addons/skin.estuary/xml/DialogSeekBar.xml
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/XBDateTime.h
  xbmc/guiinfo/CMakeLists.txt
  xbmc/guiinfo/GUIInfo.h
  xbmc/guiinfo/GUIInfoLabels.h
  xbmc/pvr/PVRGUIChannelNavigator.cpp
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRGUIInfo.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/utils/StringUtils.cpp
Labels: Fix, GUI Engine, Improvement, PVR, v18 Leia

#13655 VideoPlayer: DirectX - fix rendering 10bit video on hw/os which doesn…
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/rendering/dx/RenderSystemDX.cpp
Labels: Fix, Rendering Video, Windows, v18 Leia

#13569 Fix thread naming on Linux and Darwin
  cmake/scripts/linux/ArchSetup.cmake
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
Labels: Fix, Linux, v18 Leia

#13656 AudioEngine: XAudio - rework delay calculation based on currently pla…
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.h
Labels: Audio, Fix, WindowsStore, v18 Leia

#13661 AudioEngine: XAudio - fix audio playback for live streams.
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.h
Labels: Audio, Fix, WindowsStore, v18 Leia

#13649 [Music]Fix when song info dialog called by Python with non-array artistid property
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
Labels: Fix, Music, v18 Leia

#13638 Add support for Raspberry Pi 3 (Cortex-A53) at build time (v18)
  cmake/scripts/linux/ArchSetup.cmake
  tools/depends/configure.ac
Labels: CMake, Improvement, RPi, v18 Leia

#13659 DllLoader: Update variable to use standard va_list type
  xbmc/cores/DllLoader/exports/wrapper.c
Labels: Cleanup, v18 Leia

#13654 VideoPlayer: consider manually set starttime when seeking
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#13662 fix playlists after https://github.com/xbmc/xbmc/pull/13648
  xbmc/playlists/PlayList.cpp
  xbmc/playlists/PlayListFactory.cpp
Labels: Fix, v18 Leia

#13663 windows: update patch utility to 2.7.6
  cmake/scripts/windows/tools/patch.cmake
  cmake/scripts/windowsstore/tools/patch.cmake
Labels: Dependencies, Windows, v18 Leia

#13664 fix deadlock caused by blocking cb method
  xbmc/Application.cpp
  xbmc/GUIUserMessages.h
Labels: Fix, v18 Leia

#13333 Support for vaExportSurfaceHandle
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.h
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/X11/OptionalsReg.cpp
  xbmc/windowing/X11/OptionalsReg.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/gbm/OptionalsReg.cpp
  xbmc/windowing/gbm/OptionalsReg.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/wayland/OptionalsReg.cpp
  xbmc/windowing/wayland/OptionalsReg.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
Labels: Feature, Linux, v18 Leia

#13666 [cmake][addons] make pdb installation & packaging multi config aware
  cmake/addons/CMakeLists.txt
  cmake/scripts/common/AddonHelpers.cmake
Labels: Binary Addons, Improvement, Windows, v18 Leia

#13674 [win32] fixes for display mode switching issues
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
  xbmc/windowing/windows/WinSystemWin32DX.cpp
  xbmc/windowing/windows/WinSystemWin32DX.h
Labels: Fix, Windows, v18 Leia

#13669 VideoPlayer: OpenGL - fix source rect for stereo
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
Labels: Fix, Video, v18 Leia

#13665 VideoPlayer: do an accurate seek for auto-resume
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#13670 threads: let the app die on exceptions
  xbmc/threads/Thread.cpp
Labels: v18 Leia

#13673 [cpluff] link with cpluff instead of loading it dynamic
  cmake/modules/FindCpluff.cmake
  lib/cpluff/libcpluff/Makefile.am
  xbmc/DllPaths_generated.h.in
  xbmc/DllPaths_generated_android.h.in
  xbmc/DllPaths_win32.h
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/CMakeLists.txt
  xbmc/addons/DllLibCPluff.h
Labels: Addons, Cleanup, v18 Leia

#13652 offload videodb task from mainthread to job
  xbmc/Application.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/messaging/ApplicationMessenger.h
  xbmc/video/jobs/CMakeLists.txt
  xbmc/video/jobs/VideoLibrarySetFileItem.cpp
  xbmc/video/jobs/VideoLibrarySetFileItem.h
Labels: Fix, Improvement, v18 Leia

#13678 [cmake] fix Ninja generator after #13673
  cmake/modules/FindCpluff.cmake
Labels: CMake, Fix, v18 Leia

#13603 Fix disappointing lack of games after entering cheat code
  system/addon-manifest.xml
Labels: Games, v18 Leia

#13675 fix info dialog for strm files
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Fix, Video, v18 Leia

#13650 Consolidate OpenSSL multi-threading initialization
  CMakeLists.txt
  cmake/modules/FindCurl.cmake
  xbmc/DllPaths_generated.h.in
  xbmc/DllPaths_generated_android.h.in
  xbmc/DllPaths_win32.h
  xbmc/filesystem/DllLibCurl.cpp
  xbmc/filesystem/DllLibCurl.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/CryptThreading.cpp
  xbmc/utils/CryptThreading.h
Labels: Cleanup, v18 Leia

#13558 EGL cleanup and consolidation
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/amlogic/CMakeLists.txt
  xbmc/windowing/amlogic/GLContextEGL.cpp
  xbmc/windowing/amlogic/GLContextEGL.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.h
  xbmc/windowing/android/CMakeLists.txt
  xbmc/windowing/android/GLContextEGL.cpp
  xbmc/windowing/android/GLContextEGL.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.h
  xbmc/windowing/gbm/CMakeLists.txt
  xbmc/windowing/gbm/GLContextEGL.cpp
  xbmc/windowing/gbm/GLContextEGL.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.h
  xbmc/windowing/rpi/CMakeLists.txt
  xbmc/windowing/rpi/GLContextEGL.cpp
  xbmc/windowing/rpi/GLContextEGL.h
  xbmc/windowing/rpi/WinSystemRpiGLESContext.h
Labels: AMLogic, Android, Cleanup, v18 Leia

#13676 [windows] build cpluff from source
  cmake/modules/FindCpluff.cmake
  lib/cpluff/CMakeLists.txt
  lib/cpluff/libcpluff/internal.h
  lib/cpluff/libcpluff/ploader.c
  lib/cpluff/libcpluff/win32/cpluffdef.h
  lib/cpluff/libcpluff/win32/dirent.c
  lib/cpluff/libcpluff/win32/dirent.h
  lib/cpluff/libcpluff/win32/win32_utils.c
  lib/cpluff/libcpluff/win32/win32_utils.h
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Improvement, Windows, v18 Leia

#11486 [python] add setType() method for edit controls
  xbmc/guilib/GUITextureD3D.cpp
  xbmc/guilib/GUITextureD3D.h
  xbmc/interfaces/legacy/Control.cpp
  xbmc/interfaces/legacy/Control.h
  xbmc/interfaces/legacy/ModuleXbmcgui.h
Labels: Feature, Python

#13683 [win10] filesystem: fix work with external drives.
  xbmc/filesystem/win10/WinLibraryDirectory.cpp
  xbmc/filesystem/win10/WinLibraryFile.cpp
Labels: Fix, WindowsStore, v18 Leia

#13682 X11: allow EGL for AMD and NVidia
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
Labels: v18 Leia

#13687 VideoPlayer: do not discard unknown streams before video stream is ready
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#13686 VideoPlayer: only display settings for vaapi and vdpau if they are ac…
  system/settings/linux.xml
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/settings/SettingConditions.cpp
Labels: Cleanup, Fix, Video, v18 Leia

#13690 X11: fix exception on startup
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
Labels: Fix, v18 Leia

#13685 EGLUtils: Allow windowing system to set EGL context attributes
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
Labels: Linux, v18 Leia

#13694 fix building kodi on OSX with SDL2 installed
  tools/depends/target/ffmpeg/Makefile
Labels: Dependencies, Fix, v18 Leia

#13693 VideoPlayer: VAAPI - fix deep copy of VideoPicture
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/utils/ActorProtocol.cpp
  xbmc/utils/ActorProtocol.h
Labels: Fix, Video, v18 Leia

#13698 VideoPlayer: WinRenderBuffer - fix conditional (ternary) operator
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
Labels: Fix, Rendering Video, Windows, v18 Leia

#13697 VAAPI: add vp9 profile 2 support
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Linux, Video, v18 Leia

#13684 [depends] bump libnfs to 2.0.0
  tools/depends/target/libnfs/Makefile
  tools/depends/target/libnfs/vfstat_redefine.patch
Labels: Dependencies, v18 Leia

#13680 [xbmc] fix credentials in an URL in case of VFS add-on.
  xbmc/PasswordManager.cpp
  xbmc/PasswordManager.h
  xbmc/dialogs/GUIDialogMediaSource.cpp
  xbmc/filesystem/Directory.cpp
  xbmc/filesystem/File.cpp
Labels: Fix, v18 Leia

#13702 [win10] dependencies - update python package.
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
Labels: Dependencies, Fix, WindowsStore, v18 Leia

#12853 skin changes needed for PR12850
  addons/skin.estouchy/xml/Includes.xml
  addons/skin.estuary/xml/DialogKeyboard.xml
Labels: Fix, Skin

#13703 load videoInfoTag before player is started
  xbmc/Application.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/messaging/ApplicationMessenger.h
  xbmc/video/jobs/CMakeLists.txt
  xbmc/video/jobs/VideoLibrarySetFileItem.cpp
  xbmc/video/jobs/VideoLibrarySetFileItem.h
Labels: Fix, Improvement, Video

#13705 [xbmc] URL: handle win-lib:// path as a local resource.
  xbmc/URL.cpp
Labels: Fix, WindowsStore, v18 Leia

#13699 Player: re-add busy dialog on start
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/GUIUserMessages.h
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/cores/IPlayerCallback.h
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/platform/darwin/DarwinUtils.h
  xbmc/platform/darwin/DarwinUtils.mm
Labels: Improvement, v18 Leia

#13709 [windows] protect device context with mutex.
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/dx/RenderSystemDX.h
Labels: Improvement, Video, Windows, v18 Leia

#13710 [win10] packaging: include required shaders only
  cmake/scripts/windowsstore/Macros.cmake
Labels: Cleanup, WindowsStore, v18 Leia

#13707 [Android] add XBMCMediaDrmOnEventListener.java
  cmake/scripts/android/Install.cmake
  tools/android/packaging/xbmc/src/interfaces/XBMCMediaDrmOnEventListener.java.in
Labels: Android, Feature, v18 Leia

#13711 VideoPlayer: vtb - have ffmpeg do detection of interlaced material
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VTB.cpp
  xbmc/utils/BitstreamConverter.cpp
  xbmc/utils/BitstreamConverter.h
Labels: Fix, Video, v18 Leia

#13712 VideoPlayer: vtb - fix potential segfault on reopen
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#13716 AE: go from error state to play after re-configure
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
Labels: Audio, Fix, v18 Leia

#13706 [Binary Addon] Generic interface provider callback
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/AddonDll.h
  xbmc/addons/interfaces/CMakeLists.txt
  xbmc/addons/interfaces/platform/android/System.cpp
  xbmc/addons/interfaces/platform/android/System.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/platform/android/System.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Android, Binary Addons, Binary Addons API Change, Improvement, v18 Leia

#13718 VideoPlayer: add non discarded streams to map, rework to cc189f12e751…
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#13715 [application][pvr][estuary] Fixes after #13699
  addons/skin.estuary/xml/DialogBusy.xml
  addons/skin.estuary/xml/VideoFullScreen.xml
  xbmc/Application.cpp
Labels: Fix, PVR, Skin, Video

#13714 [GUI] DialogNetworkSetup: fix impossibility to edit network source.
  xbmc/network/GUIDialogNetworkSetup.cpp
  xbmc/network/GUIDialogNetworkSetup.h
Labels: Fix, GUI Engine, v18 Leia

#13719 [CPACK] Package Kodi - add depends for Ubuntu Bionic 18.04
  cmake/cpack/deb/packages/kodi.txt.in
Labels: CMake
