Repository xbmc/xbmc, pull requests merged in 2018-02, with the labels that each got.

#13502 [input] Re-factor remote control
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  cmake/treedata/windows/subdirs.txt
  cmake/treedata/windowsstore/subdirs.txt
  xbmc/input/CMakeLists.txt
  xbmc/input/IRTranslator.cpp
  xbmc/input/IRTranslator.h
  xbmc/input/InputManager.cpp
  xbmc/input/InputManager.h
  xbmc/input/Key.h
  xbmc/input/remote/IRRemote.h
  xbmc/input/remote/IRemoteControl.h
  xbmc/network/EventClient.cpp
  xbmc/peripherals/devices/PeripheralCecAdapter.cpp
  xbmc/platform/linux/input/LIRC.cpp
  xbmc/platform/linux/input/LIRC.h
  xbmc/platform/win32/input/CMakeLists.txt
  xbmc/platform/win32/input/IRServerSuite.cpp
  xbmc/platform/win32/input/IRServerSuite.h
  xbmc/platform/win32/input/IrssMessage.cpp
  xbmc/platform/win32/input/IrssMessage.h
  xbmc/powermanagement/PowerManager.cpp
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Cleanup, Input, v18 Leia

#13510 [Windows][DX]Fix interlaced modes on fullscreen
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Fix, Windows, v18 Leia

#13513 [addons] sync with repo
  addons/metadata.album.universal/addon.xml
  addons/metadata.artists.universal/addon.xml
  addons/metadata.artists.universal/artistuniversal.xml
  addons/metadata.artists.universal/changelog.txt
  addons/metadata.artists.universal/resources/language/English/strings.po
  addons/metadata.artists.universal/resources/settings.xml
  addons/metadata.common.allmusic.com/addon.xml
  addons/metadata.common.imdb.com/imdb.xml
  addons/metadata.common.musicbrainz.org/addon.xml
  addons/metadata.common.theaudiodb.com/addon.xml
  addons/metadata.themoviedb.org/addon.xml
  addons/metadata.themoviedb.org/changelog.txt
  addons/metadata.themoviedb.org/resources/settings.xml
  addons/metadata.themoviedb.org/tmdb.xml
  addons/service.xbmc.versioncheck/.gitignore
  addons/service.xbmc.versioncheck/addon.xml
  addons/service.xbmc.versioncheck/changelog.txt
  addons/service.xbmc.versioncheck/icon.png
  addons/service.xbmc.versioncheck/resources/versions.txt
Labels: Addons, No-Jenkins, v18 Leia

#13516 [mir] fix find_package_handle_standard_args & cmake syntax
  cmake/modules/FindMir.cmake
  xbmc/windowing/mir/CMakeLists.txt
Labels: CMake, Fix, v18 Leia

#13515 added: basic font resource add-on type
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/AddonBuilder.cpp
  xbmc/addons/AddonInfo.cpp
  xbmc/addons/AddonInfo.h
  xbmc/addons/CMakeLists.txt
  xbmc/addons/FontResource.cpp
  xbmc/addons/FontResource.h
  xbmc/addons/IAddon.h
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/guilib/GUIFontManager.cpp
Labels: Feature, v18 Leia

#13484 [skins] add icon for font addons
  addons/skin.estouchy/media/DefaultAddonFont.png
  addons/skin.estuary/media/DefaultAddonFont.png
Labels: Feature, Skin, v18 Leia

#13507 VideoPlayer: OpenGL - implement tone mapping
  system/shaders/GL/1.2/gl_yuv2rgb_basic.glsl
  system/shaders/GL/1.5/gl_tonemap.glsl
  system/shaders/GL/1.5/gl_yuv2rgb_basic.glsl
  system/shaders/GL/4.0/gl_yuv2rgb_filter4.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVDPAU.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/guilib/Shader.cpp
  xbmc/guilib/Shader.h
Labels: Feature, Video, v18 Leia

#13517 X11, Wayland: request OpenGL profile 3.2
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/wayland/GLContextEGL.cpp
Labels: v18 Leia

#11222 [cec] Add settings for configuring button repeats
  addons/resource.language.en_gb/resources/strings.po
  system/peripherals.xml
  xbmc/peripherals/devices/PeripheralCecAdapter.cpp
Labels: Improvement, Input, v18 Leia

#13423 Fix uPnP Movies Thumbnails for LG Smart TV
  xbmc/network/upnp/UPnPServer.cpp
Labels: Fix, v18 Leia

#13521 vaapi: Correctly adjust for backward refs in CVppPostproc
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Fix, Video, v18 Leia

#13518 VideoPlayer: vaapi - fix setting deinterlacing methods
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
Labels: Fix, Video, v18 Leia

#13511 Input: Fix broken volume and mute button on remote
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/input/InputManager.h
  xbmc/windowing/XBMC_events.h
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Fix, Input, v18 Leia

#12522 AddonSettings: Protect against nullptr
  xbmc/addons/settings/AddonSettings.cpp
Labels: Fix, v18 Leia

#13522 [PVR] Ensure larger objects are heap allocated to avoid stack overflows.
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
Labels: Fix, PVR, v18 Leia

#13528 X11: add fallback for OpenGL legacy
  xbmc/windowing/X11/GLContextEGL.cpp
Labels: v18 Leia

#13491 [Music]Fix Container.Art for collaboration albums
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Fix, Music, v18 Leia

#13524 [libdvd] latest versions libdvdcss 1.4.1 libdvdread/libdvdnav 6.0.0
  tools/depends/target/libdvdcss/DVDCSS-VERSION
  tools/depends/target/libdvdnav/DVDNAV-VERSION
  tools/depends/target/libdvdread/DVDREAD-VERSION
Labels: Dependencies, v18 Leia

#13529 [xbmc][fix] Fix problematic format strings.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/platform/win32/IMMNotificationClient.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Fix, Logging

#13536 FIX: [droid] force fullscreen when entering visible behind
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Fix, v18 Leia

#13537 [addons] sync with repo
  addons/metadata.album.universal/icon.png
  addons/metadata.artists.universal/icon.png
  addons/metadata.common.allmusic.com/addon.xml
  addons/metadata.common.allmusic.com/allmusic.xml
  addons/metadata.common.allmusic.com/icon.png
  addons/metadata.common.fanart.tv/addon.xml
  addons/metadata.common.fanart.tv/fanarttv.xml
  addons/metadata.common.fanart.tv/icon.png
  addons/metadata.common.imdb.com/addon.xml
  addons/metadata.common.imdb.com/changelog.txt
  addons/metadata.common.imdb.com/icon.png
  addons/metadata.common.imdb.com/imdb.xml
  addons/metadata.common.musicbrainz.org/icon.png
  addons/metadata.common.theaudiodb.com/icon.png
  addons/metadata.common.themoviedb.org/addon.xml
  addons/metadata.common.themoviedb.org/tmdb.xml
  addons/metadata.themoviedb.org/addon.xml
  addons/metadata.themoviedb.org/changelog.txt
  addons/metadata.themoviedb.org/resources/settings.xml
  addons/metadata.themoviedb.org/tmdb.xml
  addons/metadata.tvdb.com/addon.xml
  addons/metadata.tvdb.com/changelog.txt
  addons/metadata.tvdb.com/resources/language/English/strings.po
  addons/metadata.tvdb.com/resources/settings.xml
  addons/metadata.tvdb.com/tvdb.xml
Labels: Addons, No-Jenkins, v17 Krypton

#13532 FreeBSD fixes
  cmake/modules/FindFFMPEG.cmake
  cmake/scripts/freebsd/ArchSetup.cmake
  docs/README.FreeBSD
  lib/libUPnP/CMakeLists.txt
  lib/libUPnP/patches/0002-platinum-add-custom-CMakeLists.txt.patch
  tools/buildsteps/defaultenv
  tools/buildsteps/freebsd/configure-depends
  tools/buildsteps/freebsd/configure-xbmc
  tools/buildsteps/freebsd/make-binary-addons
  tools/buildsteps/freebsd/make-depends
  tools/buildsteps/freebsd/make-native-depends
  tools/buildsteps/freebsd/make-xbmc
  tools/buildsteps/freebsd/package
  tools/buildsteps/freebsd/prepare-depends
  tools/buildsteps/freebsd/prepare-xbmc
  tools/buildsteps/freebsd/run-tests
  xbmc/platform/linux/XMemUtils.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/system_gl.h
Labels: BSD, v18 Leia

#13543 FIX: [3D;win] initialize 3D flags in renderer
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
Labels: Fix, Rendering GUI, Windows, v18 Leia

#13544 [cleanup] FreeBSD 8 is EOL & move FreeBSDGNUReplacements include
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/freebsd/FreeBSDGNUReplacements.c
  xbmc/freebsd/FreeBSDGNUReplacements.h
  xbmc/system.h
Labels: BSD, Cleanup, v18 Leia

#13539 DVDVideoCodecAmlogic: remove pts-based frame rate tracking
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAmlogic.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAmlogic.h
Labels: AMLogic, Video, v18 Leia

#13545 [cleanup][windows] remove system.h defines & includes
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  xbmc/cores/AudioEngine/Sinks/AESinkDirectSound.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
  xbmc/filesystem/DllLibNfs.h
  xbmc/filesystem/win32/Win32Directory.cpp
  xbmc/filesystem/win32/Win32File.cpp
  xbmc/filesystem/win32/Win32SMBDirectory.cpp
  xbmc/filesystem/win32/Win32SMBFile.cpp
  xbmc/guilib/D3DResource.cpp
  xbmc/interfaces/swig/AddonModuleXbmc.i
  xbmc/interfaces/swig/AddonModuleXbmcaddon.i
  xbmc/interfaces/swig/AddonModuleXbmcgui.i
  xbmc/interfaces/swig/AddonModuleXbmcplugin.i
  xbmc/interfaces/swig/AddonModuleXbmcvfs.i
  xbmc/interfaces/swig/AddonModuleXbmcwsgi.i
  xbmc/network/test/TestWebServer.cpp
  xbmc/platform/win32/Filesystem.cpp
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WinMain.cpp
  xbmc/platform/win32/dxerr.cpp
  xbmc/platform/win32/my_ntddcdrm.h
  xbmc/platform/win32/pch.h
  xbmc/rendering/dx/DirectXHelper.h
  xbmc/storage/windows/Win32StorageProvider.cpp
  xbmc/system.h
  xbmc/threads/platform/win/Win32Exception.h
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/test/TestArchive.cpp
  xbmc/utils/test/TestCPUInfo.cpp
  xbmc/utils/win32/Win32InterfaceForCLog.cpp
Labels: Cleanup, Windows, v18 Leia

#13527 [wayland] Move EGL context attribs to winsys context, add GL fallback
  xbmc/windowing/wayland/CMakeLists.txt
  xbmc/windowing/wayland/EGLContext.cpp
  xbmc/windowing/wayland/EGLContext.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.h
Labels: Fix, Video, v18 Leia

#13531 RetroPlayer: Input fixes
  addons/skin.estuary/xml/GameOSD.xml
  system/keymaps/joystick.xml
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
Labels: Fix, Games, v18 Leia

#13540 RetroPlayer: Improve logging
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAudio.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAutoSave.cpp
  xbmc/cores/RetroPlayer/RetroPlayerInput.cpp
  xbmc/cores/RetroPlayer/RetroPlayerVideo.cpp
  xbmc/cores/RetroPlayer/process/BaseRenderBufferPool.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/cores/RetroPlayer/process/RenderBufferManager.cpp
  xbmc/cores/RetroPlayer/process/RenderBufferManager.h
  xbmc/cores/RetroPlayer/process/X11/RPProcessInfoX11.cpp
  xbmc/cores/RetroPlayer/process/X11/RPProcessInfoX11.h
  xbmc/cores/RetroPlayer/process/amlogic/RPProcessInfoAmlogic.cpp
  xbmc/cores/RetroPlayer/process/amlogic/RPProcessInfoAmlogic.h
  xbmc/cores/RetroPlayer/process/android/RPProcessInfoAndroid.cpp
  xbmc/cores/RetroPlayer/process/android/RPProcessInfoAndroid.h
  xbmc/cores/RetroPlayer/process/gbm/RPProcessInfoGbm.cpp
  xbmc/cores/RetroPlayer/process/gbm/RPProcessInfoGbm.h
  xbmc/cores/RetroPlayer/process/ios/RPProcessInfoIOS.cpp
  xbmc/cores/RetroPlayer/process/ios/RPProcessInfoIOS.h
  xbmc/cores/RetroPlayer/process/osx/RPProcessInfoOSX.cpp
  xbmc/cores/RetroPlayer/process/osx/RPProcessInfoOSX.h
  xbmc/cores/RetroPlayer/process/rbpi/RPProcessInfoPi.cpp
  xbmc/cores/RetroPlayer/process/rbpi/RPProcessInfoPi.h
  xbmc/cores/RetroPlayer/process/wayland/RPProcessInfoWayland.cpp
  xbmc/cores/RetroPlayer/process/wayland/RPProcessInfoWayland.h
  xbmc/cores/RetroPlayer/process/windows/RPProcessInfoWin.cpp
  xbmc/cores/RetroPlayer/process/windows/RPProcessInfoWin.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RenderTranslator.cpp
  xbmc/cores/RetroPlayer/rendering/RenderTranslator.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
Labels: Games, v18 Leia

#13535 FIX: [3D] broken since awhile
  xbmc/Application.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/StereoscopicsManager.cpp
  xbmc/guilib/StereoscopicsManager.h
Labels: Fix, Rendering GUI, v18 Leia

#13548 [cmake] pass compiler to & use ccache for FFmpeg
  cmake/modules/FindFFMPEG.cmake
  tools/depends/target/ffmpeg/CMakeLists.txt
Labels: CMake, v18 Leia

#13520 [uPnP] Content-Disposition Header
  xbmc/network/upnp/UPnPServer.cpp
Labels: Fix, v18 Leia

#13538 [win10] added support of xbox media remote control
  xbmc/input/IRTranslator.cpp
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win10/input/RemoteControlXbox.cpp
  xbmc/platform/win10/input/RemoteControlXbox.h
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/win10/WinEventsWin10.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Feature, Input, WindowsStore, v18 Leia

#13499 Controller topology (multitap support)
  cmake/treedata/common/games.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_game_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_game_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libKODI_game.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/games/GameServices.cpp
  xbmc/games/GameServices.h
  xbmc/games/GameTypes.h
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/GameClient.h
  xbmc/games/addons/GameClientProperties.cpp
  xbmc/games/addons/GameClientProperties.h
  xbmc/games/addons/GameClientSubsystem.cpp
  xbmc/games/addons/GameClientSubsystem.h
  xbmc/games/addons/GameClientTranslator.cpp
  xbmc/games/addons/GameClientTranslator.h
  xbmc/games/addons/input/CMakeLists.txt
  xbmc/games/addons/input/GameClientDevice.cpp
  xbmc/games/addons/input/GameClientDevice.h
  xbmc/games/addons/input/GameClientHardware.cpp
  xbmc/games/addons/input/GameClientHardware.h
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/addons/input/GameClientJoystick.cpp
  xbmc/games/addons/input/GameClientJoystick.h
  xbmc/games/addons/input/GameClientKeyboard.cpp
  xbmc/games/addons/input/GameClientMouse.cpp
  xbmc/games/addons/input/GameClientPort.cpp
  xbmc/games/addons/input/GameClientPort.h
  xbmc/games/addons/input/GameClientTopology.cpp
  xbmc/games/addons/input/GameClientTopology.h
  xbmc/games/controllers/CMakeLists.txt
  xbmc/games/controllers/Controller.cpp
  xbmc/games/controllers/Controller.h
  xbmc/games/controllers/ControllerDefinitions.h
  xbmc/games/controllers/ControllerLayout.cpp
  xbmc/games/controllers/ControllerLayout.h
  xbmc/games/controllers/ControllerTopology.cpp
  xbmc/games/controllers/ControllerTopology.h
  xbmc/games/controllers/ControllerTypes.h
  xbmc/games/controllers/types/CMakeLists.txt
  xbmc/games/controllers/types/ControllerGrid.cpp
  xbmc/games/controllers/types/ControllerGrid.h
  xbmc/games/controllers/types/ControllerTree.cpp
  xbmc/games/controllers/types/ControllerTree.h
  xbmc/games/ports/CMakeLists.txt
  xbmc/games/ports/InputSink.cpp
  xbmc/games/ports/InputSink.h
  xbmc/games/ports/Port.cpp
  xbmc/games/ports/Port.h
  xbmc/games/ports/PortManager.cpp
  xbmc/games/ports/PortManager.h
  xbmc/games/ports/PortMapper.cpp
  xbmc/games/ports/PortTypes.h
  xbmc/input/hardware/IHardwareInput.h
  xbmc/utils/Observer.h
Labels: Binary Addons API Change, Games, Input, v18 Leia

#13549 VideoPlayer: DirectX- implement tone mapping
  system/shaders/output_d3d.fx
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
Labels: Feature, Rendering Video, Windows, v18 Leia

#13551 [cleanup][omxplayer] remove unused headers
  xbmc/cores/omxplayer/CMakeLists.txt
  xbmc/cores/omxplayer/OMXAudioCodec.h
  xbmc/cores/omxplayer/OMXVideoCodec.h
Labels: Cleanup, RPi, v18 Leia

#13530 [Estuary] - fix info display for sets
  addons/skin.estuary/xml/MyVideoNav.xml
  addons/skin.estuary/xml/View_502_FanArt.xml
  addons/skin.estuary/xml/View_50_List.xml
  addons/skin.estuary/xml/View_51_Poster.xml
Labels: Fix, Skin, v18 Leia

#13504 RetroPlayer: GL(ES) don't hardcode pixelformats
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererMMAL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererMMAL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/amlogic/WinSystemAmlogic.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/osx/WinSystemIOS.mm
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
Labels: Games, Improvement, v18 Leia

#13554 Python: Normalize Python exception before processing
  xbmc/interfaces/python/swig.cpp
Labels: Fix, Python, v18 Leia

#13553 RetroPlayer: Move and document GUI code
  cmake/treedata/common/retroplayer.txt
  xbmc/ServiceManager.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/guibridge/CMakeLists.txt
  xbmc/cores/RetroPlayer/guibridge/GUIGameRenderManager.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameRenderManager.h
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettings.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettings.h
  xbmc/cores/RetroPlayer/guibridge/GUIGameVideoHandle.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameVideoHandle.h
  xbmc/cores/RetroPlayer/guibridge/GUIRenderHandle.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIRenderHandle.h
  xbmc/cores/RetroPlayer/guibridge/GUIRenderTarget.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIRenderTarget.h
  xbmc/cores/RetroPlayer/guibridge/GUIRenderTargetFactory.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIRenderTargetFactory.h
  xbmc/cores/RetroPlayer/guibridge/IGUIRenderSettings.h
  xbmc/cores/RetroPlayer/guibridge/IRenderCallback.h
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.cpp
  xbmc/cores/RetroPlayer/guicontrols/GUIRenderSettings.h
  xbmc/cores/RetroPlayer/guiwindows/CMakeLists.txt
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.cpp
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.h
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreenText.cpp
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreenText.h
  xbmc/cores/RetroPlayer/rendering/CMakeLists.txt
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.h
  xbmc/games/dialogs/osd/DialogGameVideoFilter.cpp
  xbmc/games/dialogs/osd/DialogGameVideoSelect.cpp
  xbmc/games/dialogs/osd/DialogGameViewMode.cpp
  xbmc/guilib/GUIWindowManager.cpp
Labels: Documentation, Games, v18 Leia

#13541 amlcodec: reduce video decoder pre-buffering time, pre-buffer more only when decoder is busy
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
Labels: AMLogic, Video, v18 Leia

#13556 [cleanup] minimize system.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecTX3G.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecText.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayText.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxVobsub.cpp
  xbmc/platform/linux/RBP.h
  xbmc/system.h
Labels: Cleanup, v18 Leia

#13557 paplayer (vp): fix out-of-bounds error in audiocodec passthrough
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.h
Labels: Audio, v18 Leia

#13559 OpenGL: fix NaN in shaders
  system/shaders/GL/1.2/gl_yuv2rgb_basic.glsl
  system/shaders/GL/1.5/gl_yuv2rgb_basic.glsl
  system/shaders/GL/4.0/gl_yuv2rgb_filter4.glsl
Labels: Fix, Video, v18 Leia

#13525 Consolidate subtitle dialogs
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/VideoOSD.xml
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/video/PlayerController.cpp
  xbmc/video/dialogs/CMakeLists.txt
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
  xbmc/video/dialogs/GUIDialogAudioSettings.h
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
  xbmc/video/dialogs/GUIDialogSubtitleSettings.h
  xbmc/video/dialogs/GUIDialogVideoOSD.cpp
  xbmc/video/windows/GUIWindowFullScreen.cpp
Labels: Improvement

#13567 [cleanup] silence sign compare warning
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Cleanup, v18 Leia

#13512 Rendering: remove rendercaps
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCapture.cpp
  xbmc/guilib/Texture.cpp
  xbmc/guilib/TextureGL.cpp
  xbmc/rendering/RenderSystem.cpp
  xbmc/rendering/RenderSystem.h
  xbmc/rendering/RenderSystemTypes.h
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/dx/RenderSystemDX.h
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gl/RenderSystemGL.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.h
  xbmc/windowing/mir/WinSystemMirGLESContext.cpp
  xbmc/windowing/mir/WinSystemMirGLESContext.h
  xbmc/windowing/osx/WinSystemIOS.h
  xbmc/windowing/osx/WinSystemIOS.mm
Labels: Cleanup, v18 Leia

#13570 DirectX: fix NaN in shaders
  system/shaders/yuv2rgb_d3d.fx
Labels: Fix, Rendering Video, Windows, v18 Leia

#13572 FIX: [3D] reset datacache value between plays (by fernet)
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
Labels: Fix, Video, v18 Leia

#13503 [GBM] Add meson / allow single plane mode
  cmake/platform/linux/gbm.cmake
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Feature, Linux, Video, v18 Leia

#13577 [cmake] Fix build stamp generation
  cmake/scripts/common/Macros.cmake
Labels: CMake, v18 Leia

#13581 VideoPlayer: OpenGL - make sure rgb values are not neg after yuv2rgb …
  system/shaders/GL/1.2/gl_yuv2rgb_basic.glsl
  system/shaders/GL/1.5/gl_yuv2rgb_basic.glsl
Labels: Fix, Video, v18 Leia

#13582 VideoPlayer: DirectX - make sure rgb values are not negative after yu…
  system/shaders/yuv2rgb_d3d.fx
Labels: Fix, Rendering Video, Windows, v18 Leia

#13565 [win10] Bump SDK ver and add changes related to new SDK.
  tools/buildsteps/windows/vswhere.bat
  xbmc/platform/win10/Win10App.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/RenderContext.h
  xbmc/utils/CPUInfo.cpp
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/win10/WinEventsWin10.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Cleanup, Feature, Fix, WindowsStore, v18 Leia

#13552 amlcodec: cleanup and simplify 3D handling code
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/utils/AMLUtils.cpp
  xbmc/utils/AMLUtils.h
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: AMLogic, Video, v18 Leia

#13579 [PVR] Guide window: Reintroduce 'wrap around' when navigating the epg grid
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MyPVRGuide.xml
  xbmc/pvr/windows/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIEPGGridContainer.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Fix, PVR, v18 Leia

#13580 extend aarch64 pattern in .gitignore
  .gitignore
  tools/depends/.gitignore
Labels: Linux, v18 Leia

#13584 FIX: [amc] 3D->2D
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.cpp
Labels: Android, Fix, Rendering Video, v18 Leia

#13583 [cmake][windows] require SDK 10.0.14393.0 or higher
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
Labels: CMake, Fix, Windows, WindowsStore, v18 Leia

#13586 [PVR] Guide window: Fix 'wrap around'.
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Fix, PVR, v18 Leia

#13589 [PVR] Fix return value of CDVDInputStreamPVRManager::SeekTime.
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamPVRManager.cpp
Labels: Fix, PVR, v18 Leia

#13588 ADD: [droid;key] channel up/down
  xbmc/platform/android/activity/AndroidKey.cpp
Labels: Android, Improvement, v18 Leia

#13593 libmicrohttpd version bump
  cmake/modules/FindMicroHttpd.cmake
  xbmc/network/WebServer.cpp
  xbmc/network/WebServer.h
  xbmc/network/httprequesthandler/HTTPJsonRpcHandler.cpp
  xbmc/network/httprequesthandler/HTTPJsonRpcHandler.h
  xbmc/network/httprequesthandler/HTTPPythonHandler.cpp
  xbmc/network/httprequesthandler/HTTPPythonHandler.h
  xbmc/network/httprequesthandler/IHTTPRequestHandler.cpp
  xbmc/network/httprequesthandler/IHTTPRequestHandler.h
Labels: Cleanup, Fix, v18 Leia

#13595 [cleanup] remove ifdefs for old lib, os & compiler versions
  cmake/modules/FindAlsa.cmake
  cmake/modules/FindCdio.cmake
  cmake/modules/FindSSH.cmake
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_game_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_epg_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/cores/DllLoader/ldt_keeper.c
  xbmc/filesystem/SFTPFile.cpp
  xbmc/filesystem/SFTPFile.h
  xbmc/interfaces/swig/AddonModuleXbmc.i
  xbmc/interfaces/swig/AddonModuleXbmcaddon.i
  xbmc/interfaces/swig/AddonModuleXbmcgui.i
  xbmc/interfaces/swig/AddonModuleXbmcplugin.i
  xbmc/interfaces/swig/AddonModuleXbmcvfs.i
  xbmc/interfaces/swig/AddonModuleXbmcwsgi.i
  xbmc/music/tags/MusicInfoTagLoaderCDDA.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/platform/linux/input/LinuxInputDevices.cpp
  xbmc/platform/win32/PlatformDefs.h
  xbmc/storage/DetectDVDType.cpp
  xbmc/storage/cdioSupport.cpp
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
  xbmc/utils/CryptThreading.cpp
  xbmc/utils/SystemInfo.cpp
Labels: Cleanup, v18 Leia

#13585 [Music]Fix FileItem::IsSamePath for albums and artists
  xbmc/FileItem.cpp
Labels: Fix, Music, v18 Leia

#13597 [fix] add back libcdio 0.83 compatibility after 98565c188b
  cmake/modules/FindCdio.cmake
  xbmc/music/tags/MusicInfoTagLoaderCDDA.cpp
  xbmc/storage/cdioSupport.cpp
Labels: Fix, v18 Leia

#13598 prevent crash when retrieving rating
  xbmc/GUIInfoManager.cpp
Labels: Fix, GUI Engine, v18 Leia
