Repository xbmc/xbmc, pull requests merged in 2018-11, with the labels that each got.

#14753 [addons] remove CAddonDll::GetSetting() is calling the parent only
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/AddonDll.h
Labels: Binary Addons, Cleanup, v18 Leia

#14760 [skin.estuary] Add 8K support
  addons/skin.estuary/media/flags/videoresolution/8K.png
  addons/skin.estuary/xml/Variables.xml
Labels: Skin, v18 Leia

#14759 [depends] bump libdvdcss to 1.4.2-Leia-Beta-5
  tools/buildsteps/windows/make-mingwlibs.sh
  tools/depends/target/libdvdcss/DVDCSS-VERSION
Labels: Dependencies, Fix, v18 Leia

#14763 [PVR][settings] Get rid of CSettings' and CSettingConditions' PVR dependencies.
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/pvr/PVRSettings.cpp
  xbmc/pvr/PVRSettings.h
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/lib/SettingConditions.cpp
  xbmc/settings/lib/SettingConditions.h
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
Labels: Cleanup, PVR, Settings, v18 Leia

#14764 [PVR] Reduce PVR build dependencies: Get rid of pvr/PVREvent.h (in favour to forward declarations).
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVREvent.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/recordings/PVRRecordings.cpp
Labels: Cleanup, PVR, v18 Leia

#14761 [macos] Support all display resolutions available for the given screen.
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Fix, macOS, v18 Leia

#14765 [test] Change kodi-test help text to right names
  xbmc/test/TestUtils.cpp
Labels: Cleanup, v18 Leia

#14756 [Android] block ResolutionChange until onDisplayChanged arrives
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/platform/android/activity/android_main.cpp
Labels: Android, Fix, Video, v18 Leia

#14755 [VideoPlayer] SetResolution synchronously instead RM::TriggerResolution
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Improvement, Video, v18 Leia

#14767 [Android] MediaCodec: use input buffers again if queuing fails
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Video, v18 Leia

#14746 [GLES] VideoPlayer: more cleanup
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
Labels: Cleanup, Linux, v18 Leia

#14770 [Android] Wait 2000 instead 500ms until videoview is created
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Video, v18 Leia

#14725 [xbmc][settings][GL][DX]: Remove test patterns
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/Application.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/rendering/dx/CMakeLists.txt
  xbmc/rendering/dx/GUIWindowTestPatternDX.cpp
  xbmc/rendering/dx/GUIWindowTestPatternDX.h
  xbmc/rendering/gl/CMakeLists.txt
  xbmc/rendering/gl/GUIWindowTestPatternGL.cpp
  xbmc/rendering/gl/GUIWindowTestPatternGL.h
  xbmc/settings/windows/CMakeLists.txt
  xbmc/settings/windows/GUIWindowTestPattern.cpp
  xbmc/settings/windows/GUIWindowTestPattern.h
Labels: Cleanup

#14758 Fix include auto-mounted drives remote access allowed check
  xbmc/utils/FileUtils.cpp
Labels: Fix, v18 Leia

#14752 [python-scrapers] extended music artwork
  xbmc/addons/Scraper.cpp
Labels: Improvement, Music, v18 Leia

#14667 whitelist movie set artwork from scrapers/NFO files
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoThumbLoader.cpp
Labels: Improvement, Video, v18 Leia

#14782 FFmpeg: Bump to 4.0.3-Leia-Beta5
  tools/buildsteps/windows/patches/0001-ffmpeg-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-zlib-config-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-static.patch
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Dependencies, v18 Leia

#14783 Fix remote access to images accidentally blocked by Cve 2017 5982 patch
  xbmc/filesystem/SpecialProtocol.cpp
  xbmc/utils/FileUtils.cpp
Labels: Fix, v18 Leia

#14776 Revert "windowing/gbm: add VT handler"
  xbmc/windowing/gbm/CMakeLists.txt
  xbmc/windowing/gbm/VTUtils.cpp
  xbmc/windowing/gbm/VTUtils.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
Labels: Fix, Linux, v18 Leia

#14516 bump to v18.0 RC1
  media/splash.jpg
  version.txt
Labels: No-Jenkins, Rebase needed, v18 Leia

#14784 [PVR][Estuary] Misc RDS changes
  addons/skin.estuary/xml/DialogPVRRadioRDSInfo.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.cpp
  xbmc/interfaces/legacy/InfoTagRadioRDS.cpp
  xbmc/interfaces/legacy/InfoTagRadioRDS.h
  xbmc/interfaces/legacy/Player.cpp
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.h
  xbmc/pvr/dialogs/GUIDialogPVRRadioRDSInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRadioRDSInfo.h
Labels: Cleanup, Fix, Improvement, PVR, Skin, v18 Leia

#14795 [Estuary]Show additional metadata in Song views
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Variables.xml
Labels: Improvement, Skin

#14797 [cmake] fix building with internal libs
  CMakeLists.txt
  cmake/scripts/common/Macros.cmake
Labels: CMake, Fix, v18 Leia

#14799 Trigger updateresolution on stream start to set fps in RM properly
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Fix, Video, v18 Leia

#14800 [Estuary] Two small fixes (musicvis, videofullscreen)
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/VideoFullScreen.xml
Labels: Fix, Skin, v18 Leia

#14522 RetroPlayer: Modernize OpenGL rendering
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGBM.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGBM.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
Labels: Games, v18 Leia

#14805 [skin.estuary] Fix visibilty of overlay icons for wall views
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Skin

#14806 [PVR] Performance: Try to fetch missing EPG tag from backend at most every 30 secs.
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
Labels: Fix, PVR, v18 Leia

#14810 [GUI] re-evaluate playcount (watched state) when reading from filecache
  xbmc/video/VideoInfoTag.cpp
Labels: Fix, GUI Engine, Video, v18 Leia

#14808 fixed: do not derefence nullptrs, log using id string
  xbmc/addons/AddonManager.cpp
Labels: Addons, Fix, v18 Leia

#14803 [GUI] reinitialize addon path after returning with .. directory item
  xbmc/windows/GUIMediaWindow.cpp
Labels: Addons, Fix, GUI Engine, Music, PVR, Picture, Video

#14785 windowing/gbm: fallback to non-alpha visual id
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.h
Labels: Fix, Linux, v18 Leia

#14815 [Settings] Implement FindIntInList in CSettingList
  xbmc/settings/lib/Setting.cpp
  xbmc/settings/lib/Setting.h
  xbmc/settings/lib/SettingsManager.cpp
Labels: GUI Engine, Improvement, v18 Leia

#14818 [macos] [filemanager] Removable storage fixes/improvements
  addons/resource.language.en_gb/resources/strings.po
  xbmc/dialogs/GUIDialogContextMenu.cpp
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/platform/darwin/osx/SDLMain.mm
  xbmc/platform/darwin/osx/storage/DarwinStorageProvider.cpp
  xbmc/platform/darwin/osx/storage/DarwinStorageProvider.h
Labels: Fix, Improvement, macOS, v18 Leia

#14822 [osx/windowing] - fix "blank other displays"
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Fix, macOS, v18 Leia

#14827 [macos] CDarwinStorageProvider::Eject: Fix crash due to double release of DADiskRef instance.
  xbmc/platform/darwin/osx/storage/DarwinStorageProvider.cpp
Labels: Fix, macOS, v18 Leia

#14821 windowing/gbm: set default plane formats and use the getter methods
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
Labels: Fix, Linux, v18 Leia

#14820 windowing/gbm: use the drm render node fd for the vaapi proxy
  cmake/modules/FindLibDRM.cmake
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/OptionalsReg.cpp
  xbmc/windowing/gbm/OptionalsReg.h
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Fix, Linux, v18 Leia

#14830 [cmake] fix building with internal fmt
  cmake/modules/FindFmt.cmake
Labels: CMake, Fix, v18 Leia

#14570 Add missing epoll header
  xbmc/platform/linux/FDEventMonitor.h
Labels: Improvement, Linux

#14836 [PVR] New PVR playback setting: 'Delay mark last watched'.
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Improvement, PVR, v18 Leia

#14840 [PVR] Make 'Simple Timeshift OSD' an advanced setting; remove corresponding standard setting.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/PVRGUITimesInfo.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Improvement, PVR, Settings, v18 Leia

#14839 [filemanager] Fix crash due to multiple busy dialog request.
  xbmc/windows/GUIWindowFileManager.cpp
  xbmc/windows/GUIWindowFileManager.h
Labels: Fix, v18 Leia

#14845 Fix screensaver/DPMS interaction
  xbmc/Application.cpp
Labels: Fix, Linux, v18 Leia

#14837 [skin.estouchy] Fix order in Recent Movies
  addons/skin.estouchy/xml/IncludesHomeRecentlyAdded.xml
Labels: Fix, Skin, v18 Leia

#14851 [settings] fix typo in UPNP setting description
  addons/resource.language.en_gb/resources/strings.po
Labels: Fix, Settings, v18 Leia

#14864 [pvr] Fix channel sorting. Fixes #14854.
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelNumber.cpp
  xbmc/pvr/channels/PVRChannelNumber.h
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Fix, PVR, v18 Leia

#14853 fix: ass subtitle render wrong when play half-sbs/half-ou 3d movie
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
Labels: Fix, v18 Leia

#14863 [video] Fix #14847 - Take 3 ;-)
  xbmc/utils/SaveFileStateJob.cpp
Labels: Fix, Video, v18 Leia

#14852 LinuxRenderGL: Properly draw black quads on area we manage
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
Labels: Fix, Rendering Video, Video

#14834 [GLES] cleanup vsync implementation
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.cpp
  xbmc/windowing/osx/WinSystemIOS.h
  xbmc/windowing/osx/WinSystemIOS.mm
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
Labels: AMLogic, Cleanup, RPi, iOS, v18 Leia

#14848 windowing/gbm: rename planes
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
Labels: Improvement, Video, v18 Leia

#14489 Separate shown plots for unwatched items
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/settings/Settings.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Feature, Settings, Wiki-Needed, v18 Leia

#14842 [DetectDVDType]: fix Crash due to non-checked error state
  xbmc/storage/DetectDVDType.cpp
Labels: Fix, Linux, RPi, Windows, WindowsStore, macOS, v18 Leia

#14868 VideoInfoTag: fix missing field overview for sets
  xbmc/video/VideoInfoTag.cpp
Labels: Fix, Wiki-Needed, v18 Leia

#14874 [docs] Adding FrameAdvance documentation
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Documentation, No-Jenkins, Wiki-Needed

#14860 Extend IsRemote check to some vfs paths (closes #14817)
  xbmc/utils/URIUtils.cpp
  xbmc/utils/test/TestURIUtils.cpp
Labels: Fix, v18 Leia

#14879 [docs] Trivial fixes to xbmc.Monitor docs
  xbmc/interfaces/legacy/Monitor.h
Labels: Documentation, No-Jenkins, v18 Leia

#14886 [addons] sync with repo
  addons/metadata.tvdb.com/addon.xml
  addons/metadata.tvdb.com/changelog.txt
  addons/metadata.tvdb.com/tvdb.xml
  addons/service.xbmc.versioncheck/addon.xml
  addons/service.xbmc.versioncheck/resources/language/English/strings.po
  addons/service.xbmc.versioncheck/resources/versions.txt
  addons/service.xbmc.versioncheck/service.py
Labels: Addons, v18 Leia

#14889 [AddonVideoCodec] retrieve codec name after Open()
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
Labels: Improvement, Video, v18 Leia

#14869 fixed: Low read rate detection logic when VideoPlayer uses filecache
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/filesystem/FileCache.cpp
  xbmc/filesystem/FileCache.h
  xbmc/filesystem/IFileTypes.h
Labels: Fix, Video, v18 Leia

#14881 [storage] MediaManager::Onstorage*: Do not show toasts if fullscreen …
  xbmc/storage/MediaManager.cpp
Labels: Fix, v18 Leia

#14844 [fix] redact paths in edl logging
  xbmc/cores/VideoPlayer/Edl.cpp
Labels: Fix, Logging, v18 Leia

#14790 [JSON] Bump version to 10.0.0
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: JSON-RPC API Change, v18 Leia

#14888 [addons] Sort logged list of installed add-ons
  xbmc/addons/AddonManager.cpp
Labels: Addons, Improvement, Logging

#14899 [fix] remove outdated JsonSchemaBuilder executable after #14774
  cmake/modules/FindJsonSchemaBuilder.cmake
Labels: CMake, Fix, Windows, v18 Leia

#14901 Actually destroy window system on application shutdown
  xbmc/Application.cpp
  xbmc/Application.h
Labels: Fix, v18 Leia

#14900 X11 - fix segfauls
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
Labels: Fix, v18 Leia

#14902 [games] Show installed game clients first
  xbmc/games/dialogs/GUIDialogSelectGameClient.cpp
Labels: Games, Improvement, v18 Leia

#14909 [Estuary] Movie listing and overview fixes for sets
  addons/skin.estuary/xml/MyVideoNav.xml
  addons/skin.estuary/xml/View_51_Poster.xml
Labels: Fix, Skin, v18 Leia

#14906 [music]Fix album source constraint violations during library update
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Fix, Music, v18 Leia

#14831 VAAPI: add error and info callbacks
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
Labels: Linux, Logging, v18 Leia

#14772 OpenGL(ES) debugging improvements
  xbmc/guilib/Shader.cpp
  xbmc/guilib/Shader.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/GLUtils.cpp
  xbmc/utils/GLUtils.h
Labels: AMLogic, Android, Feature, Linux, RPi, Rendering GUI, iOS, macOS, v18 Leia

#14910 [Docs] Improve the documentation for boolean conditions and infolabels.
  docs/doxygen/Doxyfile.doxy
  xbmc/GUIInfoManager.cpp
  xbmc/XBDateTime.h
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_general.dox
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Documentation, Skin, v18 Leia

#14787 bump to v18.0 RC2
  version.txt
Labels: No-Jenkins, v18 Leia

#14921 VideoPlayer: fix state of a/v players after switching refresh rate
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, v18 Leia

#14904 [skin.estuary] Add Hebrew and Armenian typefaces to the fonts
  addons/skin.estuary/fonts/NotoSans-Bold.ttf
  addons/skin.estuary/fonts/NotoSans-Regular.ttf
  addons/skin.estuary/fonts/Roboto-Thin.ttf
  addons/skin.estuary/fonts/heebo_licence.txt
  addons/skin.estuary/fonts/mardoto_license.txt
Labels: Improvement, Skin, v18 Leia

#14927 [PVR] Fix CPVRGUITimerInfo::TimerInfoToggle().
  xbmc/pvr/PVRGUITimerInfo.cpp
Labels: Fix, PVR, v18 Leia

#14935 [estuary] add default addon image fallback in addon browser
  addons/skin.estuary/xml/AddonBrowser.xml
  addons/skin.estuary/xml/View_50_List.xml
Labels: Fix, Skin, v18 Leia

#14940 VideoLayerBridgeDRMPRIME: unmap previous buffer when current buffer is reused
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
Labels: Fix, Linux, Rendering Video, v18 Leia

#14941 [skin.estuary] fix visualization visibility
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Fix, Skin, v18 Leia

#14948 [cleanup] remove code for VS lower than 14.0 (2015)
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.h
Labels: Cleanup, Windows, v18 Leia

#14918 [fix] remove network available checks in C(Directory|File)Factory
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
Labels: Fix, v18 Leia

#14942 [cleanup] remove obsolete AudioTrack code
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Android, Audio, Cleanup, v18 Leia

#14956 [win10] fix compiling test suite
  xbmc/utils/test/TestSystemInfo.cpp
Labels: Fix, WindowsStore, v18 Leia

#14959 [Bugfix][Android] fix handling of controller DPAD buttons
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
Labels: Android, Fix, Input, v18 Leia

#14944 Games: Assign joysticks in order of MRU (last activation)
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/peripherals/devices/Peripheral.h
  xbmc/peripherals/devices/PeripheralJoystick.cpp
  xbmc/peripherals/devices/PeripheralJoystick.h
  xbmc/peripherals/devices/PeripheralKeyboard.cpp
  xbmc/peripherals/devices/PeripheralKeyboard.h
  xbmc/peripherals/devices/PeripheralMouse.cpp
  xbmc/peripherals/devices/PeripheralMouse.h
Labels: Fix, Games, Input, v18 Leia

#14884 [addons] fix addon install process percent indication
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
  xbmc/addons/GUIWindowAddonBrowser.cpp
Labels: Addons, Improvement, v18 Leia

#14961 [pvr] CPVRRecording::GetResumePoint(): Performance: Update resume poi…
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
Labels: Fix, PVR, v18 Leia

#14951 [cleanup] remove code for glibc 2.0 and lower
  xbmc/cores/DllLoader/ldt_keeper.c
Labels: Cleanup, Linux, v18 Leia

#14950 [Android] prevent passing negative pts values to mediacodec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Android, Fix, PVR, Video, v18 Leia
