Repository xbmc/xbmc, pull requests merged in 2018-07, with the labels that each got.

#14134 VideoPlayer: handle tempo and realtime dynamically
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
  xbmc/cores/VideoPlayer/Process/ProcessInfo.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Video, v18 Leia

#14132 allow selecting resolutions with non standard aspect ratio
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/Resolution.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: v18 Leia

#14138 Fix segfault on shutdown caused by busy python addons
  xbmc/interfaces/generic/LanguageInvokerThread.cpp
  xbmc/interfaces/generic/ScriptInvocationManager.cpp
  xbmc/interfaces/python/PythonInvoker.cpp
Labels: Addons, Fix, Python, v18 Leia

#14101 RetroPlayer: Fix segfault on subsequent failure
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
Labels: Fix, Games, v18 Leia

#14139 [gui][pvr][fix] Prevent the modification of the provider list while using its iterator.
  xbmc/guilib/guiinfo/GUIInfoProviders.cpp
  xbmc/guilib/guiinfo/GUIInfoProviders.h
Labels: Fix, PVR, v18 Leia

#14142 VideoPlayer: fix c/p error in GetRGBYuvCoefs for BT2020
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.cpp
Labels: Fix, Video, v18 Leia

#14140 display resolutions: drop iScreen
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINIOS.mm
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/DisplaySettings.h
  xbmc/settings/Settings.cpp
  xbmc/utils/AMLUtils.cpp
  xbmc/windowing/GraphicContext.cpp
  xbmc/windowing/GraphicContext.h
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/Resolution.h
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/VideoSyncGLX.cpp
  xbmc/windowing/X11/WinSystemX11.cpp
  xbmc/windowing/X11/WinSystemX11.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/amlogic/WinSystemAmlogic.cpp
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/osx/WinEventsSDL.cpp
  xbmc/windowing/osx/WinSystemIOS.mm
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/rpi/RPIUtils.cpp
  xbmc/windowing/rpi/WinSystemRpi.cpp
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Cleanup, v18 Leia

#14145 VideoPlayer: vaapi - fix potential segfault if deinterlace method is …
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
Labels: Fix, Video, v18 Leia

#14150 [Estuary] fix mono font
  addons/skin.estuary/xml/DialogTextViewer.xml
Labels: Fix, Skin, v18 Leia

#14151 display resolutions: fix after 6aaa0fa013518053105ee55da37af430b7534579
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/WinSystemX11.cpp
  xbmc/windowing/osx/WinSystemIOS.mm
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Fix, v18 Leia

#14153 win10: update python package with a small fix in uwp part
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  xbmc/platform/win10/filesystem/WinLibraryDirectory.cpp
Labels: Dependencies, Fix, WindowsStore, v18 Leia

#14148 Prevent Basecontainer to scroll animated after reset
  xbmc/guilib/GUIBaseContainer.cpp
Labels: GUI Engine, Improvement, v18 Leia

#14102 Game OSD: Simplify setting labels and filter controllers
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  xbmc/games/controllers/types/ControllerTree.cpp
  xbmc/games/controllers/types/ControllerTree.h
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerList.h
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.h
  xbmc/games/dialogs/osd/CMakeLists.txt
  xbmc/games/dialogs/osd/DialogGameStretchMode.cpp
  xbmc/games/dialogs/osd/DialogGameStretchMode.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
Labels: Games, Improvement, v18 Leia

#14146 RetroPlayer: Fix segfault when loading game
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/addons/streams/GameClientStreamAudio.cpp
  xbmc/games/addons/streams/GameClientStreamAudio.h
  xbmc/games/addons/streams/GameClientStreamVideo.cpp
  xbmc/games/addons/streams/GameClientStreamVideo.h
  xbmc/games/addons/streams/GameClientStreams.cpp
Labels: Fix, Games, v18 Leia

#13727 RetroPlayer: Remove MMAL renderer on RPi
  xbmc/cores/RetroPlayer/process/rbpi/CMakeLists.txt
  xbmc/cores/RetroPlayer/process/rbpi/RenderBufferMMAL.cpp
  xbmc/cores/RetroPlayer/process/rbpi/RenderBufferMMAL.h
  xbmc/cores/RetroPlayer/process/rbpi/RenderBufferPoolMMAL.cpp
  xbmc/cores/RetroPlayer/process/rbpi/RenderBufferPoolMMAL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/CMakeLists.txt
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/MMALProcess.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/MMALProcess.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/MMALRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/MMALRenderer.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererMMAL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererMMAL.h
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
Labels: Cleanup, Games

#14152 guiinfo: grab gfx lock when registering GUIInfoProviders
  xbmc/GUIInfoManager.cpp
Labels: Fix, GUI Engine, v18 Leia

#14144 [cleanup] silence compiler warnings
  xbmc/FileItem.cpp
  xbmc/addons/PVRClient.cpp
  xbmc/cdrip/CDDARipJob.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.cpp
  xbmc/platform/linux/peripherals/PeripheralBusUSBLibUdev.cpp
  xbmc/platform/linux/peripherals/PeripheralBusUSBLibUdev.h
  xbmc/settings/DisplaySettings.h
  xbmc/utils/ScraperParser.cpp
  xbmc/view/ViewStateSettings.cpp
Labels: Cleanup, Fix, v18 Leia

#14155 [videplayer][pvr] Fix a crash when stopping playback while teletext is opened.
  xbmc/ApplicationPlayer.cpp
  xbmc/ApplicationPlayer.h
  xbmc/cores/IPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.h
  xbmc/video/Teletext.h
Labels: Fix, PVR, Video, v18 Leia

#14159 [cleanup] silence compiler warnings
  xbmc/addons/binary-addons/BinaryAddonType.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/Window.h
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/dialogs/GUIDialogTextViewer.cpp
  xbmc/filesystem/NFSDirectory.cpp
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/NFSFile.h
  xbmc/guilib/GUIBaseContainer.h
  xbmc/guilib/GUIWrappingListContainer.cpp
  xbmc/guilib/GUIWrappingListContainer.h
  xbmc/pvr/PVRChannelNumberInputHandler.h
  xbmc/pvr/channels/PVRChannelGroups.h
Labels: Cleanup, Fix, v18 Leia

#14162 fix mimetype of items expanded from playlists
  xbmc/utils/Mime.cpp
Labels: Fix, v18 Leia

#14163 VideoPlayer: demuxerffmpeg - do not discard unknown streams for pvr
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Fix, Video, v18 Leia

#14164 [videoplayer] Teletext: refine fix 714b808
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.cpp
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.h
Labels: Fix, PVR, v18 Leia

#14161 Fix erratic input when entering cheat code
  xbmc/input/joysticks/JoystickEasterEgg.cpp
  xbmc/input/joysticks/JoystickEasterEgg.h
  xbmc/input/joysticks/interfaces/IButtonSequence.h
  xbmc/input/joysticks/keymaps/KeymapHandler.cpp
Labels: Fix, Input, v18 Leia

#14166 Fix Install from zip from addon view
  xbmc/addons/GUIWindowAddonBrowser.cpp
  xbmc/addons/GUIWindowAddonBrowser.h
  xbmc/favourites/FavouritesService.cpp
  xbmc/interfaces/builtins/AddonBuiltins.cpp
Labels: Addons, GUI Engine, v18 Leia

#14173 AE: fix sync for transcoding
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
Labels: Audio, Fix, v18 Leia

#14172 Fix android resolution selection
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Android, Fix, Settings, v18 Leia

#14174 [Android] Remove AudioTrack ENFORCE flag / set LegacyStreamType
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Android, Audio, Fix, v18 Leia

#14175 [Android] Select android audiodecoder by whitelist
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
Labels: Android, Audio, Fix, v18 Leia

#14168 Keep protocol options in path databases
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/utils/URIUtils.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Database, Fix, v18 Leia

#14179 AE: fix handling sink errors in suspend state
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
Labels: Audio, Fix, v18 Leia

#14178 X11: egl - make sure that we block in swapBuffers
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/X11/GLContextEGL.h
Labels: Improvement, v18 Leia

#14125 Add headless modesetting for linux gbm
  xbmc/windowing/gbm/CMakeLists.txt
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMLegacy.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/OffScreenModeSetting.cpp
  xbmc/windowing/gbm/OffScreenModeSetting.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Feature, Linux, v18 Leia

#14160 [JSON]Faster access to music library
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Fix, Improvement, JSON-RPC API Change, Music, v18 Leia

#14184 AESinkPULSE: Don't deadlock - separate callback handling fixes #17959
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.cpp
Labels: Audio, Fix, Linux

#14036 Yet more include cleanups
  xbmc/addons/AddonManager.cpp
  xbmc/addons/interfaces/General.cpp
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/input/mouse/MouseTranslator.cpp
  xbmc/interfaces/legacy/DrmCryptoSession.h
  xbmc/utils/BitstreamStats.h
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
  xbmc/weather/WeatherJob.cpp
Labels: Cleanup, v18 Leia

#14187 Silence some type conversion warnings and fix a possible bug.
  xbmc/Util.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleStream.cpp
  xbmc/guilib/FFmpegImage.cpp
  xbmc/guilib/FFmpegImage.h
  xbmc/guilib/GUIWindowManager.cpp
Labels: Cleanup, Fix, v18 Leia

#13944 link with libbluray instead of loading it dynamic
  CMakeLists.txt
  cmake/modules/FindBluray.cmake
  cmake/scripts/android/Install.cmake
  lib/DllLibbluray.h
  xbmc/DllPaths_generated.h.in
  xbmc/DllPaths_generated_android.h.in
  xbmc/DllPaths_win32.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/filesystem/BlurayCallback.cpp
  xbmc/filesystem/BlurayCallback.h
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/BlurayDirectory.h
  xbmc/filesystem/CMakeLists.txt
  xbmc/settings/DiscSettings.cpp
  xbmc/settings/DiscSettings.h
Labels: Cleanup, v18 Leia

#14185 [lang] Uniformize "not available" string usage
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estouchy/xml/DialogAddonInfo.xml
  addons/skin.estuary/xml/DialogPVRRadioRDSInfo.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  xbmc/LangInfo.cpp
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/addons/Scraper.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/utils/SystemInfo.cpp
Labels: Cleanup, Improvement, Skin, v18 Leia

#14190 [videoplayer] Fix "Iterator 'it' used after element has been erased".
  xbmc/cores/VideoPlayer/Process/VideoBuffer.cpp
Labels: Fix, Video, v18 Leia

#14186 [mir] Drop platform
  cmake/modules/FindMir.cmake
  cmake/platform/linux/mir.cmake
  cmake/scripts/linux/ArchSetup.cmake
  cmake/treedata/optional/common/mir.txt
  tools/depends/configure.ac
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/CMakeLists.txt
  xbmc/windowing/mir/CMakeLists.txt
  xbmc/windowing/mir/GLContextEGL.cpp
  xbmc/windowing/mir/GLContextEGL.h
  xbmc/windowing/mir/WinEventsMir.cpp
  xbmc/windowing/mir/WinEventsMir.h
  xbmc/windowing/mir/WinSystemMir.cpp
  xbmc/windowing/mir/WinSystemMir.h
  xbmc/windowing/mir/WinSystemMirGLContext.cpp
  xbmc/windowing/mir/WinSystemMirGLContext.h
  xbmc/windowing/mir/WinSystemMirGLESContext.cpp
  xbmc/windowing/mir/WinSystemMirGLESContext.h
Labels: Cleanup, v18 Leia

#14195 Fix "Iterator 'it' used after element has been erased".
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/wayland/Registry.cpp
Labels: Fix, v18 Leia

#14189 [PVR] Fix deadlock on Kodi startup - trac#15952
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
Labels: Fix, PVR, v18 Leia

#14191 [guiinfo] Fix 'Slideshow.File(Name|Path|Size|Date)' and 'Slideshow.Index' labels - trac#17956.
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
Labels: Fix, GUI Engine, Picture, v18 Leia

#14196 VideoPlayer: vaapi - fix copy path
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
Labels: Fix, Video, v18 Leia

#14193 VideoPlayer: fix/improve audio stalls of realtime streams
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Fix, Video, v18 Leia

#14169 Games: Add setting to disable autosave
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/IPlayer.h
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAutoSave.cpp
  xbmc/cores/RetroPlayer/RetroPlayerAutoSave.h
  xbmc/games/GameSettings.cpp
  xbmc/games/GameSettings.h
  xbmc/games/addons/playback/GameClientReversiblePlayback.cpp
  xbmc/input/joysticks/JoystickEasterEgg.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Feature, Games, v18 Leia

#14202 [bluray] improve bdj check
  xbmc/settings/DiscSettings.cpp
Labels: Fix, Settings, v18 Leia

#14200 VideoPlayer: reset realtime when opening demuxer, some cleanup
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Fix, Video, v18 Leia

#14197 fix videosettings for items not stored in db
  xbmc/Application.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
Labels: Fix, v18 Leia

#14201 [JSON]Fix filtering in GetSongs and GetAlbums
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
Labels: Fix, JSON-RPC API Change, Music, v18 Leia

#14204 [cleanup][win10] remove drive letter hacks
  xbmc/platform/win10/filesystem/WinLibraryDirectory.cpp
  xbmc/platform/win10/filesystem/WinLibraryFile.cpp
  xbmc/platform/win10/storage/Win10StorageProvider.cpp
Labels: Cleanup, Fix, WindowsStore, v18 Leia

#14205 [PVR] Fix deadlock when removing deleted channels & some code cleanup.
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Fix, PVR, v18 Leia

#14203 [RetroPlayer] Configure renderer sooner
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
Labels: Fix, Games, v18 Leia

#14207 OMXImage: Switch filename to std::string
  xbmc/cores/omxplayer/OMXImage.cpp
  xbmc/cores/omxplayer/OMXImage.h
Labels: Fix, Linux, RPi, v18 Leia

#14198 [gui] Kill g_audioManager
  xbmc/Application.cpp
  xbmc/addons/UISoundsResource.cpp
  xbmc/dialogs/GUIDialogGamepad.cpp
  xbmc/guilib/GUIAudioManager.cpp
  xbmc/guilib/GUIAudioManager.h
  xbmc/guilib/GUIComponent.cpp
  xbmc/guilib/GUIComponent.h
  xbmc/guilib/GUIWindow.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/input/InputManager.cpp
  xbmc/input/joysticks/JoystickEasterEgg.cpp
  xbmc/interfaces/json-rpc/InputOperations.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/network/EventServer.cpp
  xbmc/settings/Settings.cpp
Labels: Cleanup, Improvement, v18 Leia

#14211 X11: some fixes to OML timings
  xbmc/windowing/X11/GLContextEGL.cpp
Labels: Fix, v18 Leia

#14212 FFmpeg: Bump to 4.0.2-Leia-Alpha3
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Dependencies, v18 Leia

#14213 X11: implement GetFrameLatencyAdjustment
  xbmc/windowing/X11/GLContext.h
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/X11/GLContextEGL.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.h
Labels: Improvement, v18 Leia

#14216 Rework FindXkbcommon.cmake
  cmake/modules/FindXkbcommon.cmake
Labels: CMake, Fix, Improvement, v18 Leia

#14165 [database] Reset path hashes when cleaning up files in video database
  xbmc/video/VideoDatabase.cpp
Labels: Database, Video, v18 Leia

#14215 [cmake] fix building with internal fmt
  CMakeLists.txt
  cmake/modules/FindFmt.cmake
Labels: CMake, Fix, v18 Leia

#13867 make sure not to delete a CThread object while spawn thread is in pro…
  xbmc/threads/Thread.cpp
Labels: Fix, v18 Leia

#14218 [depends] bump python27 to 2.7.15
  tools/depends/native/python27-native/Makefile
  tools/depends/target/python27/Makefile
  tools/depends/target/python27/android-binmodule.patch
  tools/depends/target/python27/android-nl_langinfo.patch
  tools/depends/target/python27/android.patch
  tools/depends/target/python27/crosscompile.patch
  tools/depends/target/python27/fix-datetime.patch
  tools/depends/target/python27/fix-ffi.patch
  tools/depends/target/python27/make-fork-optional.patch
  tools/depends/target/python27/no-abort.patch
  tools/depends/target/python27/no-export-path.patch
  tools/depends/target/python27/setup.patch
  tools/depends/target/python27/urllib.patch
Labels: Dependencies, v18 Leia

#14210 [VideoLibrary] Do not scan unsupported plugin sources + fix database cleaning
  addons/xbmc.python/pluginsource.xsd
  xbmc/addons/PluginSource.cpp
  xbmc/addons/PluginSource.h
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/PluginDirectory.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
Labels: Addons, Database, Improvement, Video, v18 Leia

#13746 Use EGLContextUtil in Wayland
  cmake/platform/linux/gbm.cmake
  cmake/platform/linux/wayland.cmake
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.h
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
  xbmc/windowing/wayland/CMakeLists.txt
  xbmc/windowing/wayland/EGLContext.cpp
  xbmc/windowing/wayland/EGLContext.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
Labels: Cleanup, Linux, v18 Leia

#14208 RetroPlayer: Remove width and height state from renderers
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/buffers/BaseRenderBufferPool.cpp
  xbmc/cores/RetroPlayer/buffers/IRenderBuffer.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.h
  xbmc/cores/RetroPlayer/rendering/RenderUtils.cpp
  xbmc/cores/RetroPlayer/rendering/RenderUtils.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGBM.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoShaders/windows/RPWinOutputShader.cpp
  xbmc/cores/RetroPlayer/rendering/VideoShaders/windows/RPWinOutputShader.h
Labels: Games, Improvement, v18 Leia

#14222 [JSON]Fix music source handling to match schema
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Fix, JSON-RPC API Change, Music, v18 Leia

#14220 Keep the order of the add-on context menu items as defined in the addon.xml file
  xbmc/ContextMenuManager.cpp
  xbmc/addons/ContextMenuAddon.cpp
Labels: Addons, Improvement, v18 Leia

#14181 gbm/windowing: reset planes on startup
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMAtomic.h
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
Labels: Fix, Linux, v18 Leia

#14231 [PVR] Guide window: Add 'sorty by' and 'sort order' for epg grid channels
  addons/skin.estuary/xml/Includes_MediaMenu.xml
  xbmc/FileItem.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/windows/GUIViewStatePVR.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
  xbmc/utils/Observer.h
  xbmc/utils/SortUtils.cpp
  xbmc/utils/SortUtils.h
Labels: Improvement, PVR, v18 Leia

#14227 [JSON]Sorting Music Items
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/sqlitedataset.cpp
  xbmc/interfaces/json-rpc/ApplicationOperations.cpp
  xbmc/interfaces/json-rpc/JSONUtils.h
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Database, Fix, JSON-RPC API Change, Music, v18 Leia

#14233 [PVR] Guide window: Only refresh grid data synchronously when actually necessary.
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Fix, PVR, v18 Leia

#14235 [depends] ffmpeg: fix mips build
  tools/depends/target/ffmpeg/CMakeLists.txt
  tools/depends/target/ffmpeg/Makefile
Labels: Dependencies, Fix, v18 Leia

#14236 Fix build on openrisc
  xbmc/cores/DllLoader/DllLoader.h
  xbmc/cores/DllLoader/ldt_keeper.c
  xbmc/utils/MathUtils.h
Labels: Fix, v18 Leia

#14230 VideoPlayer: frame advance - fix + infobool
  xbmc/GUIInfoManager.cpp
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
  xbmc/cores/VideoPlayer/Process/ProcessInfo.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Fix, Video, Wiki-Needed, v18 Leia

#14238 [guiinfo] Fix GUIInfoManager::GetItemImage for non-listitem labels.
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
Labels: Fix, GUI Engine, v18 Leia

#14241 [GUI]Fix window onload control move for music item lists
  xbmc/music/windows/GUIWindowMusicNav.cpp
Labels: Fix, Music, Skin, v18 Leia

#14246 [CUtil] HAS_IRSERVERSUITE is never defined
  xbmc/Util.cpp
Labels: Cleanup, v18 Leia

#14223 [WIN32Utils] Drop strcasestr()
  xbmc/platform/win32/PlatformDefs.h
  xbmc/platform/win32/WIN32Util.cpp
Labels: Cleanup, Windows, v18 Leia

#14244 [Android] Fix for false Flag "Channel is empty"
  tools/android/packaging/xbmc/src/channels/SyncProgramsJobService.java.in
Labels: Android, Fix

#14242 [PVR] Guide window: Prevent concurrent updates.
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Fix, PVR, v18 Leia

#14249 [mir] Clean up mir platform leftover from PR14186
  cmake/platform/linux/mir.cmake
Labels: CMake, Cleanup, v18 Leia

#14247 V18 addons sync with repo
  addons/metadata.artists.universal/addon.xml
  addons/metadata.artists.universal/artistuniversal.xml
  addons/metadata.artists.universal/changelog.txt
  addons/metadata.themoviedb.org/addon.xml
  addons/metadata.themoviedb.org/tmdb.xml
  addons/metadata.tvdb.com/addon.xml
  addons/metadata.tvdb.com/changelog.txt
  addons/metadata.tvdb.com/tvdb.xml
  addons/webinterface.default/addon.xml
  addons/webinterface.default/favicon.png
  addons/webinterface.default/icon-128.png
  addons/webinterface.default/icon-144.png
  addons/webinterface.default/icon-152.png
  addons/webinterface.default/icon-192.png
  addons/webinterface.default/icon.png
  addons/webinterface.default/images/fanart_default/amp.jpg
  addons/webinterface.default/images/fanart_default/cans.jpg
  addons/webinterface.default/images/fanart_default/concert.jpg
  addons/webinterface.default/images/fanart_default/guitar.jpg
  addons/webinterface.default/images/fanart_default/speaker.jpg
  addons/webinterface.default/images/fanart_default/turntable.jpg
  addons/webinterface.default/images/fanart_default/tweeter.jpg
  addons/webinterface.default/images/splash_hi.png
  addons/webinterface.default/images/thumbnail_default.png
  addons/webinterface.default/js/kodi-webinterface.js
  addons/webinterface.default/lang/_strings/cs.json
  addons/webinterface.default/lang/_strings/en.json
  addons/webinterface.default/lang/_strings/es.json
  addons/webinterface.default/lang/_strings/hu.json
  addons/webinterface.default/lang/_strings/pt.json
  addons/webinterface.default/lang/_strings/zh_hans.json
  addons/webinterface.default/lang/en/app-changelog.html
  addons/webinterface.default/lang/en/app-readme.html
  addons/webinterface.default/lang/nl/keybind-readme.html
  addons/webinterface.default/lib/video-js/plugins/videojs-chromecast/videojs-chromecast.css
  addons/webinterface.default/themes/base/css/base.css
  addons/webinterface.default/themes/base/fonts/opensans/opensans-light-webfont.eot
  addons/webinterface.default/themes/base/fonts/opensans/opensans-light-webfont.svg
  addons/webinterface.default/themes/base/fonts/opensans/opensans-light-webfont.ttf
  addons/webinterface.default/themes/base/fonts/opensans/opensans-light-webfont.woff
  addons/webinterface.default/themes/base/fonts/opensans/opensans-light-webfont.woff2
  addons/webinterface.default/themes/base/images/logo.png
  addons/webinterface.default/themes/base/images/row-pause-blue.png
  addons/webinterface.default/themes/base/images/row-pause-pink.png
  addons/webinterface.default/themes/base/images/row-pause-white.png
  addons/webinterface.default/themes/base/images/row-pause.png
  addons/webinterface.default/themes/base/images/thumbnail_default.png
  addons/webinterface.default/videoPlayer.html
Labels: Addons, v18 Leia

#14243 [docs] doxygen fixes
  xbmc/GUIInfoManager.cpp
Labels: Documentation, Fix, v18 Leia

#14239 [guiinfo] Fix PLAYER_(PATH|FILENAME|FILEPATH).
  xbmc/guilib/guiinfo/GUIInfoHelper.cpp
  xbmc/guilib/guiinfo/GUIInfoHelper.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#14251 bump to v18 beta1
  version.txt
Labels: v18 Leia
