Repository xbmc/xbmc, pull requests merged in 2019-04, with the labels that each got.

#15850 [Estuary] Music Track Info Fix
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#15827 [peripherals] remove inclusion of android specific header
  xbmc/peripherals/devices/PeripheralJoystick.cpp
Labels: Component: Input, Type: Fix, v18 Leia

#15855 [tests] use correct storage size
  xbmc/filesystem/test/TestFile.cpp
  xbmc/filesystem/test/TestFileFactory.cpp
  xbmc/filesystem/test/TestZipFile.cpp
  xbmc/test/TestUtils.cpp
  xbmc/utils/test/TestRegExp.cpp
  xbmc/utils/test/TestStringUtils.cpp
  xbmc/utils/test/Testlog.cpp
Labels: Type: Fix, v18 Leia

#15736 fixed: obtaining movie name for stacks
  xbmc/FileItem.cpp
  xbmc/utils/URIUtils.cpp
Labels: v18 Leia

#15861 [cleanup] remove ifdefs
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioChannelLayout.h
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioDevice.h
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioHardware.h
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioStream.h
  xbmc/cores/AudioEngine/Sinks/test/TestAESinkDARWINOSX.cpp
  xbmc/cores/DllLoader/LibraryLoader.h
  xbmc/cores/DllLoader/SoLoader.h
  xbmc/cores/VideoPlayer/Process/rbpi/ProcessInfoPi.cpp
  xbmc/filesystem/ZipManager.cpp
  xbmc/guilib/IMsgTargetCallback.h
  xbmc/network/GUIDialogAccessPoints.h
  xbmc/platform/android/filesystem/AndroidAppDirectory.cpp
  xbmc/platform/android/filesystem/AndroidAppDirectory.h
  xbmc/platform/android/filesystem/AndroidAppFile.cpp
  xbmc/platform/android/filesystem/AndroidAppFile.h
  xbmc/platform/android/powermanagement/AndroidPowerSyscall.cpp
  xbmc/platform/android/powermanagement/AndroidPowerSyscall.h
  xbmc/platform/darwin/AutoPool.mm
  xbmc/platform/darwin/DarwinUtils.mm
  xbmc/platform/darwin/osx/CocoaInterface.mm
  xbmc/platform/darwin/osx/SDLMain.h
  xbmc/platform/darwin/osx/SDLMain.mm
  xbmc/platform/darwin/osx/XBMCHelper.cpp
  xbmc/platform/darwin/osx/XBMCHelper.h
  xbmc/platform/linux/ConvUtils.cpp
  xbmc/platform/linux/PlatformDefs.h
  xbmc/platform/linux/XFileUtils.cpp
  xbmc/platform/linux/XHandle.h
  xbmc/platform/linux/XMemUtils.cpp
  xbmc/platform/linux/XTimeUtils.cpp
  xbmc/platform/posix/filesystem/PosixDirectory.cpp
  xbmc/platform/posix/filesystem/PosixFile.cpp
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
  xbmc/platform/posix/filesystem/SMBFile.cpp
  xbmc/platform/posix/filesystem/SMBFile.h
  xbmc/platform/win10/AsyncHelpers.h
  xbmc/platform/win32/CharsetConverter.cpp
  xbmc/platform/win32/CharsetConverter.h
  xbmc/platform/win32/PlatformDefs.h
  xbmc/platform/win32/filesystem/Win32Directory.cpp
  xbmc/platform/win32/filesystem/Win32File.cpp
  xbmc/platform/win32/filesystem/Win32SMBFile.cpp
  xbmc/windowing/osx/WinSystemOSXGL.h
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Type: Cleanup, v18 Leia

#15830 Fix VAAPI post-processing of PAFF video
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.h
Labels: Component: Video rendering, Platform: Linux, Type: Fix, v18 Leia

#15821 Music library export empty artist folders
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/MusicDatabase.cpp
  xbmc/settings/LibExportSettings.cpp
  xbmc/settings/LibExportSettings.h
  xbmc/settings/dialogs/GUIDialogLibExportSettings.cpp
  xbmc/settings/dialogs/GUIDialogLibExportSettings.h
Labels: Component: Music, Type: Fix, Type: Improvement, v18 Leia

#15805 Include user config and available artwork in music "Choose art type" dialog
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicUtils.cpp
  xbmc/music/MusicUtils.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/infoscanner/MusicInfoScanner.h
Labels: Component: Music, Type: Improvement, v18 Leia

#15860 [python] update WindowXML docs
  xbmc/interfaces/legacy/WindowXML.h
Labels: Component: Python, Documentation, Type: Fix, v18 Leia

#15845 [Application] - register Stereoscopicmanager for message target
  xbmc/Application.cpp
Labels: Component: GUI engine, Type: Fix, v18 Leia

#15864 Music lib export/import songs playback history on separate thread from GUI
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicLibraryQueue.cpp
  xbmc/music/MusicLibraryQueue.h
  xbmc/music/jobs/CMakeLists.txt
  xbmc/music/jobs/MusicLibraryImportJob.cpp
  xbmc/music/jobs/MusicLibraryImportJob.h
  xbmc/settings/LibExportSettings.cpp
  xbmc/settings/LibExportSettings.h
  xbmc/settings/MediaSettings.cpp
  xbmc/settings/dialogs/GUIDialogLibExportSettings.cpp
Labels: Component: Music, Type: Fix, Type: Improvement, v18 Leia

#15857 Add available artwork to the video 'Choose art type' dialog
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
Labels: Component: Video, Type: Improvement, v18 Leia

#15870 [Music]Fix singles node sort orders
  xbmc/music/GUIViewStateMusic.cpp
Labels: Component: Music, Type: Fix, v18 Leia

#15879 [cleanup] remove retroplayer leftovers after #14209
  xbmc/cores/RetroPlayer/savestates/Savestate.cpp
  xbmc/cores/RetroPlayer/savestates/Savestate.h
  xbmc/cores/RetroPlayer/savestates/SavestateDefines.h
  xbmc/cores/RetroPlayer/savestates/SavestateReader.cpp
  xbmc/cores/RetroPlayer/savestates/SavestateReader.h
  xbmc/cores/RetroPlayer/savestates/SavestateTranslator.cpp
  xbmc/cores/RetroPlayer/savestates/SavestateWriter.cpp
  xbmc/cores/RetroPlayer/savestates/SavestateWriter.h
Labels: Type: Cleanup, v18 Leia

#15878 [Android] Prevent modeswitch when native_window is invalid
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Component: Video, Platform: Android, Type: Fix, v18 Leia

#15873 DVDDemuxFFmpeg: Do not discard stream indexes belonging to program
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Fix, v18 Leia

#15877 Find 3:2 pullback when searching for matching resolutions
  xbmc/windowing/Resolution.cpp
Labels: Component: Video, Type: Improvement, v18 Leia

#15883 CRenderBufferPoolGBM: use DRM_FORMAT_ARGB1555 for AV_PIX_FMT_RGB555
  xbmc/cores/RetroPlayer/buffers/RenderBufferPoolGBM.cpp
Labels: Component: GLES rendering, Platform: Linux, Type: Fix, v18 Leia

#15889 [Android] Add colorMode to android:configChanges to avoid restarts
  tools/android/packaging/xbmc/AndroidManifest.xml.in
Labels: Component: Windowing, Platform: Android, Type: Fix, v18 Leia

#15880 [LinuxRendererGLES] Fix pixelstore usage
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Component: Video, Component: Video rendering, Platform: AMLogic, Platform: Android, Platform: Linux, Type: Fix, v18 Leia

#15892 Fix debug log statement in Windows NotificationClient
  xbmc/platform/win32/IMMNotificationClient.h
Labels: Platform: Windows, Type: Fix, v18 Leia

#15867 [Music]Fix art loading for music located on server
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Component: Music, Type: Fix, v18 Leia

#15882 [PVR] Initialize timer info tag with first available timer type from client
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimerType.h
Labels: Component: PVR, Type: Fix, v18 Leia

#15859 Amlogic fixes from community builds
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAmlogic.cpp
  xbmc/utils/AMLUtils.cpp
  xbmc/windowing/amlogic/VideoSyncAML.cpp
Labels: Platform: AMLogic

#15884 CEGLImage: don't add modifiers if they are just linear
  xbmc/utils/EGLImage.cpp
Labels: Component: GLES rendering, Platform: Linux, Type: Fix, v18 Leia

#15904 [darwin][packaging] adjust minimum iOS version to 9.0 after 4020c8649d
  tools/darwin/packaging/ios/mkdeb-ios.sh.in
Labels: Platform: iOS, Type: Fix, v18 Leia

#15763 Controller dialog: Update controllers after controller addon installation
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerList.h
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/IConfigurationWindow.h
Labels: Component: Games, Component: Input, Type: Improvement

#15920 Bump to v19 alpha1
  media/splash.jpg
  version.txt
Labels: v19 M***

#15886 [cmake] enable using ccache with xcode
  cmake/modules/FindCCache.cmake
Labels: CMake, Type: Improvement, v19 M***

#15133 [Docs] Add xrefitems for v19 (python and skinning engine)
  docs/doxygen/Doxyfile.doxy
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/addons/kodi-addon-dev-kit/doxygen/Skin/skin.dox
Labels: Documentation, No Jenkins, v19 M***

#15863 [darwin] properly split ios and osx code
  cmake/treedata/ios/subdirs.txt
  cmake/treedata/osx/subdirs.txt
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINIOS.mm
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.cpp
  xbmc/cores/AudioEngine/Sinks/darwin/CoreAudioHelpers.cpp
  xbmc/cores/AudioEngine/Sinks/darwin/CoreAudioHelpers.h
  xbmc/cores/AudioEngine/Sinks/osx/AEDeviceEnumerationOSX.cpp
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioDevice.cpp
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioHardware.cpp
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioStream.cpp
  xbmc/cores/AudioEngine/Sinks/test/TestAESinkDARWINOSX.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VTB.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGLES.cpp
  xbmc/guilib/GUIEditControl.cpp
  xbmc/guilib/TextureManager.cpp
  xbmc/interfaces/builtins/AddonBuiltins.cpp
  xbmc/network/Zeroconf.cpp
  xbmc/network/ZeroconfBrowser.cpp
  xbmc/peripherals/bus/PeripheralBusUSB.h
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/platform/darwin/network/CMakeLists.txt
  xbmc/platform/darwin/network/ZeroconfBrowserDarwin.cpp
  xbmc/platform/darwin/network/ZeroconfBrowserDarwin.h
  xbmc/platform/darwin/network/ZeroconfDarwin.cpp
  xbmc/platform/darwin/network/ZeroconfDarwin.h
  xbmc/platform/darwin/network/ioshacks.h
  xbmc/platform/darwin/osx/SDLMain.mm
  xbmc/platform/darwin/osx/network/CMakeLists.txt
  xbmc/platform/darwin/osx/peripherals/PeripheralBusUSB.cpp
  xbmc/platform/darwin/osx/peripherals/PeripheralBusUSB.h
  xbmc/platform/darwin/osx/powermanagement/CocoaPowerSyscall.cpp
  xbmc/platform/darwin/osx/powermanagement/CocoaPowerSyscall.h
  xbmc/platform/darwin/storage/CMakeLists.txt
  xbmc/platform/darwin/storage/DarwinStorageProvider.cpp
  xbmc/platform/darwin/storage/DarwinStorageProvider.h
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/utils/RssReader.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/windowing/ios/CMakeLists.txt
  xbmc/windowing/ios/VideoSyncIos.cpp
  xbmc/windowing/ios/VideoSyncIos.h
  xbmc/windowing/ios/WinEventsIOS.h
  xbmc/windowing/ios/WinEventsIOS.mm
  xbmc/windowing/ios/WinSystemIOS.h
  xbmc/windowing/ios/WinSystemIOS.mm
  xbmc/windowing/osx/CMakeLists.txt
Labels: Platform: iOS, Platform: macOS, Type: Improvement, v19 M***

#15522 [windows] videoPlayer: re-work rendering and decoding video on windows.
  system/shaders/output_d3d.fx
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
  xbmc/cores/VideoPlayer/Process/windows/ProcessInfoWin.cpp
  xbmc/cores/VideoPlayer/Process/windows/ProcessInfoWin10.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCapture.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererHQ.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererHQ.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/dx/RenderSystemDX.h
  xbmc/utils/Screenshot.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Component: Video, Component: Video rendering, Platform: Windows, RFC, Type: Cleanup, Type: Fix, v19 M***

#15767 [guilib][guiinfo][video][Estuary] Feature: Seek dialog: Add EDL and chapter marker visualisation.
  addons/skin.estuary/xml/DialogSeekBar.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/CMakeLists.txt
  xbmc/cores/Cut.h
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/guilib/CMakeLists.txt
  xbmc/guilib/GUIControl.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIRangesControl.cpp
  xbmc/guilib/GUIRangesControl.dox
  xbmc/guilib/GUIRangesControl.h
  xbmc/guilib/_Controls.dox
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
Labels: Component: GUI engine, Component: Skin, Component: Video, Type: Feature, Wiki: Needed, v19 M***

#15648 [PVR] Inconsistencies in Guide/Channel/Recordings Info Dialogs
  addons/skin.estouchy/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/DialogPVRInfo.xml
  xbmc/pvr/dialogs/GUIDialogPVRRecordingInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingInfo.h
Labels: Component: PVR, Component: Skin, Type: Improvement, v19 M***

#15796 Add addon settingslevel button
  addons/skin.estouchy/xml/DialogAddonSettings.xml
  addons/skin.estuary/xml/DialogAddonSettings.xml
  xbmc/addons/settings/GUIDialogAddonSettings.cpp
  xbmc/addons/settings/GUIDialogAddonSettings.h
Labels: Component: Settings, Component: Skin, Type: Feature, v19 M***

#14528 [Kodi] Removed unused string
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Cleanup, v19 M***

#15869 [json-rpc][pvr] Recordings: add fields season, episode and showtitle
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: PVR, v19 M***

#15687 Improve default keyboardlayout
  system/keyboardlayouts/english.xml
Labels: Component: Input, Type: Improvement, v19 M***

#15930 [guiinfo] Fix crash in CPlayerGUIInfo::GetContentRanges.
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Component: GUI engine, Type: Fix, v19 M***

#15931 Leia: Changed repo-binary-addons branch to 'Leia'.
  cmake/addons/bootstrap/repositories/binary-addons.txt
Labels: CMake, Component: Binary add-ons, v18 Leia

#15925 Remove dead code for static libdvdnav
  xbmc/cores/VideoPlayer/DVDInputStreams/DllDvdNav.h
Labels: Type: Cleanup, v19 M***

#15924 [win10] bump SDK to v10.0.17763.0
  cmake/scripts/windowsstore/ArchSetup.cmake
  docs/README.Windows.md
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  tools/buildsteps/windows/BuildSetup.bat
  tools/buildsteps/windows/vswhere.bat
Labels: Component: Depends, Platform: WindowsStore, Type: Improvement, v19 M***

#15935 [cleanup] remove outated iOS version checks
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGLES.cpp
  xbmc/platform/darwin/DarwinUtils.h
  xbmc/platform/darwin/DarwinUtils.mm
  xbmc/platform/darwin/ios/IOSKeyboardView.mm
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/settings/Settings.cpp
Labels: Platform: iOS, Type: Cleanup, v19 M***

#15885 CEGLImage: dump attributes if the import fails
  xbmc/utils/EGLImage.cpp
  xbmc/utils/EGLUtils.h
Labels: Component: GLES rendering, Component: Logging, Platform: Linux, Type: Improvement

#15933 [cleanup] remove unused AMLUtils functions
  xbmc/utils/AMLUtils.cpp
  xbmc/utils/AMLUtils.h
Labels: Platform: AMLogic, Type: Cleanup, v19 M***

#15921 [VideoInfoScanner] don't call CVideoInfoDownloader::GetArtwork if plugin is used as a video source
  xbmc/video/VideoInfoScanner.cpp
Labels: Backport: Done, Backport: Needed, Type: Fix, v19 M***

#15926 [VideoInfoScanner] don't call CVideoInfoDownloader::GetArtwork if plugin is used as a video source
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#15898 [interfaces] use fixed date string in PythonSwig.cpp
  xbmc/interfaces/python/PythonSwig.cpp.template
Labels: Component: Python, Type: Improvement, v19 M***

#15919 [Apple TV] Tools and dependencies support
  docs/README.tvOS.md
  tools/buildsteps/defaultenv
  tools/buildsteps/tvos/configure-depends
  tools/buildsteps/tvos/make-depends
  tools/buildsteps/tvos/make-native-depends
  tools/buildsteps/tvos/prepare-depends
  tools/depends/configure.ac
  tools/depends/target/openssl/Makefile
Labels: Component: Depends, Platform: iOS, v19 M***

#15940 [cmake] sort treedata
  cmake/treedata/android/subdirs.txt
  cmake/treedata/common/filesystem.txt
  cmake/treedata/common/tests.txt
  cmake/treedata/common/videoplayer.txt
  cmake/treedata/freebsd/subdirs.txt
  cmake/treedata/ios/subdirs.txt
  cmake/treedata/linux/subdirs.txt
  cmake/treedata/optional/common/X.txt
  cmake/treedata/optional/common/aml.txt
  cmake/treedata/optional/common/gbm.txt
  cmake/treedata/optional/common/wayland.txt
  cmake/treedata/osx/subdirs.txt
  cmake/treedata/windows/subdirs.txt
  cmake/treedata/windowsstore/subdirs.txt
Labels: CMake, v19 M***

#15942 Fix / secure 2 code places
  xbmc/dialogs/GUIDialogMediaSource.cpp
  xbmc/messaging/ApplicationMessenger.cpp
Labels: Backport: Needed, Type: Fix, v18 Leia

#15928 [GBM] CRendererDRMPRIMEGLES improvements
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/EGLFence.cpp
  xbmc/utils/EGLFence.h
Labels: Component: GLES rendering, Component: Video rendering, Platform: Linux, Type: Improvement, v19 M***

#15922 CDRMUtils: rework modifiers flag selection
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Component: Logging, Platform: Linux, Type: Cleanup

#15946 CDRMUtils: fallback to drmModeAddFB2 if drmModeAddFB2WithModifiers fails
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Component: Windowing, Platform: Linux, Type: Fix, v19 M***

#15781 Use CMAKE_CXX_STANDARD to settle on --std= C++ option
  CMakeLists.txt
  cmake/KodiConfig.cmake.in
  cmake/modules/FindCXX11.cmake
  cmake/scripts/common/PrepareEnv.cmake
  cmake/scripts/ios/ArchSetup.cmake
  cmake/scripts/linux/ArchSetup.cmake
  cmake/scripts/linux/Install.cmake
  cmake/scripts/osx/ArchSetup.cmake
Labels: CMake, Type: Improvement, v19 M***

#15944 Forward Port of: #15942: Fix / secure 2 code places
  xbmc/dialogs/GUIDialogMediaSource.cpp
  xbmc/messaging/ApplicationMessenger.cpp
Labels: Backport: Done, v19 M***

#15950 bump version code and addon api for v19 alpha1
  version.txt
Labels: v19 M***

#15955 Leia: Bump Version and add splash for 18.2
  media/splash.jpg
  version.txt
Labels: v18 Leia

#15957 Version: Increase Leia version to 18.3-RC1
  media/splash.jpg
  version.txt
Labels: v18 Leia

#15967 [ios] use dpkg-deb --root-owner-group for deb creation
  tools/darwin/packaging/ios/mkdeb-ios.sh.in
  tools/depends/native/Makefile
  tools/depends/native/dpkg-native/01-no-gnu-patch.patch
  tools/depends/native/dpkg-native/02-perl-min-version.patch
  tools/depends/native/dpkg-native/03-lzma-compression.patch
  tools/depends/native/dpkg-native/Makefile
  tools/depends/native/fakeroot-native/01-darwin14-openat.patch
  tools/depends/native/fakeroot-native/Makefile
  tools/depends/native/tar-native/Makefile
  tools/depends/native/tar-native/fix_xattrs_configure.patch
Labels: Component: Depends, Platform: iOS, Type: Improvement, v19 M***

#15951 Use repo bin addons Matrix branch
  cmake/addons/bootstrap/repositories/binary-addons.txt
Labels: CMake, Component: Binary add-ons, v19 Matrix

#15969 [Android] Check for icon stride instead assuming 4 BPP
  xbmc/platform/android/filesystem/AndroidAppFile.cpp
Labels: Platform: Android, Type: Fix, v19 Matrix

#15962 Mediabrowser
  xbmc/dialogs/GUIDialogMediaSource.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#15971 [settings] Fix media source path substitution.
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
Labels: Backport: Done, Component: Settings, Type: Fix, v19 Matrix

#15972 [settings] Fix media source path substitution.
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
Labels: Component: Settings, Type: Fix, v18 Leia

#14345 added: support for queue item as default select action
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Component: Video, Type: Feature, Type: Improvement, Wiki: Needed, v19 Matrix

#15970 [FIX] - Kodi crashes with empty node in advanced settings file
  xbmc/settings/AdvancedSettings.cpp
Labels: Backport: Done, Component: Settings, Type: Fix, v19 Matrix

#15953 [PVR][addons][json-rpc][estuary][estouchy] PVR Addon API 6.0.0
  addons/skin.estouchy/media/epg_archive.png
  addons/skin.estouchy/xml/ViewsPVR.xml
  addons/skin.estuary/media/icons/pvr/PVR-HasArchive.png
  addons/skin.estuary/media/windows/pvr/archive.png
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_epg_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
Labels: API change: JSON-RPC, API change: PVR, Component: PVR, Type: Cleanup, Type: Feature, Type: Improvement, v19 Matrix

#15803 [addons] add settings support for property condition (basic conditions only)
  xbmc/addons/settings/AddonSettings.cpp
Labels: Component: Add-ons, Type: Fix, Type: Improvement

#15986 Matrix addon repository
  addons/repository.xbmc.org/addon.xml
Labels: v19 Matrix

#15980 VideoPlayerCodec: Ask Demuxer to seek for us
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Component: Audio, Type: Fix, v19 Matrix

#15936 LibInputKeyboard: re-add support for KEY_STOP as we had in CLinuxInputDevices
  xbmc/platform/linux/input/LibInputKeyboard.cpp
Labels: Component: Input, Platform: AMLogic, Platform: Linux, Platform: RPi, Type: Improvement, v19 Matrix

#15978 [FIX] - Kodi crashes with empty node in advanced settings file
  xbmc/settings/AdvancedSettings.cpp
Labels: Component: Settings, Type: Backport, Type: Fix, v18 Leia

#15974 CGUIDialogMediaBrowser: Fix usage of wrong item index
  xbmc/dialogs/GUIDialogMediaSource.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#15932 GL: fix HAS_FLOAT_TEXTURE usage
  system/shaders/GL/1.2/gl_convolution-4x4.glsl
  system/shaders/GL/1.2/gl_convolution-6x6.glsl
  system/shaders/GL/1.5/gl_convolution-4x4.glsl
  system/shaders/GL/1.5/gl_convolution-6x6.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGLES.cpp
Labels: Backport: Done, Component: GL rendering, Component: GLES rendering, Component: Video rendering, Type: Fix, v19 Matrix

#16007 [addons] add dummy libraries to screensaver to prevent error
  addons/screensaver.xbmc.builtin.black/addon.xml.in
  addons/screensaver.xbmc.builtin.dim/addon.xml.in
Labels: Component: Add-ons, v19 Matrix

#15609 [addons] add GetTime... function and possibility to get ID3D11DeviceContext all the time
  xbmc/addons/ScreenSaver.cpp
  xbmc/addons/Visualization.cpp
  xbmc/addons/interfaces/GUI/General.cpp
  xbmc/addons/interfaces/GUI/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/definitions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/tools/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/tools/Time.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/win10/WinSystemWin10DX.h
  xbmc/windowing/windows/WinSystemWin32DX.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Improvement, v19 Matrix

#16006 [addons] Bring back audioengine addon interface (not ADSP)
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/interfaces/AudioEngine.cpp
  xbmc/addons/interfaces/AudioEngine.h
  xbmc/addons/interfaces/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AudioEngine.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Feature, v19 Matrix

#15610 [addons] add OpenGL support to the addon interface and allow GL usage via DirectX
  cmake/treedata/common/subdirs.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Screensaver.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Visualization.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Rendering.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/GL.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/GLonDX.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/Shader.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/renderHelper.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Improvement, v19 Matrix

#16005 [PVR] Rework epg db storage setting semantics. Default to 'do not store'
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: PVR, Type: Improvement, v19 Matrix

#15949 CWinSystemGbm: only lock the front buffer if something is rendered
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Component: Windowing, Platform: Linux, Type: Improvement, v19 Matrix

#16011 [Estuary] favourites widget would not scroll to end on 16:10 displays
  addons/skin.estuary/xml/Home.xml
Labels: Backport: Needed, Component: Skin, Type: Fix, v19 Matrix

#15964 DVDVideoCodecDRMPRIME: update process info in get format callback
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
Labels: Component: Video, Platform: Linux, Type: Improvement, v19 Matrix

#15991 Use fanart to hide spoilers if available
  xbmc/video/VideoThumbLoader.cpp
Labels: Component: Content, Type: Improvement, v19 Matrix

#16016 [Estuary] favourites widget would not scroll to end on 16:10 displays
  addons/skin.estuary/xml/Home.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#16010 [addons] use correct revision for kodi-platform
  cmake/addons/depends/common/kodi-platform/kodi-platform.txt
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#16018 [ios] Move keyboard and keyboardview to ios-common
  xbmc/dialogs/GUIDialogKeyboardTouch.cpp
  xbmc/platform/darwin/ios-common/CMakeLists.txt
  xbmc/platform/darwin/ios-common/IOSKeyboard.h
  xbmc/platform/darwin/ios-common/IOSKeyboard.mm
  xbmc/platform/darwin/ios-common/IOSKeyboardView.h
  xbmc/platform/darwin/ios-common/IOSKeyboardView.mm
  xbmc/platform/darwin/ios/CMakeLists.txt
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/ios/XBMCApplication.mm
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/platform/darwin/ios/XBMCDebugHelpers.h
Labels: Platform: iOS, Type: Cleanup, v19 Matrix

#16019 Fix formatting of VideoThumbLoader
  xbmc/video/VideoThumbLoader.cpp
Labels: Component: Video, Type: Cleanup, v19 Matrix
