Repository xbmc/xbmc, pull requests merged in 2019-01, with the labels that each got.

#15161 RendererVDPAU: Do not use memset on non-trivial type
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVDPAU.cpp
Labels: Fix

#14933 [skin] Bump GUI ABI to 5.14.0
  addons/xbmc.gui/addon.xml
Labels: GUI API Change, No-Jenkins, v18 Leia

#15155 Fix *All Albums item removed by Coverity fix
  xbmc/music/windows/MusicFileItemListModifier.cpp
Labels: Fix, Music, v18 Leia

#15184 [guiinfo] Fix Player.Duration / Musicplayer.Duration time format para…
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
Labels: Fix, GUI Engine, v18 Leia

#15190 Coverity fix to remove switch implicit fall through
  xbmc/music/windows/MusicFileItemListModifier.cpp
Labels: Cleanup, Fix, v18 Leia

#15174 [Estuary] display seekbar on showtime action
  addons/skin.estuary/xml/DialogSeekBar.xml
Labels: Fix, Skin, v18 Leia

#15092 Replace CREATE TABLE […] AS SELECT […]
  xbmc/video/VideoDatabase.cpp
  xbmc/view/ViewDatabase.cpp
Labels: Database, Fix, v18 Leia

#15016 Resolution: Don't add half refreshrates by default
  xbmc/windowing/Resolution.cpp
Labels: Video, v18 Leia

#15132 [SmartPlaylists] Define DynPath for items retrieved from library
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Fix, Video, v18 Leia

#15102 [airtunes/linux] - fix airtunes/shairplay not working on linux
  tools/depends/target/libshairplay/0001-configure-fix-dns-sd-check.patch
  tools/depends/target/libshairplay/Makefile
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/cores/paplayer/PAPlayer.h
  xbmc/network/AirTunesServer.cpp
  xbmc/network/AirTunesServer.h
  xbmc/platform/linux/network/ZeroconfAvahi.cpp
Labels: Fix, Linux, iOS, macOS, v18 Leia

#14998 Add force flag to enable update file item in inactive window
  xbmc/FileItem.cpp
  xbmc/GUIUserMessages.h
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Fix, v18 Leia

#15193 [wayland] Request new frame cb only when previous one was signaled
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Fix, Linux, v18 Leia

#15185 [database] Make season_view and tvshow_view SQL ANSI92-compliant
  xbmc/video/VideoDatabase.cpp
Labels: Database, Fix, v18 Leia

#15199 [osx/WinEventsSDL] - don't disable gui rendering when losing focus
  xbmc/windowing/osx/WinEventsSDL.cpp
Labels: Fix, macOS, v18 Leia

#15205 [PVR] guiinfo times: reset timeshift offset and timeshift play time after channel change. fixes #15175
  xbmc/pvr/PVRGUITimesInfo.cpp
  xbmc/pvr/PVRGUITimesInfo.h
Labels: Fix, PVR, v18 Leia

#15207 Correct order of colors in the bottom line
  xbmc/video/Teletext.cpp
Labels: Fix, PVR, v18 Leia

#15209 [docs] Minor fixes
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  xbmc/interfaces/legacy/ModuleXbmcplugin.h
Labels: Documentation, No-Jenkins, v18 Leia

#15204 [PluginDirectory] - ensure that Abort of ScriptObserver waits for thread exit - fix crash&burn
  xbmc/filesystem/PluginDirectory.cpp
Labels: Fix, v18 Leia

#15191 Fix Artist Info dialog click on discography
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
Labels: Fix, Music, v18 Leia

#15213 Prevent crash when trying to resume audiobook with no chapters
  xbmc/music/MusicDatabase.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Database, Fix, Music, v18 Leia

#15228 VideoInfoScanner: Correctly redact URLs
  xbmc/video/VideoInfoScanner.cpp
Labels: Fix, Logging, Video, v18 Leia

#15222 Improve detection of audio CDs using an infobool
  addons/skin.estuary/xml/Home.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Improvement, Wiki-Needed, v18 Leia

#15231 [docs] Fix typo
  xbmc/GUIInfoManager.cpp
Labels: Documentation, Fix, v18 Leia

#15235 [database] Move join subquery into separate view for ancient MySQL
  xbmc/video/VideoDatabase.cpp
Labels: Database, Fix, v18 Leia

#15237 bump v18.0 RC5 to rev. 2
  version.txt
Labels: No-Jenkins, v18 Leia

#15238 GLContextEGL: Remove logging
  xbmc/windowing/X11/GLContextEGL.cpp
Labels: Fix

#15234 FFmpeg: Bump to 4.0.3-Leia-RC5
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Dependencies, v18 Leia

#15249 [videopayer] WinRenderer: don't keep past frames for progressive mate…
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderBuffer.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
Labels: Fix, Rendering Video, Windows, WindowsStore, v18 Leia

#15246 Add missing POP to return to the calling directory after error
  tools/buildsteps/windows/download-dependencies.bat
Labels: Fix, Windows, v18 Leia

#15247 Game add-ons: Fall back to system path if profile path is empty
  xbmc/games/addons/GameClientProperties.cpp
Labels: Fix, Games, v18 Leia

#15263 [Android] Log kernel ThreadId instead pthread_self
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
Labels: Android, Logging, v18 Leia

#15264 [py-docs] fix version info for getDbId
  xbmc/interfaces/legacy/InfoTagMusic.h
  xbmc/interfaces/legacy/ListItem.h
Labels: Documentation, Fix, v18 Leia

#15275 [Estuary] Tweak PVR guide layout. Fixes #15271.
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MyPVRGuide.xml
Labels: Fix, PVR, Skin, v18 Leia

#15259 [Estuary] fix undefined font references
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/VideoFullScreen.xml
Labels: Fix, Skin, v18 Leia

#15256 FFmpeg: Fix missing include
  xbmc/cores/FFmpeg.h
Labels: Fix, v18 Leia

#15277 Fix artist discography for MySQL
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Fix, Music, v18 Leia

#15281 [video][filesystem] Fix "XFILE::CFileFactory::CreateLoader - unsupported protocol(pvr)" logspam.
  xbmc/filesystem/FileFactory.cpp
  xbmc/video/VideoThumbLoader.cpp
Labels: Fix, PVR, v18 Leia

#15284 Fix party mode slowness on MySQL
  xbmc/music/MusicDatabase.cpp
Labels: Fix, Music, v18 Leia

#15262 Deprecate MySQL < 5.6, MariaDB < 5.5
  xbmc/dbwrappers/mysqldataset.cpp
Labels: Cleanup, Database, Wiki-Needed

#15300 [videoplayer] dxva: fixed uhd hevc-main10 playback on xbox
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Fix, Rendering Video, WindowsStore, v18 Leia

#15305 [StringUtils] fix crash on addon install when using fmt 5.3
  xbmc/utils/StringUtils.cpp
Labels: Fix, v18 Leia

#15227 Audiobook fixes
  xbmc/Application.cpp
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicBase.h
Labels: Fix, v18 Leia

#15276 [MacOS] Fix stack-buffer-underflow
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Fix, macOS, v18 Leia

#15298 [guilib] GUISliderControl - don't scale if dimensions are zero
  addons/skin.estuary/xml/Custom_1103_VolumeSlider.xml
  xbmc/guilib/GUISliderControl.cpp
Labels: Fix, GUI Engine, v18 Leia

#15311 [GUI] refresh debug overlay if smartredraw is activated
  xbmc/windows/GUIWindowDebugInfo.cpp
Labels: Fix, Rendering GUI, v18 Leia

#15313 GLContextEGL: Properly guard members
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/X11/GLContextEGL.h
Labels: Fix, v18 Leia

#15274 [guilib] Ensure ListItems release the layout before it is destroyed
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Fix, GUI Engine, v18 Leia

#15301 [CryptThreading] Support CRYPTO_THREADID_set_callback() of OpenSSL 1.0.x
  xbmc/utils/CryptThreading.cpp
Labels: Fix, v18 Leia

#15279 [addons] add define ATTRIBUTE_FORCEINLINE on addon header
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: Binary Addons, Improvement, v18 Leia

#15321 [cmake] replace patch file with actual commands in add_addon_depends
  cmake/scripts/common/HandleDepends.cmake
Labels: CMake, v18 Leia

#15322 [cleanup] remove repository.pvr-win32.xbmc.org from installdata
  cmake/installdata/windows/addons.txt
  cmake/installdata/windowsstore/addons.txt
Labels: CMake, Cleanup, Windows, v18 Leia

#15326 [GLES] fix check for GL_EXT_unpack_subimage
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Fix, v18 Leia

#15323 [JSON]Fix AudioLibrary.GetGenres return of empty "sourceid"
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
Labels: Fix, JSON-RPC API Change, Music, v18 Leia

#15267 Reverse B button actions in joystick keymap
  system/keymaps/joystick.xml
Labels: Input, v18 Leia

#15310 Active Skin Update - Force Close TextureBundle
  xbmc/addons/Skin.cpp
  xbmc/guilib/TextureBundle.cpp
  xbmc/guilib/TextureBundle.h
  xbmc/guilib/TextureBundleXBT.cpp
  xbmc/guilib/TextureBundleXBT.h
  xbmc/guilib/TextureManager.cpp
Labels: Fix, Skin, v18 Leia

#15332 [File] use dynpath for mime-type detection
  xbmc/FileItem.cpp
Labels: Fix, v18 Leia

#15307 [skins] define textwidth for sliderex controls
  addons/skin.estouchy/xml/DialogAddonSettings.xml
  addons/skin.estouchy/xml/DialogSettings.xml
  addons/skin.estuary/xml/DialogAddonSettings.xml
  addons/skin.estuary/xml/DialogSettings.xml
Labels: Fix, Skin, v18 Leia

#15299 [docs] Add pvr.seek to possible actions of SliderControl
  xbmc/guilib/GUISliderControl.dox
Labels: Documentation, PVR, Wiki-Needed, v18 Leia

#15318 [VideoPlayer] Improve forced aspect_ratio
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/windowing/Resolution.cpp
Labels: Fix, Rendering Video, Video, v18 Leia

#15329 [PVR] Fix duplicate channel numbers
  xbmc/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
Labels: Fix, PVR, v18 Leia

#15340 [Music]Fix slow random artist and albums home screen widgets
  xbmc/music/MusicDatabase.cpp
Labels: Fix, Music, v18 Leia

#15208 bump to v18.0 final
  media/splash.jpg
  version.txt
Labels: v18 Leia

#15352 bump to v18.1 RC1
  media/splash.jpg
  version.txt
Labels: v18 Leia

#15328 [Estuary] videoinfo - add movieset button
  addons/skin.estuary/media/icons/infodialogs/set.png
  addons/skin.estuary/xml/DialogVideoInfo.xml
Labels: 18.1, Feature, Skin

#15327 [Estuary] make mediainfo list focusable
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Includes_Buttons.xml
Labels: 18.1, Improvement, Skin

#15248 (Win32) Check the system capabilities to support sleep states S1/S2/S3/S4 before reporing them as available
  xbmc/platform/win32/powermanagement/Win32PowerSyscall.cpp
  xbmc/platform/win32/powermanagement/Win32PowerSyscall.h
Labels: Improvement, Windows, v18 Leia

#15342 [Estouchy] cosmetic fixes
  addons/skin.estouchy/language/resource.language.en_gb/strings.po
  addons/skin.estouchy/media/OverlayUnwatched.png
  addons/skin.estouchy/xml/Defaults.xml
  addons/skin.estouchy/xml/DialogAddonInfo.xml
  addons/skin.estouchy/xml/DialogAddonSettings.xml
  addons/skin.estouchy/xml/DialogSettings.xml
  addons/skin.estouchy/xml/Includes.xml
  addons/skin.estouchy/xml/MyMusicPlaylistEditor.xml
  addons/skin.estouchy/xml/MyWeather.xml
  addons/skin.estouchy/xml/SettingsScreenCalibration.xml
Labels: 18.1, Fix, Skin

#15362 [fix] logical or operation
  xbmc/addons/interfaces/GUI/ListItem.cpp
  xbmc/addons/interfaces/GUI/controls/FadeLabel.cpp
Labels: Fix, v18 Leia

#15359 [cmake] fix policy CMP0053
  cmake/scripts/common/AddonHelpers.cmake
Labels: Binary Addons, CMake, Cleanup, v18 Leia

#15376 [depends] remove unused platform lib
  tools/depends/target/Makefile
  tools/depends/target/platform/Makefile
Labels: Cleanup, Dependencies, v18 Leia

#15368 [Demux] VP9 does not provide extradata
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.h
Labels: Binary Addons, Fix, Video, v18 Leia

#15383 [win10] filesystem: catch an exception while reading or writing a file.
  xbmc/platform/win10/filesystem/WinLibraryFile.cpp
Labels: 18.1, Fix, WindowsStore

#15382 [videoplayer] winrenderer: do scaling in output shader instead of yuv2rgb shader
  system/shaders/yuv2rgb_d3d.fx
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/utils/Geometry.h
Labels: 18.1, Fix, Rendering Video, Windows
