Repository xbmc/xbmc, pull requests merged in 2019-07, with the labels that each got.

#16330 [filesystem] Corrections to CircularCache initialization and termination
  xbmc/filesystem/CircularCache.cpp
Labels: Type: Fix, v19 Matrix

#14091 Screenshot rework and split up
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/ScreenshotSurfaceRBP.cpp
  xbmc/platform/linux/ScreenshotSurfaceRBP.h
  xbmc/rendering/dx/CMakeLists.txt
  xbmc/rendering/dx/ScreenshotSurfaceWindows.cpp
  xbmc/rendering/dx/ScreenshotSurfaceWindows.h
  xbmc/rendering/gl/CMakeLists.txt
  xbmc/rendering/gl/ScreenshotSurfaceGL.cpp
  xbmc/rendering/gl/ScreenshotSurfaceGL.h
  xbmc/rendering/gles/CMakeLists.txt
  xbmc/rendering/gles/ScreenshotSurfaceGLES.cpp
  xbmc/rendering/gles/ScreenshotSurfaceGLES.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/IScreenshotSurface.h
  xbmc/utils/Screenshot.cpp
  xbmc/utils/Screenshot.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/ios/WinSystemIOS.mm
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/rpi/WinSystemRpiGLESContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Platform: Linux, Platform: Windows, Type: Cleanup, v19 Matrix

#16332 Revert "fixed: We should always update stream details from player (fi…
  xbmc/Application.cpp
Labels: Backport: Done, Backport: Needed, v19 Matrix

#16339 [fix] use gas-preprocessor as as for armv7 on ios
  tools/depends/target/ffmpeg/Makefile
Labels: Component: Depends, Platform: iOS, Type: Fix, v19 Matrix

#16296 [Android] Don't consider display mode ids constant.
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/AndroidUtils.h
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
Labels: Backport: Needed, Component: Windowing, Platform: Android, Type: Fix, v19 Matrix

#16340 [Android] Don't consider display mode ids constant.
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/AndroidUtils.h
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
Labels: Component: Windowing, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#16343 [PVR][guiinfo][Estuary] New GUI info bool: PVR.IsPlayingActiveRecording
  addons/skin.estuary/xml/DialogSeekBar.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/PVRGUIInfo.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
Labels: Component: PVR, Type: Improvement, v19 Matrix

#16346 [cmake] Use CORE_PLATFORM_NAME, not PLATFORM
  cmake/scripts/common/ArchSetup.cmake
Labels: CMake, Type: Fix, v19 Matrix

#16314 [VideoPlayer] Load program from stream property without using streaminfo
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Backport: Done, Component: Video, Type: Fix, v19 Matrix

#16351 [PVR][Estuary] Add TV and radio channel groups home screen widgets.
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.h
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Component: Skin, Type: Improvement, Wiki: Needed, v19 Matrix

#16304 [docs/linux] Fix README.Linux.md binary addon installation instructions
  docs/README.Linux.md
Labels: Documentation, Type: Improvement, v19 Matrix

#16360 [PVR][Estuary] Generate thumbnail picture for channel groups.
  addons/skin.estuary/xml/DialogPVRGroupManager.xml
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRGUIDirectory.h
  xbmc/pvr/PVRManager.h
  xbmc/pvr/PVRThumbLoader.cpp
  xbmc/pvr/PVRThumbLoader.h
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.h
Labels: Component: PVR, Component: Skin, Type: Improvement, v19 Matrix

#16361 [PVR] Group manager: Automatically fill channel lists upon group selection.
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.h
Labels: Component: PVR, Type: Improvement, v19 Matrix

#16364 [VideoPlayer][Leia] Fix initialization of AVD3D11VAContext structure
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Platform: Windows, Type: Fix, v18 Leia

#14571 Remove ARB postfix from GL functions
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCapture.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCapture.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gl/RenderSystemGL.h
Labels: Component: GUI rendering, Component: Video rendering, Type: Cleanup, v19 Matrix

#16337 [filesystem][Leia] Corrections to CircularCache initialization and termination
  xbmc/filesystem/CircularCache.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16336 Fix PAPlayer to do passthrough for TrueHD
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Backport: Done, Component: Audio, Type: Fix, v19 Matrix

#16373 [iOS] fix Xcode genration for armv7 cpu
  cmake/scripts/ios/ArchSetup.cmake
  tools/darwin/packaging/ios/mkdeb-ios.sh.in
  tools/depends/target/Toolchain.cmake.in
  xbmc/platform/darwin/ios/Info.plist.in
Labels: CMake, Platform: iOS, Type: Fix, v19 Matrix

#16368 [PVR] Refactor and fix channel paths
  addons/resource.language.en_gb/resources/strings.po
  cmake/treedata/common/tests.txt
  xbmc/FileItem.cpp
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/channels/CMakeLists.txt
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelsPath.cpp
  xbmc/pvr/channels/PVRChannelsPath.h
  xbmc/pvr/channels/test/CMakeLists.txt
  xbmc/pvr/channels/test/TestPVRChannelsPath.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/video/ContextMenus.cpp
Labels: Component: PVR, Type: Cleanup, Type: Fix, v19 Matrix

#16369 VideoPlayer: Properly propagate playback errors
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Component: Video, Type: Improvement, v19 Matrix

#16367 [android] use ndk 20
  cmake/scripts/android/Install.cmake
  docs/README.Android.md
  tools/android/packaging/Makefile.in
  tools/buildsteps/android-arm64-v8a/configure-depends
  tools/buildsteps/android/configure-depends
  tools/buildsteps/androidx86/configure-depends
  tools/buildsteps/defaultenv
  tools/depends/README.md
  tools/depends/configure.ac
  tools/depends/target/Toolchain.cmake.in
  tools/depends/target/Toolchain_binaddons.cmake.in
  tools/depends/target/android-libc-replacements/locale.h
  xbmc/addons/AddonSystemSettings.h
Labels: Platform: Android, Type: Improvement, v19 Matrix

#16387 [darwin] cleanup DarwinUtils & combined defines
  xbmc/Application.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINIOS.mm
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VTB.cpp
  xbmc/guilib/Texture.cpp
  xbmc/platform/darwin/DarwinUtils.h
  xbmc/platform/darwin/DarwinUtils.mm
  xbmc/platform/darwin/ios-common/IOSKeyboard.mm
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/osx/powermanagement/CocoaPowerSyscall.cpp
  xbmc/platform/darwin/storage/DarwinStorageProvider.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
  xbmc/utils/test/TestSystemInfo.cpp
  xbmc/windowing/ios/WinSystemIOS.mm
Labels: Platform: iOS, Platform: macOS, Type: Cleanup, v19 Matrix

#16222 settings: add "Dark Grey" subtitles color option
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecTX3G.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGUI.cpp
  xbmc/utils/Color.h
Labels: Component: Video, Type: Feature, v19 Matrix

#16393 [PVR] Add progress bar to reminders announcement dialog
  addons/skin.estuary/xml/DialogConfirm.xml
  xbmc/dialogs/GUIDialogProgress.cpp
  xbmc/dialogs/GUIDialogProgress.h
  xbmc/pvr/PVRGUIActions.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#15680 Clear focus-history when leaving window with focus on parent folder item (Fixes #15608)
  xbmc/windows/GUIMediaWindow.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#16392 [PVR] Fix CPVRChannelGroupInternal ctor - fixes #16386.
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
Labels: Component: PVR, Type: Cleanup, Type: Fix, v19 Matrix

#16395 [fix] prevent context leak
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Backport: Needed, Component: Video, Type: Fix, v19 Matrix

#16404 [kodi-platform] Update kodi-platform sha for PR29
  cmake/addons/depends/common/kodi-platform/kodi-platform.txt
Labels: Component: Add-ons, Component: Depends, v19 Matrix

#16397 [addon] fix ios runtime failure after PR 14908
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
Labels: Component: Binary add-ons, Platform: iOS, Type: Fix, v19 Matrix

#16378 changed: Delete stream details when video info is refreshed
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: v18 Leia

#16327 Fix PlayMedia builtin for smart playlists and playlists
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Backport: Done, Component: Music, Component: Video, Type: Fix, v19 Matrix

#16352 Fix PlayMedia builtin for smart playlists and playlists - Backport
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Component: Music, Component: Video, Type: Backport, Type: Fix, v18 Leia

#16380 [GUI] Fix season/episode formatting for video addons
  xbmc/filesystem/PluginDirectory.cpp
Labels: Backport: Needed, Component: Add-ons, Component: GUI engine, Type: Fix, v19 Matrix

#16417 [p8-platform] Update p8-platform sha for PR5
  cmake/addons/depends/common/p8-platform/p8-platform.txt
Labels: Component: Add-ons, Component: Depends, v19 Matrix

#16416 [GUI] Fix season/episode formatting for video addons
  xbmc/filesystem/PluginDirectory.cpp
Labels: Component: Add-ons, Component: GUI engine, Type: Backport, Type: Fix, v18 Leia

#16355 [VideoPlayer] Load program from stream property without using streaminfo - backport
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Component: Video, Type: Fix, Type: Partial backport, v18 Leia

#16409 [ESTUARY] Fix radio button text length
  addons/skin.estuary/media/flags/audiocodec/ape.png
  addons/skin.estuary/xml/DialogAddonSettings.xml
Labels: Component: Skin, Type: Backport, v18 Leia

#16353 Fix PAPlayer to handle passthrough for TrueHD - backport
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Component: Audio, Type: Backport, Type: Fix, v18 Leia

#16407 [ESTUARY] Fix radio button text length
  addons/skin.estuary/xml/DialogAddonSettings.xml
Labels: Backport: Done, Component: Skin, v19 Matrix

#16405 [PlaylistPlayer] Do not attempt to further resolve plugin paths for failing entries
  xbmc/PlayListPlayer.cpp
Labels: Backport: Done, Component: Add-ons, Type: Fix, v19 Matrix

#16422 [PlaylistPlayer] Do not attempt to further resolve plugin paths for failing entries
  xbmc/PlayListPlayer.cpp
Labels: Component: Add-ons, Type: Backport, Type: Fix, v18 Leia
