Repository xbmc/xbmc, pull requests merged in 2019-11, with the labels that each got.

#16856 [backport][addons] add settings support for property condition (basic conditions only)
  xbmc/addons/settings/AddonSettings.cpp
Labels: Component: Add-ons, Type: Backport, Type: Fix, Type: Improvement, v18 Leia

#16862 [Android] fetchDisplayMode only for SDK>=24
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Component: Windowing, Platform: Android, Type: Fix, v19 Matrix

#16866 Fix CGUIDialogPVRGuideInfo::GetCurrentListItem crash
  xbmc/pvr/PVRManager.h
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#16806 Fix hide watched by saving cache filename with each item for clear on item update [backport]
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/video/VideoInfoTag.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16851 CPUInfo fixes after #16098
  xbmc/Application.cpp
  xbmc/platform/Platform.cpp
  xbmc/platform/android/CPUInfoAndroid.h
  xbmc/platform/darwin/ios/CPUInfoIos.h
  xbmc/platform/darwin/osx/CPUInfoOsx.h
  xbmc/platform/freebsd/CPUInfoFreebsd.h
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/platform/linux/CPUInfoLinux.h
  xbmc/platform/posix/CMakeLists.txt
  xbmc/platform/posix/CPUInfoPosix.cpp
  xbmc/platform/posix/CPUInfoPosix.h
  xbmc/platform/win10/CPUInfoWin10.cpp
  xbmc/platform/win10/CPUInfoWin10.h
  xbmc/platform/win32/CPUInfoWin32.cpp
  xbmc/platform/win32/CPUInfoWin32.h
  xbmc/utils/CPUInfo.cpp
  xbmc/utils/CPUInfo.h
  xbmc/utils/test/TestCPUInfo.cpp
Labels: Type: Fix, v19 Matrix

#16848 Cache - base filename on path with options and save with item for clearing on update
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/windows/GUIMediaWindow.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#16830 Fix wrong sort order list for music playlists node
  xbmc/music/GUIViewStateMusic.cpp
Labels: Backport: Done, Component: GUI engine, Type: Fix, v19 Matrix

#16831 [BACKPORT]Fix wrong sort order list for music playlists node
  xbmc/music/GUIViewStateMusic.cpp
Labels: Component: GUI engine, Type: Backport, Type: Fix, v18 Leia

#16852 Backport: Ensure that the skin is reloaded after profile is loaded
  xbmc/Application.cpp
  xbmc/profiles/ProfileManager.cpp
Labels: Component: Profiles, Type: Backport, Type: Fix, v18 Leia

#16886 [addon settings] parse action data
  xbmc/settings/SettingControl.cpp
Labels: Component: Settings, Type: Fix, v19 Matrix

#16878 [Estuary] handle 'back' when info is visible in fullscreen
  addons/skin.estuary/xml/DialogFullScreenInfo.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#16884 CPUInfoLinux: add /proc/cpuinfo parsing for arm/aarch64
  xbmc/platform/linux/CPUInfoLinux.cpp
Labels: Platform: Linux, Type: Fix, v19 Matrix

#16892 fixed: Extension matching in FileDirectoryFactory was broken
  xbmc/filesystem/FileDirectoryFactory.cpp
Labels: Type: Fix, v19 Matrix

#16682 [Estuary] rework DialogMusicInfo.xml
  addons/skin.estuary/xml/DialogMusicInfo.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_MusicInfo.xml
Labels: Component: Music, Component: Skin, Type: Improvement, Wiki: Needed, v19 Matrix

#16874 fixed: support shoutcast over https
  xbmc/filesystem/FileFactory.cpp
  xbmc/filesystem/ShoutcastFile.cpp
Labels: Type: Improvement

#16898 fixed: support shoutcast over https
  xbmc/filesystem/FileFactory.cpp
  xbmc/filesystem/ShoutcastFile.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16887 fixed: redact url in log
  xbmc/filesystem/MultiPathDirectory.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#16888 fixed: redact url in log
  xbmc/filesystem/MultiPathDirectory.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16867 [Android] fetchDisplayMode only for SDK>=24
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Component: Windowing, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#16893 fixed: Extension matching in FileDirectoryFactory was broken
  xbmc/filesystem/FileDirectoryFactory.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16773 Fix add-on setting references
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/settings/lib/Setting.cpp
  xbmc/settings/lib/Setting.h
  xbmc/settings/lib/SettingType.h
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
Labels: Component: Add-ons, Component: Settings, Type: Fix, v19 Matrix

#16894 add dual support for Artist Slideshow 2.x and 3.x
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Backport: Done, Component: Skin, v19 Matrix

#16903 add dual support for Artist Slideshow 2.x and 3.x
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Component: Skin, Type: Backport, v18 Leia

#16881 AESinkPulse: Implement Hotplug monitor
  xbmc/cores/AudioEngine/AESinkFactory.cpp
  xbmc/cores/AudioEngine/AESinkFactory.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Interfaces/AE.h
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.h
  xbmc/utils/ActorProtocol.cpp
  xbmc/utils/ActorProtocol.h
Labels: Type: Improvement

#16610 [backport][docs] Add missing package flatbuffers-dev to Ubuntu build instructions
  docs/README.Fedora.md
  docs/README.Ubuntu.md
Labels: Documentation, Type: Backport, Type: Fix, v18 Leia

#16901 fix old-style action settings being called twice after 84b719c
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/addons/settings/AddonSettings.h
Labels: Component: Add-ons, Component: Settings, Type: Fix, v19 Matrix

#16870 AESinkAudioTrack: Try to aim 200 ms buffer and 50 ms periods
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, v19 Matrix

#16907 RendererMediaCodecSurface: Announce vertical shift as well
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#16908 RendererMediaCodecSurface: Announce vertical shift as well
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16905 [cmake]Fix FindPython to find python.h correctly
  cmake/modules/FindPython.cmake
Labels: CMake, Platform: Windows, Type: Fix, v19 Matrix

#16896 kodi-send: python3 fix
  tools/EventClients/Clients/KodiSend/kodi-send.py
Labels: Type: Fix, v19 Matrix

#16847 [videoplayer] allow custom headers to be sent to ffmpeg & inputstream class property
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/cores/VideoPlayer/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/Interface/Addon/InputStreamConstants.h
Labels: Component: Video, Type: Fix, Type: Improvement, v19 Matrix

#16913 WinSystem: Allow ALSA+PULSE in parallel
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/rpi/WinSystemRpi.cpp
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Type: Feature, v19 Matrix

#16921 Bump for 18.5 final
  media/splash.jpg
  version.txt
Labels: v18 Leia

#16885 [json] Add missing "status" string for VideoLibrary.GetTVShowDetails
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Type: Improvement, v19 Matrix

#16777 VideoLibrary: check boolean option values
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Type: Fix, v19 Matrix

#16421 RetroPlayer: Fix black screen for RGB emulators on some GLES platforms
  system/shaders/GLES/2.0/gles_shader_texture_noalpha.frag
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
Labels: Component: GLES rendering, Component: Games, Platform: RPi, Type: Fix, v19 Matrix

#16818 add CODEOWNERS file to help selecting reviewers
  .github/CODEOWNERS
Labels: Documentation, No Jenkins, v19 Matrix

#16914 AESinkAudioTrack: Remove now superflous HeadSet check
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, v19 Matrix

#16875 DTSHD-MA vs. DTSHD-HR
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.h
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.h
Labels: Type: Feature, v19 Matrix

#16939 [PVR] Fix missing 'mark watched'/'mark unwatched' context menu entries for recordings folders.
  xbmc/video/ContextMenus.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#16929 Allow DolbyVision streams passed from inputstream addons
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
Labels: Component: Video, Platform: Android, Type: Feature, Type: Fix, v19 Matrix

#16928 [swig/python] fix vector output typemap for specialized std::vector<bool>
  xbmc/interfaces/python/typemaps/python.vector.outtm
Labels: Type: Fix, v19 Matrix

#16879 [addons] bump xbmc.python dependency
  addons/script.module.pil/addon.xml
  addons/script.module.pycryptodome/addon.xml
Labels: Component: Add-ons, Type: Improvement, v19 Matrix

#16941 [windowing] fixed typo
  xbmc/windowing/X11/CMakeLists.txt
Labels: Component: Windowing, Platform: Linux, Type: Fix, v19 Matrix

#16802 Always highlight the OK button when installing an add-on
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/dialogs/GUIDialogSelect.cpp
  xbmc/dialogs/GUIDialogSelect.h
Labels: Type: Improvement, v19 Matrix

#16945 Encapsulate and refactor check for PVR recording file or folder
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/video/ContextMenus.cpp
Labels: Component: PVR, Type: Cleanup, v19 Matrix

#16926 [addons] fix CAddon::HasSettings() for settings.xml files without any settings
  xbmc/addons/Addon.cpp
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#16954 DVDAudioCodecPassthrough: Properly check for DTSHD_MA as well after HR change
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Type: Fix, v19 Matrix

#16956 [pvr] update channel number and client order for selected group when channel update triggered
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#16935 AESinkAudioTrack: Search correct buffer by incrementing in min_bufferunits
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Component: Audio, v19 Matrix

#16958 AESinkAudioTrack: Increase minbuffer when probing
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, v19 Matrix

#16899 fix clashing XBMCK_EJECT and XBMCK_FAVORITES
  xbmc/input/XBMC_keysym.h
Labels: Component: Input, Type: Fix, v19 Matrix

#16951 Add mergeable config to check PR labels/milestones
  .github/mergeable.yml
Labels: Infrastructure

#16965 Sinks (Pulse / AudioTrack): Fix drain
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.cpp
Labels: Type: Fix, v19 Matrix

#16915 Add music multi-disc and boxset facility
  addons/resource.language.en_gb/resources/strings.po
  system/library/music/boxsets.xml
  system/settings/settings.xml
  xbmc/GUIInfoManager.cpp
  xbmc/SortFileItem.h
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/filesystem/MusicDatabaseDirectory/CMakeLists.txt
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbum.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyAdded.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyPlayed.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeDiscs.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeDiscs.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeOverview.cpp
  xbmc/filesystem/MusicDatabaseDirectory/QueryParams.cpp
  xbmc/filesystem/MusicDatabaseDirectory/QueryParams.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
  xbmc/guilib/guiinfo/LibraryGUIInfo.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/music/Album.cpp
  xbmc/music/Album.h
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicDbUrl.cpp
  xbmc/music/MusicThumbLoader.cpp
  xbmc/music/Song.cpp
  xbmc/music/Song.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/infoscanner/MusicInfoScanner.h
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/music/tags/MusicInfoTagLoaderFFmpeg.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/music/tags/TagLoaderTagLib.h
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/music/windows/MusicFileItemListModifier.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/utils/DatabaseUtils.cpp
  xbmc/utils/DatabaseUtils.h
  xbmc/utils/LabelFormatter.cpp
  xbmc/utils/SortUtils.cpp
  xbmc/utils/SortUtils.h
Labels: Component: Music, Type: Feature, v19 Matrix

#16944 [Music]Language independant "various artists" album artist for compilations
  xbmc/music/Artist.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Improvement, v19 Matrix

#16961 [Estuary][guiinfo][cpuinfo] Hide CPU usage if system does not provide this information
  addons/skin.estuary/xml/DialogPlayerProcessInfo.xml
  addons/skin.estuary/xml/SettingsSystemInfo.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/platform/android/CPUInfoAndroid.h
  xbmc/utils/CPUInfo.cpp
  xbmc/utils/CPUInfo.h
  xbmc/windows/GUIWindowDebugInfo.cpp
Labels: Component: GUI engine, Component: Skin, Type: Improvement, v19 Matrix

#16927 CVideoInfoTag: fix behaviour of SetUniqueID(s) if no default unique ID has been previously set
  xbmc/video/VideoInfoTag.cpp
Labels: Component: Video, Type: Fix, v19 Matrix

#16953 [PVR] Guide window: Memory optimizations/Performance improvements
  xbmc/FileItem.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgChannelData.cpp
  xbmc/pvr/epg/EpgChannelData.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Component: PVR, Type: Improvement, v19 Matrix

#16968 [Visualizations] Prevent NULL/zero-length packets from being processed
  xbmc/guilib/GUIVisualisationControl.cpp
Labels: Type: Fix, v19 Matrix

#16978 [Android] Priorize timer instead HDMI_AUDIOPLUG on refreshrate switch
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
Labels: Backport: Needed, Component: Windowing, Platform: Android, Type: Fix, v19 Matrix
