Repository xbmc/xbmc, pull requests merged in 2019-05, with the labels that each got.

#16004 fixed: Resume bookmark would clear on player start failure
  xbmc/Application.cpp
Labels: Backport: Needed, Type: Fix

#16014 fixed: Resume bookmark would clear on player start failure
  xbmc/Application.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16026 PAPlayer: Don't fallback to DTS too early
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#16027 Fix DTSHD in PAPlayer
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Backport: Done, v18 Leia

#16035 Revert "[addons] this adds helper functions to get current time"
  xbmc/addons/kodi-addon-dev-kit/include/kodi/tools/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/tools/Time.h
Labels: API change: Binary add-ons, Component: Add-ons, Type: Cleanup, v19 Matrix

#16036 [PVR] Fix CPVREpg::(Add|Update)Entry to not overwrite channeldata and epgid
  xbmc/pvr/epg/Epg.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#16037 [Leia][PVR] Fix CPVREpg::(Add|Update)Entry to not overwrite channeldata and epgid
  xbmc/pvr/epg/Epg.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#15963 VideoBufferDRMPRIME: extract video buffer interface
  cmake/treedata/optional/common/gbm.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
  xbmc/cores/VideoPlayer/Process/gbm/CMakeLists.txt
  xbmc/cores/VideoPlayer/Process/gbm/ProcessInfoGBM.cpp
  xbmc/cores/VideoPlayer/Process/gbm/ProcessInfoGBM.h
  xbmc/cores/VideoPlayer/Process/gbm/VideoBufferDRMPRIME.cpp
  xbmc/cores/VideoPlayer/Process/gbm/VideoBufferDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.h
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Component: Video rendering, Platform: Linux, Type: Improvement, v19 Matrix

#16033 [PVR] Newly added channels cause EPG UI corruption
  xbmc/pvr/channels/PVRChannelGroup.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#16042 [PVR][Leia] Fix problem with newly added channels causing EPG UI corruption
  xbmc/pvr/channels/PVRChannelGroup.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#16048 [PVR] Create EPG when a PVR channel has been dynamically added at runtime
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#16031 MusicExtensions: Add dtshd as that extension is used for commercial dtshd
  xbmc/settings/AdvancedSettings.cpp
Labels: Backport: Done, v19 Matrix

#16030 MusicExtensions: Add dtshd as that extension is used for commercial dtshd files
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Backport, v18 Leia

#15662 [python] xbmcvfs file.seek() - whence should be optional
  xbmc/interfaces/legacy/File.h
Labels: Component: Python, Type: Improvement, v19 Matrix

#16008 Simplify some boolean expressions in RetroPlayer
  xbmc/cores/RetroPlayer/buffers/RenderBufferPoolOpenGL.cpp
  xbmc/cores/RetroPlayer/buffers/RenderBufferPoolOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
Labels: Component: Games, Type: Improvement, v19 Matrix

#15747 Improve 'Choose Art' dialog
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/utils/ScraperUrl.cpp
Labels: Component: Music, Component: Video, Type: Improvement, v19 Matrix

#15663 [python] xbmcvfs - add file.tell() function
  xbmc/interfaces/legacy/File.h
Labels: API change: Python, Component: Python, Type: Feature, v19 Matrix

#15315 added: video info dialog for movie sets
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estouchy/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Font.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: v19 Matrix

#16052 Remove 3:2 pullback from current check
  xbmc/windowing/Resolution.cpp
Labels: Component: Video rendering, v19 Matrix

#16055 Remove 3:2 pullback from current check
  xbmc/windowing/Resolution.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16061 Revert "VideoPlayerCodec: Ask Demuxer to seek for us"
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Type: Fix, v19 Matrix

#16066 [Estuary] addonsettings - fix list
  addons/skin.estuary/xml/DialogAddonSettings.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#16067 [Estuary] addonsettings - fix list
  addons/skin.estuary/xml/DialogAddonSettings.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#16071 Remove unused using
  xbmc/addons/FontResource.cpp
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/addons/Repository.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFFmpeg.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/utils/RssManager.cpp
Labels: Type: Cleanup, v19 Matrix

#16062 [PVR] Fix and simplify store epg event to db on update from pvr addon.
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#16072 [Estuary] fix scrollbar in skinsettings
  addons/skin.estuary/xml/SkinSettings.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#16068 [video] Fix info for movies which are part of sets.
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Component: Video, Type: Fix, v19 Matrix

#15891 [Estuary] Fix order of TVShowTitle and Title
  addons/skin.estuary/xml/Variables.xml
Labels: Backport: Needed, Component: Skin, Rebase needed, Type: Fix, v19 Matrix

#16081 [PVR] Fix group manager crash when adding a new group. Closes #16079.
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#16044 CRendererVAAPIGLES: use CEGLFence to sync rendering
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.h
Labels: Component: GLES rendering, Component: Video rendering, Platform: Linux, Type: Improvement, v19 Matrix

#16046 CRendererVAAPIGLES: remove overrides for render features
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.h
Labels: Component: Video rendering, Platform: Linux, Type: Cleanup, v19 Matrix

#16002 [Music]Tell user that scanning is in progress if try to scan another source
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Component: Music, Type: Improvement, v19 Matrix

#15734 [python] add thumb preview param
  xbmc/addons/Scraper.cpp
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/interfaces/legacy/ListItem.h
  xbmc/utils/ScraperUrl.cpp
  xbmc/utils/ScraperUrl.h
Labels: API change: Python, Component: Python, Type: Breaking change, v19 Matrix

#16086 [Estuary] Fix order of TVShowTitle and Title Leia
  addons/skin.estuary/xml/Variables.xml
Labels: Backport: Done, Component: Skin, Type: Fix, v18 Leia

#16074 [Estuary] fix scrollbar focus with mouse
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/View_502_FanArt.xml
  addons/skin.estuary/xml/View_50_List.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#16012 [GUI]Fix blank Visualisation Preset List dialog
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/dialogs/GUIDialogVisualisationPresetList.cpp
  xbmc/music/dialogs/GUIDialogVisualisationPresetList.h
Labels: Backport: Done, Component: GUI engine, Type: Fix, v19 Matrix

#16050 Fix blank dialog when Joystick X key hit and there is no visualisation
  system/keymaps/joystick.xml
Labels: Backport: Done, Component: Input, Type: Fix, v19 Matrix

#16082 [Leia][PVR] Fix group manager crash when adding a new group. Closes #16079.
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#16080 drop omxplayer
  addons/resource.language.en_gb/resources/strings.po
  system/settings/rbp2.xml
  system/settings/settings.xml
  xbmc/cores/AudioEngine/Sinks/AESinkPi.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkPi.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/MMALCodec.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/omxplayer/CMakeLists.txt
  xbmc/cores/omxplayer/OMXAudio.cpp
  xbmc/cores/omxplayer/OMXAudio.h
  xbmc/cores/omxplayer/OMXAudioCodecOMX.cpp
  xbmc/cores/omxplayer/OMXAudioCodecOMX.h
  xbmc/cores/omxplayer/OMXHelper.cpp
  xbmc/cores/omxplayer/OMXHelper.h
  xbmc/cores/omxplayer/OMXImage.h
  xbmc/cores/omxplayer/OMXPlayerAudio.cpp
  xbmc/cores/omxplayer/OMXPlayerAudio.h
  xbmc/cores/omxplayer/OMXPlayerVideo.cpp
  xbmc/cores/omxplayer/OMXPlayerVideo.h
  xbmc/cores/omxplayer/OMXVideo.cpp
  xbmc/cores/omxplayer/OMXVideo.h
  xbmc/cores/omxplayer/omxplayer_advancedsettings.xml
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/OMXClock.cpp
  xbmc/platform/linux/OMXClock.h
  xbmc/platform/linux/OMXCore.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Platform: RPi, v19 Matrix

#16077 [Estuary] fix scrollbar in skinsettings
  addons/skin.estuary/xml/SkinSettings.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v18 Leia

#16054 [Leia][PVR] Create EPG when a PVR channel has been dynamically added at runtime
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#16095 [PVR] Fix start/stop time for manual timers created via timer settings dialog
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#15164 TexturePacker: Fix memory / resource leak the ugly way
  tools/depends/native/TexturePacker/src/decoder/GIFDecoder.cpp
  tools/depends/native/TexturePacker/src/decoder/GIFDecoder.h
  tools/depends/native/TexturePacker/src/decoder/IDecoder.h
Labels: Component: Skin, Type: Fix, v19 Matrix

#15690 Improve german keyboardlayout
  system/keyboardlayouts/german.xml
Labels: Component: Input, Type: Improvement, v19 Matrix

#15725 xbmcclient.py doesn't allow non ascii characters
  tools/EventClients/lib/python/xbmcclient.py
Labels: Component: EventServer, Type: Improvement

#16092 fix compiler warnings
  xbmc/cores/AudioEngine/Sinks/AESinkPi.cpp
  xbmc/cores/DllLoader/dll.cpp
  xbmc/cores/omxplayer/OMXImage.cpp
Labels: Type: Fix, v19 Matrix

#16088 settings: allow setting the DRMPRIME renderer without having the DRMPRIME decoder enabled
  system/settings/gbm.xml
Labels: Component: Settings, Platform: Linux, Type: Improvement, v19 Matrix

#16127 [cleanup][network] remove unused functions and variables
  xbmc/network/Network.h
  xbmc/platform/android/network/NetworkAndroid.cpp
  xbmc/platform/android/network/NetworkAndroid.h
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/linux/network/NetworkLinux.h
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/platform/win10/network/NetworkWin10.h
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/NetworkWin32.h
Labels: Component: Network, Type: Cleanup, v19 Matrix

#16142 [Estuary] fix search button on side menu
  addons/skin.estuary/xml/Includes_MediaMenu.xml
Labels: Backport: Done, Component: Skin, Type: Fix, v19 Matrix

#16143 [Estuary] fix search button on side menu
  addons/skin.estuary/xml/Includes_MediaMenu.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v18 Leia

#16146 [PVR] Prevent concurrent updates for all pvr windows.
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#16147 [PVR] Prevent concurrent updates for all pvr windows.
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#16145 platform/linux: remove unused headers
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/stat_utf8.h
  xbmc/platform/linux/stdio_utf8.h
Labels: Platform: Linux, Type: Cleanup, v19 Matrix

#16139 [video] Add support for HEVC to CDVDDemuxClient::GetStreamCodecName.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
Labels: Backport: Done, Component: Video, Type: Fix, v19 Matrix

#16148 [video] Add support for HEVC to CDVDDemuxClient::GetStreamCodecName.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
Labels: Component: Video, Type: Backport, Type: Fix, v18 Leia

#16170 [PVR] Separate GUI from PVR core: remove CFileItem usage from core: step 1: directory listings.
  xbmc/filesystem/PVRDirectory.cpp
  xbmc/filesystem/PVRDirectory.h
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/PVRGUIDirectory.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Backport: Needed, Component: PVR, Type: Fix, v19 Matrix

#16106 Subtitles opacity
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGUI.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGUI.h
Labels: Component: Video, Type: Feature, v19 Matrix

#16173 [PVR] Separate GUI from PVR core: remove CFileItem usage from core: step 1: directory listings.
  xbmc/filesystem/PVRDirectory.cpp
  xbmc/filesystem/PVRDirectory.h
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/PVRGUIDirectory.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#16177 [PVR] CPVRGUIDirectory, CPVRTimersPath cleanup
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/PVRGUIDirectory.h
  xbmc/pvr/timers/PVRTimersPath.cpp
  xbmc/pvr/timers/PVRTimersPath.h
Labels: Component: PVR, Type: Cleanup, v19 Matrix

#16152 [guilib] add ListItem.FileNameNoExtension infolabel
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Component: GUI engine, Type: Feature, v19 Matrix

#16163 Linux: Propagate sigterm so kodi.sh is easier to use from init systems
  tools/Linux/kodi.sh.in
Labels: Platform: Linux, v19 Matrix

#16166 optimized GetAvailableUpdates in AddonManager
  xbmc/addons/AddonManager.cpp
Labels: Component: Add-ons, Type: Improvement, v19 Matrix

#16138 Keymap master
  system/keymaps/mouse.xml
  system/keymaps/touchscreen.xml
Labels: Backport: Done, Component: Input, Type: Fix, v19 Matrix

#16137 Keymap backport
  system/keymaps/mouse.xml
  system/keymaps/touchscreen.xml
Labels: Component: Input, Type: Backport, Type: Fix, v18 Leia

#16187 [cmake] use CMAKE_CXX_STANDARD to set WindowsStore specific C++ standard
  cmake/scripts/common/CompilerSettings.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
Labels: CMake, Platform: WindowsStore, v19 Matrix

#16051 Fix blank dialog when Joystick X key hit and there is no visualisation - Backport
  system/keymaps/joystick.xml
Labels: Component: Input, Type: Backport, Type: Fix, v18 Leia

#16174 [linux] remove unneeded defines
  cmake/scripts/linux/ArchSetup.cmake
  xbmc/platform/linux/PlatformDefs.h
Labels: Platform: Linux, Type: Cleanup, v19 Matrix

#16158 [PlaylistPlayer] Resolve plugin paths to fill the item infotag
  xbmc/PlayListPlayer.cpp
Labels: Backport: Needed, Component: Add-ons, v19 Matrix

#16085 Simplify boolean expressions
  xbmc/Application.cpp
  xbmc/CueDocument.cpp
  xbmc/LangInfo.cpp
  xbmc/PasswordManager.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/TextureCacheJob.cpp
  xbmc/games/controllers/types/ControllerGrid.cpp
  xbmc/pictures/ExifParse.cpp
Labels: Type: Cleanup, v19 Matrix

#16100 Simplify boolean expressions 2
  xbmc/DbUrl.cpp
  xbmc/TextureCache.cpp
  xbmc/Util.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEFilter.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
Labels: Type: Cleanup, v19 Matrix

#15937 [video] Use special sort order when selecting first unwatched
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#16119 [cleanup] Remove strings.xml support
  xbmc/addons/LanguageResource.cpp
  xbmc/guilib/GUIButtonControl.dox
  xbmc/guilib/GUIControlFactory.h
  xbmc/guilib/GUIEditControl.dox
  xbmc/guilib/GUIFadeLabelControl.dox
  xbmc/guilib/GUIFixedListContainer.dox
  xbmc/guilib/GUILabelControl.dox
  xbmc/guilib/GUIListContainer.dox
  xbmc/guilib/GUIMessage.h
  xbmc/guilib/GUIPanelContainer.dox
  xbmc/guilib/GUIRadioButtonControl.dox
  xbmc/guilib/GUISettingsSliderControl.dox
  xbmc/guilib/GUISpinControlEx.dox
  xbmc/guilib/GUIToggleButtonControl.dox
  xbmc/guilib/GUIWrappingListContainer.dox
  xbmc/guilib/LocalizeStrings.cpp
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/music/MusicDatabase.h
  xbmc/pictures/ExifParse.cpp
  xbmc/weather/WeatherJob.cpp
Labels: Type: Cleanup, Wiki: Needed, v19 Matrix

#15764 DialogVideoInfo: do not reset the current listitem before play
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#14531 fix: SetSortMethod would fail on certain SortMethods
  xbmc/view/GUIViewState.cpp
  xbmc/view/ViewStateSettings.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#16009 [cmake][addons] add THIRD_PARTY_PATH definition
  cmake/addons/CMakeLists.txt
  cmake/scripts/common/HandleDepends.cmake
Labels: CMake, Component: Binary add-ons, v19 Matrix

#16110 [cmake] remove _LINUX define
  cmake/platform/android/defines.txt
  cmake/platform/freebsd/defines.txt
  cmake/platform/ios/defines.txt
  cmake/platform/linux/defines.txt
  cmake/platform/osx/defines.txt
  cmake/scripts/android/ArchSetup.cmake
  cmake/scripts/freebsd/ArchSetup.cmake
  cmake/scripts/ios/ArchSetup.cmake
  cmake/scripts/linux/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  tools/depends/m4/xbmc_arch.m4
  xbmc/pictures/ExifParse.cpp
  xbmc/pictures/IptcParse.cpp
  xbmc/pictures/JpegParse.cpp
  xbmc/pictures/libexif.cpp
Labels: CMake, Type: Cleanup, v19 Matrix

#16192 [PlaylistPlayer] Resolve plugin paths to fill the item infotag
  xbmc/PlayListPlayer.cpp
Labels: Component: Add-ons, Type: Backport, v18 Leia

#16175 threads: move thread priority defines out of PlatformDefs.h
  xbmc/platform/linux/PlatformDefs.h
  xbmc/threads/platform/pthreads/ThreadImpl.h
Labels: Type: Cleanup, v19 Matrix

#16060 [GUI]Fix blank Visualisation Preset List dialog - Backport
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/dialogs/GUIDialogVisualisationPresetList.cpp
  xbmc/music/dialogs/GUIDialogVisualisationPresetList.h
Labels: Component: GUI engine, Type: Backport, Type: Fix, v18 Leia

#16120 [network] remove class NetworkAccessPoint and unused dialog CGUIDialogAccessPoints
  addons/resource.language.en_gb/resources/strings.po
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/network/CMakeLists.txt
  xbmc/network/GUIDialogAccessPoints.cpp
  xbmc/network/GUIDialogAccessPoints.h
  xbmc/network/Network.cpp
  xbmc/network/Network.h
  xbmc/platform/android/network/NetworkAndroid.cpp
  xbmc/platform/android/network/NetworkAndroid.h
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/linux/network/NetworkLinux.h
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/platform/win10/network/NetworkWin10.h
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/NetworkWin32.h
Labels: Platform: Android, Platform: Linux, Platform: Windows, Platform: WindowsStore, Type: Cleanup, v19 Matrix

#16167 AirPlay/AirTunes: don't dynamically open libraries
  CMakeLists.txt
  cmake/modules/FindPlist.cmake
  cmake/modules/FindShairplay.cmake
  cmake/scripts/android/Install.cmake
  cmake/scripts/common/Macros.cmake
  xbmc/DllPaths_generated.h.in
  xbmc/DllPaths_generated_android.h.in
  xbmc/DllPaths_win32.h
  xbmc/network/AirPlayServer.cpp
  xbmc/network/AirPlayServer.h
  xbmc/network/AirTunesServer.cpp
  xbmc/network/AirTunesServer.h
  xbmc/network/CMakeLists.txt
  xbmc/network/DllLibPlist.h
  xbmc/network/DllLibShairplay.h
Labels: Type: Cleanup, v19 Matrix

#16195 [fix] ColorManager initialization and lcms2 usage
  xbmc/cores/VideoPlayer/VideoRenderers/ColorManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
Labels: Component: Video rendering, Type: Fix, v19 Matrix

#16094 Remove redundant smart pointer get()
  xbmc/FileItem.cpp
  xbmc/TextureDatabase.cpp
  xbmc/addons/AddonDatabase.cpp
Labels: Type: Cleanup, v19 Matrix

#16198 [fix] use correct include path for fribidi.h
  cmake/modules/FindFriBidi.cmake
  xbmc/utils/CharsetConverter.cpp
Labels: CMake, Type: Fix, v19 Matrix

#16172 Refactor of CFileCache
  xbmc/filesystem/FileCache.cpp
  xbmc/filesystem/FileCache.h
Labels: Type: Cleanup, v19 Matrix

#16178 [interfaces] Fix crash on Kodi exit caused by double freed AsyncCallbackMessage
  xbmc/interfaces/legacy/CallbackHandler.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#16189 [Estuary] (Info)Wall fixes
  addons/skin.estuary/xml/View_500_Wall.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#16201 Remove CDatabase::InTransaction
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
Labels: Component: Database, Type: Cleanup, v19 Matrix

#16202 [interfaces] Fix crash on Kodi exit caused by double freed AsyncCallbackMessage
  xbmc/interfaces/legacy/CallbackHandler.cpp
Labels: Component: Add-ons, Type: Backport, Type: Fix, v18 Leia

#16122 LibInputKeyboard: re-add support for KEY_STOP as we had in CLinuxInputDevices
  xbmc/platform/linux/input/LibInputKeyboard.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16199 Ask CMake to write compile_commands.json
  CMakeLists.txt
Labels: CMake, v19 Matrix

#16207 Fix getting wrong "thumb" art URL from scraper results
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/utils/ScraperUrl.cpp
Labels: Backport: Done, Component: Music, Type: Fix, v19 Matrix

#14965 [network] prefer interface with gateway
  xbmc/network/Network.cpp
Labels: Component: Network, Type: Improvement, v19 Matrix

#15977 update clang-format
  .clang-format
Labels: Type: Improvement, v19 Matrix

#16184 CDRMUtils: explicitly set the caps we want (atomic brings them in)
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Component: Windowing, Platform: Linux, Type: Fix, v19 Matrix

#16213 [PVR] Separate GUI from PVR core: remove CFileItem usage from core
  xbmc/addons/PVRClient.cpp
  xbmc/addons/PVRClient.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRChannel.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRRecording.cpp
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRActionListener.cpp
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/PVRGUIChannelIconUpdater.cpp
  xbmc/pvr/PVRGUIChannelIconUpdater.h
  xbmc/pvr/PVRGUIChannelNavigator.cpp
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/PVRGUIDirectory.h
  xbmc/pvr/PVRJobs.cpp
  xbmc/pvr/PVRJobs.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/PVRStreamProperties.cpp
  xbmc/pvr/PVRStreamProperties.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
  xbmc/pvr/windows/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIEPGGridContainer.h
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/video/jobs/VideoLibraryMarkWatchedJob.cpp
  xbmc/video/jobs/VideoLibraryResetResumePointJob.cpp
Labels: Component: PVR, Type: Cleanup, v19 Matrix

#16190 [Estuary] (Info)Wall fixes
  addons/skin.estuary/xml/View_500_Wall.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v18 Leia

#16215 [depends] remove superfluous -native directory postfix
  cmake/modules/FindFlatBuffers.cmake
  tools/depends/native/Makefile
  tools/depends/native/autoconf/Makefile
  tools/depends/native/autoconf/endian-c++11-narrowing.patch
  tools/depends/native/automake/Makefile
  tools/depends/native/cmake/Makefile
  tools/depends/native/distribute/Makefile
  tools/depends/native/distutilscross/Makefile
  tools/depends/native/dpkg/01-no-gnu-patch.patch
  tools/depends/native/dpkg/02-perl-min-version.patch
  tools/depends/native/dpkg/03-lzma-compression.patch
  tools/depends/native/dpkg/Makefile
  tools/depends/native/expat/Makefile
  tools/depends/native/flatbuffers/0001-Fix-compiler-warning.patch
  tools/depends/native/flatbuffers/Makefile
  tools/depends/native/gas-preprocessor/Makefile
  tools/depends/native/gas-preprocessor/README
  tools/depends/native/gas-preprocessor/gas-preprocessor.pl
  tools/depends/native/gen_entitlements/Makefile
  tools/depends/native/gen_entitlements/gen_entitlements.py
  tools/depends/native/gettext/01-gettext-tools-stpncpy.patch
  tools/depends/native/gettext/Makefile
  tools/depends/native/giflib/Makefile
  tools/depends/native/ldid/Makefile
  tools/depends/native/libjpeg-turbo/Makefile
  tools/depends/native/liblzo2/Makefile
  tools/depends/native/libpng/Makefile
  tools/depends/native/libtool/Makefile
  tools/depends/native/m4/01-fix-ftbfs-with-glibc-2.28.patch
  tools/depends/native/m4/Makefile
  tools/depends/native/m4/osx_snprintf.patch
  tools/depends/native/meson/Makefile
  tools/depends/native/ninja/Makefile
  tools/depends/native/pcre/Makefile
  tools/depends/native/pkg-config/Makefile
  tools/depends/native/python27/Makefile
  tools/depends/native/python3/Makefile
  tools/depends/native/swig/Makefile
  tools/depends/native/tar/Makefile
  tools/depends/native/wayland-scanner/Makefile
  tools/depends/native/waylandpp-scanner/Makefile
  tools/depends/native/xz/Makefile
  tools/depends/native/yasm/Makefile
  tools/depends/native/zlib/Makefile
  tools/depends/native/zlib/visibility.patch
  tools/depends/target/flatbuffers/Makefile
Labels: Component: Depends, v19 Matrix

#16217 [PVR] Fix component dependencies: CPVRManager::IsPlayingChannel(int i…
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#16181 PlatformDefs.h remove _MEMORYSTATUSEX struct
  xbmc/addons/interfaces/General.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.cpp
  xbmc/cores/AudioEngine/Utils/AERingBuffer.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxUtils.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/omxplayer/OMXImage.cpp
  xbmc/guilib/GUIShaderDX.h
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/TextureDX.cpp
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/platform/linux/OMXCore.cpp
  xbmc/platform/posix/CMakeLists.txt
  xbmc/platform/posix/MemUtils.cpp
  xbmc/platform/posix/PlatformDefs.h
  xbmc/platform/posix/XMemUtils.h
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/MemUtils.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/MemUtils.h
  xbmc/windows/GUIWindowDebugInfo.cpp
Labels: Type: Cleanup, v19 Matrix

#15941 GL: fix HAS_FLOAT_TEXTURE usage [backport]
  system/shaders/GL/1.2/gl_convolution-4x4.glsl
  system/shaders/GL/1.2/gl_convolution-6x6.glsl
  system/shaders/GL/1.5/gl_convolution-4x4.glsl
  system/shaders/GL/1.5/gl_convolution-6x6.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGLES.cpp
Labels: Component: GL rendering, Component: GLES rendering, Component: Video rendering, Type: Backport, Type: Fix, v18 Leia

#16220 [Estuary] fix navigation in side menu
  addons/skin.estuary/xml/Includes_MediaMenu.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#16221 [Estuary] fix navigation in side menu
  addons/skin.estuary/xml/Includes_MediaMenu.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v18 Leia
