Repository xbmc/xbmc, pull requests merged in 2019-03, with the labels that each got.

#15634 [PVR] - Recording edit context menu visible when not supported
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/pvr/PVRGUIActions.h
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.h
Labels: Improvement, PVR, v18 Leia

#15635 [Music]Fix collaboration album tag processing MBID matching
  xbmc/music/Album.cpp
Labels: Fix, Music, v18 Leia

#15615 [database] Verify date parsing when querying videos by year
  xbmc/video/VideoDatabase.cpp
Labels: Database, Fix, Video, v18 Leia

#15614 [videodb]fix: Return empty InfoTag when looking up non-existent music video
  xbmc/video/VideoDatabase.cpp
Labels: Fix, Video, v18 Leia

#15605 Fixes a crash when a file's embedded art is invalid
  xbmc/video/tags/VideoTagLoaderNFO.cpp
Labels: Fix, Video, v18 Leia

#15537 [skins] improvement & cosmetics
  addons/skin.estouchy/xml/Defaults.xml
  addons/skin.estouchy/xml/DialogExtendedProgressBar.xml
  addons/skin.estouchy/xml/DialogNumeric.xml
  addons/skin.estouchy/xml/DialogSeekBar.xml
  addons/skin.estouchy/xml/DialogSettings.xml
  addons/skin.estouchy/xml/DialogSlider.xml
  addons/skin.estouchy/xml/IncludesPlayerControls.xml
  addons/skin.estouchy/xml/VideoOSD.xml
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/MyPVRChannels.xml
  addons/skin.estuary/xml/MyPlaylist.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Cleanup, Improvement, Skin, v18 Leia

#15491 wake on access: fix crash on startup
  xbmc/network/WakeOnAccess.cpp
Labels: Fix, v18 Leia

#15510 [docs/README.Fedora] fixes and updates
  docs/README.Fedora.md
Labels: Documentation, Fix, v18 Leia

#15641 [Android] Don't flip GLES if window was destroyed
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Android, Fix, Rendering GUI, v18 Leia

#15506 [GraphicsContext] - add setting for only adjusting refresh rate on start
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/windowing/GraphicContext.cpp
  xbmc/windowing/GraphicContext.h
Labels: Feature, Improvement, Settings, Video, v18 Leia

#15640 [PVR] Fix crash on channel switch when no pvr client is enabled.
  xbmc/pvr/PVRGUIActions.cpp
Labels: Fix, PVR, v18 Leia

#15646 [cleanup] remove include guards
  xbmc/NfoFile.h
  xbmc/filesystem/FileFactory.h
  xbmc/filesystem/IFile.h
  xbmc/filesystem/ISOFile.h
  xbmc/filesystem/PipeFile.h
  xbmc/storage/IoSupport.h
Labels: Cleanup, v18 Leia

#15649 [Android] Fix monoscopic/2D viewrect calcuation
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.cpp
Labels: Android, Fix, Rendering Video, Video, v18 Leia

#15653 [music] format album rating
  xbmc/music/MusicDatabase.cpp
Labels: Fix, Music

#15654 [Android] generate keypress for mediasession actions
  xbmc/platform/android/activity/JNIXBMCMediaSession.cpp
Labels: Android, Improvement, Input

#15589 fixed: always update stream details from player (fixes #15584)
  xbmc/Application.cpp
Labels: Fix, v18 Leia

#15621 [cmake] microhttpd: only link with libraries
  cmake/modules/FindMicroHttpd.cmake
  tools/depends/target/libmicrohttpd/Makefile
Labels: CMake, Dependencies, Fix, v18 Leia

#15661 [Android] Prevent HDMI_AUDIO_PLUG intent on TV
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
Labels: Android, Audio, Fix, Video, v18 Leia

#15591 Fix TCP buffer parsing to find JSON statements to correctly
  xbmc/network/TCPServer.cpp
Labels: Fix, v18 Leia

#15675 [Android] implement MediaSession::onMediaButtonEvent
  tools/android/packaging/xbmc/src/XBMCMediaSession.java.in
  xbmc/platform/android/activity/JNIXBMCMediaSession.cpp
  xbmc/platform/android/activity/JNIXBMCMediaSession.h
Labels: Android, Fix, Input, v18 Leia

#15678 Minor log changes
  xbmc/Application.cpp
  xbmc/XBApplicationEx.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: v18 Leia

#15683 [PVR] Speedup close of Guide window.
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Improvement, PVR, v18 Leia

#15689 [PVR] Fixes for broken timer handling
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Fix, PVR, v18 Leia

#15697 [PVR] Guide window: Fix gap tags information.
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/windows/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIEPGGridContainer.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Fix, GUI Engine, PVR, v18 Leia

#15701 [Music]Fix listing scraped artist art when choose art on Artist Info dialog
  xbmc/music/MusicDatabase.cpp
Labels: Fix, Music, v18 Leia

#15657 Fix localised "various arists" missing from some artist lists
  xbmc/music/MusicDatabase.cpp
Labels: Fix, Music, v18 Leia

#15685 [Estouchy] fix missing weather temps
  addons/skin.estouchy/xml/MyWeather.xml
Labels: Fix, Skin, v18 Leia

#15702 [PVR] Speedup first open of Guide window.
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Improvement, PVR, v18 Leia

#15719 [Android] Don't signal END_OF_STREAM if dropping packets
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Video, v18 Leia

#15716 [VideoPlayer] Ensure video queue is not in intermediate state when flushing
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Fix, Rendering Video, Video, v18 Leia

#15713 FFMPEG: Bump to 4.0.3-Leia-18.2
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Fix, Linux, Video, v18 Leia

#15714 [PVR] Fix 'any channel' timer rules children not displayed.
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Fix, PVR, v18 Leia

#15643 [curl] Use the response header to determine if content is encoded
  xbmc/filesystem/CurlFile.cpp
Labels: Component: Network, Type: Fix, v18 Leia

#15732 [Android] Yet another refreshrate switch enhancement
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
Labels: Component: Video, Platform: Android, Type: Fix, Type: Improvement, v18 Leia

#15738 [PVR] Guide window: On first open, trigger immediate fetching of real data, not delayed.
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Component: PVR, Type: Fix, v18 Leia

#15706 Fixed error "Unexpected [standby_pc_on_tv_standby] setting value
  xbmc/peripherals/devices/PeripheralCecAdapter.cpp
Labels: Type: Fix, v18 Leia

#15753 [PVR] Only trigger CPVRUpdateAddonsJob if the AddonEvent is a PVR client
  xbmc/pvr/addons/PVRClients.cpp
Labels: Component: PVR, Type: Fix, v18 Leia

#15756 [Doxygen] Include github markdown file for code guidelines
  .codedocs
  docs/CODE_GUIDELINES.md
  docs/doxygen/CODING_GUIDELINES.dox
  docs/doxygen/Doxyfile.doxy
  xbmc/addons/kodi-addon-dev-kit/doxygen/Doxyfile
Labels: Documentation, Type: Cleanup, Type: Improvement, v18 Leia

#15755 [GUIControllerWindow] Correctly subscribe to RepositoryUpdated events
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
Labels: Component: GUI rendering, Component: Input, Type: Fix, v18 Leia

#15741 [estuary] fix reversed episode / tvshow title
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#15711 [pyton] update docs for artwork functions
  xbmc/interfaces/legacy/ListItem.h
Labels: Component: Python, Documentation, Type: Improvement, v18 Leia

#15658 Fix ios9
  cmake/scripts/ios/Install.cmake
  tools/darwin/Support/Codesign.command
  tools/depends/native/ldid-native/Makefile
  xbmc/windowing/osx/WinSystemIOS.h
  xbmc/windowing/osx/WinSystemIOS.mm
Labels: Platform: iOS, Type: Fix, v18 Leia

#15585 [JSON]Add "dynpath" as property returned by Player.GetItem
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, v18 Leia

#15766 [estuary] fix title for non episodes
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#15730 Handle signals by setting atomic flag instead of pop-up thread
  xbmc/Application.cpp
  xbmc/platform/darwin/PlatformDarwin.cpp
  xbmc/platform/darwin/PlatformDarwin.h
  xbmc/platform/overrides/android/PlatformAndroid.cpp
  xbmc/platform/overrides/android/PlatformAndroid.h
  xbmc/platform/overrides/freebsd/PlatformPosix.cpp
  xbmc/platform/overrides/linux/PlatformPosix.cpp
  xbmc/platform/posix/CMakeLists.txt
  xbmc/platform/posix/PlatformPosix.cpp
  xbmc/platform/posix/PlatformPosix.h
  xbmc/platform/posix/main.cpp
Labels: Platform: FreeBSD, Platform: Linux, Platform: macOS, Type: Fix, v18 Leia

#15728 Reword roadmap item template to make its intent clearer
  .github/ISSUE_TEMPLATE/roadmap_item.md
Labels: No Jenkins

#15769 [Docs] Use docs.kodi.tv instead of the codedocs url
  README.md
Labels: Documentation, Type: Improvement, v18 Leia

#15712 [windows] remove pragma lib
  CMakeLists.txt
  cmake/platform/windows/windows.cmake
  cmake/platform/windowsstore/windowsstore.cmake
  xbmc/filesystem/XbtFile.cpp
  xbmc/filesystem/ZipFile.cpp
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/network/WebServer.cpp
  xbmc/storage/cdioSupport.cpp
  xbmc/utils/CharsetConverter.cpp
Labels: CMake, Platform: Windows, v18 Leia

#15776 Quit instead of shutdown on signals
  xbmc/Application.cpp
  xbmc/platform/posix/PlatformPosix.cpp
  xbmc/platform/posix/PlatformPosix.h
  xbmc/platform/posix/main.cpp
Labels: Platform: FreeBSD, Platform: Linux, Platform: macOS, Type: Fix, v18 Leia

#15779 [PVR] Timers context menu 'Find similar' missing
  xbmc/pvr/PVRContextMenus.cpp
Labels: Component: PVR, Type: Improvement, v18 Leia

#15780 [fix] installing binary addons from zip (and repo)
  xbmc/addons/binary-addons/BinaryAddonManager.cpp
Labels: Component: Add-ons, Type: Fix, v18 Leia

#15644 [curl] Accept all supported content encodings by default
  xbmc/addons/Repository.cpp
  xbmc/filesystem/CurlFile.cpp
  xbmc/utils/ScraperUrl.cpp
Labels: Component: Network, Type: Improvement, v18 Leia

#15782 [pydocs] Add warning to ControlList().reset() regarding ListItem destruction
  xbmc/interfaces/legacy/Control.h
Labels: Component: Python, Documentation, No Jenkins, v18 Leia

#15773 [Music]Show artist disambiguation text when picking which one to scrape
  xbmc/addons/Scraper.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Fix, v18 Leia

#15642 [cmake] fix set of APP_RENDER_SYSTEM on KodiConfig.cmake
  cmake/platform/android/android.cmake
  cmake/platform/freebsd/x11.cmake
  cmake/platform/ios/ios.cmake
  cmake/platform/osx/osx.cmake
  cmake/platform/windows/windows.cmake
  cmake/platform/windowsstore/windowsstore.cmake
  cmake/scripts/common/Platform.cmake
  cmake/scripts/common/PrepareEnv.cmake
Labels: CMake, Component: Binary add-ons, Type: Fix, v18 Leia

#15790 [wayland] fix compilation with C++17
  xbmc/windowing/wayland/Util.h
Labels: Component: Windowing, Platform: Linux, Type: Fix, v18 Leia

#15787 [depends] binary-addons: fix libGL.so location
  tools/depends/xbmc-addons.include
Labels: Component: Depends, Platform: Linux, Type: Fix, v18 Leia

#15593 Fix waiting for window close animation blocking JSON requests after SetFullScreen
  xbmc/Application.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/IWindowManagerCallback.h
Labels: Type: Fix, v18 Leia

#15798 [wayland] Fix raw pointer comparison
  xbmc/windowing/wayland/Util.h
Labels: Component: Windowing, Platform: Linux, Type: Fix, v18 Leia

#15804 [cmake] partly revert #15642 to have wayland and GBM working
  cmake/scripts/common/Platform.cmake
  cmake/scripts/common/PrepareEnv.cmake
Labels: CMake, Type: Fix, v18 Leia

#15792 [Fix]Export all art types for albums and artists, not just thumb and fanart
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Fix, v18 Leia

#15810 CThreads: Reacquire Lock after WaitForThreadExit has finished
  xbmc/threads/Thread.cpp
Labels: Type: Fix, v18 Leia

#15778 Move libcurl symbols out of namespace
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/CurlFile.h
  xbmc/filesystem/DllLibCurl.h
Labels: Component: Network, Platform: Linux, Type: Fix, v18 Leia

#15795 [skins] addon settings - add help text
  addons/skin.estouchy/xml/DialogAddonSettings.xml
  addons/skin.estuary/xml/DialogAddonSettings.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#15791 [Music]Prompt skip artist or album nfo files and refresh from remote sites
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Improvement, v18 Leia

#15783 GL: Don't use SM_TEXTURE_LIM for GLSL < 1.5
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
Labels: Component: GL rendering, Type: Fix

#15818 [cmake] update minimum version of libdrm
  cmake/modules/FindLibDRM.cmake
Labels: CMake, Platform: Linux, Type: Improvement, v18 Leia

#15819 restore compatibility with sqlite3 v3.8
  xbmc/dbwrappers/sqlitedataset.cpp
Labels: Component: Database, Type: Fix, v18 Leia

#15822 oh noes, i used bad words.
  addons/metadata.demo.movies/demo.py
Labels: Type: Fix, v18 Leia

#15774 AESinkALSA: fix enumeration of cards without front devices
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
Labels: Type: Fix, v18 Leia

#15835 [AMLCodec] dont poll decoder rate when seeking
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
Labels: Component: Video, Platform: AMLogic, Type: Fix, v18 Leia

#15842 [Estouchy] add missing 15th addon shortcut on homescreen
  addons/skin.estouchy/xml/IncludesHomeRecentlyAdded.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#15813 addon settings - inherit settings level
  xbmc/addons/settings/GUIDialogAddonSettings.cpp
Labels: Component: Add-ons, Component: Settings, Type: Improvement, v18 Leia
