Repository xbmc/xbmc, pull requests merged in 2019-08, with the labels that each got.

#16415 fixed: Using absolute paths in combination with hosts in URLs caused …
  xbmc/URL.cpp
Labels: Backport: Needed, Component: Network, Type: Fix, v19 Matrix

#16435 Fix CShoutcastFile's ability to set the stream's tag info on the UI
  xbmc/filesystem/ShoutcastFile.cpp
Labels: Type: Fix, v19 Matrix

#16424 [GUIControllerWindow] Subscribe to controller install events
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.h
Labels: Component: Add-ons, Component: Games, Type: Improvement, v19 Matrix

#16384 add ACTION_MOUSE_DRAG_END support
  system/keymaps/mouse.xml
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
Labels: v19 Matrix

#16411 [addons] fix binary addon lib name for iOS
  xbmc/addons/binary-addons/BinaryAddonType.cpp
Labels: Component: Binary add-ons, Platform: iOS, Type: Fix, v19 Matrix

#16401 [addons] change binary interface (webbrowser required parts)
  xbmc/addons/interfaces/AudioEngine.cpp
  xbmc/addons/interfaces/GUI/Window.cpp
  xbmc/addons/interfaces/GUI/Window.h
  xbmc/addons/interfaces/General.cpp
  xbmc/addons/interfaces/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/Window.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/definitions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/ContextMenu.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/Select.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Feature, v19 Matrix

#16426 Controller fixes backport
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerList.h
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/IConfigurationWindow.h
Labels: Component: Games, Component: Input, Type: Fix, v18 Leia

#16443 [addons] fix repo addon install (<path> in addons.xml wasn't checked)
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#16449 [depends] bump curl to 7.65.3
  tools/depends/target/curl/01-pkg-config-openssl.patch
  tools/depends/target/curl/Makefile
Labels: Component: Depends, v19 Matrix

#16455 [addons] change ADDON_GLOBAL_VERSION_MAIN to 1.1.0 and leave min by old 1.0.12
  xbmc/addons/interfaces/General.cpp
  xbmc/addons/interfaces/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Fix, Type: Improvement, v19 Matrix

#16447 [GUIControllerWindow] Subscribe to controller install events (Backport)
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.h
Labels: Component: Games, Type: Backport, Type: Fix, v18 Leia

#16457 Fix typo in CDVD*CodecFFmpeg cryptosession log messages
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
Labels: Type: Improvement, v19 Matrix

#16444 [Cleanup] Remove SetIconImage, GetIconImage, HasIcon and SetThumbnailImage (NOP)
  xbmc/FileItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/addons/GUIWindowAddonBrowser.cpp
  xbmc/addons/interfaces/GUI/AddonCallbacksGUI.cpp
  xbmc/addons/interfaces/GUI/AddonCallbacksGUI.h
  xbmc/addons/interfaces/GUI/ListItem.cpp
  xbmc/addons/interfaces/GUI/ListItem.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/ListItem.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/definitions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libKODI_guilib.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/dialogs/GUIDialogContextMenu.cpp
  xbmc/dialogs/GUIDialogFileBrowser.cpp
  xbmc/favourites/GUIDialogFavourites.cpp
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/LibraryDirectory.cpp
  xbmc/filesystem/MusicDatabaseDirectory.cpp
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/filesystem/VideoDatabaseDirectory.cpp
  xbmc/games/controllers/windows/ControllerInstaller.cpp
  xbmc/guilib/GUIListItem.cpp
  xbmc/guilib/GUIListItem.h
  xbmc/guilib/GUIStaticItem.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/interfaces/legacy/ListItem.h
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/peripherals/addons/PeripheralAddon.cpp
  xbmc/peripherals/bus/PeripheralBus.cpp
  xbmc/pictures/PictureThumbLoader.cpp
  xbmc/profiles/windows/GUIWindowSettingsProfile.cpp
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/PVRThumbLoader.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: API change: GUI, API change: Python, Type: Breaking change, Type: Cleanup, v19 Matrix

#16460 [dialogs] Fix missing cancel button in progress dialogs. Fixes #16459
  xbmc/dialogs/GUIDialogProgress.cpp
Labels: Type: Fix, v19 Matrix

#16440 [VideoPlayer] Fix TS resume point, related to PR16314
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Backport: Needed, Component: Video, Type: Fix, v19 Matrix

#16468 [VideoPlayer] Fix TS resume point, related to PR16314 - backport
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Component: Video, Type: Backport, v18 Leia

#16464 [music] Fix thumb loader after #16444
  xbmc/music/MusicThumbLoader.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#16467 [Backport2] Fix + sign HTTP folder
  xbmc/filesystem/HTTPDirectory.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16475 [cmake] fix ios addon zip path after #16039
  cmake/scripts/common/PrepareEnv.cmake
Labels: Type: Fix, v19 Matrix

#16412 [addons] change the use of CBinaryAddonBase
  xbmc/addons/binary-addons/BinaryAddonBase.cpp
  xbmc/addons/binary-addons/BinaryAddonBase.h
  xbmc/addons/binary-addons/BinaryAddonExtensions.cpp
  xbmc/addons/binary-addons/BinaryAddonExtensions.h
  xbmc/addons/binary-addons/BinaryAddonManager.cpp
  xbmc/addons/binary-addons/BinaryAddonType.cpp
  xbmc/addons/binary-addons/BinaryAddonType.h
  xbmc/addons/binary-addons/CMakeLists.txt
Labels: Component: Binary add-ons, Type: Cleanup, v19 Matrix

#16482 [doxygen] update and sync addon doxyfile to main doxyfile
  xbmc/addons/kodi-addon-dev-kit/doxygen/Doxyfile
Labels: Component: Add-ons, Documentation, Type: Cleanup, v19 Matrix

#16406 [cmake] add support for install bigger addon dir structure
  cmake/scripts/common/AddonHelpers.cmake
  cmake/scripts/common/AddonHelpers.dox
  xbmc/addons/kodi-addon-dev-kit/doxygen/Doxyfile
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_cpp.dox
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/GL.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/Shader.h
Labels: CMake, Component: Binary add-ons, Documentation, Type: Feature, v19 Matrix

#16487 [settings/cosmetic] Replace "computer" by "device" in setting help text
  addons/resource.language.en_gb/resources/strings.po
Labels: Component: Settings, Type: Improvement, v19 Matrix

#16399 [darwin] convert Objective-C code to ARC
  cmake/scripts/darwin/Macros.cmake
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  lib/libUPnP/CMakeLists.txt
  tools/EventClients/Clients/OSXRemote/XBMCHelper.m
  tools/EventClients/Clients/OSXRemote/xbmcclientwrapper.mm
  tools/EventClients/Clients/OSXRemote/xbmchelper_main.mm
  xbmc/platform/darwin/AutoPool.h
  xbmc/platform/darwin/AutoPool.mm
  xbmc/platform/darwin/CMakeLists.txt
  xbmc/platform/darwin/DarwinUtils.mm
  xbmc/platform/darwin/ios-common/AnnounceReceiver.mm
  xbmc/platform/darwin/ios-common/IOSKeyboard.h
  xbmc/platform/darwin/ios-common/IOSKeyboard.mm
  xbmc/platform/darwin/ios-common/IOSKeyboardView.h
  xbmc/platform/darwin/ios-common/IOSKeyboardView.mm
  xbmc/platform/darwin/ios/IOSEAGLView.h
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/ios/IOSExternalTouchController.mm
  xbmc/platform/darwin/ios/IOSScreenManager.h
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/ios/XBMCApplication.h
  xbmc/platform/darwin/ios/XBMCApplication.mm
  xbmc/platform/darwin/ios/XBMCController.h
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/platform/darwin/osx/CocoaInterface.h
  xbmc/platform/darwin/osx/CocoaInterface.mm
  xbmc/platform/darwin/osx/HotKeyController.m
  xbmc/platform/darwin/osx/OSXTextInputResponder.mm
  xbmc/platform/darwin/osx/SDLMain.mm
  xbmc/platform/darwin/osx/powermanagement/CocoaPowerSyscall.cpp
  xbmc/windowing/ios/WinSystemIOS.h
  xbmc/windowing/ios/WinSystemIOS.mm
  xbmc/windowing/osx/CMakeLists.txt
  xbmc/windowing/osx/VideoSyncOsx.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Platform: iOS, Platform: macOS, Type: Improvement, v19 Matrix

#16461 FFmpeg: Bump to 4.0.4-Leia-18.4
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Backport: Done, v19 Matrix

#16471 FFmpeg: Bump to 4.0.4-Leia-18.4
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Type: Backport, v18 Leia

#16484 [pictures][guiinfo][Estuary] Slideshow fixes
  addons/skin.estuary/xml/DialogPictureInfo.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/GUIWindowSlideShow.h
Labels: Backport: Done, Component: GUI engine, Component: Picture, Component: Skin, Type: Fix, v19 Matrix

#16496 [pictures][guiinfo][Estuary] Slideshow fixes (Leia bacpkort)
  addons/skin.estuary/xml/DialogPictureInfo.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/GUIWindowSlideShow.h
Labels: Component: GUI engine, Component: Picture, Component: Skin, Type: Backport, Type: Fix, v18 Leia

#16431 fixed: File times for vfs addons (fixes #15426)
  xbmc/addons/VFSEntry.cpp
  xbmc/addons/interfaces/Addon/AddonCallbacksAddon.cpp
  xbmc/addons/kodi-addon-dev-kit/include/kodi/Filesystem.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/VFS.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_vfs_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Backport: Needed, Component: Binary add-ons, Type: Fix, v19 Matrix

#16454 [depends] bump expat to 2.2.7
  tools/depends/native/expat/Makefile
  tools/depends/target/expat/Makefile
Labels: Component: Depends, v19 Matrix

#16502 [addons] add gui/gl/Shader.h to filesystem check (it open files)
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#16488 [addons][audiodecoder] update documentation
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/AudioDecoder.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: Component: Binary add-ons, Documentation, Type: Improvement, v19 Matrix

#16463 [python] add context manager support for xbmcvfs.File
  xbmc/interfaces/legacy/File.h
Labels: API change: Python, Component: Python, Type: Improvement, v19 Matrix

#16398 Clear/save focus-history when leaving window with focus on parent folder item [Backport] [Leia]
  xbmc/windows/GUIMediaWindow.cpp
Labels: Component: GUI engine, Type: Backport, v18 Leia

#16448 [fix] return type bool for boolean python functions
  xbmc/interfaces/python/PythonSwig.cpp.template
Labels: Component: Python, Type: Fix, v19 Matrix

#16509 [fix] python crashes after #16448
  xbmc/interfaces/python/PythonSwig.cpp.template
Labels: Component: Python, Type: Fix, v19 Matrix

#16507 [contextmenumanager] Move 'Add/Remove favourite' to new context menu system
  xbmc/ContextMenuManager.cpp
  xbmc/ContextMenus.cpp
  xbmc/ContextMenus.h
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, v19 Matrix

#16508 Fix Thumbloaders now icon is in art map
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicThumbLoader.cpp
  xbmc/video/VideoThumbLoader.cpp
Labels: API change: JSON-RPC, Component: Music, Component: Video, Type: Fix, v19 Matrix

#16504 Fix PlayMedia builtin for playlists (.strm) and "artists" smart playlists
  xbmc/Application.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Backport: Done, Component: Music, Component: Video, Type: Fix, v19 Matrix

#16505 Fix PlayMedia builtin for playlists (.strm) and "artists" smart playlists - Backport
  xbmc/Application.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Component: Music, Component: Video, Type: Backport, Type: Fix, v18 Leia

#16414 [ESTUARY] Fix ape.png
  addons/skin.estuary/media/flags/audiocodec/ape.png
Labels: Component: Skin, Type: Fix, v19 Matrix

#15527 Add new infolabel ListItem.CurrentItem and new Boolean expression IsEven/IsOdd
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIListItem.cpp
  xbmc/guilib/GUIListItem.h
  xbmc/guilib/GUIPanelContainer.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Component: GUI engine, Type: Improvement, Wiki: Needed, v19 Matrix

#16452 added: Missing protocol member for VFSURL struct
  xbmc/addons/VFSEntry.cpp
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/VFS.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_vfs_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Add-ons, Type: Improvement, v19 Matrix

#16433 Fix Missing text when sorting from inside addon (Label2)
  xbmc/filesystem/PluginDirectory.cpp
Labels: Backport: Done, Component: Add-ons, Type: Fix, v19 Matrix

#16517 Fix Missing text when sorting from inside addon (Label2)
  xbmc/filesystem/PluginDirectory.cpp
Labels: Component: Add-ons, Type: Backport, Type: Fix, v18 Leia

#16503 [depends] build libplist static
  cmake/scripts/android/Install.cmake
  tools/android/packaging/Makefile.in
  tools/depends/target/libplist/Makefile
Labels: Component: Depends, Type: Fix, v19 Matrix

#16511 fixed: Use exact matching for protocol in file+dir factories (fixes vfs.sftp addon issue #37)
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#16499 fixed: Using absolute paths in combination with hosts in URLs caused …
  xbmc/URL.cpp
Labels: Component: Network, Type: Backport, Type: Fix, v18 Leia

#16525 fixed: Use exact matching for protocol in file+dir factories
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16439 fixed: use first protocol from add-on in add network dialog
  xbmc/Util.cpp
  xbmc/network/GUIDialogNetworkSetup.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16438 fixed: use first protocol from add-on in add network dialog
  xbmc/Util.cpp
  xbmc/network/GUIDialogNetworkSetup.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#16530 Add support for HDR static Metadata
  xbmc/addons/kodi-addon-dev-kit/include/kodi/StreamCodec.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Component: Video, Platform: Android, Type: Feature, v19 Matrix

#16535 [addons][inputstream] allow instance version check and fix inputstream addon way
  xbmc/addons/Addon.cpp
  xbmc/addons/addoninfo/AddonInfo.cpp
  xbmc/addons/addoninfo/AddonInfo.h
  xbmc/addons/binary-addons/BinaryAddonBase.cpp
  xbmc/addons/binary-addons/BinaryAddonBase.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#16541 [pvr] Allow use genre strings to be set from subtype so genre type (c…
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_epg_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
Labels: API change: PVR, Component: PVR, Type: Improvement, v19 Matrix

#16542 [pvr] Update comment regarding EPG_GENRE_USE_STRING after PR16541
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Component: PVR

#16531 [addons] use on build in binary addons only `library="dummy.so"`
  addons/audioencoder.kodi.builtin.aac/addon.xml
  addons/audioencoder.kodi.builtin.wma/addon.xml
  addons/screensaver.xbmc.builtin.black/addon.xml
  addons/screensaver.xbmc.builtin.dim/addon.xml
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#16545 [Inputstream Addon] Add missing breaks
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#16529 [screensaver.xbmc.builtin.dim] reduce dim minimum threshold
  addons/screensaver.xbmc.builtin.dim/addon.xml
  addons/screensaver.xbmc.builtin.dim/resources/settings.xml
Labels: Component: Add-ons, Rebase needed

#16552 Bump for 18.4 final
  media/splash.jpg
  version.txt
Labels: v18 Leia
