Repository xbmc/xbmc, pull requests merged in 2019-06, with the labels that each got.

#16227 [PVR] Reminders: Add settings to control reminder popup auto-close behavior.
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/PVRGUIActions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: PVR, Type: Improvement, v19 Matrix

#16208 [Music]Fix getting wrong "thumb" art URL from scraper results - Backport
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/utils/ScraperUrl.cpp
Labels: Component: Music, Type: Backport, Type: Fix, v18 Leia

#16130 [Cleanup][Python] Drop monitor.onDatabaseUpdated and monitor.onDatabaseScanStarted
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/legacy/Monitor.h
Labels: API change: Python, Type: Cleanup, v19 Matrix

#16210 platform/linux is for linux! (and freebsd I guess)
  cmake/treedata/android/subdirs.txt
  cmake/treedata/freebsd/subdirs.txt
  cmake/treedata/ios/subdirs.txt
  cmake/treedata/linux/subdirs.txt
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/freebsd/OptionalsReg.cpp
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/OptionalsReg.cpp
  xbmc/platform/linux/sse4/CMakeLists.txt
Labels: CMake, Platform: Android, Platform: FreeBSD, Platform: Linux, Platform: iOS, Type: Cleanup, v19 Matrix

#16131 support AVCHD format disk/image/folder
  xbmc/FileItem.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Component: Video, Type: Feature, v19 Matrix

#16243 [Backport] Use special sort order when selecting first unwatched
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Component: Video, Type: Backport, Type: Fix, v18 Leia

#16238 ActiveAE: Fix crash when song switches to 48khtz track and viz is on
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
Labels: Component: Audio, Type: Fix, v19 Matrix

#16043 Amlogic: Remove Platform
  addons/resource.language.en_gb/resources/strings.po
  cmake/modules/FindAML.cmake
  cmake/platform/linux/aml.cmake
  cmake/scripts/android/ArchSetup.cmake
  cmake/treedata/common/aml/aml.txt
  system/settings/aml-linux.xml
  system/settings/settings.xml
  tools/buildsteps/linux-aml/configure-depends
  tools/buildsteps/linux-aml/configure-xbmc
  tools/buildsteps/linux-aml/make-binary-addons
  tools/buildsteps/linux-aml/make-depends
  tools/buildsteps/linux-aml/make-native-depends
  tools/buildsteps/linux-aml/make-xbmc
  tools/buildsteps/linux-aml/package
  tools/buildsteps/linux-aml/prepare-depends
  tools/buildsteps/linux-aml/prepare-xbmc
  tools/depends/configure.ac
  tools/depends/native/Makefile
  tools/depends/target/Makefile
  tools/depends/target/libamcodec/01-flags.patch
  tools/depends/target/libamcodec/02-no-amadec.patch
  tools/depends/target/libamcodec/Makefile
  xbmc/Application.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/cores/RetroPlayer/process/amlogic/CMakeLists.txt
  xbmc/cores/RetroPlayer/process/amlogic/RPProcessInfoAmlogic.cpp
  xbmc/cores/RetroPlayer/process/amlogic/RPProcessInfoAmlogic.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AMLCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAmlogic.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAmlogic.h
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererAML.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererAML.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/CMakeLists.txt
  xbmc/platform/linux/input/CMakeLists.txt
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/utils/AMLUtils.cpp
  xbmc/utils/AMLUtils.h
  xbmc/utils/BitstreamConverter.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/Screenshot.cpp
  xbmc/utils/ScreenshotAML.cpp
  xbmc/utils/ScreenshotAML.h
  xbmc/utils/SystemInfo.cpp
  xbmc/windowing/amlogic/CMakeLists.txt
  xbmc/windowing/amlogic/VideoSyncAML.cpp
  xbmc/windowing/amlogic/VideoSyncAML.h
  xbmc/windowing/amlogic/WinSystemAmlogic.cpp
  xbmc/windowing/amlogic/WinSystemAmlogic.h
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.cpp
  xbmc/windowing/amlogic/WinSystemAmlogicGLESContext.h
Labels: Platform: AMLogic, Type: Cleanup, v19 Matrix

#16242 Read APE tag embedded cover art
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Component: Music, Type: Feature, v19 Matrix

#16247 [cmake] pass all CPPFLAGS to libcpluff configure
  cmake/modules/FindCpluff.cmake
Labels: CMake, Type: Fix, v19 Matrix

#16224 fixed: DVD playback from http(s) sources (fixes #15694)
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16017 [iOS] remove some legacy code
  xbmc/Util.cpp
  xbmc/platform/darwin/DarwinUtils.h
  xbmc/platform/darwin/DarwinUtils.mm
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/ios/XBMCApplication.mm
  xbmc/platform/darwin/ios/XBMCController.h
  xbmc/platform/darwin/ios/XBMCController.mm
Labels: Platform: iOS, Type: Cleanup, v19 Matrix

#16260 fixed: webdav over http2
  xbmc/filesystem/DAVDirectory.cpp
  xbmc/filesystem/DAVFile.cpp
Labels: Component: Network, Type: Backport, Type: Fix, v18 Leia

#16254 [webdav] allow http2 (fixes #16194)
  xbmc/filesystem/DAVDirectory.cpp
  xbmc/filesystem/DAVFile.cpp
Labels: Backport: Done, Component: Network, Type: Fix, v19 Matrix

#13876 separate and organize DPMS support
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/ServiceBroker.cpp
  xbmc/platform/darwin/osx/powermanagement/CMakeLists.txt
  xbmc/powermanagement/DPMSSupport.cpp
  xbmc/powermanagement/DPMSSupport.h
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/CMakeLists.txt
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/X11DPMSSupport.cpp
  xbmc/windowing/X11/X11DPMSSupport.h
  xbmc/windowing/gbm/CMakeLists.txt
  xbmc/windowing/gbm/GBMDPMSSupport.cpp
  xbmc/windowing/gbm/GBMDPMSSupport.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/osx/CMakeLists.txt
  xbmc/windowing/osx/CocoaDPMSSupport.cpp
  xbmc/windowing/osx/CocoaDPMSSupport.h
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/windows/CMakeLists.txt
  xbmc/windowing/windows/Win32DPMSSupport.cpp
  xbmc/windowing/windows/Win32DPMSSupport.h
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Platform: Linux, Platform: Windows, Platform: macOS, Type: Cleanup, v19 Matrix

#16267 [fix] is dpms supported check after #13876
  xbmc/Application.cpp
Labels: Type: Fix, v19 Matrix

#16218 [darwin/jenkins] - bump to xcode10.2 and its SDKs for tvos, ios and macOS
  tools/buildsteps/defaultenv
  xbmc/video/VideoInfoTag.cpp
Labels: Platform: iOS, Platform: macOS, Platform: tvOS, Type: Improvement, v19 Matrix

#16270 [swig] format generated files with clang-format
  CMakeLists.txt
  cmake/modules/FindClangFormat.cmake
  xbmc/interfaces/swig/CMakeLists.txt
Labels: CMake, Type: Improvement, v19 Matrix

#16272 Add tools for mutithreaded testing and use them to remove dependency on timing in a test
  xbmc/test/MtTestUtils.h
  xbmc/utils/test/TestJobManager.cpp
Labels: Type: Fix, Type: Improvement

#16279 [Android] Fix segfault when calling GetMemoryInfo
  xbmc/platform/android/MemUtils.cpp
Labels: Component: Video, Platform: Android, Type: Fix, v19 Matrix

#16280 Fix memory leak after commit 887b739
  xbmc/utils/ActorProtocol.cpp
Labels: Type: Fix, v19 Matrix

#16219 CoC Move
  docs/codeofconduct/CodeOfConduct.md
  docs/codeofconduct/ForumUserBanning.md
  docs/codeofconduct/ModerationRules.md
  docs/codeofconduct/ModeratorGuidelines.md
Labels: Documentation

#16266 [docs] update header include coding guideline
  .clang-format
  docs/CODE_GUIDELINES.md
Labels: Documentation, v19 Matrix

#16281 Fix memory leak after commit 887b739 - backport for Leia
  xbmc/utils/ActorProtocol.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16274 Backport fixes and improvements for GBM and DRM PRIME
  cmake/treedata/optional/common/gbm.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
  xbmc/cores/VideoPlayer/Process/gbm/CMakeLists.txt
  xbmc/cores/VideoPlayer/Process/gbm/ProcessInfoGBM.cpp
  xbmc/cores/VideoPlayer/Process/gbm/ProcessInfoGBM.h
  xbmc/cores/VideoPlayer/Process/gbm/VideoBufferDRMPRIME.cpp
  xbmc/cores/VideoPlayer/Process/gbm/VideoBufferDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/EGLFence.cpp
  xbmc/utils/EGLFence.h
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Type: Backport, v18 Leia

#16276 [iOS] fix occasional rotation to portrait mode of external screen
  xbmc/platform/darwin/ios/IOSExternalTouchController.mm
Labels: Platform: iOS, Type: Fix, v19 Matrix

#16285 bump for 18.3 final
  media/splash.jpg
  version.txt
Labels: v18 Leia

#13721 Std thread
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/addons/AddonStatusHandler.cpp
  xbmc/cores/FFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.h
  xbmc/interfaces/python/XBPython.cpp
  xbmc/interfaces/python/XBPython.h
  xbmc/messaging/ApplicationMessenger.cpp
  xbmc/messaging/ApplicationMessenger.h
  xbmc/music/infoscanner/MusicInfoScraper.cpp
  xbmc/network/TCPServer.cpp
  xbmc/network/UdpClient.cpp
  xbmc/threads/CMakeLists.txt
  xbmc/threads/Condition.h
  xbmc/threads/Lockables.h
  xbmc/threads/SystemClock.h
  xbmc/threads/Thread.cpp
  xbmc/threads/Thread.h
  xbmc/threads/ThreadImpl.h
  xbmc/threads/platform/README.platform
  xbmc/threads/platform/RecursiveMutex.h
  xbmc/threads/platform/ThreadImpl.cpp
  xbmc/threads/platform/darwin/ThreadSchedImpl.cpp
  xbmc/threads/platform/linux/ThreadSchedImpl.cpp
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
  xbmc/threads/platform/pthreads/ThreadImpl.h
  xbmc/threads/platform/win/ThreadImpl.cpp
  xbmc/threads/platform/win/ThreadImpl.h
  xbmc/threads/test/TestHelpers.h
  xbmc/utils/JSONVariantParser.cpp
  xbmc/utils/RssReader.cpp
  xbmc/utils/log.cpp
  xbmc/windowing/rpi/VideoSyncPi.cpp
Labels: Type: Improvement

#16307 Fix a test that was hanging due to ignoring test sync mechanisms.
  xbmc/utils/test/TestJobManager.cpp
Labels: Type: Fix, v19 Matrix

#16308 [jenkins] - ensure to export DEVELOPER_DIR to override used Xcode version
  tools/buildsteps/defaultenv
Labels: Component: Binary add-ons, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Fix, v19 Matrix

#16305 [PVR] Fix component dependencies: CPVRManager::IsPlayingChannel(int i…
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#16292 Add persian language keyboard
  system/keyboardlayouts/persian.xml
Labels: Component: Input, Type: Feature, v19 Matrix

#16315 fixed: redact url in log
  xbmc/video/VideoDatabase.cpp
Labels: Component: Logging, Type: Fix, v19 Matrix

#16316 LinuxRendererGLES: fixed memory leak, fixed segfault when NV12 textur…
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Component: Video rendering, Type: Fix

#16313 LinuxRendererGLES: fixed memory leak, fixed segfault when NV12 textur…
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Type: Fix, v18 Leia

#16319 [PVR] PVRRecordings: Prevent concurrent calls to video database.
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#16323 [PVR] PVRRecordings: Prevent concurrent calls to video database.
  xbmc/pvr/PVRGUIDirectory.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia
