Repository xbmc/xbmc, pull requests merged in 2019-02, with the labels that each got.

#15392 [TexturePacker] update windows dirent implementation
  tools/depends/native/TexturePacker/src/Win32/dirent.c
Labels: Fix, Windows, v18 Leia

#15394 [Android] check if intent is valid
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Fix, v18 Leia

#15401 [guilib] d3dtexture: fixed wrong render target index.
  xbmc/guilib/D3DResource.cpp
Labels: 18.1, Fix, Rendering Video, Windows, v18 Leia

#15403 VideoSync: Fixup vsync clock
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/X11/VideoSyncOML.cpp
Labels: 18.1

#15351 RenderCapture: Only query Occlusion if GL lower 1.5
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCapture.cpp
Labels: 18.1, Fix

#15422 Fix Top 100 Albums regression
  xbmc/music/MusicDatabase.cpp
Labels: Fix, Music, v18 Leia

#15353 [Fix]Avoid attempt to load music info for smartplaylists
  xbmc/music/MusicInfoLoader.cpp
Labels: Fix, Music, v18 Leia

#15419 [Threads] revert #15263, log tid instead posix thread
  xbmc/threads/Thread.cpp
  xbmc/threads/Thread.h
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
  xbmc/threads/platform/win/ThreadImpl.cpp
  xbmc/utils/log.cpp
Labels: Android, Fix, v18 Leia

#15420 [PVR][settings] Reintroduce setting "Close channel OSD after switchin…
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Fix, PVR, Settings, v18 Leia

#15425 RenderCapture: Fix wrong printout
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCapture.cpp
Labels: 18.1

#15431 [modernize] use std:: instead of using namespace std
  tools/depends/native/JsonSchemaBuilder/src/JsonSchemaBuilder.cpp
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
Labels: Improvement, v18 Leia

#15443 [PVR] Fix CPVRTimers::GetRecordingTimerForRecording to respect timer'…
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Fix, PVR, v18 Leia

#15441 update SSL CA trust store
  tools/depends/target/openssl/cacert.pem
Labels: No-Jenkins, v18 Leia

#15341 Fix absurd Announcement Manager locking
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/interfaces/AnnouncementManager.h
Labels: Fix, v18 Leia

#15369 [Binary Addon] Provide instance version when creating AddonInstance
  xbmc/DynamicDll.h
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/DllAddon.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_addon_dll.h
Labels: Binary Addons, Feature, v18 Leia

#15445 [Android] Fix invalid PTS decoder value
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Video, v18 Leia

#15448 [Android] Fix invalid PTS decoder value (fix)
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, v18 Leia

#15232 [sqlite] Use extended result codes
  xbmc/dbwrappers/sqlitedataset.cpp
Labels: Database, Improvement, Logging

#15449 [PVR] Ignore very first 'server not reachable' notification.
  xbmc/pvr/addons/PVRClients.cpp
Labels: PVR, v18 Leia

#15450 [guiinfo] Fix ListitemAbsolute and ListItemPosition
  xbmc/guilib/guiinfo/GUIInfoHelper.cpp
Labels: Fix, GUI Engine, v18 Leia

#15455 [Android] Fix MediaCodec freeze when early disposing stream
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Video, v18 Leia

#15438 [addons] add for test purpose only a script for debian package generation
  xbmc/addons/kodi-addon-dev-kit/tools/debian-addon-package-test.sh
Labels: Binary Addons, No-Jenkins, v18 Leia, v19 M***

#15460 [win32] don't react on DPI change event on Win10 >= FCU
  xbmc/Application.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/DirectXHelper.h
  xbmc/windowing/windows/WinEventsWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: 18.1, Fix, Rendering GUI, Windows, v18 Leia

#15457 Add date to the log records
  xbmc/platform/posix/utils/PosixInterfaceForCLog.cpp
  xbmc/platform/posix/utils/PosixInterfaceForCLog.h
  xbmc/platform/win32/utils/Win32InterfaceForCLog.cpp
  xbmc/platform/win32/utils/Win32InterfaceForCLog.h
  xbmc/utils/log.cpp
Labels: Improvement, Logging, v18 Leia

#15148 X11: fix usage of required configuration values
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/X11/GLContextEGL.h
Labels: Binary Addons, Fix, GUI Engine, v18 Leia

#15468 [addons] not pass nullptr to std::string
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
Labels: Binary Addons, Fix, v18 Leia

#15466 [videoplayer] WinRenderer: remove `dxvaallowhqscaling` setting
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: 18.1, Rendering Video, Windows, v18 Leia

#15476 Revert "[DetectDVDType]: fix Crash due to non-checked error state"
  xbmc/storage/DetectDVDType.cpp
Labels: 18.1, Fix, macOS

#15461 [pvr][settings] Define a senseful default value for advanced settings 'updateemptytagsinterval'
  xbmc/settings/AdvancedSettings.cpp
Labels: PVR, Settings, v18 Leia

#15454 [DllLoader] No warning if resolve fails for optional dependencies
  xbmc/DynamicDll.h
Labels: Cleanup, Logging, v18 Leia

#15459 [VideoPlayer] Flush streamplayers if abort is requested
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
Labels: Improvement, Video, v18 Leia

#15355 [JSON]Speed up Player and Playlist operations
  xbmc/PlayListPlayer.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.h
  xbmc/interfaces/json-rpc/PlaylistOperations.cpp
  xbmc/interfaces/json-rpc/PlaylistOperations.h
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Fix, JSON-RPC API Change, v18 Leia

#15485 UPNPPlayer: Do not use memset on non-trivial type
  xbmc/network/upnp/UPnPPlayer.cpp
Labels: Fix, v18 Leia

#15492 fixed: NFO/tag loading for http/https sources was broken (fixes #15481)
  xbmc/video/tags/VideoInfoTagLoaderFactory.cpp
Labels: Fix, v18 Leia

#15524 Set m_bRenderGUI in RenderManager::PreInit
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
Labels: Fix, Rendering Video, v18 Leia

#15534 [Android] Queue AMEDIACODEC_BUFFER_FLAG_END_OF_STREAM buffer only >= API 26
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Rendering Video, v18 Leia

#15531 [wayland] Fix startup crash
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Fix, Linux, v18 Leia

#15486 bump for 18.1 final
  media/splash.jpg
  version.txt
Labels: v18 Leia

#15535 bump to 18.2rc1
  media/splash.jpg
  version.txt
Labels: v18 Leia

#15434 [python] fix usage of line-breaks in ok dialog
  xbmc/interfaces/legacy/Dialog.cpp
Labels: Fix, Python, v18 Leia

#15479 [PVR] Document implict call to CloseXXXStream() before OpenXXXStream()
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
Labels: Cleanup, PVR, v18 Leia

#15489 [estuary] Fix visual glitch when PVR info dialog activated from PVR channels OSD.
  addons/skin.estuary/xml/DialogSeekBar.xml
Labels: Fix, PVR, Skin, v18 Leia

#15516 [Windowing] Build complete strmode for RES_DESKTOP
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/WinSystemX11.cpp
  xbmc/windowing/osx/WinSystemIOS.mm
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Fix, GUI Engine, v18 Leia

#15480 [PVR] Correct interface documentation for PVR API GetStreamProperties() function
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
Labels: Fix, PVR, v18 Leia

#14665 [docs] Update style guidelines
  docs/CODE_GUIDELINES.md
Labels: Documentation, No-Jenkins

#15556 [Android] change intent management in java::main
  tools/android/packaging/xbmc/src/Main.java.in
Labels: Android, Fix, v18 Leia

#15553 [Android] Implement MediaDRM provisioning
  xbmc/platform/android/drm/MediaDrmCryptoSession.cpp
  xbmc/platform/android/drm/MediaDrmCryptoSession.h
Labels: Android, Fix, v18 Leia

#15499 CUtil::ValidatePath fix double (back)slash check
  xbmc/Util.cpp
  xbmc/test/TestUtil.cpp
Labels: Fix, v18 Leia

#15195 HTTP2 client support
  cmake/modules/FindCurl.cmake
  tools/depends/target/Makefile
  tools/depends/target/curl/Makefile
  tools/depends/target/nghttp2/Makefile
  xbmc/filesystem/CurlFile.cpp
Labels: Dependencies

#15557 [Music]Fix delay of playback on switching song in party mode
  xbmc/PartyModeManager.cpp
  xbmc/PartyModeManager.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Fix, Music, v18 Leia

#15543 [skins] prefer poster over thumb to match design
  addons/skin.estouchy/xml/DialogSelect.xml
  addons/skin.estouchy/xml/IncludesHomeRecentlyAdded.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Improvement, Skin

#15574 [Android] Post instead SendMessage to stop playing on SCREEN_OFF
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Fix, v18 Leia

#15477 [json]: - added Player.SetViewMode/GetViewmode method to the json interface
  xbmc/interfaces/json-rpc/JSONServiceDescription.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.h
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Feature, Improvement, JSON-RPC API Change, v18 Leia

#15586 Allow speedadjust for half frame situations (e.g. 3:2 pullback)
  xbmc/cores/VideoPlayer/DVDClock.cpp
Labels: Improvement, Rendering Video, Video, v18 Leia

#15580 [PVR] Fix LISTITEM_DURATION for timers.
  xbmc/pvr/PVRGUIInfo.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
Labels: Fix, GUI Engine, PVR, v18 Leia

#15595 Const correct audioengine
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEFilter.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEFilter.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.h
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.h
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioDevice.h
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioStream.h
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.h
  xbmc/cores/AudioEngine/Utils/AELimiter.h
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.h
  xbmc/cores/AudioEngine/Utils/AEUtil.cpp
  xbmc/cores/AudioEngine/Utils/AEUtil.h
Labels: Audio, Improvement, v18 Leia

#15600 silence dangling else warnings
  xbmc/music/tags/test/TestTagLoaderTagLib.cpp
Labels: Improvement, v18 Leia

#15602 [cleanup] remove yajl leftovers after 15017d865b
  .travis.yml
  cmake/cpack/deb/packages/kodi.txt.in
  cmake/modules/FindYajl.cmake
  docs/README.openSUSE.md
Labels: CMake, Cleanup, v18 Leia

#15619 Fix refclock calculation
  xbmc/cores/VideoPlayer/DVDClock.cpp
  xbmc/cores/VideoPlayer/VideoReferenceClock.cpp
Labels: Fix, Rendering Video, v18 Leia

#15624 [PVR][guiinfo] Fix/add support for ListItem.ParentalRating, VideoPlay…
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/PVRGUIInfo.cpp
Labels: Fix, GUI Engine, Improvement, PVR, v18 Leia

#15625 [Android] Check if ActiveAE is available if HEADSET_PLUG intent arrives
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Android, Fix, v18 Leia

#15630 [fix] guard windows specific include
  xbmc/utils/test/TestSystemInfo.cpp
Labels: Fix, v18 Leia

#14488 VideoPlayer: set demuxer speed other than pause and normal
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Fix, Video, v18 Leia

#15582 [Fix]Stop playback when next from last item in current playlist
  xbmc/Application.cpp
Labels: Fix, v18 Leia

#15622 [Android] rework intermediate stream start / flush
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Android, Fix, Video, v18 Leia

#15636 [Android] send BUFFER_FLAG_END_OF_STREAM to MediaCodec if EOF was detected
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Android, Fix, Rendering Video, v18 Leia
