Repository xbmc/xbmc, pull requests merged in 2019-12, with the labels that each got.

#16955 Android: Backport of Headphone enumeration
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Backport, v18 Leia

#16812 Revert "Revert "Reusepython""
  addons/xbmc.addon/metadata.xsd
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/PluginDirectory.h
  xbmc/interfaces/generic/ILanguageInvocationHandler.h
  xbmc/interfaces/generic/ILanguageInvoker.cpp
  xbmc/interfaces/generic/ILanguageInvoker.h
  xbmc/interfaces/generic/LanguageInvokerThread.cpp
  xbmc/interfaces/generic/LanguageInvokerThread.h
  xbmc/interfaces/generic/ScriptInvocationManager.cpp
  xbmc/interfaces/generic/ScriptInvocationManager.h
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/interfaces/python/PythonInvoker.h
  xbmc/interfaces/python/XBPython.cpp
  xbmc/interfaces/python/XBPython.h
Labels: Component: Python, Type: Improvement, v19 Matrix

#16924 [docs]Update code guidelines for readability of setting table-like structures
  docs/CODE_GUIDELINES.md
Labels: Documentation, Type: Improvement, v19 Matrix

#16982 Fix parse of filter rules for boolean fields into SQL query
  xbmc/dbwrappers/DatabaseQuery.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: Database, Type: Fix, v19 Matrix

#16976 JSON-RPC added 'flag' property to GetPropertyValue concerning audio/subtitle
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Type: Improvement, v19 Matrix

#16969 [Backport] RetroPlayer: Fix black screen for RGB emulators
  system/shaders/GLES/2.0/gles_shader_texture_noalpha.frag
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
Labels: Component: GLES rendering, Component: Games, Platform: RPi, Type: Backport, Type: Fix, v18 Leia

#17002 json-rpc: code fixes to audio/subtitle flags properties
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: PVR, Type: Fix, v19 Matrix

#17007 Add ctime to AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
Labels: Platform: FreeBSD, Type: Fix, v19 Matrix

#17015 AESinkAudioTrack: Fine-grain forced blocking depending on period_time and buffer
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: v19 Matrix

#16993 add Library.HasNode infobool
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
Labels: Component: GUI engine, Type: Feature, v19 Matrix

#17005 AESinkAudioTrack: Implement timestamp method for delay
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, v19 Matrix

#16987 ProfileManager: Fall back to master profile if profile.xml not loadable / parseable
  xbmc/profiles/ProfileManager.cpp
  xbmc/utils/XBMCTinyXML.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#16950 [Android] migrate to AndroidX
  tools/android/packaging/xbmc/build.gradle.in
  tools/android/packaging/xbmc/src/channels/SyncChannelJobService.java.in
  tools/android/packaging/xbmc/src/channels/SyncProgramsJobService.java.in
  tools/android/packaging/xbmc/src/channels/model/XBMCDatabase.java.in
  tools/android/packaging/xbmc/src/channels/util/TvUtil.java.in
Labels: Component: Build, Platform: Android, Type: Improvement, v19 Matrix

#17011 [music]Fix display of discs or songs sublist for selected album
  xbmc/filesystem/MusicDatabaseDirectory.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/windows/GUIWindowMusicNav.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#16853 [settings] allow set of needed extensions for picture selection
  xbmc/settings/windows/GUIControlSettings.cpp
Labels: Component: Settings, Type: Improvement, v19 Matrix

#17000 Add missing cassert includes
  xbmc/profiles/dialogs/GUIDialogProfileSettings.cpp
  xbmc/windowing/GraphicContext.cpp
Labels: Type: Fix, v19 Matrix

#17003 [WinSystemOSX] Change XBMC word leftover to Kodi
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Platform: macOS, v19 Matrix

#17024 AudioTrack: Hack for Leia - workaround broken AMLogic firmware v23
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, v18 Leia

#17032 demuxer: copy name property to stream
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
Labels: Type: Improvement, v19 Matrix

#16989 [Android] Priorize timer instead HDMI_AUDIOPLUG on refreshrate switch
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
Labels: Component: Windowing, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#17022 [Settings] CSettingInt: support pure string based labels for <option>
  xbmc/settings/lib/Setting.cpp
Labels: Component: Settings, Type: Improvement, v19 Matrix

#17021 [Python] fix build against python 3.8
  xbmc/interfaces/python/PythonInvoker.cpp
Labels: Component: Python, Type: Fix, v19 Matrix

#17009 FreeBSD: Unbreak VAAPI by syncing system/settings/{freebsd,linux}.xml
  system/settings/freebsd.xml
Labels: Type: Fix, v19 Matrix

#16904 FreeBSD: fix OSS support
  cmake/scripts/freebsd/ArchSetup.cmake
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/freebsd/OptionalsReg.cpp
  xbmc/platform/freebsd/OptionalsReg.h
  xbmc/platform/linux/OptionalsReg.cpp
  xbmc/platform/linux/OptionalsReg.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/rpi/WinSystemRpi.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
Labels: Type: Fix, v19 Matrix

#16925 [PVR] Recordings window: added support for ToggleWatched action
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#17044 [Estuary] fix artist slideshow condition
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Backport: Done, Component: Skin, Type: Fix, v19 Matrix

#17050 [Estuary] fix artist slideshow condition
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v18 Leia

#17035 [Estuary] fallback to icon in poster view
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/View_51_Poster.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#17048 AESinkAUDIOTRACK: Remove PT hack for volume
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, v19 Matrix

#17052 Windowing: GBM - Fix refreshrate switch
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
Labels: Component: Windowing, Type: Fix, v19 Matrix

#16863 [python] Fix unicode decode errors
  xbmc/interfaces/python/typemaps/python.string.outtm
  xbmc/interfaces/swig/AddonModuleXbmc.i
  xbmc/interfaces/swig/AddonModuleXbmcaddon.i
  xbmc/interfaces/swig/AddonModuleXbmcgui.i
  xbmc/interfaces/swig/AddonModuleXbmcvfs.i
Labels: Component: Python, Type: Fix

#16813 Fix crashes due to missing TrueHD overrun checks
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Component: Audio, Type: Fix, v19 Matrix

#17054 fixed: Calling SetCommonOptions() once should be 'nough
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Fix, v19 Matrix

#17055 fixed: When seeking m_bRetry must be updated
  xbmc/filesystem/CurlFile.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#17040 [cmake] add PKG_CONFIG_LIBDIR for addon build systems
  tools/depends/xbmc-addons.include
Labels: Component: Build, Type: Improvement, v19 Matrix

#16970 [videolibrary] Add setting movie set information folder
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/interfaces/builtins/LibraryBuiltins.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoScanner.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Component: Video, Type: Feature, v19 Matrix

#17042 fixed: Chunk size logic for file cache (hopefully fixes #16975)
  xbmc/filesystem/CacheStrategy.cpp
  xbmc/filesystem/File.cpp
  xbmc/filesystem/File.h
  xbmc/filesystem/FileCache.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Backport: Needed, Type: Fix, v19 Matrix

#16977 [Backport][Inputstream] Add IChapter interface #16581
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Backport, Type: Feature, v18 Leia

#16940 Improve video database clean performance (hopefully fixes #16880)
  xbmc/video/VideoDatabase.cpp
Labels: Component: Video, Type: Improvement, v19 Matrix

#17078 Fix cosmetic style issues introduced by TrueHD fix
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Component: Audio, Type: Fix, v19 Matrix

#17072 [Android] Simplify / fix modechange
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Backport: Done, Component: Windowing, Platform: Android, Type: Fix, v19 Matrix

#17068 Fix crashes due to missing TrueHD overrun checks
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Component: Audio, Type: Backport, Type: Fix, v18 Leia

#17079 [platform][input] Fix keyboard layouts sort order.
  xbmc/input/KeyboardLayoutManager.cpp
  xbmc/platform/linux/input/LibInputSettings.cpp
Labels: Component: Input, Type: Fix, v19 Matrix

#17056 [VideoPlayer] enable teletext support for inputstream addons
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Component: Video, Type: Improvement, v19 Matrix

#17010 [Estuary] Refactor Playlist Window + Views
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_MediaMenu.xml
  addons/skin.estuary/xml/MyPlaylist.xml
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/View_503_NowPlaying.xml
  addons/skin.estuary/xml/View_50_List.xml
  addons/skin.estuary/xml/View_55_WideList.xml
Labels: Component: Skin, Type: Feature, v19 Matrix

#17075 [Backport][Android] Simplify / fix modechange
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Component: Windowing, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#17090 Resume paused ActiveAE stream while draining to avoid playback lapse
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#16910 [VideoPlayer] Fix 'Resume from' functionality with audio only MPEG-TS streams
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Component: Video, Type: Fix, v19 Matrix

#17097 [Leia] Resume paused ActiveAE stream while draining to avoid lapse during pl…
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17070 fixed: When seeking m_bRetry must be updated (Leia backport)
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Fix, v18 Leia

#17089 [ios] fix size of EAGL layer on external screen
  xbmc/platform/darwin/ios/IOSEAGLView.mm
Labels: Backport: Needed, Platform: iOS, Type: Fix, v19 Matrix

#17101 [Leia] ActiveAE: Prevent packets with zero samples from being passed to Visualization
  xbmc/guilib/GUIVisualisationControl.cpp
Labels: Component: Audio, Type: Backport, Type: Fix, v18 Leia

#17103 [ios] fix size of EAGL layer on external screen
  xbmc/platform/darwin/ios/IOSEAGLView.mm
Labels: Platform: iOS, Type: Backport, Type: Fix, v18 Leia

#17096 [musicdb] ensure check for boxset flag is case insensitive
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#17081 fixed: Caching of small files (fixes regression of #17042)
  xbmc/filesystem/FileCache.cpp
  xbmc/filesystem/FileCache.h
Labels: Type: Fix, v19 Matrix

#17099 fixed: Cache forward size wasn't updated when source EOF was hit
  xbmc/filesystem/FileCache.cpp
  xbmc/filesystem/FileCache.h
Labels: Type: Fix, Type: Partial backport, v18 Leia

#17062 [settings] Serializer Interface
  xbmc/Application.h
  xbmc/settings/CMakeLists.txt
  xbmc/settings/DisplaySettings.h
  xbmc/settings/ISubSettings.h
  xbmc/settings/MediaSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/settings/SettingsBase.cpp
  xbmc/settings/SettingsValueXmlSerializer.cpp
  xbmc/settings/SettingsValueXmlSerializer.h
  xbmc/settings/SkinSettings.h
  xbmc/settings/lib/CMakeLists.txt
  xbmc/settings/lib/ISettingsValueSerializer.h
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
  xbmc/utils/SystemInfo.h
  xbmc/view/ViewStateSettings.h
Labels: Component: Settings, Type: Improvement, v19 Matrix

#17095 [video] fix "Browse" button in CGUIDialogVideoInfo for tvshows
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Component: Video, Type: Fix, v19 Matrix
