Repository xbmc/xbmc, pull requests merged in 2020-12, with the labels that each got.

#18884 [pvr] fix hide no info available EPG setting
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#18882 [CC] Fix basic american and special american charsets for EIA-608 CC …
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder.c
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder.h
Labels: Component: Video rendering, Type: Fix, Type: Improvement, v19 Matrix

#18886 Clean up some enums (coding style)
  xbmc/HDRStatus.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
Labels: Component: Video rendering, Type: Cleanup, v19 Matrix

#18830 [Video] Modify Streamdetails to return correct resolution for 4:3 video
  xbmc/utils/StreamDetails.cpp
Labels: Component: Video, Type: Fix, Type: Improvement, v19 Matrix

#18895 Add keymap support for OSMC remote controllers
  system/keymaps/osmc/osmc_remote.xml
  system/peripherals.xml
Labels: Component: Input, Component: System, Type: Improvement, v19 Matrix

#18848 [Fix] [Github action] Action only runs at xbmc/xbmc
  .github/workflows/gh-action-weblate-upload.yml
Labels: Type: Fix, v19 Matrix

#18883 [Android] read playlists from path substitutions for android tv channels
  cmake/scripts/android/Install.cmake
  tools/android/packaging/xbmc/src/XBMCURIUtils.java.in
  tools/android/packaging/xbmc/src/channels/SyncChannelJobService.java.in
  xbmc/platform/android/activity/CMakeLists.txt
  xbmc/platform/android/activity/JNIXBMCURIUtils.cpp
  xbmc/platform/android/activity/JNIXBMCURIUtils.h
  xbmc/platform/android/activity/android_main.cpp
Labels: Platform: Android, Type: Fix, Type: Improvement, v19 Matrix

#18862 [Music Videos] Align sort methods with music
  xbmc/video/GUIViewStateVideo.cpp
Labels: Component: Content, Component: Music, Component: Video, Type: Fix, Type: Improvement, v19 Matrix

#18837 Check settings for nullptr
  xbmc/Application.cpp
  xbmc/LangInfo.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/platform/linux/input/LibInputSettings.cpp
  xbmc/powermanagement/PowerManager.cpp
  xbmc/settings/Settings.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
Labels: Component: Settings, Type: Fix, v19 Matrix

#18858 [linux] drm object changes
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDRMPRIME.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/windowing/gbm/drm/DRMAtomic.cpp
  xbmc/windowing/gbm/drm/DRMObject.cpp
  xbmc/windowing/gbm/drm/DRMObject.h
Labels: Component: Video rendering, Component: Windowing, Platform: Linux, Type: Improvement, v19 Matrix

#18857 [linux] eglimage logging
  xbmc/utils/EGLImage.cpp
Labels: Component: Video, Platform: Linux, Type: Improvement, v19 Matrix

#18853 [tools/codesign][iOS/tvOS] Fix black screen for iPadOS 14 jailbroken iPads
  tools/depends/target/darwin-embedded-entitlements/darwin_embedded_entitlements.xml
Labels: Component: Build, Platform: iOS, Platform: tvOS, Type: Fix, v19 Matrix

#18900 [python] fix radiobutton
  xbmc/interfaces/legacy/Control.cpp
  xbmc/interfaces/legacy/Control.h
Labels: API change: Python, Component: Python, Type: Fix, v19 Matrix

#18889 [subtitles][ASS] Fix wrong screen position for 'fractional pts' muxed…
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
Labels: Component: Video rendering, Type: Fix, v19 Matrix

#18904 Bump to v19 beta 2
  version.txt
Labels: v19 Matrix

#18906 [depends] fix wayland build in release mode
  tools/depends/target/config.site.in
Labels: Component: Depends, Type: Fix, v19 Matrix

#18903 Fix a crash during python init
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  xbmc/interfaces/python/XBPython.cpp
Labels: Component: Depends, Component: Python, Platform: Windows, Platform: WindowsStore, Type: Fix, v19 Matrix

#18908 [video] Fix missing sizing information after zooming a video
  xbmc/cores/VideoPlayer/Interface/StreamInfo.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Component: Video, Type: Fix, v19 Matrix

#18905 [exif] fix gps altitude values (float)
  xbmc/pictures/ExifParse.cpp
Labels: Component: Content, Type: Fix, v19 Matrix

#18907 [GUI][ControlGroupList] Update scroller sizes when list size changes
  xbmc/guilib/GUIControlGroupList.cpp
Labels: Component: GUI engine, Type: Fix, Type: Improvement, v19 Matrix

#18920 Updated: If using old settings.xml default them to level Basic
  xbmc/addons/settings/AddonSettings.cpp
Labels: Component: Add-ons, Component: Settings, v19 Matrix

#18921 keyboardlayouts/ukrainian: fix typo in АБВ layout
  system/keyboardlayouts/ukrainian.xml
Labels: Component: Input, Type: Fix, v19 Matrix

#18923 [Android] fixed suggestion channel for android tv
  tools/android/packaging/xbmc/src/XBMCJsonRPC.java.in
  tools/android/packaging/xbmc/src/channels/SyncChannelJobService.java.in
Labels: Platform: Android, Type: Fix, v19 Matrix

#18918 CCurlFile Authentication fix
  xbmc/filesystem/CurlFile.cpp
Labels: Component: Network, Type: Fix, v19 Matrix

#18926 Use software decoder, as there is no known hardware decoder for 12bit h265
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Fix, v19 Matrix

#18933 [cosmetic] Replace xbmc leftover in xbmcaddon log line
  xbmc/interfaces/legacy/Addon.cpp
Labels: Component: Python, Type: Cleanup, v19 Matrix

#18934 [gui] fix all seasons poster in case movies are linked to a tvshow
  xbmc/video/windows/VideoFileItemListModifier.cpp
Labels: Component: GUI rendering, Type: Fix, v19 Matrix

#18925 update SSL CA trust store
  system/certs/cacert.pem
Labels: v19 Matrix

#18911 Media settings: repeat/shuffle fix load to playlistplayer on startup
  xbmc/settings/MediaSettings.cpp
  xbmc/settings/MediaSettings.h
Labels: Component: Music, Component: Settings, Component: Video, Type: Fix, v19 Matrix

#18909 Fix Music Playlist Editor system sources panel to not show "New playlist..." etc.
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18910 Fix swapping to fullscreen for video from music OSD in mixed m3u playlists
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/music/MusicInfoLoader.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18951 [macos][packaging] include only darwin settings files
  tools/darwin/Support/CopyRootFiles-osx.command
Labels: Platform: macOS, Type: Fix, v19 Matrix

#18947 [pvr] fix epg retrieval which should be by database ID
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Component: PVR, Type: Fix, v19 Matrix

#18950 windowing/gbm: hide and disable setting Use Display As Clock
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Component: Settings, Component: Windowing, Platform: Linux, Type: Improvement, v19 Matrix

#18927 A couple coverity fixes
  xbmc/platform/linux/input/LibInputSettings.cpp
  xbmc/utils/EGLImage.cpp
Labels: Platform: Linux, Type: Fix, v19 Matrix

#18931 [configure][darwin] fix macos11 sysroot required for compiler tests
  tools/depends/configure.ac
Labels: Component: Depends, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Fix, v19 Matrix

#18963 [addons] Reset addon settings when destroying the addon instance.
  xbmc/addons/Addon.cpp
  xbmc/addons/Addon.h
  xbmc/addons/IAddon.h
  xbmc/addons/binary-addons/AddonDll.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#18945 DVDFileInfo: Consult av_image_get_buffer_size before allocating
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
Labels: Type: Fix, v19 Matrix

#18964 [PVR] Fix PVR manager start/stop races
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#18970 [PVR] Fix EPG last scan time handling.
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#18968 [pvr] - json GetTimers to return broadcast id as it is now the unique epg identifier
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: API change: JSON-RPC, Component: JSON-RPC, Component: PVR, Type: Fix, v19 Matrix

#18980 DXVA2: adjust memory limit for 4K decoding from 3000 MB to 2960 MB
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Component: DirectX rendering, Type: Fix, v19 Matrix

#18977 Shaders: require profile level 9.3 only when is needed (ACES, Hable or HLG to PQ)
  system/shaders/output_d3d.fx
Labels: Component: DirectX rendering, Platform: Windows, Type: Fix, Type: Improvement, v19 Matrix

#18986 [addons] introduce advanced setting to allow showing all dependencies in dialog
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Component: Add-ons, Type: Cleanup, Type: Improvement, Wiki: Needed, v19 Matrix

#18999 [PVR] Do not stop playback when restarting PVR Manager.
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#18997 [android] Rework sleep/wakeup power event handling
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/powermanagement/AndroidPowerSyscall.h
Labels: Platform: Android, Type: Fix, v19 Matrix

#19002 [powermanagement] OnSleep: Send PVR to sleep after stopping playback.
  xbmc/powermanagement/PowerManager.cpp
Labels: Type: Fix, v19 Matrix

#19003 Audiotrack: Disable multi channel float once again
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: v19 Matrix
