Repository xbmc/xbmc, pull requests merged in 2020-01, with the labels that each got.

#17100 [VideoPlayer][Leia] Fix 'Resume from' with audio only MPEG-TS streams
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Type: Fix, v18 Leia

#17063 [scraper] Pass JSON serialized path settings to python scrapers
  xbmc/addons/Scraper.cpp
  xbmc/addons/Scraper.h
  xbmc/settings/CMakeLists.txt
  xbmc/settings/SettingsValueFlatJsonSerializer.cpp
  xbmc/settings/SettingsValueFlatJsonSerializer.h
Labels: Backport: Needed, Component: Add-ons, Component: Settings, Type: Fix, Type: Improvement, v19 Matrix

#17109 LinuxRendererGL: Fix useage of glTexImage3D format was not valid
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#17092 [videodb] use UpdateUniqueIDs() instead of AddUniqueIDs() in VideoDatabase::SetDetailsForMovie()
  xbmc/video/VideoDatabase.cpp
Labels: Component: Database, Type: Fix, v19 Matrix

#17107 [PVR] EPG grid container: Fix event offset calculation for gap tags.
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17108 [PVR] Guide window: Goto 'now' on system resume from sleep.
  xbmc/GUIUserMessages.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#17114 [PVR] EPG grid container: Make CGUIEPGGridContainer::GoToEnd consistent with CGUIEPGGridContainer::GoToBegin behavior
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
Labels: Component: PVR, Type: Cleanup, Type: Improvement, v19 Matrix

#17111 LinuxRendererGL: Fix useage of glTexImage3D format was not valid
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
Labels: Type: Backport, v18 Leia

#16988 Backport of Profile loading crash
  xbmc/profiles/ProfileManager.cpp
  xbmc/profiles/ProfileManager.h
  xbmc/utils/XBMCTinyXML.cpp
Labels: Type: Backport, v18 Leia

#17115 CGUIDialogSelect: fix focusing list / buttons after 6d34db9900
  xbmc/dialogs/GUIDialogSelect.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#17113 [PVR] EPG grid model: Simplify and speed up CGUIEPGGridContainerModel::FindChannelAndBlockIndex
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#17118 [PVR] EPG grid container: fix wrong timeline display on first grid page.
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17117 [PVR] EPG grid model: fix another edge case, that can lead to a crash…
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17122 Fixed windows 7 environment compatibility
  cmake/scripts/windows/ArchSetup.cmake
Labels: Component: Build, Platform: Windows, v19 Matrix

#17069 [ios] Keyboard refactoring
  xbmc/dialogs/GUIDialogKeyboardTouch.cpp
  xbmc/platform/darwin/ios-common/CMakeLists.txt
  xbmc/platform/darwin/ios-common/DarwinEmbedKeyboard.h
  xbmc/platform/darwin/ios-common/DarwinEmbedKeyboard.mm
  xbmc/platform/darwin/ios-common/DarwinEmbedKeyboardView.h
  xbmc/platform/darwin/ios-common/DarwinEmbedKeyboardView.mm
  xbmc/platform/darwin/ios-common/IOSKeyboard.h
  xbmc/platform/darwin/ios-common/IOSKeyboard.mm
  xbmc/platform/darwin/ios-common/IOSKeyboardView.h
  xbmc/platform/darwin/ios-common/IOSKeyboardView.mm
  xbmc/platform/darwin/ios/CMakeLists.txt
  xbmc/platform/darwin/ios/IOSKeyboardView.h
  xbmc/platform/darwin/ios/IOSKeyboardView.mm
Labels: Component: Input, Platform: iOS, Type: Improvement, v19 Matrix

#17132 [PVR] EPG grid container: fix regression after 2791691...
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17066 [vfs][addons] fix media view from addon given content
  xbmc/filesystem/FileDirectoryFactory.cpp
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#17123 Reset playlist on new file playback
  xbmc/PlayListPlayer.cpp
Labels: Backport: Done, Backport: Needed, Type: Fix, v19 Matrix

#17083 paplayer: avoid race condition that double fires OnPlaybackStarted
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#17084 [backport]paplayer: avoid race condition that double fires OnPlaybackStarted
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17143 [windows][depends] Update dependencies for all windows platforms
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindGIF.cmake
  cmake/modules/FindMariaDBClient.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  cmake/scripts/windowsstore/Macros.cmake
  project/BuildDependencies/scripts/0_package.native-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/native/JsonSchemaBuilder/win32/JsonSchemaBuilder.vcxproj
  tools/depends/native/TexturePacker/src/Win32/TexturePacker.vcxproj
  tools/depends/native/TexturePacker/src/Win32/version.rc
  xbmc/guilib/TextureBundleXBT.cpp
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/platform/win10/storage/Win10StorageProvider.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/utils/StringUtils.cpp
  xbmc/windowing/windows/WinSystemWin32DX.cpp
  xbmc/windowing/windows/WinSystemWin32DX.h
Labels: Component: Depends, Platform: Windows, Platform: WindowsStore, v19 Matrix

#17140 [PVR] Improve performance of TriggerRecordingUpdate/TriggerTimerUpdate
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#17036 [videoplayer] Fix GetItemsToScan scan in sub-directories
  xbmc/Util.cpp
Labels: Component: Video, Type: Fix, v19 Matrix

#17154 [PVR] Address regression due to recent PVR recordings change
  xbmc/pvr/recordings/PVRRecording.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17159 Fix HEAD Content-Length
  xbmc/network/WebServer.cpp
Labels: Platform: Windows, v19 Matrix

#17158 [PVR] EPG Guide window: Prevent scrolling of the grid if causing action was not user-initiated
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#17112 [backport] [scraper] Pass JSON serialized path settings to python scrapers
  xbmc/addons/Scraper.cpp
  xbmc/addons/Scraper.h
  xbmc/settings/CMakeLists.txt
  xbmc/settings/SettingsValueFlatJsonSerializer.cpp
  xbmc/settings/SettingsValueFlatJsonSerializer.h
  xbmc/settings/lib/CMakeLists.txt
  xbmc/settings/lib/ISettingsValueSerializer.h
Labels: Component: Add-ons, Component: Settings, Type: Backport, Type: Fix, Type: Improvement, Wiki: Needed, v18 Leia

#16598 [Buildsteps] Fix URL for list of Kodi mirrors
  tools/buildsteps/windows/download-dependencies.bat
Labels: Documentation, v19 Matrix

#17157 [windows][depends] Fix missing algorithms in pycryptodome
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Component: Depends, Component: Python, Platform: Windows, Platform: WindowsStore, v19 Matrix

#17128 Reset playlist on new file playback - Backport
  xbmc/PlayListPlayer.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17151 Fix python crash when aborting script
  xbmc/interfaces/python/PythonInvoker.cpp
Labels: Component: Python, v19 Matrix

#17145 Fix playback of bus encryption enabled bluray discs
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
Labels: Type: Fix, v19 Matrix

#17098 [backport] [videoplayer] Fix GetItemsToScan scan in sub-directories
  xbmc/Util.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16996 [pvr] Support for starting EPG entries as live
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/PVRStreamProperties.cpp
  xbmc/pvr/PVRStreamProperties.h
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIActions.h
Labels: Component: PVR, Type: Feature, v19 Matrix

#17008 [GBM] Unbreak on FreeBSD
  cmake/modules/FindEpollShim.cmake
  cmake/platform/freebsd/gbm.cmake
  xbmc/platform/linux/input/LibInputHandler.cpp
Labels: CMake, Platform: FreeBSD, Platform: Linux, Type: Fix, v19 Matrix

#17182 PeripheralBusUSBLibUdev: Filter on USB only
  xbmc/platform/linux/peripherals/PeripheralBusUSBLibUdev.cpp
Labels: Type: Fix, v19 Matrix

#17185 [tvOS] Fix cropped Now Playing image
  xbmc/platform/darwin/ios-common/DarwinEmbedNowPlayingInfoManager.mm
Labels: Platform: iOS, Platform: tvOS, v19 Matrix

#17170 [macos] fix copying Estuary resources to app package
  tools/darwin/Support/CopyRootFiles-osx.command
Labels: Backport: Done, Component: Build, Platform: macOS, Type: Fix, v19 Matrix

#17171 [Leia][macos] fix copying Estuary resources to app package
  tools/darwin/Support/CopyRootFiles-osx.command
Labels: Component: Build, Platform: macOS, Type: Backport, Type: Fix, v18 Leia

#17187 [Android] Implement PowerManager::OnSleep/OnWake
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/powermanagement/AndroidPowerSyscall.cpp
  xbmc/platform/android/powermanagement/AndroidPowerSyscall.h
  xbmc/powermanagement/PowerManager.h
Labels: Component: Windowing, Platform: Android, Type: Feature, v19 Matrix

#16779 Improve FreeBSD CPUInfo support
  xbmc/platform/freebsd/CPUInfoFreebsd.cpp
  xbmc/platform/freebsd/CPUInfoFreebsd.h
  xbmc/utils/Temperature.cpp
Labels: Type: Feature, v19 Matrix

#16097 SysfsUtils: cleanup and improve interface according to the documentation
  cmake/treedata/linux/tests.txt
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/platform/linux/SysfsPath.cpp
  xbmc/platform/linux/SysfsPath.h
  xbmc/platform/linux/test/CMakeLists.txt
  xbmc/platform/linux/test/TestSysfsPath.cpp
  xbmc/platform/win10/CPUInfoWin10.cpp
  xbmc/platform/win32/CPUInfoWin32.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/SysfsUtils.cpp
  xbmc/utils/SysfsUtils.h
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/test/TestSystemInfo.cpp
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Platform: Linux, Type: Cleanup, Type: Improvement, v19 Matrix

#17196 Add missing cassert include
  xbmc/platform/linux/peripherals/PeripheralBusUSBLibUdev.cpp
Labels: Type: Fix, v19 Matrix

#17198 Fix SiriRemote keymap
  system/keymaps/customcontroller.SiriRemote.xml
Labels: Component: Input, Type: Fix, v19 Matrix

#17179 [Estuary] Add more metadata to Video info pane
  addons/skin.estuary/xml/DialogVideoInfo.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#17181 [Estuary] Rating position fix + position adjustments for ListThumbInfoPanel & RightListPanel
  addons/skin.estuary/xml/View_50_List.xml
Labels: Component: Skin, Type: Fix, Type: Improvement, v19 Matrix

#17183 [Estuary] Add additional media flags to Music Visualization window info
  addons/skin.estuary/xml/DialogSeekBar.xml
Labels: Component: Skin, Type: Feature, Type: Improvement, v19 Matrix

#17166 skip comments in .edl files
  xbmc/cores/VideoPlayer/Edl.cpp
Labels: Component: Video, Type: Improvement, Wiki: Done, v19 Matrix

#17197 Fix problem introduced by clang-format include reordering
  xbmc/interfaces/legacy/Dialog.cpp
  xbmc/interfaces/legacy/Dialog.h
Labels: Type: Fix, v19 Matrix

#17194 fixed: guard against assert in tinyxml
  xbmc/video/VideoInfoTag.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#17211 fixed: Seeking with FileCache could lockup due to terminated thread
  xbmc/filesystem/FileCache.cpp
Labels: Backport: Needed, Type: Fix, v19 Matrix

#16735 [modernize] use-default-member-init
  tools/depends/native/TexturePacker/src/decoder/GifHelper.cpp
  tools/depends/native/TexturePacker/src/decoder/GifHelper.h
  tools/depends/native/TexturePacker/src/decoder/IDecoder.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINIOS.mm
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.h
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINTVOS.h
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINTVOS.mm
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioDevice.cpp
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioDevice.h
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioStream.cpp
  xbmc/cores/AudioEngine/Sinks/osx/CoreAudioStream.h
  xbmc/cores/AudioEngine/Utils/AERingBuffer.h
  xbmc/platform/android/activity/AndroidMouse.cpp
  xbmc/platform/android/activity/AndroidMouse.h
  xbmc/platform/android/activity/AndroidTouch.cpp
  xbmc/platform/android/activity/AndroidTouch.h
  xbmc/platform/android/activity/JNIXBMCFile.cpp
  xbmc/platform/android/activity/JNIXBMCFile.h
  xbmc/platform/android/activity/JNIXBMCMediaSession.cpp
  xbmc/platform/android/activity/JNIXBMCMediaSession.h
  xbmc/platform/android/activity/JNIXBMCVideoView.cpp
  xbmc/platform/android/activity/JNIXBMCVideoView.h
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.h
  xbmc/platform/darwin/network/ZeroconfBrowserDarwin.cpp
  xbmc/platform/darwin/network/ZeroconfBrowserDarwin.h
  xbmc/platform/darwin/network/ZeroconfDarwin.cpp
  xbmc/platform/darwin/network/ZeroconfDarwin.h
  xbmc/platform/darwin/osx/XBMCHelper.cpp
  xbmc/platform/darwin/osx/XBMCHelper.h
  xbmc/platform/darwin/tvos/filesystem/TVOSFile.h
  xbmc/profiles/ProfileManager.cpp
  xbmc/profiles/ProfileManager.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/timers/PVRTimersPath.cpp
Labels: Type: Improvement, v19 Matrix

#17205 [WIndows][addons][backport] Improve patch finding
  cmake/scripts/common/HandleDepends.cmake
  cmake/scripts/windows/tools/patch.cmake
  cmake/scripts/windowsstore/tools/patch.cmake
Labels: CMake, Component: Binary add-ons, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v18 Leia

#17236 [ios] fix visibility of input field with iPad's floating/split keyboard
  xbmc/platform/darwin/ios/IOSKeyboardView.mm
Labels: Platform: iOS, Type: Fix, v18 Leia

#17235 [Estuary] Media Flags fix
  addons/skin.estuary/xml/DialogSeekBar.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#17245 [macos][packaging] fix parsing device handle of a mounted dmg
  tools/darwin/packaging/osx/dmgmaker.pl
Labels: Backport: Done, Component: Build, Platform: macOS, Type: Fix, v19 Matrix

#17246 [macos][packaging] fix parsing device handle of a mounted dmg
  tools/darwin/packaging/osx/dmgmaker.pl
Labels: Component: Build, Platform: macOS, Type: Backport, Type: Fix, v18 Leia

#17243 [cmake] fix optional platform dependencies for X11 GLES
  cmake/platform/linux/x11.cmake
Labels: CMake, Platform: Linux, Type: Fix, v19 Matrix

#17232 [cmake] fix not allowed depends check
  cmake/scripts/common/CheckTargetPlatform.cmake
Labels: CMake, Component: Binary add-ons, Type: Fix, v19 Matrix

#17248 [Estuary] fix brackets in DialogVideoInfo.xml
  addons/skin.estuary/xml/DialogVideoInfo.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#17251 [PVR] Context menus: Implement 'Record', 'Stop recording', 'Switch to channel' for EPG gap tags.
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Cleanup, Type: Improvement, v19 Matrix

#17250 [PVR] Channel Manager: If started via channel's context menu, presele…
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
Labels: Component: PVR, Type: Improvement, v19 Matrix

#17231 [windows] Fix downloading dependencies from mirrors
  project/BuildDependencies/scripts/get_formed.cmd
Labels: Backport: Needed, Component: Build, Platform: Windows, Type: Fix, v19 Matrix

#16855 DVDVideoCodecDRMPRIME: improve error messages and drain codec on reset
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/Process/gbm/VideoBufferDRMPRIME.cpp
Labels: Component: Video, Platform: Linux, Type: Improvement, v19 Matrix

#17257 [music][gui] Ensure disc subtitle is in ListItem.Title for skins to display
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#17195 [PVR] EPG Memory optimizations/Performance improvements
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
  xbmc/pvr/epg/CMakeLists.txt
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/epg/EpgSearchData.cpp
  xbmc/pvr/epg/EpgSearchData.h
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
  xbmc/pvr/epg/EpgTagsCache.cpp
  xbmc/pvr/epg/EpgTagsCache.h
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/epg/EpgTagsContainer.h
  xbmc/pvr/guilib/guiinfo/PVRGUITimesInfo.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: PVR, Type: Improvement, Wiki: Needed, v19 Matrix

#17189 Backport: PeripheralBusUSB Fixes
  xbmc/platform/linux/peripherals/PeripheralBusUSBLibUdev.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17237 fixed: Seeking with FileCache could lockup due to terminated thread
  xbmc/filesystem/FileCache.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#16858 Add JSON RPC call to send button press event.
  xbmc/Application.cpp
  xbmc/input/ButtonTranslator.cpp
  xbmc/input/ButtonTranslator.h
  xbmc/interfaces/json-rpc/InputOperations.cpp
  xbmc/interfaces/json-rpc/InputOperations.h
  xbmc/interfaces/json-rpc/JSONServiceDescription.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/messaging/ApplicationMessenger.h
  xbmc/network/EventClient.cpp
Labels: API change: JSON-RPC, Component: Input, Component: JSON-RPC, Type: Feature, v19 Matrix

#17138 [Profiles] Perform operations only outside the login screen
  xbmc/profiles/ProfileManager.cpp
  xbmc/profiles/ProfileManager.h
Labels: Backport: Done, Component: Add-ons, Component: Profiles, Type: Fix, v19 Matrix

#17263 Fix MUSICPLAYER_DISC_TITLE define position
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Component: GUI engine, Component: Music, Type: Fix, v19 Matrix

#17127 [VideoThumbLoader] Do not replace the whole art map when getting item…
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/VideoThumbLoader.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#17141 [Backport][Profiles] Perform operations only outside the login screen
  xbmc/profiles/ProfileManager.cpp
  xbmc/profiles/ProfileManager.h
Labels: Component: Add-ons, Component: Profiles, Type: Backport, Type: Fix, v18 Leia

#17268 [PVR] Fix CPVREpgTagsContainer::UpdateEntries to reset the tags cache…
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/epg/EpgTagsContainer.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#17260 [depends] allow compiling on an aarch64 host
  tools/depends/configure.ac
  tools/depends/m4/xbmc_arch.m4
Labels: Component: Depends, Type: Feature, v19 Matrix

#17271 [PVR] Fix CPVREpgTagsCache missing channel data.
  xbmc/pvr/epg/EpgTagsCache.cpp
  xbmc/pvr/epg/EpgTagsCache.h
  xbmc/pvr/epg/EpgTagsContainer.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17266 [cmake] fix ldflags transfer on addon depends build
  cmake/scripts/common/HandleDepends.cmake
Labels: CMake, Component: Binary add-ons, Type: Fix, v19 Matrix

#17202 [JSON-RPC] Fix plugin:// url support for Files.GetFileDetails
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/FileFactory.cpp
  xbmc/filesystem/PluginFile.cpp
  xbmc/filesystem/PluginFile.h
  xbmc/interfaces/json-rpc/FileOperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Type: Fix, Type: Improvement, v19 Matrix

#17219 [AddonBase] Segfault/AV in CreateInstanceEx if addonInstance is not initialized
  xbmc/addons/binary-addons/AddonDll.cpp
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#17227 [Estuary] remove support for addons that have not been updated to py3
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/media/icons/infodialogs/trailer_search.png
  addons/skin.estuary/media/icons/infodialogs/youtube.png
  addons/skin.estuary/xml/Custom_1107_SearchDialog.xml
  addons/skin.estuary/xml/DialogKeyboard.xml
  addons/skin.estuary/xml/DialogMusicInfo.xml
  addons/skin.estuary/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/MyPics.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Cleanup, v19 Matrix

#17272 [gbm] define EGL_NO_X11 to follow upstream changes
  cmake/platform/linux/gbm.cmake
Labels: CMake, Component: Build, Platform: Linux, Type: Fix, v19 Matrix

#17277 Fix TextureCache::CacheImage does not fill texture outparam
  xbmc/TextureCache.cpp
Labels: Component: GUI rendering, Type: Fix, v19 Matrix

#17276 [cmake] fix Windows OS patch check of own installed
  cmake/scripts/windows/tools/patch.cmake
  cmake/scripts/windowsstore/tools/patch.cmake
Labels: CMake, Component: Binary add-ons, Platform: Windows, Platform: WindowsStore, Type: Fix, v18 Leia

#17233 Inputstream fixes
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#17163 [addons][inputstream] add RDS stream support
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Component: Binary add-ons, Component: PVR, Type: Fix, Type: Improvement, v19 Matrix

#17209 [depends] bump samba-gplv3 to version 4.11.6 & build static
  cmake/modules/FindSmbClient.cmake
  tools/android/packaging/Makefile.in
  tools/depends/Makefile.include.in
  tools/depends/native/Makefile
  tools/depends/native/heimdal/01-disable-libedit.patch
  tools/depends/native/heimdal/Makefile
  tools/depends/target/Makefile
  tools/depends/target/config-binaddons.site.in
  tools/depends/target/config.site.in
  tools/depends/target/cross-file.meson.in
  tools/depends/target/samba-gplv3/01-fix-dependencies.patch
  tools/depends/target/samba-gplv3/02-cross_compile.patch
  tools/depends/target/samba-gplv3/03-builtin-heimdal.patch
  tools/depends/target/samba-gplv3/04-built-static.patch
  tools/depends/target/samba-gplv3/Makefile
  tools/depends/target/samba-gplv3/autotools41.patch
  tools/depends/target/samba-gplv3/configureEndian.patch
  tools/depends/target/samba-gplv3/crt_extensions.patch
  tools/depends/target/samba-gplv3/no_fork_and_exec.patch
  tools/depends/target/samba-gplv3/samba_android.patch
  tools/depends/target/samba-gplv3/samba_off64_t.patch
Labels: Component: Depends, v19 Matrix

#17281 [addons] cleanup, prevent C++ from addon in Kodi, fix addon CStructHdl
  xbmc/addons/AddonProvider.h
  xbmc/addons/kodi-addon-dev-kit/include/NOTE
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/VideoPlayer/Interface/Addon/InputStreamConstants.h
Labels: Component: Binary add-ons, Type: Cleanup, Type: Fix, Type: Improvement, v19 Matrix

#17247 [posix] network: split into platform specific files
  cmake/scripts/android/ArchSetup.cmake
  cmake/scripts/freebsd/ArchSetup.cmake
  cmake/scripts/linux/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/treedata/freebsd/subdirs.txt
  cmake/treedata/optional/common/avahi.txt
  cmake/treedata/osx/subdirs.txt
  xbmc/network/Network.h
  xbmc/network/Zeroconf.cpp
  xbmc/network/ZeroconfBrowser.cpp
  xbmc/platform/darwin/osx/network/CMakeLists.txt
  xbmc/platform/darwin/osx/network/NetworkOsx.cpp
  xbmc/platform/darwin/osx/network/NetworkOsx.h
  xbmc/platform/freebsd/network/CMakeLists.txt
  xbmc/platform/freebsd/network/NetworkFreebsd.cpp
  xbmc/platform/freebsd/network/NetworkFreebsd.h
  xbmc/platform/linux/network/CMakeLists.txt
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/linux/network/NetworkLinux.h
  xbmc/platform/linux/network/zeroconf/CMakeLists.txt
  xbmc/platform/linux/network/zeroconf/ZeroconfAvahi.cpp
  xbmc/platform/linux/network/zeroconf/ZeroconfAvahi.h
  xbmc/platform/linux/network/zeroconf/ZeroconfBrowserAvahi.cpp
  xbmc/platform/linux/network/zeroconf/ZeroconfBrowserAvahi.h
  xbmc/platform/posix/network/CMakeLists.txt
  xbmc/platform/posix/network/NetworkLinux.cpp
  xbmc/platform/posix/network/NetworkLinux.h
  xbmc/platform/posix/network/NetworkPosix.cpp
  xbmc/platform/posix/network/NetworkPosix.h
Labels: Component: Network, Platform: FreeBSD, Platform: Linux, Platform: macOS, Type: Cleanup, v19 Matrix

#17130 [addons] fix multiple usage
  xbmc/addons/Addon.h
  xbmc/addons/AddonManager.cpp
  xbmc/addons/GUIWindowAddonBrowser.cpp
  xbmc/addons/IAddon.h
  xbmc/addons/PluginSource.cpp
  xbmc/addons/PluginSource.h
  xbmc/addons/addoninfo/AddonInfo.cpp
  xbmc/addons/addoninfo/AddonInfo.h
  xbmc/addons/binary-addons/BinaryAddonBase.cpp
  xbmc/addons/binary-addons/BinaryAddonBase.h
  xbmc/addons/binary-addons/BinaryAddonManager.cpp
  xbmc/addons/test/TestAddonInfoBuilder.cpp
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/games/GameUtils.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#17285 [pvr] CPVRPlaybackState class cleanup
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
Labels: Component: PVR, Type: Cleanup, v19 Matrix

#17226 Dialog.Close(all) should only close modal dialogs
  xbmc/guilib/GUIWindowManager.cpp
Labels: Component: GUI engine, Type: Improvement, v19 Matrix

#17270 [jsonrpc] Add boxset, disctitle & totaldiscs fields
  xbmc/GUIInfoManager.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/tags/MusicInfoTag.cpp
Labels: API change: JSON-RPC, Component: Music, Type: Improvement, v19 Matrix

#17278 webserver: Fix file access on auto-mounted sources
  xbmc/network/httprequesthandler/HTTPVfsHandler.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#17291 StringUtils: define FMT_DEPRECATED to fix windows coverity build
  xbmc/utils/StringUtils.h
Labels: Platform: Windows, Type: Fix, v19 Matrix

#17297 Revert "[Backport][Inputstream] Add IChapter interface #16581"
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Component: Binary add-ons, Type: Fix, v18 Leia

#17292 [addons] use on CAddonDll instance class pointer as identifier
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/AddonDll.h
  xbmc/addons/binary-addons/AddonInstanceHandler.cpp
  xbmc/games/addons/GameClient.cpp
Labels: Component: Binary add-ons, Type: Improvement, v19 Matrix

#17213 [Backport] Add missing cassert includes
  xbmc/profiles/dialogs/GUIDialogProfileSettings.cpp
  xbmc/windowing/GraphicContext.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17242 [videos] allow 0.0 rating in RatingAndVotes
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Component: GUI engine, Type: Improvement, v19 Matrix

#17298 [PVR][guiinfo] Fixup multiline episode name strings (which do not fit…
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#17299 [PVR][guiinfo] Leia: Fixup multiline episode name strings (which do not fit…
  xbmc/pvr/PVRGUIInfo.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#17214 Add missing cstddef includes
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/pictures/SlideShowPicture.cpp
Labels: Backport: Done, Type: Fix, v19 Matrix

#17215 [Backport] Add missing cstddef includes
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/pictures/SlideShowPicture.cpp
Labels: Type: Backport, Type: Fix, v18 Leia
