Repository xbmc/xbmc, pull requests merged in 2020-06, with the labels that each got.

#17965 [Skinning/Info] Expose Player.Progress and Player.ProgressCache as string infos
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Component: Skin, Type: Improvement, v19 Matrix

#17929 fix focusing proper setting control in CGUIDialogContentSettings
  xbmc/settings/dialogs/GUIDialogContentSettings.cpp
  xbmc/settings/dialogs/GUIDialogContentSettings.h
Labels: Component: Settings, Type: Fix, v19 Matrix

#17927 [Estaury] add missing font definitions
  addons/skin.estuary/xml/Font.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#17985 CApplication::IsStopping() implementation
  xbmc/Application.h
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Component: System, Platform: Android, Type: Fix, v19 Matrix

#17987 [Android] More exception handling in MediaCodec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Backport: Done, Component: Video, Platform: Android, Type: Fix, v19 Matrix

#17988 [Backport][Android] More exception handling in MediaCodec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#17925 [tests] Disable TestDateTime.GetAsTimeStamp
  xbmc/test/TestDateTime.cpp
Labels: Type: Fix, v19 Matrix

#17984 Expose player cache percentage to JSON so remotes can display it.
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Type: Improvement, v19 Matrix

#17991 [PVR] Guide window: Fix an issue with very short programmes
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgTagsCache.cpp
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17990 [Music][JSON]Add and process musicbrainz albumstatus tag
  addons/resource.language.en_gb/resources/strings.po
  xbmc/GUIInfoManager.cpp
  xbmc/addons/Scraper.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/Album.cpp
  xbmc/music/Album.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/DatabaseUtils.cpp
  xbmc/utils/DatabaseUtils.h
Labels: API change: GUI, API change: JSON-RPC, Component: Music, Type: Improvement, v19 Matrix

#17994 Expose VERSION_CODE and GIT SHA to GUI
  cmake/KodiConfig.cmake.in
  xbmc/CompileInfo.cpp.in
  xbmc/CompileInfo.h
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Component: Build, Component: Skin, Type: Feature, v19 Matrix

#17996 [Backport] Insert VERSION_CODE into full kodi version string
  cmake/KodiConfig.cmake.in
  xbmc/CompileInfo.cpp.in
  xbmc/CompileInfo.h
  xbmc/utils/SystemInfo.cpp
Labels: Component: Build, Component: System, Type: Backport, Type: Improvement, v18 Leia

#18004 Fix JSON schema after adding "albumstatus"
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Type: Fix, v19 Matrix

#18002 [inputstream] remove inputstreamaddon and inputstreamclass as identifiers for inputstream addons
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Component: Video, Type: Cleanup, v19 Matrix

#18007 [Android] Fix stall on stream end
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Backport: Needed, Component: Video, Platform: Android, Type: Fix, v19 Matrix

#18008 [Backport][Android] Fix stall on stream end
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#18015 [PVR] Timer settings dialog: Fix visibility conditions for pre/post margins
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17982 AESinkAudioTrack: Revisit VerifySinkConfiguration and Flushing
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Component: Audio, v19 Matrix

#18001 [pvr] Expert setting to allow using backend channel numbers with more than one PVR backend
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: PVR, Type: Feature, v19 Matrix

#18021 [PVR] Timer settings dialog: Fix end margin visible for reminders.
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimerType.h
  xbmc/pvr/timers/PVRTimers.cpp
Labels: API change: PVR, Component: PVR, Type: Fix, v19 Matrix

#18018 [Android] Fix drain in flushed state
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Backport: Done, Component: Video, Platform: Android, Type: Fix, v19 Matrix

#18019 [Backport][Android] Fix drain in flushed state
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#18020 [inputstream] log error for use of deprecated inputstreamaddon property
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: Component: Video, Type: Fix, v19 Matrix

#18022 [PVR] Reminders: Show reminder dialogs only when GUI is fully initialized / user has logged in
  xbmc/ServiceManager.cpp
  xbmc/pvr/guilib/PVRGUIActionListener.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17940 Show media stubs even if there is no optical drive
  xbmc/Application.cpp
  xbmc/dialogs/GUIDialogPlayEject.cpp
  xbmc/dialogs/GUIDialogPlayEject.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
Labels: Type: Improvement, v19 Matrix

#18023 [video] Re-add 'Mark watched/unwatched' context menu items to content-less video sources.
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Backport: Done, Component: Video, Type: Fix, v19 Matrix

#18029 Bump code version to 18.7.200 - patch for Android
  version.txt
Labels: v18 Leia

#18032 jquery 1.11.0 -> 3.5.1 for Webinterface
  addons/webinterface.default/lib/jquery/jquery-1.11.0.min.js
  addons/webinterface.default/lib/jquery/jquery-3.5.1.min.js
  addons/webinterface.default/videoPlayer.html
Labels: Component: Add-ons, Type: Improvement, v19 Matrix

#18034 [Android] Rename deprecated getVolumeList -> getStorageVolumes
  tools/depends/target/libandroidjni/Makefile
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Component: FileSystem, Platform: Android, Type: Improvement, v19 Matrix

#18037 [buildsteps/tvos] remove deb target from make-xbmc step
  tools/buildsteps/tvos/make-xbmc
Labels: Platform: tvOS, v19 Matrix

#17880 [cmake] JsonSchemaBuilder warnings and install fix
  tools/depends/native/JsonSchemaBuilder/CMakeLists.txt
Labels: Component: Build, v19 Matrix

#18038 Use HEVC_NAL_CRA_NUT as KeyFrame
  xbmc/utils/BitstreamConverter.cpp
Labels: Component: Video rendering, Platform: AMLogic, Platform: Android, Type: Fix, v19 Matrix

#17675 [PeripheralBus] IOS GameController Support
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/treedata/darwin_embedded/subdirs.txt
  xbmc/peripherals/PeripheralTypes.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/platform/darwin/ios-common/peripherals/CMakeLists.txt
  xbmc/platform/darwin/ios-common/peripherals/InputKey.h
  xbmc/platform/darwin/ios-common/peripherals/Input_Gamecontroller.h
  xbmc/platform/darwin/ios-common/peripherals/Input_Gamecontroller.mm
  xbmc/platform/darwin/ios-common/peripherals/PeripheralBusDarwinEmbedded.h
  xbmc/platform/darwin/ios-common/peripherals/PeripheralBusDarwinEmbedded.mm
  xbmc/platform/darwin/ios-common/peripherals/PeripheralBusDarwinEmbeddedManager.h
  xbmc/platform/darwin/ios-common/peripherals/PeripheralBusDarwinEmbeddedManager.mm
Labels: Component: Add-ons, Component: Games, Component: Input, Platform: iOS, Type: Feature, v19 Matrix

#17512 [depends] bump libnfs to 4.0.0
  tools/depends/target/libnfs/Makefile
Labels: Component: Network, Type: Improvement, v19 Matrix

#18028 [Android] proper drain implementation
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Component: Video rendering, Platform: Android, Type: Improvement, v19 Matrix

#17981 [python] add DelayedCallGuard to xbmcgui.Dialog().info()
  xbmc/interfaces/legacy/Dialog.cpp
Labels: Backport: Needed, Component: Python, Type: Fix, v19 Matrix

#17998 [Estuary] use new version infolabels in sysinfo
  addons/skin.estuary/xml/SettingsSystemInfo.xml
Labels: Backport: Needed, Component: Skin, Type: Improvement, v19 Matrix

#18030 Allow original release date for albums to be scraped
  xbmc/addons/Scraper.cpp
  xbmc/music/Album.cpp
Labels: Component: Music, Type: Improvement, v19 Matrix

#17893 [GUI] Fix ActivateWindow if 'return' is defined
  xbmc/interfaces/builtins/GUIBuiltins.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#18042 Run CGUIDialogProgress ONLY in GUI thread
  xbmc/dialogs/GUIDialogBusy.cpp
  xbmc/dialogs/GUIDialogBusy.h
  xbmc/dialogs/GUIDialogBusyNoCancel.cpp
  xbmc/dialogs/GUIDialogBusyNoCancel.h
  xbmc/dialogs/GUIDialogProgress.cpp
  xbmc/guilib/GUIDialog.cpp
  xbmc/guilib/GUIDialog.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/windowing/GraphicContext.cpp
Labels: Component: GUI rendering, Component: Python, Type: Fix, v19 Matrix

#18046 EDL comskip: support commercial at 0:00
  xbmc/cores/VideoPlayer/Edl.cpp
Labels: Backport: Done, Component: Video, Type: Fix, v19 Matrix

#18027 [settings] fix displaying integer / string values with dynamic options
  xbmc/interfaces/json-rpc/SettingsOperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/settings/windows/GUIControlSettings.cpp
Labels: Component: JSON-RPC, Component: Settings, Type: Fix, v19 Matrix

#18055 [PVR] Fix EPG grid container crash
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v19 Matrix

#18054 [addon] prevent publicate of C++ functions / classes from headers, fix old to new pvr update and cleanup General parts
  xbmc/addons/addoninfo/AddonInfo.cpp
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AudioEngine.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/Filesystem.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/Network.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/AudioDecoder.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/AudioEncoder.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Game.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/ImageDecoder.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Peripheral.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Screensaver.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/VFS.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/VideoCodec.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Visualization.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/c-api/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/c-api/general.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/ListItem.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/Window.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Button.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Edit.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/FadeLabel.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Image.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Label.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Progress.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/RadioButton.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Rendering.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/SettingsSlider.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Slider.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/Spin.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/controls/TextBox.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/ContextMenu.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/ExtendedProgress.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/FileBrowser.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/Keyboard.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/Numeric.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/OK.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/Progress.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/Select.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/TextViewer.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/dialogs/YesNo.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/gl/GLonDX.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/gui/renderHelper.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/platform/android/System.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/tools/DllHelper.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Fix, Type: Improvement, v19 Matrix

#18050 [gui] cleanup: remove log spam / code improvements
  xbmc/GUIPassword.cpp
  xbmc/GUIPassword.h
  xbmc/guilib/GUIWindowManager.cpp
Labels: Type: Cleanup, v19 Matrix

#18059 Reinit binary addon manager when loading a profile; fixes non working pvr addons.
  xbmc/addons/binary-addons/BinaryAddonManager.h
  xbmc/profiles/ProfileManager.cpp
  xbmc/pvr/addons/PVRClients.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17976 [Estuary] Improvements to Fullscreen Info/Seekbar for Video & Music
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/MusicVisualisation.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#18033 [docs] update Kodi banner in cmake/addons docs
  cmake/addons/README.md
  cmake/addons/bootstrap/README.md
Labels: Documentation, v19 Matrix

#18011 [linux] TestSysfsPath: Use unique file name for every test
  xbmc/platform/linux/test/TestSysfsPath.cpp
Labels: Platform: Linux, Type: Fix, v19 Matrix

#18063 [docs][python] fixed typo
  xbmc/interfaces/legacy/File.h
Labels: Documentation, v19 Matrix

#18047 EDL comskip: support commercial at 0:00
  xbmc/cores/VideoPlayer/Edl.cpp
Labels: Component: Video, Type: Backport, Type: Fix, v18 Leia

#18024 [Leia][video] Re-add 'Mark watched/unwatched' context menu items to content-less video sources.
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Component: Video, Type: Backport, Type: Fix, v18 Leia

#18056 Leia pvr fix epg container race
  xbmc/pvr/windows/GUIEPGGridContainer.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v18 Leia

#18064 [addons] remove pvr from addoncache and improve addon manager addon check
  xbmc/addons/AddonManager.cpp
  xbmc/addons/BinaryAddonCache.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Component: Add-ons, Component: PVR, Type: Improvement, v19 Matrix

#18057 [addons] fix PVR disable/enable handle
  xbmc/Application.cpp
  xbmc/ServiceManager.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonProvider.h
  xbmc/addons/AddonSystemSettings.cpp
  xbmc/addons/AddonSystemSettings.h
  xbmc/addons/AudioDecoder.cpp
  xbmc/addons/AudioDecoder.h
  xbmc/addons/AudioEncoder.cpp
  xbmc/addons/AudioEncoder.h
  xbmc/addons/ImageDecoder.cpp
  xbmc/addons/ImageDecoder.h
  xbmc/addons/ScreenSaver.cpp
  xbmc/addons/ScreenSaver.h
  xbmc/addons/VFSEntry.cpp
  xbmc/addons/VFSEntry.h
  xbmc/addons/Visualization.cpp
  xbmc/addons/Visualization.h
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/AddonInstanceHandler.cpp
  xbmc/addons/binary-addons/AddonInstanceHandler.h
  xbmc/addons/binary-addons/BinaryAddonBase.cpp
  xbmc/addons/binary-addons/BinaryAddonBase.h
  xbmc/addons/binary-addons/BinaryAddonManager.cpp
  xbmc/addons/binary-addons/BinaryAddonManager.h
  xbmc/addons/interfaces/General.cpp
  xbmc/cdrip/CDDARipJob.cpp
  xbmc/cdrip/CDDARipper.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/paplayer/CodecFactory.cpp
  xbmc/filesystem/FileDirectoryFactory.cpp
  xbmc/guilib/GUIVisualisationControl.cpp
  xbmc/guilib/imagefactory.cpp
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/network/GUIDialogNetworkSetup.cpp
  xbmc/peripherals/addons/PeripheralAddon.cpp
  xbmc/peripherals/addons/PeripheralAddon.h
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.cpp
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.h
  xbmc/profiles/ProfileManager.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/utils/FileExtensionProvider.cpp
  xbmc/utils/FileExtensionProvider.h
  xbmc/windows/GUIWindowScreensaver.cpp
  xbmc/windows/GUIWindowScreensaverDim.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#18065 [cmake] remove very old no more needed part of addons
  cmake/scripts/common/Macros.cmake
Labels: CMake, Type: Cleanup, v19 Matrix

#17876 [Android] Support dvh1 codec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, v19 Matrix

#17913 [Android] pause audio playback when headphone is disconnected
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Platform: Android, Type: Fix, v19 Matrix

#17867 [GUI] Don't touch plugin:// urls
  xbmc/windows/GUIMediaWindow.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#18074 fix addon label2
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#18026 Music library differential sync and better recentlly added handling
  addons/resource.language.en_gb/resources/strings.po
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/Album.cpp
  xbmc/music/Album.h
  xbmc/music/Artist.cpp
  xbmc/music/Artist.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/Song.cpp
  xbmc/music/Song.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/DatabaseUtils.cpp
  xbmc/utils/DatabaseUtils.h
  xbmc/utils/FileUtils.cpp
  xbmc/utils/FileUtils.h
  xbmc/utils/test/TestDatabaseUtils.cpp
Labels: API change: JSON-RPC, Component: Music, Type: Feature, Type: Fix, v19 Matrix

#18081 [Music]Fix MySQL syntax for trigger tgrInsertGenre
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18077 [Android] Fix drain in flushed state
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Fix, v19 Matrix

#18051 [Album Scaper] provide detailed album selection dialog
  xbmc/addons/Scraper.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Improvement, v19 Matrix

#18035 fix manual album refresh
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Improvement, v19 Matrix

#18041 Albumscraper: allow fine-grained relevance values
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Improvement, v19 Matrix

#18075 Invoke PowerManager OnStart / OnStop
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
Labels: Component: System, Component: Video, Platform: Android, Type: Fix, v19 Matrix

#17702 Fix build with x11/gles
  xbmc/windowing/X11/GLContextEGL.cpp
Labels: Component: Windowing, Platform: Linux, Type: Fix, v19 Matrix

#17794 [tools/depends] pythonmodule-pil update to 7.1.2
  addons/script.module.pil/addon.xml
  cmake/scripts/darwin_embedded/Install.cmake
  tools/darwin/Support/CopyRootFiles-darwin_embedded.command
  tools/depends/target/pythonmodule-pil/01-rbpi-remove-lcms.patch
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pil/pillow-crosscompile.patch
Labels: Component: Depends, Platform: Android, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Improvement, v19 Matrix

#18071 FFmpeg: Bump to 4.3-Matrix-Alpha1
  cmake/modules/FindFFMPEG.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  tools/buildsteps/windows/patches/0001-ffmpeg-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-zlib-config-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-static.patch
  tools/buildsteps/windows/patches/0004-ffmpeg-w32pthreads.patch
  tools/buildsteps/windows/patches/0005-ffmpeg-detect-dav1d.patch
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Component: Depends, Type: Improvement, v19 Matrix

#18092 [Android] Move PYTHON into cache folder
  tools/android/packaging/xbmc/src/Splash.java.in
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Component: Python, Platform: Android, Type: Improvement, v19 Matrix

#18093 [cmake] allow passing additional flag to internal ffmpeg
  cmake/modules/FindFFMPEG.cmake
  tools/depends/target/ffmpeg/CMakeLists.txt
Labels: CMake, Component: Build, v19 Matrix

#18091 [PVR] APIv7 crash when EPG_TAG structure contains null pointers
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/EPG.h
Labels: Component: Binary add-ons, Type: Fix, v19 Matrix

#18096 [addons] Fix data encapsulation violation for C++ PVR Addon API classes.
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/ChannelGroups.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Channels.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/EDL.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/General.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/MenuHook.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Recordings.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Stream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Timers.h
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#18061 [Estuary] add missing back buttons for touchscreen users
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/SlideShow.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#18100 Fix spelling errors identified by Lintian
  addons/resource.language.en_gb/resources/strings.po
  docs/CODE_GUIDELINES.md
  tools/EventClients/Clients/PS3BDRemote/ps3_remote.py
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/CHANGELOG
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/example-sdl/sdl.c
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/example/example.c
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/src/events.c
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/src/io_win.c
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/src/wiiuse.c
  tools/EventClients/Clients/WiiRemote/wiiuse_v0.12/src/wiiuse.h
  xbmc/Util.cpp
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/addons/interfaces/AddonBase.cpp
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/VideoCodec.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/ChannelGroups.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Channels.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Recordings.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Timers.h
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEChannelInfo.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvdnav_events.h
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/filesystem/CurlFile.cpp
  xbmc/guilib/GUIColorManager.cpp
  xbmc/guilib/GUIFontManager.cpp
  xbmc/guilib/VisibleEffect.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/input/joysticks/generic/FeatureHandling.h
  xbmc/input/touch/ITouchInputHandler.h
  xbmc/input/touch/generic/IGenericTouchGestureDetector.h
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/python/swig.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/network/WakeOnAccess.cpp
  xbmc/network/cddb.cpp
  xbmc/powermanagement/IPowerSyscall.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgTagsContainer.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/utils/EGLUtils.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/windowing/wayland/SeatInputProcessing.h
Labels: Type: Improvement, v19 Matrix

#18090 [PVR] Clean up API v7 warnings generated on Microsoft compilers
  xbmc/addons/kodi-addon-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/pvr/Timers.h
Labels: Component: Binary add-ons, Type: Improvement, v19 Matrix

#18102 [Estuary] handle input in the fullscreeninfo dialog
  addons/skin.estuary/xml/DialogFullScreenInfo.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#18087 [addons] allow disabled and incompatible addons to still be updated
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonDatabase.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/ContextMenus.cpp
  xbmc/addons/GUIDialogAddonInfo.cpp
  xbmc/addons/addoninfo/AddonInfo.h
  xbmc/interfaces/json-rpc/AddonsOperations.cpp
  xbmc/pvr/addons/PVRClients.cpp
Labels: Component: Add-ons, Type: Improvement, v19 Matrix

#18082 [xbmc.gui] drop backward compatibility for Leia skins
  addons/xbmc.gui/addon.xml
Labels: API change: GUI, Type: Breaking change, v19 Matrix

#18105 [Estuary] fix touch back button
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/SlideShow.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#18068 [Music]Fix constraint violation on Artist Update
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Component: Music, Type: Fix, v19 Matrix

#18079 Artist discography - Use Musicbrainz releasegroup ids for matching
  xbmc/addons/Scraper.cpp
  xbmc/music/Artist.cpp
  xbmc/music/Artist.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Component: Music, Type: Improvement, v19 Matrix

#18009 Windows HDR passthrough support and some DirectX updates
  system/keymaps/keyboard.xml
  xbmc/Application.cpp
  xbmc/CMakeLists.txt
  xbmc/HDRStatus.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
  xbmc/windowing/win10/WinSystemWin10DX.h
  xbmc/windowing/windows/WinSystemWin32.h
  xbmc/windowing/windows/WinSystemWin32DX.cpp
  xbmc/windowing/windows/WinSystemWin32DX.h
Labels: Component: DirectX rendering, Component: Video, Component: Video rendering, Platform: Windows, Platform: WindowsStore, Type: Feature, v19 Matrix

#18098 [skins] update fonts
  addons/skin.estouchy/fonts/NotoSans-Regular.ttf
  addons/skin.estuary/fonts/NotoSans-Bold.ttf
  addons/skin.estuary/fonts/NotoSans-Regular.ttf
  addons/skin.estuary/xml/Font.xml
Labels: Component: Skin, Type: Improvement, v19 Matrix

#18097 [estuary] various osd fixes
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Component: Skin, Type: Fix, v19 Matrix

#18120 [estuary] handle up/down in fullscreeninfo
  addons/skin.estuary/xml/DialogFullScreenInfo.xml
Labels: Component: Skin, Type: Fix, v19 Matrix
