Repository xbmc/xbmc, pull requests merged in 2020-11, with the labels that each got.

#18692 [cmake] allow doxygen documentation generation for cross builds
  CMakeLists.txt
Labels: CMake, Type: Fix, v19 Matrix

#18686 [GitHub][tvOS] Add tvOS checkbox in issue template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Infrastructure, No Jenkins, Platform: tvOS, v19 Matrix

#18690 cmake: add check for python3.9
  cmake/modules/FindPython.cmake
Labels: CMake, Component: Build, v19 Matrix

#18695 [tvOS] relocate DarwinNSUserDefaults to tvOS
  xbmc/platform/darwin/ios-common/CMakeLists.txt
  xbmc/platform/darwin/tvos/CMakeLists.txt
  xbmc/platform/darwin/tvos/PreflightHandler.mm
  xbmc/platform/darwin/tvos/TVOSNSUserDefaults.h
  xbmc/platform/darwin/tvos/TVOSNSUserDefaults.mm
  xbmc/platform/darwin/tvos/filesystem/TVOSDirectory.cpp
  xbmc/platform/darwin/tvos/filesystem/TVOSFile.cpp
Labels: Platform: tvOS, Type: Fix, v19 Matrix

#18706 Android: Update README to specify '--sdk_root'
  docs/README.Android.md
Labels: Platform: Android, Type: Improvement, v19 Matrix

#18708 tools/depends: fix mesa build for aarch64
  tools/depends/target/mesa/Makefile
Labels: Component: Depends, Platform: Linux, Type: Fix, v19 Matrix

#18703 [jenkins] unify linux buildsteps
  tools/buildsteps/defaultenv
  tools/buildsteps/linux-aarch64-gbm/configure-xbmc
  tools/buildsteps/linux-aarch64-gbm/make-depends
  tools/buildsteps/linux-aarch64-gbm/make-xbmc
  tools/buildsteps/linux-aarch64-gbm/package
  tools/buildsteps/linux-aarch64-gbm/prepare-depends
  tools/buildsteps/linux-aarch64-gbm/prepare-xbmc
  tools/buildsteps/linux-aarch64-gbm/run-tests
  tools/buildsteps/linux-arm-gbm/configure-depends
  tools/buildsteps/linux-arm-gbm/configure-xbmc
  tools/buildsteps/linux-arm-gbm/make-binary-addons
  tools/buildsteps/linux-arm-gbm/make-native-depends
  tools/buildsteps/linux-arm-gbm/prepare-depends
  tools/buildsteps/linux/configure-depends
  tools/buildsteps/linux/configure-xbmc
  tools/buildsteps/linux/make-binary-addons
  tools/buildsteps/linux/make-depends
  tools/buildsteps/linux/make-native-depends
  tools/buildsteps/linux/make-xbmc
  tools/buildsteps/linux/package
  tools/buildsteps/linux/prepare-depends
  tools/buildsteps/linux/prepare-xbmc
  tools/buildsteps/linux/run-tests
  tools/buildsteps/linux64/configure-depends
  tools/buildsteps/linux64/make-binary-addons
  tools/buildsteps/linux64/make-depends
  tools/buildsteps/linux64/make-native-depends
  tools/buildsteps/linux64/make-xbmc
  tools/buildsteps/linux64/package
  tools/buildsteps/linux64/prepare-xbmc
  tools/buildsteps/linux64/run-tests
Labels: Component: Build, Platform: Linux, Type: Cleanup, v19 Matrix

#18711 [fix] add tvOS @available check for GCExtendedGamepad.(left|right)ThumbstickButton
  xbmc/platform/darwin/ios-common/peripherals/Input_Gamecontroller.mm
Labels: Platform: tvOS, Type: Fix, v19 Matrix

#18722 Fixing copy paste in PVRClientMenuHooks.cpp
  xbmc/pvr/addons/PVRClientMenuHooks.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#18699 [JSON][Music]Fix update of record modified date for artwork changes
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicUtils.cpp
Labels: API change: JSON-RPC, Component: Music, Type: Fix, v19 Matrix

#18688 Tone mapping: misc fixes and improvements
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Fix, Type: Improvement, v19 Matrix

#18719 CPlatform cleanup and linux registration changes
  xbmc/platform/CMakeLists.txt
  xbmc/platform/Platform.cpp
  xbmc/platform/android/CMakeLists.txt
  xbmc/platform/android/PlatformAndroid.cpp
  xbmc/platform/android/PlatformAndroid.h
  xbmc/platform/darwin/ios-common/CMakeLists.txt
  xbmc/platform/darwin/ios-common/PlatformDarwinEmbedded.cpp
  xbmc/platform/darwin/ios-common/PlatformDarwinEmbedded.h
  xbmc/platform/darwin/osx/CMakeLists.txt
  xbmc/platform/darwin/osx/PlatformDarwinOSX.cpp
  xbmc/platform/darwin/osx/PlatformDarwinOSX.h
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/freebsd/PlatformFreebsd.cpp
  xbmc/platform/freebsd/PlatformFreebsd.h
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/OptionalsReg.cpp
  xbmc/platform/linux/OptionalsReg.h
  xbmc/platform/linux/PlatformLinux.cpp
  xbmc/platform/linux/PlatformLinux.h
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win10/PlatformWin10.cpp
  xbmc/platform/win10/PlatformWin10.h
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/PlatformWin32.cpp
  xbmc/platform/win32/PlatformWin32.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.h
  xbmc/windowing/X11/WinSystemX11GLESContext.cpp
  xbmc/windowing/X11/WinSystemX11GLESContext.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
Labels: Component: Input, Component: Windowing, Platform: Linux, Type: Cleanup, v19 Matrix

#18721 windowing/wayland: fix spelling error in egl guard
  xbmc/windowing/wayland/OptionalsReg.cpp
Labels: Component: Build, Component: Video rendering, Component: Windowing, Platform: Linux, Type: Fix, v19 Matrix

#18714 OpenGL: remove use of BUFFER_OFFSET macro
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUITextureGL.cpp
  xbmc/pictures/SlideShowPicture.cpp
Labels: Component: GL rendering, Component: GLES rendering, Platform: Android, Platform: Linux, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Cleanup, Type: Fix, v19 Matrix

#18726 [PVR] GetRecordings: Do not delete recordings for failed clients.
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/recordings/PVRRecordings.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#18724 Tone mapping: Add new tone map methods "ACES Filmic" and "Hable"
  addons/resource.language.en_gb/resources/strings.po
  system/keymaps/keyboard.xml
  system/shaders/output_d3d.fx
  xbmc/Application.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoSettings.h
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
Labels: Component: DirectX rendering, Component: Video rendering, Platform: Windows, Platform: WindowsStore, Type: Improvement, v19 Matrix

#18732 [addons] fix crash when updating addon with private repo in manifest
  xbmc/addons/Addon.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/IAddon.h
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#18701 [Android] Fix Art in leanback for media items
  tools/android/packaging/xbmc/src/XBMCJsonRPC.java.in
Labels: Platform: Android, Type: Fix, v19 Matrix

#18742 Fix music playlists context menu
  xbmc/video/ContextMenus.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18743 Clean up compile warnings by handling music ids consistently as int
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/filesystem/MusicDatabaseDirectory/QueryParams.cpp
  xbmc/filesystem/MusicDatabaseDirectory/QueryParams.h
  xbmc/filesystem/MusicDatabaseFile.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/JSONServiceDescription.cpp
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/music/Album.h
  xbmc/music/Artist.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/Song.cpp
  xbmc/music/Song.h
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/music/tags/MusicInfoTagLoaderFFmpeg.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/settings/dialogs/GUIDialogLibExportSettings.cpp
  xbmc/utils/RecentlyAddedJob.cpp
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
Labels: Component: Music, Type: Cleanup, v19 Matrix

#18747 [Content] Fix art thumb served when adding items to favourites
  xbmc/favourites/FavouritesService.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/ContentUtils.cpp
  xbmc/utils/ContentUtils.h
Labels: Component: Content, Type: Fix, Type: Improvement, v19 Matrix

#17993 Merge VideoInfoTag/Art data instead replace all when playback with add-ons
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
Labels: Component: Video, Type: Improvement, v19 Matrix

#18700 [pvr] bulk commit epg queries when deleting a channel
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/epg/EpgTagsContainer.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#18659 Remove XBMC migration steps
  .gitignore
  cmake/scripts/darwin_embedded/Install.cmake
  tools/Linux/kodi.sh.in
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/darwin/packaging/darwin_embedded/migrate_to_kodi.sh.in
  tools/darwin/packaging/darwin_embedded/mkdeb-darwin_embedded.sh.in
  tools/darwin/runtime/preflight
Labels: Component: Build, Platform: Android, Platform: Linux, Platform: iOS, Type: Cleanup, v19 Matrix

#18752 [metadata.local] Define assets and bump version for matrix
  addons/metadata.local/addon.xml
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#18705 [addons][inputstream][videocodec] Fix wrong flags bit shift
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/inputstream.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Fix, v19 Matrix

#18748 Tone mapping: small fixes and clean up
  system/shaders/output_d3d.fx
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
Labels: Component: DirectX rendering, Component: Video rendering, Platform: Windows, Type: Fix, Type: Improvement, v19 Matrix

#18754 [Artwork] Fix season-all posters and manage context menu item
  xbmc/video/windows/VideoFileItemListModifier.cpp
Labels: Component: Content, Type: Fix, v19 Matrix

#18750 [pvr] bulk commit queries across the deletion of multiple epgs
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#18749 Tone mapping: Extend default video settings to store tone map method
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoSettings.cpp
  xbmc/cores/VideoSettings.h
  xbmc/settings/MediaSettings.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Component: Database, Component: Settings, Component: Video, Type: Fix, Type: Improvement, v19 Matrix

#18764 [test] add test for XbmcThreads::EndTime class
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/threads/SystemClock.h
  xbmc/threads/test/CMakeLists.txt
  xbmc/threads/test/TestEndTime.cpp
  xbmc/threads/test/TestHelpers.h
Labels: Component: System, Type: Fix, v19 Matrix

#18675 [addons] fixes to depends select dialog / DialogAddonInfo and toast messages
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.h
Labels: Component: Add-ons, Type: Fix, Type: Improvement, v19 Matrix

#18731 CSettings: change settings definitions to constexpr
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: Settings, Type: Fix, v19 Matrix

#18758 [addons] fix: don't check updated repos for updates during migration
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#18763 CLirc: fix segfault by waiting for settings to be loaded
  xbmc/platform/linux/input/LIRC.cpp
Labels: Component: Input, Platform: Linux, Type: Fix, v19 Matrix

#18746 [Estuary] Fix Music Viz & Remove Time Remaining
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Component: Skin, Type: Cleanup, Type: Fix, v19 Matrix

#18775 [PVR] Prevent timer notifications if previous addon GetTimers call failed
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
Labels: Component: PVR, Type: Fix, v19 Matrix

#18776 [dialogs] CGUIDialogKaiToast::AddToQueue: Avoid duplicates in a row.
  xbmc/dialogs/GUIDialogKaiToast.cpp
Labels: Component: GUI rendering, Type: Fix, v19 Matrix

#18774 [keymaps] FullscreenInfo: map longpress return and lonpress enter to PlayPause
  system/keymaps/keyboard.xml
Labels: Component: Input, Type: Cleanup, v19 Matrix

#18770 [Fix] Cast not showing when play next is set to episodes
  xbmc/Application.cpp
Labels: Component: Content, Type: Fix, v19 Matrix

#18782 [addons] improve ShowDependencyList dialog label creation
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Component: Add-ons, Type: Improvement, v19 Matrix

#18751 [OpenGL] Add ACES and Hable mapping
  system/shaders/GL/1.5/gl_tonemap.glsl
  system/shaders/GL/1.5/gl_yuv2rgb_basic.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
Labels: v19 Matrix

#17916 [JSON-RPC] Use int to volume in OnVolumeChanged
  xbmc/Application.cpp
  xbmc/interfaces/json-rpc/ApplicationOperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: Input, Component: JSON-RPC, Type: Fix, v19 Matrix

#18785 [tools/codesign][iOS/tvOS] Fix black screen for iOS 14 jailbroken devices
  tools/depends/target/darwin-embedded-entitlements/darwin_embedded_entitlements.xml
Labels: Component: Build, Platform: iOS, Platform: tvOS, Type: Fix, v19 Matrix

#18789 [pvr] fix coverity errors
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
Labels: Component: PVR, Type: Cleanup, v19 Matrix

#18788 [fix] Always append SortByPlaycount
  xbmc/video/GUIViewStateVideo.cpp
Labels: Type: Fix, v19 Matrix

#16705 Fixed using 'label2Mask' for folders
  xbmc/filesystem/PluginDirectory.cpp
Labels: Component: Python, Type: Fix, v19 Matrix

#18797 [Subtitles][Ass] Add [Events] as possible parser option
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDFactorySubtitle.cpp
Labels: Component: Content, Type: Fix, v19 Matrix

#18794 [Subtitles][Ass] Fix non-working ASS-Override setting
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Component: Content, Type: Fix, v19 Matrix

#18796 Bump ffmpeg to 4.3.1-Matrix-Beta1
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Component: Video, Type: Fix, v19 Matrix

#18795 Fix music db migration on MySQL/MariaDB of unexpectedly large lists of artist fanart
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Component: Music, Type: Fix, v19 Matrix

#18786 Add webm and webp mimetype support to UPNP Renderer (fixes #18740)
  xbmc/network/upnp/UPnPRenderer.cpp
Labels: Component: UPnP, Type: Fix, v19 Matrix

#18793 [JSON-RPC] Do not limit the time to 24 hours
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: API change: JSON-RPC, Component: JSON-RPC, Type: Fix, v19 Matrix

#18710 [tvOS][lifecycle] Fix random stuck in busy spinner screen
  xbmc/platform/darwin/tvos/XBMCController.h
  xbmc/platform/darwin/tvos/XBMCController.mm
Labels: Component: System, Component: Windowing, Platform: tvOS, Type: Fix, v19 Matrix

#18694 [Android] SDK 29 / buildtools 29.0.3
  tools/android/packaging/xbmc/AndroidManifest.xml.in
  tools/android/packaging/xbmc/build.gradle.in
Labels: Component: Build, Platform: Android, Type: Improvement, v19 Matrix

#18802 [Android] Enable LegacyExternalStorage (part of SDK 29 bump)
  tools/android/packaging/xbmc/AndroidManifest.xml.in
Labels: Component: Build, Platform: Android, Type: Fix, v19 Matrix

#18772 Bump to v19 beta 1
  media/splash.jpg
  version.txt
Labels: v19 Matrix

#18806 [Android] Enable LegacyExternalStorage (part of SDK 29 bump) Fix Typo
  tools/android/packaging/xbmc/AndroidManifest.xml.in
Labels: Component: Build, Platform: Android, Type: Fix, v19 Matrix

#18819 Fix clang tidy warning after #18747
  xbmc/utils/ContentUtils.cpp
Labels: Component: Content, Type: Improvement, v19 Matrix

#18784 [depends] bump cmake 3.18.4
  cmake/modules/FindCCache.cmake
  cmake/scripts/osx/ArchSetup.cmake
  tools/depends/native/cmake/Makefile
Labels: Component: Build, Component: Depends, Type: Fix, v19 Matrix

#18814 Prevents wrong or uninitialized HDR metadata values
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
Labels: Component: Video rendering, Platform: Windows, Type: Fix, v19 Matrix

#18787 Remove dead code in CVideoSettings
  xbmc/cores/VideoSettings.h
  xbmc/settings/MediaSettings.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Component: Video, Type: Fix, v19 Matrix

#18809 [addons][videoplayer] Fix and simplify crypto session handling.
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/inputstream/StreamCrypto.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/inputstream/stream_crypto.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/Interface/DemuxCrypto.h
Labels: API change: Binary add-ons, Component: Binary add-ons, Type: Cleanup, Type: Fix, v19 Matrix

#18838 Fix navigation & context menu in Music Playlist Editor
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.h
Labels: Component: Music, Type: Fix, v19 Matrix

#18833 [fix] Clang tidy warning (#18819 follow up)
  xbmc/utils/ContentUtils.cpp
Labels: Type: Fix, v19 Matrix

#18801 [addons] fix: enable dependency list for disabled manually installed …
  xbmc/Application.cpp
  xbmc/ContextMenuItem.cpp
  xbmc/ContextMenuManager.cpp
  xbmc/LangInfo.cpp
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonRepos.cpp
  xbmc/addons/AddonStatusHandler.cpp
  xbmc/addons/AddonSystemSettings.cpp
  xbmc/addons/ContextMenus.cpp
  xbmc/addons/FontResource.cpp
  xbmc/addons/LanguageResource.cpp
  xbmc/addons/Scraper.cpp
  xbmc/addons/Service.cpp
  xbmc/addons/addoninfo/AddonInfo.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/gui/GUIWindowAddonBrowser.cpp
  xbmc/addons/interfaces/General.cpp
  xbmc/cdrip/EncoderFFmpeg.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/ResourceFile.cpp
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/GameClientProperties.cpp
  xbmc/games/controllers/ControllerManager.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/dialogs/osd/DialogGameAdvancedSettings.cpp
  xbmc/guilib/GUIAudioManager.cpp
  xbmc/guilib/guiinfo/AddonsGUIInfo.cpp
  xbmc/guilib/guiinfo/VisualisationGUIInfo.cpp
  xbmc/interfaces/builtins/AddonBuiltins.cpp
  xbmc/interfaces/json-rpc/AddonsOperations.cpp
  xbmc/interfaces/json-rpc/GUIOperations.cpp
  xbmc/interfaces/legacy/Addon.cpp
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/dialogs/GUIDialogInfoProviderSettings.cpp
  xbmc/network/httprequesthandler/HTTPWebinterfaceHandler.cpp
  xbmc/peripherals/Peripherals.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/dialogs/GUIDialogContentSettings.cpp
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/utils/RssManager.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/view/GUIViewState.cpp
  xbmc/weather/WeatherJob.cpp
  xbmc/weather/WeatherManager.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowScreensaverDim.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#18803 windows: fix coverity build
  xbmc/platform/win32/pch.h
  xbmc/utils/StringUtils.h
Labels: Component: Build, Platform: Windows, Type: Fix, v19 Matrix

#18836 Remove unused code related to HW tone mapping
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
Labels: Component: Video rendering, Platform: Windows, Type: Cleanup, v19 Matrix

#18839 [depends][python] update darwinembedded patchset
  tools/depends/target/python3/darwin_embedded.patch
Labels: Component: Depends, Component: Python, Platform: iOS, Platform: tvOS, Type: Fix, v19 Matrix

#18828 [ios] Fix keyboard crash on iOS 14
  xbmc/platform/darwin/ios-common/DarwinEmbedKeyboard.mm
Labels: Component: Input, Platform: iOS, Type: Fix, v19 Matrix

#18826 Make musicvideosallperformers setting default "true"
  system/settings/settings.xml
Labels: Component: Settings, Wiki: Needed, v19 Matrix

#18834 DXVA2: Fix crash playing HEVC videos on systems with 16 cores / 32 threads
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Component: DirectX rendering, Type: Fix, v19 Matrix

#18851 [Fix] Cast not showing when play next is set to episodes
  xbmc/Application.cpp
Labels: Component: Content, Type: Fix, v19 Matrix

#18850 [Windows] Fix broken dither code (it was never enabled)
  system/shaders/output_d3d.fx
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
Labels: Component: DirectX rendering, Platform: Windows, Type: Fix, v19 Matrix

#18816 [linux] fix using CDVDVideoCodecDRMPRIME on wayland
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/windowing/gbm/drm/DRMUtils.cpp
  xbmc/windowing/gbm/drm/DRMUtils.h
Labels: Component: Video, Platform: Linux, Type: Fix, v19 Matrix

#18813 [linux] fix texture deletion on DRMPRIMEGLES
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.h
Labels: Component: GLES rendering, Component: Video rendering, Platform: Linux, Type: Fix, v19 Matrix

#18812 [linux] fix video rendering on GLES
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Component: GLES rendering, Component: Video rendering, Platform: Linux, Type: Fix, v18 Leia

#18835 freebsd: use linux.xml for settings as they should use the same settings
  system/settings/freebsd.xml
Labels: Component: Settings, Platform: FreeBSD, Type: Fix, v19 Matrix

#18825 [Lang] fix hardcoded returns
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Fix, v19 Matrix

#18859 Coverity fix Member initialisation in DX DeviceResources
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Platform: Windows, Type: Cleanup, Type: Fix, v19 Matrix

#17831 Fix Bootstrap Script With Space in PATH
  tools/depends/bootstrap
Labels: Component: Build, Type: Fix, v19 Matrix

#18805 OpenGL tone map: fix black screen using ACES and Hable
  system/shaders/GL/4.0/gl_yuv2rgb_filter4.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
Labels: Component: GL rendering, Component: Video rendering, Type: Fix, v19 Matrix

#18829 [Music]Fix immediate playback of .m3u playlists on click when not playlistsasfolder
  xbmc/music/windows/GUIWindowMusicNav.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18823 Fix PlayMedia builtin to play music files in mixed .m3u playlists
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18849 [Music] Fix availability "scan to library" context menu button
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18870 [darwinembedded] deb packaging handle symlink settings
  tools/darwin/packaging/darwin_embedded/mkdeb-darwin_embedded.sh.in
Labels: Component: Build, Platform: iOS, Platform: tvOS, Type: Fix, v19 Matrix

#18869 [subtitles][ass] fix/extend detection of font attachments (mimetype)
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Component: Video rendering, Type: Fix, v19 Matrix

#18874 [UWP] Fix typo in kernelVersionFull string
  xbmc/utils/SystemInfo.cpp
Labels: Platform: WindowsStore, Type: Fix, v19 Matrix

#18861 Detect HTTP Directory items which contain a colon
  xbmc/filesystem/HTTPDirectory.cpp
  xbmc/filesystem/test/TestHTTPDirectory.cpp
  xbmc/filesystem/test/data/httpdirectory/apache-default.html
  xbmc/filesystem/test/data/httpdirectory/apache-fancy.html
  xbmc/filesystem/test/data/httpdirectory/apache-html.html
  xbmc/filesystem/test/data/httpdirectory/basic-multiline.html
  xbmc/filesystem/test/data/httpdirectory/basic.html
  xbmc/filesystem/test/data/httpdirectory/lighttp-default.html
  xbmc/filesystem/test/data/httpdirectory/nginx-default.html
Labels: Component: Network, Type: Improvement, v19 Matrix

#18852 Fixes to Music Playlist Editor
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.h
  xbmc/playlists/PlayList.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18873 Move HDR toggle message strings (toast notifications) to strings.po
  addons/resource.language.en_gb/resources/strings.po
  xbmc/Application.cpp
Labels: Component: System, Type: Fix, v19 Matrix

#18879 Fix "Party mode playlist" item actions and context menu buttons
  addons/resource.language.en_gb/resources/strings.po
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#18877 [OSX][packaging] allow ability create dmg from xcode generated project
  cmake/scripts/osx/Install.cmake
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
Labels: Component: Build, Platform: macOS, Type: Fix, v19 Matrix
