Repository xbmc/xbmc, pull requests merged in 2020-04, with the labels that each got.

#17039 CProfileManager: do not wait for bool uiInitializationFinished
  xbmc/profiles/ProfileManager.cpp
Labels: PR Cleanup: Ready to Merge, v19 Matrix

#12100 Increase commbreakautowait and commbreakautowind max seconds to 60
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Component: Video, Type: Improvement, v19 Matrix

#17560 [VideoPlayer] move buffer classes to Buffers directory
  cmake/treedata/common/videoplayer.txt
  xbmc/cores/VideoPlayer/Buffers/CMakeLists.txt
  xbmc/cores/VideoPlayer/Buffers/VideoBuffer.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBuffer.h
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDRMPRIME.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDRMPRIME.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VTB.h
  xbmc/cores/VideoPlayer/Process/CMakeLists.txt
  xbmc/cores/VideoPlayer/Process/ProcessInfo.h
  xbmc/cores/VideoPlayer/Process/gbm/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.h
Labels: Type: Cleanup, v19 Matrix

#17576 add VideoPlayer.offset() infolabels
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.h
Labels: API change: GUI, Component: GUI engine, Type: Feature, v19 Matrix

#17584 fix VideoPlayer.UniqueID() infolabel
  xbmc/GUIInfoManager.cpp
Labels: Component: GUI engine, Type: Fix, v19 Matrix

#17583 add ListItem.TvShowDBID infolabel
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: API change: GUI, Component: GUI engine, Type: Feature, v19 Matrix

#17574 [application] Fix black screen when switching from PVR Live TV channel to PVR Radio channel.
  xbmc/Application.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17598 CProfileManager: do not wait for bool uiInitializationFinished
  xbmc/profiles/ProfileManager.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17577 Spelling Mistake in IMemoryStream.h
  xbmc/cores/RetroPlayer/streams/memory/IMemoryStream.h
Labels: Component Documentation, Type: Cleanup, v19 Matrix

#17550 Open python scripts in binary mode
  xbmc/interfaces/python/PythonInvoker.cpp
Labels: Component: Python, Type: Improvement, v19 Matrix

#17016 [docs] added missing dependency
  docs/README.Fedora.md
Labels: Component: Depends, PR Cleanup: Needs Review, Platform: Linux, Type: Fix, v19 Matrix

#17502 [docs] update FreeBSD build instructions for 12.1
  docs/README.FreeBSD.md
  tools/buildsteps/freebsd/configure-xbmc
Labels: Component Documentation, Platform: FreeBSD, v19 Matrix

#17212 [tvOS] Implement PowerManager::OnSleep/OnWake
  cmake/treedata/darwin_embedded/tvos/tvos.txt
  xbmc/platform/darwin/tvos/XBMCApplication.mm
  xbmc/platform/darwin/tvos/XBMCController.h
  xbmc/platform/darwin/tvos/XBMCController.mm
  xbmc/platform/darwin/tvos/powermanagement/CMakeLists.txt
  xbmc/platform/darwin/tvos/powermanagement/TVOSPowerSyscall.cpp
  xbmc/platform/darwin/tvos/powermanagement/TVOSPowerSyscall.h
  xbmc/windowing/tvos/WinSystemTVOS.mm
Labels: Component: Windowing, PR Cleanup: Merge Candidate, Platform: tvOS, Type: Improvement, v19 Matrix

#17617 cmake: add check for python3.8
  cmake/modules/FindPython.cmake
Labels: Component: Build, Component: Python, Type: Improvement, v19 Matrix

#17611 [Android] MediaCodec: reimplement JNI (instead NDK)
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Component: Video, Platform: Android, Type: Fix, v19 Matrix

#17466 [backport][ios] apply safe area insets to Kodi GUI
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/ios/IOSScreenManager.mm
  xbmc/platform/darwin/ios/XBMCController.h
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/windowing/GraphicContext.cpp
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/Resolution.h
Labels: Component: GUI rendering, Platform: iOS, Type: Backport, Type: Improvement, v18 Leia

#17618 Don't send UNFOCUS_ALL after touch action
  xbmc/input/InputManager.cpp
Labels: Backport: Done, Component: Input, Type: Fix, v19 Matrix

#17613 [Android][Backport] MediaCodec: Use JNI instead NDK
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Component: Video, Platform: Android, Type: Backport, Type: Fix, v18 Leia

#17624 [Addons] Always use lowercase addon versions
  xbmc/addons/AddonVersion.cpp
  xbmc/addons/test/TestAddonVersion.cpp
Labels: Component: Add-ons, v19 Matrix

#17625 [Windows] Correction to Windows date/time calculations after PR 17358
  xbmc/platform/win32/filesystem/Win32Directory.cpp
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
Labels: Type: Fix, v19 Matrix

#17630 [depends] refresh patches
  tools/depends/target/gnutls/add-dl-as-private-lib.patch
  tools/depends/target/libcdio-gplv3/01-fix-glob-on-android.patch
  tools/depends/target/libgpg-error/libgpg-error-1.36-gawk5-support.patch
  tools/depends/target/libshairplay/0001-configure-fix-dns-sd-check.patch
  tools/depends/target/libshairplay/Makefile
  tools/depends/target/python3/no-abort.patch
  tools/depends/target/python3/setup.patch
Labels: Component: Depends, v19 Matrix

#17620 Remove unused Inputstream addon functions and increase max props
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
Labels: API change: Binary add-ons, Component: Video, Type: Breaking change, Type: Improvement, v19 Matrix

#17627 Enable UTF-8 for JumpLetter and cleanup need for KEY_ASCII
  xbmc/dialogs/GUIDialogKeyboardGeneric.cpp
  xbmc/dialogs/GUIDialogNumeric.cpp
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIBaseContainer.h
  xbmc/guilib/GUIEditControl.cpp
  xbmc/input/InputManager.cpp
  xbmc/input/Key.cpp
  xbmc/input/Key.h
  xbmc/video/Teletext.cpp
Labels: Type: Improvement, v19 Matrix

#17622 [Backport] Don't send UNFOCUS_ALL after touch action
  xbmc/input/InputManager.cpp
Labels: Component: Input, Type: Backport, Type: Fix, v18 Leia

#17479 [Addons] Remove noicon/nofanart and old fallback paths to the root of…
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
Labels: Component: Add-ons, Type: Cleanup, v19 Matrix

#17605 CDMAHeapBufferObject: add /dev/dma_heap/linux,cma path
  xbmc/utils/DMAHeapBufferObject.cpp
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17544 [RetroPlayer] allow using wayland with CRPRendererDMA
  xbmc/cores/RetroPlayer/buffers/CMakeLists.txt
  xbmc/cores/RetroPlayer/buffers/RenderBufferDMA.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/CMakeLists.txt
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMA.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMA.h
  xbmc/utils/BufferObjectFactory.cpp
  xbmc/utils/BufferObjectFactory.h
  xbmc/utils/CMakeLists.txt
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
Labels: Platform: Linux, Type: Feature, v19 Matrix

#17631 Added the option to pass arguments to add-on menu callbacks
  xbmc/ContextMenuItem.cpp
  xbmc/ContextMenuItem.h
  xbmc/addons/ContextMenuAddon.cpp
Labels: Component: Add-ons, Component: Python, v19 Matrix

#17589 [Music] Add NODE_TYPE_DISC to CMusicDatabaseDirectory::ContainsSongs()
  xbmc/filesystem/MusicDatabaseDirectory.cpp
Labels: Component: Music, Type: Fix, v19 Matrix

#17649 [Android] Add WisePlay DRM
  xbmc/addons/kodi-addon-dev-kit/include/kodi/StreamCrypto.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/Interface/Addon/DemuxCrypto.h
  xbmc/platform/android/media/drm/MediaDrmCryptoSession.cpp
Labels: Component: Video, Platform: Android, Type: Improvement, v19 Matrix

#17654 Trigger render when scrolling (smartredraw)
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Component: GUI rendering, Component: Input, Type: Improvement, v19 Matrix

#17626 [LanguageCodes] Add "Swiss german" for audio streams (ISO-639-2)
  xbmc/utils/LangCodeExpander.cpp
Labels: Type: Improvement, v19 Matrix

#17659 [addons][network] "C" ABI cleanups and clang cleanups
  xbmc/addons/kodi-addon-dev-kit/include/kodi/Network.h
Labels: Component: Binary add-ons, Type: Cleanup, v19 Matrix

#17491 Allow internetstream video sources in a LAN to look for exernal subtitle files.
  xbmc/Util.cpp
Labels: Component: Video, Type: Improvement, v19 Matrix

#17642 [Addons] Make linux addons not compatible with freebsd
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#17656 [linux] drop drm folder from drm includes
  xbmc/utils/DMAHeapBufferObject.cpp
  xbmc/utils/DumbBufferObject.cpp
  xbmc/utils/UDMABufferObject.cpp
Labels: Platform: Linux, Type: Fix, v19 Matrix

#17638 CBufferObject: unify logging style
  xbmc/utils/DMAHeapBufferObject.cpp
  xbmc/utils/DumbBufferObject.cpp
  xbmc/utils/UDMABufferObject.cpp
Labels: Platform: Linux, Type: Cleanup, Type: Improvement, v19 Matrix

#17637 CRenderBufferDMA: log the buffer type in use
  xbmc/cores/RetroPlayer/buffers/RenderBufferDMA.cpp
  xbmc/utils/DMAHeapBufferObject.h
  xbmc/utils/DumbBufferObject.h
  xbmc/utils/GBMBufferObject.h
  xbmc/utils/IBufferObject.h
  xbmc/utils/UDMABufferObject.h
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#16063 windowing/gbm: add option to limit gui size
  addons/resource.language.en_gb/resources/strings.po
  system/settings/gbm.xml
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Component: GLES rendering, Component: GUI rendering, PR Cleanup: Ask Author, Platform: Linux, Type: Feature, v19 Matrix

#17655 [test] update TestSysfsPath to use EXPECT_EQ
  xbmc/platform/linux/test/TestSysfsPath.cpp
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17640 CRPRendererDMA: use TEXTURE shader so DMA can be used with OpenGL
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMA.cpp
Labels: Platform: Linux, Type: Cleanup, Type: Improvement, v19 Matrix

#17561 [RetroPlayer] CRenderBufferDMA: add sync support
  cmake/scripts/linux/ArchSetup.cmake
  xbmc/cores/RetroPlayer/buffers/RenderBufferDMA.cpp
  xbmc/utils/BufferObject.cpp
  xbmc/utils/BufferObject.h
  xbmc/utils/IBufferObject.h
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17644 windowing/gbm: remove 10bit plane support
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
Labels: Platform: Linux, Type: Cleanup, v19 Matrix

#17558 [GBM/Wayland] register all the CBufferObjects and CRPRendererDMA for GL
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
Labels: Platform: Linux, Type: Feature, v19 Matrix

#17668 DVDVideoCodecDRMPRIME: Always use best_effort_timestamp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
Labels: Component: Video, Platform: Linux, Type: Fix, v19 Matrix

#17635 DVDVideoCodecDRMPRIME: IsSupportedHwFormat
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17636 VideoBufferDRMPRIME: rename Map and Unmap
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DRMPRIMEEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17633 Remove Pause from Inputstream API and PauseStream from Inputstream Addons
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFFmpeg.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamStack.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamMultiSource.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/cores/VideoPlayer/Interface/Addon/InputStreamConstants.h
Labels: API change: Binary add-ons, API change: PVR, Component: PVR, Component: Video, Type: Breaking change, Type: Cleanup, v19 Matrix

#17612 CUDFFile: switch to using libudfread
  CMakeLists.txt
  cmake/modules/FindUdf.cmake
  cmake/modules/FindUdfread.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/libudfread/Makefile
  tools/depends/target/libudfread/UDFREAD-VERSION
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileDirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
  xbmc/filesystem/UDFBlockInput.cpp
  xbmc/filesystem/UDFBlockInput.h
  xbmc/filesystem/UDFDirectory.cpp
  xbmc/filesystem/UDFFile.cpp
  xbmc/filesystem/UDFFile.h
Labels: Component: Build, Component: Video, Type: Fix, Type: Improvement, v19 Matrix

#17682 Disable VAAPI/VDPAU MPEG-2 hwaccel by default
  system/settings/linux.xml
Labels: Component: Video, Platform: Linux, Type: Fix, v19 Matrix

#17671 [Windows] Improve build performance on windows
  xbmc/platform/win32/pch.h
Labels: Platform: Windows, Platform: WindowsStore, Type: Improvement, v19 Matrix

#17670 [backport] Fix stack overflow when trying to find nfo files in a rar file.
  xbmc/video/tags/VideoTagLoaderNFO.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17686 Remove F-Droid badge from README.md
  README.md
Labels: Documentation, v18 Leia, v19 Matrix

#17685 Tidy up PVR as per clang-tidy report
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
Labels: Component: PVR, Type: Cleanup, v19 Matrix

#17645 [GUI] bump xbmc.gui to 5.15.0
  addons/skin.estouchy/addon.xml
  addons/skin.estuary/addon.xml
  addons/xbmc.gui/addon.xml
Labels: API change: GUI, Component: Skin, Wiki: Done, v19 Matrix

#17648 [Estuary] fix navigation in skinsettings
  addons/skin.estuary/xml/SkinSettings.xml
Labels: Component: Skin, Type: Fix, v18 Leia

#17641 IBufferObject: allow creating by size
  xbmc/cores/RetroPlayer/buffers/RenderBufferDMA.cpp
  xbmc/cores/RetroPlayer/buffers/RenderBufferDMA.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMA.cpp
  xbmc/utils/BufferObject.cpp
  xbmc/utils/BufferObject.h
  xbmc/utils/BufferObjectFactory.cpp
  xbmc/utils/BufferObjectFactory.h
  xbmc/utils/DMAHeapBufferObject.cpp
  xbmc/utils/DMAHeapBufferObject.h
  xbmc/utils/IBufferObject.h
  xbmc/utils/UDMABufferObject.cpp
  xbmc/utils/UDMABufferObject.h
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17669 [clang-format] disable for all arrays in LangCodeExpander.cpp
  xbmc/utils/LangCodeExpander.cpp
Labels: Type: Cleanup, v19 Matrix

#17683 Fix missing cast to void* in %p format
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
Labels: Type: Fix, v19 Matrix

#17667 Infomanager cleanup
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
Labels: Component Documentation, Component: GUI engine, Type: Cleanup, Wiki: Needed, v19 Matrix

#17687 [ProfileManager] Save changes when they happen
  xbmc/profiles/ProfileManager.cpp
  xbmc/profiles/ProfileManager.h
Labels: Component: Profiles, Type: Improvement, v19 Matrix

#17690 [ios] Runtime fix after spdlog merge
  xbmc/platform/darwin/ios/IOSEAGLView.mm
Labels: Component: Logging, Platform: iOS, Type: Fix, v19 Matrix

#17643 [windows] enable libdav1d in the ffmpeg build
  CMakeLists.txt
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFFMPEG.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/buildsteps/windows/ffmpeg_options.txt
  tools/buildsteps/windows/patches/0005-ffmpeg-detect-dav1d.patch
Labels: Platform: Windows, Type: Feature, v19 Matrix

#17693 [depends] add googletest & disable auto fallback to internal build
  cmake/modules/FindGtest.cmake
  docs/README.Fedora.md
  docs/README.FreeBSD.md
  docs/README.Linux.md
  docs/README.Ubuntu.md
  docs/README.openSUSE.md
  tools/depends/target/Makefile
  tools/depends/target/googletest/Makefile
Labels: CMake, Component: Depends, v19 Matrix

#17661 [python] masking support for numeric input
  xbmc/dialogs/GUIDialogNumeric.cpp
  xbmc/dialogs/GUIDialogNumeric.h
  xbmc/interfaces/legacy/Control.h
  xbmc/interfaces/legacy/Dialog.cpp
  xbmc/interfaces/legacy/Dialog.h
  xbmc/interfaces/legacy/ModuleXbmcgui.h
Labels: API change: Python, Component: Python, Type: Feature, v19 Matrix

#17689 Add "Portuguese (Brazil)" for audio and subtitles streams (ISO-639-2)
  xbmc/utils/LangCodeExpander.cpp
Labels: Type: Improvement, v19 Matrix

#17684 [python] Support multi-line text in dialogs
  xbmc/interfaces/legacy/Dialog.cpp
Labels: Component: Python, Type: Fix, v19 Matrix

#17458 Add error handling code for some external APIs
  xbmc/network/Socket.cpp
  xbmc/platform/linux/storage/UDevProvider.cpp
Labels: PR Cleanup: Merge Candidate, Type: Fix, v19 Matrix

#17569 [PR17065 backport] added support for ZIP extended local headers
  cmake/installdata/test-reference-data.txt
  xbmc/filesystem/ZipFile.cpp
  xbmc/filesystem/ZipManager.h
  xbmc/filesystem/test/TestZipFile.cpp
  xbmc/filesystem/test/extendedlocalheader.zip
Labels: Type: Backport, Type: Fix, v18 Leia

#17541 [Backport][Android] pause audio playback when headphone is disconnected
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Backport, Type: Improvement, v18 Leia

#17499 Android: Don't reset user set volume
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Component: Audio, Type: Backport, Type: Fix, v18 Leia

#17495 [backport][subtitles] decode html escape characters
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleTagSami.cpp
Labels: Type: Backport, Type: Fix, v18 Leia

#17694 Clean up some compiler warnings
  xbmc/music/MusicDatabase.cpp
  xbmc/utils/SortUtils.cpp
Labels: Component: Music, Type: Cleanup, v19 Matrix

#17658 Implement range check in URIUtils::resolvePath
  xbmc/utils/URIUtils.cpp
Labels: Type: Backport, Type: Fix, Type: Improvement, v18 Leia

#17338 Fixed checking if proxy and username pass are empty
  xbmc/filesystem/CurlFile.cpp
Labels: Backport: Done, Component: Network, Type: Fix, v19 Matrix

#17503 [settings/lib] implement missing CSettingList/Int/String::MergeDetails()
  xbmc/settings/lib/Setting.cpp
Labels: Component: Settings, Type: Fix, v19 Matrix

#17662 [Backport][LanguageCodes] Add "Swiss german" and "Portuguese (Brazil)"
  xbmc/utils/LangCodeExpander.cpp
Labels: Type: Fix, Type: Partial backport, v18 Leia

#16237 [windowing/gbm] Select best CRTC+planes option
  xbmc/windowing/gbm/DRMAtomic.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
Labels: Component: Windowing, PR Cleanup: Recent, Platform: Linux, Type: Improvement, v19 Matrix

#16578 TexturePacker: fix for 32-bit systems
  tools/depends/native/TexturePacker/CMakeLists.txt
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
Labels: Type: Fix, v19 Matrix

#17697 [tvos] Runtime fixup after spdlog
  xbmc/platform/darwin/tvos/PreflightHandler.mm
Labels: Component: Logging, Platform: tvOS, v19 Matrix

#17650 [GBM] CVideoLayerBridgeDRMPRIME: query supported values before setting them
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/windowing/gbm/DRMUtils.cpp
  xbmc/windowing/gbm/DRMUtils.h
Labels: Platform: Linux, Type: Improvement, v19 Matrix

#17704 [repository.xbmc.org] Define assets and bump addon version
  addons/repository.xbmc.org/addon.xml
Labels: Type: Fix, v19 Matrix

#17691 [estuary] optionally show date/duration if recordings sort mode is size or duration
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Component: PVR, Component: Skin, Type: Improvement, v19 Matrix

#17698 backport - fixed checking if proxy and username pass are empty
  xbmc/filesystem/CurlFile.cpp
Labels: Component: Network, Needs Review, Type: Backport, Type: Fix, v18 Leia

#17657 [cmake] change warnings to status as it's only for indication
  cmake/scripts/linux/ArchSetup.cmake
Labels: CMake, Platform: Linux, Type: Improvement, v19 Matrix

#17699 [cmake] addons support multiple regex arguments for ADDONS_TO_BUILD
  cmake/addons/CMakeLists.txt
Labels: CMake, Component: Add-ons, Type: Improvement, v19 Matrix

#17712 [docs] add link to PRs in needed of review in contributing doc
  docs/CONTRIBUTING.md
Labels: Component Documentation, v19 Matrix

#17711 [CurlFile] proper setup proxy credentials
  xbmc/filesystem/CurlFile.cpp
Labels: Backport: Needed, Component: Network, Type: Fix, Type: Improvement, v19 Matrix

#17706 [depends] bump libzip to 1.6.1
  tools/depends/target/Makefile
  tools/depends/target/libzip/Makefile
Labels: Component: Depends, Needs Initial Review, v19 Matrix

#17716 [Backport][CurlFile] proper setup proxy credentials
  xbmc/filesystem/CurlFile.cpp
Labels: Component: Network, Type: Backport, Type: Fix, Type: Improvement, v18 Leia

#17093 Don't unnecessarily update setting controls
  xbmc/settings/dialogs/GUIDialogSettingsBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsBase.h
  xbmc/settings/lib/Setting.h
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/settings/windows/GUIControlSettings.h
Labels: Component: Settings, PR Cleanup: Needs Review, Type: Improvement, v19 Matrix

#17688 [GBM] CVideoBufferDMA: add class to use CBufferObject
  xbmc/cores/VideoPlayer/Buffers/CMakeLists.txt
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDMA.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDMA.h
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDRMPRIME.h
  xbmc/cores/VideoPlayer/Buffers/VideoBufferPoolDMA.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBufferPoolDMA.h
  xbmc/cores/VideoPlayer/Process/gbm/ProcessInfoGBM.cpp
  xbmc/cores/VideoPlayer/Process/gbm/ProcessInfoGBM.h
Labels: Component: Video, Platform: Linux, Type: Feature, v19 Matrix

#17714 [Android] Ignore intents until application is initialized
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Component: System, Platform: Android, Type: Fix, v19 Matrix

#17707 [packaging iOS/tvOS] fix wrong architecture field in deb control file
  tools/darwin/packaging/darwin_embedded/mkdeb-darwin_embedded.sh.in
Labels: CMake, Needs Initial Review, Platform: iOS, Platform: tvOS, v19 Matrix

#17728 [docs] tvOS updates
  README.md
  cmake/README.md
Labels: Component Documentation, v19 Matrix

#17731 Fix startup issue linux
  xbmc/network/Socket.cpp
Labels: Component: Network, Type: Fix, v19 Matrix

#17732 [docs][python] Improve documentation for xbmc.sleep and xbmc.Monitor(…
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/interfaces/legacy/Monitor.h
Labels: Component Documentation, Component: Python, Documentation, v19 Matrix

#17695 Update Windows build readme to match current VS2017 and java installers
  docs/README.Windows.md
Labels: Component Documentation, Type: Improvement, v19 Matrix

#17720 [settings] don't load setting values twice
  xbmc/settings/Settings.cpp
Labels: Component: Settings, Type: Cleanup, v19 Matrix

#17723 Don't automatically enable debug logging in debug builds
  xbmc/utils/log.cpp
Labels: Component: Logging, Type: Fix, v19 Matrix

#17727 [inputstream] support mime type by default for all inputstream addons
  xbmc/addons/kodi-addon-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
Labels: API change: Binary add-ons, Type: Feature, v19 Matrix

#17692 Correct on-screen keyboard behaviour for Arabic characters
  xbmc/guilib/GUIEditControl.cpp
Labels: Type: Fix, v19 Matrix

#17701 Bug Fixes (2x addon related. 1x possibly serious filesystem cache related)
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonInstaller.cpp
  xbmc/filesystem/DirectoryCache.cpp
Labels: Component: Add-ons, Type: Fix, v19 Matrix

#17562 Alphanumeric sorting improvements: accented letters and brackets
  xbmc/LangInfo.cpp
  xbmc/LangInfo.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/StringUtils.cpp
Labels: Type: Improvement, v19 Matrix

#17740 [PVR] Use active channel name when 'Importing guide from clients'
  xbmc/pvr/epg/EpgContainer.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17719 Addons: Move migration and addon updates to AddonManager
  xbmc/Application.cpp
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonDatabase.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonSystemSettings.cpp
  xbmc/addons/AddonSystemSettings.h
  xbmc/addons/RepositoryUpdater.cpp
Labels: Component: Add-ons, Type: Improvement, v19 Matrix

#17735 [python] move xbmc.makeLegalFilename() to xbmcvfs module
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/interfaces/legacy/ModuleXbmcvfs.cpp
  xbmc/interfaces/legacy/ModuleXbmcvfs.h
Labels: API change: Python, Component Documentation, Component: Python, v19 Matrix

#17586 [addons][pvr] remove more deprecated parts and make PVR tables in own parts
  xbmc/addons/interfaces/Addon/AddonCallbacksAddon.cpp
  xbmc/addons/interfaces/Addon/AddonCallbacksAddon.h
  xbmc/addons/interfaces/AddonInterfaces.cpp
  xbmc/addons/interfaces/AddonInterfaces.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/CMakeLists.txt
  xbmc/addons/kodi-addon-dev-kit/include/kodi/kodi_vfs_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libXBMC_addon.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libXBMC_pvr.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_epg_types.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
Labels: API change: PVR, Component: PVR, Type: Cleanup, v19 Matrix

#17741 [docs][python] Improve documentation for xbmcdrm
  xbmc/interfaces/legacy/DrmCryptoSession.h
Labels: Component Documentation, Component: Python, Documentation, v19 Matrix

#17744 [PVR][Leia] EPG corruption when new channels added during startup
  xbmc/pvr/epg/EpgContainer.cpp
Labels: Component: PVR, Type: Fix, v18 Leia

#17733 Network: Simplify the bind logic
  xbmc/network/Socket.cpp
  xbmc/network/Socket.h
Labels: Type: Cleanup, v19 Matrix

#17749 [Subtitles] fix smi subtitles to use quoted start tags
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSami.cpp
Labels: Backport: Needed, Component: Video, Type: Fix, v19 Matrix

#17757 [pvr] get previous epg tag instead of previous of previous
  xbmc/pvr/epg/EpgTagsCache.cpp
Labels: Component: PVR, Type: Fix, v19 Matrix

#17747 [Python] Fix ControlTextBox actions before control is added to the window
  xbmc/interfaces/legacy/Control.cpp
  xbmc/interfaces/legacy/Control.h
  xbmc/interfaces/legacy/Window.cpp
Labels: Backport: Needed, Component: Python, Type: Fix, Type: Improvement, v19 Matrix

#17750 [python] Move xbmc.validatePath to xbmcvfs.validatePath
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/interfaces/legacy/ModuleXbmcvfs.cpp
  xbmc/interfaces/legacy/ModuleXbmcvfs.h
Labels: API change: Python, Type: Improvement, v19 Matrix

#17748 [docs][python] Some fixes to documentation for xbmcdrm
  xbmc/interfaces/legacy/DrmCryptoSession.h
Labels: Component Documentation, Type: Improvement, v19 Matrix

#17736 windowing/gbm: preseve crtc index when adding crtcs
  xbmc/windowing/gbm/DRMUtils.cpp
Labels: Component: Windowing, Platform: Linux, Type: Fix, v19 Matrix

#17705 Remove onAbortRequested python callback functionality
  xbmc/addons/kodi-addon-dev-kit/doxygen/Modules/modules_python.dox
  xbmc/interfaces/generic/ILanguageInvocationHandler.h
  xbmc/interfaces/generic/ILanguageInvoker.cpp
  xbmc/interfaces/generic/ILanguageInvoker.h
  xbmc/interfaces/generic/ScriptInvocationManager.h
  xbmc/interfaces/legacy/Monitor.cpp
  xbmc/interfaces/legacy/Monitor.h
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/interfaces/python/XBPython.cpp
  xbmc/interfaces/python/XBPython.h
Labels: Component: Python, v19 Matrix

#17718 Fix crash on exit.
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
Labels: Component: System, v19 Matrix

#17784 [cosmetic] comply with coding guidlines.
  xbmc/ServiceBroker.h
Labels: v19 Matrix

#17780 [windows] don't mark render buffer as loaded until UploadBuffer is ca…
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.h
Labels: Component: Video rendering, Platform: Windows, Platform: WindowsStore, Type: Fix, v19 Matrix

#17725 [Skins] misc. fixes
  addons/skin.estouchy/language/resource.language.en_gb/strings.po
  addons/skin.estouchy/xml/GameOSD.xml
  addons/skin.estouchy/xml/Includes.xml
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/MyPlaylist.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Cleanup, Type: Fix, Type: Improvement, v19 Matrix

#17775 [addons][pvr] cleanups to match more coming C++ interface style and fix duplicated queue and VFS types
  xbmc/addons/kodi-addon-dev-kit/include/kodi/libXBMC_addon.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/versions.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_dll.h
  xbmc/addons/kodi-addon-dev-kit/include/kodi/xbmc_pvr_types.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: API change: PVR, Component: Binary add-ons, Component: PVR, Type: Improvement, v19 Matrix

#17781 [docs][python] Misc doxygen improvements
  xbmc/interfaces/legacy/DrmCryptoSession.h
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/interfaces/legacy/ModuleXbmcgui.h
  xbmc/interfaces/legacy/ModuleXbmcplugin.h
Labels: Component Documentation, Type: Improvement, v19 Matrix

#17788 [macos] allow portable mode to run
  xbmc/settings/SettingsComponent.cpp
Labels: Type: Improvement, v19 Matrix
