Repository xbmc/xbmc, pull requests merged in 2021-09, with the labels that each got.

#20091 [PVR] Fix and simplify addon connection state change handling.
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v20 Nexus

#20098 Translations update from Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.hu_hu/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.hu_hu/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.hu_hu/strings.po
  addons/skin.estuary/language/resource.language.hu_hu/strings.po
  addons/skin.estuary/language/resource.language.pl_pl/strings.po
Labels: v20 Nexus

#20104 [PVR] CPVRTimerInfoTag must have a timer type, otherwise related add-…
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
Labels: Type: Cleanup, Component: PVR, v20 Nexus

#20100 [Estuary] Default PVR radio channel icon should have transparent background
  xbmc/FileItem.cpp
Labels: Type: Fix, Backport: Needed, Component: Skin, v20 Nexus

#20105 [Estuary] PVR Guide window: Truncated channel names should scroll whe…
  addons/skin.estuary/xml/Includes_PVR.xml
Labels: Type: Fix, Backport: Needed, Component: Skin, v20 Nexus

#20106 [Estuary] PVR channel guide dialog changes.
  addons/skin.estuary/xml/DialogPVRChannelGuide.xml
Labels: Type: Fix, Backport: Needed, Component: Skin, v20 Nexus

#20112 AESinkPipewire: fix compile error by adding include
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
Labels: Type: Fix, Platform: Linux, Component: Audio, v20 Nexus

#20093 [cmake] assorted cmake cleanups
  cmake/platform/darwin_embedded/ios.cmake
  cmake/platform/darwin_embedded/tvos.cmake
  cmake/platform/linux/gbm.cmake
  cmake/platform/osx/osx.cmake
  cmake/scripts/common/ArchSetup.cmake
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/freebsd/ArchSetup.cmake
  cmake/scripts/linux/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/CMakeLists.txt
  xbmc/windowing/osx/CMakeLists.txt
Labels: Type: Cleanup, Platform: macOS, Platform: iOS, CMake, Platform: tvOS, v20 Nexus

#20113 [cmake][osx] Partial revert - xcode variable usage
  cmake/scripts/osx/Macros.cmake
Labels: Platform: macOS, CMake, v20 Nexus

#20102 [warnings] Fix two new warnings after #20027
  xbmc/threads/platform/win/Win32Exception.cpp
Labels: Type: Cleanup, v20 Nexus

#20101 [Windows] Updates SystemInfo to recognize Windows 11
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Type: Improvement, Platform: Windows, Component: System, v20 Nexus

#20115 [Matrix][Estuary] PVR channel guide dialog changes.
  addons/skin.estuary/xml/DialogPVRChannelGuide.xml
Labels: Type: Fix, Component: Skin, Type: Backport, v19 Matrix

#20114 [Matrix][Estuary] Default PVR radio channel icon should have transparent background
  xbmc/FileItem.cpp
Labels: Type: Fix, Component: Skin, Type: Backport, v19 Matrix

#20116 [Matrix][Estuary] PVR Guide window: Truncated channel names should scroll whe…
  addons/skin.estuary/xml/Includes_PVR.xml
Labels: Type: Fix, Component: Skin, Type: Backport, v19 Matrix

#20118 [PVR] Search missing channel icons job must be executed by PVR manage…
  xbmc/pvr/PVRManager.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v20 Nexus

#20119 [Matrix][PVR] Search missing channel icons job must be executed by PVR manage…
  xbmc/pvr/PVRManager.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#20120 [PVR] PVR Manager: No need to derive internal job from CJob as all it…
  xbmc/pvr/PVRManager.cpp
Labels: Type: Cleanup, Component: PVR, v20 Nexus

#18975 LibInputHandler: add suspend mode support
  xbmc/platform/linux/input/LibInputHandler.cpp
  xbmc/platform/linux/input/LibInputHandler.h
Labels: Type: Fix, Component: System, v20 Nexus

#20073 [Windows] Fix Sync playback to display
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/windowing/windows/VideoSyncD3D.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Windows, v20 Nexus

#19816 DynamicDLL: fix bugs in macro pairs which define and resolve functions with function pointers as parameters.
  xbmc/DynamicDll.h
Labels: Type: Fix, Backport: Needed, v20 Nexus

#20084 Websocket: handle partial messages
  xbmc/network/TCPServer.cpp
  xbmc/network/TCPServer.h
Labels: Type: Fix, Component: Network, v20 Nexus

#20131 Fix bug for not applying VolumeAmplification setting correctly at playback: issue# 17564
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Component: Audio, v20 Nexus

#20136 Fix bug for not applying VolumeAmplification setting correctly at playback: issue# 17564
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Component: Audio, v20 Nexus

#20147 Translations update from Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.zh_cn/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.zh_cn/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.nl_nl/strings.po
  addons/skin.estouchy/language/resource.language.nl_nl/strings.po
  addons/skin.estuary/language/resource.language.nl_nl/strings.po
Labels: v20 Nexus

#20137 [osx] change explicit HAS_SDL define to TARGET_DARWIN_OSX
  xbmc/powermanagement/PowerManager.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Cleanup, Platform: macOS, v20 Nexus

#20138 [posix] cleanup main.cpp
  xbmc/platform/posix/main.cpp
Labels: Platform: Linux, Platform: macOS, Platform: FreeBSD, v20 Nexus

#20162 Translations update from Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.es_mx/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.es_mx/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.es_mx/strings.po
  addons/skin.estouchy/language/resource.language.es_mx/strings.po
  addons/skin.estuary/language/resource.language.de_de/strings.po
  addons/skin.estuary/language/resource.language.es_mx/strings.po
Labels: v20 Nexus

#20160 [linux] Use posix_memalign to implement AlignedMalloc
  xbmc/platform/linux/MemUtils.cpp
Labels: Type: Fix, Backport: Done, Platform: Linux, v20 Nexus

#20158 [OSX] Osx relocate sdl code locations
  CMakeLists.txt
  cmake/platform/osx/osx.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/treedata/osx/subdirs.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGL.cpp
  xbmc/platform/darwin/osx/CocoaInterface.mm
  xbmc/platform/darwin/osx/SDL/SDLMain.mm
  xbmc/platform/darwin/osx/XBMCApplication.h
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/osx/CMakeLists.txt
  xbmc/windowing/osx/SDL/CMakeLists.txt
  xbmc/windowing/osx/SDL/WinEventsSDL.cpp
  xbmc/windowing/osx/SDL/WinEventsSDL.h
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.h
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.mm
  xbmc/windowing/osx/WinEventsOSX.h
  xbmc/windowing/osx/WinSystemOSXGL.h
Labels: Type: Cleanup, Platform: macOS, Component: Windowing, v20 Nexus

#20146 Fix GUIFontTTF cache
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
Labels: Type: Fix, Component: GUI rendering, v20 Nexus

#20020 [AudioEngine] AESinkAudioTrack remove setLegacyStreamType
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Platform: Android, v20 Nexus

#20140 [Backport] Websocket: handle partial messages
  xbmc/network/TCPServer.cpp
  xbmc/network/TCPServer.h
Labels: Type: Fix, Type: Backport, Component: Network, v19 Matrix

#20035 [BP][tools/depends/target][python3] enable multiprocessing module
  cmake/modules/FindPython.cmake
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/modules.setup
Labels: Type: Fix, Type: Improvement, Platform: Android, Platform: macOS, Platform: iOS, Component: Python, Type: Backport, v19 Matrix, Platform: tvOS

#19937 [Backport][Python] Add Python lzma module
  tools/depends/target/Makefile
  tools/depends/target/python3/modules.setup
  tools/depends/target/xz/Makefile
Labels: Component: Python, Component: Depends, Type: Backport, v19 Matrix

#20161 [Backport][linux] Use posix_memalign to implement AlignedMalloc
  xbmc/platform/linux/MemUtils.cpp
Labels: Platform: Linux, Type: Backport, v19 Matrix

#19876 [depends] Update fffmpeg 4.3.2 to include correct satip patch
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Type: Fix, Component: Video, Component: Depends, v19 Matrix

#20168 [Subtitles] Add missing context info to translation strings
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Improvement, v20 Nexus

#19774 Fix audio passthrough at display lost/reset events
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
Labels: Type: Fix, Component: Audio, Type: Backport, v19 Matrix

#20163 [CGUIDialogVolumeBar] Fix dialog not updating values if smartredraw i…
  xbmc/dialogs/GUIDialogVolumeBar.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI rendering, v20 Nexus

#20171 [cmake] allow to override PYTHON_EXECUTABLE
  cmake/modules/FindPython.cmake
Labels: Platform: Linux, CMake, v20 Nexus

#20177 PVR: fix "Delete permanently" of recordings from trash
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v20 Nexus

#20178 [Matrix] PVR: fix "Delete permanently" of recordings from trash
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#20156 CLinuxRendererGLES: add support for more bicubic scalers
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGLES.cpp
Labels: Type: Feature, Platform: Linux, Component: GLES rendering, v20 Nexus

#20174 [cleanup] Removes old macros SAFE_RELEASE and SAFE_DELETE
  xbmc/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerSubtitle.cpp
  xbmc/filesystem/File.cpp
  xbmc/platform/darwin/tvos/TVOSEAGLView.mm
  xbmc/platform/darwin/tvos/TVOSSettingsHandler.mm
  xbmc/platform/darwin/tvos/TVOSTopShelf.mm
  xbmc/platform/darwin/tvos/XBMCController.mm
  xbmc/system.h
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Type: Cleanup, v20 Nexus

#20144 CWinSystemBase: add virtual method GetConnectedOutputs
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/WinSystemX11.cpp
  xbmc/windowing/X11/WinSystemX11.h
  xbmc/windowing/ios/WinSystemIOS.h
  xbmc/windowing/ios/WinSystemIOS.mm
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.h
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.mm
  xbmc/windowing/tvos/WinSystemTVOS.h
  xbmc/windowing/tvos/WinSystemTVOS.mm
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Type: Fix, Component: Settings, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Component: Windowing, Platform: tvOS, v20 Nexus

#19929 Workaround for #19883: Check if applied locale correctly lowers chars and fallback
  tools/Linux/kodi.sh.in
  xbmc/LangInfo.cpp
Labels: Type: Fix, v19 Matrix

#20149 linux: improve DRM format and modifier logging
  cmake/modules/FindLibDRM.cmake
  xbmc/cores/VideoPlayer/Buffers/VideoBufferDMA.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/DRMHelpers.cpp
  xbmc/utils/DRMHelpers.h
  xbmc/utils/EGLImage.cpp
  xbmc/windowing/gbm/drm/DRMPlane.cpp
  xbmc/windowing/gbm/drm/DRMUtils.cpp
  xbmc/windowing/gbm/drm/DRMUtils.h
Labels: Type: Improvement, Platform: Linux, Component: Logging, Component: GLES rendering, v20 Nexus

#20150 GBM: 10 bit plane support
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/gbm/drm/DRMUtils.cpp
Labels: Type: Feature, Component: Video rendering, Component: GUI rendering, Platform: Linux, v20 Nexus

#19808 more std::chrono conversion
  xbmc/Application.cpp
  xbmc/Util.cpp
  xbmc/guilib/GUIWindow.cpp
  xbmc/guilib/TextureManager.cpp
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
Labels: Type: Cleanup, Component: Logging, v20 Nexus

#20167 cleanup - python related modules
  cmake/installdata/common/addons.txt
  tools/depends/native/Makefile
  tools/depends/native/distutilscross/Makefile
  tools/depends/native/distutilscross/python3.patch
Labels: Type: Cleanup, v20 Nexus

#20189 [CGUIDialogVolumeBar] Fix dialog not updating values if smartredraw i…
  xbmc/dialogs/GUIDialogVolumeBar.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v19 Matrix

#20184 Sync game controllers for language updates
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.ca_es/strings.po
  addons/game.controller.default/resources/language/resource.language.en_gb/strings.po
  addons/game.controller.default/resources/language/resource.language.es_mx/strings.po
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.hu_hu/strings.po
  addons/game.controller.default/resources/language/resource.language.ko_kr/strings.po
  addons/game.controller.default/resources/language/resource.language.pt_br/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.ca_es/strings.po
  addons/game.controller.snes/resources/language/resource.language.es_mx/strings.po
  addons/game.controller.snes/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.snes/resources/language/resource.language.hu_hu/strings.po
  addons/game.controller.snes/resources/language/resource.language.ko_kr/strings.po
  addons/game.controller.snes/resources/language/resource.language.pt_br/strings.po
  addons/game.controller.snes/resources/language/resource.language.zh_cn/strings.po
Labels: Backport: Needed, v20 Nexus

#20185 [Backport] Sync game controllers for language updates
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.ca_es/strings.po
  addons/game.controller.default/resources/language/resource.language.en_gb/strings.po
  addons/game.controller.default/resources/language/resource.language.es_mx/strings.po
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.hu_hu/strings.po
  addons/game.controller.default/resources/language/resource.language.ko_kr/strings.po
  addons/game.controller.default/resources/language/resource.language.pt_br/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.ca_es/strings.po
  addons/game.controller.snes/resources/language/resource.language.es_mx/strings.po
  addons/game.controller.snes/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.snes/resources/language/resource.language.hu_hu/strings.po
  addons/game.controller.snes/resources/language/resource.language.ko_kr/strings.po
  addons/game.controller.snes/resources/language/resource.language.pt_br/strings.po
  addons/game.controller.snes/resources/language/resource.language.zh_cn/strings.po
Labels: Type: Backport, v19 Matrix

#20191 [SmartRedraw] Fix scrollable fadelabels
  xbmc/guilib/GUIFadeLabelControl.cpp
Labels: Type: Fix, Component: GUI rendering, v20 Nexus

#20190 [Subtitles] Bump libass to 0.15.2
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/libass/Makefile
Labels: Type: Improvement, Component: Depends, v20 Nexus, Component: Subtitles

#20192 [smartredraw] Fix dialog progress not being updated
  xbmc/dialogs/GUIDialogProgress.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI rendering, v20 Nexus

#20193 [Artwork] Update Nexus Alpha splashscreen
  media/splash.jpg
Labels: Type: Improvement, v20 Nexus

#20170 GUIAudioManager: Simplify resource management with std::shared_ptr
  xbmc/guilib/GUIAudioManager.cpp
  xbmc/guilib/GUIAudioManager.h
Labels: Type: Improvement, Component: Audio, v20 Nexus

#20195 [profiles] fix: mediasource return -1 (not found) for "plugin://" protocol
  xbmc/Util.cpp
Labels: Type: Fix, Backport: Done, Component: Profiles, v20 Nexus

#20207 [linux] cleanup some rbpi platform remnants
  xbmc/platform/linux/ScreenshotSurfaceRBP.cpp
  xbmc/platform/linux/ScreenshotSurfaceRBP.h
Labels: Type: Cleanup, v20 Nexus
