Repository xbmc/xbmc, pull requests merged in 2021-05, with the labels that each got.

#19664 [Application] Reset current item on application cleanup.
  xbmc/Application.cpp
  xbmc/Application.h
Labels: Backport: Done, Type: Fix, v20 N

#19645 fixed: Crash for some video files caused by 270d655edce94df11c12b84af…
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Component: Video, Type: Fix, v20 N

#19652 [Music][Backport]Make MySQL native sorting functions more robust
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Backport, Type: Fix, v19 Matrix

#19448 WinSystemXLGL: Properly return msecs for GetVblankTiming
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
Labels: Type: Backport, Type: Fix, v19 Matrix

#19473 [Matrix] CDVDVideoCodecDRMPRIME: skip frames when requested
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
Labels: Component: Video, Platform: Linux, Type: Backport, Type: Fix, v19 Matrix

#19520 [VideoPlayer] allow chapter seeking in overlay menus of bd-j blu-rays (backport)
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Component: Video, Type: Backport, Type: Fix, Type: Improvement, v19 Matrix

#19546 [Windows] Add video, HDR metadata, shader and swapchain infos to debug info OSD
  system/keymaps/keyboard.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/DebugInfo.h
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
  xbmc/windowing/win10/WinSystemWin10DX.h
  xbmc/windowing/windows/WinSystemWin32DX.cpp
  xbmc/windowing/windows/WinSystemWin32DX.h
Labels: Component: Video rendering, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19643 Update docs/README.Windows.md
  docs/README.Windows.md
Labels: Documentation, Platform: Windows, Platform: WindowsStore, Type: Backport, v19 Matrix

#19315 CMake: fixed correct minimal CMake version for Win32
  CMakeLists.txt
Labels: CMake, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19628 Updated build scripts for Visual Studio 2019 compatibility
  tools/buildsteps/windows/BuildSetup.bat
  tools/buildsteps/windows/arm-uwp/BuildSetup.bat
  tools/buildsteps/windows/vswhere.bat
  tools/buildsteps/windows/win32-uwp/BuildSetup.bat
  tools/buildsteps/windows/win32/BuildSetup.bat
  tools/buildsteps/windows/x64-uwp/BuildSetup.bat
  tools/buildsteps/windows/x64/BuildSetup.bat
Labels: Component: Build, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Improvement, v19 Matrix

#19646 changed: By default enable filecache for all remote filesystems (CACH…
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Backport, Type: Fix, Type: Improvement, v19 Matrix

#19647 changed: Also log class in CFileCache
  xbmc/filesystem/FileCache.cpp
Labels: Type: Backport, Type: Fix, Type: Improvement, v19 Matrix

#19667 [Matrix] [Application] Reset current item on application cleanup.
  xbmc/Application.cpp
  xbmc/Application.h
Labels: Type: Backport, Type: Fix, v19 Matrix

#19660 Silence C++ warnings
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.h
Labels: Platform: Windows, Type: Cleanup, v20 N

#19668 Cleanup: Remove unused method CFileItem::SetEPGInfoTag.
  xbmc/FileItem.h
Labels: Type: Cleanup, v20 N

#19669 [PVR] Small EPG container optimization: pass database instance to met…
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
Labels: Component: PVR, Type: Cleanup, v20 N

#19663 [PVR] Optimize persisting channel groups
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/channels/CMakeLists.txt
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIChannelIconUpdater.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Fix, Type: Improvement, v20 N

#19670 [PVR][GUI] Channel manager does not rename backend channel (if supported)
  xbmc/pvr/addons/PVRClient.cpp
Labels: Backport: Needed, Component: PVR, Type: Fix, v20 N

#19676 [Backport][PVR][GUI] Channel manager does not rename backend channel when supported
  xbmc/pvr/addons/PVRClient.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19614 CStopWatch: use std::chrono
  xbmc/music/windows/GUIWindowVisualisation.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/Stopwatch.cpp
  xbmc/utils/Stopwatch.h
Labels: Type: Cleanup, v20 N

#19681 [PVR] Channel Manager: Do not allow renumbering channels if backend …
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
Labels: Backport: Done, Component: PVR, Type: Fix, v20 N

#19682 [Estuary] PVR channels OSD dialog: Fix direct channel number input label z order
  addons/skin.estuary/xml/DialogPVRChannelsOSD.xml
Labels: Backport: Needed, Component: Skin, Type: Fix, v20 N

#19686 [Matrix][Estuary] PVR channels OSD dialog: Fix direct channel number input label z order.
  addons/skin.estuary/xml/DialogPVRChannelsOSD.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v19 Matrix

#19685 [Matrix][PVR] Channel Manager: Do not allow renumbering channels if backend …
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19599 [Windows] Fix: enables passwordless SMB authentication
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
Labels: Backport: Done, Component: Network, Platform: Windows, Type: Fix, v20 N

#19612 CTimer: use std::chrono
  xbmc/threads/Timer.cpp
  xbmc/threads/Timer.h
Labels: Type: Cleanup, v20 N

#19633 [Windows] Fix: enables passwordless SMB authentication
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
Labels: Component: Network, Platform: Windows, Type: Backport, Type: Fix, v19 Matrix

#19653 [python] Add default button param to yesno/yesnocustom dialog
  xbmc/dialogs/GUIDialogYesNo.cpp
  xbmc/dialogs/GUIDialogYesNo.h
  xbmc/interfaces/legacy/Dialog.cpp
  xbmc/interfaces/legacy/Dialog.h
Labels: Component: GUI engine, Component: Python, Type: Feature, Type: Improvement, v20 N

#19626 [cmake] require OpenSSL >= 1.1.0
  CMakeLists.txt
  xbmc/filesystem/DllLibCurl.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/CryptThreading.cpp
  xbmc/utils/CryptThreading.h
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/TestCryptThreading.cpp
Labels: CMake, Component: Depends, Type: Cleanup, v20 N

#19610 CTextureManager: convert to use std::chrono
  xbmc/guilib/TextureManager.cpp
  xbmc/guilib/TextureManager.h
Labels: Type: Cleanup, v20 N

#19672 [Subtitles] Bump libass to 0.15.1
  tools/depends/target/Makefile
  tools/depends/target/harfbuzz/Makefile
  tools/depends/target/libass/Makefile
Labels: Component: Subtitles, Type: Improvement, v20 N

#19679 fixed: Crash caused by starting dvd media detection before windowmanager is running
  xbmc/ServiceManager.cpp
Labels: Component: System, Type: Fix, v20 N

#19625 [videoplayer] - Correctly save streamdetails for DVD/Bluray iso etc
  xbmc/Application.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Component: Video, Type: Backport, Type: Fix, v19 Matrix

#19483 [bp][addons] prevent unneccesary dependency install dialog popup
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.h
Labels: Component: Add-ons, Type: Cleanup, Type: Fix, Type: Partial backport, v19 Matrix

#19674 DNSNameCache: only use a reachable address listed by nmblookup
  xbmc/network/DNSNameCache.cpp
Labels: Backport: Done, Component: Network, Type: Fix, v20 N

#19675 DNSNameCache: only use a reachable address listed by nmblookup
  xbmc/network/DNSNameCache.cpp
Labels: Component: Network, Type: Backport, Type: Fix, v19 Matrix

#19609 CPlayListPlayer: use std::chrono
  xbmc/PlayListPlayer.cpp
  xbmc/PlayListPlayer.h
Labels: Type: Cleanup, v20 N

#19701 [webinterface.default] 19.x-2.4.8
  addons/webinterface.default/addon.xml
  addons/webinterface.default/js/kodi-webinterface.js
  addons/webinterface.default/lang/_strings/es.json
  addons/webinterface.default/lang/_strings/zh_hant.json
  addons/webinterface.default/lang/en/app-changelog.html
  addons/webinterface.default/themes/base/css/base.css
Labels: Component: Add-ons, Type: Backport, Type: Fix, v19 Matrix

#19680 [Matrix][tools/depends] bump flatbuffers to 1.12.0
  tools/depends/native/flatbuffers/Makefile
Labels: Component: Depends, Type: Backport, Type: Fix, v19 Matrix

#19691 CPlayerCoreFactory: update to use lists of unique_ptr's
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.h
  xbmc/cores/playercorefactory/PlayerSelectionRule.cpp
  xbmc/cores/playercorefactory/PlayerSelectionRule.h
Labels: Component: System, Type: Cleanup, v20 N

#19696 [utils] job manager/queue fixes
  xbmc/utils/Job.h
  xbmc/utils/JobManager.cpp
  xbmc/utils/JobManager.h
Labels: Backport: Needed, Type: Fix, v20 N

#19690 CDVDSubtitlesLibass: remove use of IDVDResourceCounted and use as a shared_ptr
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlaySSA.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSSA.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
Labels: Component: Subtitles, Type: Cleanup, v20 N

#19708 Bump to 19.1 final
  media/splash.jpg
  version.txt
Labels: v19 Matrix

#19711 [PVR][GUI] Opening PVR channel manager within the 'Radio channels' context when explicitly accessed from the Radio channels view should default to 'Radio'
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
Labels: Component: PVR, Type: Improvement, v20 N

#19699 [PVR] Remove "group member attributes cached at channel instances" hack
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/pvr/PVRItem.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIActions.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Cleanup, Type: Fix, v20 N

#19533 [linux] add Pipewire audio output support
  CMakeLists.txt
  cmake/modules/FindPipewire.cmake
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.h
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireContext.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireContext.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireThreadLoop.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireThreadLoop.h
  xbmc/platform/linux/OptionalsReg.cpp
  xbmc/platform/linux/OptionalsReg.h
  xbmc/platform/linux/PlatformLinux.cpp
Labels: CMake, Component: Audio, Platform: Linux, Type: Feature, v20 N

#19683 [GUI] Fix scroll gesture on wrap lists
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Backport: Done, Component: GUI engine, Type: Fix, v20 N

#19709 [GUI] Fix scroll gesture on wrap lists
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Component: GUI engine, Type: Backport, Type: Fix, v19 Matrix

#19714 [PVR] Fix CPVREpgSearchFilter::MatchChannelNumber regression.
  xbmc/pvr/epg/EpgSearchFilter.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19723 [Backport][PVR][GUI] Hide context menu items not relevant to the associated client
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/addons/PVRClientMenuHooks.cpp
  xbmc/pvr/addons/PVRClientMenuHooks.h
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19722 [PVR] Separate GUI from core: Get rid of 'selected group' functionality in core code
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/guilib/PVRGUIActionListener.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIChannelNavigator.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
Labels: Component: PVR, Type: Cleanup, v20 N

#17046 changed: Move filecache buffering logic from CDVDInputStreamFile to CFile (and fixes #16845)
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.cpp
  xbmc/filesystem/File.cpp
Labels: Type: Improvement, v20 N

#19726 [Cleanup][Music]Remove trailing whitespaces
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/music/Album.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/MusicThumbLoader.cpp
  xbmc/music/Song.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/infoscanner/MusicInfoScanner.h
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/music/windows/GUIWindowMusicBase.h
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/settings/dialogs/GUIDialogLibExportSettings.cpp
  xbmc/utils/SortUtils.cpp
  xbmc/utils/StringUtils.cpp
Labels: Component: Music, Type: Cleanup, v20 N

#19715 [Music][Cleanup]Fix some old compiler warnings in MusicDatabase
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Cleanup, v20 N

#19719 [Addons] Allow uninstalling optional system addons
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
Labels: Component: Add-ons, Type: Feature, v20 N

#19725 [PVR] Remove CFileItem ctor taking an CPVRChannel, thus only channel …
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/guilib/PVRGUIActionListener.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIActions.h
  xbmc/pvr/guilib/PVRGUIChannelNavigator.cpp
  xbmc/pvr/guilib/PVRGUIChannelNavigator.h
Labels: Component: PVR, Type: Cleanup, v20 N

#19707 [Windows] move WS-Discovery initialize to CPlatformWin32::InitStageThree
  xbmc/platform/win32/PlatformWin32.cpp
  xbmc/platform/win32/PlatformWin32.h
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Component: System, Platform: Windows, Type: Improvement, v20 N

#19706 [Windows] DX swapchain improvements
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Fix, Type: Improvement, v20 N

#19731 [PVR] CFileItem optimization: Add a ctor taking an EPG tag and a channel group member.
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
Labels: Component: PVR, Type: Improvement, v20 N

#19734 [PVR] Fix wrong 'all channels' label in radio guide search dialog.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v20 N

#19733 [PVR] Fix wrong search window opened when executing 'Find similar' on a timer item.
  xbmc/pvr/PVRItem.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v20 N

#19634 AESinkAudioTrack: Restore Behaviour of Leia for Verification and use less buffer for HD PT formats
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Backport: Needed, Component: Audio, Platform: Android, Type: Fix, v20 N

#19736 [Matrix][PVR] Fix wrong search window opened when executing 'Find similar' on a timer item.
  xbmc/pvr/PVRItem.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19737 [Matrix][PVR] Fix wrong 'all channels' label in radio guide search dialog.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19740 [PVR] Remove CPVRChannel::*Path methods, make them available at CPVRC…
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Component: PVR, Type: Cleanup, v20 N

#19741 [PVR] Cleanup: Get rid of static member CPVRChannelGroup::EmptyMember.
  xbmc/FileItem.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Component: PVR, Type: Cleanup, v20 N

#19742 [PVR] CFileItem: Add fallbacks to channel icon and default images to …
  xbmc/FileItem.cpp
Labels: Backport: Done, Type: Fix, v20 N

#19746 [Matrix][PVR] CFileItem: Add fallbacks to channel icon and default images to …
  xbmc/FileItem.cpp
Labels: Type: Backport, Type: Fix, v19 Matrix

#19720 [addons] move operations for class AddonVersion
  xbmc/addons/AddonVersion.h
  xbmc/addons/addoninfo/AddonInfoBuilder.h
Labels: Component: Add-ons, Type: Improvement, v20 N

#19739 Backport: AudioTrack HD Passthrough Fixes
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Backport, v19 Matrix

#19756 [PVR] Fix typo in CPVRPlaybackState::ReInit
  xbmc/pvr/PVRPlaybackState.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19760 StringUtils: fix dynamic precision in FormatFileSize
  xbmc/utils/StringUtils.cpp
Labels: Type: Cleanup, v20 N

#18636 [Apple] Remove GL warning [osx] add binary addon target to xcode project
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/scripts/osx/Install.cmake
Labels: Component: Build, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Feature, v20 N

#19767 [Music]Fix missing space in SQL lost in whitespace clean up
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Fix, v20 N

#19712 [Subtitles][ASS] Libass improvements
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
Labels: Component: Subtitles, Type: Improvement, v20 N

#18790 [Darwin][Input] Extend GCController support to osx
  cmake/scripts/osx/ArchSetup.cmake
  cmake/treedata/darwin_embedded/subdirs.txt
  cmake/treedata/osx/subdirs.txt
  xbmc/peripherals/PeripheralTypes.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/platform/darwin/ios-common/peripherals/CMakeLists.txt
  xbmc/platform/darwin/peripherals/CMakeLists.txt
  xbmc/platform/darwin/peripherals/InputKey.h
  xbmc/platform/darwin/peripherals/Input_Gamecontroller.h
  xbmc/platform/darwin/peripherals/Input_Gamecontroller.mm
  xbmc/platform/darwin/peripherals/PeripheralBusGCController.h
  xbmc/platform/darwin/peripherals/PeripheralBusGCController.mm
  xbmc/platform/darwin/peripherals/PeripheralBusGCControllerManager.h
  xbmc/platform/darwin/peripherals/PeripheralBusGCControllerManager.mm
Labels: Component: Input, Platform: macOS, Type: Feature, v20 N

#19757 [Windows] Implements DestroySwapChain method to avoid duplicated code
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Cleanup, Type: Improvement, v20 N

#19758 [Xbox] Implements alternate method to get display refresh rate
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Backport: Needed, Component: DirectX rendering, Platform: WindowsStore, Type: Fix, v20 N

#19744 [tvOS] Improve Siri remote handling
  addons/resource.language.en_gb/resources/strings.po
  system/keymaps/customcontroller.SiriRemote.xml
  system/settings/darwin_tvos.xml
  xbmc/guilib/GUIKeyboardFactory.cpp
  xbmc/platform/darwin/tvos/TVOSSettingsHandler.mm
  xbmc/platform/darwin/tvos/input/LibInputRemote.h
  xbmc/platform/darwin/tvos/input/LibInputRemote.mm
  xbmc/platform/darwin/tvos/input/LibInputSettings.h
  xbmc/platform/darwin/tvos/input/LibInputSettings.mm
  xbmc/platform/darwin/tvos/input/LibInputTouch.h
  xbmc/platform/darwin/tvos/input/LibInputTouch.mm
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: Input, Platform: tvOS, Type: Improvement, v20 N

#19717 [maintenance] make CDVDFactoryCodec and CPlayerCoreConfig use smart pointers
  xbmc/ApplicationPlayer.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecText.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecText.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.h
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
  xbmc/cores/VideoPlayer/VideoPlayerSubtitle.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.h
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.h
  xbmc/cores/playercorefactory/PlayerCoreConfig.h
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.h
Labels: Component: Video, Type: Cleanup, v20 N

#19642 [fix] trim m_cpuModel on all platforms
  xbmc/Application.cpp
  xbmc/platform/darwin/ios-common/CPUInfoDarwinEmbed.cpp
  xbmc/platform/darwin/osx/CPUInfoOsx.cpp
  xbmc/platform/freebsd/CPUInfoFreebsd.cpp
  xbmc/platform/linux/CPUInfoLinux.cpp
Labels: Component: System, Type: Fix, v20 N

#19768 [Windows] Fix: crash when the monitor is turned off and Kodi goes to another monitor
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Backport: Done, Component: Windowing, Platform: Windows, Type: Fix, v20 N

#19775 [Windows] DX swapchain improvements
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19773 [Windows] Fix: crash when the monitor is turned off and Kodi goes to another monitor
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Component: Windowing, Platform: Windows, Type: Backport, Type: Fix, v19 Matrix

#19781 [Xbox] Implements alternate method to get display refresh rate
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Component: DirectX rendering, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19782 [Windows] Fix crash when Kodi is moved to another monitor with different video adapter
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Backport: Done, Component: Windowing, Platform: Windows, Type: Fix, v20 N

#19459 [python/legacy] ListItem: support setting information through JSON or dict
  xbmc/interfaces/legacy/CMakeLists.txt
  xbmc/interfaces/legacy/InfoTagGame.cpp
  xbmc/interfaces/legacy/InfoTagGame.h
  xbmc/interfaces/legacy/InfoTagMusic.cpp
  xbmc/interfaces/legacy/InfoTagMusic.h
  xbmc/interfaces/legacy/InfoTagPicture.cpp
  xbmc/interfaces/legacy/InfoTagPicture.h
  xbmc/interfaces/legacy/InfoTagVideo.cpp
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/interfaces/legacy/ListItem.h
  xbmc/interfaces/legacy/Player.cpp
  xbmc/interfaces/swig/AddonModuleXbmc.i
  xbmc/interfaces/swig/AddonModuleXbmcgui.i
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
Labels: API change: Python, Component: Python, Type: Improvement, v20 N

#19784 [interfaces/legacy] add Settings and make it accessible through xbmc.Addon().getSettings()
  xbmc/addons/Addon.cpp
  xbmc/addons/Addon.h
  xbmc/addons/IAddon.h
  xbmc/interfaces/legacy/Addon.cpp
  xbmc/interfaces/legacy/Addon.h
  xbmc/interfaces/legacy/CMakeLists.txt
  xbmc/interfaces/legacy/Settings.cpp
  xbmc/interfaces/legacy/Settings.h
  xbmc/interfaces/swig/AddonModuleXbmcaddon.i
Labels: API change: Python, Component: Python, Component: Settings, Type: Feature, v20 N

#19783 [Windows] Fix crash when Kodi is moved to another monitor with different video adapter
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Component: Windowing, Platform: Windows, Type: Backport, Type: Fix, v19 Matrix

#19688 [cleanup] fix a bunch of missing-field-initializers warnings
  cmake/scripts/common/ArchSetup.cmake
  xbmc/TextureDatabase.cpp
  xbmc/XBDateTime.cpp
  xbmc/addons/binary-addons/AddonDll.h
  xbmc/addons/interfaces/AddonBase.cpp
  xbmc/addons/interfaces/Filesystem.cpp
  xbmc/addons/interfaces/gui/Window.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINTVOS.mm
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/dialogs/GUIDialogMediaFilter.h
  xbmc/dialogs/GUIDialogNumeric.cpp
  xbmc/filesystem/DAVDirectory.cpp
  xbmc/filesystem/NFSDirectory.cpp
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/NptXbmcFile.cpp
  xbmc/filesystem/RSSDirectory.cpp
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIVisualisationControl.cpp
  xbmc/input/WindowTranslator.cpp
  xbmc/input/touch/generic/GenericTouchActionHandler.cpp
  xbmc/interfaces/python/PythonSwig.cpp.template
  xbmc/interfaces/python/swig.cpp
  xbmc/network/GUIDialogNetworkSetup.cpp
  xbmc/network/Network.cpp
  xbmc/network/WebServer.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.h
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
  xbmc/platform/posix/filesystem/SMBFile.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/storage/cdioSupport.cpp
  xbmc/utils/DMAHeapBufferObject.cpp
  xbmc/utils/DumbBufferObject.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/UDMABufferObject.cpp
  xbmc/video/ViewModeSettings.cpp
  xbmc/windowing/gbm/drm/DRMLegacy.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorPointer.cpp
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WindowDecorator.cpp
Labels: Component: Build, Type: Cleanup, v20 N

#19794 MysqlDatabase: remove unused variable
  xbmc/dbwrappers/mysqldataset.cpp
Labels: Type: Cleanup, v20 N

#19790 [Xbox] Fix: 4K resolutions infos reported as 1080p
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/windowing/win10/WinSystemWin10.cpp
Labels: Backport: Done, Component: Windowing, Platform: WindowsStore, Type: Fix, v20 N

#19793 [Xbox] Fix: 4K resolutions infos reported as 1080p
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/windowing/win10/WinSystemWin10.cpp
Labels: Component: Windowing, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19803 [Android] Storage Manager: Try fallback to obtain drives if running on Android 6 and older
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Backport: Needed, Platform: Android, Type: Fix, v20 N

#19789 [Windows] Fix: possible crash if Windows HDR switch is toggled externally
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Backport: Done, Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Fix, v20 N

#19804 [Windows] Fix: possible crash if Windows HDR switch is toggled externally
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#18989 YUV to RGB conversion rework
  cmake/treedata/common/tests.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/test/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/test/TestConversionMatrix.cpp
Labels: Component: DirectX rendering, Component: GL rendering, Component: GLES rendering, Component: Video rendering, Type: Improvement, v20 N

#19806 [Matrix][Android] Storage Manager: Try fallback to obtain drives if running on Android 6 and older
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Platform: Android, Type: Backport, Type: Fix, v19 Matrix

#19801 [Windows] Fix: crash if WS-Discovery receives partial or malformed list of properties from network devices
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
Labels: Backport: Done, Component: Network, Platform: Windows, Type: Fix, v20 N

#19802 [Windows] Fix: crash if WS-Discovery receives partial or malformed list of properties from network devices
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.h
Labels: Component: Network, Platform: Windows, Type: Backport, Type: Fix, v19 Matrix

#19813 [PVR] Silence pointless errors from CPVRItem.
  xbmc/pvr/PVRItem.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19814 [Favourites][cmake] explicitly set header file
  xbmc/favourites/CMakeLists.txt
Labels: Type: Fix, v20 N

#19771 CDVDMsg: remove use of IDVDResourceCounted and use as a shared_ptr
  xbmc/cores/VideoPlayer/DVDMessage.cpp
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/DVDMessageQueue.cpp
  xbmc/cores/VideoPlayer/DVDMessageQueue.h
  xbmc/cores/VideoPlayer/IVideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.h
  xbmc/cores/VideoPlayer/VideoPlayerSubtitle.cpp
  xbmc/cores/VideoPlayer/VideoPlayerSubtitle.h
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.cpp
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.h
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.h
Labels: Component: Video, Type: Cleanup, v20 N

#19819 [PVR] pvr/channels/* Code Cleanup
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
Labels: Component: PVR, Type: Cleanup, v20 N

#19796 StringUtils: remove legacy fmt::sprintf usage
  xbmc/events/BaseEvent.cpp
  xbmc/utils/HttpRangeUtils.cpp
  xbmc/utils/StringUtils.h
Labels: Type: Cleanup, v20 N

#19825 CGUIWindowSystemInfo: update format strings to new style
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Cleanup, Type: Fix, v20 N

#19704 [Estuary] Fix OSD Button Visibility
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Backport: Done, Component: Skin, Type: Fix, v20 N

#19705 [Estuary] Fix OSD Button Visibility
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v19 Matrix

#19824 [clang-tidy] fix performance-* warnings
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDMessageQueue.cpp
  xbmc/cores/VideoPlayer/DVDMessageQueue.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.h
  xbmc/interfaces/generic/RunningScriptsHandler.h
  xbmc/interfaces/generic/ScriptRunner.cpp
  xbmc/interfaces/generic/ScriptRunner.h
  xbmc/interfaces/legacy/InfoTagGame.cpp
  xbmc/interfaces/legacy/InfoTagGame.h
  xbmc/interfaces/legacy/InfoTagPicture.cpp
  xbmc/interfaces/legacy/InfoTagPicture.h
  xbmc/interfaces/legacy/InfoTagVideo.cpp
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/interfaces/legacy/ListItem.h
  xbmc/interfaces/legacy/Settings.cpp
  xbmc/network/DNSNameCache.cpp
Labels: Type: Fix, v20 N

#19530 [python][addons] Request setResolvedUrl callback even when previously resolved
  xbmc/Application.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/PluginDirectory.h
  xbmc/interfaces/legacy/ListItem.h
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
Labels: Component: Add-ons, Type: Improvement, v20 N

#19827 [jenkins][defaultenv] bump xcode version to 11.3.1 for ios/osx
  tools/buildsteps/defaultenv
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
Labels: v20 N
