Repository xbmc/xbmc, pull requests merged in 2021-11, with the labels that each got.

#20442 [PVR] CPVREpgDatabase::CreateEpgTag - Re-add accidentally removed code.
  xbmc/pvr/epg/EpgDatabase.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus

#20435 [docs] add build dependency libunistring-dev to README.Linux.md
  docs/README.Linux.md
Labels: Type: Fix, Backport: Done, Documentation, v20 Nexus

#20436 [docs] add build dependency libunistring-dev to README.Linux.md
  docs/README.Linux.md
Labels: Type: Fix, Documentation, Type: Backport, v19 Matrix

#20394 [FIX]Add RISC-V support to system info
  xbmc/utils/SystemInfo.cpp
Labels: Type: Fix, Backport: Done, v20 Nexus

#20395 Add RISC-V support to system info
  xbmc/utils/SystemInfo.cpp
Labels: Type: Backport, v19 Matrix

#20445 [addons][games] fix uninitalized value within kodi::addon::GameControllerLayout
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Game.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
Labels: Type: Fix, Component: Binary add-ons, Component: Games, v20 Nexus

#20443 [PAPlayer] remove dead unused function "HandlesType"
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/cores/paplayer/PAPlayer.h
Labels: Type: Cleanup, Component: Music, v20 Nexus

#20447 [PAPlayer] use CURL value instead of extension by CodecFactory::CreateCodec
  xbmc/cores/paplayer/CodecFactory.cpp
  xbmc/cores/paplayer/CodecFactory.h
Labels: Type: Improvement, Component: Binary add-ons, Component: Music, v20 Nexus, Component: Players

#20444 [addons] fix possible crash by get_http_header
  xbmc/addons/interfaces/Filesystem.cpp
Labels: Type: Fix, Component: Binary add-ons, Component: FileSystem, v20 Nexus

#20424 [CMAKE] Fix "*-EXECUTABLE_NOTFOUND" if absolute path to file specified
  cmake/modules/FindJsonSchemaBuilder.cmake
  cmake/modules/FindTexturePacker.cmake
Labels: Type: Fix, Backport: Needed, CMake, v20 Nexus

#20440 [darwin] improve OS version info
  xbmc/platform/darwin/osx/Info.plist.in
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/test/TestSystemInfo.cpp
Labels: Type: Improvement, Backport: Needed, Platform: macOS, Platform: iOS, Platform: tvOS, v20 Nexus

#20432 [docs][addons] sync doxygen between Kodi and addons
  docs/doxygen/Doxyfile.doxy
  docs/doxygen/kodi_values.doxy
  xbmc/addons/kodi-dev-kit/doxygen/Doxyfile
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Providers.h
  xbmc/guilib/_Controls.dox
  xbmc/interfaces/legacy/Addon.h
  xbmc/interfaces/legacy/InfoTagGame.h
  xbmc/interfaces/legacy/InfoTagPicture.h
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/interfaces/legacy/ListItem.h
  xbmc/interfaces/legacy/Player.h
  xbmc/interfaces/legacy/Settings.h
Labels: Type: Fix, Component: Add-ons, Component Documentation, v20 Nexus

#20456 [addons] fix win32 builds by use of ATTR_APIENTRY and reduce line length about ATTRIBUTE_FORCEINLINE
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon_base.h
Labels: Type: Fix, Type: Cleanup, Component: Binary add-ons, v20 Nexus

#20441 [addons] allow auto pinning for manually installed add-ons
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/addoninfo/AddonInfo.h
Labels: Type: Fix, Component: Add-ons, v20 Nexus

#20437 [PVR][Estuary] Feature: Persistent EPG searches.
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogPVRGuideSearch.xml
  addons/skin.estuary/xml/MyPVRSearch.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/ContextMenus.cpp
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.h
  xbmc/pvr/epg/CMakeLists.txt
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgSearchData.cpp
  xbmc/pvr/epg/EpgSearchData.h
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
  xbmc/pvr/epg/EpgSearchPath.cpp
  xbmc/pvr/epg/EpgSearchPath.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.h
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIActions.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/windows/GUIViewStatePVR.cpp
  xbmc/pvr/windows/GUIViewStatePVR.h
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
  xbmc/pvr/windows/GUIWindowPVRSearch.h
Labels: Type: Feature, Wiki: Needed, Component: PVR, Component: Skin, v20 Nexus

#20370 [addons][settings] Add support to "colorbutton" setting
  addons/skin.estouchy/xml/DialogAddonSettings.xml
  addons/skin.estuary/xml/Defaults.xml
  addons/skin.estuary/xml/DialogAddonSettings.xml
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/dialogs/GUIDialogColorPicker.cpp
  xbmc/guilib/GUIButtonControl.cpp
  xbmc/guilib/GUIButtonControl.h
  xbmc/guilib/GUIColorButtonControl.cpp
Labels: Type: Feature, Wiki: Done, Component: Add-ons, v20 Nexus

#20407 [cleanup] General cleanups to subtitle related code
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder708.cpp
  xbmc/cores/VideoPlayer/DVDOverlayContainer.cpp
  xbmc/cores/VideoPlayer/DVDOverlayContainer.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleTagSami.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesStyle.h
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.h
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTISOHandler.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTISOHandler.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.h
  xbmc/utils/CharArrayParser.cpp
  xbmc/utils/ColorUtils.cpp
  xbmc/utils/ColorUtils.h
Labels: Type: Cleanup, v20 Nexus

#20317 [addons][audiodecoder] rework about audiodecoder addon system
  addons/resource.language.en_gb/resources/strings.po
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/TextureCacheJob.cpp
  xbmc/addons/AudioDecoder.cpp
  xbmc/addons/AudioDecoder.h
  xbmc/addons/CMakeLists.txt
  xbmc/addons/ExtsMimeSupportList.cpp
  xbmc/addons/ExtsMimeSupportList.h
  xbmc/addons/IAddonSupportCheck.h
  xbmc/addons/IAddonSupportList.h
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/AudioDecoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/CMakeLists.txt
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/audio_decoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/audiodecoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/paplayer/AudioDecoder.cpp
  xbmc/cores/paplayer/CodecFactory.cpp
  xbmc/cores/paplayer/ICodec.h
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.h
  xbmc/filesystem/FileDirectoryFactory.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/utils/FileExtensionProvider.cpp
Labels: Type: Feature, Type: Improvement, Component: Binary add-ons, API change: Binary add-ons, v20 Nexus

#20461 [addons] fix C4996 error on UWP build by use of strdup and few other fixes
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/AudioDecoder.h
Labels: Type: Fix, Component: Binary add-ons, v20 Nexus

#20414 [CMAKE] Separate installable and executable TexturePacker
  CMakeLists.txt
  cmake/modules/FindTexturePacker.cmake
  cmake/scripts/common/ProjectMacros.cmake
  cmake/scripts/linux/Install.cmake
Labels: Type: Improvement, Platform: Linux, CMake, v20 Nexus

#20462 [BACKPORT][CMAKE] TexturePacker and JSONSchemaBuilder finders fixes
  CMakeLists.txt
  cmake/modules/FindJsonSchemaBuilder.cmake
  cmake/modules/FindTexturePacker.cmake
  cmake/scripts/common/ProjectMacros.cmake
  cmake/scripts/linux/Install.cmake
Labels: Type: Partial backport, v19 Matrix

#20454 [backport][addons][games] fix uninitalized value within kodi::addon::GameControllerLayout
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Game.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
Labels: Type: Fix, Component: Binary add-ons, Component: Games, v19 Matrix

#20449 [backport][addons] fix possible crash by get_http_header
  xbmc/addons/interfaces/Filesystem.cpp
Labels: Type: Fix, Component: Binary add-ons, Type: Backport, v19 Matrix, Component: FileSystem

#20332 [backport][addons] fix CFileExtensionProvider::GetAddonFileFolderExtensions & fix extension update in case about addon change
  xbmc/utils/FileExtensionProvider.cpp
Labels: Type: Fix, Component: Binary add-ons, Type: Backport, v19 Matrix, Component: FileSystem

#20463 [Subtitles][TX3G] Fix dereferencing null pointer
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecTX3G.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#20464 Sync controllers
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.oc_fr/strings.po
  addons/game.controller.default/resources/language/resource.language.ru_ru/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.oc_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.ru_ru/strings.po
Labels: Backport: Needed, Component: Add-ons, Component: Input, v20 Nexus

#20387 AESinkAudioTrack: Use min_buffer periods
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, Platform: Android, Component: Audio, Type: Backport, v19 Matrix

#20415 Add 19.3 release to metainfo
  tools/Linux/kodi.metainfo.xml.in
Labels: Backport: Done, Platform: Linux, v20 Nexus

#20229 [Texture] Manage textures with smart pointers
  xbmc/GUILargeTextureManager.cpp
  xbmc/GUILargeTextureManager.h
  xbmc/TextureCache.cpp
  xbmc/TextureCache.h
  xbmc/TextureCacheJob.cpp
  xbmc/TextureCacheJob.h
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferGuiTexture.cpp
  xbmc/filesystem/XbtFile.cpp
  xbmc/filesystem/XbtFile.h
  xbmc/guilib/DirectXGraphics.cpp
  xbmc/guilib/DirectXGraphics.h
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
  xbmc/guilib/GUIFontTTFDX.cpp
  xbmc/guilib/GUIFontTTFDX.h
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUIFontTTFGL.h
  xbmc/guilib/GUIMultiImage.cpp
  xbmc/guilib/GUITextureD3D.cpp
  xbmc/guilib/GUITextureGL.cpp
  xbmc/guilib/GUITextureGLES.cpp
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/TextureBundle.cpp
  xbmc/guilib/TextureBundle.h
  xbmc/guilib/TextureBundleXBT.cpp
  xbmc/guilib/TextureBundleXBT.h
  xbmc/guilib/TextureDX.cpp
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureManager.cpp
  xbmc/guilib/TextureManager.h
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/GUIWindowSlideShow.h
  xbmc/pictures/Picture.cpp
  xbmc/pictures/SlideShowPicture.cpp
  xbmc/pictures/SlideShowPicture.h
  xbmc/video/dialogs/GUIDialogTeletext.cpp
  xbmc/video/dialogs/GUIDialogTeletext.h
  xbmc/windowing/X11/WinSystemX11.cpp
Labels: Type: Improvement, Component: GUI rendering, v20 Nexus, hacktoberfest-accepted

#20416 Add 19.3 release to Linux metainfo
  tools/Linux/kodi.metainfo.xml.in
Labels: Platform: Linux, Type: Backport, v19 Matrix

#20457 [backport] XTimeUtils: Prevent array index out of bounds access in SystemTimeToFileTime
  xbmc/platform/posix/XTimeUtils.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix

#20466 [gui] fix 'italics cut off' regression
  xbmc/guilib/GUIFontTTF.cpp
Labels: Type: Fix, Component: GUI rendering, v20 Nexus

#20451 XTimeUtils: Prevent array index out of bounds access in SystemTimeToFileTime
  xbmc/platform/posix/XTimeUtils.cpp
Labels: Type: Fix, Backport: Done, Platform: Android, Platform: Linux, Platform: macOS, Platform: iOS, Platform: tvOS, v20 Nexus

#20465 [Backport] Sync controllers
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.oc_fr/strings.po
  addons/game.controller.default/resources/language/resource.language.ru_ru/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.oc_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.ru_ru/strings.po
Labels: Component: Add-ons, Component: Input, Type: Backport, v19 Matrix

#20471 [subtitle] load .sup file like other external subtitles.
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/platform/darwin/ios/Info.plist.in
  xbmc/settings/AdvancedSettings.cpp
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
Labels: Type: Feature, v20 Nexus

#20467 Translations update from Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.is_is/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.is_is/strings.po
  addons/skin.estouchy/language/resource.language.ar_sa/strings.po
  addons/skin.estouchy/language/resource.language.zh_tw/strings.po
  addons/skin.estuary/language/resource.language.ar_sa/strings.po
  addons/skin.estuary/language/resource.language.da_dk/strings.po
  addons/skin.estuary/language/resource.language.zh_tw/strings.po
  tools/android/packaging/xbmc/res/values-is-ris/strings.xml
Labels: v20 Nexus

#20494 xbmc/utils/CMakeList.txt: Add missing XTimeUtils.h
  xbmc/utils/CMakeLists.txt
Labels: Type: Fix, Component: Build, v20 Nexus

#20452 [backport][darwin] improve OS version info
  xbmc/platform/darwin/osx/Info.plist.in
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/test/TestSystemInfo.cpp
Labels: Platform: macOS, Platform: iOS, Type: Backport, v19 Matrix, Platform: tvOS

#20495 Revert PR20451 - XTimeUtils: Prevent array index out of bounds access in SystemTimeToFileTime
  xbmc/platform/posix/XTimeUtils.cpp
Labels: Type: Fix, Component: System, v20 Nexus

#20496 Revert PR20457 - XTimeUtils: Prevent array index out of bounds access in SystemTimeToFileTime
  xbmc/platform/posix/XTimeUtils.cpp
Labels: Type: Fix, v19 Matrix, Component: System

#20422 [WindowSystem,Info] Add Display HDR capabilities to system info Video category
  addons/resource.language.en_gb/resources/strings.po
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/HDRCapabilities.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/AndroidUtils.h
  xbmc/windowing/android/WinSystemAndroid.cpp
  xbmc/windowing/android/WinSystemAndroid.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
  xbmc/windowing/android/WinSystemAndroidGLESContext.h
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Feature, Component: Video, Component: Windowing, v20 Nexus

#20479 [cmake] various GLX cleanups
  cmake/modules/FindGLX.cmake
  cmake/scripts/linux/ArchSetup.cmake
Labels: Type: Fix, Type: Cleanup, CMake, v20 Nexus

#20477 GLUtils: add glFormatElementByteCount to KODI::UTILS::GL namespace
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/utils/GLUtils.cpp
  xbmc/utils/GLUtils.h
Labels: Type: Cleanup, Component: Video rendering, v20 Nexus

#20501 Fix issue 20421 - UWP Xbox Python add-ons permission error
  cmake/scripts/windowsstore/Install.cmake
Labels: Type: Fix, Backport: Needed, Component: Python, Platform: WindowsStore, v20 Nexus

#20458 [Subtitles] Fix RTL direction with adapted subtitles
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#20514 [strings] fix spelling of some resources 'Addons'
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Improvement, v20 Nexus, Component: Strings

#20515 [addons] bring in missing DefaultExtensionInfo.png and DefaultMimetypeInfo.png
  addons/skin.estuary/media/DefaultExtensionInfo.png
  addons/skin.estuary/media/DefaultMimetypeInfo.png
Labels: Type: Improvement, Component: Binary add-ons, v20 Nexus

#20518 XbtFile: Fix logic error introduced in PR20229
  xbmc/filesystem/XbtFile.cpp
Labels: Type: Fix, Component: Skin, Component: FileSystem, v20 Nexus

#20472 [tools/EventClients][OSXRemote] fix clang-analyze warning
  tools/EventClients/Clients/OSXRemote/xbmcclientwrapper.mm
Labels: Backport: Needed, Platform: macOS, v20 Nexus

#20516 Texture: Fix memory leak on Android
  xbmc/guilib/Texture.cpp
  xbmc/platform/android/filesystem/AndroidAppFile.cpp
Labels: Type: Fix, Component: GUI engine, Platform: Android, v20 Nexus

#20517 [addons] use about extension/mimetype GUI list a description label
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Improvement, Component: Add-ons, v20 Nexus

#20460 [addons][audiodecoder] improve tracked file image url correction
  xbmc/TextureCacheJob.cpp
Labels: Type: Improvement, Component: Binary add-ons, Component: Audio, v20 Nexus

#19099 BitstreamConverter: Add header size exception for UNSPEC62 NALUs
  xbmc/utils/BitstreamConverter.cpp
  xbmc/utils/BitstreamConverter.h
Labels: Type: Improvement, Component: Video, Platform: Android, v20 Nexus

#20474 [clang-analyze] ServiceBroker EventLog use pointer instead of reference
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/RepositoryUpdater.cpp
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/events/windows/GUIWindowEventLog.cpp
  xbmc/filesystem/EventsDirectory.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/pvr/PVREventLogJob.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/utils/AlarmClock.cpp
  xbmc/video/VideoInfoScanner.cpp
Labels: v20 Nexus

#20489 [keyboard] delete BaiduPY keyboard layout
  system/keyboardlayouts/chinese.xml
  xbmc/input/CMakeLists.txt
  xbmc/input/InputCodingTableBaiduPY.cpp
  xbmc/input/InputCodingTableBaiduPY.h
  xbmc/input/InputCodingTableFactory.cpp
Labels: Type: Fix, Component: Input, v20 Nexus

#20427 [keyboard] fix Chinese character coding issue in keyboard layout
  xbmc/input/InputCodingTableBasePY.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, v20 Nexus

#20521 [PVR] PVRGUIDirectory: Change TV/Radio categories order - put Guide a…
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Improvement, Component: PVR, v20 Nexus

#20520 [Estuary] Home screen: TV/Radio: On click, open the Guide window, not the Channel window
  addons/skin.estuary/xml/Home.xml
Labels: Type: Improvement, Component: PVR, Component: Skin, v20 Nexus

#20522 [Estuary] Cleanup: Rename WidgetListChannels to WidgetListPVR as this…
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
Labels: Type: Cleanup, Component: PVR, Component: Skin, v20 Nexus

#20525 [Estuary] Cleanup: Remove unused 'PVRWidget' include definition.
  addons/skin.estuary/xml/Includes_Home.xml
Labels: Type: Cleanup, Component: Skin, v20 Nexus

#20526 [PVR] Simplify: No need for CPVREpgContainer to have its own event source
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelsOSD.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
Labels: Type: Cleanup, Component: PVR, v20 Nexus

#20292 Manage sounds and streams with smart pointers
  xbmc/addons/interfaces/AudioEngine.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Interfaces/AE.h
  xbmc/cores/RetroPlayer/streams/RetroPlayerAudio.cpp
  xbmc/cores/RetroPlayer/streams/RetroPlayerAudio.h
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.h
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/cores/paplayer/PAPlayer.h
  xbmc/guilib/GUIAudioManager.cpp
Labels: Type: Improvement, Component: Audio, v20 Nexus

#20428 [addons][audioencoder] Cleanup / rework audioencoder system
  xbmc/Autorun.cpp
  xbmc/addons/AudioEncoder.cpp
  xbmc/addons/AudioEncoder.h
  xbmc/addons/CMakeLists.txt
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/AudioEncoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/CMakeLists.txt
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/audio_encoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/audioencoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cdrip/CDDARipJob.cpp
  xbmc/cdrip/CDDARipJob.h
  xbmc/cdrip/CDDARipper.cpp
  xbmc/cdrip/CDDARipper.h
  xbmc/cdrip/CMakeLists.txt
  xbmc/cdrip/Encoder.cpp
  xbmc/cdrip/Encoder.h
  xbmc/cdrip/EncoderAddon.cpp
  xbmc/cdrip/EncoderAddon.h
  xbmc/cdrip/EncoderFFmpeg.cpp
  xbmc/cdrip/EncoderFFmpeg.h
  xbmc/cdrip/IEncoder.h
  xbmc/interfaces/builtins/OpticalBuiltins.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
Labels: Type: Feature, Type: Improvement, API change: Binary add-ons, v20 Nexus

#20293 [VideoPlayerAudio][EDL] Fix edl mute (credits: fernetmenta)
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Type: Improvement, Backport: Needed, Component: Video, Component: Audio, v20 Nexus, hacktoberfest-accepted

#20497 pipewire: use Create functions to initialize const structs in constructor
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Cleanup, Platform: Linux, Component: Audio, v20 Nexus

#20478 [GL/GLES] use enum class for shader methods
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodec.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUITextureGL.cpp
  xbmc/guilib/GUITextureGLES.cpp
  xbmc/pictures/SlideShowPicture.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gl/RenderSystemGL.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
Labels: Type: Cleanup, Component: GL rendering, Component: GLES rendering, v20 Nexus

#20481 GL/ES Shader class namespacing
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
Labels: Type: Cleanup, Component: Video rendering, Component: GL rendering, Component: GLES rendering, v20 Nexus

#20480 LinuxRenderer: cleanups
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVDPAU.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
Labels: Type: Fix, Type: Cleanup, Component: Video rendering, v20 Nexus

#20531 [backport] fix issue in Chinese keyboard layout
  system/keyboardlayouts/chinese.xml
  xbmc/input/CMakeLists.txt
  xbmc/input/InputCodingTableBaiduPY.cpp
  xbmc/input/InputCodingTableBaiduPY.h
  xbmc/input/InputCodingTableBasePY.cpp
  xbmc/input/InputCodingTableFactory.cpp
Labels: Type: Fix, Component: Input, Type: Backport, v19 Matrix

#20530 [Estuary][PVR] Saved search Estuary home screen PVR section widget.
  addons/skin.estuary/xml/Home.xml
  xbmc/FileItem.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.h
  xbmc/pvr/dialogs/GUIDialogPVRRecordingInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingInfo.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgSearchPath.cpp
  xbmc/pvr/epg/EpgSearchPath.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
  xbmc/pvr/windows/GUIWindowPVRSearch.h
Labels: Type: Feature, Component: PVR, Component: Skin, v20 Nexus

#20502 CGUITexture: register GUITexture use
  xbmc/guilib/GUITexture.cpp
  xbmc/guilib/GUITexture.h
  xbmc/guilib/GUITextureD3D.cpp
  xbmc/guilib/GUITextureD3D.h
  xbmc/guilib/GUITextureGL.cpp
  xbmc/guilib/GUITextureGL.h
  xbmc/guilib/GUITextureGLES.cpp
  xbmc/guilib/GUITextureGLES.h
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
Labels: Type: Improvement, Component: GUI rendering, v20 Nexus

#20504 [tools/depends] native and configure fixes
  cmake/modules/FindCCache.cmake
  tools/depends/Makefile.include.in
  tools/depends/configure.ac
  tools/depends/native/flatbuffers/Makefile
  tools/depends/native/libjpeg-turbo/Makefile
  tools/depends/native/openssl/Makefile
  tools/depends/native/yasm/Makefile
  tools/depends/native/zlib/Makefile
  tools/depends/target/Toolchain.cmake.in
  tools/depends/target/Toolchain_binaddons.cmake.in
  tools/depends/target/fribidi/Makefile
  tools/depends/target/gmp/Makefile
  tools/depends/target/openssl/Makefile
  tools/depends/target/python3/apple.patch
Labels: Component: Depends, v20 Nexus

#20542 [PVR] Fix 'GetDirectory - Error getting pvr://search/(tv|radio)/saved…
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus

#20527 [tools/depends] minor android configure updates
  cmake/scripts/android/Install.cmake
  tools/depends/Makefile.include.in
  tools/depends/configure.ac
Labels: Platform: Android, v20 Nexus

#20473 [clang-analyze] Fix assorted clang-analyze warnings
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINOSX.cpp
  xbmc/cores/AudioEngine/Sinks/darwin/CoreAudioHelpers.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoPPFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/filesystem/NFSFile.cpp
Labels: v20 Nexus

#20377 [tools/depends] Bump flatbuffers 2.0.0
  tools/depends/native/flatbuffers/Makefile
  tools/depends/target/flatbuffers/Makefile
Labels: Component: Depends, v20 Nexus, hacktoberfest-accepted

#20380 [tools/depends] bump libjpeg-turbo 2.1.1
  tools/depends/native/libjpeg-turbo/01-disable-executables.patch
  tools/depends/native/libjpeg-turbo/Makefile
  tools/depends/target/libjpeg-turbo/01-disable-executables.patch
  tools/depends/target/libjpeg-turbo/02-fix-gas-preprocessor-with-ccache.patch
  tools/depends/target/libjpeg-turbo/Makefile
Labels: Component: Depends, v20 Nexus, hacktoberfest-accepted

#20545 [tools/depends] remove yasm
  docs/README.Fedora.md
  docs/README.Linux.md
  docs/README.Ubuntu.md
  tools/depends/native/Makefile
  tools/depends/native/config.site.native.in
  tools/depends/native/libjpeg-turbo/Makefile
  tools/depends/native/yasm/Makefile
  tools/depends/target/config-binaddons.site.in
  tools/depends/target/config.site.in
  tools/depends/target/ffmpeg/Makefile
  tools/depends/target/libjpeg-turbo/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#20378 [tools/depends][native] bump nasm 2.15.05
  tools/depends/native/nasm/Makefile
Labels: Component: Depends, v20 Nexus, hacktoberfest-accepted

#20384 [tools/depends] bump gettext 0.21
  tools/depends/native/gettext/02-disable-test-doc.patch
  tools/depends/native/gettext/Makefile
  tools/depends/target/gettext/Makefile
Labels: Component: Depends, v20 Nexus, hacktoberfest-accepted

#20555 [Estuary] TopBar: Fix end time not completely hidden under certain conditions
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
Labels: Type: Fix, Component: PVR, Component: Skin, v20 Nexus

#20392 [tools/depends][native] bump swig 4.0.2
  tools/depends/native/swig/Makefile
Labels: Component: Depends, v20 Nexus, hacktoberfest-accepted

#20393 [tools/depends[target] Bump libtag 1.12
  tools/depends/target/taglib/ID3v2Lookup.patch
  tools/depends/target/taglib/Makefile
  tools/depends/target/taglib/remove-boost.patch
Labels: Component: Depends, v20 Nexus

#20401 [tools/depends][target] bump nghttp2 1.46.0
  tools/depends/target/nghttp2/Makefile
Labels: Component: Depends, v20 Nexus

#20263 CEventPacket/CEventClient/CEventServer cleanup
  xbmc/network/EventClient.cpp
  xbmc/network/EventClient.h
  xbmc/network/EventPacket.cpp
  xbmc/network/EventPacket.h
  xbmc/network/EventServer.cpp
  xbmc/network/EventServer.h
  xbmc/network/Socket.cpp
  xbmc/network/Socket.h
Labels: Type: Cleanup, Component: Input, v20 Nexus, hacktoberfest-accepted

#20540 [macOS] fix mouse being "cut" in fullscreen on Monterey
  xbmc/platform/darwin/osx/CocoaInterface.mm
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.mm
Labels: Type: Fix, Backport: Needed, Platform: macOS, Component: Windowing, v20 Nexus

#20561 [backport][macOS] fix mouse being "cut" in fullscreen on Monterey
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Type: Backport, v19 Matrix, Component: Windowing

#20400 [tools/depends] Bump pcre 8.45
  tools/depends/native/pcre/Makefile
  tools/depends/target/pcre/Makefile
  tools/depends/target/pcre/ios-clear_cache.patch
  tools/depends/target/pcre/jit_aarch64.patch
Labels: Component: Depends, v20 Nexus

#20556 [addons][strings] display "manually installed" in dialog & fix some spelling
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Fix, Type: Improvement, Component: Add-ons, Type: Backport, v19 Matrix, Component: Strings

#20543 [Estuary] Home screen: Fix context menu y position
  addons/skin.estuary/xml/DialogContextMenu.xml
Labels: Type: Fix, Component: Skin, v20 Nexus

#20554 [PVR] Fixed 'no PVR add-on enabled' error message.
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Cleanup, Component: PVR, v20 Nexus, Component: Strings

#20403 [tools/depends][target] bump libmicrohttpd 0.9.73
  tools/depends/target/libmicrohttpd/Makefile
Labels: Component: Depends, v20 Nexus

#20562 [Estuary] Home screen: Fix context menu y position
  addons/skin.estuary/xml/DialogContextMenu.xml
Labels: Type: Fix, Component: PVR, Component: Skin, Type: Backport, v19 Matrix

#20503 CRendererVAAPI: rename to GL and GLES specific classes
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVAAPIGLES.h
  xbmc/windowing/X11/OptionalsReg.cpp
  xbmc/windowing/X11/OptionalsReg.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/gbm/OptionalsReg.cpp
  xbmc/windowing/gbm/OptionalsReg.h
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/wayland/OptionalsReg.cpp
  xbmc/windowing/wayland/OptionalsReg.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGL.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContextGLES.cpp
Labels: Type: Cleanup, Type: Improvement, Component: Video rendering, Platform: Linux, v20 Nexus

#20547 [VideoPlayerAudio] Flush audiosink when dropping audio packets (edl m…
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Type: Improvement, v20 Nexus, Component: Players

#20563 [PVR] Allow 'Add to favourites' for 'Search' root folders.
  xbmc/ContextMenus.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus

#20532 [VideoPlayerAudio][EDL] Fix edl mute
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Players

#20566 Macos M1 buildsteps and minors
  tools/buildsteps/defaultenv
  tools/buildsteps/osx-arm64/configure-xbmc
  tools/buildsteps/osx-arm64/make-binary-addons
  tools/buildsteps/osx-arm64/make-xbmc
  tools/buildsteps/osx-arm64/package
  tools/buildsteps/osx-arm64/prepare-xbmc
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
  tools/depends/target/Makefile
Labels: Platform: macOS, Component: Depends, v20 Nexus

#20551 [GUIDialogSimpleMenu] Fix infotag not showing for library bluray isos
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
Labels: Type: Fix, Type: Improvement, Backport: Needed, Component: Content, v20 Nexus

#20402 [tools/depends][target] bump libxml2 2.9.12
  tools/depends/target/libxml2/Makefile
  tools/depends/target/libxslt/Makefile
Labels: Component: Depends, v20 Nexus

#20569 [GUIDialogSimpleMenu] Fix infotag not showing for library bluray isos
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
Labels: Type: Fix, Type: Improvement, Type: Backport, v19 Matrix, Component: Content

#20557 CRenderContext: fix spelling error introduced in 6a5cd63
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
Labels: Type: Cleanup, Component: Video rendering, v20 Nexus

#20559 [cmake] fix duplicated definitions for GL and GLES
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/CMakeLists.txt
  xbmc/guilib/CMakeLists.txt
  xbmc/rendering/CMakeLists.txt
  xbmc/rendering/gl/CMakeLists.txt
  xbmc/rendering/gles/CMakeLists.txt
Labels: Type: Cleanup, Type: Improvement, CMake, v20 Nexus

#20523 AndroidMediaCodec: Fallback to HEVC if Dolby Vision is not fully supp…
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/AndroidUtils.h
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, Platform: Android, v20 Nexus

#20572 [tools/depends][target] pythonmodule-pil update sed replace for macos conformance
  tools/depends/target/pythonmodule-pil/Makefile
Labels: Platform: Android, Component: Depends, v20 Nexus

#20581 Add clangd index to .gitignore
  .gitignore
Labels: Type: Improvement, v20 Nexus

#20582 [tools\depends] Reduce greying of developer hair
  tools/depends/native/Makefile
  tools/depends/target/Makefile
Labels: Type: Improvement, v20 Nexus

#20475 [nfs] change connection timeout to 30sec
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Improvement, Component: Network, v20 Nexus

#20565 Android fixups/minors
  tools/android/packaging/xbmc/AndroidManifest.xml.in
  tools/depends/configure.ac
  tools/depends/target/Makefile
  tools/depends/target/libnfs/Makefile
Labels: Platform: Android, Component: Depends, v20 Nexus

#20560 GLUtils: add helper method GetChannelFromARGB to replace macros
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMA.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUITextureGL.cpp
  xbmc/guilib/GUITextureGLES.cpp
  xbmc/pictures/SlideShowPicture.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/system_gl.h
  xbmc/utils/GLUtils.cpp
  xbmc/utils/GLUtils.h
Labels: Type: Cleanup, Type: Improvement, Component: GL rendering, Component: GLES rendering, v20 Nexus

#20558 CAppParamParser cleanup and improvment
  xbmc/AppParamParser.cpp
  xbmc/AppParamParser.h
  xbmc/Application.cpp
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/linux/AppParamParserLinux.cpp
  xbmc/platform/linux/AppParamParserLinux.h
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/posix/main.cpp
  xbmc/platform/win10/Win10App.cpp
  xbmc/settings/SettingsComponent.cpp
  xbmc/test/TestBasicEnvironment.cpp
Labels: Type: Cleanup, Type: Improvement, Platform: Linux, Component: System, v20 Nexus

#20574 [Android] Fix system memory usage info
  xbmc/platform/android/MemUtils.cpp
Labels: Type: Fix, Backport: Done, Platform: Android, Component: System, v20 Nexus

#20598 [cmake] Fix android link failure fstrcmp ordering
  CMakeLists.txt
Labels: Type: Fix, Platform: Android, v20 Nexus

#20597 [Estuary][guilib] Add 'percentage played' progress bar to 'Recent channels' PVR home screen widget.
  addons/skin.estuary/xml/DialogPVRChannelsOSD.xml
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MyPVRChannels.xml
  xbmc/guilib/GUIListItemLayout.cpp
  xbmc/guilib/GUIListItemLayout.h
Labels: Type: Fix, Type: Improvement, Wiki: Needed, Component: PVR, Component: Skin, v20 Nexus

#20575 [Android] Fix system memory usage info
  xbmc/platform/android/MemUtils.cpp
Labels: Type: Fix, Platform: Android, Type: Backport, v19 Matrix, Component: System

#20591 [GuiDialogSimpleMenu][Fix] Save streamdetails for blurays
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
Labels: Type: Fix, Backport: Needed, Component: Content, v20 Nexus

#20605 [GuiDialogSimpleMenu][Fix] Save streamdetails for blurays
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Content

#20602 [cmake][module] Findpython add requirement for lzma for kodi_dependsbuild
  cmake/modules/FindPython.cmake
Labels: Type: Fix, CMake, v20 Nexus

#20596 [tools/depends][target] cleanup ffmpeg configoptions
  CMakeLists.txt
  tools/depends/configure.ac
  tools/depends/target/ffmpeg/CMakeLists.txt
  tools/depends/target/ffmpeg/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#20606 [AEsinkAUDIOTRACK] Fix TrueHD buffer size/frame duration IEC and RAW
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.h
  xbmc/cores/VideoPlayer/Process/ProcessInfo.h
  xbmc/cores/VideoPlayer/Process/android/ProcessInfoAndroid.cpp
  xbmc/cores/VideoPlayer/Process/android/ProcessInfoAndroid.h
Labels: Type: Fix, Platform: Android, Component: Audio, Type: Backport, v19 Matrix

#20609 [tools/depends] configure fix for dav1d compile failure android x86-64 target
  tools/depends/configure.ac
Labels: Platform: Android, v20 Nexus
