Repository xbmc/xbmc, pull requests merged in 2021-08, with the labels that each got.

#20015 Fix: GUIFontTTF lookup table after Harfbuzz merge
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
Labels: Type: Fix, Component: GUI rendering, v20 N

#20024 [addons] move sort out of for-loop that fills the vector to be sorted
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Improvement, Component: Add-ons, v20 N

#20018 [Music][GUIInfo] Expose ListItem.DateAdded for music library content
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
Labels: Type: Fix, Component: Music, v20 N

#19971 WS-Discovery interface implementation
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  system/settings/windows.xml
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/commons/ilog.h
  xbmc/network/CMakeLists.txt
  xbmc/network/IWSDiscovery.h
  xbmc/network/NetworkServices.cpp
  xbmc/network/NetworkServices.h
  xbmc/platform/posix/filesystem/CMakeLists.txt
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscovery.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscovery.h
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.h
  xbmc/platform/win32/PlatformWin32.cpp
  xbmc/platform/win32/PlatformWin32.h
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/utils/log.cpp
Labels: Type: Feature, Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Component: Network, Platform: tvOS, v20 N

#19997 Fix c++ warnings (Visual Studio 2019)
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/dialogs/GUIDialogMediaFilter.h
  xbmc/pictures/ExifParse.cpp
Labels: Type: Cleanup, v20 N

#19631 [Iwyu] xbmc/media/* header fixups
  xbmc/media/MediaType.h
  xbmc/media/drm/CryptoSession.h
Labels: Type: Cleanup, Component: System, v20 N

#20022 [Subtitles] Fixed wrong ASS/SSA format detection
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDFactorySubtitle.cpp
Labels: Type: Fix, v20 N, Component: Subtitles

#19978 [FIX]Video smatplaylists SQL limit incorrectly set to 0
  xbmc/filesystem/SmartPlaylistDirectory.cpp
Labels: Type: Fix, Component: Video, Component: Database, v20 N

#20014 [Windows] Add new setting "Use 10 bit for SDR" in Display Settings
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Type: Feature, Component: Settings, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v20 N

#20036 change explanation string for cddb
  addons/resource.language.en_gb/resources/strings.po
Labels: Backport: Done, v20 Nexus, Component: Strings

#20037 change explanation string for cddb
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Backport, v19 Matrix, Component: Strings

#20041 [clang-tidy] fix performance-* warnings
  xbmc/platform/posix/filesystem/SMBWSDiscovery.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.h
  xbmc/settings/lib/Setting.cpp
Labels: Type: Fix, v20 Nexus

#20034 [tools/depends/target][python3] enable _multiprocessing module
  cmake/modules/FindPython.cmake
  tools/depends/target/Makefile
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/modules.setup
Labels: Backport: Done, Platform: Android, Platform: macOS, Platform: iOS, Component: Python, Platform: tvOS, v20 Nexus

#19906 [Jenkins] bump Android NDK to ndk21e
  docs/README.Android.md
  tools/buildsteps/android-arm64-v8a/configure-depends
  tools/buildsteps/android/configure-depends
  tools/buildsteps/defaultenv
Labels: Type: Improvement, Platform: Android, v20 Nexus

#18976 input/locale: split hardware and virtual keyboard setting in strings.po
  addons/resource.language.en_gb/resources/strings.po
  system/settings/linux.xml
Labels: v20 Nexus, Component: Strings

#20027 Use c++ initializer {} in place of ZeroMemory and memset
  xbmc/Application.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDirectSound.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkOSS.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDStateSerializer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererUtil.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
  xbmc/filesystem/test/TestFile.cpp
  xbmc/filesystem/test/TestZipFile.cpp
  xbmc/guilib/D3DResource.cpp
  xbmc/guilib/GUIFontTTFDX.cpp
  xbmc/guilib/GUIShaderDX.cpp
  xbmc/guilib/GUIShaderDX.h
  xbmc/guilib/XBTFReader.cpp
  xbmc/input/InputManager.cpp
  xbmc/network/Network.cpp
  xbmc/network/TCPServer.cpp
  xbmc/network/httprequesthandler/HTTPFileHandler.cpp
  xbmc/platform/android/activity/AndroidKey.cpp
  xbmc/platform/android/activity/AndroidMouse.cpp
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/platform/darwin/osx/smc.c
  xbmc/platform/linux/input/LIRC.cpp
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/platform/linux/input/LibInputPointer.cpp
  xbmc/platform/posix/XHandle.cpp
  xbmc/platform/win10/input/RemoteControlXbox.cpp
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/input/IRServerSuite.cpp
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/storage/Win32StorageProvider.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/dx/ScreenshotSurfaceWindows.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/threads/platform/win/Win32Exception.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/XBMCTinyXML.cpp
  xbmc/windowing/X11/WinEventsX11.cpp
  xbmc/windowing/osx/WinEventsSDL.cpp
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/windows/WinEventsWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Cleanup, v20 Nexus

#20044 [warnings][DVDCodecs/Video][VDPAU] fix missing-field-initializers warnings
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
Labels: Platform: Linux, v20 Nexus

#20043 [warnings] fixup assorted compiler warnings
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscovery.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
Labels: Type: Cleanup, v20 Nexus

#20045 [CMAKE] update Findpython module
  CMakeLists.txt
  cmake/modules/FindPython.cmake
Labels: CMake, v20 Nexus

#20052 [MUSIC] Ensure grouping discs by title if first disc has a subtitle
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Backport: Done, Component: Music, v20 Nexus

#20053 [Music] Fix grouping discs by subtitle if first disc has one
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Component: Music, Type: Backport, v19 Matrix

#20026 [Music][GUIInfo] Expose ListItem.DateAdded for music library content
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
Labels: Type: Fix, Component: Music, Type: Backport, v19 Matrix

#19868 [BP][Docs][Apple] Update apple platform build docs
  docs/README.iOS.md
  docs/README.macOS.md
  docs/README.tvOS.md
Labels: Documentation, Type: Backport, v19 Matrix

#20047 [bp][addons] fix display logic for official/3rd party modules
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Cleanup, Type: Improvement, Component: Add-ons, Type: Backport, v19 Matrix

#20056 Translations update from Weblate
  addons/skin.estuary/language/resource.language.ca_es/strings.po
  addons/skin.estuary/language/resource.language.nl_nl/strings.po
  addons/skin.estuary/language/resource.language.vi_vn/strings.po
Labels: v20 Nexus

#20058 [cmake] search for python interpreter
  cmake/modules/FindPython.cmake
Labels: Platform: Linux, CMake, v20 Nexus

#19974 [FIX] Avoid calls to remote servers if saving streamdetails for dvd/b…
  xbmc/Application.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v19 Matrix

#20064 [readme.md] Remove hitcount
  README.md
Labels: Component Documentation, v20 Nexus

#20002 Added PT-BR layout
  system/keyboardlayouts/portuguese.xml
Labels: Type: Feature, Component: Input, v20 Nexus

#19992 Android: Leanback - Fix potential crash when inserting programs
  tools/android/packaging/xbmc/src/channels/SyncProgramsJobService.java.in
Labels: Type: Fix, Platform: Android, v20 Nexus

#19895 InputManager: Allow volume up / volume down and mute actions to be performed without interrupting screensaver
  xbmc/input/InputManager.cpp
Labels: Type: Improvement, Component: Input, v20 Nexus

#20065 Translations update from Weblate
  addons/skin.estuary/language/resource.language.ar_sa/strings.po
Labels: v20 Nexus

#20066 add window id logging to CInputManager::HandleKey() for easier keymap debugging
  xbmc/input/InputManager.cpp
Labels: Type: Improvement, Component: Logging, v20 Nexus

#19979 [Xbox] Fix SSL certs verification errors on Python add-ons
  xbmc/interfaces/python/AddonPythonInvoker.cpp
  xbmc/interfaces/python/XBPython.cpp
  xbmc/platform/win10/PlatformWin10.cpp
Labels: Type: Fix, Component: Python, Type: Backport, Platform: WindowsStore, v19 Matrix

#19193 added sort by "rating" for tv shows
  xbmc/video/GUIViewStateVideo.cpp
Labels: Type: Improvement, Component: System, v20 Nexus

#20087 add riscv compile defines
  xbmc/cores/DllLoader/DllLoader.h
  xbmc/cores/DllLoader/ldt_keeper.c
  xbmc/utils/MathUtils.h
Labels: Platform: Linux, v20 Nexus

#20046 Apple Silicon minors
  cmake/scripts/osx/ArchSetup.cmake
  docs/README.macOS.md
  tools/buildsteps/defaultenv
  tools/buildsteps/osx-arm64/configure-depends
  tools/buildsteps/osx-arm64/load-env
  tools/buildsteps/osx-arm64/make-depends
  tools/buildsteps/osx-arm64/make-native-depends
  tools/buildsteps/osx-arm64/prepare-depends
  tools/depends/.gitignore
  tools/depends/configure.ac
  tools/depends/native/Makefile
  tools/depends/target/Makefile
  tools/depends/target/ffmpeg/Makefile
  tools/depends/target/gmp/Makefile
  tools/depends/target/gnutls/Makefile
  tools/depends/target/nettle/Makefile
Labels: Platform: macOS, v20 Nexus

#20080 Add sort by last played for movies
  xbmc/video/GUIViewStateVideo.cpp
Labels: Type: Improvement, Component: System, v20 Nexus
