Repository xbmc/xbmc, pull requests merged in 2021-10, with the labels that each got.

#20208 [cmake][osx] Handle macro for xcode project differences for build systems
  cmake/scripts/osx/Macros.cmake
Labels: Type: Fix, Platform: macOS, CMake, v20 Nexus

#20212 [Estuary] PVR Channel Manager Dialog: Adjust vertical position of channel icon
  addons/skin.estuary/xml/DialogPVRChannelManager.xml
Labels: Type: Fix, Component: Skin, v20 Nexus, hacktoberfest-accepted

#20213 [PVR] CPVRChannelGroupsContainer::CreateChannelEpgs: Try to create Ra…
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus, hacktoberfest-accepted

#20214 [PVR] Fix crashes on Kodi startup caused by inconsistent TV database.…
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus, hacktoberfest-accepted

#20222 [PVR] Channel Manager: Add 'refresh channel logos'
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogPVRChannelManager.xml
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
  xbmc/listproviders/IListProvider.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
Labels: Type: Improvement, Component: PVR, Component: Skin, v20 Nexus, hacktoberfest-accepted

#20187 Translations update from Weblate
  addons/skin.estouchy/language/resource.language.pt_pt/strings.po
  addons/skin.estuary/language/resource.language.de_de/strings.po
Labels: v20 Nexus

#20103 fixed: Instead of determining if something is remote, we should determine if it's a network filesystem (should fix AirPlay issue #19795)
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/filesystem/File.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/video/VideoThumbLoader.cpp
Labels: Backport: Needed, Component: Network, v20 Nexus

#20216 [PVR] Cleanup texture db and stale cached images
  xbmc/FileItem.cpp
  xbmc/TextureCache.cpp
  xbmc/TextureCacheJob.cpp
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRCachedImage.cpp
  xbmc/pvr/PVRCachedImage.h
  xbmc/pvr/PVRCachedImages.cpp
  xbmc/pvr/PVRCachedImages.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/PVRThumbLoader.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
Labels: Type: Improvement, Component: PVR, v20 Nexus, hacktoberfest-accepted

#20223 [PVR] Reset PVR database: Add selection dialog for components to reset.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Improvement, Component: PVR, v20 Nexus, hacktoberfest-accepted

#20231 [ios/tvos] fallout from #20216 - MPMediaItem artwork
  xbmc/platform/darwin/ios-common/AnnounceReceiver.mm
Labels: Platform: iOS, Platform: tvOS, v20 Nexus, hacktoberfest-accepted

#20232 [Estuary] Fix PVR Guide window breadcrumb.
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Cleanup, Component: Skin, v20 Nexus, hacktoberfest-accepted

#20009 PVR Enforce EDL limits and increase them
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_defines.h
Labels: Type: Fix, Component: PVR, Component: Binary add-ons, Component: Add-ons, API change: PVR, v20 Nexus

#19395 [pvr] Add support for PVR Providers and parental rating code for EPG
  addons/resource.language.en_gb/resources/strings.po
  cmake/treedata/common/pvr.txt
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/General.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Providers.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/CMakeLists.txt
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_defines.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_epg.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_general.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_providers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/PVRGUIActions.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.h
  xbmc/pvr/providers/CMakeLists.txt
  xbmc/pvr/providers/PVRProvider.cpp
  xbmc/pvr/providers/PVRProvider.h
  xbmc/pvr/providers/PVRProviders.cpp
  xbmc/pvr/providers/PVRProviders.h
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Feature, Component: PVR, Component: Binary add-ons, Component: Add-ons, API change: PVR, v20 Nexus

#20238 [pvr][gui] format string cleanup with change "%s" to "{}" on CGUIWindowSystemInfo
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Improvement, Component: PVR, Component: GUI engine, v20 Nexus, hacktoberfest-accepted

#20225 [windows] Fix tests on jenkins
  xbmc/platform/win32/Filesystem.cpp
Labels: Type: Fix, Platform: Windows, v20 Nexus, hacktoberfest-accepted

#20228 [GUI][SubtitlesDialog] Add context menu options for subtitle addons
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/dialogs/GUIDialogSubtitles.cpp
  xbmc/video/dialogs/GUIDialogSubtitles.h
Labels: Type: Feature, Type: Improvement, Component: GUI engine, v20 Nexus, hacktoberfest-accepted, Component: Subtitles

#20219 Add RTLD_LOCAL to dlopen() explicitly to force it on macOS
  xbmc/addons/kodi-dev-kit/include/kodi/tools/DllHelper.h
Labels: Type: Improvement, Component: Add-ons, Platform: macOS, v20 Nexus, hacktoberfest-accepted

#20240 [addons] Add used class headers directly
  xbmc/addons/VFSEntry.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/paplayer/CodecFactory.cpp
  xbmc/filesystem/FileDirectoryFactory.cpp
  xbmc/guilib/GUIVisualisationControl.cpp
  xbmc/guilib/imagefactory.cpp
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/peripherals/addons/PeripheralAddon.h
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/windows/GUIWindowScreensaver.cpp
Labels: Type: Improvement, Component: Binary add-ons, v20 Nexus, hacktoberfest-accepted

#20245 [pvr] Fix number of providers and channels groups in system info
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus, hacktoberfest-accepted

#20248 [PVR] PVR Manager: Erase stale providers texture db entries and image files.
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/providers/PVRProvider.cpp
  xbmc/pvr/providers/PVRProvider.h
  xbmc/pvr/providers/PVRProviders.cpp
  xbmc/pvr/providers/PVRProviders.h
Labels: Type: Improvement, Component: PVR, v20 Nexus, hacktoberfest-accepted

#20249 [PVR] Reset PVR database: Add support for selecting providers.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Type: Improvement, Component: PVR, v20 Nexus, hacktoberfest-accepted

#19843 [addons] add function for removing orphaned dependencies recursively
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonSystemSettings.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Component: Add-ons, v20 Nexus

#20254 spelling: 'dependency add-ons' are just 'add-ons'
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
Labels: Type: Improvement, v20 Nexus, Component: Strings

#20230 update SSL CA trust store
  system/certs/cacert.pem
Labels: Type: Improvement, v20 Nexus, hacktoberfest-accepted

#20202 [addons][audiodecoder] fix media info list show and content scan about packed audiodecoder files
  xbmc/addons/AudioDecoder.cpp
  xbmc/filesystem/FileDirectoryFactory.cpp
Labels: Type: Fix, Backport: Done, Component: Binary add-ons, Component: Music, Component: FileSystem, v20 Nexus

#20258 [PVR] Fix detection of duplicate lines in RDS text.
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v20 Nexus, hacktoberfest-accepted

#20224 Bump to 19.2. final
  media/splash.jpg
  version.txt
Labels: v19 Matrix

#20413 [CMAKE]Rename installable TexturePacker and JsonSchemaBuilder to kodi-TexturePacker and kodi-JsonSchemaBuilder.
  cmake/modules/FindJsonSchemaBuilder.cmake
  cmake/modules/FindTexturePacker.cmake
  cmake/scripts/linux/Install.cmake
  docs/manpages/kodi-TexturePacker.1
  tools/depends/native/JsonSchemaBuilder/CMakeLists.txt
Labels: Component: Skin, CMake, Type: Breaking change, v20 Nexus

#20426 [Matrix] Update weblate workflow
  .github/workflows/gh-action-weblate-upload.yml
Labels: v19 Matrix
