Repository xbmc/xbmc, pull requests merged in 2021-06, with the labels that each got.

#19834 More fixes for the format strings fallout
  xbmc/dbwrappers/DatabaseQuery.cpp
  xbmc/filesystem/CacheStrategy.cpp
  xbmc/guilib/GUISliderControl.cpp
  xbmc/interfaces/builtins/GUIBuiltins.cpp
  xbmc/interfaces/json-rpc/SettingsOperations.cpp
  xbmc/interfaces/legacy/InfoTagPicture.cpp
  xbmc/network/AirPlayServer.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.cpp
  xbmc/settings/SettingControl.cpp
  xbmc/settings/SettingControl.h
  xbmc/settings/dialogs/GUIDialogSettingsManualBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsManualBase.h
  xbmc/utils/Screenshot.cpp
  xbmc/utils/StringUtils.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
Labels: Type: Cleanup, Type: Fix, v20 N

#19797 CLog: allow spdlog to do the formatting
  xbmc/utils/log.h
Labels: Component: Logging, Type: Cleanup, v20 N

#19844 add precision modifier as it's invalid without it
  xbmc/utils/StringUtils.cpp
  xbmc/utils/test/TestStringUtils.cpp
Labels: Type: Fix, v20 N

#19826 [DXVA2] Fix: check if HDR10 RGB limited range is supported by video driver
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
Labels: Backport: Done, Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Fix, v20 N

#19847 CGUIDialogVideoSettings: fix slider format label
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
Labels: Component: GUI rendering, Type: Fix, v20 N

#19835 Add harfbuzz packages
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Component: Depends, Platform: Windows, Platform: WindowsStore, v20 N

#19851 [FIX][Videodb] Use correct placeholder for PrepareSQL (%s not {})
  xbmc/video/VideoDatabase.cpp
Labels: Component: Database, Component: Video, Type: Fix, v20 N

#19840 [Music]Fix MySQL problem with fetching artist discography
  xbmc/music/MusicDatabase.cpp
Labels: Backport: Done, Component: Music, Type: Fix, v20 N

#19841 [Music][Backport]Fix MySQL problem with fetching artist discography
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Backport, Type: Fix, v19 Matrix

#19855 Fix segmentation fault when accessing invalid PVR channel from favourites
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19671 DVDAudioCodecFFmpeg:Try to fallback to using hints for channel layout…
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.h
Labels: Component: Audio, Type: Improvement, v20 N

#19786 [Windows][WASAPI]Fix wasapi output channel order
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin.h
Labels: Component: Audio, Platform: Windows, Type: Improvement, v20 N

#19762 [Matrix] [video] don't overwrite unique IDs in CVideoDatabase::SetDetailsForFoo() (fixes #17444)
  xbmc/video/VideoDatabase.cpp
Labels: Type: Backport, Type: Fix, v19 Matrix

#19857 [Backport] #19855 Fix segmentation fault when accessing invalid PVR channel from favourites
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19831 [PVR] Refactor and fix load and update of channel groups.
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
Labels: Component: PVR, Type: Cleanup, Type: Fix, v20 N

#19862 [PVR] Refactor and cleanup CPVRChannelGroup(Internal)::(AddTo|AppendTo|RemoveFrom)Group.
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
Labels: Component: PVR, Type: Cleanup, v20 N

#19830 [DXVA2] Fix: check if HDR10 RGB limited range is supported by video driver
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19865 [PVR] Refactor CPVRChannelGroup settings handling.
  xbmc/pvr/channels/CMakeLists.txt
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupSettings.cpp
  xbmc/pvr/channels/PVRChannelGroupSettings.h
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/pvr/settings/PVRSettings.h
Labels: Component: PVR, Type: Cleanup, v20 N

#19821 [PVR] Separate GUI from core: Get rid of 'last played group' functionality in core code.
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Component: PVR, Type: Cleanup, v20 N

#19853 [Docs][Apple] Update apple platform build docs
  docs/README.iOS.md
  docs/README.macOS.md
  docs/README.tvOS.md
Labels: Backport: Done, Documentation, v20 N

#19867 [addons][binary] change "repo-binary-addons" branch to Nexus
  cmake/addons/bootstrap/repositories/binary-addons.txt
Labels: Component: Binary add-ons, Type: Feature, v20 N

#19832 [addons] refactor cstring handling in addon info builder
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
Labels: Component: Add-ons, Type: Cleanup, v20 N

#19861 Fix issue 19665 - UWP curl https require to define CURLOPT_CAINFO
  xbmc/filesystem/CurlFile.cpp
Labels: Backport: Needed, Component: Network, Platform: WindowsStore, Type: Fix, v20 N

#19811 changed: Refactor & improve logging for FileCache
  xbmc/filesystem/CacheStrategy.cpp
  xbmc/filesystem/CacheStrategy.h
  xbmc/filesystem/CircularCache.cpp
  xbmc/filesystem/CircularCache.h
  xbmc/filesystem/FileCache.cpp
Labels: v20 N

#19812 changed: Refactor + improve logging in CCurlFile
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Improvement, v20 N

#19477 [Estuary] add icon wall view for containers with content set to files
  addons/skin.estuary/xml/View_52_IconWall.xml
Labels: Component: Skin, Type: Improvement, v20 N

#19791 [Estuary] fix label 2 in list views
  addons/skin.estuary/xml/Variables.xml
Labels: Backport: Done, Component: Skin, Type: Fix, v20 N

#19863 [Estuary] use 'Premiered' label for movies
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Improvement, v20 N

#19792 [Estuary][Backport]Fix label 2 in list views
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v19 Matrix

#19877 [PVR] MSVC 64-bit warning cleanup in PVRGUIActions.cpp
  xbmc/pvr/guilib/PVRGUIActions.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19859 [PVR][GUI] Channel manager dialog control state enhancements
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
Labels: Component: PVR, Type: Fix, Type: Improvement, v20 N

#19852 [Android] Fix HDR static metadata primaries order
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Platform: Android, Type: Fix, v20 N

#19874 [PVR][Estuary] Suppress PVR Recording 'Size' label when set to '0.00 B'
  addons/skin.estuary/xml/Variables.xml
Labels: Component: Skin, Type: Fix, v20 N

#19810 VideoPlayer: MediaCodec - Add av1 hw decoding
  tools/depends/target/libandroidjni/Makefile
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Feature, v20 N

#19885 [swig] fix illegal access warnings/errors with Java >= 9
  xbmc/interfaces/swig/CMakeLists.txt
Labels: Backport: Needed, CMake, Type: Fix, v20 N

#19875 [tools/depends] bump cmake 3.20.3 + xcode new build system support
  cmake/scripts/darwin_embedded/Macros.cmake
  cmake/scripts/osx/Macros.cmake
  tools/depends/native/cmake/Makefile
  tools/depends/target/cmakebuildsys/Makefile
  tools/depends/target/mariadb/03-cmake3.20_syntax_fix.patch
  tools/depends/target/mariadb/Makefile
Labels: Component: Build, Platform: Android, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Improvement, v20 N

#19870 Fix of the lookup texture for Spline/Lanczos3
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
Labels: Component: GL rendering, Platform: Linux, Type: Backport, Type: Fix, v19 Matrix

#19848 Fix dependency build on macOS.
  tools/depends/Makefile.include.in
Labels: Component: Build, v20 N

#19829 [osx] fix warning for Applicationwillterminate -Wnonnull
  xbmc/platform/darwin/osx/SDLMain.mm
Labels: Type: Fix, v20 N

#19879 [UWP] [Xbox] Removed non working HDR toggle code
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Backport: Done, Component: Video rendering, Platform: WindowsStore, Type: Fix, v20 N

#19878 [Addons][Filesystem] Resolve int <--> bool compiler warnings on MSVC
  xbmc/addons/interfaces/Filesystem.cpp
Labels: Backport: Done, Component: Binary add-ons, Type: Fix, v20 N

#19882 [clang-tidy] fix performance-* warnings
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/utils/GLUtils.cpp
Labels: Type: Fix, v20 N

#19617 [Windows] Removes unnecessary ERROR log lines when is build NSIS installer
  tools/buildsteps/windows/BuildSetup.bat
Labels: Component: Build, Platform: Windows, Type: Improvement, v20 N

#19703 [PVR][Estuary] PVR channel manger dialog GUI adjustments
  addons/skin.estuary/xml/DialogPVRChannelManager.xml
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
Labels: Component: PVR, Component: Skin, Type: Cleanup, v20 N

#19894 [Android] Fix HDR static metadata - Matrix
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, Type: Backport, Type: Fix, v19 Matrix

#19800 Improvements for add-on settings
  system/settings/android.xml
  system/settings/darwin_ios.xml
  system/settings/darwin_tvos.xml
  system/settings/linux.xml
  system/settings/settings.xml
  system/settings/win10.xml
  system/settings/windows.xml
  xbmc/settings/SettingControl.cpp
  xbmc/settings/SettingPath.cpp
  xbmc/settings/lib/ISetting.cpp
  xbmc/settings/lib/ISetting.h
  xbmc/settings/lib/Setting.cpp
  xbmc/settings/lib/Setting.h
  xbmc/settings/lib/SettingDefinitions.h
  xbmc/settings/lib/SettingSection.cpp
Labels: Component: Add-ons, Component: Settings, Type: Improvement, v20 N

#19561 [Windows] Bump libass to 0.15
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Component: Depends, Platform: Windows, Platform: WindowsStore, v20 N

#19907 [PVR] Always load internal channel group from db, even if there are n…
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19909 [PVR] Resolve "EPG Grid can get locked into a short timeframe during/after Clear Data operation"
  xbmc/pvr/epg/EpgTagsContainer.cpp
Labels: Backport: Needed, Component: PVR, Type: Fix, v20 N

#19915 [Backport][PVR] Resolve "EPG Grid can get locked into a short timeframe during/after Clear Data operation"
  xbmc/pvr/epg/EpgTagsContainer.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19884 [Backport][Addons][Filesystem] Resolve int <--> bool compiler warnings on MSVC
  xbmc/addons/interfaces/Filesystem.cpp
Labels: Component: Binary add-ons, Type: Backport, Type: Fix, v19 Matrix

#19904 [utils] include fmt/xchar.h
  xbmc/utils/StringUtils.h
Labels: Component: Strings, Type: Backport, Type: Fix, v19 Matrix

#19900 [utils] include fmt/xchar.h
  xbmc/utils/StringUtils.h
Labels: Backport: Done, Component: Strings, Type: Fix, v20 N

#19880 [UWP] [Xbox] Removed non working HDR toggle code
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Component: Video rendering, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19893 [depends] Bump openssl and gnutls
  tools/depends/target/gnutls/Makefile
  tools/depends/target/gnutls/add-dl-as-private-lib.patch
  tools/depends/target/mariadb/04-pthread.patch
  tools/depends/target/mariadb/Makefile
  tools/depends/target/openssl/Makefile
  tools/depends/target/python3/Makefile
Labels: Backport: Needed, Component: Depends, Type: Fix, v20 N

#19923 [PVR][GUI] Show formatted channel number in PVR channel manager dialog
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19921 [PVR] Fix Channel Manager dialog synchronization issues with backend data (New Channel / Channel Settings)
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
Labels: Component: PVR, Type: Fix, v20 N

#19924 [PVR][GUI] Suppress Select Client dialog on New channel if there is only valid target client
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
Labels: Component: PVR, Type: Fix, v20 N

#19917 [Xbox] DX fixes and improvements
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Backport: Done, Component: DirectX rendering, Platform: WindowsStore, Type: Fix, v20 N

#19920 [Xbox] DX fixes and improvements
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Component: DirectX rendering, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19916 [Build] Add .gitignore exclusion for wget-hsts files
  .gitignore
Labels: Component: Depends, Platform: Windows, Platform: WindowsStore, Type: Fix, v20 N
