Repository xbmc/xbmc, pull requests merged in 2021-04, with the labels that each got.

#19486 changed: Have filecache retry instead of abort with fatal errors
  xbmc/filesystem/FileCache.cpp
Labels: Backport: Needed, Component: Network, Type: Improvement, v20 N

#19441 [android] allow overriding temp dir (fixes #19393)
  tools/android/packaging/xbmc/src/Splash.java.in
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Platform: Android, Type: Fix, v20 N

#19498 [PVR][json-rpc] Re-introduce broadcast properties 'hastimer', 'hastim…
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: API change: JSON-RPC, Backport: Needed, Component: JSON-RPC, Component: PVR, Type: Fix, v20 N

#19496 Expose documents to the iOS files app
  xbmc/platform/darwin/ios/Info.plist.in
Labels: Backport: Done, Platform: iOS, Type: Fix, v20 N

#19500 Expose documents to the iOS files app
  xbmc/platform/darwin/ios/Info.plist.in
Labels: Platform: iOS, Type: Backport, v19 Matrix

#19503 Fix coverity scan issues in UPnP code
  xbmc/network/upnp/UPnP.cpp
  xbmc/network/upnp/UPnPInternal.cpp
Labels: Component: UPnP, Type: Fix, v20 N

#19509 [Matrix][PVR][json-rpc] Re-introduce broadcast properties 'hastimer', 'hastim…
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: API change: JSON-RPC, Component: JSON-RPC, Component: PVR, Type: Backport, Type: Fix, Type: Improvement, v19 Matrix

#19511 [jenkins] don't use internal spdlog on freebsd 12
  tools/buildsteps/freebsd/configure-xbmc
Labels: Platform: FreeBSD, Type: Fix, v20 N

#19392 [music]Fix rescan of music from cuesheets
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/Song.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Backport: Done, Component: Music, Type: Fix, v20 N

#19394 [Backport][music]Fix rescan of music from cuesheets
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/Song.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
Labels: Component: Music, Type: Backport, Type: Fix, v19 Matrix

#19426 [VideoPlayer] fix menu handling of blu-rays and allow chapter seeking while in overlay menu mode
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Backport: Needed, Component: Video, Type: Fix, Type: Improvement, v20 N

#19505 [Estuary] Add All/Watched/Unwatched button to sidebar menu for Music Videos
  addons/skin.estuary/xml/MyVideoNav.xml
Labels: Component: Skin, Type: Fix, v20 N

#19513 enable Nfs autoreconnect
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/NFSFile.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Backport: Needed, Component: Network, Wiki: Needed, v20 N

#19517 [jenkins] don't force internal spdlog on freebsd
  tools/buildsteps/freebsd/configure-xbmc
Labels: Platform: FreeBSD, Type: Backport, Type: Fix, v19 Matrix

#19523 [Android] StorageProvider Fixes
  tools/depends/target/libandroidjni/Makefile
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Backport: Needed, Component: FileSystem, Platform: Android, Type: Fix, v20 N

#19506 [windows] remove mediafoundation library requirement
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  tools/buildsteps/windows/buildffmpeg.sh
Labels: Backport: Needed, CMake, Component: Depends, Platform: Windows, Platform: WindowsStore, Type: Fix, v20 N

#19244 [gbm] default to original crtc mode
  xbmc/windowing/gbm/drm/DRMCrtc.h
  xbmc/windowing/gbm/drm/DRMUtils.cpp
Labels: Backport: Done, Component: Windowing, Platform: Linux, Type: Fix, v20 N

#19507 [ffmpeg] bump ffmpeg to 4.3.2
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Component: Depends, Component: Video, Type: Feature, v20 N

#19541 [Subtitles][ASS] Log libass version
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Component: Subtitles, Type: Improvement, v20 N

#19543 [Android] Bump libandroidjni to incorporate latest StorageManager fix.
  tools/depends/target/libandroidjni/Makefile
Labels: Backport: Done, Platform: Android, Type: Fix, v20 N

#19544 [Matrix][Android] StorageManager fixes
  tools/depends/target/libandroidjni/Makefile
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Component: FileSystem, Platform: Android, Type: Backport, Type: Fix, v19 Matrix

#19126 [Windows] Add video, HDR metadata, shader and swapchain infos to debug info OSD
  system/keymaps/keyboard.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/DebugInfo.h
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
  xbmc/windowing/win10/WinSystemWin10DX.h
  xbmc/windowing/windows/WinSystemWin32DX.cpp
  xbmc/windowing/windows/WinSystemWin32DX.h
Labels: Backport: Done, Component: Video rendering, Platform: Windows, Platform: WindowsStore, Type: Feature, Wiki: Needed, v20 N

#19535 [Subtitles][ASS] Support both user defined fonts and extracted fonts
  xbmc/Util.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Component: Subtitles, Type: Fix, Type: Improvement, Wiki: Needed, v20 N

#19551 [PVR][GUI] 'Next recording on ...' label time is not properly localized
  xbmc/pvr/guilib/guiinfo/PVRGUITimerInfo.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v20 N

#19557 [Backport][PVR][GUI] 'Next recording on ...' label time is not localized
  xbmc/pvr/guilib/guiinfo/PVRGUITimerInfo.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19552 [pvr] error dialog should not appear for timer rules with neither start or end time
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v20 N

#19553 [pvr][Matrix] error dialog should not appear for timer rules with neither start or end time
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Component: PVR, Type: Backport, v19 Matrix

#19329 backport: [curl] enable tcp keepalive
  xbmc/filesystem/CurlFile.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Component: Network, Type: Backport, v19 Matrix

#19504 changed: Have filecache retry instead of abort with fatal errors (fix…
  xbmc/filesystem/FileCache.cpp
Labels: Component: Network, Type: Backport, v19 Matrix

#19528 [Plugin] Fix - Regression of CVideoInfoTag::Merge
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/interfaces/legacy/ListItem.h
  xbmc/video/VideoInfoTag.cpp
Labels: Backport: Done, Component: Add-ons, Component: Python, Type: Improvement, v20 N

#19538 [Plugin] Fix - Regression of CVideoInfoTag::Merge
  xbmc/video/VideoInfoTag.cpp
Labels: Component: Add-ons, Component: Python, Type: Backport, Type: Fix, v19 Matrix

#19508 [ffmpeg] bump ffmpeg to 4.3.2 - backport
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Component: Depends, Component: Video, Type: Backport, v19 Matrix

#17043 changed: By default enable filecache for all remote filesystems
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Improvement, v20 N

#19567 [Application] remove unnecessary Minimize function
  xbmc/Application.cpp
  xbmc/Application.h
Labels: Type: Improvement, v20 N

#19563 [Subtitles][ASS] Support both user defined fonts and extracted fonts
  xbmc/Util.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Component: Subtitles, Type: Backport, Type: Fix, Wiki: Needed, v19 Matrix

#19574 [addons] minor cleanups for readability and style
  xbmc/addons/AddonRepos.h
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.h
Labels: Component: Add-ons, Type: Cleanup, v20 N

#19580 [addons] fixup: pass arguments by const reference
  xbmc/addons/gui/GUIDialogAddonInfo.h
Labels: Component: Add-ons, Type: Cleanup, v20 N

#19568 [Application] move SwitchToFullScreen to windowing
  xbmc/Application.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/GUIWindowManager.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windows/GUIWindowHome.cpp
Labels: Type: Improvement, v20 N

#18783 [modernize] Update XbmcThreads::EndTime class to use std::chrono
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/interfaces/legacy/Monitor.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/threads/SystemClock.cpp
  xbmc/threads/SystemClock.h
  xbmc/threads/test/TestEndTime.cpp
Labels: Component: System, Type: Cleanup, Type: Improvement, v20 N

#19566 CNetworkBase: add static method to get platform implementation
  xbmc/Application.cpp
  xbmc/ServiceManager.cpp
  xbmc/network/Network.h
  xbmc/platform/android/network/NetworkAndroid.cpp
  xbmc/platform/android/network/NetworkAndroid.h
  xbmc/platform/darwin/ios-common/network/NetworkIOS.h
  xbmc/platform/darwin/ios-common/network/NetworkIOS.mm
  xbmc/platform/darwin/osx/network/NetworkOsx.cpp
  xbmc/platform/darwin/osx/network/NetworkOsx.h
  xbmc/platform/freebsd/network/NetworkFreebsd.cpp
  xbmc/platform/freebsd/network/NetworkFreebsd.h
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/linux/network/NetworkLinux.h
  xbmc/platform/posix/network/NetworkPosix.h
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/platform/win10/network/NetworkWin10.h
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/NetworkWin32.h
  xbmc/profiles/ProfileManager.cpp
Labels: Component: Network, Platform: Android, Platform: FreeBSD, Platform: Linux, Platform: Windows, Platform: WindowsStore, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Cleanup, v20 N

#19572 CPUInfoLinux: add alternative cpu revision and serial locations
  xbmc/platform/linux/CPUInfoLinux.cpp
Labels: Platform: Linux, Type: Improvement, v20 N

#19578 [Clean-up]Apply cosmetic code style guidelines to the music database
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
Labels: Component: Database, Component: Music, Type: Cleanup, v20 N

#19532 [Windows] Implements WS-Discovery daemon and enables browse SMB shares
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
  xbmc/platform/win32/network/CMakeLists.txt
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.h
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Component: FileSystem, Component: Network, Platform: Windows, Type: Feature, Type: Fix, v20 N

#19542 [rendering] Fix OverlayRenderer alpha blending
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
Labels: Backport: Needed, Component: Video rendering, Platform: Android, Platform: Linux, Type: Fix, v20 N

#19571 Fix font loading issue with libass on windows
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Backport: Done, Component: Depends, Component: Subtitles, Platform: Windows, Platform: WindowsStore, Type: Fix, v20 N

#19569 [Windows] Fix libass font loading issue on windows
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Component: Depends, Component: Subtitles, Platform: Windows, Platform: WindowsStore, Type: Backport, v19 Matrix

#19534 [backport] [windows] remove mediafoundation library requirement
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  tools/buildsteps/windows/buildffmpeg.sh
Labels: CMake, Component: Depends, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19570 DXVA2: Fix green screen on some DVD's menus
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
Labels: Backport: Done, Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Fix, v20 N

#19585 CTimeUtils: make initial frametime from current timestamp
  xbmc/utils/TimeUtils.cpp
Labels: Component: System, Type: Fix, v20 N

#19354 Add section about end-user impact to PR template
  docs/PULL_REQUEST_TEMPLATE.md
Labels: Documentation, Infrastructure

#19586 [pvr] fix: modify db field to unsigned bigint for mysql
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
Labels: Backport: Done, Component: Database, Component: PVR, Type: Fix, v20 N

#19591 DXVA2: Fix green screen on some DVD's menus
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
Labels: Component: DirectX rendering, Platform: Windows, Platform: WindowsStore, Type: Backport, Type: Fix, v19 Matrix

#19579 VideoPlayer / AE: add option to disable DTS-HD Core fallback
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/cores/AudioEngine/Interfaces/AE.h
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: Audio, Component: Settings, Type: Feature, v20 N

#19595 [rendering] Fix OverlayRenderer alpha blending
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
Labels: Component: Video rendering, Platform: Android, Platform: Linux, Type: Fix, v19 Matrix

#19596 [bp][pvr] fix: modify db field to unsigned bigint for mysql
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
Labels: Component: Database, Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19603 [mysql] handle conversion of mysql-type bigint correctly
  xbmc/dbwrappers/mysqldataset.cpp
Labels: Backport: Needed, Component: Database, Type: Fix, v20 N

#19605 [bp][mysql] handle conversion of mysql-type bigint correctly
  xbmc/dbwrappers/mysqldataset.cpp
Labels: Component: Database, Type: Backport, Type: Fix, v19 Matrix

#19602 [iOS/tvOS] Improve Now Playing info in live TV case
  xbmc/platform/darwin/ios-common/AnnounceReceiver.mm
Labels: Platform: iOS, Platform: tvOS, Type: Improvement, v20 N

#19587 CPPCheck: fix Shadow variable warnings
  xbmc/LangInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
Labels: Type: Fix, v20 N

#19606 [iOS/tvOS] Fix crash introduced by #19602 (missing nullptr check)
  xbmc/platform/darwin/ios-common/AnnounceReceiver.mm
Labels: Platform: iOS, Platform: tvOS, Type: Fix, v20 N

#19577 Add cmake-variants.yaml and cmake-kits.json to gitignore
  .gitignore
Labels: Type: Improvement, v20 N

#19501 Fixed issues detected by Coverity
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Component: Windowing, Platform: Windows, Type: Fix, v20 N

#19597 Update docs/README.Windows.md
  docs/README.Windows.md
Labels: Documentation, Platform: Windows, Platform: WindowsStore, v20 N

#19463 changed: Explicitly log class in CFileCache
  xbmc/filesystem/FileCache.cpp
Labels: Backport: Needed, Type: Improvement, v20 N

#19510 [Fix] Update fileitem stream details from the currently playing stream
  xbmc/Application.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Backport: Needed, Component: Video, Type: Fix, v20 N

#19623 [PVR] Fix CPVREpgDatabase::QueueDeleteEpgTags to actually delete the tags from epgtags table.
  xbmc/pvr/epg/EpgDatabase.cpp
Labels: Backport: Done, Component: PVR, Type: Fix, v20 N

#19624 [Matrix][PVR] Fix CPVREpgDatabase::QueueDeleteEpgTags to actually delete the tags from epgtags table.
  xbmc/pvr/epg/EpgDatabase.cpp
Labels: Component: PVR, Type: Backport, Type: Fix, v19 Matrix

#19620 [Windows] Updates VC runtime to be compatible with both VS2019 and VS2017
  project/Win32BuildSetup/genNsisInstaller.nsi
  project/Win32BuildSetup/getdeploydependencies.bat
Labels: Component: Depends, Platform: Windows, Type: Backport, Type: Fix, v19 Matrix

#19537 init stage 2/3 implementation
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/Autorun.cpp
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/platform/CMakeLists.txt
  xbmc/platform/Platform.cpp
  xbmc/platform/Platform.h
  xbmc/platform/android/PlatformAndroid.cpp
  xbmc/platform/android/PlatformAndroid.h
  xbmc/platform/darwin/PlatformDarwin.cpp
  xbmc/platform/darwin/PlatformDarwin.h
  xbmc/platform/darwin/ios-common/PlatformDarwinEmbedded.cpp
  xbmc/platform/darwin/ios-common/PlatformDarwinEmbedded.h
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/osx/PlatformDarwinOSX.cpp
  xbmc/platform/darwin/osx/PlatformDarwinOSX.h
  xbmc/platform/freebsd/PlatformFreebsd.cpp
  xbmc/platform/freebsd/PlatformFreebsd.h
  xbmc/platform/linux/PlatformLinux.cpp
  xbmc/platform/linux/PlatformLinux.h
  xbmc/platform/posix/PlatformPosix.cpp
  xbmc/platform/posix/PlatformPosix.h
  xbmc/platform/win10/PlatformWin10.cpp
  xbmc/platform/win10/PlatformWin10.h
  xbmc/platform/win32/PlatformWin32.cpp
  xbmc/platform/win32/PlatformWin32.h
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
Labels: Type: Improvement, v20 N

#19589 linux: remove unused CDBusReserve
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/DBusReserve.cpp
  xbmc/platform/linux/DBusReserve.h
Labels: Platform: Linux, Type: Cleanup, v20 N

#19425 [estuary] disable sounds selection setting when play GUI sounds is never
  system/settings/settings.xml
Labels: Component: Settings, Type: Fix, v20 N

#18998 [kodi-standalone.sh] Remove dead pulse-session code path
  tools/Linux/kodi-standalone.sh.in
  tools/Linux/kodi-standalone.sh.pulse
Labels: Component: Build, Platform: Linux, Type: Cleanup, v20 N

#19565 Move Music/Video LibraryScan methods out of CApplication
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/cdrip/CDDARipper.cpp
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
  xbmc/interfaces/builtins/LibraryBuiltins.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicLibraryQueue.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/profiles/ProfileManager.cpp
  xbmc/settings/MediaSettings.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Component: Database, Component: Music, Component: Video, Type: Cleanup, v20 N

#19629 [Music]Cosmetic Cleanup whitespace at ends of comment lines
  xbmc/music/MusicDatabase.cpp
Labels: Component: Music, Type: Cleanup, v20 N

#19262 [Matrix] [gbm] default to original crtc mode
  xbmc/windowing/gbm/drm/DRMCrtc.h
  xbmc/windowing/gbm/drm/DRMUtils.cpp
Labels: Component: Windowing, Type: Backport, Type: Fix, v19 Matrix

#19582 [Windows] Implements WS-Discovery daemon and enables browse SMB shares
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
  xbmc/platform/win32/network/CMakeLists.txt
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.h
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Component: FileSystem, Component: Network, Platform: Windows, Type: Backport, Type: Fix, v19 Matrix

#19601 windowing/gbm: Add display clock
  xbmc/windowing/gbm/CMakeLists.txt
  xbmc/windowing/gbm/VideoSyncGbm.cpp
  xbmc/windowing/gbm/VideoSyncGbm.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
Labels: Component: Video rendering, Platform: Linux, Type: Improvement, v20 N

#19636 [Docs] Fix typos in build docs
  docs/README.Android.md
  docs/README.macOS.md
Labels: Component Documentation, Type: Fix, v20 N

#19637 fixup!: cpumodel returns null byte on some cpuid calls
  xbmc/Application.cpp
Labels: Type: Fix, v20 N

#19527 [video] don't overwrite unique IDs in CVideoDatabase::SetDetailsForFoo() (fixes #17444)
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, v20 N

#19619 EndTime: fix infinite value and some other changes
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/interfaces/legacy/Monitor.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/threads/SystemClock.cpp
  xbmc/threads/SystemClock.h
  xbmc/threads/test/TestEndTime.cpp
Labels: Component: System, Type: Fix, v20 N

#19604 fix uptime calculation
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/TimeUtils.cpp
Labels: Component: System, Type: Fix, v20 N

#19615 Logging cleanups
  xbmc/commons/CMakeLists.txt
  xbmc/commons/ilog.cpp
  xbmc/commons/ilog.h
  xbmc/platform/android/utils/AndroidInterfaceForCLog.h
  xbmc/platform/darwin/utils/DarwinInterfaceForCLog.h
  xbmc/platform/posix/utils/PosixInterfaceForCLog.h
  xbmc/platform/win32/utils/Win32InterfaceForCLog.h
  xbmc/utils/log.cpp
  xbmc/utils/log.h
Labels: Component: Logging, Type: Cleanup, v20 N

#19590 CAEUtil: cleanup SSE related items
  xbmc/cores/AudioEngine/Utils/AEUtil.cpp
  xbmc/cores/AudioEngine/Utils/AEUtil.h
Labels: Component: Audio, Type: Cleanup, v20 N

#19396 SystemInfo: Cleanup and make some items conditional
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Backport: Needed, Component: System, Platform: Android, Platform: Linux, Platform: Windows, Platform: WindowsStore, Platform: iOS, Platform: macOS, Platform: tvOS, Type: Improvement, v20 N

#19526 backport: [nfs] enable autoreconnect
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/NFSFile.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Component: Network, Type: Backport, Type: Fix, Type: Improvement, v19 Matrix

#19648 [MUSIC] Fix read correct tag name for albumartists in m4a etc files
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Backport: Done, Component: Music, Type: Fix, v20 N

#19635 [Music]Make MySQL native sorting functions more robust
  xbmc/music/MusicDatabase.cpp
Labels: Backport: Needed, Component: Music, Type: Fix, v20 N

#19650 [MUSIC] Fix reading of lowercase tag for mp4 albumartists
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Component: Music, Type: Backport, Type: Fix, v19 Matrix

#19555 [Estuary] Add All/Watched/Unwatched button to sidebar menu for Music …
  addons/skin.estuary/xml/MyVideoNav.xml
Labels: Component: Skin, Type: Backport, Type: Fix, v19 Matrix

#19611 CThread: remove unused methods
  xbmc/threads/Thread.cpp
  xbmc/threads/Thread.h
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
  xbmc/threads/platform/win/ThreadImpl.cpp
Labels: Type: Cleanup, v20 N

#19621 [linux] allow logging to console
  xbmc/AppParamParser.cpp
  xbmc/AppParamParser.h
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/platform/posix/utils/PosixInterfaceForCLog.cpp
  xbmc/platform/posix/utils/PosixInterfaceForCLog.h
Labels: Component: Logging, Platform: Linux, Type: Feature, v20 N

#19651 [tools/depends] bump flatbuffers to 1.12.0
  tools/depends/native/flatbuffers/Makefile
Labels: Backport: Needed, Component: Depends, Type: Fix, v20 N

#19639 Subtitles: Make m_libass private exposed via a getter
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlaySSA.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
Labels: Component: Subtitles, Type: Improvement, v20 N

#19157 [Win] Minor fix for buildhelpers.sh
  tools/buildsteps/windows/buildhelpers.sh
Labels: Component: Depends, Platform: Windows, Type: Fix, v20 N

#19558 FFmpeg update to 4.4
  cmake/modules/FindFFMPEG.cmake
  tools/buildsteps/windows/patches/0001-ffmpeg-windows-configure-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-windows-configure-fix-zlib-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-windows-configure-allow-building-static.patch
  tools/buildsteps/windows/patches/0004-ffmpeg-windows-configure-detect-libdav1d.patch
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  xbmc/cdrip/EncoderFFmpeg.cpp
  xbmc/cdrip/EncoderFFmpeg.h
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxUtils.cpp
  xbmc/guilib/FFmpegImage.cpp
Labels: Component: Audio, Component: Depends, Component: Video, Type: Feature, v20 N

#19654 [linux] a couple small GBM fixes
  cmake/platform/linux/gbm.cmake
  xbmc/windowing/gbm/VideoSyncGbm.cpp
  xbmc/windowing/gbm/VideoSyncGbm.h
Labels: CMake, Component: Video, Platform: Linux, Type: Cleanup, Type: Fix, v20 N

#19564 CApplication: move StartServer method to CNetworkServices
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/interfaces/legacy/ModuleXbmc.h
  xbmc/network/NetworkServices.cpp
  xbmc/network/NetworkServices.h
Labels: Component: Python, Type: Cleanup, v20 N

#19657 GUIInfoManager: Documented Window.Property(IsRadio) info label.
  xbmc/GUIInfoManager.cpp
Labels: Component Documentation, Type: Improvement, Wiki: Done, v20 N

#19655 [PVR] PVR addon call guards
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
Labels: Component: PVR, Type: Fix, v20 N

#19658 [cleanup] if conditions found by cppcheck
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Component: Add-ons, Type: Cleanup, v20 N
