Repository xbmc/xbmc, pull requests merged in 2022-05, with the labels that each got.

#20915 [Android] pass pattern encryption and mode in crypto info
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/inputstream/stream_crypto.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Feature, Component: Binary add-ons, API change: Binary add-ons, v20 Nexus

#21336 [tools/depends][target] libpng disable hardware call for apple aarch64 targets
  tools/depends/target/libpng/Makefile
Labels: Platform: macOS, Component: Depends, v20 Nexus

#21334 [guilib] Fix CGUIWindowManager::HandleAction mutex handling.
  xbmc/guilib/GUIWindowManager.cpp
Labels: Type: Fix, Component: GUI engine, v20 Nexus

#21313 [Subtitles] Improvements vertical margin and manual position
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitleParserWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesAdapter.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesAdapter.h
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesStyle.h
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/Settings.h
  xbmc/settings/SubtitlesSettings.cpp
  xbmc/settings/SubtitlesSettings.h
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.cpp
  xbmc/video/PlayerController.cpp
Labels: Type: Feature, Type: Fix, v20 Nexus, Component: Subtitles

#21297 [VideoPlayer] OpenDefaultStreams: dont close non-CC subtitle streams
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles, Component: Players

#21339 [macos] packaging jenkins fix folder mv
  tools/buildsteps/osx-arm64/package
Labels: Platform: macOS, v20 Nexus

#21340 [tools/depends][target] pythonmodules fix arch build for arm64 macos
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pycryptodome/Makefile
Labels: Platform: macOS, Component: Depends, v20 Nexus

#21310 [tools/depends][target] fontconfig bump 2.14.0
  tools/depends/target/Makefile
  tools/depends/target/fontconfig/01-disable-test.patch
  tools/depends/target/fontconfig/FONTCONFIG-VERSION
  tools/depends/target/fontconfig/Makefile
  tools/depends/target/fontconfig/fix-aarch64_atomics.patch
  tools/depends/target/fontconfig/lconv.patch
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#21312 [tools/depends][target] nghttp2 use cmake build system
  tools/depends/target/nghttp2/Makefile
  tools/depends/target/nghttp2/NGHTTP2-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#21345 [macos] silence OPENGL deprecation warnings
  cmake/platform/osx/osx.cmake
Labels: CMake, v20 Nexus

#21255 [discs][gui] Fix hasmenu boolean condition
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Discs

#21349 [clang-tidy] fix performance-* warnings
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/epg/EpgTagsContainer.cpp
Labels: Type: Fix, v20 Nexus

#21344 [cmake] FFMPEG fix cmake multiple generation failure after #21047
  cmake/modules/FindFFMPEG.cmake
Labels: CMake, v20 Nexus

#21343 changed: put application screensaver/dpms/idle handling in separate class
  cmake/treedata/common/subdirs.txt
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/application/ApplicationPowerHandling.cpp
  xbmc/application/ApplicationPowerHandling.h
  xbmc/application/CMakeLists.txt
  xbmc/windows/GUIWindowScreensaver.cpp
Labels: Type: Improvement, v20 Nexus

#21329 [GUI][INFO] Add Skin.Numeric() info (integer)
  xbmc/GUIInfoManager.cpp
  xbmc/addons/Skin.cpp
  xbmc/addons/Skin.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SkinGUIInfo.cpp
  xbmc/interfaces/builtins/SkinBuiltins.cpp
  xbmc/settings/SkinSettings.cpp
  xbmc/settings/SkinSettings.h
Labels: Type: Feature, Component: Skin, v20 Nexus

#21341 [docs][skin] Document missing skin infos
  xbmc/GUIInfoManager.cpp
  xbmc/interfaces/builtins/SkinBuiltins.cpp
Labels: Type: Fix, Type: Improvement, Backport: Needed, Component: Skin, Documentation, Component: Documentation, v20 Nexus

#21358 [tools/depends] configure allow to provide linker name
  docs/README.Android.md
  docs/README.iOS.md
  docs/README.macOS.md
  docs/README.tvOS.md
  tools/depends/configure.ac
Labels: Component: Depends, v20 Nexus

#21337 [addons] addoninfobuilder add aarch64 macos name
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
Labels: Platform: macOS, v20 Nexus

#21331 [Android][CMake] Correctly escape custom target commands
  cmake/scripts/android/Install.cmake
Labels: Type: Fix, Platform: Android, v20 Nexus

#21352 [skin][info] Allow more complex integer comparisons in Integer.infos
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Type: Feature, Component: GUI engine, Component: Skin, v20 Nexus

#21351 [tools/depends][target] bump zlib 1.2.12
  tools/depends/target/zlib/01-all-disable_tests.patch
  tools/depends/target/zlib/02-all-static_only.patch
  tools/depends/target/zlib/Makefile
  tools/depends/target/zlib/ZLIB-VERSION
  tools/depends/target/zlib/remove_fixe_ar_osx.patch
  tools/depends/target/zlib/visibility.patch
Labels: Platform: Android, Component: Depends, v20 Nexus

#21357 [Windows] Fix: incorrect colors in some AMD graphics when used 10bit in SDR
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Backport: Done, Platform: Windows, Component: DirectX rendering, v20 Nexus

#21363 [Windows] Fix: incorrect colors in some AMD graphics when used 10bit in SDR
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, v19 Matrix, Component: DirectX rendering

#21354 [tools/depends][target] bump libbluray 1.3.1
  tools/depends/target/libbluray/LIBBLURAY-VERSION
  tools/depends/target/libbluray/Makefile
  tools/depends/target/libbluray/tvos.patch
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#21346 [Android] Remove high refresh rate limit
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Type: Fix, Component: Video, Platform: Android, v20 Nexus

#21350 [subtitles][libass] Set ass_set_storage_size only for native subs
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#21338 [subtitles] Changed CC demuxer codec id to AV_CODEC_ID_TEXT
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
Labels: Type: Cleanup, v20 Nexus, Component: Subtitles

#21303 [GUI][SKIN] ContextWindow propagation for nested skin variables
  xbmc/Application.cpp
  xbmc/ContextMenuItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/dialogs/GUIDialogSeekBar.cpp
  xbmc/filesystem/LibraryDirectory.cpp
  xbmc/guilib/GUIAction.cpp
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIControl.cpp
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIDialog.cpp
  xbmc/guilib/GUIIncludes.cpp
  xbmc/guilib/GUIListItemLayout.cpp
  xbmc/guilib/GUIRadioButtonControl.cpp
  xbmc/guilib/GUISliderControl.cpp
  xbmc/guilib/GUIStaticItem.cpp
  xbmc/guilib/GUITextBox.cpp
  xbmc/guilib/GUIToggleButtonControl.cpp
  xbmc/guilib/GUIWindow.cpp
  xbmc/guilib/VisibleEffect.cpp
  xbmc/guilib/guiinfo/GUIInfoBool.cpp
  xbmc/guilib/guiinfo/GUIInfoBool.h
  xbmc/guilib/guiinfo/GUIInfoColor.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.h
  xbmc/interfaces/builtins/PVRBuiltins.cpp
  xbmc/interfaces/info/CMakeLists.txt
  xbmc/interfaces/info/Info.h
  xbmc/interfaces/info/InfoBool.h
  xbmc/interfaces/info/InfoExpression.cpp
  xbmc/interfaces/info/InfoExpression.h
  xbmc/interfaces/info/SkinVariable.cpp
  xbmc/interfaces/info/SkinVariable.h
  xbmc/interfaces/json-rpc/GUIOperations.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/pictures/GUIDialogPictureInfo.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Fix, Component: GUI engine, Component: Skin, v20 Nexus

#21356 [tools/depends[target] bump libgcrypt and libgpg-error
  tools/depends/target/libgcrypt/02-fix-armv7-neon.patch
  tools/depends/target/libgcrypt/LIBGCRYPT-VERSION
  tools/depends/target/libgcrypt/Makefile
  tools/depends/target/libgpg-error/LIBGPG-ERROR-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#21361 changed: put application skin handling in separate class
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/application/ApplicationSkinHandling.h
  xbmc/application/CMakeLists.txt
Labels: Type: Improvement, v20 Nexus

#21367 [cleanup] remove unnecessary Application.h includes
  xbmc/LangInfo.cpp
  xbmc/addons/RepositoryUpdater.cpp
  xbmc/cdrip/CDDARipper.cpp
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/dialogs/GUIDialogBoxBase.cpp
  xbmc/dialogs/GUIDialogProgress.cpp
  xbmc/games/dialogs/osd/DialogGameVideoSelect.cpp
  xbmc/guilib/GUIKeyboardFactory.cpp
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
  xbmc/interfaces/legacy/PlayList.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/settings/MediaSettings.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
Labels: Type: Improvement, v20 Nexus

#21270 [Backport]Fix audio player to start playback at offset or percentage
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Type: Fix, Component: Music, Type: Backport, v19 Matrix

#21266 Fix setting the default unique ID
  xbmc/video/VideoInfoTag.cpp
Labels: Type: Fix, Backport: Needed, v20 Nexus

#21166 [bp][profiles] allow protocol 'plugin://...' as mediasource
  xbmc/Util.cpp
Labels: Type: Fix, Component: Profiles, Type: Backport, v19 Matrix

#21373 [rendering][gles] fix subpar quality HQ convolution scalers. Fixes #21011
  system/shaders/GLES/2.0/gles_convolution-4x4.frag
  system/shaders/GLES/2.0/gles_convolution-6x6.frag
Labels: Type: Fix, Backport: Done, Platform: Android, Component: GLES rendering, v20 Nexus

#21371 [addons] class CAddonRepos refactor, no functional changes
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonRepos.cpp
  xbmc/addons/AddonRepos.h
  xbmc/filesystem/AddonsDirectory.cpp
Labels: Type: Cleanup, Type: Improvement, Component: Add-ons, v20 Nexus

#21381 changed: put application player callbacks in separate class
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/application/ApplicationPlayerCallback.h
  xbmc/application/CMakeLists.txt
Labels: Type: Improvement, v20 Nexus

#21330 [Android] Speech to text on search dialog
  addons/resource.language.en_gb/resources/strings.po
  cmake/scripts/android/Install.cmake
  cmake/treedata/android/subdirs.txt
  cmake/treedata/common/subdirs.txt
  tools/android/packaging/xbmc/AndroidManifest.xml.in
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/android/packaging/xbmc/src/interfaces/XBMCSpeechRecognitionListener.java.in
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/dialogs/GUIDialogKeyboardGeneric.cpp
  xbmc/dialogs/GUIDialogKeyboardGeneric.h
  xbmc/platform/android/activity/CMakeLists.txt
  xbmc/platform/android/activity/JNIMainActivity.cpp
  xbmc/platform/android/activity/JNIMainActivity.h
  xbmc/platform/android/activity/JNIXBMCSpeechRecognitionListener.cpp
  xbmc/platform/android/activity/JNIXBMCSpeechRecognitionListener.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/platform/android/activity/android_main.cpp
  xbmc/platform/android/speech/CMakeLists.txt
  xbmc/platform/android/speech/ISpeechRecognitionCallback.h
  xbmc/platform/android/speech/SpeechRecognitionAndroid.cpp
  xbmc/platform/android/speech/SpeechRecognitionAndroid.h
  xbmc/platform/android/speech/SpeechRecognitionListenerAndroid.cpp
  xbmc/platform/android/speech/SpeechRecognitionListenerAndroid.h
  xbmc/speech/CMakeLists.txt
  xbmc/speech/ISpeechRecognition.h
  xbmc/speech/ISpeechRecognitionListener.h
  xbmc/speech/SpeechRecognitionErrors.h
Labels: Type: Fix, Type: Improvement, Platform: Android, v20 Nexus

#21359 [settings] Moved subtitles settings to appropriate category
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
Labels: Type: Improvement, Wiki: Needed, Component: Settings, Rebase needed, v20 Nexus

#19217 [Security] Use passwords.xml for more protocols
  xbmc/PasswordManager.cpp
Labels: Type: Improvement, Component: Profiles, v20 Nexus

#21391 [PVR] Fix crash on restart of add-on (due to changed add-on settings).
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/addons/PVRClients.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus

#21384 [macOS][iOS] Add speech recognition service implementation.
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/treedata/darwin_embedded/ios/ios.txt
  cmake/treedata/darwin_embedded/tvos/tvos.txt
  cmake/treedata/freebsd/subdirs.txt
  cmake/treedata/linux/subdirs.txt
  cmake/treedata/osx/subdirs.txt
  cmake/treedata/windows/subdirs.txt
  cmake/treedata/windowsstore/subdirs.txt
  xbmc/Application.cpp
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/dialogs/GUIDialogKeyboardGeneric.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/platform/android/speech/SpeechRecognitionAndroid.cpp
  xbmc/platform/common/speech/CMakeLists.txt
  xbmc/platform/common/speech/SpeechRecognitionStub.cpp
  xbmc/platform/common/speech/SpeechRecognitionStub.h
  xbmc/platform/darwin/speech/CMakeLists.txt
  xbmc/platform/darwin/speech/SpeechRecognitionDarwin.h
  xbmc/platform/darwin/speech/SpeechRecognitionDarwin.mm
  xbmc/speech/ISpeechRecognition.h
Labels: Type: Feature, Platform: macOS, Platform: iOS, CMake, Component: System, v20 Nexus, Component: Speech

#21385 [Android] Clean exit from native activity. Reuse kodi shared lib.
  xbmc/Application.cpp
  xbmc/interfaces/python/XBPython.cpp
  xbmc/interfaces/python/XBPython.h
  xbmc/platform/android/activity/android_main.cpp
Labels: Type: Improvement, Platform: Android, v20 Nexus

#21372 [CRenderManager] Fix adjust display refresh rate start/stop setting behaviour
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Component: Video rendering, v20 Nexus

#21393 [PVR] Fix wrong year in recordings file names. (issue 21253)
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: PVR, v20 Nexus

#21377 [Windows] fix cmake find patch executable (prioritize use Git patch.exe)
  cmake/scripts/common/HandleDepends.cmake
  cmake/scripts/windows/tools/patch.cmake
  cmake/scripts/windowsstore/tools/patch.cmake
Labels: Type: Fix, Backport: Done, Platform: Windows, Platform: WindowsStore, Component: Build, v20 Nexus

#21397 [tools/depends][target] libuuid fix common failure due to path creation
  tools/depends/target/libuuid/Makefile
Labels: Platform: Android, Component: Depends, v20 Nexus

#21380 [skins] Remove player.displayafterseek in skins in favor of Player.Ha…
  addons/skin.estouchy/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Improvement, Component: Skin, v20 Nexus

#21403 [GUIMediaWindow] Let the context menu action propagate through window
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v19 Matrix

#21406 [doxygen] fix skinning revision page list
  xbmc/GUIInfoManager.cpp
Labels: Type: Fix, Documentation, Component: Documentation, v20 Nexus

#21407 [Alpha1] bump version code and addon api for v20 alpha1
  version.txt
Labels: v20 Nexus

#21402 Translations update from Kodi Weblate
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.uk_ua/strings.po
  addons/skin.estouchy/language/resource.language.de_de/strings.po
  addons/skin.estouchy/language/resource.language.it_it/strings.po
  addons/skin.estouchy/language/resource.language.uk_ua/strings.po
  addons/skin.estuary/language/resource.language.de_de/strings.po
  addons/skin.estuary/language/resource.language.uk_ua/strings.po
Labels: v20 Nexus, Component: Strings

#20994 [Backport] Do not override episodeguide and the default uniqueid type set by a scraper
  xbmc/video/VideoInfoTag.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix

#21410 [subtitles] Fix CC condition for valid captions
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
Labels: Type: Fix, Backport: Needed, v20 Nexus, Component: Subtitles

#21405 [gui][info] Add Addon.Setting* infos
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/AddonsGUIInfo.cpp
  xbmc/guilib/guiinfo/GUIInfo.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Type: Feature, Component: GUI engine, v20 Nexus

#21414 [subtitles] Fix CC condition for valid captions
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Subtitles

#21395 [CRenderManager] Fix adjust display refresh rate start/stop setting behaviour
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Component: Video rendering, Type: Backport, v19 Matrix

#21392 [swig] generate python consts based off constexpr variables
  xbmc/interfaces/python/PythonSwig.cpp.template
Labels: Type: Fix, Component: Python, v20 Nexus

#21401 [gui][info] Add VideoPlayer.Art(type) and positional variants
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfo.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Type: Feature, Component: GUI engine, v20 Nexus

#21417 [tools/depends] bump python 3.9.13
  tools/depends/native/python3/01-distutil-flags.patch
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/native/python3/distutil.patch
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/PYTHON3-VERSION
  tools/depends/target/python3/crosscompile.patch
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Python, Component: Depends, Platform: tvOS, v20 Nexus

#21422 [Android] Fix video stutter after #21385
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Android, v20 Nexus

#21398 Add new urls to metainfo
  tools/Linux/kodi.metainfo.xml.in
Labels: Type: Improvement, Platform: Linux, v20 Nexus

#21374 Backport: [rendering][gles] fix subpar quality HQ convolution scalers
  system/shaders/GLES/2.0/gles_convolution-4x4.frag
  system/shaders/GLES/2.0/gles_convolution-6x6.frag
Labels: Type: Fix, Platform: Android, Type: Backport, v19 Matrix, Component: GLES rendering

#21423 [Android] CFileAndroidApp::ReadIcon: Add support for icons provided a…
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/platform/android/filesystem/AndroidAppFile.cpp
Labels: Type: Fix, Type: Improvement, Platform: Android, v20 Nexus

#21396 [Windows] fix cmake find patch executable (prioritize use Git patch.exe)
  cmake/scripts/common/HandleDepends.cmake
  cmake/scripts/windows/tools/patch.cmake
  cmake/scripts/windowsstore/tools/patch.cmake
Labels: Type: Fix, Platform: Windows, Type: Backport, Platform: WindowsStore, v19 Matrix, Component: Build

#21275 [tools/depends][target] freetype2 migrate to cmake build system
  tools/depends/target/Makefile
  tools/depends/target/freetype2-noharfbuzz/01-darwinembedded-incorrecttoolchain.patch
  tools/depends/target/freetype2-noharfbuzz/FREETYPE2-NOHARFBUZZ-VERSION
  tools/depends/target/freetype2-noharfbuzz/Makefile
  tools/depends/target/freetype2/01-darwinembedded-incorrecttoolchain.patch
  tools/depends/target/freetype2/FREETYPE2-VERSION
  tools/depends/target/freetype2/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#18994 [build] fix CMake-related build quoting issue
  cmake/modules/FindLibDvd.cmake
Labels: Type: Fix, CMake, v20 Nexus

#21028 Add more source options to MSIF file browser
  system/settings/settings.xml
Labels: Component: Settings, v20 Nexus

#21223 Move keywords and change them up
  tools/Linux/kodi.desktop.in
  tools/Linux/kodi.metainfo.xml.in
Labels: Platform: Linux, v20 Nexus

#21428 [Android] Adjust buffer size/duration for TrueHD IEC
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, Type: Improvement, Platform: Android, Component: Audio, v20 Nexus

#21332 [cmake] Assorted cmake fixes regarding Find Modules
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindLibAndroidJNI.cmake
  cmake/modules/FindLibDvd.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindUdfread.cmake
  cmake/scripts/android/PathSetup.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  cmake/scripts/common/PathSetup.cmake
Labels: CMake, v20 Nexus

#21425 [gui][info] Remove Player.DisplayAfterSeek
  xbmc/GUIInfoManager.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/cores/RetroPlayer/guiwindows/GameWindowFullScreen.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/video/windows/GUIWindowFullScreen.cpp
  xbmc/video/windows/GUIWindowFullScreenDefines.h
Labels: Type: Cleanup, Component: GUI engine, API change: GUI, Component: Skin, v20 Nexus

#21386 [tools/depends] meson cross file generation during configure
  tools/depends/configure.ac
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#21378 [tools/depends] download-files.include fixes
  tools/depends/download-files.include
Labels: Type: Improvement, v20 Nexus

#21320 [skinning] Skin timer implementation
  cmake/treedata/common/subdirs.txt
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/addons/Skin.cpp
  xbmc/addons/Skin.h
  xbmc/addons/gui/skin/CMakeLists.txt
  xbmc/addons/gui/skin/SkinTimer.cpp
  xbmc/addons/gui/skin/SkinTimer.h
  xbmc/addons/gui/skin/SkinTimerManager.cpp
  xbmc/addons/gui/skin/SkinTimerManager.h
  xbmc/addons/gui/skin/SkinTimers.dox
  xbmc/addons/kodi-dev-kit/doxygen/Skin/skin.dox
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SkinGUIInfo.cpp
  xbmc/interfaces/builtins/SkinBuiltins.cpp
Labels: Type: Feature, Component: GUI engine, API change: GUI, Component: Skin, v20 Nexus

#21355 [Estuary] auto-close video OSD feature
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/SkinSettings.xml
  addons/skin.estuary/xml/Timers.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Feature, Component: Skin, v20 Nexus

#21043 [cmake] provide internal depends builds with build_type
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindGtest.cmake
  cmake/modules/FindLibAndroidJNI.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  docs/README.Linux.md
Labels: Component: Depends, CMake, v20 Nexus

#21328 [Estuary] Re-write topbaroverlay time condition using skin timers
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/Timers.xml
Labels: Type: Improvement, Component: Skin, v20 Nexus

#21415 CPlatformLinux: ifdef alsa support
  xbmc/platform/linux/PlatformLinux.cpp
Labels: Type: Fix, Platform: Linux, Component: Audio, v20 Nexus

#21441 changed: move CApplication::IsCurrentThread into AppMessenger
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/filesystem/Directory.cpp
  xbmc/guilib/GUIDialog.cpp
  xbmc/guilib/GUIMessage.h
  xbmc/guilib/GUIWindow.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/interfaces/generic/ScriptRunner.cpp
  xbmc/interfaces/legacy/Window.cpp
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/messaging/ApplicationMessenger.cpp
  xbmc/messaging/ApplicationMessenger.h
  xbmc/network/WakeOnAccess.cpp
  xbmc/windowing/GraphicContext.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Cleanup, Type: Improvement, v20 Nexus, Component: Application

#21454 [cmake] fixup buildtype after #21043
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/scripts/android/ArchSetup.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: CMake, v20 Nexus

#21421 [Android] Change to MediaCodecList.getCodecInfos()
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/platform/android/media/decoderfilter/MediaCodecDecoderFilterManager.cpp
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Type: Improvement, Platform: Android, v20 Nexus

#21436 [cmake] Flesh out FindPatch module for windows use
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindPatch.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: CMake, v20 Nexus

#21456 [macOS] improve signing app bundle and dmg creation
  tools/darwin/packaging/osx/dmgmaker.pl
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
Labels: Type: Improvement, Backport: Needed, Platform: macOS, v20 Nexus

#21433 [cmake] ENABLE_INTERNAL_TAGLIB to build taglib internally
  CMakeLists.txt
  cmake/modules/FindTagLib.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  cmake/scripts/freebsd/ArchSetup.cmake
  cmake/scripts/linux/ArchSetup.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/taglib/001-cmake-pdb-debug.patch
  tools/depends/target/taglib/Makefile
  tools/depends/target/taglib/TAGLIB-VERSION
Labels: Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, Platform: WindowsStore, Platform: tvOS, v20 Nexus

#21458 [VideoPlayer][FFmpegDemux] Fix pts correction/menu condition
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Backport: Done, v20 Nexus, Component: Players, Component: Discs

#21462 [Discs] Fix resume of blurays and bluray isos (state serializer)
  xbmc/cores/VideoPlayer/DVDInputStreams/BlurayStateSerializer.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/BlurayStateSerializer.h
  xbmc/cores/VideoPlayer/DVDInputStreams/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
Labels: Type: Fix, v20 Nexus, Component: Discs

#21467 Revert "[CRenderManager] Fix adjust refresh rate start/stop settings"
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Backport: Done, v20 Nexus

#21468 Revert "[CRenderManager] Fix adjust refresh rate start/stop settings"
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Type: Backport, v19 Matrix

#21459 [VideoPlayer][FFmpegDemux] Fix pts correction/menu condition
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Discs

#21470 Kill subtitles settings global static instance.
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/settings/SettingsComponent.cpp
  xbmc/settings/SettingsComponent.h
  xbmc/settings/SubtitlesSettings.cpp
  xbmc/settings/SubtitlesSettings.h
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.cpp
  xbmc/video/PlayerController.cpp
Labels: Type: Fix, Component: Settings, v20 Nexus

#21465 Revert "[Android] Clean exit from android_main(). Do not call exit(0)."
  xbmc/platform/android/activity/android_main.cpp
Labels: Type: Fix, Platform: Android, v20 Nexus

#21471 Revert "[Android] CWinSystemAndroidGLESContext::PresentRenderImpl: Only wait for vsync if we rendered.
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Type: Fix, Component: Video rendering, v20 Nexus

#21478 [Xbox] Fix: Xbox needs 10 bit swapchain to output true 4K resolution
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Backport: Done, Platform: WindowsStore, Component: DirectX rendering, v20 Nexus

#21479 [tools/depends][target] python3 restore patch errantly removed
  tools/depends/native/python3/01-distutil-flags.patch
  tools/depends/native/python3/Makefile
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/PYTHON3-VERSION
  tools/depends/target/python3/crosscompile.patch
Labels: Platform: Android, Component: Python, Component: Depends, v20 Nexus

#21480 [Xbox] Fix: Xbox needs 10 bit swapchain to output true 4K resolution
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Type: Backport, Platform: WindowsStore, v19 Matrix, Component: DirectX rendering

#21472 [Discs] Remove HasMenu in favor of GetSupportedMenuType
  xbmc/ApplicationPlayer.cpp
  xbmc/ApplicationPlayer.h
  xbmc/cores/CMakeLists.txt
  xbmc/cores/IPlayer.h
  xbmc/cores/MenuType.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Type: Improvement, v20 Nexus, Component: Discs

#20754 Adds GUI hint for skins to skip border infill
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIImage.dox
  xbmc/guilib/GUITexture.cpp
  xbmc/guilib/GUITexture.h
Labels: Type: Feature, Type: Improvement, Wiki: Needed, Component: GUI engine, v20 Nexus

#21457 [Subtitles][WebVTT] Fix X-TIMESTAMP-MAP LOCAL parsing
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#21477 [linux] add build time option to disable automatic addon configure at…
  CMakeLists.txt
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/PlatformLinux.cpp
  xbmc/platform/linux/PlatformLinux.h
Labels: Platform: Linux, v20 Nexus

#21488 [Discs] Return success of OnMenu
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21416 [VideoPlayer] Do not update resolution on DMX_SPECIALID_STREAMCHANGE
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Component: Video, v20 Nexus

#21449 changed: move ReplayGain cache to ApplicationVolumeHandling
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/application/ApplicationVolumeHandling.cpp
  xbmc/application/ApplicationVolumeHandling.h
  xbmc/cores/paplayer/AudioDecoder.cpp
Labels: Type: Improvement, v20 Nexus, Component: Application
