Repository xbmc/xbmc, pull requests merged in 2022-01, with the labels that each got.

#20763 [android] Fix: misdetection of CPU feature NEON on ARM64 platforms
  xbmc/platform/android/activity/AndroidFeatures.cpp
Labels: Type: Fix, Platform: Android, Component: System, v20 Nexus

#20739 [docs] Updates README.Windows.md
  docs/README.Windows.md
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: Documentation, v20 Nexus

#20716 [Estouchy] use panel layout for Favourites
  addons/skin.estouchy/xml/DialogFavourites.xml
Labels: Type: Improvement, Component: Skin, v20 Nexus

#20764 [PVR] Fix CPVRChannelGroups::(Delete|Hide)Group to respect hidden and deleted groups
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#20766 [backport][docs] fix doxygen documentation creation
  .codedocs
  .github/workflows/documentation-creation.yml
Labels: Type: Fix, Documentation, Type: Backport, v19 Matrix, Component: Documentation

#20746 [tools/depends][target] bump libzip 1.8.0
  tools/depends/target/libzip/Makefile
Labels: Platform: Android, Component: Depends, v20 Nexus

#20653 string resources: insert missing "Jazz" subgenre
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Fix, Component: PVR, v20 Nexus

#20768 [INFO][EDL] Add Player.EditList to replace old Player.Cutlist
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/guilib/GUIRangesControl.dox
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Type: Fix, Type: Improvement, Component: GUI engine, v20 Nexus

#20772 [android] Fix: misdetection of CPU feature NEON on ARM64 platforms
  xbmc/platform/android/activity/AndroidFeatures.cpp
Labels: Type: Fix, Platform: Android, Type: Backport, v19 Matrix, Component: System

#20767 [Fix] Attempts to fix random jenkins errors building FFmpeg Windows libs
  tools/buildsteps/windows/make-mingwlibs.bat
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: Build, v20 Nexus

#20773 [Estuary] Home window - don't show fanart twice
  addons/skin.estuary/xml/Includes.xml
Labels: Type: Fix, Component: Skin, v20 Nexus

#20765 [tools/depends][target] bump libgcrypt 1.9.4
  tools/depends/target/config.site.in
  tools/depends/target/libgcrypt/01-gcrypt-android-select.patch
  tools/depends/target/libgcrypt/02-fix-armv7-neon.patch
  tools/depends/target/libgcrypt/03-remove-cipher-gcm-armv8.patch
  tools/depends/target/libgcrypt/04-fix-o-flag-munging.patch
  tools/depends/target/libgcrypt/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#20777 [PVR] Fix crashes when navigating in empty Guide window.
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v20 Nexus

#20778 [PVR] Matrix: Fix crashes when navigating in empty Guide window.
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#20781 [profiles] honor lock state of media sources (fixup)
  xbmc/GUIPassword.cpp
Labels: Type: Fix, Component: Profiles, v20 Nexus

#20780 [fix][EDL] Fix regression when jumping back into commercial breaks
  xbmc/cores/EdlEdit.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, v20 Nexus, Component: Players

#20783 [GUI][INFO][EDL][Skins] Add Player.Cuts infolabel
  addons/skin.estouchy/media/red.png
  addons/skin.estouchy/xml/IncludesPlayerControls.xml
  addons/skin.estuary/media/colors/red.png
  addons/skin.estuary/media/colors/red50.png
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/guilib/GUIRangesControl.dox
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
Labels: Type: Feature, Component: GUI engine, Component: Skin, v20 Nexus, Component: Players

#20790 [pvr] Season and episode sorting for PVR recordings
  xbmc/pvr/windows/GUIViewStatePVR.cpp
Labels: Type: Feature, Type: Fix, Component: PVR, Backport: Done, v20 Nexus

#20791 [pvr] Season and episode sorting for PVR recordings[Matrix][Backport]
  xbmc/pvr/windows/GUIViewStatePVR.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#19613 CVideoPlayer: use std::chrono
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Type: Cleanup, v20 Nexus

#20788 [Fix] Attempts to fix random Jenkins errors building FFmpeg Windows libs
  tools/buildsteps/windows/make-mingwlibs.bat
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Fix, Platform: Windows, Type: Backport, Platform: WindowsStore, v19 Matrix, Component: Build

#20794 [Subtitles] Fix wrong aspect ratio / scaling with ffmpeg subs
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#20638 JSON - Extend Files.GetDirectory method by adding "userrating" to Lis…
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Feature, API change: JSON-RPC, Component: JSON-RPC, v20 Nexus

#20801 [Docs][Cosmetic] Remove wrongly placed > in infolabel table
  xbmc/GUIInfoManager.cpp
Labels: Type: Fix, Component: Documentation, v20 Nexus

#20802 [Skin][Estouchy] Implement missing Player.Editlist
  addons/skin.estouchy/xml/IncludesPlayerControls.xml
Labels: Type: Improvement, Component: Skin, v20 Nexus

#19809 CGUIFontCache: use std::chrono and some other changes
  xbmc/guilib/GUIFontCache.cpp
  xbmc/guilib/GUIFontCache.h
  xbmc/guilib/GUIFontTTF.cpp
Labels: Type: Cleanup, Component: GUI rendering, v20 Nexus

#20804 [PVR] Fix Recordings 'Episode' sort label.
  xbmc/pvr/windows/GUIViewStatePVR.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v20 Nexus

#20805 Matrix: [PVR] Fix Recordings 'Episode' sort label.
  xbmc/pvr/windows/GUIViewStatePVR.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#20800 [Skin] Add video scan type info to player process info window
  addons/skin.estouchy/xml/DialogPlayerProcessInfo.xml
  addons/skin.estuary/xml/DialogPlayerProcessInfo.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Type: Feature, Wiki: Done, Component: Skin, v20 Nexus

#20796 [pvr] Support PVR Recording ID in JSON Playlist.Add and Playlist.Insert API
  xbmc/interfaces/json-rpc/FileItemHandler.cpp
  xbmc/interfaces/json-rpc/PVROperations.cpp
  xbmc/interfaces/json-rpc/PVROperations.h
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Feature, Type: Fix, Component: PVR, API change: JSON-RPC, Component: JSON-RPC, v20 Nexus

#20799 [GUI][EDL][Skins] Add Player.SceneMarkers and Player.HasSceneMarkers
  addons/skin.estouchy/xml/IncludesPlayerControls.xml
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/VideoOSD.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/guilib/GUIRangesControl.dox
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
Labels: Type: Improvement, Wiki: Needed, Component: GUI engine, Component: Skin, v20 Nexus, Component: Players

#20806 [pvr] only use provider icon as fallback for recording if no addon supplied icon is available
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/providers/PVRProviders.cpp
  xbmc/pvr/providers/PVRProviders.h
Labels: Type: Fix, Component: PVR, v20 Nexus

#20787 Curl IPv6 dns resolution (fixes #19442 fixes #20779)
  xbmc/filesystem/CurlFile.cpp
  xbmc/network/DNSNameCache.h
Labels: Type: Fix, Backport: Needed, Component: Network, v20 Nexus

#20808 Various CLog fixes after PR20718 merge
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
  xbmc/utils/log.h
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Logging, v20 Nexus

#19983 Detect, store and process the type of HDR in a video file
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/media/flags/videohdr/dolbyvision.png
  addons/skin.estuary/media/flags/videohdr/hdr10.png
  addons/skin.estuary/media/flags/videohdr/hlg.png
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/Includes.xml
  xbmc/GUIInfoManager.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/Interface/StreamInfo.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/DatabaseUtils.h
  xbmc/utils/StreamDetails.cpp
  xbmc/utils/StreamDetails.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoTag.cpp
Labels: Type: Feature, Wiki: Needed, Component: Video, Component: Database, Component: GUI engine, API change: JSON-RPC, Component: Skin, Component: JSON-RPC, v20 Nexus

#18929 add ItalianABC layout
  system/keyboardlayouts/italian.xml
Labels: Type: Improvement, Component: Input, v20 Nexus

#20816 [Estuary] Use AlarmClock instead of input idletimer for top seekbar
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  xbmc/interfaces/builtins/GUIBuiltins.cpp
Labels: Type: Fix, Type: Improvement, Backport: Done, Wiki: Done, Component: Skin, v18 Leia, Component: Documentation, v20 Nexus

#20820 [Estuary] Use AlarmClock instead of input idletimer for top seekbar
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  xbmc/interfaces/builtins/GUIBuiltins.cpp
Labels: Type: Fix, Component: Skin, Type: Backport, v19 Matrix, Component: Documentation

#20821 [docs][info] Fix a few bugs after HDR merge
  xbmc/GUIInfoManager.cpp
  xbmc/cores/VideoPlayer/Interface/StreamInfo.h
Labels: Type: Fix, Component: Documentation, v20 Nexus

#20811 [cmake] Helper function to parse VERSION files from dependencies
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindGtest.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindUdfread.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  tools/depends/target/crossguid/CROSSGUID-VERSION
  tools/depends/target/crossguid/Makefile
  tools/depends/target/flatbuffers/FLATBUFFERS-VERSION
  tools/depends/target/flatbuffers/Makefile
  tools/depends/target/googletest/GOOGLETEST-VERSION
  tools/depends/target/googletest/Makefile
  tools/depends/target/libfmt/LIBFMT-VERSION
  tools/depends/target/libfmt/Makefile
  tools/depends/target/libfstrcmp/LIBFSTRCMP-VERSION
  tools/depends/target/libfstrcmp/Makefile
  tools/depends/target/libspdlog/LIBSPDLOG-VERSION
  tools/depends/target/libspdlog/Makefile
  tools/depends/target/libudfread/LIBUDFREAD-VERSION
  tools/depends/target/libudfread/Makefile
  tools/depends/target/rapidjson/Makefile
  tools/depends/target/rapidjson/RAPIDJSON-VERSION
Labels: CMake, v20 Nexus

#20818 MediaCodecAndroid: Reset cached decoding timestamp after flushing decoder
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Backport: Done, Component: Video, Platform: Android, v20 Nexus

#20819 MediaCodecAndroid: Reset cached decoding timestamp after flushing decoder
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Component: Video, Platform: Android, Type: Backport, v19 Matrix

#20667 [Backport] Fix wrong language from subtitle name
  xbmc/Util.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Subtitles

#20815 [Subtitles][WebVTT] Fix for X-TIMESTAMP-MAP and position setting parsing
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.h
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#20776 [tools/depends][target] bump samba 4.12.15
  tools/depends/native/Makefile
  tools/depends/native/perlmodule-parseyapp/Makefile
  tools/depends/target/Makefile
  tools/depends/target/samba-gplv3/02-cross_compile.patch
  tools/depends/target/samba-gplv3/05-apple-disable-zlib-pkgconfig.patch
  tools/depends/target/samba-gplv3/Makefile
  tools/depends/target/samba-gplv3/no_fork_and_exec.patch
  tools/depends/target/samba-gplv3/samba_android.patch
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Component: FileSystem, v20 Nexus

#20825 CLog: fix malformed log calls
  xbmc/addons/Webinterface.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/input/joysticks/generic/FeatureHandling.cpp
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/windowing/gbm/drm/DRMLegacy.cpp
Labels: Type: Fix, Type: Partial backport, v19 Matrix, Component: Logging

#20509 [WindowScreenCalibration] Improvements to screen calibration window
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estouchy/media/calibrate_aspect.png
  addons/skin.estouchy/media/calibrate_reset.png
  addons/skin.estouchy/media/calibrate_subtitles.png
  addons/skin.estouchy/xml/Font.xml
  addons/skin.estouchy/xml/SettingsScreenCalibration.xml
  addons/skin.estuary/media/calibrate/cal_sub.png
  addons/skin.estuary/media/calibrate/reset.png
  addons/skin.estuary/xml/Font.xml
  addons/skin.estuary/xml/SettingsScreenCalibration.xml
  xbmc/guilib/GUILabelControl.cpp
  xbmc/guilib/GUIWindow.cpp
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.cpp
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.h
  xbmc/windowing/GraphicContext.cpp
Labels: Type: Feature, Type: Fix, Wiki: Needed, Component: Skin, v20 Nexus, Component: Subtitles

#20813 Sync controllers
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.bs_ba/strings.po
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.default/resources/language/resource.language.id_id/strings.po
  addons/game.controller.default/resources/language/resource.language.nl_nl/strings.po
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.default/resources/language/resource.language.zh_cn/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.bs_ba/strings.po
  addons/game.controller.snes/resources/language/resource.language.cs_cz/strings.po
  addons/game.controller.snes/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.snes/resources/language/resource.language.fr_ca/strings.po
  addons/game.controller.snes/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.id_id/strings.po
  addons/game.controller.snes/resources/language/resource.language.nl_nl/strings.po
  addons/game.controller.snes/resources/language/resource.language.pl_pl/strings.po
  addons/game.controller.snes/resources/language/resource.language.sv_se/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
Labels: Type: Improvement, Backport: Needed, Component: Add-ons, Component: Input, v20 Nexus

#20814 [Backport] Sync controllers
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.bs_ba/strings.po
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.default/resources/language/resource.language.id_id/strings.po
  addons/game.controller.default/resources/language/resource.language.nl_nl/strings.po
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.default/resources/language/resource.language.zh_cn/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.bs_ba/strings.po
  addons/game.controller.snes/resources/language/resource.language.cs_cz/strings.po
  addons/game.controller.snes/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.snes/resources/language/resource.language.fr_ca/strings.po
  addons/game.controller.snes/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.id_id/strings.po
  addons/game.controller.snes/resources/language/resource.language.nl_nl/strings.po
  addons/game.controller.snes/resources/language/resource.language.pl_pl/strings.po
  addons/game.controller.snes/resources/language/resource.language.sv_se/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
Labels: Type: Improvement, Component: Add-ons, Component: Input, Type: Backport, v19 Matrix

#20827 [CStreamDetails.cpp] - Update static_cast to dynamic_cast for getters
  xbmc/utils/StreamDetails.cpp
Labels: Type: Improvement, Component: Video, v20 Nexus

#20812 Port dialog: Fix controller selection
  xbmc/games/controllers/windows/GUIPortList.cpp
  xbmc/games/controllers/windows/GUIPortWindow.h
Labels: Type: Fix, Component: Input, Component: Games, v20 Nexus

#20836 [Webserver][libmicrohttpd] Update deprecated error status for libmicr…
  xbmc/network/WebServer.cpp
Labels: Type: Improvement, Component: JSON-RPC, v20 Nexus

#20833 linux: fix building with clang
  cmake/scripts/common/ArchSetup.cmake
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/utils/BufferObject.h
Labels: Type: Fix, Platform: Linux, CMake, Component: Build, v20 Nexus

#19435 [JSON]Add sort video items by original title - SortByOriginalTitle
  addons/resource.language.en_gb/resources/strings.po
  xbmc/FileItem.cpp
  xbmc/SortFileItem.h
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/interfaces/legacy/ModuleXbmcplugin.h
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/SortUtils.cpp
  xbmc/utils/SortUtils.h
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoTag.cpp
Labels: Type: Feature, API change: JSON-RPC, v20 Nexus

#20549 [AdvancedSettings] add new cleanstrings
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Improvement, Wiki: Needed, Component: Settings, Component: Content, v20 Nexus

#20843 [cleanups] some cleanups on related subtitles code
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecTX3G.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayLibass.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSubrip.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.cpp
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.h
Labels: Type: Cleanup, v20 Nexus

#20678 ffmpeg: Set audio channel count on AVFrame
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
Labels: Type: Fix, Component: Audio, v20 Nexus

#20828 [EDL] Add unit tests for EDL
  cmake/installdata/test-reference-data.txt
  cmake/treedata/common/tests.txt
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/test/edl/CMakeLists.txt
  xbmc/cores/VideoPlayer/test/edl/TestEdl.cpp
  xbmc/cores/VideoPlayer/test/edl/testdata/comskipversion1.txt
  xbmc/cores/VideoPlayer/test/edl/testdata/comskipversion2.txt
  xbmc/cores/VideoPlayer/test/edl/testdata/edlautowindautowait.edl
  xbmc/cores/VideoPlayer/test/edl/testdata/mplayerframebased.edl
  xbmc/cores/VideoPlayer/test/edl/testdata/mplayertimebased.edl
  xbmc/cores/VideoPlayer/test/edl/testdata/mplayertimebasedinterleavedcuts.edl
  xbmc/cores/VideoPlayer/test/edl/testdata/mplayertimebasedmixed.edl
  xbmc/cores/VideoPlayer/test/edl/testdata/snapstream.mkv.chapters.xml
  xbmc/cores/VideoPlayer/test/edl/testdata/videoredo.Vprj
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
Labels: Type: Improvement, Wiki: Done, v20 Nexus, Component: Players

#20846 [Linux][Discs] Fix play dvd automatically setting
  xbmc/Autorun.cpp
  xbmc/Autorun.h
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.h
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/linux/storage/UDisksProvider.h
  xbmc/storage/IStorageProvider.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
Labels: Type: Fix, Backport: Needed, Platform: Linux, Component: Content, v20 Nexus

#20842 [AdvancedSettings] change defaults for watched state and resume point
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Cleanup, Type: Improvement, Wiki: Needed, Component: Settings, v20 Nexus

#20859 [EDL] Fix EDL tests
  xbmc/cores/VideoPlayer/test/edl/TestEdl.cpp
Labels: Type: Fix, v20 Nexus, Component: Players

#20840 [Linux][udisks] Always mount optical media by default
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Wiki: Needed, Platform: Linux, Component: Content, v20 Nexus

#20863 [cmake] set TARBALL_DIR for overriding tarball download location
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindGtest.cmake
  cmake/modules/FindLibDvd.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindUdfread.cmake
  cmake/scripts/common/ArchSetup.cmake
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
Labels: CMake, v20 Nexus

#20854 [Linux][Discs] Fix play dvd automatically setting
  xbmc/Autorun.cpp
  xbmc/Autorun.h
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.h
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/linux/storage/UDisksProvider.h
  xbmc/storage/IStorageProvider.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Content

#20856 [audio] Filters audio devices from audio devices lists according capabilities reported by sinks
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/AudioEngine/Utils/AEDeviceInfo.h
Labels: Type: Fix, Type: Improvement, Backport: Done, Platform: Android, Platform: Windows, Component: Audio, Platform: WindowsStore, v20 Nexus

#20866 [Subtitles] Avoid passing copies of the overlay style
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
Labels: Type: Improvement, v20 Nexus, Component: Subtitles

#20869 [EDL] Also show EDL mutes on the ranges control/Player.EditList
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Type: Improvement, Component: GUI engine, v20 Nexus

#20758 [tools/depends][target] bump libuuid
  tools/depends/target/libuuid/Makefile
Labels: Platform: Android, Component: Depends, v20 Nexus

#20873 Fix Blu-Ray menus after PR20260 - CDVDOverlayImage: cleanup
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayImage.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererUtil.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererUtil.h
Labels: Type: Fix, Type: Improvement, Component: Video rendering, v20 Nexus, Component: Subtitles

#20876 [PVR] CPVRChannelgroupMember::SetPriority: Do not mark dirty as value…
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
Labels: Type: Fix, Component: PVR, v20 Nexus

#20853 [tools/depends] bump python 3.9.10
  tools/depends/native/python3/Makefile
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/target/python3/01-GH-27394-move-crypt-h.patch
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/PYTHON3-VERSION
  tools/depends/target/python3/apple.patch
  tools/depends/target/python3/crosscompile.patch
  tools/depends/target/python3/darwin_embedded.patch
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Python, Component: Depends, Platform: tvOS, v20 Nexus

#20832 [db] fix sorting of movies by year from json-rpc call
  xbmc/utils/DatabaseUtils.cpp
Labels: Type: Fix, Backport: Done, Component: Database, v20 Nexus

#20881 [Linux][Udisks2] Fix crash on disk unmount
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.h
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/linux/storage/UDisksProvider.h
  xbmc/storage/IStorageProvider.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
Labels: Type: Fix, Backport: Done, Component: FileSystem, v20 Nexus

#20882 [Linux][Udisks2] Fix crash on disk unmount
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.h
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/linux/storage/UDisksProvider.h
  xbmc/storage/IStorageProvider.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: FileSystem

#20858 [Subtitles][WebVTT] No flush with data processed like file
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.h
Labels: Type: Breaking change, v20 Nexus, Component: Subtitles

#20885 [addons] check sha256 not md5 for local packages
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Fix, Backport: Needed, Component: Add-ons, v20 Nexus

#20874 Translations update from Kodi Weblate
  addons/skin.estouchy/language/resource.language.tr_tr/strings.po
  addons/skin.estuary/language/resource.language.it_it/strings.po
  addons/skin.estuary/language/resource.language.tr_tr/strings.po
Labels: v20 Nexus, Component: Strings

#20747 [tools/depends][target] bump libbluray libudfread
  tools/depends/target/libbluray/001-darwinembed_DiskArbitration-revert.patch
  tools/depends/target/libbluray/Makefile
  tools/depends/target/libudfread/LIBUDFREAD-VERSION
Labels: Platform: Android, Platform: Linux, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#20784 [xbmc/utils] StreamDetails: additional common aspect ratios
  addons/skin.estouchy/media/flagging/aspectratio/1.00.png
  addons/skin.estouchy/media/flagging/aspectratio/1.19.png
  addons/skin.estouchy/media/flagging/aspectratio/2.00.png
  addons/skin.estuary/media/flags/aspectratio/1.00.png
  addons/skin.estuary/media/flags/aspectratio/1.19.png
  addons/skin.estuary/media/flags/aspectratio/2.00.png
  xbmc/GUIInfoManager.cpp
  xbmc/utils/StreamDetails.cpp
Labels: Type: Improvement, Wiki: Done, v20 Nexus

#20877 [Estuary] Rework PVR recordings and timers home screen widget labels.
  addons/skin.estuary/xml/Home.xml
Labels: Type: Improvement, Component: PVR, Component: Skin, v20 Nexus

#20878 Fix typo in StackDirectory.cpp
  xbmc/filesystem/StackDirectory.cpp
Labels: v20 Nexus

#20864 [cmake] implement URL_HASH + FindLibDvd update
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindGtest.cmake
  cmake/modules/FindLibDvd.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindUdfread.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  tools/depends/target/Toolchain_binaddons.cmake.in
  tools/depends/target/crossguid/CROSSGUID-VERSION
  tools/depends/target/dav1d/DAV1D-VERSION
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  tools/depends/target/flatbuffers/FLATBUFFERS-VERSION
  tools/depends/target/googletest/GOOGLETEST-VERSION
  tools/depends/target/libdvdcss/DVDCSS-VERSION
  tools/depends/target/libdvdcss/LIBDVDCSS-VERSION
  tools/depends/target/libdvdcss/Makefile
  tools/depends/target/libdvdnav/DVDNAV-VERSION
  tools/depends/target/libdvdnav/LIBDVDNAV-VERSION
  tools/depends/target/libdvdnav/Makefile
  tools/depends/target/libdvdread/DVDREAD-VERSION
  tools/depends/target/libdvdread/LIBDVDREAD-VERSION
  tools/depends/target/libdvdread/Makefile
  tools/depends/target/libfmt/LIBFMT-VERSION
  tools/depends/target/libfstrcmp/LIBFSTRCMP-VERSION
  tools/depends/target/libspdlog/LIBSPDLOG-VERSION
  tools/depends/target/libudfread/LIBUDFREAD-VERSION
  tools/depends/target/rapidjson/RAPIDJSON-VERSION
Labels: CMake, v20 Nexus

#20897 [cmake] fix variables for LIBFMT, LIBSPDLOG, LIBFSTRCMP
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindSpdlog.cmake
Labels: Type: Fix, CMake, v20 Nexus

#19661 VideoPlayer: VAAPI - Add av1 hw decoding
  addons/resource.language.en_gb/resources/strings.po
  cmake/modules/FindFFMPEG.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  system/settings/linux.xml
  tools/buildsteps/windows/patches/0001-ffmpeg-windows-configure-detect-openssl.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-windows-configure-allow-building-static.patch
  tools/buildsteps/windows/patches/0004-ffmpeg-windows-configure-detect-libdav1d.patch
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Type: Feature, v20 Nexus

#20852 [List inception] Fix use-after-free for list within a list
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIBaseContainer.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIControlGroup.h
  xbmc/guilib/GUIControlLookup.cpp
  xbmc/guilib/GUIControlLookup.h
  xbmc/guilib/GUIListContainer.cpp
  xbmc/guilib/GUIListContainer.h
  xbmc/guilib/GUIListGroup.h
  xbmc/guilib/GUIListItem.h
  xbmc/guilib/GUIListItemLayout.cpp
  xbmc/guilib/GUIListItemLayout.h
  xbmc/guilib/GUIStaticItem.cpp
  xbmc/guilib/GUIStaticItem.h
  xbmc/interfaces/legacy/Control.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
  xbmc/listproviders/IListProvider.cpp
  xbmc/listproviders/IListProvider.h
  xbmc/listproviders/MultiProvider.cpp
  xbmc/listproviders/MultiProvider.h
  xbmc/listproviders/StaticProvider.cpp
  xbmc/listproviders/StaticProvider.h
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v20 Nexus

#20902 [depends] --with-rendersystem is required on linux
  tools/depends/README.md
  tools/depends/configure.ac
Labels: Type: Fix, Platform: Linux, Component: Depends, Component: Build, v20 Nexus

#20898 [PVR] Rework component startup / shutdown
  addons/resource.language.en_gb/resources/strings.po
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/platform/darwin/tvos/XBMCController.mm
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/PVRGUIActionListener.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.h
  xbmc/pvr/providers/PVRProviders.cpp
  xbmc/pvr/providers/PVRProviders.h
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
Labels: Type: Fix, Type: Improvement, Component: PVR, v20 Nexus

#20901 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.be_by/strings.po
  addons/skin.estouchy/language/resource.language.es_es/strings.po
  addons/skin.estuary/language/resource.language.es_es/strings.po
  tools/android/packaging/xbmc/res/values-be-rby/strings.xml
Labels: v20 Nexus, Component: Strings

#20925 [cleanup] change indentifiers YES and NO to CHOICE_YES and CHOICE_NO …
  xbmc/addons/AddonRepos.cpp
  xbmc/addons/AddonRepos.h
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/gui/GUIDialogAddonInfo.h
  xbmc/filesystem/AddonsDirectory.cpp
Labels: Type: Cleanup, v20 Nexus

#20926 xbmcaddon settings: documentation fix
  xbmc/interfaces/legacy/Settings.h
Labels: Type: Fix, Component: Python, Component: Documentation, v20 Nexus

#20900 [DXVA2] Use true shared decoder surfaces with NVIDIA / AMD recent drivers
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/DirectXHelper.h
  xbmc/rendering/dx/RenderSystemDX.h
Labels: Type: Improvement, Platform: Windows, Component: DirectX rendering, v20 Nexus

#20928 [GUI] Fix hitrect when using auto-width for button controls
  xbmc/guilib/GUIButtonControl.cpp
Labels: Type: Fix, Backport: Done, Component: GUI engine, v20 Nexus

#20927 [GUI] Allow skinners to define custom dialogs with modal type modality
  xbmc/Application.cpp
  xbmc/guilib/GUIDialog.cpp
Labels: Type: Feature, Component: GUI engine, API change: GUI, v20 Nexus

#20930 [GUI] Fix hitrect when using auto-width for button controls
  xbmc/guilib/GUIButtonControl.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v19 Matrix

#20645 [Android][Fix] System Info displays empty/incorrect CPU info values
  xbmc/platform/android/CPUInfoAndroid.cpp
  xbmc/platform/android/CPUInfoAndroid.h
Labels: Type: Fix, Backport: Done, Platform: Android, Component: System, v20 Nexus
