Repository xbmc/xbmc, pull requests merged in 2022-02, with the labels that each got.

#20931 AESinkAudioTrack: Pause-Burst - a little revisit
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Improvement, Platform: Android, Component: Audio, v20 Nexus

#20888 Propagate Endtime std::chrono changes out
  xbmc/Application.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.h
  xbmc/cores/VideoPlayer/DVDMessage.cpp
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/DVDMessageQueue.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
  xbmc/dialogs/GUIDialogCache.cpp
  xbmc/dialogs/GUIDialogCache.h
  xbmc/filesystem/CacheStrategy.cpp
  xbmc/filesystem/CacheStrategy.h
  xbmc/filesystem/CircularCache.cpp
  xbmc/filesystem/CircularCache.h
  xbmc/filesystem/FileCache.cpp
  xbmc/pvr/guilib/PVRGUIChannelNavigator.cpp
  xbmc/windowing/X11/WinEventsX11.cpp
  xbmc/windowing/X11/WinEventsX11.h
  xbmc/windowing/X11/WinSystemX11.cpp
Labels: Type: Cleanup, Type: Improvement, v20 Nexus

#20914 [Warnings] Fix -Wsemicolon-before-method-body -Wdeprecated-copy warnings
  cmake/scripts/common/ArchSetup.cmake
  xbmc/XBDateTime.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/inputstream/StreamCrypto.h
  xbmc/cores/AudioEngine/Utils/AEChannelInfo.h
  xbmc/interfaces/legacy/Tuple.h
  xbmc/platform/darwin/tvos/XBMCController.mm
  xbmc/utils/StreamDetails.h
  xbmc/windowing/Resolution.h
Labels: Type: Improvement, v20 Nexus

#20660 [Android][Fix] System Info displays empty/incorrect CPU info values
  xbmc/platform/android/CPUInfoAndroid.cpp
  xbmc/platform/android/CPUInfoAndroid.h
Labels: Type: Fix, Platform: Android, Type: Backport, v19 Matrix, Component: System

#20798 backport: fix IP6 only dns resolution
  xbmc/filesystem/CurlFile.cpp
  xbmc/network/DNSNameCache.h
Labels: Type: Fix, Type: Backport, Component: Network, v19 Matrix

#20835 [backport][db] fix sorting of movies by year from json-rpc call
  xbmc/utils/DatabaseUtils.cpp
Labels: Type: Fix, Component: Database, Type: Backport, v19 Matrix

#20771 [docs] Updates README.Windows.md
  docs/README.Windows.md
Labels: Platform: Windows, Type: Backport, Platform: WindowsStore, v19 Matrix, Component: Documentation

#20942 Settings: Fix wrong whitelist default placement
  system/settings/settings.xml
Labels: Type: Fix, v20 Nexus

#20889 XTimeUtils: make KODI::TIME::Sleep use std::chrono
  xbmc/Application.cpp
  xbmc/XBApplicationEx.cpp
  xbmc/addons/AddonInstaller.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDirectSound.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/dbwrappers/sqlitedataset.cpp
  xbmc/filesystem/CurlFile.cpp
  xbmc/interfaces/generic/ScriptInvocationManager.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/network/Network.cpp
  xbmc/network/WakeOnAccess.cpp
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/platform/posix/XTimeUtils.cpp
  xbmc/platform/win32/XTimeUtils.cpp
  xbmc/pvr/guilib/PVRGUIChannelNavigator.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/utils/XTimeUtils.h
  xbmc/weather/WeatherJob.cpp
  xbmc/windowing/X11/VideoSyncGLX.cpp
  xbmc/windowing/X11/XRandR.cpp
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/gbm/drm/DRMConnector.cpp
  xbmc/windowing/win10/WinSystemWin10DX.cpp
  xbmc/windowing/windows/VideoSyncD3D.cpp
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Type: Improvement, Component: System, v20 Nexus

#20940 [tools/depends][target] fix libbluray dependency on libudfread
  tools/depends/target/Makefile
Labels: Component: Depends, v20 Nexus

#20941 [system] update SSL CA trust store
  system/certs/cacert.pem
Labels: v20 Nexus

#20944 [pvr] cleanup unused variable when loading Providers from DB
  xbmc/pvr/providers/PVRProviders.cpp
Labels: Type: Cleanup, Component: PVR, v20 Nexus

#20880 [Subtitles] Show font family name's to subtitle fonts list
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/Application.cpp
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesStyle.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/guilib/GUIFontManager.cpp
  xbmc/guilib/GUIFontManager.h
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
  xbmc/settings/SubtitlesSettings.cpp
  xbmc/settings/SubtitlesSettings.h
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/threads/Lockables.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/FontUtils.cpp
  xbmc/utils/FontUtils.h
  xbmc/utils/StringUtils.h
Labels: Type: Fix, Type: Improvement, v20 Nexus, Component: Subtitles

#20907 [depends] libdvd: get rid of unused git_rev, it breaks packaging
  tools/depends/target/libdvdcss/Makefile
  tools/depends/target/libdvdnav/Makefile
  tools/depends/target/libdvdread/Makefile
Labels: Component: Depends, Component: Build, v20 Nexus

#20899 [addons] confirm "special://xbmcbin/addons" and "special://xbmc/addons" not the same
  xbmc/addons/AddonManager.cpp
Labels: Type: Fix, Component: Add-ons, v20 Nexus

#20952 [Windows] Fix: WS-Discovery log message is not displayed correctly
  xbmc/platform/win32/network/WSDiscoveryWin32.cpp
Labels: Type: Fix, Platform: Windows, Component: Network, v20 Nexus

#20958 [PVR] Rework CPVRGUIProgressHandler.
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/guilib/PVRGUIChannelIconUpdater.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.h
Labels: Type: Cleanup, Component: PVR, v20 Nexus

#20959 [PVR] Fix CPVRChannel::Set(Hidden|EPGEnabled|EPGScraper): Update chan…
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
Labels: Type: Fix, Component: PVR, v20 Nexus

#20956 [kodi-dev-kit] Resolve C4521 warning when compiling binary addons in Visual C++
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
Labels: Component: Binary add-ons, v20 Nexus

#20961 [python] CPythonInvoker,XBPython: Change some LOGINFO to LOGDEBUG to …
  xbmc/interfaces/python/PythonInvoker.cpp
  xbmc/interfaces/python/XBPython.cpp
Labels: Type: Cleanup, Component: Python, Component: Logging, v20 Nexus

#20947 [cmake] improve cppcheck behaviour for CI
  cmake/scripts/common/StaticAnalysis.cmake
  tools/static-analysis/cppcheck/cppcheck-rules.xml
  tools/static-analysis/cppcheck/cppcheck-suppressions.xml
Labels: Type: Improvement, CMake, Component: Build, v20 Nexus

#20890 [tools/depends][target] pythonmodule cleanups
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pil/PYTHONMODULE-PIL-VERSION
  tools/depends/target/pythonmodule-pycryptodome/Makefile
  tools/depends/target/pythonmodule-pycryptodome/PYTHONMODULE-PYCRYPTODOME-VERSION
  tools/depends/target/pythonmodule-setuptools/Makefile
  tools/depends/target/pythonmodule-setuptools/PYTHONMODULE-SETUPTOOLS-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#20933 [tools/depends] bump expat 2.4.4
  tools/depends/native/expat/EXPAT-VERSION
  tools/depends/native/expat/Makefile
  tools/depends/target/expat/EXPAT-VERSION
  tools/depends/target/expat/Makefile
Labels: Backport: Done, Component: Depends, v20 Nexus

#20966 [PVR] Fix CPVREpgTagsContainer::GetTimeline to merge in memory data …
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/epg/EpgTagsContainer.h
Labels: Type: Fix, Component: PVR, Backport: Needed, v20 Nexus

#20883 CThread: cleanup and priority abstraction
  xbmc/BackgroundInfoLoader.cpp
  xbmc/addons/AddonStatusHandler.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/network/UdpClient.cpp
  xbmc/peripherals/bus/PeripheralBus.cpp
  xbmc/platform/linux/input/LIRC.cpp
  xbmc/platform/linux/input/LibInputHandler.cpp
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
  xbmc/platform/win32/input/IRServerSuite.cpp
  xbmc/platform/win32/powermanagement/Win32PowerSyscall.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/storage/DetectDVDType.cpp
  xbmc/threads/Thread.cpp
  xbmc/threads/Thread.h
  xbmc/threads/platform/pthreads/ThreadImpl.cpp
  xbmc/threads/platform/pthreads/ThreadImpl.h
  xbmc/threads/platform/win/ThreadImpl.cpp
  xbmc/utils/JobManager.cpp
  xbmc/windowing/gbm/VideoSyncGbm.cpp
Labels: Type: Cleanup, Type: Improvement, Component: System, v20 Nexus

#20929 changed: Always process RunAddon/RunScript/etc. like we also do for v…
  xbmc/input/InputManager.cpp
Labels: Type: Improvement, v20 Nexus

#20969 [Matrix][PVR] Fix CPVREpgTagsContainer::GetTimeline to merge in memory data i…
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/epg/EpgTagsContainer.h
Labels: Type: Fix, Component: PVR, Type: Backport, v19 Matrix

#20960 [PVR] Channel Manager Fixes
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
Labels: Type: Fix, Component: PVR, v20 Nexus

#20936 [tools/depends][target] bump libnfs 5.0.1
  tools/depends/target/libnfs/LIBNFS-VERSION
  tools/depends/target/libnfs/Makefile
Labels: Component: Depends, v20 Nexus

#20964 [Log] Log previously to concurrent busydialog crash
  xbmc/dialogs/GUIDialogBusy.cpp
Labels: Backport: Needed, Component: Logging, v20 Nexus

#20967 [BP][tools/depends] bump expat 2.4.4
  tools/depends/native/expat/Makefile
  tools/depends/target/expat/Makefile
Labels: Type: Fix, Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Type: Backport, v19 Matrix, Platform: tvOS

#20934 added: resetscreensaver builtin function
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/interfaces/builtins/SystemBuiltins.cpp
  xbmc/messaging/ApplicationMessenger.h
Labels: Type: Improvement, v20 Nexus

#20970 [CPPCHECK] fix various warnings
  xbmc/Application.cpp
  xbmc/dbwrappers/DatabaseQuery.cpp
  xbmc/filesystem/File.cpp
  xbmc/guilib/TextureManager.cpp
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/interfaces/legacy/Alternative.h
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/network/EventClient.cpp
  xbmc/pictures/Picture.cpp
  xbmc/platform/posix/filesystem/SMBFile.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/profiles/ProfileManager.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/providers/PVRProvider.cpp
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/test/TestUtils.cpp
  xbmc/utils/Crc32.cpp
  xbmc/utils/ScraperParser.cpp
  xbmc/windowing/linux/OSScreenSaverFreedesktop.h
Labels: Type: Fix, v20 Nexus

#20957 ppa packaging updates
  .gitignore
  tools/Linux/packaging/package-kodi-launchpad.sh
Labels: Platform: Linux, Component: Build, v20 Nexus

#20949 CSingleLock/CSharedLock inherit from stl classes
  xbmc/threads/Condition.h
  xbmc/threads/Lockables.h
  xbmc/threads/SharedSection.h
  xbmc/threads/SingleLock.h
  xbmc/utils/CharsetConverter.cpp
Labels: Type: Cleanup, Component: System, v20 Nexus

#20916 [GUI] add Skin.SetColor builtin
  xbmc/guilib/GUIColorButtonControl.cpp
  xbmc/guilib/GUIColorButtonControl.h
  xbmc/interfaces/builtins/SkinBuiltins.cpp
Labels: Type: Feature, Wiki: Needed, Component: Skin, v20 Nexus

#20977 added: IsScreensaverInhibited info label
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Type: Improvement, v20 Nexus

#20987 depends] fix downloading dav1d tarball
  tools/depends/target/dav1d/Makefile
Labels: Type: Fix, Component: Depends, v20 Nexus

#20962 [Subtitles] Fix font family name get method and fix get font list from directory
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/platform/win32/filesystem/Win32Directory.cpp
  xbmc/utils/CharsetConverter.cpp
  xbmc/utils/CharsetConverter.h
  xbmc/utils/FontUtils.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#20823 WASAPI: code modernization and error fix
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.h
Labels: Type: Fix, Type: Improvement, Platform: Windows, Component: Audio, Platform: WindowsStore, v20 Nexus

#20983 [tools/depends][target] bump libffi 3.4.2
  tools/depends/target/libffi/LIBFFI-VERSION
  tools/depends/target/libffi/Makefile
  tools/depends/target/libffi/armAssembler.patch
  tools/depends/target/python3/modules.setup
Labels: Component: Depends, v20 Nexus

#20981 [toosl/depends][target] bump fribidi 1.0.11
  tools/depends/target/fribidi/FRIBIDI-VERSION
  tools/depends/target/fribidi/Makefile
Labels: Component: Depends, v20 Nexus

#20988 [depends] retry downloading tarballs up to 3 times
  tools/depends/download-files.include
Labels: Type: Improvement, Component: Depends, Component: Build, v20 Nexus

#20984 [tools/depends][target] bump libgpg-error 1.44
  tools/depends/target/libgpg-error/LIBGPG-ERROR-VERSION
  tools/depends/target/libgpg-error/Makefile
  tools/depends/target/libgpg-error/libgpg-error-1.36-gawk5-support.patch
  tools/depends/target/libgpg-error/tvos_remove-fork.patch
Labels: Component: Depends, v20 Nexus

#20871 [guilib] Fix Font style bits were not being applied in SetStyledText
  xbmc/guilib/GUIEditControl.cpp
  xbmc/guilib/GUILabelControl.cpp
Labels: Type: Fix, Backport: Done, Component: GUI rendering, v20 Nexus

#20995 [guilib] Font style bits were not being applied in SetStyledText lead…
  xbmc/guilib/GUIEditControl.cpp
  xbmc/guilib/GUILabelControl.cpp
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v19 Matrix

#20971 [Android] Fix application shutdown sequence.
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/platform/android/activity/android_main.cpp
  xbmc/platform/xbmc.cpp
Labels: Type: Fix, Backport: Needed, Platform: Android, Component: System, v20 Nexus

#20997 SetColor builtin - use previously saved value
  xbmc/interfaces/builtins/SkinBuiltins.cpp
Labels: Type: Fix, Component: Skin, v20 Nexus

#20953 [Windows] Fix possible crash Network related + fix memory leak
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/NetworkWin32.h
Labels: Type: Fix, Backport: Needed, Platform: Windows, Component: Network, v20 Nexus

#21003 NetworkWin32: fix possible crash and memory leak
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/NetworkWin32.h
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: Network, v19 Matrix

#21006 [MUSIC] fix discography not exported to nfo files
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Backport: Done, Component: Music, Component: Database, v20 Nexus

#20974 AESinkAudioTrack: Revisit period length
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, Platform: Android, v20 Nexus

#21017 NetworkWin10 improvements
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/platform/win10/network/NetworkWin10.h
Labels: Type: Cleanup, Type: Improvement, Platform: WindowsStore, Component: Network, v20 Nexus

#21019 [WEBSERVER] Handle HEAD requests in exactly the same way as GET requests
  xbmc/network/WebServer.cpp
  xbmc/network/httprequesthandler/HTTPImageTransformationHandler.cpp
  xbmc/network/httprequesthandler/HTTPJsonRpcHandler.cpp
  xbmc/network/test/TestWebServer.cpp
Labels: Backport: Needed, Component: Network, Component: JSON-RPC, v20 Nexus

#21014 Cppcheck: fix assorted misc warnings
  xbmc/FileItem.cpp
  xbmc/addons/ContextMenuAddon.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVDPAU.cpp
  xbmc/guilib/GUISpinControl.cpp
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/peripherals/bus/PeripheralBus.cpp
  xbmc/peripherals/devices/PeripheralHID.cpp
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/profiles/ProfileManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/utils/test/TestLabelFormatter.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Improvement, v20 Nexus

#20998 cppcheck: fix (some) constParameter warnings
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.h
  xbmc/cores/DllLoader/DllLoaderContainer.cpp
  xbmc/cores/DllLoader/DllLoaderContainer.h
  xbmc/cores/DllLoader/coff.cpp
  xbmc/cores/DllLoader/coffldr.h
  xbmc/cores/DllLoader/dll_tracker.cpp
  xbmc/cores/DllLoader/dll_tracker.h
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.h
  xbmc/cores/DllLoader/exports/util/EmuFileWrapper.cpp
  xbmc/cores/VideoPlayer/DVDDemuxSPU.cpp
  xbmc/cores/VideoPlayer/DVDDemuxSPU.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxVobsub.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxVobsub.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.h
  xbmc/filesystem/DirectoryCache.cpp
  xbmc/filesystem/DirectoryCache.h
  xbmc/filesystem/DllLibCurl.cpp
  xbmc/filesystem/DllLibCurl.h
  xbmc/input/ButtonTranslator.cpp
  xbmc/input/ButtonTranslator.h
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.h
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/messaging/ApplicationMessenger.cpp
  xbmc/pictures/Picture.cpp
  xbmc/pictures/Picture.h
  xbmc/utils/FileOperationJob.cpp
  xbmc/utils/FileOperationJob.h
  xbmc/windowing/gbm/drm/DRMObject.cpp
Labels: Type: Improvement, v20 Nexus

#21015 Cppcheck: fix some unreadvariable and knownconditiontruefalse warnings
  xbmc/Application.cpp
  xbmc/Autorun.cpp
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/Directory.cpp
  xbmc/guilib/TextureBundleXBT.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/network/NetworkServices.cpp
  xbmc/network/WebServer.cpp
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/SettingsComponent.cpp
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/utils/SortUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, v20 Nexus

#21020 [Cmake] Find module internal depends cleanup
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindLibDvd.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindUdfread.cmake
Labels: Component: Depends, CMake, v20 Nexus

#21029 [repository.xbmc.org] Use dir in extension point
  addons/repository.xbmc.org/addon.xml
Labels: Type: Improvement, Component: Add-ons, v20 Nexus

#21018 [Linux][Discs][DllLoader] Always check getmntent result
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
Labels: Type: Fix, Backport: Needed, Platform: Linux, Component: Content, v20 Nexus

#21030 [Addons][Repository] Remove backwards dharma compatible definitions
  xbmc/addons/Repository.cpp
Labels: Type: Cleanup, Wiki: Needed, Component: Add-ons, v20 Nexus

#21034 [Discs] Move disc probing to utils
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/DiscsUtils.cpp
  xbmc/utils/DiscsUtils.h
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21036 DXVA2: use texture copy on AMD hardware < DirectX FL 12_1
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Platform: Windows, Component: DirectX rendering, v20 Nexus

#21037 [Subtitles][libass] Fix wrong rendering due to ass_set_storage_size and wrong PAR
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Type: Fix, Backport: Done, v20 Nexus, Component: Subtitles

#21044 DXVA2: workaround for AMD H264 SD interlaced issues
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Type: Fix, Backport: Done, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v20 Nexus

#21038 [Subtitles][WebVTT] Fixed wrong positionAlign parsing
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#21040 [Backport][Subtitles][libass] Fix wrong rendering due to ass_set_storage_size
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Subtitles

#21048 DXVA2: workaround for AMD H264 SD interlaced issues
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, Platform: WindowsStore, v19 Matrix, Component: DirectX rendering
