Repository xbmc/xbmc, pull requests merged in 2022-06, with the labels that each got.

#20019 [Android][API26+] implement updated requestaudiofocus/abandonaudiofocusrequest
  tools/depends/target/libandroidjni/Makefile
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Platform: Android, v20 Nexus

#21205 PAPlayer: Fix audio glitch on pause/resume
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Type: Fix, v20 Nexus

#21497 [Xbox][DXVA2] Allows the use of more than 16 decoding surfaces for H265 Full HD or less
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Type: Fix, Backport: Done, Platform: WindowsStore, Component: DirectX rendering, v20 Nexus

#21498 [Xbox][DXVA2] Allows the use of more than 16 decoding surfaces for H265 Full HD or less
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Type: Fix, Type: Backport, Platform: WindowsStore, v19 Matrix, Component: DirectX rendering

#21487 [macOS] improve DMG creation script
  tools/darwin/packaging/osx/dmgmaker.pl
  tools/darwin/packaging/osx/dmgmaker.sh
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
Labels: Type: Improvement, Platform: macOS, v20 Nexus

#21446 [Android] check Neon support
  tools/android/packaging/xbmc/src/Splash.java.in
Labels: Type: Fix, Platform: Android, v20 Nexus

#21464 [Android] Update methods to check if the headset is plugged in
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Improvement, Platform: Android, v20 Nexus

#21418 FFmpegImage: Reduce quality a tiny bit
  xbmc/guilib/FFmpegImage.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Wiki: Done, v20 Nexus

#21494 fixed: URIUtils::IsInternetStream() didn't properly handle filesystem…
  xbmc/utils/URIUtils.cpp
Labels: Type: Fix, v20 Nexus

#21387 Disable rendering highly transparent elements
  xbmc/guilib/GUIControl.cpp
Labels: Type: Improvement, Component: GUI rendering, v20 Nexus

#21493 [dvdnav] Update to current next version
  tools/depends/target/libdvdnav/LIBDVDNAV-VERSION
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DllDvdNav.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvd_types.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvdnav.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvdnav_events.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvdnav_internal.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/vm.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/vmcmd.h
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21499 Handle Content-Type from url that point to binary instead of assuming its HTTPDirectory;
  xbmc/filesystem/HTTPDirectory.cpp
Labels: Type: Fix, Backport: Done, Component: Content, v20 Nexus

#21519 [dvdnav] move defines to constexpr in anonymous namespace
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21443 CPipewireThreadLoop: make wait use method with timeout
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireThreadLoop.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireThreadLoop.h
Labels: Type: Fix, Platform: Linux, Component: Audio, v20 Nexus

#21507 [skins] Disable infill on Estuary's shadow borders
  addons/skin.estuary/xml/Custom_1103_VolumeSlider.xml
  addons/skin.estuary/xml/Custom_1110_TempoControl.xml
  addons/skin.estuary/xml/DialogAddonInfo.xml
  addons/skin.estuary/xml/DialogMusicInfo.xml
  addons/skin.estuary/xml/DialogNotification.xml
  addons/skin.estuary/xml/DialogSeekBar.xml
  addons/skin.estuary/xml/DialogSlider.xml
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/EventLog.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/SettingsProfile.xml
  addons/skin.estuary/xml/View_501_Banner.xml
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_52_IconWall.xml
  addons/skin.estuary/xml/View_53_Shift.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Type: Improvement, Component: Skin, v20 Nexus

#21525 [dvdnav] Do not use no longer exposed headers
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvd_types.h
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21521 Use EAC3 for Android Audiotrack passthrough if AC3 is not supported.
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Platform: Android, Component: Audio, v20 Nexus

#21496 changed: move application settings handling to separate class
  xbmc/Application.cpp
  xbmc/Application.h
  xbmc/application/ApplicationPowerHandling.cpp
  xbmc/application/ApplicationPowerHandling.h
  xbmc/application/ApplicationSettingsHandling.cpp
  xbmc/application/ApplicationSettingsHandling.h
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/application/ApplicationSkinHandling.h
  xbmc/application/ApplicationVolumeHandling.cpp
  xbmc/application/ApplicationVolumeHandling.h
  xbmc/application/CMakeLists.txt
Labels: Type: Improvement, v20 Nexus, Component: Application

#21534 [tools/depends][target] pythonmodule-setuptools fix loading pkg_resources error
  tools/depends/target/pythonmodule-setuptools/Makefile
Labels: Platform: macOS, Platform: iOS, Platform: tvOS, v20 Nexus

#21536 [Settings] Add anonymous namespace and use emplace in SettingConditions
  xbmc/settings/SettingConditions.cpp
Labels: Type: Improvement, v20 Nexus

#21540 [windows] run-tests call vswhere to set dev env vars
  tools/buildsteps/windows/win32/run-tests.bat
  tools/buildsteps/windows/x64/run-tests.bat
Labels: Platform: Windows, Component: Build, v20 Nexus

#21542 [BP][windows] run-tests call vswhere to set dev env vars
  tools/buildsteps/windows/win32/run-tests.bat
  tools/buildsteps/windows/x64/run-tests.bat
Labels: Platform: Windows, Type: Backport, v19 Matrix, Component: Build

#21522 [Android] Set the right API level in AndroidUtils
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Type: Fix, Type: Cleanup, Platform: Android, v20 Nexus

#21226 [cleanup] fix warning: output truncated [-Wstringop-truncation]
  xbmc/network/AirTunesServer.cpp
Labels: Type: Fix, v20 Nexus

#21529 [dvdcss] update to current next version
  tools/depends/target/libdvdcss/LIBDVDCSS-VERSION
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21518 [dvdread] update to current next version
  tools/depends/target/libdvdread/LIBDVDREAD-VERSION
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/decoder.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvd_reader.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/ifo_types.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/remap.h
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21463 [Cmake] implement (some) ninja support
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/scripts/android/ArchSetup.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  cmake/scripts/common/PathSetup.cmake
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  docs/README.Windows.md
  tools/depends/target/cmakebuildsys/Makefile
Labels: Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, CMake, Platform: WindowsStore, Platform: tvOS, v20 Nexus

#21539 Add missing deps to Fedora build guide
  docs/README.Fedora.md
Labels: Platform: Linux, Documentation, v20 Nexus

#21129 Refactor HDR type detection
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Type: Fix, Type: Improvement, Component: Video, v20 Nexus

#21545 [PVR] clang-tidy: Fix 'Call to virtual method 'CPVRChannelGroup(Inter…
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
Labels: Type: Cleanup, Component: PVR, v20 Nexus

#21546 [PVR] Sync channel groups with backend: Fix local removal of channel …
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
Labels: Type: Fix, Component: PVR, v20 Nexus

#21551 Disable OpenGL when building OpenGL ES
  xbmc/rendering/gl/CMakeLists.txt
Labels: Type: Fix, CMake, v20 Nexus

#21511 Add margin to glyphs for GL font textures
  xbmc/guilib/GUIFontTTFGL.cpp
Labels: Type: Fix, Component: GUI rendering, v20 Nexus

#21556 [depends] bump libandroidjni - add deprecated info
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
Labels: Type: Cleanup, v20 Nexus

#21561 [android] packaging: don't delete cryptodome libraries from depends i…
  tools/android/packaging/Makefile.in
Labels: Type: Fix, Platform: Android, v20 Nexus

#21562 [dvdnav] hook dvd_logger into dvd open calls
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DllDvdNav.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvdnav.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/version.h
Labels: Type: Improvement, v20 Nexus, Component: Discs

#21559 [Cmake] relocate buildtools find modules, generate_patchcommand, build flatc internal
  .gitignore
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/buildtools/FindCCache.cmake
  cmake/modules/buildtools/FindClangFormat.cmake
  cmake/modules/buildtools/FindClangTidy.cmake
  cmake/modules/buildtools/FindCppcheck.cmake
  cmake/modules/buildtools/FindFlatC.cmake
  cmake/modules/buildtools/FindGtest.cmake
  cmake/modules/buildtools/FindIncludeWhatYouUse.cmake
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/modules/buildtools/FindNASM.cmake
  cmake/modules/buildtools/FindPatch.cmake
  cmake/modules/buildtools/FindSWIG.cmake
  cmake/modules/buildtools/FindTexturePacker.cmake
  cmake/modules/buildtools/LDGOLD.cmake
  cmake/modules/buildtools/LLD.cmake
  cmake/modules/buildtools/MOLD.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  project/BuildDependencies/scripts/0_package.native-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/buildsteps/windows/prepare-env.bat
  tools/depends/.gitignore
  tools/depends/configure.ac
  tools/depends/native/Makefile
  tools/depends/native/Toolchain-Native.cmake.in
  tools/depends/target/Makefile
  tools/depends/target/ffmpeg/Makefile
  xbmc/cores/RetroPlayer/messages/CMakeLists.txt
Labels: CMake, Component: Build, v20 Nexus

#21570 [Android] SDK30 bump
  cmake/platform/android/android.cmake
  tools/android/packaging/xbmc/AndroidManifest.xml.in
  tools/android/packaging/xbmc/build.gradle.in
  tools/android/packaging/xbmc/src/Splash.java.in
Labels: Backport: Done, Platform: Android, v20 Nexus

#21573 [tools/depends][target] pythonmodules fix ios/tvos linking incorrect arch
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pycryptodome/Makefile
Labels: Platform: iOS, Component: Python, Platform: tvOS, Component: Build, v20 Nexus

#21578 CGUIDialogNetworkSetup: fix log call
  xbmc/network/GUIDialogNetworkSetup.cpp
Labels: Type: Improvement, Component: Logging, v20 Nexus

#21580 [cmake] fix installing texturepacker on non-depends builds
  cmake/modules/buildtools/FindTexturePacker.cmake
Labels: Type: Fix, Platform: Linux, CMake, v20 Nexus

#21579 [cmake] refactor module helpers function/macros
  cmake/modules/FindLibDvd.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: CMake, v20 Nexus

#21581 [addons] CAddonRepos::FindAddonAndCheckForUpdate() return false if ch…
  xbmc/addons/AddonRepos.cpp
  xbmc/addons/AddonRepos.h
Labels: Type: Fix, Backport: Done, Component: Add-ons, v20 Nexus

#21583 [dialogs,...] Busy Dialog Improvements Light
  addons/skin.estuary/xml/DialogBusy.xml
  xbmc/Application.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/dialogs/GUIDialogBusy.cpp
  xbmc/dialogs/GUIDialogBusy.h
  xbmc/dialogs/GUIDialogBusyNoCancel.cpp
  xbmc/dialogs/GUIDialogBusyNoCancel.h
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.h
  xbmc/powermanagement/PowerManager.cpp
Labels: Type: Cleanup, Type: Improvement, v20 Nexus

#21550 [Android] Display some cpu info that was missing in System information
  xbmc/platform/android/CPUInfoAndroid.cpp
Labels: Type: Improvement, Platform: Android, Component: System, v20 Nexus

#21586 [discs] Fix crash on android when playing dvd folder structures from vfs
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/DllLoader/exports/wrapper.c
Labels: Type: Fix, Platform: Android, v20 Nexus, Component: Discs

#21587 [cmake] standardise on DEPENDS_PATH for all platforms
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/modules/buildtools/FindTexturePacker.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  cmake/scripts/windowsstore/Install.cmake
  cmake/scripts/windowsstore/Macros.cmake
Labels: Platform: Windows, CMake, Platform: WindowsStore, Component: Build, v20 Nexus

#21589 [cmake] Fix libdvd build failure after #21579
  cmake/modules/FindLibDvd.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: CMake, Component: Build, v20 Nexus

#21592 [docs] Remove typo in playlist python docs
  xbmc/interfaces/legacy/PlayList.h
Labels: Documentation, v20 Nexus

#21594 [content] http header: check if content-type starts with "text/html"
  xbmc/filesystem/HTTPDirectory.cpp
Labels: Type: Fix, Backport: Done, Component: Content, v20 Nexus

#21595 [content] http header: check if content-type starts with "text/html"
  xbmc/filesystem/HTTPDirectory.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Content

#21591 [settings] Introduce new string id for BackgroundType::NONE …
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
Labels: Type: Fix, Component: Settings, v20 Nexus, Component: Strings

#21528 [jenkins] Update defaultenv ios/tvos/osx-x86_64
  cmake/modules/FindLibDvd.cmake
  cmake/modules/buildtools/FindFlatC.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  cmake/scripts/darwin_embedded/Macros.cmake
  docs/README.iOS.md
  docs/README.macOS.md
  docs/README.tvOS.md
  tools/buildsteps/defaultenv
  tools/buildsteps/ios/make-xbmc
  tools/buildsteps/ios/package
  tools/buildsteps/tvos/make-xbmc
  tools/buildsteps/tvos/package
  tools/depends/configure.ac
  tools/depends/target/Toolchain.cmake.in
  tools/depends/target/cmakebuildsys/Makefile
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pycryptodome/Makefile
Labels: Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, v20 Nexus

#21596 [xbmc] fix typo in Control.h
  xbmc/interfaces/legacy/Control.h
Labels: Documentation, v20 Nexus

#21600 [tools/depends][target] crossguid set cmake var for non crosscompile path
  tools/depends/target/crossguid/Makefile
Labels: Type: Fix, Component: Depends, v20 Nexus

#21481 Fix for font vertex caching on GL/GLES
  xbmc/guilib/GUIFontTTFGL.cpp
Labels: Type: Fix, Component: GUI rendering, v20 Nexus

#21400 Added diffuse fading animation effect
  xbmc/guilib/GUIFont.cpp
  xbmc/guilib/GUITexture.cpp
  xbmc/guilib/VisibleEffect.cpp
  xbmc/guilib/VisibleEffect.h
  xbmc/utils/ColorUtils.cpp
  xbmc/utils/ColorUtils.h
  xbmc/utils/TransformMatrix.h
  xbmc/windowing/GraphicContext.cpp
  xbmc/windowing/GraphicContext.h
Labels: Component: GUI engine, API change: GUI, Component: GUI rendering, v20 Nexus

#21597 [cmake] FindPython KODI_DEPENDSBUILD set python_ver
  cmake/modules/FindPython.cmake
Labels: Platform: Android, Platform: macOS, Platform: iOS, Platform: tvOS, v20 Nexus

#21598 [Cmake] libdvd find module refactor
  cmake/modules/FindLibDvd.cmake
  cmake/modules/FindLibDvdCSS.cmake
  cmake/modules/FindLibDvdNav.cmake
  cmake/modules/FindLibDvdRead.cmake
  cmake/scripts/darwin_embedded/Macros.cmake
  tools/depends/target/Makefile
  tools/depends/target/libdvdcss/LIBDVDCSS-VERSION
  tools/depends/target/libdvdnav/LIBDVDNAV-VERSION
  tools/depends/target/libdvdread/LIBDVDREAD-VERSION
Labels: Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, CMake, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, v20 Nexus

#21612 [cmake] libdvd*_url lower case insanity
  cmake/modules/FindLibDvdCSS.cmake
  cmake/modules/FindLibDvdNav.cmake
  cmake/modules/FindLibDvdRead.cmake
Labels: CMake, v20 Nexus

#21605 Remove root type addon sources from GUI, move them to mediamanager
  xbmc/Application.cpp
  xbmc/games/windows/GUIViewStateWindowGames.cpp
  xbmc/pictures/GUIViewStatePictures.cpp
  xbmc/programs/GUIViewStatePrograms.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
  xbmc/view/GUIViewState.cpp
  xbmc/view/GUIViewState.h
Labels: Type: Fix, Component: Content, v20 Nexus

#21311 [cmake] Build LibZip during cmake Build
  cmake/modules/FindGnuTLS.cmake
  cmake/modules/FindLibZip.cmake
  cmake/modules/FindZip.cmake
  cmake/platform/android/android.cmake
  tools/depends/target/Makefile
  tools/depends/target/libzip/LIBZIP-VERSION
  tools/depends/target/libzip/Makefile
Labels: Platform: Android, Component: Depends, CMake, v20 Nexus

#21601 [cmake] FindNFS module to build internal
  CMakeLists.txt
  cmake/modules/FindNFS.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/libnfs/LIBNFS-VERSION
Labels: Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, CMake, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, v20 Nexus

#21602 [cmake] create ENABLE_INTERNAL_PCRE
  CMakeLists.txt
  cmake/modules/FindPCRE.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/pcre/001-all-cmakeconfig.patch
  tools/depends/target/pcre/002-all-enable_docs_pc.patch
  tools/depends/target/pcre/003-all-postfix.patch
  tools/depends/target/pcre/004-win-pdb.patch
  tools/depends/target/pcre/Makefile
  tools/depends/target/pcre/PCRE-VERSION
Labels: Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, CMake, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, v20 Nexus

#21620 [info] Fix division by 0
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/windows/VideoFileItemListModifier.cpp
Labels: Type: Fix, Component: GUI engine, v20 Nexus

#21621 [cmake] Fix linking of libdvd*
  cmake/modules/FindLibDvd.cmake
Labels: Type: Fix, CMake, v20 Nexus, Component: Discs

#21599 [CPicture] Align strides to be divisible by 16 when resizing/caching textures
  xbmc/pictures/Picture.cpp
Labels: Type: Fix, Component: Picture, v20 Nexus

#21565 [Matrix] Sync controllers add-ons
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.ar_ma/strings.po
  addons/game.controller.default/resources/language/resource.language.be_by/strings.po
  addons/game.controller.default/resources/language/resource.language.cs_cz/strings.po
  addons/game.controller.default/resources/language/resource.language.et_ee/strings.po
  addons/game.controller.default/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.default/resources/language/resource.language.fil/strings.po
  addons/game.controller.default/resources/language/resource.language.fr_ca/strings.po
  addons/game.controller.default/resources/language/resource.language.hr_hr/strings.po
  addons/game.controller.default/resources/language/resource.language.is_is/strings.po
  addons/game.controller.default/resources/language/resource.language.it_it/strings.po
  addons/game.controller.default/resources/language/resource.language.mi/strings.po
  addons/game.controller.default/resources/language/resource.language.ro_md/strings.po
  addons/game.controller.default/resources/language/resource.language.sk_sk/strings.po
  addons/game.controller.default/resources/language/resource.language.sq_al/strings.po
  addons/game.controller.default/resources/language/resource.language.sv_se/strings.po
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.ar_ma/strings.po
  addons/game.controller.snes/resources/language/resource.language.ast_es/strings.po
  addons/game.controller.snes/resources/language/resource.language.be_by/strings.po
  addons/game.controller.snes/resources/language/resource.language.cs_cz/strings.po
  addons/game.controller.snes/resources/language/resource.language.et_ee/strings.po
  addons/game.controller.snes/resources/language/resource.language.fi_fi/strings.po
  addons/game.controller.snes/resources/language/resource.language.fil/strings.po
  addons/game.controller.snes/resources/language/resource.language.hr_hr/strings.po
  addons/game.controller.snes/resources/language/resource.language.is_is/strings.po
  addons/game.controller.snes/resources/language/resource.language.it_it/strings.po
  addons/game.controller.snes/resources/language/resource.language.nb_no/strings.po
  addons/game.controller.snes/resources/language/resource.language.ro_ro/strings.po
  addons/game.controller.snes/resources/language/resource.language.scn/strings.po
  addons/game.controller.snes/resources/language/resource.language.sk_sk/strings.po
  addons/game.controller.snes/resources/language/resource.language.sq_al/strings.po
  addons/game.controller.snes/resources/language/resource.language.sv_se/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
Labels: Type: Improvement, v19 Matrix
