Repository xbmc/xbmc, pull requests merged in 2022-08, with the labels that each got.

#21719 GUIFontTTF: small optimization
  xbmc/guilib/GUIFontTTF.cpp
Labels: Type: Improvement, Component: GUI engine, v20 Nexus

#21669 [CMake] Allow overriding local tarball URL hashsums
  cmake/scripts/common/ModuleHelpers.cmake
Labels: Type: Fix, CMake, v20 Nexus

#20346 Fix tests comparing floats
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/test/TestConversionMatrix.cpp
Labels: Type: Fix, v20 Nexus

#21724 Fix EDL‌ rounding operations
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/test/edl/TestEdl.cpp
Labels: Type: Fix, v20 Nexus

#20199 GBM: use windowing method for HDR activation
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VideoLayerBridgeDRMPRIME.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
Labels: Type: Feature, Component: Video rendering, Platform: Linux, v20 Nexus

#21667 [PlayListPlayer] Fixed wrong player playlist with playlist files
  xbmc/PlayListPlayer.cpp
  xbmc/PlayListPlayer.h
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/GUIViewStateVideo.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/view/GUIViewState.cpp
Labels: Type: Fix, Backport: Done, v20 Nexus

#21515 Packs font atlas more tightly
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
Labels: Type: Improvement, Component: GUI engine, v20 Nexus

#21729 GUIFontTTF: Improves memory allocation (save ~5 MB of RAM)
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
Labels: Type: Improvement, Component: GUI engine, v20 Nexus

#21671 [DVDDemuxClient] fix memory leak
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
Labels: Type: Fix, v20 Nexus

#21576 CNfsConnection: use std::chrono for timeouts
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/NFSFile.h
Labels: Type: Improvement, Component: Network, Component: FileSystem, v20 Nexus

#21726 [guiinfo/skin] fix format of GUIProgressBar and remove duplicate textures
  addons/skin.estuary/media/dialogs/volume/progress/p 0.png
  addons/skin.estuary/media/dialogs/volume/progress/p 1.png
  addons/skin.estuary/media/dialogs/volume/progress/p 2.png
  addons/skin.estuary/media/dialogs/volume/progress/p 3.png
  addons/skin.estuary/media/dialogs/volume/progress/p 4.png
  addons/skin.estuary/media/dialogs/volume/progress/p 5.png
  addons/skin.estuary/media/dialogs/volume/progress/p 6.png
  addons/skin.estuary/media/dialogs/volume/progress/p 7.png
  addons/skin.estuary/media/dialogs/volume/progress/p 8.png
  addons/skin.estuary/media/dialogs/volume/progress/p 9.png
  xbmc/guilib/GUIProgressControl.cpp
Labels: Type: Improvement, Component: GUI engine, Component: Skin, v20 Nexus

#21730 [cmake][addons] enable cpu arch specific flags for flags.txt usage
  cmake/addons/depends/README
  cmake/scripts/common/HandleDepends.cmake
Labels: Component: Binary add-ons, CMake, v20 Nexus

#21645 Improving/fixing transparent control rendering
  xbmc/guilib/GUIControl.cpp
  xbmc/guilib/GUIControl.h
Labels: Type: Fix, Component: GUI engine, v20 Nexus

#21736 [addondb/addonrepos] pure cleanup and vector capacity reservations
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonDatabase.h
  xbmc/addons/AddonRepos.cpp
Labels: Type: Cleanup, Type: Improvement, Component: Add-ons, v20 Nexus

#21740 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.es_ar/strings.po
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.it_it/strings.po
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.szl/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.ca_es/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.es_ar/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.it_it/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.szl/strings.po
  addons/skin.estouchy/language/resource.language.ca_es/strings.po
  addons/skin.estuary/language/resource.language.ca_es/strings.po
  addons/skin.estuary/language/resource.language.he_il/strings.po
  tools/android/packaging/xbmc/res/values-ca-res/strings.xml
Labels: v20 Nexus, Component: Strings

#21752 [tools/depends][cmake] addon toolchain reshuffle
  tools/depends/target/Toolchain_binaddons.cmake.in
Labels: Component: Binary add-ons, Platform: macOS, Platform: iOS, CMake, Platform: tvOS, v20 Nexus

#21751 [cmake][addons] allow passing extra args to built addon dependencies
  cmake/addons/depends/README
  cmake/scripts/common/HandleDepends.cmake
Labels: Component: Binary add-ons, CMake, v20 Nexus

#21759 [dbwrappers] Optimize Dataset::str_compare.
  xbmc/dbwrappers/dataset.cpp
  xbmc/dbwrappers/dataset.h
Labels: Type: Improvement, Component: Database, v20 Nexus

#21761 [utils] Optimize CFileItem::IsPicture and URIUtils::HasExtension.
  xbmc/FileItem.cpp
  xbmc/utils/URIUtils.cpp
Labels: Type: Improvement, v20 Nexus

#21680 [Subtitles] Rework subtitle positions
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesStyle.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/guilib/GUIMoverControl.cpp
  xbmc/guilib/GUISliderControl.cpp
  xbmc/settings/SubtitlesSettings.cpp
  xbmc/settings/SubtitlesSettings.h
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.cpp
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.h
  xbmc/video/PlayerController.cpp
Labels: Type: Improvement, v20 Nexus, Component: Subtitles

#21763 [Subtitles][WebVTT] Parsing improvements
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.h
Labels: Type: Improvement, v20 Nexus, Component: Subtitles

#21673 [Matrix] Fix missing DVD menu indicators when using DRM PRIME decoder
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
Labels: Type: Fix, Type: Backport, v19 Matrix, Component: Discs

#21779 [utils] Fix URIUtils::HasExtension regression.
  xbmc/utils/URIUtils.cpp
Labels: Type: Fix, v20 Nexus

#21778 [CFileItemList] remove unneeded const ::Get() member functions / cleanup
  xbmc/FileItem.cpp
  xbmc/FileItem.h
Labels: Type: Cleanup, Component: System, v20 Nexus

#21780 [dbwrappers] Optimize string-based field lookup
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/dbwrappers/DatabaseQuery.cpp
  xbmc/dbwrappers/DatabaseQuery.h
  xbmc/dbwrappers/dataset.cpp
  xbmc/dbwrappers/dataset.h
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/mysqldataset.h
  xbmc/dbwrappers/qry_dat.cpp
  xbmc/dbwrappers/qry_dat.h
  xbmc/dbwrappers/sqlitedataset.cpp
  xbmc/dbwrappers/sqlitedataset.h
Labels: Type: Improvement, Component: Database, v20 Nexus

#21748 [Input][Mouse] Fix exclusive drag n drop access for controls
  xbmc/guilib/GUIMoverControl.cpp
  xbmc/guilib/GUIResizeControl.cpp
  xbmc/guilib/GUIScrollBarControl.cpp
  xbmc/guilib/GUISliderControl.cpp
  xbmc/input/InputManager.cpp
  xbmc/input/mouse/MouseStat.cpp
  xbmc/input/mouse/MouseStat.h
Labels: Type: Fix, Component: GUI engine, Component: Input, v20 Nexus

#21777 [addons] remove deprecated CAddonDatabase::GetAddon(const std::string…
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonDatabase.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/Repository.cpp
Labels: Type: Cleanup, Component: Add-ons, v20 Nexus

#21782 [GitHub][workflows] Add minimum GitHub token permissions
  .github/workflows/documentation-creation.yml
  .github/workflows/gh-action-weblate-upload.yml
  .github/workflows/sync-addon-metadata-translations.yml
Labels: Component: Build, v20 Nexus

#21769 [Subtitles] Fix text aspect ratio and size with video effects
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesStyle.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#21784 [addons] Fix crash in CRepositoryUpdateJob::DoWork.
  xbmc/addons/Repository.cpp
Labels: Type: Fix, Component: Add-ons, v20 Nexus

#21785 [addons] Fix potential crash in CAddonInstaller::CheckDependencies()
  xbmc/addons/AddonInstaller.cpp
Labels: Type: Fix, Component: Add-ons, v20 Nexus

#21739 [addons] code cleanups and improvement inside addon base classes
  xbmc/ContextMenuManager.cpp
  xbmc/addons/Addon.cpp
  xbmc/addons/Addon.h
  xbmc/addons/AddonEvents.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonInstaller.h
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonStatusHandler.cpp
  xbmc/addons/AddonStatusHandler.h
  xbmc/addons/AddonVersion.cpp
  xbmc/addons/BinaryAddonCache.cpp
  xbmc/addons/ExtsMimeSupportList.cpp
  xbmc/addons/IAddon.h
  xbmc/addons/RepositoryUpdater.cpp
  xbmc/addons/Scraper.cpp
  xbmc/addons/Scraper.h
  xbmc/addons/Service.cpp
  xbmc/addons/Skin.cpp
  xbmc/addons/Skin.h
  xbmc/addons/VFSEntry.cpp
  xbmc/addons/addoninfo/AddonInfo.h
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/AddonInstanceHandler.cpp
  xbmc/addons/binary-addons/AddonInstanceHandler.h
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/addons/settings/AddonSettings.h
  xbmc/addons/settings/SettingUrlEncodedString.cpp
  xbmc/addons/settings/SettingUrlEncodedString.h
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/ports/windows/GUIPortList.cpp
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/utils/FileExtensionProvider.cpp
Labels: Type: Cleanup, Type: Improvement, Component: Add-ons, v20 Nexus

#21775 [PVR] CPVREpgInfoTag optimizations
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
Labels: Type: Improvement, Component: PVR, v20 Nexus

#21788 [android] Add android.intent.action.MAIN intent query to AndroidManifest.xml
  tools/android/packaging/xbmc/AndroidManifest.xml.in
Labels: Type: Fix, Component: System, v20 Nexus

#21720 GUIFontTTF: use std::vector for m_char
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
Labels: Type: Improvement, Component: GUI engine, v20 Nexus

#21795 [Subtitles] Fix debug info OSD placement
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
Labels: Type: Fix, v20 Nexus, Component: Subtitles

#21794 [GUI] Kill skin timers thread, move to ProcessSlow
  xbmc/Application.cpp
  xbmc/addons/Skin.cpp
  xbmc/addons/Skin.h
  xbmc/addons/gui/skin/SkinTimerManager.cpp
  xbmc/addons/gui/skin/SkinTimerManager.h
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/application/ApplicationSkinHandling.h
Labels: Type: Fix, Component: GUI engine, v20 Nexus

#21786 [tools/depends][target] bump libxml2
  tools/depends/target/libxml2/LIBXML2-VERSION
  tools/depends/target/libxml2/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#21797 [gui][fixup] Actually move skintimers to ProcessSlow()
  xbmc/Application.cpp
Labels: Type: Fix, Component: GUI engine, v20 Nexus

#21746 Correct RTL text handling in Edit Control
  xbmc/guilib/GUIEditControl.cpp
Labels: Type: Fix, Component: GUI rendering, v20 Nexus

#21789 [clang-tidy] fix performance-* warnings
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/addons/gui/skin/SkinTimer.cpp
  xbmc/addons/gui/skin/SkinTimer.h
  xbmc/platform/android/speech/SpeechRecognitionListenerAndroid.cpp
  xbmc/utils/URIUtils.cpp
Labels: Type: Fix, v20 Nexus
