Repository xbmc/xbmc, pull requests merged in 2023-10, with the labels that each got.

#23843 [guilib] let oninfo propagate from the item to the container if the c…
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v21 Omega

#23849 [docs] minors for streamdetails
  xbmc/cores/VideoPlayer/DVDFileInfo.h
Labels: Type: Improvement, Documentation, v21 Omega

#23844 [windows] Fix CGUIMediaWindow::WaitGetDirectoryItems to leave 'wait f…
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Backport: Done, v21 Omega

#23845 [Nexus][windows] Fix CGUIMediaWindow::WaitGetDirectoryItems to leave 'wait f…
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus

#23848 [listproviders][video][PVR][utils][builtins] Fix and Refactor Video Select Actions
  addons/resource.language.en_gb/resources/strings.po
  cmake/treedata/common/video.txt
  xbmc/FileItem.cpp
  xbmc/application/ApplicationStackHelper.cpp
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
  xbmc/pvr/guilib/PVRGUIActionsPlayback.h
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/video/ContextMenus.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/video/VideoUtils.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/guilib/CMakeLists.txt
  xbmc/video/guilib/VideoSelectAction.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/guilib/VideoSelectActionProcessor.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Component: PVR, Component: Video, Component: Strings, v21 Omega

#23852 Revert "[docs] Fix for-the-badge badges"
  README.md
  docs/CONTRIBUTING.md
Labels: Type: Improvement, Documentation, Component: Documentation, v21 Omega

#23850 Add infolabels for video width and height
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Type: Improvement, Component: GUI engine, v21 Omega

#23853 [cmake] windows remove superfluous installdata
  cmake/installdata/windows/addons.txt
Labels: Type: Cleanup, CMake, v21 Omega

#23770 [macos][depends] Add Smctemp to depends
  cmake/modules/FindSmctemp.cmake
  cmake/platform/osx/osx.cmake
  tools/depends/target/Makefile
  tools/depends/target/smctemp/Makefile
  tools/depends/target/smctemp/SMCTEMP-VERSION
  xbmc/platform/darwin/osx/CMakeLists.txt
  xbmc/platform/darwin/osx/CPUInfoOsx.cpp
  xbmc/platform/darwin/osx/GPUInfoMacOS.cpp
  xbmc/platform/darwin/osx/smc.c
  xbmc/platform/darwin/osx/smc.h
  xbmc/utils/test/TestCPUInfo.cpp
  xbmc/utils/test/TestGPUInfo.cpp
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Platform: macOS, Component: Depends, v21 Omega

#23860 [macos][input] Support NSEnterCharacter for XBMCK_RETURN
  xbmc/windowing/osx/WinEventsOSXImpl.mm
Labels: Type: Improvement, Platform: macOS, Component: Input, hacktoberfest-accepted, v21 Omega

#23857 [favourites][listproviders] Add support for Video Select Actions for Favourites
  xbmc/FileItem.cpp
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/utils/ExecString.cpp
  xbmc/utils/ExecString.h
Labels: Type: Improvement, v21 Omega, Component: Favourites

#23834 [webOS] Acb (webOS 4.x) support
  cmake/modules/FindAcbAPI.cmake
  cmake/platform/linux/webos.cmake
  cmake/scripts/webos/Install.cmake
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.h
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.h
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Feature, Component: Video, Component: Video rendering, v21 Omega, Platform: webOS

#23847 [webOS] Fix timezone reading
  xbmc/platform/posix/PosixTimezone.cpp
  xbmc/platform/posix/PosixTimezone.h
Labels: Type: Fix, Component: Settings, Platform: Linux, v21 Omega, Platform: webOS

#23851 [cmake] FindRapidJSON update to newer module standards
  CMakeLists.txt
  cmake/modules/FindRapidJSON.cmake
  tools/depends/target/rapidjson/002-cmake-standardise_config_installpath.patch
  tools/depends/target/rapidjson/003-cmake-removedocs-examples.patch
  tools/depends/target/rapidjson/004-win-arm64.patch
  tools/depends/target/rapidjson/Makefile
Labels: CMake, v21 Omega

#23837 Build curl without libpsl dependency
  tools/depends/target/curl/Makefile
Labels: Type: Improvement, Component: Depends, v21 Omega, Platform: webOS

#23830 [Android] Neon is being enabled by default
  cmake/scripts/android/ArchSetup.cmake
  tools/depends/configure.ac
Labels: Platform: Android, Component: Build, v21 Omega

#23863 [settings][video][PVR][listproviders][favourites] Add default play action setting.
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/settings/Settings.h
  xbmc/video/guilib/CMakeLists.txt
  xbmc/video/guilib/VideoPlayAction.h
  xbmc/video/guilib/VideoPlayActionProcessor.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Cleanup, Type: Improvement, Component: PVR, Component: Video, Component: Settings, v21 Omega, Component: Favourites

#23861 [Estuary][Estouchy] Retire Favourites dialog, use Favourites window instead.
  addons/skin.estouchy/media/DefaultFavourites.png
  addons/skin.estouchy/media/icon_breadcrumb_favourites.png
  addons/skin.estouchy/xml/DialogFavourites.xml
  addons/skin.estouchy/xml/FileManager.xml
  addons/skin.estouchy/xml/Includes.xml
  addons/skin.estouchy/xml/MyFavourites.xml
  addons/skin.estouchy/xml/MyWeather.xml
  addons/skin.estouchy/xml/Settings.xml
  addons/skin.estouchy/xml/SettingsCategory.xml
  addons/skin.estouchy/xml/SettingsProfile.xml
  addons/skin.estouchy/xml/SkinSettings.xml
  addons/skin.estouchy/xml/ViewsList.xml
  addons/skin.estouchy/xml/ViewsThumbnail.xml
  addons/skin.estuary/xml/DialogFavourites.xml
  addons/skin.estuary/xml/Includes.xml
Labels: Type: Cleanup, Type: Improvement, Component: Skin, v21 Omega

#23862 [favourites] Remove CGUIDialogFavourites.
  xbmc/favourites/CMakeLists.txt
  xbmc/favourites/GUIDialogFavourites.cpp
  xbmc/favourites/GUIDialogFavourites.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
Labels: Type: Cleanup, Type: Breaking change, v21 Omega, Component: Favourites

#22990 [macOS] Drop SDL windowing implementation
  cmake/modules/FindSdl.cmake
  cmake/platform/osx/osx.cmake
  cmake/treedata/osx/subdirs.txt
  docs/README.macOS.md
  tools/buildsteps/osx-arm64/configure-xbmc
  tools/depends/Makefile.include.in
  tools/depends/configure.ac
  tools/depends/target/Makefile
  tools/depends/target/cmakebuildsys/Makefile
  tools/depends/target/libsdl/01-SDL_SetWidthHeight.patch
  tools/depends/target/libsdl/02-OSX_interpretKeyEvents.patch
  tools/depends/target/libsdl/03-mavericks-compile.patch
  tools/depends/target/libsdl/04-fix_external_screen_crash.patch
  tools/depends/target/libsdl/Makefile
  xbmc/application/Application.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVTBGL.cpp
  xbmc/platform/darwin/osx/CocoaInterface.h
  xbmc/platform/darwin/osx/CocoaInterface.mm
  xbmc/platform/darwin/osx/SDL/CMakeLists.txt
  xbmc/platform/darwin/osx/SDL/OSXTextInputResponder.h
  xbmc/platform/darwin/osx/SDL/OSXTextInputResponder.mm
  xbmc/platform/darwin/osx/SDL/SDLMain.mm
  xbmc/platform/posix/main.cpp
  xbmc/windowing/osx/CMakeLists.txt
  xbmc/windowing/osx/OpenGL/CMakeLists.txt
  xbmc/windowing/osx/OpenGL/WinSystemOSXGL.h
  xbmc/windowing/osx/SDL/CMakeLists.txt
  xbmc/windowing/osx/SDL/WinEventsSDL.cpp
  xbmc/windowing/osx/SDL/WinEventsSDL.h
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.h
  xbmc/windowing/osx/SDL/WinSystemOSXSDL.mm
Labels: Type: Cleanup, Platform: macOS, Roadmap, Component: Windowing, v21 Omega

#23876 [cmake] Refactor and simplify FindFmt.cmake
  CMakeLists.txt
  cmake/modules/FindFmt.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: CMake, v21 Omega

#23881 [fileitem] Fix playlist favourites not working as expected
  xbmc/FileItem.cpp
Labels: Type: Fix, v21 Omega

#23864 CAddonSettings: Prevent reference cycle with CAddon
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/addons/settings/AddonSettings.h
Labels: Type: Fix, Component: Add-ons, v21 Omega

#23880 [macos][cocoainterface] Address deprecations
  xbmc/platform/darwin/osx/CocoaInterface.mm
Labels: Type: Improvement, Platform: macOS, v21 Omega

#23883 [VideoPlayer] Updates audio/video queues for nowadays maximum bitrates
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Type: Improvement, Component: Players, v21 Omega

#23891 [cmake][linux] remove unused variables
  cmake/scripts/linux/Install.cmake
Labels: CMake, v21 Omega

#23885 [favourites] Fix CFavouritesService::IsFavourited to only compare man…
  xbmc/favourites/FavouritesService.cpp
  xbmc/favourites/FavouritesService.h
Labels: Type: Fix, v21 Omega, Component: Favourites

#23894 [video] Fix 'Play using' and external default player not working.
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23890 [Teletext] Only override the language code from header if it is actua…
  xbmc/cores/VideoPlayer/VideoPlayerTeletext.cpp
Labels: Type: Fix, v21 Omega, Component: Teletext

#23896 [GUIDialogTeletext] Mark dirty if data has changed in the decoder
  xbmc/video/Teletext.cpp
  xbmc/video/Teletext.h
  xbmc/video/dialogs/GUIDialogTeletext.cpp
Labels: Type: Fix, Type: Improvement, v21 Omega, Component: Teletext

#23895 [favourites] Add selected items of the target to favourite's context menu
  addons/resource.language.en_gb/resources/strings.po
  cmake/treedata/common/subdirs.txt
  xbmc/ContextMenuManager.cpp
  xbmc/ContextMenuManager.h
  xbmc/ContextMenus.cpp
  xbmc/FileItem.cpp
  xbmc/favourites/ContextMenus.cpp
  xbmc/favourites/ContextMenus.h
  xbmc/favourites/FavouritesService.cpp
  xbmc/favourites/FavouritesService.h
  xbmc/favourites/FavouritesUtils.cpp
  xbmc/favourites/FavouritesUtils.h
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/utils/guilib/CMakeLists.txt
  xbmc/utils/guilib/GUIContentUtils.cpp
  xbmc/utils/guilib/GUIContentUtils.h
Labels: Type: Improvement, v21 Omega, Component: Favourites

#23902 [video] CGUIWindowVideoBase: Fix CVideoSelectActionProcessor::OnResumeSelected
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23666 Translations update from Kodi Weblate
  addons/skin.estouchy/language/resource.language.hu_hu/strings.po
  addons/skin.estouchy/language/resource.language.sk_sk/strings.po
  addons/skin.estuary/language/resource.language.cs_cz/strings.po
  addons/skin.estuary/language/resource.language.es_mx/strings.po
  addons/skin.estuary/language/resource.language.fi_fi/strings.po
  addons/skin.estuary/language/resource.language.pt_br/strings.po
  addons/skin.estuary/language/resource.language.sk_sk/strings.po
Labels: Component: Strings, v21 Omega

#23905 [video] Fix play/resume of DB and DVD disc images not working from Homescreen widgets
  xbmc/FileItem.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23888 [Android][docs] Install NDK using Android SDK Manager
  docs/README.Android.md
Labels: Platform: Android, Documentation, v21 Omega

#23901 [video][music] Migrate 'Play using...' to "new" context menu system.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/ContextMenuManager.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/music/ContextMenus.cpp
  xbmc/music/ContextMenus.h
  xbmc/music/MusicUtils.cpp
  xbmc/music/MusicUtils.h
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/VideoUtils.cpp
  xbmc/video/VideoUtils.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
Labels: Type: Improvement, Component: Music, Component: Video, v21 Omega

#23906 [webOS] Acb: Install empty dummy library
  cmake/modules/FindAcbAPI.cmake
  cmake/scripts/webos/Install.cmake
Labels: Type: Fix, Component: Video, v21 Omega, Platform: webOS

#23910 [upnp] Fix upnp thumbs when using Kodi as a renderer
  xbmc/network/upnp/UPnPInternal.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#23915 [video][music] Migrate last pieces of 'Browse into' to new context menu system.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/music/ContextMenus.cpp
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.h
  xbmc/video/ContextMenus.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIMediaWindow.h
Labels: Type: Cleanup, Type: Improvement, Component: Music, Component: Video, v21 Omega

#23916 [upnp] clang-format UPnPInternal.cpp
  xbmc/network/upnp/UPnPInternal.cpp
Labels: Type: Cleanup, Component: UPnP, v21 Omega

#23912 [cmake] FindIconv dont add target if libc is the detected provider for iconv
  cmake/modules/FindIconv.cmake
Labels: CMake, v21 Omega

#23913 [cmake] FindOpenGLES add IMPORTED_NO_SONAME property
  cmake/modules/FindOpenGLES.cmake
Labels: Platform: Linux, CMake, v21 Omega

#23919 [video][music] Hide play-related context menu items for party mode pl…
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Music, Component: Video, v21 Omega

#23923 [cores] Fix external player not recognized as default player.
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
Labels: Type: Fix, Component: Players, v21 Omega

#23805 [webOS] Set required memory
  tools/webOS/packaging/appinfo.json.in
Labels: Type: Fix, Component: Application, v21 Omega, Platform: webOS

#23925 [favourites] Fix context menu item 'play' and 'resume' not working.
  xbmc/favourites/ContextMenus.cpp
Labels: Type: Fix, v21 Omega, Component: Favourites

#23920 add missing c++ headers
  xbmc/addons/AddonUpdateRules.cpp
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/interfaces/json-rpc/TextureOperations.cpp
  xbmc/utils/EGLImage.cpp
  xbmc/windowing/gbm/drm/DRMConnector.cpp
  xbmc/windowing/gbm/drm/DRMPlane.cpp
Labels: Type: Fix, v21 Omega

#23918 changed: Redact paths in audio/video error toasts
  xbmc/music/MusicDatabase.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Backport: Needed, v21 Omega

#23924 [favourites][listproviders] Favourites: Add support for action 'info'.
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/listproviders/DirectoryProvider.cpp
Labels: Type: Cleanup, Type: Improvement, v21 Omega, Component: Favourites

#23789 fix python XBMCAddon::xbmcgui::Window::onAction() action.getButtonCode()
  xbmc/input/InputManager.cpp
  xbmc/input/actions/Action.cpp
  xbmc/input/actions/Action.h
Labels: Type: Fix, Component: Input, v21 Omega

#23930 [fileitem][pvr] Fix context menu item "information" not working...
  xbmc/FileItem.cpp
  xbmc/pvr/guilib/PVRGUIActionsUtils.cpp
  xbmc/pvr/guilib/PVRGUIActionsUtils.h
  xbmc/utils/guilib/GUIContentUtils.cpp
Labels: Type: Fix, Type: Cleanup, Component: PVR, v21 Omega, Component: Favourites

#23931 [application] Fix bd selection menu shown when external player is used.
  xbmc/application/Application.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.h
Labels: Type: Fix, Component: Video, v21 Omega

#23854 [webOS] Pause video on minimize
  xbmc/windowing/wayland/ShellSurfaceWebOSShell.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Improvement, Component: Windowing, v21 Omega, Platform: webOS

#23893 [Windows][UWP] VSync Detection Fixes and Improvements
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/windowing/windows/VideoSyncD3D.cpp
  xbmc/windowing/windows/VideoSyncD3D.h
Labels: Type: Fix, Type: Improvement, Component: Video rendering, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#23932 [PVR] Fix 'switch to previous channel' not working if it is in anothe…
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#23939 [fileitem] Fix mimetype not set/updated properly on loading details.
  xbmc/FileItem.cpp
  xbmc/FileItem.h
Labels: Type: Fix, v21 Omega

#23938 [wayland][input] Remove dead code
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
  xbmc/windowing/wayland/XkbcommonKeymap.h
Labels: Type: Cleanup, Platform: Linux, Component: Input, v21 Omega

#23917 [webOS] Renderer: Fix render region
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.cpp
Labels: Type: Fix, Component: Video rendering, v21 Omega, Platform: webOS

#23946 [favourites] Fix crash on moving items in favourites widget and favourites window.
  xbmc/favourites/ContextMenus.cpp
  xbmc/favourites/FavouritesService.cpp
  xbmc/favourites/FavouritesUtils.cpp
Labels: Type: Fix, v21 Omega, Component: Favourites

#23872 [Android] Clang -march flag is not needed
  tools/depends/configure.ac
Labels: Platform: Android, Component: Build, v21 Omega

#23941 [clang-tidy] fix performance-* warnings
  xbmc/favourites/ContextMenus.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/pvr/guilib/PVRGUIActionsUtils.cpp
  xbmc/video/VideoChapterImageFileLoader.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, v21 Omega

#23886 CPlatformFreebsd: use app params to set audio backend
  cmake/scripts/freebsd/ArchSetup.cmake
  tools/Linux/kodi.sh.in
  xbmc/platform/freebsd/PlatformFreebsd.cpp
Labels: Type: Improvement, Component: Audio, Platform: FreeBSD, v21 Omega

#23870 CNetworkPosix: implement ping using sockets instead of system call to ping
  xbmc/network/test/CMakeLists.txt
  xbmc/network/test/TestNetwork.cpp
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/win32/PlatformDefs.h
Labels: Type: Improvement, Platform: Linux, Component: Network, v21 Omega

#23711 [uPnP] Fix playback of files accessed with curl (ftp, http, ...)
  xbmc/filesystem/NptXbmcFile.cpp
Labels: Type: Fix, Backport: Needed, Component: UPnP, v21 Omega

#23839 [Android][FFmpeg] flag --enable-neon has no actual effects on Android targets
  tools/depends/target/ffmpeg/Makefile
Labels: Platform: Android, Component: Build, v21 Omega

#23078 [rendering] use default luminance for tone mapping of streams with bad metadata
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ToneMappers.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ToneMappers.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
Labels: Type: Fix, Component: Video rendering, Platform: Linux, Platform: Windows, Platform: WindowsStore, v21 Omega

#23827 [Eventlog] fix eventlog messages
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, Component: Logging, v21 Omega

#23955 [cmake] FindPulseAudio fix compile definition
  cmake/modules/FindPulseAudio.cmake
Labels: Platform: Linux, CMake, v21 Omega

#23948 [Omega] Beta1
  media/splash.jpg
  media/splash_webOS.png
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: Type: Feature, v21 Omega

#23954 [webOS] Platform: Fix HOME variable append
  xbmc/platform/linux/PlatformLinux.cpp
Labels: Type: Fix, Component: System, v21 Omega, Platform: webOS

#23967 [cores] Fix CDVDInputStreamBluray::Open check for item being resumable.
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
Labels: Type: Fix, Component: Players, v21 Omega

#23961 [playlistplayer] Fix PVR items not handled correctly. Those need to b…
  xbmc/PlayListPlayer.cpp
Labels: Type: Fix, v21 Omega

#23969 [video] CGUIWindowVideoBase::OnItemInfo: Skip check whether a video i…
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23926 [GUI][Skins] Bump to xbmc.gui 5.17.0
  addons/skin.estouchy/addon.xml
  addons/skin.estuary/addon.xml
  addons/xbmc.gui/addon.xml
Labels: Component: GUI engine, Component: Skin, v21 Omega

#23971 [PVR] Fix playing channel not always highlighted in dialogs/windows.
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#23972 [interfaces] Fix PVR channel playback from remote app 'favourites'
  xbmc/PlayListPlayer.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Fix, Component: PVR, v21 Omega

#23983 [video] Fix 'Play using' offering RetroPlayer for playback of iso bd/dvd disc images.
  xbmc/video/ContextMenus.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23980 [video] Fix CVideoDatabase::GetMusicVideosByWhere to set dyn path …
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23982 [tools/depends] Bump wayland related dependencies
  tools/depends/native/Makefile
  tools/depends/native/wayland-scanner/Makefile
  tools/depends/native/wayland-scanner/WAYLAND-SCANNER-VERSION
  tools/depends/native/waylandpp-scanner/Makefile
  tools/depends/native/waylandpp-scanner/WAYLANDPP-SCANNER-VERSION
  tools/depends/target/Makefile
  tools/depends/target/wayland-protocols/Makefile
  tools/depends/target/wayland/Makefile
  tools/depends/target/wayland/WAYLAND-VERSION
  tools/depends/target/waylandpp/Makefile
  tools/depends/target/waylandpp/WAYLANDPP-VERSION
Labels: Platform: Linux, Component: Depends, v21 Omega, Platform: webOS

#23976 Fix Visual Studio warnings
  xbmc/rendering/RenderSystem.cpp
  xbmc/windows/GUIWindowSplash.cpp
Labels: Type: Fix, v21 Omega

#23985 [PVR] Fix/Improve recently played channels widget (e.g. respect hidden groups and channels).
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#23988 [Windows] Disable video settings not supported by the DXVA processor.
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
Labels: Type: Fix, Component: Settings, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#23949 [tvos] Resolve some build issues with Xcode 15
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  tools/darwin/Support/copyframeworks-darwin_embedded.command
  tools/depends/configure.ac
  tools/depends/target/Makefile
  tools/depends/target/Toolchain.cmake.in
  tools/depends/target/boblight/01-fix_fpermissive.patch
  tools/depends/target/boblight/02-fixandroid.patch
  tools/depends/target/boblight/03-fixtvos.patch
  tools/depends/target/boblight/Makefile
Labels: Platform: tvOS, v21 Omega

#23877 [cmake] Create FindPythonInterpreter for host information
  cmake/modules/FindPython.cmake
  cmake/modules/buildtools/FindPythonInterpreter.cmake
  cmake/scripts/linux/Install.cmake
Labels: CMake, v21 Omega

#23998 [docs] Coding guidelines changes
  docs/CODE_GUIDELINES.md
Labels: Type: Cleanup, Component: Documentation, v21 Omega

#23997 [cmake] add ${CORE_PLATFORM_NAME_LC}_SEARCH_CONFIG NO_DEFAULT_PATH for windows
  cmake/platform/windows/windows.cmake
  cmake/platform/windowsstore/windowsstore.cmake
Labels: Platform: Windows, CMake, Platform: WindowsStore, v21 Omega

#23806 Switch remote poweroff button behaviour to show shutdown menu, like on keyboards
  system/keymaps/remote.xml
Labels: Type: Improvement, Component: Input, v21 Omega

#23995 [tools/depends] Bump Python 3.11.6
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/target/python3/PYTHON3-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega, Platform: webOS

#23973 VDPAU: fix hq scalers
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererVDPAU.cpp
Labels: Type: Fix, Component: Video, Platform: Linux, v21 Omega

#23979 Format GUIControlFactory.cpp/h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIControlFactory.h
Labels: Type: Improvement, Component: GUI engine, hacktoberfest-accepted, v21 Omega

#24002 [python][window] Delete pcontrol after SendGUIMessage
  xbmc/interfaces/legacy/Window.cpp
Labels: Type: Fix, v21 Omega

#24008 [upnp] Alternative fix for serving smartplaylists via upnp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/playlists/PlayListFactory.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24004 [docs] Coding guideline: Add, that we are using prefix operators in t…
  docs/CODE_GUIDELINES.md
Labels: Type: Fix, Component: Documentation, v21 Omega

#23994 [depends][Python] Set setuptools library suffix
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pycryptodome/Makefile
Labels: Type: Fix, Component: Depends, v21 Omega, Platform: webOS

#23996 Don't flush ffmpeg buffers if it holds any refs on close
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.h
Labels: Type: Fix, Component: Video, v21 Omega

#24017 [Estuary] OSD showing wrong value for ‘Next’ programme when playing radio.
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24000 [Estuary] Fix home categories focus position
  addons/skin.estuary/xml/Includes_Home.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#23943 [wayland][input] Add xkb compose and dead-keys support
  xbmc/guilib/GUIEditControl.cpp
  xbmc/guilib/GUIEditControl.h
  xbmc/input/InputManager.cpp
  xbmc/input/XBMC_keysym.h
  xbmc/input/actions/ActionIDs.h
  xbmc/windowing/XBMC_events.h
  xbmc/windowing/wayland/InputProcessorKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.h
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
  xbmc/windowing/wayland/XkbcommonKeymap.h
Labels: Type: Feature, Type: Improvement, Platform: Linux, Component: Input, v21 Omega

#24024 Fix 'Shift' view for Collections
  addons/skin.estuary/xml/View_53_Shift.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24025 [video][music][interfaces][fileitem] STRM file fixes
  xbmc/FileItem.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/playlists/PlayList.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Music, Component: Video, v21 Omega

#24019 [FileSystem] Add GUI settings for NFS and SMB chunk size
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/filesystem/NFSFile.cpp
  xbmc/platform/posix/filesystem/SMBFile.cpp
  xbmc/platform/posix/filesystem/SMBFile.h
  xbmc/platform/win32/filesystem/Win32File.cpp
  xbmc/settings/CMakeLists.txt
  xbmc/settings/ServicesSettings.cpp
  xbmc/settings/ServicesSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Type: Feature, Type: Fix, Wiki: Needed, Component: Settings, Component: FileSystem, v21 Omega

#23987 Fix controller not rendering for copied gamecontroller controls
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
Labels: Type: Fix, Component: GUI engine, Component: Input, Component: Games, hacktoberfest-accepted, v21 Omega

#24028 [GUI] [Skins] Add locale InfoLabels for Skins
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Type: Feature, Component: GUI engine, v21 Omega
