Repository xbmc/xbmc, pull requests merged in 2023-03, with the labels that each got.

#22878 [Android] bump Gson 2.10.1
  tools/android/packaging/xbmc/build.gradle.in
Labels: Platform: Android, Component: Depends, v21 Omega

#22850 [backport][Valgrind] Fix some jumps depending on uninitialized values
  xbmc/XBDateTime.cpp
  xbmc/addons/VFSEntry.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.h
  xbmc/filesystem/ZipFile.cpp
  xbmc/pictures/SlideShowPicture.h
  xbmc/platform/posix/filesystem/PosixFile.cpp
  xbmc/platform/win10/filesystem/WinLibraryFile.cpp
  xbmc/platform/win32/filesystem/Win32File.cpp
  xbmc/test/TestDateTime.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus

#22841 [gui, skin] When theme changes, also change to matching fontset
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/interfaces/builtins/SkinBuiltins.cpp
Labels: Type: Improvement, Component: Skin, v21 Omega

#22873 [cmake][addons] Group sources by folder
  cmake/scripts/common/AddonHelpers.cmake
Labels: Type: Improvement, Component: Binary add-ons, CMake, v21 Omega

#22861 guilib: Fix warning in GUIListGroup control
  xbmc/guilib/GUIControl.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIListGroup.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v21 Omega

#22887 [Backport] guilib: Fix warning in GUIListGroup control
  xbmc/guilib/GUIControl.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIListGroup.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v20 Nexus

#22454 Fix infinite loops in CPluginFile
  xbmc/filesystem/PluginFile.cpp
  xbmc/filesystem/PluginFile.h
Labels: Type: Fix, Backport: Needed, Component: Add-ons, v21 Omega

#22867 Compability with linux kernels < 4.4
  xbmc/windowing/wayland/InputProcessorPointer.cpp
  xbmc/windowing/wayland/WindowDecorator.cpp
Labels: Type: Fix, Platform: Linux, Component: Windowing, v20 Nexus

#22856 Peripheral API v3.0.0: Show "actual" controllers in the UI
  addons/resource.language.en_gb/resources/strings.po
  system/peripherals.xml
  xbmc/ServiceManager.cpp
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Peripheral.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/peripheral.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/games/controllers/ControllerManager.cpp
  xbmc/games/controllers/ControllerManager.h
  xbmc/input/joysticks/interfaces/IButtonMap.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/addons/AddonButtonMap.cpp
  xbmc/peripherals/addons/AddonButtonMap.h
  xbmc/peripherals/addons/PeripheralAddon.cpp
  xbmc/peripherals/addons/PeripheralAddon.h
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/devices/Peripheral.h
  xbmc/peripherals/devices/PeripheralJoystick.cpp
  xbmc/peripherals/devices/PeripheralJoystick.h
  xbmc/peripherals/devices/PeripheralKeyboard.cpp
  xbmc/peripherals/devices/PeripheralMouse.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.h
  xbmc/peripherals/dialogs/GUIDialogPeripherals.cpp
Labels: Type: Feature, Component: Input, Component: Games, v21 Omega

#22860 Controller Dialog: Fix "Ignore Input" buttons not being saved
  xbmc/input/joysticks/interfaces/IButtonMapper.h
  xbmc/peripherals/addons/AddonButtonMapping.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, Component: Games, v21 Omega

#22882 [Android] Fix Color range mapping in MediaCodec
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Platform: Android, v21 Omega

#22898 [addons] Fixup versioncheck addon.xml manifest
  addons/service.xbmc.versioncheck/addon.xml
Labels: Type: Fix, Component: Add-ons, v21 Omega

#22902 [video] Fix watched status not taken into account when queueing items.
  xbmc/filesystem/VideoDatabaseDirectory.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNode.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Fix, Backport: Done, Component: Video, v21 Omega

#22895 [Skin][Estuary] Fix player settings adjustments if autoclose video osd is active
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/Timers.xml
Labels: Type: Fix, Backport: Needed, Component: Skin, v21 Omega

#22903 [video] Fix watched status not taken into account when queueing items.
  xbmc/filesystem/VideoDatabaseDirectory.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNode.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus

#22904 [backport][Skin][Estuary] Fix player settings adjustments if autoclose video osd is active
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/Timers.xml
Labels: Type: Fix, Component: Skin, Type: Backport, v20 Nexus

#22820 CPipewireGlobal: add class to help with registry globals
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireGlobal.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireGlobal.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.h
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22905 AESinkAudioTrack: Revert sanity checking
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, Platform: Android, Component: Audio, v20 Nexus

#22897 NFSv3 and NFSv4 fixes and improvements
  xbmc/filesystem/NFSFile.cpp
Labels: Type: Fix, Type: Improvement, Backport: Needed, Component: FileSystem, v21 Omega

#22908 [Windows][Installer] fix the missing .html files of Chorus2 with proper exclusion of .h
  tools/buildsteps/windows/BuildSetup.bat
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: Build, v20 Nexus

#22877 Update libiconv to 1.17
  tools/depends/target/libiconv/Makefile
Labels: Type: Improvement, Component: Depends, v21 Omega

#22912 [Addons] Having no repos is no error
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonRepos.cpp
Labels: Type: Improvement, Backport: Needed, Component: Add-ons, v21 Omega

#22876 Update gettext to v0.21.1
  tools/depends/target/gettext/Makefile
Labels: Type: Improvement, Component: Depends, v21 Omega

#22916 [Addons] Having no repos is no error
  xbmc/addons/AddonDatabase.cpp
  xbmc/addons/AddonRepos.cpp
Labels: Type: Improvement, Component: Add-ons, Type: Backport, v20 Nexus

#22913 [Windows] fix: convert display setting to friendly name only for connected screens
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Fix, Component: Settings, Platform: Windows, v21 Omega

#22914 [ffmpeg] Disable Vulkan code
  tools/depends/target/ffmpeg/CMakeLists.txt
Labels: Component: Depends, v21 Omega

#22910 Update/libasound 1.2.8
  tools/depends/target/alsa-lib/Makefile
Labels: Platform: Linux, Component: Depends, v21 Omega

#22909 [backport] NFSv3 and NFSv4 fixes and improvements
  xbmc/filesystem/NFSFile.cpp
Labels: Type: Fix, Type: Backport, Component: FileSystem, v20 Nexus

#22893 [Backport] Controller Dialog: Fix "Ignore Input" buttons not being saved
  xbmc/input/joysticks/interfaces/IButtonMapper.h
  xbmc/peripherals/addons/AddonButtonMapping.cpp
Labels: Type: Fix, Component: Input, Type: Backport, Component: Games, v20 Nexus

#22926 [cmake] pipewire: set minimum version to 0.3.50
  cmake/modules/FindPipewire.cmake
Labels: Type: Fix, Platform: Linux, Component: Audio, CMake, v21 Omega

#22892 [Backport] Fixes and improvements from "show actual controllers" PR
  addons/resource.language.en_gb/resources/strings.po
  system/peripherals.xml
  xbmc/ServiceManager.cpp
  xbmc/games/controllers/ControllerManager.cpp
  xbmc/games/controllers/ControllerManager.h
  xbmc/input/joysticks/interfaces/IButtonMap.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/addons/AddonButtonMap.cpp
  xbmc/peripherals/addons/AddonButtonMap.h
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/devices/Peripheral.h
  xbmc/peripherals/devices/PeripheralJoystick.cpp
  xbmc/peripherals/devices/PeripheralJoystick.h
  xbmc/peripherals/devices/PeripheralKeyboard.cpp
  xbmc/peripherals/devices/PeripheralMouse.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.h
  xbmc/peripherals/dialogs/GUIDialogPeripherals.cpp
Labels: Type: Fix, Type: Improvement, Component: Input, Type: Backport, Component: Games, v20 Nexus

#22907 Revert "AESinkAudioTrack: Use most simple pause() logic"
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, Component: Audio, v20 Nexus

#22931 Revert "[tools/depends][target] introduce libunibreak"
  tools/depends/target/Makefile
  tools/depends/target/libunibreak/LIBUNIBREAK-VERSION
  tools/depends/target/libunibreak/Makefile
Labels: Component: Depends, v21 Omega

#22880 Update libxbcommon to 1.5.0
  tools/depends/target/libxkbcommon/Makefile
Labels: Type: Improvement, Component: Depends, v21 Omega

#22939 [tools/depends][target] gnutls apply clang patch to android platform
  tools/depends/target/gnutls/Makefile
Labels: Platform: Android, Component: Depends, v21 Omega

#22938 [tools/depends][target] samba patch innetgr check
  tools/depends/target/samba-gplv3/07-innetgr-check.patch
  tools/depends/target/samba-gplv3/Makefile
Labels: Platform: Android, Component: Depends, v21 Omega

#22942 [Windows][dxva] fix processor height
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#22943 AESinkAudioTrack: Restore old RAW behaviour
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, Component: Audio, v21 Omega

#22944 [cmake] pipewire: actually set minimum version to 0.3.50
  CMakeLists.txt
Labels: Type: Fix, Platform: Linux, CMake, Component: Build, v21 Omega

#22920 [Windows] Fix SMB read chunk size when is not used FileCache
  xbmc/platform/win32/filesystem/Win32File.cpp
  xbmc/platform/win32/filesystem/Win32File.h
Labels: Type: Fix, Backport: Done, Platform: Windows, Component: FileSystem, v21 Omega

#22945 ActiveAESink: workaround for TrueHD and DD+ broken after pause or seek in AudioTrack RAW (Android only)
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
Labels: Type: Fix, Type: Partial backport, Component: Audio, v20 Nexus

#22927 Sync controller add-ons with controller-topology-project
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.ar_sa/strings.po
  addons/game.controller.default/resources/language/resource.language.de_de/strings.po
  addons/game.controller.default/resources/language/resource.language.es_es/strings.po
  addons/game.controller.default/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.default/resources/language/resource.language.ja_jp/strings.po
  addons/game.controller.default/resources/language/resource.language.lv_lv/strings.po
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.keyboard/addon.xml
  addons/game.controller.keyboard/resources/language/resource.language.de_de/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.es_es/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.eu_es/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.mouse/addon.xml
  addons/game.controller.mouse/resources/language/resource.language.de_de/strings.po
  addons/game.controller.mouse/resources/language/resource.language.es_es/strings.po
  addons/game.controller.mouse/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.mouse/resources/language/resource.language.pl_pl/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.ar_sa/strings.po
  addons/game.controller.snes/resources/language/resource.language.es_es/strings.po
  addons/game.controller.snes/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.hr_hr/strings.po
  addons/game.controller.snes/resources/language/resource.language.ja_jp/strings.po
  addons/game.controller.snes/resources/language/resource.language.lv_lv/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
Labels: Type: Improvement, Backport: Done, Component: Add-ons, Component: Input, Component: Games, v21 Omega

#22928 [Backport] Sync controller add-ons with controller-topology-project
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.ar_sa/strings.po
  addons/game.controller.default/resources/language/resource.language.de_de/strings.po
  addons/game.controller.default/resources/language/resource.language.es_es/strings.po
  addons/game.controller.default/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.default/resources/language/resource.language.ja_jp/strings.po
  addons/game.controller.default/resources/language/resource.language.lv_lv/strings.po
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.keyboard/addon.xml
  addons/game.controller.keyboard/resources/language/resource.language.de_de/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.es_es/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.eu_es/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.mouse/addon.xml
  addons/game.controller.mouse/resources/language/resource.language.de_de/strings.po
  addons/game.controller.mouse/resources/language/resource.language.es_es/strings.po
  addons/game.controller.mouse/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.mouse/resources/language/resource.language.pl_pl/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.ar_sa/strings.po
  addons/game.controller.snes/resources/language/resource.language.es_es/strings.po
  addons/game.controller.snes/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.hr_hr/strings.po
  addons/game.controller.snes/resources/language/resource.language.ja_jp/strings.po
  addons/game.controller.snes/resources/language/resource.language.lv_lv/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
Labels: Type: Improvement, Component: Add-ons, Component: Input, Type: Backport, Component: Games, v20 Nexus

#22946 [Windows] Fix SMB read chunk size when is not used FileCache
  xbmc/platform/win32/filesystem/Win32File.cpp
  xbmc/platform/win32/filesystem/Win32File.h
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: FileSystem, v20 Nexus

#22950 [Android] Use dolby-vision codec if supported by the device
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Android, v21 Omega

#22953 [Cmake][android] Add target support to add_bundle_file function
  cmake/scripts/android/Install.cmake
Labels: Platform: Android, CMake, v21 Omega

#22937 [Android] Simplify switch case statements and map AVCOL_TRC_BT709 in …
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Component: Video, Platform: Android, v21 Omega

#22852 Add binary addons clean documentation
  docs/README.Android.md
  docs/README.FreeBSD.md
  docs/README.Linux.md
Labels: Component: Binary add-ons, Documentation, v21 Omega

#22951 [Android] Packaging scripts cleanup
  cmake/scripts/android/Install.cmake
  tools/android/packaging/Makefile.in
Labels: Type: Cleanup, Platform: Android, v21 Omega

#22940 [Tools/depends] Build libass static only, Update android packaging
  cmake/modules/FindASS.cmake
  cmake/scripts/android/Install.cmake
  tools/android/packaging/Makefile.in
  tools/depends/target/libass/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega

#22858 [upnp] fix regressions for folder definitions
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Fix, Backport: Done, Component: UPnP, v21 Omega

#22859 [upnp] fix regressions for folder definitions
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus, Component: UPnP

#22958 [BP] [jenkins][Apple] Some fixes for apple buildsteps
  tools/buildsteps/ios/make-xbmc
  tools/buildsteps/ios/package
  tools/buildsteps/tvos/make-xbmc
  tools/buildsteps/tvos/package
Labels: Platform: iOS, Type: Backport, Platform: tvOS, Component: Build, v20 Nexus

#22957 [BP] VideoPlayerCodec: Stop dividing by zero
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus, Security

#22962 [BP][Windows][dxva] fix processor height
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, Platform: WindowsStore, Component: DirectX rendering, v20 Nexus

#22960 [BP] ExifParser: Fix several out of bounds accesses while parsing exif information
  xbmc/pictures/ExifParse.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus, Security

#22961 [BP][Windows] shrink window to fit the screen and avoid a crash
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Type: Fix, Backport: Done, Platform: Windows, Component: Windowing, v20 Nexus

#22304 [tools/depends][target] Bump gnutls 3.7.8
  tools/depends/target/config.site.in
  tools/depends/target/gnutls/01-macos-clang-accel.patch
  tools/depends/target/gnutls/GNUTLS-VERSION
  tools/depends/target/gnutls/Makefile
  tools/depends/target/gnutls/add-dl-as-private-lib.patch
  tools/depends/target/gnutls/android-fpending.patch
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega

#22965 [Nexus] Bump version 20.1
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v20 Nexus

#22970 [cmake] FindLibASS only add pkgconfig ldflags for KODI_DEPENDSBUILD
  cmake/modules/FindASS.cmake
Labels: CMake, v21 Omega

#22966 [tools/depends] add asflags as predefined flag option
  tools/depends/Makefile.include.in
  tools/depends/configure.ac
  tools/depends/target/Toolchain.cmake.in
  tools/depends/target/config.site.in
  tools/depends/target/libass/Makefile
Labels: Component: Depends, v21 Omega

#22906 COverlay: add static create methods
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGLES.h
Labels: Type: Improvement, Component: Video rendering, v21 Omega

#22972 [Docs] Fix Links
  docs/CODE_GUIDELINES.md
  docs/GIT-FU.md
  docs/README.Android.md
  docs/README.Linux.md
  docs/README.iOS.md
  docs/README.macOS.md
  docs/README.tvOS.md
Labels: Type: Fix, Component: Documentation, v21 Omega

#22973 [docs][doxygen] Document Skin.SelectBool builtin
  xbmc/interfaces/builtins/SkinBuiltins.cpp
Labels: Type: Fix, Type: Improvement, Component: Documentation, v21 Omega

#22976 [Estuary][MusicViz] Fix label height
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Type: Fix, Type: Improvement, Backport: Done, Component: Skin, v21 Omega

#22977 [Estuary][MusicViz] Fix label height
  addons/skin.estuary/xml/MusicVisualisation.xml
Labels: Type: Fix, Type: Improvement, Component: Skin, Type: Backport, v20 Nexus

#22974 [Settings][Screensaver] Add setting to disable screensaver while playing audio
  addons/resource.language.en_gb/resources/strings.po
  system/settings/darwin_tvos.xml
  system/settings/settings.xml
  xbmc/application/ApplicationPowerHandling.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Type: Improvement, Wiki: Needed, Component: Settings, v21 Omega

#22979 [Settings] Remove IsFullScreen complex condition
  system/settings/settings.xml
  xbmc/settings/SettingConditions.cpp
Labels: Type: Fix, Type: Improvement, Backport: Done, Component: Settings, v21 Omega

#22980 [Backport][Settings] Remove IsFullScreen complex condition
  system/settings/settings.xml
  xbmc/settings/SettingConditions.cpp
Labels: Type: Fix, Component: Settings, Type: Backport, v20 Nexus

#22984 [windowing] fix uninitialised weight
  xbmc/windowing/Resolution.cpp
Labels: Type: Fix, Backport: Needed, v21 Omega

#22964 [Windows][build ffmpeg] more robust build scripts
  tools/buildsteps/windows/make-mingwlibs.bat
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: Build, v21 Omega

#22986 [backport][windowing] fix uninitialised weight
  xbmc/windowing/Resolution.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus

#22981 [tools/depends][linux] Utilise target_platform for dependency options
  tools/depends/target/Makefile
Labels: Platform: Linux, Component: Depends, Component: Build, v21 Omega

#22988 [Android] Remove OBB expansion files
  cmake/scripts/android/Install.cmake
  tools/android/packaging/Makefile.in
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/buildsteps/android-arm64-v8a/package
  tools/buildsteps/android-x86_64/package
  tools/buildsteps/android/package
  tools/buildsteps/androidx86/package
Labels: Platform: Android, Component: Build, v21 Omega

#22889 Prepare repository.xbmc.org for Weblate
  .github/workflows/sync-addon-metadata-translations.yml
  addons/repository.xbmc.org/resources/language/resource.language.en_gb/strings.po
Labels: Component: Strings, v21 Omega

#22721 Initial support for webOS shell
  cmake/modules/FindMariaDBClient.cmake
  cmake/modules/FindPython.cmake
  cmake/modules/FindWaylandProtocolsWebOS.cmake
  cmake/platform/linux/webos.cmake
  cmake/scripts/linux/ArchSetup.cmake
  cmake/scripts/linux/ExtraTargets.cmake
  cmake/scripts/linux/Install.cmake
  cmake/scripts/webos/ExtraTargets.cmake
  cmake/scripts/webos/Install.cmake
  docs/README.md
  docs/README.webOS.md
  docs/resources/webos.svg
  tools/depends/README.md
  tools/depends/configure.ac
  tools/depends/target/Makefile
  tools/depends/target/Toolchain.cmake.in
  tools/depends/target/cmakebuildsys/Makefile
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/modules.setup
  tools/depends/target/webos-userland/Makefile
  tools/depends/target/webos-userland/WEBOS-USERLAND-VERSION
  tools/depends/target/webos-wayland-extensions/Makefile
  tools/depends/target/webos-wayland-extensions/WEBOS-WAYLAND-EXTENSIONS-VERSION
  tools/webOS/packaging/appinfo.json.in
  tools/webOS/packaging/icon.png
  tools/webOS/packaging/keyboard.xml
  tools/webOS/packaging/largeIcon.png
  xbmc/platform/linux/PlatformLinux.cpp
  xbmc/windowing/wayland/CMakeLists.txt
  xbmc/windowing/wayland/ShellSurfaceWebOSShell.cpp
  xbmc/windowing/wayland/ShellSurfaceWebOSShell.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Type: Feature, Platform: Linux, Component: Windowing, v21 Omega

#23006 [Android] Replace JsonParser constructor
  tools/android/packaging/xbmc/src/XBMCJsonRPC.java.in
Labels: Type: Improvement, Platform: Android, v21 Omega

#22996 [UPnP] Add extensions to libplatinum mimetypes
  xbmc/network/upnp/UPnPInternal.cpp
Labels: Type: Fix, Type: Improvement, Backport: Done, Component: UPnP, v21 Omega

#23005 [video] Fix playlist window data
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.h
Labels: Type: Fix, Backport: Needed, Component: Video, v21 Omega

#23004 [Xbox] RendererShaders: Concurrency::event is broken on UWP/Xbox, remove parallelism
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23013 [video] Fix playlist window data
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.h
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus

#22997 [UPnP] Add extensions to libplatinum mimetypes
  xbmc/network/upnp/UPnPInternal.cpp
Labels: Type: Fix, Type: Improvement, Type: Backport, v20 Nexus, Component: UPnP

#23014 [Xbox] RendererShaders: Concurrency::event is broken on UWP/Xbox, remove parallelism
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Windows, Type: Backport, Platform: WindowsStore, v20 Nexus

#23020 [docs] Add webOS and fix typos in cmake README.md
  cmake/README.md
Labels: Type: Improvement, Component: Documentation, v21 Omega, Platform: webOS

#23017 [Windows] restore window position and size up to virtual screen limits
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Fix, Backport: Needed, Platform: Windows, Component: Windowing, v21 Omega

#23024 [cmake][webos] Reduce footprint of WINDOWSYSTEM
  tools/depends/target/cmakebuildsys/Makefile
Labels: Type: Improvement, CMake, Component: Build, v21 Omega, Platform: webOS

#22975 [JSON-RPC] Add genre to Video.Fields.Episode fields
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Feature, Type: Improvement, API change: JSON-RPC, Component: JSON-RPC, v21 Omega

#22869 [UPnP] Use base64 encoded values for objectIds
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPInternal.h
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#23016 [PVR] Channel groups enhanancements
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogPVRGroupManager.xml
  system/settings/settings.xml
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/channels/PVRChannelGroupSettings.cpp
  xbmc/pvr/channels/PVRChannelGroupSettings.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelsPath.cpp
  xbmc/pvr/channels/PVRChannelsPath.h
  xbmc/pvr/channels/test/TestPVRChannelsPath.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.h
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Type: Improvement, Component: PVR, v21 Omega

#23015 [video][music] Fix auto play next item setting
  xbmc/music/ContextMenus.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/MusicUtils.h
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/music/windows/GUIWindowMusicNav.h
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
  xbmc/pvr/guilib/PVRGUIActionsPlayback.h
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.h
  xbmc/settings/Settings.h
  xbmc/utils/ContentUtils.h
  xbmc/video/ContextMenus.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/VideoUtils.cpp
  xbmc/video/VideoUtils.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
  xbmc/view/GUIViewState.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Component: Music, Component: Video, v21 Omega

#23021 [webos] Patch Samba to stop it from pulling in extra dependencies (readline, ncurses)
  tools/depends/target/samba-gplv3/Makefile
  tools/depends/target/samba-gplv3/webos-no-readline.patch
Labels: Component: Build, v21 Omega, Platform: webOS

#23018 webos: dynamically package missing dependency libraries
  cmake/scripts/webos/Install.cmake
  tools/webOS/verify-symbols.sh
Labels: Type: Improvement, v21 Omega, Platform: webOS

#23030 [macOS][NativeWindowing] Remove dead code
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#23026 [webOS] Stop building mariadb gssapi plugin
  cmake/modules/FindMariaDBClient.cmake
  cmake/scripts/webos/Install.cmake
  tools/depends/target/mariadb/Makefile
Labels: Type: Improvement, Component: Build, v21 Omega, Platform: webOS

#23035 [macOS][nativewindowing] Disable fullscreen tilling support
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#23039 [macOS][nativewindowing] Remove more dead code
  xbmc/platform/darwin/osx/XBMCApplication.mm
  xbmc/windowing/osx/OpenGL/WinSystemOSXGL.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Cleanup, Platform: macOS, Component: Windowing, v21 Omega

#23007 webos: Skip first argument
  xbmc/platform/linux/AppParamParserWebOS.cpp
  xbmc/platform/linux/AppParamParserWebOS.h
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/posix/main.cpp
Labels: v21 Omega, Platform: webOS

#23019 [macOS][NativeWindowing] Ignore mouse locationInWindow if...no window
  xbmc/windowing/osx/WinEventsOSXImpl.mm
Labels: Type: Fix, Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#23036 [macOS][nativewindowing] Do not hide OS mouse when entering fullscreen
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Type: Improvement, Platform: macOS, Component: Input, Component: Windowing, v21 Omega

#22884 [addons][codec] Set correct video format from picture
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/video_codec.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/Buffers/VideoBuffer.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBuffer.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
Labels: Type: Fix, Type: Improvement, Component: Binary add-ons, Component: Video rendering, API change: Binary add-ons, Type: Breaking change, v21 Omega

#23043 [macOS][NativeWindowing] Nuke NotifyAppFocusChange (dead code)
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Cleanup, Platform: macOS, Component: Windowing, v21 Omega

#23041 Webos packaging improvements
  cmake/scripts/webos/Install.cmake
  tools/depends/target/Toolchain_binaddons.cmake.in
  tools/depends/xbmc-addons.include
Labels: Type: Fix, Type: Improvement, CMake, Component: Build, v21 Omega, Platform: webOS

#23045 [macos][nativewindowing] Address a few gl deprecations
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
Labels: Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#23047 [PVR] Fix typo: ManagerState::SSTOPPING -> ManagerState::STOPPING
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
Labels: Type: Cleanup, Component: PVR, v21 Omega

#23048 [PVR] Reduce PVRManager.h compile time dependencies.
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
Labels: Type: Cleanup, Component: PVR, v21 Omega

#23049 [PVR] Optimize and simplify EPG creation on startup / arrival of new channels
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: Type: Cleanup, Component: PVR, v21 Omega

#23051 [macos][nativewindowing] partial revert bb000f2f4399c330f1c50d24d50c9…
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
Labels: Platform: macOS, Component: Windowing, v21 Omega, Type: Revert

#23053 [PVR] Channel groups related code cleanup
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupInternal.cpp
  xbmc/pvr/channels/PVRChannelGroupInternal.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
Labels: Type: Fix, Type: Cleanup, Component: PVR, v21 Omega

#22969 Add abbreviated month options to shortDateFormats[]
  xbmc/LangInfo.cpp
  xbmc/test/TestDateTime.cpp
Labels: Type: Improvement, v21 Omega

#23029 [macOS][nativewindowing] Fix blanking other displays
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Component: Windowing, v21 Omega

#23050 [macOS][nativewindowing] Make mouse hide/unhide safer
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
  xbmc/windowing/osx/WinEventsOSX.h
  xbmc/windowing/osx/WinEventsOSX.mm
  xbmc/windowing/osx/WinEventsOSXImpl.h
  xbmc/windowing/osx/WinEventsOSXImpl.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#22987 [MacOS][NativeWindowing] Programmatically move windows when user changes monitor setting
  system/settings/settings.xml
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#23034 [macOS][NativeWindowing] Fix fullscreen window menu item (and shortcuts)
  xbmc/platform/darwin/osx/XBMCApplication.mm
  xbmc/windowing/osx/WinEventsOSXImpl.mm
Labels: Type: Fix, Type: Improvement, Platform: macOS, Component: Input, Component: Windowing, v21 Omega

#23031 [macOS][NativeWindowing] Fix float on top
  xbmc/application/Application.cpp
  xbmc/messaging/ApplicationMessenger.h
  xbmc/platform/darwin/osx/XBMCApplication.mm
  xbmc/windowing/WinSystem.h
  xbmc/windowing/osx/WinEventsOSXImpl.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Component: Windowing, v21 Omega

#23008 Translations update from Kodi Weblate
  addons/repository.xbmc.org/resources/language/resource.language.af_za/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.am_et/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ar_sa/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.be_by/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.bg_bg/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ca_es/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.cs_cz/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.cy_gb/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.da_dk/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.de_de/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.el_gr/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.en_au/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.en_nz/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.en_us/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.es_ar/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.es_es/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.es_mx/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.et_ee/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.eu_es/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.fa_ir/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.fr_ca/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.fr_fr/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.gl_es/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.he_il/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.hr_hr/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.hu_hu/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.id_id/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.is_is/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.it_it/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ja_jp/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ko_kr/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.lt_lt/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.lv_lv/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.mk_mk/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ms_my/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.mt_mt/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.my_mm/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.nb_no/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.nl_nl/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.pt_br/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.pt_pt/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ro_ro/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.ru_ru/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.sk_sk/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.sl_si/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.sr_Latn/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.sr_rs/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.sv_se/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.szl/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.tg_tj/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.th_th/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.tr_tr/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.uk_ua/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.vi_vn/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.zh_cn/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.zh_tw/strings.po
  addons/skin.estouchy/language/resource.language.it_it/strings.po
  addons/skin.estuary/language/resource.language.fi_fi/strings.po
  addons/skin.estuary/language/resource.language.it_it/strings.po
Labels: Component: Strings, v21 Omega

#23028 compile waylandpp static
  cmake/modules/FindWaylandpp.cmake
  cmake/platform/linux/webos.cmake
  tools/depends/target/waylandpp/Makefile
Labels: Type: Improvement, Platform: Linux, Component: Depends, CMake, Component: Build, v21 Omega, Platform: webOS

#23056 [windows][dxva] log additional information for dxva troubleshooting, compatibility with WARP/Hyper-V/Graphics Debugger
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/WinVideoFilter.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/guilib/D3DResource.cpp
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/rendering/dx/CMakeLists.txt
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DirectXHelper.cpp
  xbmc/rendering/dx/DirectXHelper.h
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#23060 [webos] add key mapping for lg remote
  cmake/scripts/webos/Install.cmake
  tools/depends/target/webos-userland/WEBOS-USERLAND-VERSION
  tools/webOS/packaging/keyboard.xml
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
  xbmc/windowing/wayland/XkbcommonKeymap.h
Labels: Type: Improvement, Component: Depends, Component: Input, Component: Windowing, v21 Omega, Platform: webOS

#23062 [macOS][nativeWindowing] Delegate input events to NSView
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
  xbmc/windowing/osx/WinEventsOSX.h
  xbmc/windowing/osx/WinEventsOSX.mm
  xbmc/windowing/osx/WinEventsOSXImpl.h
  xbmc/windowing/osx/WinEventsOSXImpl.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Component: Windowing, v21 Omega

#23032 Allow mapping controllers in the Add-on Browser
  xbmc/addons/gui/GUIDialogAddonSettings.cpp
  xbmc/games/controllers/Controller.h
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerList.h
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.h
Labels: Type: Improvement, Component: Add-ons, Component: Input, v21 Omega

#23079 [Android] improve Dolby Vision compatibility
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
Labels: Type: Fix, Type: Improvement, Component: Video rendering, Platform: Android, v21 Omega
