Repository xbmc/xbmc, pull requests merged in 2023-08, with the labels that each got.

#23578 [macos][nativewindowing] Fix low fps on the GUI rendering code
  xbmc/windowing/osx/OpenGL/OSXGLView.h
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Type: Improvement, Platform: macOS, Component: Windowing, v21 Omega

#23570 [PVR] Refactor channel groups class hierarchy.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/CMakeLists.txt
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupAllChannels.cpp
  xbmc/pvr/channels/PVRChannelGroupAllChannels.h
  xbmc/pvr/channels/PVRChannelGroupFromClient.cpp
  xbmc/pvr/channels/PVRChannelGroupFromClient.h
  xbmc/pvr/channels/PVRChannelGroupFromUser.cpp
  xbmc/pvr/channels/PVRChannelGroupFromUser.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
Labels: Type: Cleanup, Component: PVR, v21 Omega

#23582 fixed: fix compiling with libfmt8
  xbmc/threads/Thread.cpp
Labels: Type: Fix, v21 Omega

#23568 RetroPlayer: Two minor code improvements
  xbmc/cores/RetroPlayer/buffers/BaseRenderBuffer.cpp
  xbmc/cores/RetroPlayer/buffers/BaseRenderBuffer.h
  xbmc/cores/RetroPlayer/buffers/CMakeLists.txt
  xbmc/cores/RetroPlayer/buffers/IRenderBuffer.h
  xbmc/cores/RetroPlayer/buffers/IRenderBufferPool.h
  xbmc/cores/RetroPlayer/buffers/RenderBufferDMA.h
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferGuiTexture.h
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferSysMem.h
Labels: Type: Fix, Type: Improvement, Component: Games, v21 Omega

#23508 PythonBindings: TypeInfo: add initialization of tp_watched for PyTypeObject
  xbmc/interfaces/python/swig.cpp
Labels: Type: Fix, Backport: Needed, Component: Python, v21 Omega

#23539 [InputStream] Fix extradata size casts
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Inputstream.h
Labels: Type: Cleanup, Component: Binary add-ons, v21 Omega

#23290 ALSA: Ensure pcm name conflicts resolve to descriptive names
  xbmc/cores/AudioEngine/Sinks/AESinkALSA.cpp
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#23347 android_printf: va_copy should be used if reuse va_list
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Fix, Platform: Android, Component: Logging, v21 Omega

#23573 [dxva] Refactor the choice of conversions / restore support for RGB input
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#23569 guilib: Two minor code cleanups
  xbmc/guilib/GUIShaderDX.cpp
  xbmc/guilib/GUITexture.h
Labels: Type: Cleanup, Component: GUI engine, v21 Omega

#23542 [dxva] Fix flash/wrong picture when skipping
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Type: Fix, Component: Video rendering, Platform: Windows, Component: DirectX rendering, v21 Omega

#23479 [BP][Windows] Fix: show 119.88Hz and future higher fractional refresh rates correctly
  xbmc/windowing/windows/VideoSyncD3D.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Fix, Component: Video, Component: Settings, Platform: Windows, Type: Backport, v20 Nexus

#23298 VideoPlayer: ffmpeg change default software deinterlacer from yadif to bwdif
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Type: Feature, Component: Video rendering, v21 Omega

#23585 [Windows] improve GetAdapterDesc() - return struct by value
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/RenderSystemDX.cpp
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, v21 Omega

#23466 [depends] bump curl to 8.1.2
  tools/depends/target/curl/01-patch-autoconf-GH-5130.patch
  tools/depends/target/curl/CURL-VERSION
  tools/depends/target/curl/Makefile
  xbmc/network/test/TestWebServer.cpp
Labels: Component: Depends, v21 Omega

#23450 [playlist] add b4s playlist recognition to music and tests
  cmake/installdata/test-reference-data.txt
  xbmc/playlists/test/CMakeLists.txt
  xbmc/playlists/test/TestPlayListB4S.cpp
  xbmc/playlists/test/test.b4s
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Improvement, Wiki: Needed, Component: Music, v21 Omega

#23550 [Windows][Linux] Improve dither settings
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/settings/Settings.h
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
Labels: Type: Improvement, Component: Settings, Platform: Linux, Platform: Windows, Platform: WindowsStore, Component: Windowing, v21 Omega

#23579 [macOS][nativewindowing] Fix moving between different hidpi screens w…
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Component: Windowing, v21 Omega

#23369 [Android] Target selection: unneeded explicit definition of __ANDROID_API__
  tools/depends/configure.ac
Labels: Platform: Android, Component: Build, v21 Omega

#23563 [bp][discs] Fix playback of optical dvds without mount support
  xbmc/Autorun.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus, Component: Discs

#23584 [cmake][macOS] Allow building without xbmchelper - default for arm64
  cmake/scripts/osx/ArchSetup.cmake
  cmake/scripts/osx/ExtraTargets.cmake
  system/settings/darwin.xml
  tools/EventClients/Clients/OSXRemote/CMakeLists.txt
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
  xbmc/application/Application.cpp
  xbmc/network/NetworkServices.cpp
  xbmc/platform/darwin/osx/CMakeLists.txt
  xbmc/platform/darwin/osx/PlatformDarwinOSX.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
Labels: Type: Feature, Type: Cleanup, Type: Improvement, Platform: macOS, CMake, v21 Omega

#22941 Use 64K file read chunk size for local files: USB files, external hard drives, etc.
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.cpp
  xbmc/filesystem/File.cpp
Labels: Type: Improvement, Component: FileSystem, v21 Omega

#23593 [macos] Remove unneeded include from CApp
  xbmc/application/Application.cpp
Labels: Type: Improvement, Platform: macOS, Component: Application, v21 Omega

#23598 [Nexus][video] Fix default select action
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus

#23562 [webOS] Forcefully disable Pulseaudio
  cmake/platform/linux/webos.cmake
Labels: Type: Improvement, CMake, Component: Build, Infrastructure, v21 Omega

#23441 Implement tinyxml2 and start migration of some tinyxml1 usage
  CMakeLists.txt
  cmake/installdata/test-reference-data.txt
  cmake/modules/FindTinyXML2.cmake
  cmake/treedata/common/tests.txt
  docs/README.Fedora.md
  docs/README.FreeBSD.md
  docs/README.Linux.md
  docs/README.Ubuntu.md
  docs/README.openSUSE.md
  tools/buildsteps/freebsd/configure-xbmc
  tools/depends/target/tinyxml2/001-debug-pdb.patch
  tools/depends/target/tinyxml2/002-multiconfig-gen-pkgconfig.patch
  tools/depends/target/tinyxml2/Makefile
  tools/depends/target/tinyxml2/TINYXML2-VERSION
  xbmc/favourites/FavouritesService.cpp
  xbmc/filesystem/DAVCommon.cpp
  xbmc/filesystem/DAVCommon.h
  xbmc/filesystem/DAVDirectory.cpp
  xbmc/filesystem/DAVDirectory.h
  xbmc/filesystem/DAVFile.cpp
  xbmc/network/upnp/UPnPSettings.cpp
  xbmc/settings/MediaSourceSettings.cpp
  xbmc/settings/MediaSourceSettings.h
  xbmc/settings/test/CMakeLists.txt
  xbmc/settings/test/TestMediaSourceSettings.cpp
  xbmc/settings/test/test-MediaSources.xml
  xbmc/utils/CMakeLists.txt
  xbmc/utils/RssManager.cpp
  xbmc/utils/RssReader.cpp
  xbmc/utils/RssReader.h
  xbmc/utils/XBMCTinyXML2.cpp
  xbmc/utils/XBMCTinyXML2.h
  xbmc/utils/XMLUtils.cpp
  xbmc/utils/XMLUtils.h
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/TestXBMCTinyXML2.cpp
  xbmc/utils/test/TestXMLUtils.cpp
  xbmc/windowing/X11/XRandR.cpp
Labels: Type: Feature, Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, v21 Omega, Platform: webOS

#23565 [depends][windows] Fixup for libbluray version
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Platform: Windows, Component: Depends, v21 Omega

#23538 [webOS] AESinkStarfish: Passthrough sink improvements
  xbmc/cores/AudioEngine/Sinks/AESinkStarfish.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkStarfish.h
Labels: Type: Improvement, Component: Audio, v21 Omega, Platform: webOS

#23597 [webOS] Video decoder improvements
  cmake/modules/FindPlayerFactory.cmake
  cmake/platform/linux/webos.cmake
  tools/depends/target/webos-userland/WEBOS-USERLAND-VERSION
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.h
Labels: Type: Improvement, Component: Video, v21 Omega

#23604 [discs] fix playback of iso-files
  xbmc/filesystem/ISO9660Directory.cpp
Labels: Type: Fix, Component: FileSystem, v21 Omega

#23596 [videoplayer] use ffmpeg types in VideoPicture
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Improvement, Component: Players, v21 Omega

#23605 [cmake] FindTinyXML2 handle further corner cases distro packaged cmake config
  cmake/modules/FindTinyXML2.cmake
Labels: CMake, v21 Omega

#23608 [Skintimers] Fix log line and remove unused include
  xbmc/addons/gui/skin/SkinTimerManager.cpp
Labels: Type: Cleanup, Type: Improvement, Component: Skin, v21 Omega

#23609 [cmake] FindTinyXML2 linux corner case for internal build if sys lib exists
  cmake/modules/FindTinyXML2.cmake
Labels: CMake, v21 Omega

#23606 [Windows][dxva] Don't send repeated frames through the processor / Fix nVidia deinterlacing / VSR with deinterlacing
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
Labels: Type: Fix, Type: Improvement, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23617 [Windows] Extend high precision setting to use 10 bit or better for all streams
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.h
Labels: Type: Improvement, Wiki: Needed, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23567 [imagecache] Don't check special generated images for file changes every 24 hours
  xbmc/TextureCacheJob.cpp
  xbmc/TextureCacheJob.h
  xbmc/imagefiles/SpecialImageFileLoader.h
  xbmc/music/MusicEmbeddedImageFileLoader.h
  xbmc/video/VideoEmbeddedImageFileLoader.h
Labels: Type: Improvement, v21 Omega

#23620 [SkinTimers] Add unit tests for skin timer parsing
  cmake/installdata/test-reference-data.txt
  cmake/treedata/common/tests.txt
  xbmc/GUIInfoManager.cpp
  xbmc/addons/Skin.cpp
  xbmc/addons/Skin.h
  xbmc/addons/gui/skin/SkinTimer.cpp
  xbmc/addons/gui/skin/SkinTimer.h
  xbmc/addons/gui/skin/SkinTimerManager.cpp
  xbmc/addons/gui/skin/SkinTimerManager.h
  xbmc/addons/gui/skin/test/CMakeLists.txt
  xbmc/addons/gui/skin/test/TestSkinTimers.cpp
  xbmc/addons/gui/skin/test/testdata/Timers.xml
  xbmc/guilib/GUIAction.cpp
  xbmc/guilib/GUIAction.h
  xbmc/interfaces/info/InfoBool.h
  xbmc/interfaces/info/InfoExpression.cpp
  xbmc/interfaces/info/InfoExpression.h
Labels: Type: Improvement, Component: Skin, v21 Omega

#23632 AdvancedSettings: exclude '@eaDir' from scan, auto generated by DSM (Synology)
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Improvement, Component: Settings, v21 Omega

#23610 Player Viewer: Two fixes
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/agents/GameAgentManager.cpp
  xbmc/games/agents/windows/GUIAgentList.cpp
  xbmc/games/controllers/guicontrols/GUIGameControllerList.cpp
  xbmc/games/ports/guicontrols/GUIActivePortList.cpp
  xbmc/games/ports/windows/GUIPortList.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, Component: Games, v21 Omega

#23631 [Windows] fix 'FileTimeToLocalFileTime' to account for daylight saving
  xbmc/platform/win32/XTimeUtils.cpp
Labels: Type: Fix, Component: Database, Platform: Windows, Platform: WindowsStore, v21 Omega

#23571 Fix building with fmt >= 10
  xbmc/guilib/GUIColorButtonControl.cpp
  xbmc/utils/log.h
  xbmc/windows/GUIWindowHome.cpp
Labels: Type: Fix, Type: Backport, Component: Logging, v20 Nexus

#23638 [backport] Fix infinite loops in CPluginFile
  xbmc/filesystem/PluginFile.cpp
  xbmc/filesystem/PluginFile.h
Labels: Type: Backport, v20 Nexus

#23628 [docs] Fix for-the-badge badges
  README.md
  docs/CONTRIBUTING.md
Labels: Type: Fix, Documentation, v21 Omega

#23602 [cleanup] change deprecated 'CAddonMgr::IsCompatible(const IAddon& ad…
  xbmc/addons/AddonManager.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonRepos.cpp
Labels: Type: Cleanup, Component: Add-ons, v21 Omega

#23635 [Android] CXBMCApp: unnecessary check of the API level currently running…
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Improvement, Platform: Android, v21 Omega

#23629 DVDDemuxFFmpeg: Fix issues after st->cur_pts replacement part 2
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23626 [Android] CXBMCApp: remove unnecessary GetSDKVersion method
  xbmc/platform/android/activity/XBMCApp.h
Labels: Type: Cleanup, Platform: Android, v21 Omega

#23345 CURL: Take advantage of std::string move semantic
  xbmc/URL.cpp
  xbmc/URL.h
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/cdrip/CDDARipper.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistEditor.cpp
  xbmc/filesystem/SpecialProtocol.cpp
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/platform/win32/threads/Win32Exception.cpp
  xbmc/playlists/PlayListB4S.cpp
  xbmc/utils/FileOperationJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
Labels: Type: Improvement, v21 Omega

#23344 [dbiplus] String optimiziations + prevent copies
  xbmc/dbwrappers/dataset.cpp
  xbmc/dbwrappers/dataset.h
  xbmc/dbwrappers/qry_dat.cpp
  xbmc/dbwrappers/qry_dat.h
  xbmc/dbwrappers/sqlitedataset.cpp
Labels: Type: Improvement, Component: Database, v21 Omega

#22477 [CGUIDialogContextMenu] fix memory leak
  xbmc/dialogs/GUIDialogContextMenu.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v21 Omega

#23637 [GUI][macos][nativewindowing] Kill XBMC_FULLSCREEN_UPDATE event
  xbmc/application/Application.cpp
  xbmc/windowing/XBMC_events.h
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
Labels: Type: Cleanup, Platform: macOS, Component: Windowing, v21 Omega

#23627 [SkinTimers] Migrate to tinyxml2
  xbmc/addons/gui/skin/SkinTimerManager.cpp
  xbmc/addons/gui/skin/SkinTimerManager.h
  xbmc/addons/gui/skin/test/TestSkinTimers.cpp
  xbmc/addons/gui/skin/test/testdata/Timers.xml
Labels: Type: Improvement, Component: Skin, v21 Omega

#23601 [tinyxml2] Assorted further migrations
  xbmc/PasswordManager.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/BlurayStateSerializer.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/BlurayStateSerializer.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDStateSerializer.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDStateSerializer.h
  xbmc/media/decoderfilter/DecoderFilterManager.cpp
  xbmc/media/decoderfilter/DecoderFilterManager.h
Labels: Type: Improvement, Component: Skin, v21 Omega

#23589 PythonBindings: TypeInfo: add initialization of tp_watched for PyTypeObject
  xbmc/interfaces/python/swig.cpp
Labels: Type: Fix, Component: Python, Type: Backport, v20 Nexus

#23600 [input] migrate to tinyxml2
  xbmc/games/controllers/Controller.cpp
  xbmc/games/controllers/ControllerLayout.cpp
  xbmc/games/controllers/ControllerLayout.h
  xbmc/games/controllers/input/PhysicalFeature.cpp
  xbmc/games/controllers/input/PhysicalFeature.h
  xbmc/games/controllers/input/PhysicalTopology.cpp
  xbmc/games/controllers/input/PhysicalTopology.h
  xbmc/games/ports/input/PhysicalPort.cpp
  xbmc/games/ports/input/PhysicalPort.h
  xbmc/games/ports/input/PortManager.cpp
  xbmc/games/ports/input/PortManager.h
  xbmc/input/ButtonTranslator.cpp
  xbmc/input/ButtonTranslator.h
  xbmc/input/CustomControllerTranslator.cpp
  xbmc/input/CustomControllerTranslator.h
  xbmc/input/IButtonMapper.h
  xbmc/input/IRTranslator.cpp
  xbmc/input/IRTranslator.h
  xbmc/input/JoystickMapper.cpp
  xbmc/input/JoystickMapper.h
  xbmc/input/KeyboardLayout.cpp
  xbmc/input/KeyboardLayout.h
  xbmc/input/KeyboardLayoutManager.cpp
  xbmc/input/KeyboardTranslator.cpp
  xbmc/input/KeyboardTranslator.h
  xbmc/input/TouchTranslator.cpp
  xbmc/input/TouchTranslator.h
  xbmc/input/mouse/MouseTranslator.cpp
  xbmc/input/mouse/MouseTranslator.h
  xbmc/network/WakeOnAccess.cpp
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/devices/Peripheral.h
  xbmc/platform/linux/input/LibInputSettings.cpp
Labels: Type: Improvement, Component: Input, Component: Games, v21 Omega

#23611 [clang-tidy] fix performance-* warnings
  xbmc/games/addons/input/GameClientTopology.cpp
  xbmc/games/agents/windows/GUIAgentList.cpp
  xbmc/games/ports/guicontrols/GUIActivePortList.cpp
  xbmc/games/ports/guicontrols/GUIActivePortList.h
Labels: Type: Fix, v21 Omega

#23613 [video]]Estuary] Improve support for "video information" for movie sets and TV show seasons
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/ContextMenuManager.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#23634 [windowing][dx] Implement ForceFullScreen to get rid of CApp ifdef
  xbmc/application/Application.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.h
Labels: Type: Cleanup, Platform: Windows, Component: Windowing, v21 Omega

#23524 [DVDDemux] Add new audio codec descriptions
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.cpp
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
Labels: Type: Improvement, v21 Omega

#23541 [InputStream] Add support to audio codec profiles / ClearKey crypto type
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/inputstream/stream_codec.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/inputstream/stream_crypto.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/AddonVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
  xbmc/cores/VideoPlayer/Interface/DemuxCrypto.h
Labels: Type: Feature, Component: Binary add-ons, API change: Binary add-ons, v21 Omega

#23644 [PVR][Settings] Recording timer padding
  xbmc/pvr/settings/PVRSettings.cpp
Labels: Type: Improvement, Component: PVR, v21 Omega

#23647 [MUSIC][GUI]Fix flickering when updating multiple song items via json…
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/JSONRPC.cpp
  xbmc/interfaces/json-rpc/JSONRPCUtils.h
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Fix, Component: Music, Component: GUI rendering, Component: JSON-RPC, v21 Omega

#23659 [macos][nativewindowing] Signal mouse enabled/disabled when window becomes …
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Component: Windowing, v21 Omega

#23661 [macos][nativewindowing] Add support for mediakeys
  xbmc/windowing/osx/WinEventsOSXImpl.mm
Labels: Type: Feature, Platform: macOS, Component: Input, Component: Windowing, v21 Omega

#23665 [tools/depends][python3] Bump to 3.11.5
  tools/depends/target/python3/PYTHON3-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega

#23667 [video] Fix watched state / last played not preserved on internet update
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, Backport: Done, Component: Video, v21 Omega

#23668 [Nexus][video] Fix watched state / last played not preserved on internet update…
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus

#23658 [video][PVR][Estuary] Watched Information Improvements
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/View_501_Banner.xml
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_53_Shift.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/utils/GroupUtils.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/windows/VideoFileItemListModifier.cpp
Labels: Type: Improvement, Component: PVR, Component: Video, Component: Skin, v21 Omega

#23669 [PVR] Fix TV channel subtitles not displayed on playback start, …
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v21 Omega

#23670 [Nexus][PVR] Fix TV channel subtitles not displayed on playback start, …
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v20 Nexus

#23672 [video] VIDEO_UTILS: Simplify GetFolderItemResumeInformation implementation
  xbmc/video/VideoUtils.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega

#23675 [video] Unify code paths for 'choose art'…
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
Labels: Type: Cleanup, Component: Video, v21 Omega

#23654 [Wayland] Skip unknown key events
  xbmc/windowing/wayland/InputProcessorKeyboard.cpp
Labels: Type: Fix, Component: Windowing, v21 Omega

#23678 [Estuary] View_501_Banner.xml: Fixed syntax error (unmatched parentheses).
  addons/skin.estuary/xml/View_501_Banner.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#23676 [macos] Return 'not available' instead of 0.0 for cpu/gpu temps
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/platform/darwin/osx/CPUInfoOsx.cpp
  xbmc/utils/test/TestCPUInfo.cpp
Labels: Type: Improvement, Platform: macOS, v21 Omega

#23674 [video] Unify code paths for 'show video information' …
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
Labels: Type: Cleanup, Component: Video, v21 Omega

#23683 VideoPlayer: VAAPI - fix VP9 Profile 2 playback
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Type: Fix, Backport: Needed, Backport: Done, Component: Video, v21 Omega

#23685 [Backport] VideoPlayer: VAAPI - fix VP9 Profile 2 playback
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus

#23680 [info] Move network infos to sysinfo
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Type: Improvement, Component: GUI rendering, Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: RPi, Platform: iOS, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, v21 Omega, Platform: webOS

#23690 [PVR] CPVRChannelsPath: fix typo.
  xbmc/pvr/channels/PVRChannelsPath.h
Labels: Type: Cleanup, Component: PVR, v21 Omega

#23691 [video] Fix movie set overview not updated when refreshing data.
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23692 [video] Improve library refresh progress dialog content a bit.
  xbmc/dialogs/GUIDialogBoxBase.cpp
  xbmc/dialogs/GUIDialogBoxBase.h
  xbmc/utils/ProgressJob.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#23697 [Android] bump Gradle Wrapper to 8.3
  tools/android/packaging/gradle/wrapper/gradle-wrapper.jar
  tools/android/packaging/gradle/wrapper/gradle-wrapper.properties
  tools/android/packaging/gradlew
Labels: Platform: Android, Component: Build, v21 Omega

#23693 [guilib][guiinfo][Estuary] LISTITEM_IS_RESUMABLE: Added support for folders.
  addons/skin.estuary/xml/Variables.xml
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Improvement, Component: Video, Component: GUI engine, v21 Omega

#23695 Games: Fix clang-formatting after tinyxml2 update
  xbmc/games/ports/input/PortManager.cpp
Labels: Type: Cleanup, Component: Input, Component: Games, v21 Omega
