Repository xbmc/xbmc, pull requests merged in 2023-06, with the labels that each got.

#23330 Translations update from Kodi Weblate
  addons/repository.xbmc.org/resources/language/resource.language.ast_es/strings.po
  addons/skin.estouchy/language/resource.language.it_it/strings.po
Labels: Component: Strings, v21 Omega

#23334 [backport] SavestateFlatBuffer: Remove forward declararion of FlatBufferBuilder
  xbmc/cores/RetroPlayer/savestates/SavestateFlatBuffer.h
Labels: Type: Backport, v20 Nexus

#23333 [backport] Fix build with GCC>=13
  cmake/modules/FindCrossGUID.cmake
  tools/depends/native/TexturePacker/src/decoder/IDecoder.h
  tools/depends/target/crossguid/003-add-cstdint-include.patch
  tools/depends/target/crossguid/Makefile
  tools/depends/target/waylandpp/001-fix-gcc13-build.patch
  tools/depends/target/waylandpp/Makefile
  xbmc/utils/Observer.h
Labels: Type: Backport, v20 Nexus

#22894 [guillib] Handle Page Up/Down/Home/End in settings / CGUIControlGroupList
  xbmc/guilib/GUIControlGroup.cpp
  xbmc/guilib/GUIControlGroupList.cpp
  xbmc/guilib/GUIControlGroupList.h
  xbmc/guilib/GUIWindow.cpp
Labels: Type: Improvement, Component: GUI engine, v21 Omega

#23348 [Buildsteps] Use xcode 14.2 and relevant SDK's for Apple platforms
  tools/buildsteps/defaultenv
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINIOS.mm
  xbmc/cores/AudioEngine/Sinks/darwin/CoreAudioHelpers.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/qry_dat.cpp
  xbmc/dbwrappers/sqlitedataset.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/network/cddb.cpp
  xbmc/pictures/ExifParse.cpp
  xbmc/platform/android/network/NetworkAndroid.cpp
  xbmc/platform/darwin/osx/XBMCHelper.cpp
  xbmc/platform/darwin/osx/network/NetworkOsx.cpp
  xbmc/platform/darwin/peripherals/Input_Gamecontroller.mm
  xbmc/platform/freebsd/network/NetworkFreebsd.cpp
  xbmc/platform/linux/network/NetworkLinux.cpp
  xbmc/platform/posix/PosixTimezone.cpp
  xbmc/platform/win32/input/IRServerSuite.cpp
  xbmc/utils/HttpResponse.cpp
  xbmc/utils/ScraperParser.cpp
  xbmc/video/Teletext.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, v21 Omega

#23266 [depends] Update flatbuffers to 23.3.3 and raise min OSX version to 10.14
  cmake/scripts/osx/ArchSetup.cmake
  docs/README.macOS.md
  tools/depends/configure.ac
  tools/depends/native/Toolchain-Native.cmake.in
  tools/depends/native/flatbuffers/Makefile
  tools/depends/target/flatbuffers/FLATBUFFERS-VERSION
  xbmc/platform/darwin/osx/CocoaInterface.mm
  xbmc/platform/darwin/osx/SDL/SDLMain.mm
Labels: Component: Depends, v21 Omega

#23283 SysfsPath: Have CSysfsPath::Get() return a std::optional because reads can fail
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/platform/linux/SysfsPath.cpp
  xbmc/platform/linux/SysfsPath.h
Labels: Type: Fix, Backport: Needed, Platform: Linux, v21 Omega

#23148 CAppParamParserLinux: add --audio-backend=<backend> switch
  CMakeLists.txt
  cmake/modules/FindAlsa.cmake
  cmake/modules/FindPipewire.cmake
  cmake/modules/FindPulseAudio.cmake
  cmake/modules/FindSndio.cmake
  tools/Linux/kodi.sh.in
  xbmc/CompileInfo.cpp.in
  xbmc/CompileInfo.h
  xbmc/application/AppParams.h
  xbmc/platform/linux/AppParamParserLinux.cpp
  xbmc/platform/linux/PlatformLinux.cpp
Labels: Type: Improvement, Wiki: Needed, Platform: Linux, Component: Audio, v21 Omega

#23322 [Depends][native] Bump cmake 3.26.4
  CMakeLists.txt
  cmake/scripts/darwin_embedded/Install.cmake
  cmake/scripts/darwin_embedded/Macros.cmake
  cmake/scripts/osx/Macros.cmake
  tools/darwin/Support/CopyRootFiles-darwin_embedded.command
  tools/depends/native/cmake/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, v21 Omega

#23358 [Windows] DXVA: check if HDR10 color spaces are supported by video processor
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Fix, Type: Improvement, Component: Video rendering, Platform: Windows, Component: DirectX rendering, v21 Omega

#23168 CTextureBundleXBT: return std::optional
  xbmc/guilib/TextureBundle.cpp
  xbmc/guilib/TextureBundle.h
  xbmc/guilib/TextureBundleXBT.cpp
  xbmc/guilib/TextureBundleXBT.h
  xbmc/guilib/TextureManager.cpp
Labels: Type: Improvement, Component: GUI engine, v21 Omega

#23227 threads: linux: simplify setting thread priority
  xbmc/platform/linux/threads/ThreadImplLinux.cpp
  xbmc/platform/linux/threads/ThreadImplLinux.h
Labels: Type: Fix, Platform: Linux, Component: System, v21 Omega

#23240 TextureFormats.h: use XB_FMT as an enum
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferGuiTexture.cpp
  xbmc/cores/RetroPlayer/buffers/video/RenderBufferGuiTexture.h
  xbmc/filesystem/XbtFile.cpp
  xbmc/filesystem/XbtFile.h
  xbmc/guilib/DDSImage.cpp
  xbmc/guilib/DDSImage.h
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/TextureDX.cpp
  xbmc/guilib/TextureDX.h
  xbmc/guilib/TextureFormats.h
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureGL.h
  xbmc/guilib/XBTF.cpp
  xbmc/guilib/XBTF.h
  xbmc/guilib/XBTFReader.cpp
Labels: Type: Improvement, Component: GUI rendering, v21 Omega

#23372 [Windows] remove unnecessary log for Intel without super resolution scaler support
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Windows, v21 Omega

#23311 Maintain the selection position after end of playback / watched status change
  xbmc/dialogs/GUIDialogFileBrowser.cpp
  xbmc/filesystem/DirectoryHistory.cpp
  xbmc/filesystem/DirectoryHistory.h
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, Component: GUI engine, v21 Omega

#23380 [Estuary] Reset 1110_seekbar timer on seeks
  addons/skin.estuary/xml/Timers.xml
Labels: Type: Fix, Backport: Needed, Component: Skin, v21 Omega

#23382 [Estuary] Reset 1110_seekbar timer on seeks
  addons/skin.estuary/xml/Timers.xml
Labels: Type: Fix, Component: Skin, Type: Backport, v20 Nexus

#23375 AudioTrack: Check Head Movement to detect stuck sinks
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, Platform: Android, Component: Audio, v21 Omega

#23384 [PVR] Timer settings dialog: Set certain settings to default on change of timer type
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v21 Omega

#23385 [Nexus][PVR] Timer settings dialog: Set certain settings to default on change of timer type.
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v20 Nexus

#23379 [tools/depends][target] fix removed download target
  tools/depends/target/hwdata/Makefile
  tools/depends/target/libdisplay-info/Makefile
Labels: Platform: Linux, Component: Depends, v21 Omega

#23371 [Windowing] Fix regression for resolution label
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/Resolution.h
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Component: Windowing, v21 Omega

#23394 [video] Fix watched/unwatched filter not working when creating playli…
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Backport: Done, Component: Video, v21 Omega

#23398 [Nexus][video] Fix watched/unwatched filter not working when creating playli…
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v20 Nexus

#23282 Pipewire: Catch exceptions in CPipewire::Create()
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
Labels: Type: Fix, Platform: Linux, Component: Audio, v21 Omega

#23399 [Estuary] Also start timer (with reset) on seeks
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/Timers.xml
  xbmc/addons/gui/skin/SkinTimerManager.cpp
Labels: Type: Fix, Backport: Done, Component: Skin, v21 Omega

#23404 [Windows][dxva] Disable processor tone mapping for AMD and HDR to HDR
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Windows, v21 Omega

#23377 [Windows] Add render method information to the debug OSD
  xbmc/cores/VideoPlayer/VideoRenderers/DebugInfo.h
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.h
Labels: Type: Improvement, Wiki: Needed, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23386 [BP][CMake][FlatC] Don't use local flatc with ENABLE_INTERNAL_FLATBUFFERS if versions don't match
  cmake/modules/buildtools/FindFlatC.cmake
Labels: Type: Fix, Type: Backport, v20 Nexus

#23407 [Omega] Alpha 2
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v21 Omega

#23395 Native Flatbuffers update and minor cmake module update
  cmake/modules/buildtools/FindFlatC.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  tools/depends/Makefile.include.in
  tools/depends/native/Toolchain-Native.cmake.in
  tools/depends/native/flatbuffers/FLATBUFFERS-VERSION
  tools/depends/native/flatbuffers/Makefile
Labels: Component: Depends, CMake, v21 Omega

#23378 [tools/depends][target] config.site remove PYTHON_VERSION variable
  tools/depends/target/config.site.in
Labels: Platform: Android, Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, v21 Omega

#23400 [Estuary] Also start timer (with reset) on seeks
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  addons/skin.estuary/xml/Timers.xml
  xbmc/addons/gui/skin/SkinTimerManager.cpp
Labels: Type: Fix, Component: Skin, Type: Backport, v20 Nexus

#23390 [BP] SysfsPath: Have CSysfsPath::Get() return a std::optional because reads can fail
  xbmc/platform/linux/CPUInfoLinux.cpp
  xbmc/platform/linux/SysfsPath.cpp
  xbmc/platform/linux/SysfsPath.h
Labels: Type: Fix, Platform: Linux, Type: Backport, v20 Nexus

#23391 [BP] CRenderManager: Add missing member initialization
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Type: Backport, v20 Nexus

#23414 [Android][cmake] adjust macros according to the API we are targeting
  cmake/scripts/android/ArchSetup.cmake
  xbmc/cores/DllLoader/exports/emu_msvcrt.h
  xbmc/cores/DllLoader/exports/wrapper.c
Labels: Type: Improvement, Platform: Android, v21 Omega

#23408 [Windows][dxva] refactor video processor code
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23409 [windows] Distinguish between host/native download/tools for windows build
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/modules/buildtools/FindSWIG.cmake
  cmake/modules/buildtools/FindTexturePacker.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  project/BuildDependencies/scripts/get_formed.cmd
  tools/buildsteps/windows/download-dependencies.bat
  tools/buildsteps/windows/vswhere.bat
Labels: Platform: Windows, Component: Depends, Platform: WindowsStore, v21 Omega

#23396 [tools/depends][native] texturepacker update and use cmake to build
  cmake/modules/buildtools/FindTexturePacker.cmake
  tools/depends/native/TexturePacker/CMakeLists.txt
  tools/depends/native/TexturePacker/Makefile
  tools/depends/native/TexturePacker/src/CMakeLists.txt
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
  tools/depends/native/Toolchain-Native.cmake.in
Labels: Component: Depends, v21 Omega

#23416 [Windows] Remove workaround for Video Super Resolution
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, v21 Omega

#23393 [PVR] Dynamic timer types: Update timer types from client whenever a …
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimerType.h
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Type: Improvement, Component: PVR, v21 Omega

#23418 [windows] remove doxygen from native dep list
  project/BuildDependencies/scripts/0_package.native-win32.list
Labels: Platform: Windows, Component: Build, v21 Omega

#22993 [skin, gui] Look for <fontset> definitions in xml files in /fonts directory
  xbmc/addons/Skin.cpp
  xbmc/guilib/GUIFontManager.cpp
  xbmc/guilib/GUIFontManager.h
Labels: Type: Feature, Wiki: Needed, Component: GUI engine, Component: Skin, v21 Omega

#23425 [windows] Dont ship vswhere executable
  project/BuildDependencies/scripts/0_package.native-win32.list
  tools/buildsteps/windows/vswhere.bat
Labels: Platform: Windows, Component: Depends, Platform: WindowsStore, v21 Omega

#23423 [Windows][dxva] Test support of the video processor for SDR to SDR conversion
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#23420 [Windows][deps] Bump libass to 0.17.1
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Type: Improvement, Platform: Windows, Component: Depends, Component: Subtitles, v21 Omega

#23422 [Windows] Add "Graphics" log component for Direct3D
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Improvement, Component: Settings, Platform: Windows, Platform: WindowsStore, Component: Logging, v21 Omega

#23410 [Windowing] Make HiDPI more generic/platform agnostic
  xbmc/settings/DisplaySettings.cpp
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/Resolution.h
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Improvement, Component: Windowing, v21 Omega

#23419 Build jsonschemabuilder for all platforms from source
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  project/BuildDependencies/scripts/0_package.native-win32.list
  tools/depends/native/JsonSchemaBuilder/Makefile
  tools/depends/native/JsonSchemaBuilder/src/CMakeLists.txt
  tools/depends/native/JsonSchemaBuilder/src/LICENSE.GPL
  tools/depends/native/JsonSchemaBuilder/src/README
  tools/depends/native/JsonSchemaBuilder/win32/JsonSchemaBuilder.sln
  tools/depends/native/JsonSchemaBuilder/win32/JsonSchemaBuilder.vcxproj
  tools/depends/native/JsonSchemaBuilder/win32/JsonSchemaBuilder.vcxproj.filters
  tools/depends/native/Makefile
Labels: Component: Depends, CMake, v21 Omega

#23428 [cmake] TexturePacker: don't force static libraries
  cmake/modules/buildtools/FindTexturePacker.cmake
Labels: Type: Fix, Component: Depends, CMake, v21 Omega

#23432 Windowing: fix dialog confirmation not showing when moving fullscreen…
  xbmc/settings/DisplaySettings.cpp
Labels: Type: Fix, Component: Windowing, v21 Omega

#23319 Fix Thumbnails of Rotated Pictures
  xbmc/pictures/Picture.cpp
  xbmc/pictures/Picture.h
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v20 Nexus

#23438 [macOS] Default to nativewindowing
  docs/README.macOS.md
  tools/depends/configure.ac
  tools/depends/target/cmakebuildsys/Makefile
Labels: Platform: macOS, Type: Breaking change, Component: Windowing, v21 Omega

#23440 [Windows] DXVAHD: simplifies parameters in CProcessorHD::Open()
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Cleanup, Platform: Windows, Platform: WindowsStore, v21 Omega

#23442 [Android] Remove unnecessary if and use MediaFormat constants
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
Labels: Type: Improvement, Platform: Android, Component: Audio, v21 Omega

#23429 [Subtitles] Add support to font collection (.ttc)
  xbmc/guilib/GUIFontManager.cpp
  xbmc/guilib/GUIFontManager.h
  xbmc/utils/FontUtils.cpp
  xbmc/utils/FontUtils.h
Labels: Type: Feature, Type: Fix, Component: Subtitles, v21 Omega

#23421 [Subtitles][libass] Enable bidi brackets for adapted subs
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Type: Fix, Component: Subtitles, v21 Omega

#22929 [backport][Addons][Filesystem] No cache, not treat compressed files as directory
  xbmc/addons/interfaces/Filesystem.cpp
Labels: Type: Fix, Component: Add-ons, Type: Backport, v20 Nexus

#23411 [Nexus] Backport E-AC3 fixes from master
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
Labels: Type: Backport, v20 Nexus

#23359 [Windows] Setting for high precision processing / HDR tone mapping
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.h
  xbmc/settings/Settings.h
Labels: Type: Improvement, Wiki: Needed, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23452 [backport][Android] Prefer Google raw decoder over MediaTek on old An…
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
Labels: Type: Improvement, Platform: Android, Type: Backport, v20 Nexus

#23444 [FontUtils] Give priority to MS font family name in english
  xbmc/utils/FontUtils.cpp
Labels: Type: Improvement, Type: Partial backport, v20 Nexus

#23447 [Android] Prefer Google raw decoder over MediaTek on old Android devices
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
Labels: Type: Improvement, Backport: Done, Platform: Android, v21 Omega

#23454 [Nexus] Bump version 20.2
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v20 Nexus

#23456 [Windows] refactor DXGI_FORMAT to std::string for Debug Info OSD
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DirectXHelper.h
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega
