Repository xbmc/xbmc, pull requests merged in 2023-09, with the labels that each got.

#23687 ActiveAESink: Use AddPause for DD+ again in RAW mode
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
Labels: Type: Fix, Backport: Needed, Platform: Android, Component: Audio, v21 Omega

#23643 CWebSocketFrame: Fix alignment issues
  xbmc/network/websocket/WebSocket.cpp
Labels: Type: Fix, v21 Omega

#23612 [Cmake] Several fixes for TARGET usage
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindLibAndroidJNI.cmake
  cmake/modules/FindLibDvdCSS.cmake
  cmake/modules/FindLibDvdNav.cmake
  cmake/modules/FindLibDvdRead.cmake
  cmake/modules/FindLibZip.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindSqlite3.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
  cmake/modules/FindUUID.cmake
  cmake/platform/linux/wayland.cmake
  cmake/platform/linux/webos.cmake
  cmake/scripts/common/Macros.cmake
  cmake/scripts/linux/ExtraTargets.cmake
  cmake/scripts/webos/ExtraTargets.cmake
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/test/CMakeLists.txt
  xbmc/interfaces/swig/CMakeLists.txt
Labels: CMake, v21 Omega

#23704 call -eventWithCGEvent: on the main queue
  xbmc/platform/darwin/osx/HotKeyController.m
Labels: Type: Fix, Backport: Done, Platform: macOS, Component: Windowing, v21 Omega

#23686 [macOS] fix crash on pressing Caps Lock on an ARM Mac
  xbmc/platform/darwin/osx/HotKeyController.m
Labels: Type: Fix, Platform: macOS, Type: Backport, v20 Nexus

#23682 [listproviders][Estuary][PVR] Add special 'more...' item to size limited lists in case there are more items available.
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
Labels: Type: Fix, Type: Improvement, Component: PVR, Component: Skin, v21 Omega

#23703 CPUInfoLinux: Support cpu_thermal hwmon temperature module
  xbmc/platform/linux/CPUInfoLinux.cpp
Labels: Type: Fix, Platform: Linux, v21 Omega

#23625 [Android] Replaces some value strings used directly in the code...
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
  xbmc/utils/SystemInfo.cpp
Labels: Type: Improvement, Platform: Android, v21 Omega

#23595 [Android] MediaCodec: Add support for AV1 Dolby Vision codec selection
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/AndroidUtils.h
Labels: Type: Feature, Component: Video rendering, Platform: Android, v21 Omega

#23621 Install wayland session entry
  cmake/scripts/linux/Install.cmake
  tools/Linux/kodi-gbm-session.desktop.in
Labels: Type: Improvement, Platform: Linux, Component: Windowing, v21 Omega

#23707 [video] Fix art selection dialog re-appearing endless on 'Set actor …
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#22546 [depends][Android] Add base dependencies setup for libdovi
  addons/resource.language.en_gb/resources/strings.po
  cmake/modules/FindLibDovi.cmake
  cmake/platform/android/android.cmake
  system/settings/settings.xml
  tools/depends/native/Makefile
  tools/depends/native/cargo-c/CARGO-C-VERSION
  tools/depends/native/cargo-c/Makefile
  tools/depends/native/rustup/Makefile
  tools/depends/native/rustup/RUSTUP-VERSION
  tools/depends/target/Makefile
  tools/depends/target/libdovi/LIBDOVI-VERSION
  tools/depends/target/libdovi/Makefile
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.h
  xbmc/utils/BitstreamConverter.cpp
  xbmc/utils/BitstreamConverter.h
Labels: Type: Feature, Component: Video, Platform: Android, Component: Depends, v21 Omega

#23650 [ActiveAESink] Improves sinks enumeration names and fallback logic when exact sink name not exists
  xbmc/cores/AudioEngine/AESinkFactory.cpp
  xbmc/cores/AudioEngine/AESinkFactory.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Utils/AEDeviceInfo.cpp
  xbmc/cores/AudioEngine/Utils/AEDeviceInfo.h
Labels: Type: Fix, Type: Improvement, Component: Audio, v21 Omega

#23719 [cmake] fix comments referencing incorrect names
  cmake/modules/FindFmt.cmake
  cmake/modules/FindNFS.cmake
Labels: Documentation, CMake, v21 Omega

#23717 [video] Fix 'Local art' missing in art selection dialog.
  xbmc/FileItem.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23701 [Windows] fix WASAPI devices enumeration: "WASAPI:default" is repeated multiple times
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, Type: Backport, v20 Nexus

#23723 [video] Fix no information dialog for music videos.
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23725 [Estuary][PVR] Revert showing 'in progress' movies/episodes along with the watched status.
  addons/skin.estuary/xml/Variables.xml
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Cleanup, Component: PVR, Component: Skin, v21 Omega

#23728 [ActiveAE] Fix parsing audio devices names when names contains ':' character
  xbmc/cores/AudioEngine/AESinkFactory.cpp
  xbmc/cores/AudioEngine/Utils/AEDeviceInfo.cpp
Labels: Type: Fix, Component: Audio, No Jenkins, v21 Omega

#23709 DVDDemuxFFmpeg: Fix issues after st->cur_pts replacement part 3
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.h
Labels: Type: Fix, Component: Video, v21 Omega

#23726 [video] Art selection dialog: Fix support for embedded art.
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, v21 Omega

#23733 [video] Fix 'Scan to library' on a directory containing a movie file doesn't work anymore.
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23730 [Omega] Alpha3
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v21 Omega

#23736 [doxygen] System.HasNetwork is not implemented. Document this
  xbmc/GUIInfoManager.cpp
Labels: Documentation, v21 Omega

#23714 [cmake][buildtools] use flatbuffers::flatc target for executable
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/buildtools/FindFlatC.cmake
  xbmc/cores/RetroPlayer/messages/CMakeLists.txt
Labels: CMake, v21 Omega

#23684 [webOS] Support relaunch
  tools/webOS/packaging/appinfo.json.in
  xbmc/windowing/wayland/ShellSurfaceWebOSShell.cpp
  xbmc/windowing/wayland/ShellSurfaceWebOSShell.h
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Fix, Type: Improvement, Component: Windowing, v21 Omega, Platform: webOS

#23740 Some small simplifications
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Improvement, Component: Music, Component: Video, v22 "P"

#23724 [macos][network] Avoid executing shell commands to get the DefaultGateway and nameserver list
  xbmc/platform/darwin/osx/network/CMakeLists.txt
  xbmc/platform/darwin/osx/network/NetworkMacOS.h
  xbmc/platform/darwin/osx/network/NetworkMacOS.mm
  xbmc/platform/darwin/osx/network/NetworkOsx.cpp
Labels: Type: Improvement, Platform: macOS, Component: Network, v21 Omega

#23744 [XBMCTinyXML2] Resolve warnings
  xbmc/utils/XBMCTinyXML2.cpp
Labels: Type: Improvement, v21 Omega

#23734 [video] Refactor artwork selection (last step)
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/CMakeLists.txt
  xbmc/video/VideoItemArtworkHandler.cpp
  xbmc/video/VideoItemArtworkHandler.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
  xbmc/video/tags/CMakeLists.txt
  xbmc/video/tags/VideoInfoTagLoaderFactory.cpp
  xbmc/video/tags/VideoTagExtractionHelper.cpp
  xbmc/video/tags/VideoTagExtractionHelper.h
Labels: Type: Cleanup, Component: Video, v21 Omega

#23751 [PVR] Fix CPVRRecordingsPath path directory/params parsing.
  xbmc/pvr/recordings/PVRRecordingsPath.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#23746 [Cmake] fix dav1d ENABLE_INTERNAL build
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindRapidJSON.cmake
Labels: CMake, v21 Omega

#23747 [cmake] Add FindDetours for windows
  cmake/modules/FindDetours.cmake
  cmake/platform/windows/windows.cmake
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Platform: Windows, CMake, v21 Omega

#23741 [info] Platform code for GPUInfo
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.h
  xbmc/platform/android/CMakeLists.txt
  xbmc/platform/android/GPUInfoAndroid.cpp
  xbmc/platform/android/GPUInfoAndroid.h
  xbmc/platform/darwin/ios-common/CMakeLists.txt
  xbmc/platform/darwin/ios-common/GPUInfoDarwinEmbed.cpp
  xbmc/platform/darwin/ios-common/GPUInfoDarwinEmbed.h
  xbmc/platform/darwin/osx/CMakeLists.txt
  xbmc/platform/darwin/osx/GPUInfoMacOS.cpp
  xbmc/platform/darwin/osx/GPUInfoMacOS.h
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/freebsd/GPUInfoFreebsd.cpp
  xbmc/platform/freebsd/GPUInfoFreebsd.h
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/GPUInfoLinux.cpp
  xbmc/platform/linux/GPUInfoLinux.h
  xbmc/platform/posix/CMakeLists.txt
  xbmc/platform/posix/GPUInfoPosix.cpp
  xbmc/platform/posix/GPUInfoPosix.h
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win10/GPUInfoWin10.cpp
  xbmc/platform/win10/GPUInfoWin10.h
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/GPUInfoWin32.cpp
  xbmc/platform/win32/GPUInfoWin32.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/GpuInfo.cpp
  xbmc/utils/GpuInfo.h
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/TestGPUInfo.cpp
Labels: Type: Improvement, Component: GUI engine, Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, v21 Omega, Platform: webOS

#23756 Fixup warnings macos
  xbmc/platform/darwin/osx/network/NetworkMacOS.mm
  xbmc/utils/test/TestGPUInfo.cpp
Labels: Type: Improvement, Platform: macOS, v21 Omega

#23761 [cmake] Remove XBT_FILES as a dependency of generate-packaging TARGET
  CMakeLists.txt
Labels: CMake, v21 Omega

#23748 [cmake] Migrate more modules to TARGET usage
  cmake/modules/FindHarfBuzz.cmake
  cmake/modules/FindLCMS2.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindWaylandProtocolsWebOS.cmake
  tools/depends/target/webos-wayland-extensions/Makefile
Labels: CMake, v21 Omega

#22654 [MUSIC] Scrape, store and process yt links from TADB for songs in a users local library
  xbmc/GUIInfoManager.cpp
  xbmc/addons/Scraper.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/music/Artist.cpp
  xbmc/music/Artist.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/music/Song.cpp
  xbmc/music/Song.h
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
Labels: Type: Feature, Wiki: Needed, Component: Music, Component: Database, Component: GUI engine, API change: JSON-RPC, Component: JSON-RPC, v21 Omega

#23767 [Video] Fix crash when scan to library on a directory containing new movies
  xbmc/video/tags/VideoTagExtractionHelper.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23766 [Windows] Fix 24Hz refresh rate when HDR is ON on AMD systems
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Type: Fix, Backport: Done, Platform: Windows, Component: DirectX rendering, v21 Omega

#23768 [Windows] Fix 24Hz refresh rate when HDR is ON on AMD systems
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: DirectX rendering, v20 Nexus

#23774 [video] CVideoTagExtractionHelper::ExtractEmbeddedArtFor: Use item's dyn path
  xbmc/video/tags/VideoTagExtractionHelper.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega

#23760 [VideoPlayer] Fixed: Infinite video halt when cache is full & valid
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Component: Players, v21 Omega

#23716 [pipewire] Fix heap-use-after-free in AE::SINK::CAESinkPipewire::EnumerateDevicesEx
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireGlobal.h
Labels: Type: Fix, Component: Audio, v21 Omega, Security

#23755 tools/depends: Fix rustup by delegating shell choice to shebang
  tools/depends/native/rustup/Makefile
Labels: Type: Fix, Component: Depends, v21 Omega

#23754 [cmake] Fix linux Install.cmake after PR 22112
  cmake/scripts/linux/Install.cmake
Labels: Platform: Linux, CMake, v21 Omega

#23776 [cmake] Add platform specific cmake search configurations
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindLibZip.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
  cmake/platform/android/android.cmake
  cmake/platform/darwin_embedded/ios.cmake
  cmake/platform/darwin_embedded/tvos.cmake
  cmake/platform/osx/osx.cmake
Labels: CMake, v21 Omega

#23782 [android] Allow packaging other themes for bundled skins
  tools/android/packaging/Makefile.in
Labels: Platform: Android, Component: Build, v21 Omega

#23779 [cmake] gen_skin_pack move to add_custom_command
  CMakeLists.txt
  cmake/scripts/common/ProjectMacros.cmake
Labels: CMake, v21 Omega

#23639 [guilib][vfs][imagecache] Load video chapter images into texture cache when viewed, like standard images
  xbmc/TextureCache.cpp
  xbmc/TextureCacheJob.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.h
  xbmc/imagefiles/SpecialImageLoaderFactory.cpp
  xbmc/imagefiles/SpecialImageLoaderFactory.h
  xbmc/video/CMakeLists.txt
  xbmc/video/VideoChapterImageFileLoader.cpp
  xbmc/video/VideoChapterImageFileLoader.h
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/VideoThumbLoader.h
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
  xbmc/video/dialogs/GUIDialogVideoBookmarks.h
Labels: Type: Fix, Type: Improvement, Component: Video, Component: GUI engine, Component: FileSystem, v21 Omega

#23775 [video] 'Choose art' improvements
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
Labels: Type: Improvement, Component: Video, v21 Omega

#23586 [PVR][Estuary] Add ParentalRatingCode availability for Skins
  addons/skin.estuary/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Improvement, Component: PVR, Component: Skin, v21 Omega

#23790 [depends][native] Bump meson 1.2.1
  tools/depends/native/meson/MESON-VERSION
  tools/depends/native/meson/Makefile
Labels: Backport: Needed, Component: Build, v21 Omega

#23791 [darwin] Fix header inclusion for Xcode 15
  xbmc/platform/darwin/peripherals/Input_Gamecontroller.mm
Labels: Type: Fix, Backport: Needed, Platform: macOS, Platform: iOS, Platform: tvOS, v21 Omega

#23750 [cmake] Add build targets always for multi config generators
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
Labels: CMake, v21 Omega

#23795 [cmake] gen_skin_pack remove BYPRODUCT to fix ninja build
  CMakeLists.txt
Labels: CMake, v21 Omega

#23771 [webOS] Signal Dolby Vision with AV1 codec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Platform: webOS

#23794 [depends] Bump zlib to 1.3
  tools/depends/target/zlib/ZLIB-VERSION
Labels: Component: Depends, v21 Omega

#23801 AESinkAndroid: Watchdog HeadPosition movement
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
Labels: Type: Fix, Platform: Android, Component: Audio, Type: Backport, v20 Nexus

#23802 [FileCache] code improvements, no functional changes
  xbmc/filesystem/FileCache.cpp
Labels: Type: Improvement, Component: FileSystem, v21 Omega

#23745 [Estuary] Update aspect ratio of InfoWallMovieLayout
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Type: Improvement, Component: Skin, v21 Omega

#23810 [video] Video info dialog: Reinit cast list on re-open of dialog afte…
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23815 [webOS] RendererStarfish: Derive from CBaseRenderer
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.h
Labels: Type: Cleanup, Component: Video rendering, v21 Omega, Platform: webOS

#23825 Fix build of native/waylandpp-scanner with GCC 13
  tools/depends/native/waylandpp-scanner/001-fix-gcc13-build.patch
  tools/depends/native/waylandpp-scanner/Makefile
Labels: Component: Depends, v21 Omega

#23823 [cmake] add_custom_command only use OUTPUT genex for multi config generators
  CMakeLists.txt
Labels: CMake, v21 Omega

#23807 [Cmake] Create build_internal_depends for MultiConfig Generators
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
Labels: CMake, v21 Omega

#23809 [Cmake] assorted updates to search paths and fixes to *_LIBRARIES usage
  cmake/modules/FindAlsa.cmake
  cmake/modules/FindAvahi.cmake
  cmake/modules/FindBluetooth.cmake
  cmake/modules/FindCAP.cmake
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindDBus.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindDetours.cmake
  cmake/modules/FindEGL.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFreeType.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindGBM.cmake
  cmake/modules/FindHarfBuzz.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
  tools/EventClients/Clients/WiiRemote/CMakeLists.txt
Labels: CMake, v21 Omega

#23824 [Cmake] FindASS migrate to TARGET usage
  CMakeLists.txt
  cmake/modules/FindASS.cmake
  tools/depends/target/Toolchain.cmake.in
Labels: CMake, v21 Omega

#23829 [tools/depends][native] gettext force am_cv_func_iconv_works for apple host
  tools/depends/native/gettext/Makefile
Labels: Backport: Needed, Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, v21 Omega

#23826 [webOS] Don't assume libraries in RUNPATH to be available
  tools/webOS/verify-symbols.sh
Labels: Type: Fix, Component: Build, v21 Omega, Platform: webOS

#23749 [cmake] More TARGET usage (opengl/opengles/iconv/Pulseaudio)
  CMakeLists.txt
  cmake/modules/FindIconv.cmake
  cmake/modules/FindOpenGLES.cmake
  cmake/modules/FindOpenGl.cmake
  cmake/modules/FindPulseAudio.cmake
  cmake/scripts/linux/Install.cmake
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/RetroPlayer/buffers/CMakeLists.txt
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/CMakeLists.txt
  xbmc/guilib/CMakeLists.txt
  xbmc/pictures/CMakeLists.txt
  xbmc/rendering/CMakeLists.txt
  xbmc/rendering/gl/CMakeLists.txt
  xbmc/rendering/gles/CMakeLists.txt
  xbmc/system_gl.h
  xbmc/utils/CMakeLists.txt
  xbmc/video/dialogs/CMakeLists.txt
  xbmc/windowing/X11/CMakeLists.txt
  xbmc/windowing/android/CMakeLists.txt
  xbmc/windowing/gbm/CMakeLists.txt
  xbmc/windowing/osx/OpenGL/CMakeLists.txt
  xbmc/windowing/wayland/CMakeLists.txt
Labels: CMake, v21 Omega

#23769 [Android] Replace enum HDRTypes with Display.HdrCapabilities constants
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/windowing/android/AndroidUtils.cpp
  xbmc/windowing/android/AndroidUtils.h
Labels: Platform: Android, v21 Omega

#23831 [upnp] Fix smart playlist folder definitions
  xbmc/playlists/PlayListFactory.cpp
Labels: Type: Fix, Backport: Needed, Component: UPnP, v21 Omega

#23841 Fix detect strm file for resume.
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23832 [video] use ffmpeg av_display_rotation_get for rotation from metadata
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#23842 [cmake] add EXCLUDE_FROM_ALL when adding to build_internal_depends
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
Labels: CMake, v21 Omega

#23814 [listproviders] CDirectoryProvider: Add attribute 'browse' …
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
Labels: Type: Improvement, Wiki: Needed, v21 Omega

#23836 [edl] Allow EDL files on private subnets for network shares rather than the one the Kodi host in on
  xbmc/addons/interfaces/Network.cpp
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/network/WakeOnAccess.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
Labels: Type: Improvement, Component: Players, v21 Omega

#23835 [db][streamdetails] Reintroduce external subtitles into streamdetails
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.h
Labels: Type: Fix, Type: Improvement, Component: Database, Component: Content, v21 Omega
