Repository xbmc/xbmc, pull requests merged in 2023-01, with the labels that each got.

#22338 [PVR] Connection eventlog changes
  xbmc/pvr/PVREventLogJob.cpp
  xbmc/pvr/PVREventLogJob.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/guilib/PVRGUIActionsClients.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Type: Improvement, Component: PVR, Backport: Needed, v21 Omega

#22347 WinSystem.cpp: remove unneeded include
  xbmc/windowing/WinSystem.cpp
Labels: Type: Cleanup, Component: Windowing, v21 Omega

#22358 [Nexus][BACKPORT] Upstream Debian patches
  cmake/modules/FindEGL.cmake
  tools/Linux/kodi-standalone.sh.in
  tools/Linux/kodi.sh.in
  xbmc/windowing/X11/GLContextEGL.h
Labels: Type: Backport, v20 Nexus

#22346 ActiveAE: use smart pointers for buffer pools
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.h
Labels: Type: Fix, Component: Audio, v21 Omega

#22331 [Android] MediaDrm: catch restoreKeys exceptions
  xbmc/platform/android/media/drm/MediaDrmCryptoSession.cpp
Labels: Type: Improvement, Backport: Needed, Component: Add-ons, Platform: Android, v21 Omega

#22291 Upstream build fixes from Debian
  cmake/modules/FindEGL.cmake
  tools/Linux/kodi-standalone.sh.in
  tools/Linux/kodi.sh.in
  xbmc/windowing/X11/GLContextEGL.h
Labels: Type: Fix, Type: Improvement, Backport: Done, Platform: Linux, CMake, Platform: FreeBSD, v21 Omega

#22364 [PVR] Fix crash when renumbering channels and backend does not supply channel numbers
  xbmc/pvr/channels/PVRChannelGroup.cpp
Labels: Type: Fix, Component: PVR, Backport: Needed, v21 Omega

#22365 [backport][Android] MediaDrm: catch restoreKeys exceptions
  xbmc/platform/android/media/drm/MediaDrmCryptoSession.cpp
Labels: Component: Add-ons, Platform: Android, Type: Backport, v20 Nexus

#22362 [PVR][Estuary] Timer settings dialog: Show client name in timer type …
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/settings/SettingControl.h
  xbmc/settings/dialogs/GUIDialogSettingsManualBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsManualBase.h
  xbmc/settings/lib/SettingDefinitions.h
  xbmc/settings/windows/GUIControlSettings.cpp
Labels: Type: Improvement, Component: PVR, Backport: Needed, Component: Skin, v21 Omega

#22368 [PVR] Fix crash when renumbering channels and backend does not supply channel numbers.
  xbmc/pvr/channels/PVRChannelGroup.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v20 Nexus

#22363 [sqlite] fix memory leak
  xbmc/dbwrappers/sqlitedataset.cpp
Labels: Type: Fix, Backport: Needed, Component: Database, v21 Omega

#22370 [PVR][Estuary] Timer settings dialog: Show client name in timer type selcetion dialog …
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/settings/SettingControl.h
  xbmc/settings/dialogs/GUIDialogSettingsManualBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsManualBase.h
  xbmc/settings/lib/SettingDefinitions.h
  xbmc/settings/windows/GUIControlSettings.cpp
Labels: Type: Improvement, Component: PVR, Component: Skin, Type: Backport, v20 Nexus

#22366 [PVR] Connection eventlog changes
  xbmc/pvr/PVREventLogJob.cpp
  xbmc/pvr/PVREventLogJob.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/guilib/PVRGUIActionsClients.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Type: Improvement, Component: PVR, Type: Backport, v20 Nexus

#22371 [Estuary] PVR home screen widgets: Limit number of items only for rec…
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
Labels: Type: Fix, Component: PVR, Backport: Done, Component: Skin, v21 Omega

#22382 [Estuary] PVR home screen widgets: Limit number of items only for rec…
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_Home.xml
Labels: Type: Fix, Component: PVR, Component: Skin, Type: Backport, v20 Nexus

#22384 [sqlite] fix memory leak (Nexus backport)
  xbmc/dbwrappers/sqlitedataset.cpp
Labels: Component: Database, Type: Backport, v20 Nexus

#22386 [VideoPlayerCodec] fix ReadPCM() related memory leak (Nexus backport)
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Type: Fix, Component: Video, Component: Audio, Type: Backport, v20 Nexus

#22389 [PVR] Quick fix/workaround for empty channel/guide window when used a…
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v21 Omega

#22390 [PVR] Quick fix/workaround for empty channel/guide window when used a…
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v20 Nexus

#22391 VideoPlayerCodec: Stop dividing by zero
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, v21 Omega, Security

#22393 [Video][Directory] Allow get the custom named season with GetLocalizedName
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Backport: Done, Component: Video, Component: FileSystem, v21 Omega

#21248 Port Kodi to FFmpeg 5.0
  cmake/modules/FindFFMPEG.cmake
  tools/buildsteps/windows/patches/0001-ffmpeg-windows-configure-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-windows-configure-fix-zlib-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-windows-configure-allow-building-static.patch
  tools/buildsteps/windows/patches/0004-ffmpeg-windows-configure-detect-libdav1d.patch
  tools/depends/target/ffmpeg/CMakeLists.txt
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  xbmc/cdrip/EncoderFFmpeg.cpp
  xbmc/cdrip/EncoderFFmpeg.h
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEFilter.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEResampleFFMPEG.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/AudioEngine/Utils/AEUtil.cpp
  xbmc/cores/AudioEngine/Utils/AEUtil.h
  xbmc/cores/FFmpeg.cpp
  xbmc/cores/FFmpeg.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoPPFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/filesystem/AudioBookFileDirectory.cpp
  xbmc/guilib/FFmpegImage.cpp
  xbmc/music/tags/MusicInfoTagLoaderFFmpeg.cpp
  xbmc/video/tags/VideoTagLoaderFFmpeg.cpp
Labels: Type: Feature, Component: Video, Component: Video rendering, v21 Omega

#22348 VaapiEGL.h: replace gl includes with system_gl.h
  .clang-format
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.h
Labels: Type: Cleanup, Component: Video rendering, Platform: Linux, v21 Omega

#22372 [Music] Fixes for music navigation
  xbmc/media/MediaType.cpp
  xbmc/storage/MediaManager.cpp
Labels: Type: Fix, Backport: Needed, Component: Music, v21 Omega

#22394 Resolution: use iScreenWidth, iScreenHeight in GetMaxAllowedResolution
  xbmc/windowing/Resolution.cpp
Labels: Type: Fix, Backport: Done, Component: Windowing, v21 Omega

#22416 CActiveAE: make silence timeout use minutes all the way through
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
Labels: Type: Fix, Backport: Needed, Component: Audio, v21 Omega

#22417 [music] backport of 22372
  xbmc/media/MediaType.cpp
  xbmc/storage/MediaManager.cpp
Labels: Type: Fix, Component: Music, Type: Backport, v20 Nexus

#22380 ExifParser: Fix several out of bounds accesses while parsing exif information
  xbmc/pictures/ExifParse.cpp
Labels: Type: Fix, Backport: Needed, v21 Omega, Security

#22423 Improve Dolby Vision detection for Android
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
Labels: Type: Feature, Component: Video rendering, Platform: Android, v21 Omega

#22407 [backport] Resolution: use iScreenWidth, iScreenHeight in GetMaxAllowedResolution
  xbmc/windowing/Resolution.cpp
Labels: Type: Fix, Type: Backport, Component: Windowing, v20 Nexus

#22401 [backport][Video][Directory] Allow get the custom named season with GetLocalizedName
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Component: Video, Type: Backport, Component: FileSystem, v20 Nexus

#22354 [addons] AddonMgr::GetOrphanedDependencies() must fetch all add-ons, …
  xbmc/addons/AddonManager.cpp
Labels: Type: Fix, Component: Add-ons, Type: Backport, v20 Nexus

#22414 CStructHdl: remove superfluous assert that generates a warning
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
Labels: Type: Cleanup, Component: Add-ons, v21 Omega

#22400 Spelling typo in the name of the library android_drm
  xbmc/platform/android/media/drm/CMakeLists.txt
Labels: Type: Cleanup, Platform: Android, Component: Build, v21 Omega

#22415 [cmake] set policy CMP0135 to NEW
  CMakeLists.txt
Labels: Type: Fix, CMake, v21 Omega

#22418 [Cleanup][Windowing] Improved resolution doxy info
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/windowing/Resolution.cpp
  xbmc/windowing/Resolution.h
Labels: Type: Cleanup, Component: Windowing, v21 Omega

#22431 [Backport][JSON-RPC] Add Getter/Setter for audio delay
  xbmc/guilib/GUISliderControl.cpp
  xbmc/interfaces/json-rpc/JSONServiceDescription.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.h
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/settings/MediaSettings.h
  xbmc/utils/MathUtils.h
  xbmc/video/PlayerController.cpp
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
Labels: Type: Feature, Wiki: Done, API change: JSON-RPC, Type: Backport, Component: JSON-RPC, v20 Nexus

#22385 [CDemuxStream] fix ExtraData related memory leak (Nexus backport)
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxVobsub.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus, Component: Players

#22434 [MUSIC] Fix missing space in sql select statement
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Backport: Needed, Component: Music, Component: Database, v21 Omega

#22436 [MUSIC] Fix missing space in sql statement
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Component: Music, Component: Database, Type: Backport, v20 Nexus

#22303 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.fr_fr/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.fr_fr/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.fr_fr/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.it_it/strings.po
  addons/skin.estouchy/language/resource.language.be_by/strings.po
  addons/skin.estouchy/language/resource.language.fr_fr/strings.po
  addons/skin.estouchy/language/resource.language.hr_hr/strings.po
  addons/skin.estouchy/language/resource.language.it_it/strings.po
  addons/skin.estouchy/language/resource.language.ru_ru/strings.po
  addons/skin.estouchy/language/resource.language.zh_tw/strings.po
  addons/skin.estuary/language/resource.language.fr_fr/strings.po
  addons/skin.estuary/language/resource.language.hr_hr/strings.po
  addons/skin.estuary/language/resource.language.it_it/strings.po
  addons/skin.estuary/language/resource.language.ru_ru/strings.po
Labels: v20 Nexus

#22450 [addons] improve logging for add-on directory matching err
  xbmc/addons/Repository.cpp
Labels: Component: Add-ons, v21 Omega

#22381 [PlayListPlayer] Fix playlist hint on playlist file with multiple paths
  xbmc/PlayListPlayer.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Backport: Needed, v21 Omega

#22439 [addons] fix compile issue w/ KODI_ADDON_INSTANCE_INFO
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon_base.h
Labels: Type: Fix, Backport: Done, Component: Binary add-ons, v21 Omega

#22459 [listproviders] Fix deadlock CDirectoryProvider vs. CSubscription.
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
Labels: Type: Fix, Backport: Done, v21 Omega

#22460 [listproviders] Fix deadlock CDirectoryProvider vs. CSubscription.
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/listproviders/DirectoryProvider.h
Labels: Type: Fix, Type: Backport, v20 Nexus

#22452 EndTime: fix overflow when doing large comparisons
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/guilib/GUIListItemLayout.h
  xbmc/threads/SystemClock.h
  xbmc/threads/test/TestEndTime.cpp
Labels: Type: Fix, Backport: Needed, v21 Omega

#22349 CRPProccessInfo: make CreateInstance return a unique_ptr
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/cores/RetroPlayer/process/X11/RPProcessInfoX11.cpp
  xbmc/cores/RetroPlayer/process/X11/RPProcessInfoX11.h
  xbmc/cores/RetroPlayer/process/android/RPProcessInfoAndroid.cpp
  xbmc/cores/RetroPlayer/process/android/RPProcessInfoAndroid.h
  xbmc/cores/RetroPlayer/process/gbm/RPProcessInfoGbm.cpp
  xbmc/cores/RetroPlayer/process/gbm/RPProcessInfoGbm.h
  xbmc/cores/RetroPlayer/process/ios/RPProcessInfoIOS.cpp
  xbmc/cores/RetroPlayer/process/ios/RPProcessInfoIOS.h
  xbmc/cores/RetroPlayer/process/osx/RPProcessInfoOSX.cpp
  xbmc/cores/RetroPlayer/process/osx/RPProcessInfoOSX.h
  xbmc/cores/RetroPlayer/process/wayland/RPProcessInfoWayland.cpp
  xbmc/cores/RetroPlayer/process/wayland/RPProcessInfoWayland.h
  xbmc/cores/RetroPlayer/process/windows/RPProcessInfoWin.cpp
  xbmc/cores/RetroPlayer/process/windows/RPProcessInfoWin.h
Labels: Type: Cleanup, Component: Players, v21 Omega

#22429 Fix crash on X11 when WAYLAND_DISPLAY is set
  xbmc/windowing/wayland/Connection.cpp
  xbmc/windowing/wayland/Connection.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
Labels: Type: Fix, Backport: Needed, Component: Windowing, v21 Omega

#22462 RetroPlayer: Fix gamewindow control ignoring properties outside a list
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.cpp
Labels: Type: Fix, Backport: Needed, Component: Games, v21 Omega

#22455 tools/depends: add pipewire for linux builds
  tools/depends/target/Makefile
  tools/depends/target/pipewire/Makefile
Labels: Type: Improvement, Platform: Linux, Component: Depends, v21 Omega

#22438 [addons] fix compile issue w/ KODI_ADDON_INSTANCE_INFO
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon_base.h
Labels: Type: Fix, Component: Binary add-ons, Type: Backport, v20 Nexus

#22464 [Backport][PlayListPlayer] Fix hint on playlist file with multiple paths
  xbmc/PlayListPlayer.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus

#22469 [Nexus] RetroPlayer: Fix gamewindow control ignoring non-itemlayout properties
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.cpp
Labels: Type: Fix, Type: Backport, Component: Games, v20 Nexus

#22470 [Nexus] Bump version 20.0 Final
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v20 Nexus

#22457 [macos] identify apple silicon as "ARM Mac OS X" in user agent
  xbmc/utils/SystemInfo.cpp
Labels: Platform: macOS, v21 Omega

#22467 fix docker cross compilation with mounted windows folder
  cmake/scripts/android/Macros.cmake
  cmake/scripts/freebsd/Install.cmake
  cmake/scripts/freebsd/PathSetup.cmake
Labels: Type: Feature, CMake, v21 Omega

#22441 CPipewireStream: adjust Connect method params
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22472 [Subtitles] Make m_ccDecoder a unique_ptr
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.h
Labels: Type: Improvement, Component: Subtitles, v21 Omega

#22471 EndTime: fix overflow when doing large comparisons
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/guilib/GUIListItemLayout.h
  xbmc/threads/SystemClock.h
  xbmc/threads/test/TestEndTime.cpp
Labels: Type: Fix, Type: Backport, v20 Nexus

#22210 CRenderSystemGL: allow using OpenGL debugging callbacks
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/utils/GLUtils.cpp
Labels: Type: Feature, Component: GUI rendering, Platform: Linux, v21 Omega

#22440 Pipewire heirarchy rework
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireContext.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireContext.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22487 DXVA: fix AMD SD interlaced workaround
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#22489 DXVA: fix AMD SD interlaced workaround
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DXVA.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, Platform: WindowsStore, Component: DirectX rendering, v20 Nexus

#22474 [windowing] Cleanup SDL references and 'relicense' xbmc_event file to…
  xbmc/windowing/XBMC_events.h
Labels: Type: Cleanup, Component: Windowing, v21 Omega

#22333 [Video][Subtitles] Use ffmpeg A53 sidedata instead of custom demuxer
  xbmc/cores/VideoPlayer/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder.c
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder708.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder708.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.h
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/Interface/CaptionBlock.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Type: Improvement, Component: Subtitles, v21 Omega

#22392 AESinkAudioTrack: Fixup boilerplates
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
Labels: Type: Fix, Backport: Needed, Platform: Android, Component: Audio, v21 Omega

#22442 Pipewire: fix implementation for AudioEngine design
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22478 Pipewire: move listener creation to constructors
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireProxy.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22479 Pipewire use references where possible
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireCore.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
Labels: Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22482 [clang-tidy] fix performance-* warnings
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/view/GUIViewState.cpp
Labels: Type: Fix, v21 Omega

#22530 [TrueHD] Fix CEngineStats delay/sync in TrueHD IEC + PAPlayer fixes
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.h
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Type: Fix, Backport: Needed, Component: Audio, v21 Omega

#22532 [video][music] Fixes for playback related context menu item apperance
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Backport: Done, Component: Music, Component: Video, v21 Omega

#22533 [video][music] Fixes for playback related context menu item apperance
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Music, Component: Video, Type: Backport, v20 Nexus

#22511 CPipewire: remove ownership of CPipewireStream
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.h
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.h
Labels: Platform: Linux, Component: Audio, v21 Omega

#22543 [PVR] Fix sort by channel backend order.
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
Labels: Type: Fix, Component: PVR, Backport: Done, v21 Omega

#22544 [PVR] Fix sort by channel backend order.
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
Labels: Type: Fix, Component: PVR, Type: Backport, v20 Nexus

#22528 [subtitles][closed captions] implement cc_hide_displayed for EIA608
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder.c
Labels: Type: Improvement, Component: Subtitles, v21 Omega

#22552 AESinkAudiotrack: Fixup forum findings
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, Backport: Needed, Component: Audio, v21 Omega

#22554 [video][music] Fix next item not selected on queue item context menu item
  xbmc/music/ContextMenus.cpp
  xbmc/video/ContextMenus.cpp
Labels: Type: Fix, Backport: Done, Component: Music, Component: Video, v21 Omega

#22555 [video][music] Fix next item not selected on queue item context menu item.
  xbmc/music/ContextMenus.cpp
  xbmc/video/ContextMenus.cpp
Labels: Type: Fix, Component: Music, Component: Video, Type: Backport, v20 Nexus

#22549 [android] strip abi version off cryptodome lib names (fixes #22539)
  tools/android/packaging/Makefile.in
  tools/depends/target/pythonmodule-pycryptodome/02-revert-ctype.pythonapi-use.patch
Labels: Type: Fix, Backport: Done, Platform: Android, Component: Python, v21 Omega

#22574 [video][music] Fix 'Play' and other related context menu items not appearing …
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Backport: Done, Component: Music, Component: Video, v21 Omega

#22575 [video][music] Fix 'Play' and other related context menu items not appearing …
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Music, Component: Video, Type: Backport, v20 Nexus

#22490 Retroplayer: Savestate manager fixes
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/GameOSD.xml
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/playback/ReversiblePlayback.cpp
  xbmc/games/dialogs/GUIDialogSelectSavestate.cpp
  xbmc/games/dialogs/osd/DialogInGameSaves.cpp
Labels: Type: Fix, Backport: Needed, Component: Games, Component: Players, v21 Omega

#22553 [Android][gradle] Configure android.ndkPath
  tools/android/packaging/xbmc/build.gradle.in
Labels: Platform: Android, Component: Build, v21 Omega

#22517 [backport] Retroplayer: Savestate manager fixes
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/GameOSD.xml
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/playback/ReversiblePlayback.cpp
  xbmc/games/dialogs/GUIDialogSelectSavestate.cpp
  xbmc/games/dialogs/osd/DialogInGameSaves.cpp
Labels: Type: Fix, Type: Backport, Component: Games, v20 Nexus

#22550 backport: [android] strip abi version off cryptodome lib names
  tools/android/packaging/Makefile.in
  tools/depends/target/pythonmodule-pycryptodome/02-revert-ctype.pythonapi-use.patch
Labels: Type: Fix, Platform: Android, Component: Python, Type: Backport, v20 Nexus

#22560 Pipewire: implement passthrough support
  cmake/modules/FindPipewire.cmake
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
Labels: Type: Feature, Type: Improvement, Platform: Linux, Component: Audio, v21 Omega

#22592 [addons][filesystem] fix memory limits with kodi::vfs::ReadLine
  xbmc/addons/kodi-dev-kit/include/kodi/Filesystem.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
Labels: Type: Fix, Backport: Needed, Component: Add-ons, API change: Binary add-ons, v21 Omega

#22593 [backport][addons][filesystem] Fix memory limits with kodi::vfs::readline
  xbmc/addons/kodi-dev-kit/include/kodi/Filesystem.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
Labels: Component: Add-ons, Type: Backport, API change: Binary add-ons, v20 Nexus

#22586 [backport][Android][gradle] Configure android.ndkPath
  tools/android/packaging/xbmc/build.gradle.in
Labels: Platform: Android, Type: Backport, Component: Build, v20 Nexus

#22581 [cppcheck] fix performance checks
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/dialogs/GUIDialogKeyboardGeneric.cpp
  xbmc/filesystem/RSSDirectory.cpp
  xbmc/utils/test/TestRegExp.cpp
  xbmc/utils/test/Testlog.cpp
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/gbm/drm/DRMUtils.cpp
Labels: Type: Fix, v21 Omega

#22505 Update metainfo versions
  tools/Linux/kodi.metainfo.xml.in
Labels: Backport: Done, Platform: Linux, v21 Omega

#22504 Fix version format as they need to be sortable
  tools/Linux/kodi.metainfo.xml.in
Labels: Type: Fix, Platform: Linux, Type: Backport, v20 Nexus

#22567 [Subtitles] Fix subtitles in livestreams with high start timestamps
  xbmc/cores/VideoPlayer/Interface/TimingConstants.h
Labels: Type: Fix, Backport: Done, Component: Subtitles, v21 Omega

#22453 [Android] Set the tag that identifies the app messages in the Logcat
  tools/android/packaging/xbmc/src/Main.java.in
  tools/android/packaging/xbmc/src/XBMCBroadcastReceiver.java.in
  tools/android/packaging/xbmc/src/XBMCFile.java.in
  tools/android/packaging/xbmc/src/XBMCJsonRPC.java.in
  tools/android/packaging/xbmc/src/XBMCMainView.java.in
  tools/android/packaging/xbmc/src/XBMCMediaSession.java.in
  tools/android/packaging/xbmc/src/XBMCProperties.java.in
  tools/android/packaging/xbmc/src/XBMCSearchableActivity.java.in
  tools/android/packaging/xbmc/src/XBMCSettingsContentObserver.java.in
  tools/android/packaging/xbmc/src/XBMCURIUtils.java.in
  tools/android/packaging/xbmc/src/XBMCVideoView.java.in
  tools/android/packaging/xbmc/src/channels/SyncChannelJobService.java.in
  tools/android/packaging/xbmc/src/channels/SyncProgramsJobService.java.in
  tools/android/packaging/xbmc/src/channels/util/SharedPreferencesHelper.java.in
  tools/android/packaging/xbmc/src/channels/util/TvUtil.java.in
  tools/android/packaging/xbmc/src/content/XBMCFileContentProvider.java.in
  tools/android/packaging/xbmc/src/content/XBMCMediaContentProvider.java.in
  tools/android/packaging/xbmc/src/content/XBMCYTDLContentProvider.java.in
  tools/android/packaging/xbmc/src/model/File.java.in
  tools/android/packaging/xbmc/src/model/Media.java.in
Labels: Platform: Android, Component: Logging, v21 Omega

#22500 Protocol: use std::chrono for timeout in SendOutMessageSync
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/utils/ActorProtocol.cpp
  xbmc/utils/ActorProtocol.h
Labels: Type: Improvement, Component: Audio, v21 Omega

#22421 [CDVDOverlay] Replace custom reference counting with std::shared_ptr
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlay.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecCCText.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecCCText.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecFFmpeg.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecSSA.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecTX3G.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecTX3G.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecText.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecText.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayImage.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayLibass.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlaySSA.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlaySpu.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayText.h
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/OverlayCodecWebVTT.h
  xbmc/cores/VideoPlayer/DVDDemuxSPU.cpp
  xbmc/cores/VideoPlayer/DVDDemuxSPU.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.h
  xbmc/cores/VideoPlayer/DVDOverlayContainer.cpp
  xbmc/cores/VideoPlayer/DVDOverlayContainer.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleLineCollection.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleLineCollection.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParser.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitleParserSSA.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitleParserWebVTT.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesAdapter.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/SubtitlesAdapter.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerSubtitle.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/DebugRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererDX.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererUtil.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererUtil.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Component: Subtitles, v21 Omega

#22598 [Video][GUIViewState] Add and set missing playlist sort to video playlist
  xbmc/video/GUIViewStateVideo.cpp
Labels: Type: Fix, Backport: Done, Component: GUI engine, v21 Omega

#22601 [backport][Video][GUIViewState] Add and set missing playlist sort
  xbmc/video/GUIViewStateVideo.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v20 Nexus

#22603 [subtitles] Revert removal of custom demuxer
  xbmc/cores/VideoPlayer/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder.c
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder708.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/contrib/cc_decoder708.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.h
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/Interface/CaptionBlock.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Component: Subtitles, v21 Omega, Type: Revert

#22602 [favourites][keymaps] Favourites Browser window: Catch-up on features of the deprecated Favourites dialog
  system/keymaps/appcommand.xml
  system/keymaps/customcontroller.AppleRemote.xml
  system/keymaps/customcontroller.Harmony.xml
  system/keymaps/customcontroller.SiriRemote.xml
  system/keymaps/keyboard.xml
  system/keymaps/wetek-play/keyboard.xml
  xbmc/favourites/CMakeLists.txt
  xbmc/favourites/ContextMenus.cpp
  xbmc/favourites/FavouritesUtils.cpp
  xbmc/favourites/FavouritesUtils.h
  xbmc/favourites/GUIDialogFavourites.cpp
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/favourites/GUIWindowFavourites.h
Labels: Type: Improvement, Backport: Done, v21 Omega, Component: Favourites

#22604 [favourites][keymaps] Favourites Browser window: Catch-up on features of the deprecated Favourites dialog
  system/keymaps/appcommand.xml
  system/keymaps/customcontroller.AppleRemote.xml
  system/keymaps/customcontroller.Harmony.xml
  system/keymaps/customcontroller.SiriRemote.xml
  system/keymaps/keyboard.xml
  system/keymaps/wetek-play/keyboard.xml
  xbmc/favourites/CMakeLists.txt
  xbmc/favourites/ContextMenus.cpp
  xbmc/favourites/FavouritesUtils.cpp
  xbmc/favourites/FavouritesUtils.h
  xbmc/favourites/GUIDialogFavourites.cpp
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/favourites/GUIWindowFavourites.h
Labels: Type: Improvement, Type: Backport, v20 Nexus, Component: Favourites

#22609 [video][music] Fix playlist item order. …
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Backport: Done, Component: Music, Component: Video, v21 Omega

#22610 [video][music] Fix playlist item order. …
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Music, Component: Video, Type: Backport, v20 Nexus

#22585 Game OSD: Allow rename/delete savestates in-game
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.h
  xbmc/cores/RetroPlayer/guibridge/GUIGameRenderManager.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameRenderManager.h
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettingsHandle.cpp
  xbmc/cores/RetroPlayer/guibridge/GUIGameSettingsHandle.h
  xbmc/cores/RetroPlayer/guibridge/IGameCallback.h
  xbmc/cores/RetroPlayer/playback/IPlayback.h
  xbmc/cores/RetroPlayer/playback/RealtimePlayback.h
  xbmc/cores/RetroPlayer/playback/ReversiblePlayback.cpp
  xbmc/cores/RetroPlayer/playback/ReversiblePlayback.h
  xbmc/cores/RetroPlayer/savestates/SavestateDatabase.cpp
  xbmc/cores/RetroPlayer/savestates/SavestateDatabase.h
  xbmc/games/dialogs/osd/DialogGameSaves.cpp
  xbmc/games/dialogs/osd/DialogGameSaves.h
  xbmc/games/dialogs/osd/DialogGameVideoSelect.cpp
  xbmc/games/dialogs/osd/DialogGameVideoSelect.h
  xbmc/games/dialogs/osd/DialogInGameSaves.cpp
  xbmc/games/dialogs/osd/DialogInGameSaves.h
  xbmc/games/ports/windows/GUIPortList.cpp
  xbmc/games/ports/windows/GUIPortList.h
  xbmc/games/ports/windows/GUIPortWindow.cpp
  xbmc/games/ports/windows/GUIPortWindow.h
  xbmc/games/ports/windows/IPortList.h
Labels: Type: Improvement, Component: Games, v21 Omega

#22627 windowing: X11: Add missing <cstdint> include (fix build with GCC 13)
  xbmc/windowing/X11/GLContext.h
Labels: Type: Improvement, Component: Build, v21 Omega

#22630 [backport] windowing: X11: Add missing <cstdint> include (fix build with GCC 13)
  xbmc/windowing/X11/GLContext.h
Labels: Type: Fix, Type: Backport, Component: Build, v20 Nexus

#22629 [PVR] CPVRClients: Optimize calls which obtain client capabilities.
  xbmc/pvr/addons/PVRClients.cpp
Labels: Type: Improvement, Component: PVR, Backport: Done, v21 Omega

#22655 [PVR] CPVRClients: Optimize calls which obtain client capabilities.
  xbmc/pvr/addons/PVRClients.cpp
Labels: Type: Improvement, Component: PVR, Type: Backport, v20 Nexus

#22633 Format kodi-dev-kit
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-dev-kit/include/kodi/Filesystem.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/AudioDecoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Game.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Inputstream.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Peripheral.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/inputstream/DemuxPacket.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/inputstream/StreamCrypto.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/peripheral/PeripheralUtils.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/ChannelGroups.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/General.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Timers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/game.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/peripheral.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_defines.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_epg.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_general.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_providers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_stream.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_timers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/video_codec.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon_base.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/audio_engine.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/general.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/gui/list_item.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/platform/android/system.h
  xbmc/addons/kodi-dev-kit/include/kodi/gui/controls/Spin.h
  xbmc/addons/kodi-dev-kit/include/kodi/gui/gl/GLonDX.h
  xbmc/addons/kodi-dev-kit/include/kodi/tools/DllHelper.h
  xbmc/addons/kodi-dev-kit/include/kodi/tools/Timer.h
  xbmc/input/actions/ActionIDs.h
Labels: Type: Cleanup, Component: Add-ons, v21 Omega
