Repository xbmc/xbmc, pull requests merged in 2023-11, with the labels that each got.

#24037 [contextmenumanager] Fix 'More...' context menu item displayed for favourites…
  xbmc/ContextMenuManager.cpp
  xbmc/ContextMenuManager.h
  xbmc/favourites/ContextMenus.cpp
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/listproviders/DirectoryProvider.cpp
Labels: Type: Fix, v21 Omega

#24041 [Estuary] Fix alignment of counter labels in File Manager
  addons/skin.estuary/xml/FileManager.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24009 [python] Fix xmbc.getRegion("time")
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/interfaces/legacy/ModuleXbmc.h
Labels: Type: Fix, Component: Python, v21 Omega

#24045 [xkbcommon] Unify xkbLogger
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
Labels: Type: Improvement, Component: Input, v21 Omega

#24048 [builtins] PlayerBuiltins: PlayOrQueueMedia: Fixes
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Type: Fix, v21 Omega

#24047 [fileitem] Fix 'action play' not working for favourites for strm files.
  xbmc/FileItem.cpp
Labels: Type: Fix, v21 Omega

#24042 VAAPI: increase maxReferences for AV1
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
Labels: Type: Fix, Component: Video rendering, v21 Omega

#24053 [PVR] Fix recordings with a path containing a ':' not displayed in recordings window.
  xbmc/pvr/recordings/PVRRecordingsPath.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#24052 [CApp] Kill XBMC to Kodi migration
  addons/resource.language.en_gb/resources/strings.po
  xbmc/application/Application.cpp
Labels: Type: Cleanup, v21 Omega

#24061 [python] Add songVideoURL to InfoTagMusic
  xbmc/interfaces/legacy/InfoTagMusic.cpp
  xbmc/interfaces/legacy/InfoTagMusic.h
Labels: Type: Improvement, Component: Music, API change: Python, Component: Python, v21 Omega

#24059 [PVR][Estuary] PVR core should not set label2 for PVR recording folde…
  addons/skin.estuary/xml/MyPVRRecordings.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Cleanup, Component: PVR, Component: Skin, v21 Omega

#24056 [cmake] copy_file_to_buildtree make sure we create ExportFiles.cmake
  cmake/scripts/common/Macros.cmake
Labels: Type: Fix, CMake, v21 Omega

#24003 [tools/depends] Bump openssl 1.1.1w
  tools/depends/native/openssl/Makefile
  tools/depends/native/openssl/OPENSSL-VERSION
  tools/depends/target/openssl/Makefile
  tools/depends/target/openssl/OPENSSL-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega, Platform: webOS

#24062 [PVR] Fix recordings with a path containing a ':' not displayed in re…
  xbmc/pvr/recordings/PVRRecordingsPath.cpp
Labels: Type: Fix, Component: PVR, Type: Partial backport, v20 Nexus

#23757 Use std::make_(shared|unique)
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Cleanup, v21 Omega

#21585 [Cmake] enable_internal_cec
  CMakeLists.txt
  cmake/modules/FindCEC.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindP8Platform.cmake
  cmake/platform/android/android.cmake
  cmake/platform/darwin_embedded/ios.cmake
  cmake/platform/darwin_embedded/tvos.cmake
  cmake/platform/linux/webos.cmake
  cmake/platform/windowsstore/windowsstore.cmake
  cmake/scripts/common/Macros.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/cec/001-all-cmakelists.patch
  tools/depends/target/cec/002-all-libceccmakelists.patch
  tools/depends/target/cec/003-all-remove_git_info.patch
  tools/depends/target/cec/004-win-remove_32bit_timet.patch
  tools/depends/target/cec/005-win-pdbstatic.patch
  tools/depends/target/cec/CEC-VERSION
  tools/depends/target/cec/Makefile
  tools/depends/target/libcec/Makefile
  tools/depends/target/p8-platform/001-all-fix-c++17-support.patch
  tools/depends/target/p8-platform/002-all-fixcmakeinstall.patch
  tools/depends/target/p8-platform/003-all-cmake_tweakversion.patch
  tools/depends/target/p8-platform/Makefile
  tools/depends/target/p8-platform/P8-PLATFORM-VERSION
Labels: Platform: Android, Platform: Windows, Platform: macOS, Component: Depends, v21 Omega

#24054 [Estuary] Backport Estuary fixes
  addons/skin.estuary/xml/FileManager.xml
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/View_53_Shift.xml
Labels: Backport: Done, Type: Backport, v20 Nexus

#24006 [imagecache] CVideoGeneratedImageFileLoader check setting to extract thumb
  xbmc/video/VideoGeneratedImageFileLoader.cpp
Labels: Type: Fix, v21 Omega

#23956 [imagecache] clarify logic around image revalidation, fixing some images returning 404 via HTTP
  xbmc/TextureCache.cpp
  xbmc/TextureCacheJob.cpp
  xbmc/TextureCacheJob.h
Labels: Type: Fix, v21 Omega

#24036 [input] Use smartpointers to wrap raw xkb pointers in libinput
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/platform/linux/input/LibInputKeyboard.h
Labels: Type: Improvement, Platform: Linux, Component: Input, v21 Omega

#24044 [libinput] Add dead-key xkbcommon-compose support
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/platform/linux/input/LibInputKeyboard.h
Labels: Type: Improvement, Component: Input, v21 Omega

#24055 [Documentation] Update doxygen for v20 and v21 game-related changes
  xbmc/GUIInfoManager.cpp
  xbmc/addons/kodi-dev-kit/doxygen/Doxyfile
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.dox
  xbmc/games/controllers/guicontrols/GUIGameController.dox
  xbmc/games/controllers/guicontrols/GUIGameControllerList.dox
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/_Controls.dox
Labels: Type: Improvement, Component: Games, Component: Documentation, v21 Omega

#24060 [Discs] Fix ISOs are opened using File Cache in some cases and bad read size (sector size)
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
Labels: Type: Fix, Component: Discs, v21 Omega

#24073 [Estuary] Player Viewer: Give example static content for skin devs
  addons/skin.estuary/xml/Includes_Games.xml
Labels: Type: Improvement, Component: Skin, v21 Omega

#24022 Picture: Switch internal functions to use smart pointers
  xbmc/pictures/Picture.cpp
  xbmc/pictures/Picture.h
Labels: Type: Fix, Component: Picture, v21 Omega

#24085 Fix crash due nullptr surface using DXVA2
  tools/buildsteps/windows/patches/0005-ffmpeg-windows-dxva2-check-nullptr-surface.patch
Labels: Type: Fix, Platform: Windows, v21 Omega

#24090 [Estuary] Fix weather layout when busy
  addons/skin.estuary/xml/MyWeather.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24093 Backport #24090
  addons/skin.estuary/xml/MyWeather.xml
Labels: Backport: Done, Component: Skin, Type: Backport, v20 Nexus

#24094 [video] GUIWindowVideoNav.cpp: Remove unused include.
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega

#23953 [Rendering] Share the heuristics guessing SD/HD primaries across platforms
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
Labels: Type: Improvement, Component: Video rendering, v21 Omega

#24032 [macOS][Jenkins] migrate from altool to notarytool
  cmake/scripts/osx/Install.cmake
  tools/buildsteps/osx-arm64/configure-xbmc
  tools/buildsteps/osx64/configure-xbmc
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
  tools/darwin/packaging/osx/notarize.sh
Labels: Type: Fix, Backport: Needed, Platform: macOS, v21 Omega

#24101 [backport][macOS] migrate from altool to notarytool
  cmake/scripts/osx/Install.cmake
  tools/buildsteps/osx-arm64/configure-xbmc
  tools/buildsteps/osx64/configure-xbmc
  tools/darwin/packaging/osx/mkdmg-osx.sh.in
  tools/darwin/packaging/osx/notarize.sh
Labels: Platform: macOS, Type: Backport, v20 Nexus

#24099 [cmake] FindEGL set CMAKE_REQUIRED_INCLUDES for check_include_files
  cmake/modules/FindEGL.cmake
Labels: Type: Fix, CMake, Platform: FreeBSD, v21 Omega

#24083 [Xbox] Add support for HDR10 passthrough
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Type: Feature, Component: Video rendering, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#24089 tools/depends: curl adjust configure options
  tools/depends/target/Makefile
  tools/depends/target/curl/Makefile
Labels: Type: Fix, Component: Depends, v21 Omega

#24104 [Xbox] Fix crash on close App
  xbmc/windowing/win10/WinEventsWin10.cpp
Labels: Type: Fix, Platform: WindowsStore, v21 Omega

#24106 [Doxy] Fix formatting of Window IDs table
  xbmc/guilib/WindowIDs.dox
Labels: Type: Fix, Component: Skin, Component: Documentation, v21 Omega

#24071 Fix/update strings.po with translations for game window IDs
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Improvement, Component: Skin, Component: Strings, v21 Omega

#24105 Add tranlation for Peripherals dialog with ID 10149
  xbmc/guilib/WindowIDs.dox
  xbmc/input/WindowTranslator.cpp
Labels: Type: Improvement, Component: Skin, Component: Documentation, v21 Omega

#23921 windowing/gbm: add EGL fencing for atomic drm
  xbmc/utils/EGLFence.cpp
  xbmc/utils/EGLFence.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.h
  xbmc/windowing/gbm/WinSystemGbmGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmGLESContext.cpp
  xbmc/windowing/gbm/drm/DRMAtomic.cpp
  xbmc/windowing/gbm/drm/DRMAtomic.h
  xbmc/windowing/gbm/drm/DRMLegacy.cpp
  xbmc/windowing/gbm/drm/DRMLegacy.h
  xbmc/windowing/gbm/drm/DRMUtils.h
  xbmc/windowing/gbm/drm/OffScreenModeSetting.h
Labels: Type: Improvement, Platform: Linux, Component: Windowing, v21 Omega

#24114 [builtins] PlayerBuiltins::PlayOrQueueMedia: Fix logging and slightly optimize
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Type: Fix, Type: Cleanup, v21 Omega

#24103 [Android] Unused variable m_colorFormat in MediaCodec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.h
Labels: Type: Cleanup, Platform: Android, v21 Omega

#24066 [videoplayer] Go to Chapter Start for "Previous Chapter" Past Grace Period
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Type: Improvement, Component: Players, v21 Omega

#24087 [guilib][vfs][imagecache][pvr] Load PVR group images into texture cache when viewed, like standard images
  xbmc/imagefiles/SpecialImageLoaderFactory.cpp
  xbmc/imagefiles/SpecialImageLoaderFactory.h
  xbmc/pictures/Picture.cpp
  xbmc/pictures/Picture.h
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRChannelGroupImageFileLoader.cpp
  xbmc/pvr/PVRChannelGroupImageFileLoader.h
  xbmc/pvr/PVRThumbLoader.cpp
Labels: Type: Improvement, Component: PVR, Component: FileSystem, v21 Omega

#24080 ffmpeg: Bump to version 6.0.1
  tools/depends/target/ffmpeg/FFMPEG-VERSION
Labels: Type: Fix, Component: Video, v21 Omega

#24118 [PVR] CGUIWindowPVRBase: Prevent concurrent updates caused by GUI_MSG_UPDATE
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#24119 [fileitem] CFileItem::LoadDetails: Add support for strm files containing an audio item.
  xbmc/FileItem.cpp
Labels: Type: Fix, v21 Omega

#24116 [PVR] Fix racing problems due to ACTION_CHANNEL_SWITCH message being …
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
Labels: Type: Fix, Component: PVR, v21 Omega

#24120 [video] CAsyncItemsForPlaylist: If we shall resume but can't, default…
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#24107 [BACKPORT] [cmake] FindEGL set CMAKE_REQUIRED_INCLUDES for check_include_files
  cmake/modules/FindEGL.cmake
Labels: Type: Fix, CMake, Platform: FreeBSD, v20 Nexus

#24108 [BACKPORT] tools/depends: curl adjust configure options
  tools/depends/target/Makefile
  tools/depends/target/curl/Makefile
Labels: Type: Fix, Component: Depends, v20 Nexus

#24100 [Settings] Adjust the "Use display HDR capabilities" setting
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
Labels: Type: Improvement, Wiki: Needed, Component: Settings, Component: Strings, v21 Omega

#24123 [Settings][Windows] Update the description of the DXVA VSR setting
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Fix, Component: Settings, Platform: Windows, v21 Omega

#24117 [VideoPlayer] Fix cache level calculation and add to Debug Info OSD
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/filesystem/FileCache.cpp
  xbmc/filesystem/IFileTypes.h
Labels: Type: Fix, Type: Improvement, Wiki: Needed, Component: FileSystem, Component: Players, v21 Omega

#24076 Correctly handle 'Disc n' subdirectories in scraping and set creation.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/FileItem.cpp
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#24124 [Estuary] Modify settings decription field to avoid unnecessary autoscroll
  addons/skin.estuary/xml/SettingsCategory.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24126 [VideoPlayer] Remove unused code
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Type: Cleanup, Component: Players, v21 Omega

#24132 [VideoVersion] Added VideoVersionPlay dialog
  addons/resource.language.en_gb/resources/strings.po
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.h
Labels: Type: Improvement, Component: Video, v21 Omega

#23577 [Android] Check if dovi profile is supported by the codec
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Type: Improvement, Component: Video rendering, Platform: Android, v21 Omega

#24084 Remove article from summary
  tools/Linux/kodi.metainfo.xml.in
Labels: Backport: Needed, Platform: Linux, v21 Omega

#24134 [video] Fix auto play next item not working if 'uncategorized' is not…
  xbmc/media/MediaType.h
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#24139 Fix Visual Studio warnings
  xbmc/network/GUIDialogNetworkSetup.cpp
  xbmc/windowing/GraphicContext.cpp
Labels: Type: Fix, v21 Omega

#24143 [Android] Set codec profile 8 in DOVI compatibility mode
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Type: Improvement, Component: Video rendering, Platform: Android, v21 Omega

#24138 [cleanup][Windows] Remove a few compiler warnings and unnecessary global
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Type: Fix, Platform: Windows, Component: Input, Platform: WindowsStore, v21 Omega

#24141 XBMCTinyXML2: Strip trailing '\0' when writing to file
  xbmc/utils/XBMCTinyXML2.cpp
Labels: Type: Fix, v21 Omega

#24154 [Estuary] Add Theora video codec flag image
  addons/skin.estouchy/media/flagging/video/theora.png
  addons/skin.estuary/media/flags/videocodec/theora.png
Labels: Type: Improvement, Component: Skin, v21 Omega

#24156 [VideoVersion] Fixed unexpected VideoVersion dialog in VideoInfo dial…
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#24147 [Games] Remove hard-coded button combos
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/GameOSD.xml
  xbmc/games/GameServices.cpp
  xbmc/games/GameServices.h
  xbmc/games/controllers/ControllerManager.cpp
  xbmc/games/controllers/ControllerManager.h
  xbmc/games/controllers/ControllerTypes.h
  xbmc/games/dialogs/osd/DialogGameOSDHelp.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.h
Labels: Type: Improvement, Component: Skin, Component: Input, Component: Games, v21 Omega
