Repository xbmc/xbmc, pull requests merged in 2023-07, with the labels that each got.

#23458 [Windows] refactor Video Super Resolution
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, v21 Omega

#23460 [video] Fix auto play next video not working from inside video info dialog
  xbmc/video/VideoUtils.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Fix, Component: Video, v21 Omega

#22812 [clang-tidy] fix performance-* warnings
  xbmc/cores/RetroPlayer/guicontrols/GUIRenderSettings.cpp
  xbmc/cores/RetroPlayer/guicontrols/GUIRenderSettings.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/games/dialogs/osd/DialogInGameSaves.cpp
  xbmc/imagefiles/SpecialImageLoaderFactory.cpp
  xbmc/imagefiles/SpecialImageLoaderFactory.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/windowing/WinSystem.cpp
Labels: Type: Fix, v21 Omega

#23464 [Windows] Remove unused code in DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Type: Cleanup, Platform: Windows, v21 Omega

#23463 [Windows] remove unused extra frame rate doubling for interlaced resolutions in CVideoSyncD3D
  xbmc/rendering/dx/RenderSystemDX.cpp
  xbmc/rendering/dx/RenderSystemDX.h
  xbmc/windowing/windows/VideoSyncD3D.cpp
Labels: Type: Cleanup, Component: Video, Platform: Windows, Platform: WindowsStore, v21 Omega

#23465 [input] remove unused tinyxml usage in InputCodineTableFactory
  xbmc/input/InputCodingTableFactory.cpp
  xbmc/input/InputCodingTableFactory.h
  xbmc/input/KeyboardLayout.cpp
Labels: Type: Cleanup, Component: Input, v21 Omega

#23461 [Windows] Fix: show 119.88Hz and future higher fractional refresh rates correctly
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/windowing/windows/VideoSyncD3D.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Fix, Component: Video, Component: Settings, Platform: Windows, Platform: WindowsStore, v21 Omega

#23469 [addons] fix debug assert because of non-deterministic comparison of dependencies
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Fix, Component: Add-ons, v21 Omega

#23475 Revert "[Android][cmake] adjust macros according to the API we are targeting"
  cmake/scripts/android/ArchSetup.cmake
  xbmc/cores/DllLoader/exports/emu_msvcrt.h
  xbmc/cores/DllLoader/exports/wrapper.c
Labels: Type: Fix, Platform: Android, Component: Build, v21 Omega

#23474 [video] Take 2 to fix auto play next video not working from inside video info dialog.
  xbmc/video/VideoUtils.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Fix, Component: Video, v21 Omega

#23478 [music][video] Context menu play items: Set playlist_type_hint before…
  xbmc/music/ContextMenus.cpp
  xbmc/video/ContextMenus.cpp
Labels: Type: Fix, Component: Music, Component: Video, v21 Omega

#23476 [Estuary] Reset timer as long as the osd is shown
  addons/skin.estuary/xml/Timers.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#23467 [Windows] RetroPlayer: Fix blue/pink washed out colors on 10-bit displays
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
Labels: Type: Fix, Backport: Needed, Platform: Windows, Component: Games, v21 Omega

#23134 [guilib][vfs][imagecache] Load video thumbnail images into texture cache when viewed, like standard images
  xbmc/TextureCache.cpp
  xbmc/TextureCacheJob.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.h
  xbmc/guilib/Texture.h
  xbmc/imagefiles/SpecialImageLoaderFactory.cpp
  xbmc/imagefiles/SpecialImageLoaderFactory.h
  xbmc/pictures/PictureThumbLoader.cpp
  xbmc/pictures/PictureThumbLoader.h
  xbmc/video/CMakeLists.txt
  xbmc/video/VideoGeneratedImageFileLoader.cpp
  xbmc/video/VideoGeneratedImageFileLoader.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/VideoThumbLoader.h
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
Labels: Type: Improvement, Component: Video, Component: GUI engine, Component: FileSystem, v21 Omega

#23477 [bp][addons] fix debug assert because of non-deterministic comparison of …
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Fix, Component: Add-ons, Type: Backport, v20 Nexus

#23491 [Windows] Remove unused variables
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
  xbmc/windowing/windows/VideoSyncD3D.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Cleanup, Platform: Windows, v21 Omega

#23484 [Windows][dxva] refactor CProcessorHD/CEnumeratorHD to remove direct access to the D3D enumerator interfaces
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#23496 [macos][nativewindowing] Check and update monitor setting on startup
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Component: Windowing, v21 Omega

#23482 Games: Stable player assignment
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientJoystick.cpp
  xbmc/games/addons/input/GameClientJoystick.h
  xbmc/games/addons/input/GameClientKeyboard.cpp
  xbmc/games/addons/input/GameClientKeyboard.h
  xbmc/games/addons/input/GameClientMouse.cpp
  xbmc/games/addons/input/GameClientMouse.h
  xbmc/games/addons/input/GameClientTopology.h
  xbmc/games/agents/GameAgentManager.cpp
  xbmc/games/agents/GameAgentManager.h
Labels: Type: Fix, Backport: Needed, Component: Input, Component: Games, v21 Omega

#23471 Savestate Manager: Map "delete" key in savestate dialogs
  system/keymaps/keyboard.xml
  xbmc/games/dialogs/osd/DialogGameSaves.cpp
Labels: Type: Fix, Type: Improvement, Backport: Needed, Component: Input, Component: Games, v21 Omega

#23415 CWinSystemGbm: fix issues if drm connector doesn't list any modes
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Type: Fix, Platform: Linux, Component: Windowing, v21 Omega

#23486 Sync controller add-ons for 21 Alpha 3
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.default/resources/language/resource.language.vi_vn/strings.po
  addons/game.controller.keyboard/addon.xml
  addons/game.controller.keyboard/resources/language/resource.language.it_it/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.pl_pl/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.sk_sk/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.sv_se/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.snes/resources/language/resource.language.vi_vn/strings.po
Labels: Type: Improvement, Backport: Done, Component: Add-ons, Component: Input, Component: Games, v21 Omega

#23489 [Backport] [Windows] RetroPlayer: Fix blue/pink washed out colors on 10-bit displays
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.h
Labels: Type: Fix, Type: Backport, Component: Games, v20 Nexus

#23498 [Backport] Games: Stable player assignment
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientJoystick.cpp
  xbmc/games/addons/input/GameClientJoystick.h
  xbmc/games/addons/input/GameClientKeyboard.cpp
  xbmc/games/addons/input/GameClientKeyboard.h
  xbmc/games/addons/input/GameClientMouse.cpp
  xbmc/games/addons/input/GameClientMouse.h
  xbmc/games/addons/input/GameClientTopology.h
  xbmc/games/agents/GameAgentManager.cpp
  xbmc/games/agents/GameAgentManager.h
Labels: Type: Fix, Component: Input, Type: Backport, Component: Games, v20 Nexus

#23492 Fix Visual Studio warning C4701: potentially uninitialized local variable used
  xbmc/cdrip/CDDARipJob.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
  xbmc/guilib/GUIFontTTF.cpp
Labels: Type: Improvement, v21 Omega

#23504 [Backport] Savestate Manager: Map "delete" key in savestate dialogs
  system/keymaps/keyboard.xml
  xbmc/games/dialogs/osd/DialogGameSaves.cpp
Labels: Type: Fix, Component: Input, Type: Backport, Component: Games, v20 Nexus

#23507 [Backport] Sync controller add-ons for 20.3
  addons/game.controller.default/addon.xml
  addons/game.controller.default/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.default/resources/language/resource.language.vi_vn/strings.po
  addons/game.controller.keyboard/addon.xml
  addons/game.controller.keyboard/resources/language/resource.language.it_it/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.pl_pl/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.sk_sk/strings.po
  addons/game.controller.snes/addon.xml
  addons/game.controller.snes/resources/language/resource.language.fr_fr/strings.po
  addons/game.controller.snes/resources/language/resource.language.sv_se/strings.po
  addons/game.controller.snes/resources/language/resource.language.tr_tr/strings.po
  addons/game.controller.snes/resources/language/resource.language.vi_vn/strings.po
Labels: Type: Improvement, Component: Add-ons, Component: Input, Component: Games, v20 Nexus

#23501 Game OSD: Move controller ID from core to the skin
  addons/skin.estuary/xml/GameOSD.xml
  xbmc/games/addons/input/GameClientTopology.cpp
  xbmc/games/addons/input/GameClientTopology.h
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
  xbmc/games/controllers/guicontrols/GUIGameController.h
  xbmc/games/dialogs/osd/DialogGameOSDHelp.cpp
  xbmc/games/dialogs/osd/DialogGameOSDHelp.h
  xbmc/guilib/GUIControlFactory.cpp
Labels: Type: Improvement, Component: GUI engine, Component: Skin, Component: Games, v21 Omega

#23499 Port Dialog: Fix segfault when choosing a controller, and minor improvements
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/controllers/dialogs/ControllerSelect.cpp
  xbmc/games/controllers/guicontrols/GUIFeatureButton.cpp
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/ports/input/PortManager.cpp
  xbmc/games/ports/input/PortManager.h
  xbmc/games/ports/types/PortNode.cpp
  xbmc/games/ports/windows/GUIPortList.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, Component: Games, v21 Omega

#23522 [Windows] Fix refresh rate switch for Intel and nVidia when changing colorspace
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Backport: Needed, Platform: Windows, Component: DirectX rendering, v21 Omega

#23520 [GUIWindowVideoBase] Fix wrong item data pointer
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, v21 Omega

#23523 [discs] Rename HAS_DVD_DRIVE to HAS_OPTICAL_SUPPORT
  CMakeLists.txt
  xbmc/Autorun.cpp
  xbmc/Autorun.h
  xbmc/ContextMenus.cpp
  xbmc/ServiceBroker.cpp
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/Util.cpp
  xbmc/application/Application.cpp
  xbmc/application/Application.h
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
  xbmc/filesystem/VirtualDirectory.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/interfaces/builtins/OpticalBuiltins.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/tags/MusicInfoTagLoaderCDDA.cpp
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/platform/win32/storage/Win32StorageProvider.cpp
  xbmc/profiles/ProfileManager.cpp
  xbmc/programs/GUIWindowPrograms.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/storage/DetectDVDType.cpp
  xbmc/storage/DetectDVDType.h
  xbmc/storage/IStorageProvider.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
  xbmc/video/ContextMenus.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, Component: Discs, v21 Omega

#23509 [Windows] improve user experience when Windows HDR is ON by default
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.h
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Feature, Type: Improvement, Component: Video rendering, Component: GUI rendering, Platform: Windows, v21 Omega

#23519 [Backport] Port Dialog: Fix segfault when choosing a controller, and minor improvements
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/controllers/dialogs/ControllerSelect.cpp
  xbmc/games/controllers/guicontrols/GUIFeatureButton.cpp
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/ports/input/PortManager.cpp
  xbmc/games/ports/input/PortManager.h
  xbmc/games/ports/types/PortNode.cpp
  xbmc/games/ports/windows/GUIPortList.cpp
Labels: Type: Fix, Type: Improvement, Component: Input, Type: Backport, Component: Games, v20 Nexus

#23515 Add "Student submission" check mark in PR template
  docs/PULL_REQUEST_TEMPLATE.md
Labels: Type: Improvement, Component: Documentation, v21 Omega

#23462 [tools/depends][native] Fix requirement for TexturePacker in makefile
  tools/depends/native/Makefile
Labels: Component: Depends, v21 Omega

#23543 [Windows] BP Fix refresh rate switching for Intel and nVidia when changing colorspace
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: DirectX rendering, v20 Nexus

#23527 [Windows][Android] Remove some settings includes and better HDR settings code reuse
  xbmc/application/Application.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererShaders.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/android/WinSystemAndroidGLESContext.cpp
Labels: Type: Improvement, Component: Settings, Platform: Android, Platform: Windows, Platform: WindowsStore, Component: Windowing, v21 Omega

#23521 Port Dialog: Highlight active controllers
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/Includes_Games.xml
  xbmc/games/GameUtils.cpp
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/addons/input/GameClientJoystick.cpp
  xbmc/games/addons/input/GameClientJoystick.h
  xbmc/games/agents/GameAgentManager.cpp
  xbmc/games/agents/GameAgentManager.h
  xbmc/games/controllers/dialogs/GUIDialogButtonCapture.cpp
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
  xbmc/games/controllers/guicontrols/GUIGameController.h
  xbmc/games/controllers/input/CMakeLists.txt
  xbmc/games/controllers/input/ControllerActivity.cpp
  xbmc/games/controllers/input/ControllerActivity.h
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/controllers/windows/GUIControllerWindow.cpp
  xbmc/games/dialogs/GUIDialogSelectGameClient.cpp
  xbmc/games/ports/input/PortInput.cpp
  xbmc/games/ports/input/PortInput.h
  xbmc/games/ports/windows/GUIPortList.cpp
  xbmc/games/windows/GUIViewStateWindowGames.cpp
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/peripherals/addons/AddonInputHandling.cpp
  xbmc/peripherals/devices/PeripheralMouse.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripherals.h
Labels: Type: Feature, Component: Input, Component: Games, v21 Omega

#23532 [python] pass sys.argv strings in logical order to python addons
  xbmc/interfaces/python/PythonInvoker.cpp
Labels: Type: Fix, Component: Python, v21 Omega

#23488 Fix DVD disc device playback (#20048) by fixing device url initialization
  xbmc/Autorun.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Component: Discs, v21 Omega

#23531 [discs] Improve Linux dvd playback without mounting
  xbmc/Autorun.cpp
  xbmc/application/Application.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/DVDDirectory.cpp
  xbmc/filesystem/DVDDirectory.h
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/DirectoryFactory.h
  xbmc/filesystem/IDirectory.h
  xbmc/filesystem/IFileDirectory.h
  xbmc/filesystem/ISO9660Directory.cpp
  xbmc/filesystem/ISO9660Directory.h
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Platform: Linux, Component: Discs, v21 Omega

#23559 [docs][python] improve documentation of windowed play arg
  xbmc/interfaces/legacy/Player.h
Labels: Type: Improvement, Component: Python, Documentation, v21 Omega

#23555 [upnp] Move upnp item resolve to IDirectory implementation
  xbmc/application/Application.cpp
  xbmc/filesystem/UPnPDirectory.cpp
  xbmc/filesystem/UPnPDirectory.h
Labels: Type: Cleanup, Type: Improvement, Component: UPnP, v21 Omega

#23536 [depends] Bump libbluray to 1.3.4
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/libbluray/LIBBLURAY-VERSION
Labels: Type: Improvement, Component: Depends, v21 Omega

#23552 [Windows] DXVA: minor code improvements
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.h
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, Platform: WindowsStore, v21 Omega

#23537 [webOS] Appstore submission media fixes
  media/splash_webOS.png
  tools/webOS/packaging/appinfo.json.in
  tools/webOS/packaging/icon.png
  tools/webOS/packaging/largeIcon.png
Labels: Type: Fix, v21 Omega, Platform: webOS

#23548 Games: Add Player Viewer (aka "Player Manager Light")
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/media/osd/fullscreen/buttons/agent.png
  addons/skin.estuary/xml/DialogGameControllers.xml
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/Includes_Games.xml
  cmake/treedata/common/games.txt
  xbmc/games/GameTypes.h
  xbmc/games/agents/CMakeLists.txt
  xbmc/games/agents/GameAgent.cpp
  xbmc/games/agents/GameAgent.h
  xbmc/games/agents/GameAgentManager.cpp
  xbmc/games/agents/GameAgentManager.h
  xbmc/games/agents/input/CMakeLists.txt
  xbmc/games/agents/input/GameAgentJoystick.cpp
  xbmc/games/agents/input/GameAgentJoystick.h
  xbmc/games/agents/windows/CMakeLists.txt
  xbmc/games/agents/windows/GUIAgentDefines.h
  xbmc/games/agents/windows/GUIAgentList.cpp
  xbmc/games/agents/windows/GUIAgentList.h
  xbmc/games/agents/windows/GUIAgentWindow.cpp
  xbmc/games/agents/windows/GUIAgentWindow.h
  xbmc/games/agents/windows/IAgentList.h
  xbmc/games/controllers/guicontrols/CMakeLists.txt
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
  xbmc/games/controllers/guicontrols/GUIGameController.h
  xbmc/games/controllers/guicontrols/GUIGameControllerList.cpp
  xbmc/games/controllers/guicontrols/GUIGameControllerList.h
  xbmc/games/controllers/listproviders/CMakeLists.txt
  xbmc/games/controllers/listproviders/GUIGameControllerProvider.cpp
  xbmc/games/controllers/listproviders/GUIGameControllerProvider.h
  xbmc/games/controllers/types/ControllerHub.cpp
  xbmc/games/controllers/types/ControllerHub.h
  xbmc/games/controllers/types/ControllerNode.cpp
  xbmc/games/controllers/types/ControllerNode.h
  xbmc/games/ports/guicontrols/CMakeLists.txt
  xbmc/games/ports/guicontrols/GUIActivePortList.cpp
  xbmc/games/ports/guicontrols/GUIActivePortList.h
  xbmc/games/ports/guicontrols/IActivePortList.h
  xbmc/games/ports/types/PortNode.cpp
  xbmc/games/ports/types/PortNode.h
  xbmc/games/ports/windows/GUIPortDefines.h
  xbmc/guilib/GUIControl.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIListGroup.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
Labels: Type: Feature, Component: Input, Component: Games, v21 Omega

#23453 Fix building with fmt >= 10
  xbmc/guilib/GUIColorButtonControl.cpp
  xbmc/utils/log.h
  xbmc/windows/GUIWindowHome.cpp
Labels: Type: Fix, Component: Logging, v21 Omega

#23554 [plugins] Move plugin resolve to IDirectory implementation
  xbmc/application/Application.cpp
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/PluginDirectory.h
Labels: Type: Cleanup, Type: Improvement, Component: Add-ons, v21 Omega

#23558 [AddonSettings] Fix setting persistency when acessing raw Settings interface
  xbmc/addons/Addon.cpp
  xbmc/addons/Addon.h
  xbmc/addons/IAddon.h
  xbmc/addons/binary-addons/AddonDll.cpp
  xbmc/addons/binary-addons/AddonDll.h
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/addons/settings/AddonSettings.h
  xbmc/interfaces/legacy/Settings.h
Labels: Type: Fix, Component: Settings, Component: Add-ons, v21 Omega

#23473 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.sv_se/strings.po
  addons/skin.estouchy/language/resource.language.hu_hu/strings.po
  addons/skin.estouchy/language/resource.language.ja_jp/strings.po
  addons/skin.estouchy/language/resource.language.sv_se/strings.po
  addons/skin.estouchy/language/resource.language.vi_vn/strings.po
  addons/skin.estuary/language/resource.language.fi_fi/strings.po
  addons/skin.estuary/language/resource.language.ja_jp/strings.po
  addons/skin.estuary/language/resource.language.sk_sk/strings.po
  addons/skin.estuary/language/resource.language.sv_se/strings.po
  addons/skin.estuary/language/resource.language.szl/strings.po
  addons/skin.estuary/language/resource.language.vi_vn/strings.po
Labels: Component: Strings, v21 Omega
