Repository xbmc/xbmc, pull requests merged in 2023-12, with the labels that each got.

#24127 [Estuary] Cleanup noise from DefaultVideoVersions icon
  addons/skin.estuary/media/DefaultVideoVersions.png
Labels: Component: Skin, v21 Omega

#23989 Add LoongArch support to system info
  xbmc/utils/SystemInfo.cpp
Labels: Platform: Linux, v21 Omega

#24162 [Estuary] Add media flags for music
  addons/skin.estuary/xml/DialogMusicInfo.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/MyMusicNav.xml
Labels: Type: Feature, Component: Skin, v21 Omega

#24140 [swig] Fix misleading indentation warnings
  xbmc/interfaces/python/typemaps/python.buffer.intm
Labels: Type: Fix, Component: Python, v21 Omega

#24018 [linux][docs] add note about libdisplay-info when building kodi with gbm windowing
  docs/README.Linux.md
Labels: Type: Improvement, Platform: Linux, Component: Documentation, v21 Omega

#23855 [Addons] Remove GLES3/gl3ext.h include
  xbmc/addons/kodi-dev-kit/include/kodi/gui/gl/GL.h
Labels: Type: Fix, Component: Binary add-ons, v21 Omega

#24172 [Android] Ignore obsolete DOVI profiles from codec selection
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Android, v21 Omega

#23977 [Android] Change the directory used to verify the SDK path
  tools/depends/configure.ac
Labels: Platform: Android, Component: Build, v21 Omega

#24146 [Estuary] Video Version skin redesign + cleanup
  addons/skin.estuary/colors/brown.xml
  addons/skin.estuary/colors/charcoal.xml
  addons/skin.estuary/colors/chartreuse.xml
  addons/skin.estuary/colors/concrete.xml
  addons/skin.estuary/colors/defaults.xml
  addons/skin.estuary/colors/gold.xml
  addons/skin.estuary/colors/green.xml
  addons/skin.estuary/colors/maroon.xml
  addons/skin.estuary/colors/midnight.xml
  addons/skin.estuary/colors/orange.xml
  addons/skin.estuary/colors/pink.xml
  addons/skin.estuary/colors/rose.xml
  addons/skin.estuary/colors/teal.xml
  addons/skin.estuary/colors/violet.xml
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/DialogVideoVersion.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_Buttons.xml
  addons/skin.estuary/xml/Includes_DialogVideoVersion.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Improvement, Component: Skin, v21 Omega

#24179 [cmake] FindRapidJSON fix capitalisation
  cmake/modules/FindRapidJSON.cmake
Labels: Type: Fix, CMake, v21 Omega

#24177 [VideoDatabase] Fix unnecessary query is always made to obtain cast
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Database, v21 Omega

#24128 Remove use of pcrecpp from Kodi
  cmake/modules/FindPCRE.cmake
  tools/depends/target/pcre/004-win-pdb.patch
  xbmc/filesystem/FTPParse.cpp
  xbmc/filesystem/FTPParse.h
Labels: Component: Application, v21 Omega

#24011 [tools/depends][target] Bump curl 8.4.0
  tools/depends/target/curl/CURL-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega, Platform: webOS

#23780 [LanguageCodes] Narrow mode for finding language code
  xbmc/utils/LangCodeExpander.cpp
  xbmc/utils/LangCodeExpander.h
Labels: Type: Fix, Wiki: Done, v21 Omega

#24180 [video] Video Versions: Refactor play/select logic
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogVideoVersion.xml
  addons/skin.estuary/xml/Includes_DialogVideoVersion.xml
  system/settings/settings.xml
  xbmc/ContextMenuManager.cpp
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingInfo.cpp
  xbmc/pvr/guilib/PVRGUIRecordingsPlayActionProcessor.h
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/settings/Settings.h
  xbmc/video/ContextMenus.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.h
  xbmc/video/guilib/CMakeLists.txt
  xbmc/video/guilib/VideoActionProcessorHelper.cpp
  xbmc/video/guilib/VideoActionProcessorHelper.h
  xbmc/video/guilib/VideoPlayActionProcessor.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/guilib/VideoSelectActionProcessor.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Component: Video, v21 Omega

#23840 [Scraper] Support for filename identifiers
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/addons/Scraper.cpp
  xbmc/addons/Scraper.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/test/TestUtil.cpp
  xbmc/video/VideoInfoDownloader.cpp
  xbmc/video/VideoInfoDownloader.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoScanner.h
Labels: Type: Improvement, Wiki: Needed, Component: Content, v21 Omega

#24200 DNSNameCache: check hostname can be an IPv6 address
  xbmc/network/DNSNameCache.cpp
Labels: Component: Network, v21 Omega

#24204 [video] Refactor Video Action Processors
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/listproviders/DirectoryProvider.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideInfo.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingInfo.cpp
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/guilib/CMakeLists.txt
  xbmc/video/guilib/VideoAction.h
  xbmc/video/guilib/VideoPlayAction.h
  xbmc/video/guilib/VideoPlayActionProcessor.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.h
  xbmc/video/guilib/VideoSelectAction.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/guilib/VideoSelectActionProcessor.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Cleanup, Component: Video, v21 Omega

#24202 Add OEM 102 key (OEM key on 102-key keyboards)
  xbmc/games/controllers/ControllerTranslator.cpp
  xbmc/input/XBMC_keysym.h
Labels: Type: Improvement, Component: Input, Component: Games, v21 Omega

#24194 [tools/depends] Bump Python 3.11.7
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/target/python3/PYTHON3-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega, Platform: webOS

#24205 [UPnP] Make m_delegate a unique_ptr
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.h
Labels: Type: Improvement, Component: UPnP, v21 Omega

#24197 AddonSettings: Correct order of destructor calls
  xbmc/addons/settings/AddonSettings.h
Labels: Type: Fix, Backport: Needed, Component: Add-ons, v21 Omega

#24168 [Estuary] Fix Shift view overlays
  addons/skin.estuary/xml/View_53_Shift.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24183 [VideoVersions] Optimize retrieval of video versions existence
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Fix, Component: Database, v21 Omega

#23869 CGBMUtils: return references to objects in getters
  xbmc/utils/GBMBufferObject.cpp
  xbmc/windowing/gbm/GBMUtils.cpp
  xbmc/windowing/gbm/GBMUtils.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
Labels: Type: Improvement, Platform: Linux, Component: Windowing, v21 Omega

#24201 [UPnP] Player: Make transport state thread safe
  xbmc/network/upnp/UPnPPlayer.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24121 [VideoPlayer] Double the initial refresh rate for interlaced streams
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Type: Improvement, Component: Players, v21 Omega

#24207 [Omega] Beta2
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: Type: Improvement, v21 Omega

#23927 [GUI] [Skins] Bump skins backwards-compatibility abi to 5.17.0
  addons/xbmc.gui/addon.xml
Labels: Component: GUI engine, Component: Skin, v21 Omega

#24209 Network: dns lookup can return an IPv6 address
  xbmc/network/DNSNameCache.cpp
Labels: Type: Improvement, Component: Network, v21 Omega

#24215 [UPnP] Fix crash when adding UPnP source while UPnP is disabled
  xbmc/filesystem/UPnPDirectory.cpp
  xbmc/filesystem/UPnPDirectory.h
Labels: Type: Fix, Component: UPnP, v21 Omega

#24211 [DllLibCurl][TestXBMCTinyXML2] Fix memory leaks
  xbmc/filesystem/DllLibCurl.cpp
  xbmc/utils/test/TestXBMCTinyXML2.cpp
Labels: Type: Fix, v21 Omega

#24217 [Estuary] Fix shift view overlay
  addons/skin.estuary/xml/View_53_Shift.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24157 [VideoVersion] Improved the same video detection
  xbmc/video/VideoDatabase.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#24222 [Windows] Fix chroma upsampling for software render method
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererSoftware.h
Labels: Type: Fix, Component: Video rendering, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#24224 [video] Video Versions Playback: Fixes and Cleanup
  xbmc/application/Application.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/guilib/VideoActionProcessorHelper.cpp
  xbmc/video/guilib/VideoActionProcessorHelper.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
Labels: Type: Fix, Type: Cleanup, Component: Video, v21 Omega

#24221 [Windows] Fix chroma upsampling for pixel shaders render method
  system/shaders/yuv2rgb_d3d.fx
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#24234 [video] Video versions: Add context menu item "Play using..." and "Play version using..."
  addons/resource.language.en_gb/resources/strings.po
  xbmc/ContextMenuManager.cpp
  xbmc/FileItem.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/guilib/CMakeLists.txt
  xbmc/video/guilib/VideoActionProcessorHelper.h
  xbmc/video/guilib/VideoPlayActionProcessor.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/guilib/VideoVersionHelper.h
Labels: Type: Fix, Type: Improvement, Component: Video, v21 Omega

#24235 [backport][UPnP] Fix crash when adding UPnP source while UPnP is disabled
  xbmc/filesystem/UPnPDirectory.cpp
  xbmc/filesystem/UPnPDirectory.h
Labels: Type: Fix, Type: Backport, v20 Nexus, Component: UPnP

#23710 [application] Fix a race condition on CApplicationPlayerCallback::m_itemCurrentFile
  xbmc/GUIUserMessages.h
  xbmc/application/Application.cpp
  xbmc/application/Application.h
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/application/ApplicationPlayerCallback.h
  xbmc/guilib/GUIMessage.cpp
  xbmc/guilib/GUIMessage.h
Labels: Type: Fix, Component: Players, v21 Omega

#24218 [info] Deprecated Process and Colour picture/slideshow infos
  xbmc/GUIInfoManager.cpp
Labels: Component: GUI engine, Documentation, v21 Omega

#24249 [video][guilib][input] Change video versions and extra selection to use Kodi's stock select dialog
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogVideoVersion.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_DialogVideoVersion.xml
  xbmc/dialogs/GUIDialogSelect.h
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/WindowIDs.h
  xbmc/input/WindowTranslator.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.h
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Cleanup, Component: Video, Component: GUI engine, API change: GUI, v21 Omega

#24253 [video] CVideoInfoTag: Remove CVideoDataBase dependency.
  xbmc/video/CMakeLists.txt
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
  xbmc/video/VideoVersionTypes.h
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, v21 Omega

#24260 [Estuary] Fix video version dialog 'add extras' and 'add version' button not always visible.
  addons/skin.estuary/xml/DialogVideoVersion.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24261 [video] Video version select: Hide extras/versions button if no extras/versions available.
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#24257 [UPnP] Fix playback restore after pause
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.h
Labels: Type: Fix, Type: Improvement, Component: UPnP, v21 Omega

#24151 Remove article from summary
  tools/Linux/kodi.metainfo.xml.in
Labels: Type: Improvement, Type: Backport, v20 Nexus

#24266 [guilib][GUIFadeLabelControl] Fix text right alignment
  xbmc/guilib/GUIFadeLabelControl.cpp
Labels: Type: Fix, Component: GUI rendering, v21 Omega

#24265 Fix compiler warning in BlurayCallback.cpp
  xbmc/filesystem/BlurayCallback.cpp
Labels: Type: Fix, Component: Discs, v21 Omega

#24186 [VideoPlayer] Call EnableStream when playback start disabled subtitles
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
Labels: Type: Fix, Component: Binary add-ons, Component: Players, v21 Omega

#24268 [info] Add Player.IsRemote and Player.IsExternal
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Type: Feature, Component: GUI engine, v21 Omega

#24241 [cmake] FindFFMPEG refactor target creation
  cmake/modules/FindFFMPEG.cmake
Labels: Type: Fix, CMake, v21 Omega

#24242 Fix potential segfault when missing "layoutList" element
  xbmc/platform/linux/input/LibInputSettings.cpp
Labels: Type: Fix, Platform: Linux, Component: Input, v21 Omega

#24270 [Estuary] Hide next if conditions for next don't met
  addons/skin.estuary/xml/Includes_MediaMenu.xml
Labels: Type: Improvement, Component: Skin, v21 Omega

#24262 [UPnP] Move Player to its own thread
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayer.cpp
  xbmc/application/ApplicationPlayer.h
  xbmc/cores/ExternalPlayer/ExternalPlayer.h
  xbmc/cores/IPlayer.h
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.h
Labels: Type: Cleanup, Type: Improvement, Component: UPnP, v21 Omega

#24272 [UPnP] Player: Make hasvideo and hasaudio conditional on the item type
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.h
Labels: Type: Fix, Type: Improvement, Component: UPnP, v21 Omega

#24273 [Discs][UPnP] Don't show simplified menu if playing to remote players
  xbmc/application/Application.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.h
Labels: Type: Improvement, Component: UPnP, Component: Discs, v21 Omega

#24231 [RSS] Fix parsing logic
  cmake/installdata/test-reference-data.txt
  xbmc/utils/RssReader.cpp
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/TestRssReader.cpp
  xbmc/utils/test/rss.xml
Labels: Type: Fix, v21 Omega

#24227 [Windows] Fix chroma upsampling for AMD dxva processor and 10 bit output of SDR sources
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v21 Omega

#24226 [VideoDB] fix movie title index creation and version bump
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Database, v21 Omega

#24210 [backport] AddonSettings: Correct order of destructor calls
  xbmc/addons/settings/AddonSettings.h
Labels: Type: Fix, Component: Add-ons, Type: Backport, v20 Nexus

#24258 [Estuary] Make all views consistent with PR#24168
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_53_Shift.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Type: Improvement, Component: Skin, v21 Omega

#24263 [UPnP] Player: Add option to avoid volume synchronization to target
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/settings/Settings.h
Labels: Type: Improvement, Component: UPnP, v21 Omega

#24259 [tvOS] Fix binary addons (PVR) multi instance settings reset
  xbmc/platform/darwin/tvos/TVOSNSUserDefaults.mm
  xbmc/platform/darwin/tvos/filesystem/TVOSFileUtils.mm
Labels: Type: Fix, Component: PVR, Backport: Needed, Component: Binary add-ons, Platform: tvOS, Component: FileSystem, v21 Omega

#24274 [UPnP] Fix playlist playback on remote players
  xbmc/PlayListPlayer.cpp
  xbmc/application/ApplicationPlayer.cpp
  xbmc/application/ApplicationPlayer.h
Labels: Type: Fix, Type: Improvement, Component: UPnP, v21 Omega

#24275 [UPnP] Remove unuseful code block plus strong dependency on CApp
  xbmc/network/upnp/UPnPPlayer.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24278 [tvOS] Fix binary addons (PVR) multi instance settings reset
  xbmc/platform/darwin/tvos/TVOSNSUserDefaults.mm
  xbmc/platform/darwin/tvos/filesystem/TVOSFileUtils.mm
Labels: Type: Fix, Component: PVR, Component: Binary add-ons, Type: Backport, Platform: tvOS, Component: FileSystem, v20 Nexus

#24279 [Settings] Disable video version scan
  system/settings/settings.xml
Labels: Type: Cleanup, Component: Settings, v21 Omega

#24254 [Estuary] Fix collection info layout
  addons/skin.estuary/xml/DialogVideoInfo.xml
Labels: Component: Skin, v21 Omega

#24281 [UPnP] Assorted include cleanups
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Cleanup, Component: UPnP, v21 Omega

#24280 [Estuary][GUI] Do not activate fullscreen window if rendering video to remote targets (UPnP)
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes_MediaMenu.xml
  xbmc/windows/GUIWindowHome.cpp
Labels: Type: Improvement, Component: GUI engine, Component: Skin, Component: UPnP, v21 Omega

#24282 [video] Video version dialog: Fix artwork refresh.
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#24290 [video] Video Version Dialog Cleanup
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.h
Labels: Type: Cleanup, Component: Video, v21 Omega

#24292 [video] Video version dialog: Fix wrong item played.
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.h
  xbmc/video/guilib/VideoSelectActionProcessor.h
Labels: Type: Fix, Component: Video, v21 Omega

#24303 [dialogs] Fix CGUIDialogSubtitleSettings::BrowseForSubtitle to use it…
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
Labels: Type: Fix, Component: Subtitles, v21 Omega

#24291 [Pictures] Implement Slideshow delegator design pattern
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/ServiceManager.cpp
  xbmc/ServiceManager.h
  xbmc/application/Application.cpp
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlaylistOperations.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/pictures/CMakeLists.txt
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/GUIWindowSlideShow.h
  xbmc/pictures/SlideShowDelegator.cpp
  xbmc/pictures/SlideShowDelegator.h
  xbmc/pictures/interfaces/ISlideShowDelegate.h
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, Component: Picture, v21 Omega

#24297 [ContextMenus][PVR] Do not show play using for live tv
  xbmc/video/ContextMenus.cpp
Labels: Type: Improvement, Component: PVR, Component: GUI engine, v21 Omega

#24296 [UPnP] Access to g_UserData must be protected
  xbmc/network/upnp/UPnP.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24302 [video][Estuary] Separate video versions from video extras at GUI level
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/media/icons/infodialogs/extras.png
  addons/skin.estuary/media/icons/infodialogs/versions.png
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/DialogVideoManager.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/WindowIDs.dox
  xbmc/guilib/WindowIDs.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/input/WindowTranslator.cpp
  xbmc/interfaces/legacy/InfoTagVideo.cpp
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/utils/DatabaseUtils.h
  xbmc/video/CMakeLists.txt
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
  xbmc/video/VideoManagerTypes.h
  xbmc/video/dialogs/CMakeLists.txt
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
  xbmc/video/dialogs/GUIDialogVideoVersion.cpp
  xbmc/video/dialogs/GUIDialogVideoVersion.h
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#24316 [video] Versions/Extras Manage Dialogs: Selection improvements
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
Labels: Type: Fix, Type: Improvement, Component: Video, v21 Omega, Video Versions/Extras

#24318 [video] Fix crash on strm file playback.
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#24327 [video] Fix playback of multi-version movies. Do not prompt for versi…
  xbmc/video/ContextMenus.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Video Versions/Extras

#24326 Update some video versions messages
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Improvement, Component: Strings, v21 Omega, Video Versions/Extras

#24332 [video] Cleanup translation of versions/extras dialog messages
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Video Versions/Extras

#24325 [Estuary] Fix button visibility in video versions manager
  addons/skin.estuary/xml/DialogVideoManager.xml
Labels: Type: Fix, Component: Skin, v21 Omega, Video Versions/Extras

#24313 [cmake] FindTagLib Add version test for internal build
  CMakeLists.txt
  cmake/modules/FindTagLib.cmake
Labels: Component: Depends, v21 Omega

#24336 [video] Video versions select dialog: Highlight default version in list of versions
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Video Versions/Extras

#24333 [video] Fix no video information available when playing strm files, …
  xbmc/application/Application.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Video Versions/Extras

#24331 [video][dialogs] Video versions: Fix delay before "Convert to version" video select dialog opens
  xbmc/BackgroundInfoLoader.cpp
  xbmc/BackgroundInfoLoader.h
  xbmc/dialogs/GUIDialogSelect.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
Labels: Type: Fix, Type: Cleanup, Component: Video, Component: GUI engine, v21 Omega, Video Versions/Extras

#24133 [depends][Windows] msys2 fixes and update to 20231026
  docs/README.Windows.md
  tools/buildsteps/windows/download-msys2.bat
Labels: Type: Fix, Platform: Windows, Component: Depends, Platform: WindowsStore, Component: Build, v21 Omega

#24312 [tools/depends][target] Bump Harfbuzz + Android NDK26+ build fixes
  tools/android/packaging/Makefile.in
  tools/depends/target/harfbuzz/HARFBUZZ-VERSION
  tools/depends/target/harfbuzz/Makefile
  tools/depends/target/samba-gplv3/samba_android.patch
  tools/depends/target/zlib/03-android-fix_gz_intmax.patch
  tools/depends/target/zlib/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Component: Build, v21 Omega, Platform: webOS

#24315 [guilib][GUITextBox] Use vecText to determine text width
  xbmc/guilib/GUITextBox.cpp
  xbmc/guilib/GUITextLayout.cpp
  xbmc/guilib/GUITextLayout.h
Labels: Type: Fix, Component: GUI rendering, v21 Omega

#24214 [InputStreamAddon] Fix memory leak
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.h
Labels: Type: Fix, Component: Binary add-ons, v21 Omega

#24232 [GUI] Fix focus behaviour when scrolling to the bottom of the panel
  xbmc/guilib/GUIBaseContainer.h
  xbmc/guilib/GUIPanelContainer.cpp
  xbmc/guilib/GUIPanelContainer.h
Labels: Type: Fix, Component: GUI engine, v21 Omega

#24344 [Pictures] Fix exif parsing regression from v19
  xbmc/pictures/ExifParse.cpp
Labels: Type: Fix, Backport: Needed, Component: Picture, v21 Omega

#24340 [video] Separate video versions and extras items
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoManagerTypes.h
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24345 [BP][Pictures] Fix exif parsing regression from v19
  xbmc/pictures/ExifParse.cpp
Labels: Type: Fix, Component: Picture, Type: Backport, v20 Nexus

#24356 [video] Video Versions/Extras: More smaller cleanup and fixes
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24350 [BP][Docs][Android] Fix Instructions with correct file path
  docs/README.Android.md
Labels: Type: Backport, Component: Documentation, v20 Nexus

#24351 [BP][cmake][win] allow MAXTHREADS env var for /MP use
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windows/CFlagOverrides.cmake
  cmake/scripts/windows/CXXFlagOverrides.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  cmake/scripts/windowsstore/CFlagOverrides.cmake
  cmake/scripts/windowsstore/CXXFlagOverrides.cmake
Labels: Platform: Windows, CMake, Type: Backport, Platform: WindowsStore, v20 Nexus

#24349 [BP] RendererDRMPRIMEGLES: Fix leak of EGL fences
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
Labels: Type: Fix, Component: Video rendering, Platform: Linux, Type: Backport, v20 Nexus

#24347 [BP] changed: Redact paths in audio/video error toasts
  xbmc/music/MusicDatabase.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Backport, v20 Nexus

#24348 [BP][CGUIDialogContextMenu] fix memory leak
  xbmc/dialogs/GUIDialogContextMenu.cpp
Labels: Type: Backport, v20 Nexus

#24317 [Estuary] Update versions icon for views
  addons/skin.estuary/media/DefaultVideoVersions.png
  addons/skin.estuary/media/icons/infodialogs/extras.png
  addons/skin.estuary/media/icons/infodialogs/versions.png
  addons/skin.estuary/media/overlays/versions.png
Labels: Type: Improvement, Component: Skin, v21 Omega, Feature: Video Versions/Extras

#24354 [BP][guilib] let oninfo propagate from the item to the container if the container cannot handle the item info
  xbmc/guilib/GUIBaseContainer.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v20 Nexus

#24353 [BP][uPnP] Fix playback of files accessed with curl (ftp, http, ...)
  xbmc/filesystem/NptXbmcFile.cpp
Labels: Type: Backport, v20 Nexus, Component: UPnP

#24352 [BP][tools/depends][native] gettext force am_cv_func_iconv_works for apple host
  tools/depends/native/gettext/Makefile
Labels: Backport: Done, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v20 Nexus

#24361 [CACerts] Update to 2023-12-12
  system/certs/cacert.pem
Labels: Backport: Needed, v21 Omega

#24339 Support build with taglib-2.0
  xbmc/music/tags/TagLibVFSStream.cpp
  xbmc/music/tags/TagLibVFSStream.h
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Type: Fix, v21 Omega

#24362 [Video] Improve default folder for "Add Extra" file picker
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
Labels: Type: Improvement, v21 Omega, Feature: Video Versions/Extras

#24365 [video] Remove context menu item 'Add as version to...'
  addons/resource.language.en_gb/resources/strings.po
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24370 [Videodb] Fix of previous data migration and refactors
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24373 [video] Video Versions: Fix empty context menu item label.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24323 [Estuary] Better visual indicator of focused item
  addons/skin.estuary/xml/DialogMediaSource.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
Labels: Type: Fix, Type: Improvement, Component: Skin, v21 Omega, Feature: Video Versions/Extras

#24369 [Android] Fix audio engine initialisation after sleep
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
Labels: Type: Fix, Platform: Android, Component: Audio, v21 Omega

#24379 [CACerts] Update to 2023-12-12
  system/certs/cacert.pem
Labels: Type: Backport, v20 Nexus
