Repository xbmc/xbmc, pull requests merged in 2024-09, with the labels that each got.

#25687 [PVR] Timer settings dialog: Some properties should be read-only for in-progress recordings
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25680 Estuary: optimize pattern compression
  addons/skin.estuary/extras/backgrounds/pattern1.png
  addons/skin.estuary/extras/backgrounds/pattern2.png
  addons/skin.estuary/extras/backgrounds/pattern3.png
  addons/skin.estuary/extras/backgrounds/pattern4.png
  addons/skin.estuary/extras/backgrounds/pattern5.png
  addons/skin.estuary/extras/backgrounds/pattern6.png
  addons/skin.estuary/extras/backgrounds/pattern7.png
Labels: Type: Improvement, Component: Skin, v22 Piers

#25693 [GUITextLayout] Removed custom chinese chars line break
  xbmc/guilib/GUITextLayout.h
Labels: Type: Fix, Backport: Done, Component: GUI rendering, v22 Piers

#25205 GL/GLES: implement mapping for various texture formats
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureGL.h
  xbmc/guilib/TextureGLES.cpp
  xbmc/guilib/TextureGLES.h
Labels: Type: Improvement, v22 Piers

#25708 [AE] use correct format enum values for silence generation
  xbmc/cores/AudioEngine/Utils/AEUtil.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, Platform: WindowsStore, v22 Piers

#25705 [PVR] Timer settings dialog: Fix settings read-only conditions for in-progress recordings
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25710 AESinkAudiotrack: Use 192 khz for TrueHD / DTS-HD RAW as well
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Platform: Android, Component: Audio, v22 Piers

#24611 GLES: Implement fast HQ video scalers
  system/shaders/GLES/3.1/gles310_yuv2rgb.vert
  system/shaders/GLES/3.1/gles310_yuv2rgb_filter.frag
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
Labels: Type: Improvement, Component: Video rendering, Component: GLES rendering, v22 Piers

#25702 CPUInfo: make sure m_cpuFeatures is initialized
  xbmc/utils/CPUInfo.h
Labels: Type: Fix, Platform: Linux, Component: System, v22 Piers

#25707 [Backport][Windows] Fix Discovery of MAC Address
  xbmc/platform/win32/network/NetworkWin32.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: Network, v21 Omega

#25520 xbmc/events: cppcheck performance fixes
  xbmc/events/EventLog.cpp
  xbmc/events/EventLog.h
Labels: Type: Cleanup, v22 Piers

#25517 xbmc/cdrip: cppcheck performance fixes
  xbmc/cdrip/CDDARipJob.h
Labels: Type: Cleanup, v22 Piers

#25452 [GUIWindowSlideShow] Close dialog if a video starts playing
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/GUIWindowSlideShow.h
Labels: Type: Improvement, Component: Picture, v22 Piers

#25690 Controller Dialog: Focus "OK" button by default in installation dialog
  xbmc/games/controllers/dialogs/ControllerInstaller.cpp
Labels: Type: Improvement, Component: Input, Component: Games, v22 Piers

#25691 Games: Offer to install missing dependencies on game launch
  xbmc/games/addons/GameClientProperties.cpp
  xbmc/games/addons/GameClientProperties.h
Labels: Type: Improvement, Component: Games, v22 Piers

#25539 changed: move CFileItem::FillInDefaultIcon to ArtUtils
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/filesystem/ZeroconfDirectory.cpp
  xbmc/pictures/PictureThumbLoader.cpp
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/ArtUtils.h
  xbmc/utils/test/TestArtUtils.cpp
Labels: Type: Improvement, v22 Piers

#25720 [utils] KODI::ART::FillInDefaultIcon: Remove PVR compile time dependency
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/utils/test/TestURIUtils.cpp
Labels: Type: Cleanup, v22 Piers

#25721 changed: move CFileItem::GetFolderThumb to ArtUtils
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/ThumbLoader.cpp
  xbmc/dialogs/GUIDialogContextMenu.cpp
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/ArtUtils.h
  xbmc/utils/test/TestArtUtils.cpp
Labels: Type: Improvement, v22 Piers

#25723 [video] Video navigation window: Replace context menu items 'Set actor/artist thumb'…
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, v22 Piers

#25537 xbmc: cppcheck performance fixes
  xbmc/Util.cpp
Labels: Type: Cleanup, v22 Piers

#25519 xbmc/dialogs: cppcheck performance fixes
  xbmc/dialogs/GUIDialogColorPicker.cpp
  xbmc/dialogs/GUIDialogColorPicker.h
  xbmc/dialogs/GUIDialogMediaFilter.cpp
Labels: Type: Cleanup, v22 Piers

#25726 [Omega][dvdread] fix warning 'gcc_struct' attribute directive ignored
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/ifo_types.h
Labels: Type: Backport, v21 Omega

#25719 Fix some CPPCheck and compiler warnings
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
  xbmc/favourites/GUIViewStateFavourites.h
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/guilib/guiinfo/AddonsGUIInfo.cpp
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
  xbmc/guilib/guiinfo/GUIInfo.h
  xbmc/guilib/guiinfo/GUIInfoLabel.h
  xbmc/guilib/guiinfo/VisualisationGUIInfo.cpp
  xbmc/pvr/PVRDescrambleInfo.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRSignalStatus.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRadioRDSInfo.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/guilib/PVRGUIChannelIconUpdater.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUITimesInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUITimesInfo.h
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Type: Cleanup, Component: PVR, Component: Binary add-ons, Component: GUI engine, Component: Favourites, v22 Piers

#25722 fixed: GetFolderThumb for archives
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/test/TestArtUtils.cpp
Labels: Type: Fix, v22 Piers

#25700 Fix CDDB lookups
  xbmc/network/cddb.cpp
Labels: Type: Fix, Component: Music, Component: Network, v22 Piers

#25638 Enable file:// protocol in CURL and CCurlFile
  xbmc/URL.cpp
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Improvement, Component: Add-ons, v22 Piers

#25068 [Windows] enable XAudio2 sink in Windows desktop and code improvements
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.h
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin.h
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin10.cpp
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
  xbmc/windowing/windows/WinSystemWin32.cpp
Labels: Type: Improvement, Platform: Windows, Component: Audio, Platform: WindowsStore, v22 Piers

#25714 Add single/dual channel texture support to XBT textures
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
  tools/depends/native/TexturePacker/src/decoder/IDecoder.h
  xbmc/filesystem/XbtFile.cpp
  xbmc/filesystem/XbtFile.h
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/TextureBase.cpp
  xbmc/guilib/TextureBase.h
  xbmc/guilib/TextureBundleXBT.cpp
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureGL.h
  xbmc/guilib/TextureGLES.cpp
  xbmc/guilib/TextureGLES.h
  xbmc/guilib/XBTF.cpp
  xbmc/guilib/XBTF.h
  xbmc/guilib/XBTFReader.cpp
Labels: Type: Improvement, v22 Piers

#25728 CRepository: avoid copying stringstream
  xbmc/addons/Repository.cpp
Labels: Type: Improvement, Component: Add-ons, v22 Piers

#25739 [PVR] EPG search fixes
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
Labels: Type: Fix, Component: PVR, Backport: Done, v22 Piers

#25741 [Omega][PVR] EPG search fixes
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25734 [tools/depends][target] Bump curl 8.10.0
  cmake/modules/FindCurl.cmake
  tools/depends/target/curl/01-win-nghttp2-add-name.patch
  tools/depends/target/curl/CURL-VERSION
Labels: Type: Improvement, Component: Depends, v22 Piers

#25746 [PVR] EPG search dialog: Enhance start/end time matching.
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogPVRGuideSearch.xml
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgSearchData.h
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
Labels: Type: Improvement, Component: PVR, v22 Piers

#25730 move GetLocalArtBaseFilename to ArtUtils
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/ArtUtils.h
  xbmc/utils/test/TestArtUtils.cpp
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Improvement, v22 Piers

#25755 [PVR] Add possibility to make copies of EPG saved searches (e.g. to use an existing search as a template for a new search).
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
  xbmc/pvr/guilib/PVRGUIActionsEPG.cpp
  xbmc/pvr/guilib/PVRGUIActionsEPG.h
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25758 move GetLocalArt to ArtUtils
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/test/TestFileItem.cpp
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/ArtUtils.h
  xbmc/utils/test/TestArtUtils.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Improvement, v22 Piers

#25750 [Windows] Make XAudio2 work with Windows 8 and code improvements
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.h
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin.h
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin10.cpp
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWinRT.cpp
  xbmc/platform/win10/AsyncHelpers.h
Labels: Type: Improvement, Platform: Windows, Component: Audio, Platform: WindowsStore, v22 Piers

#25759 [Windows][AE} WASAPI sink fixes and improvements
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, Platform: WindowsStore, v22 Piers

#25736 [tools/depends] Bump expat
  tools/depends/native/expat/EXPAT-VERSION
  tools/depends/target/expat/EXPAT-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 Piers

#25764 [PVR][video] Fix loading of recording folder resume information.
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.h
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, Component: Video, v22 Piers

#25765 [Omega][PVR][video] Fix loading of recording folder resume information.
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.h
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: PVR, Component: Video, Type: Backport, v21 Omega

#25754 [tools/depends] Bump openssl 3.0.15
  tools/depends/native/openssl/OPENSSL-VERSION
  tools/depends/target/openssl/OPENSSL-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 Piers
