Repository xbmc/xbmc, pull requests merged in 2024-08, with the labels that each got.

#25559 Revert AirTunes service name change
  xbmc/network/AirTunesServer.cpp
Labels: Type: Fix, Component: Network, v22 Piers

#25355 [Estuary] Add widget "editor"
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Custom_1101_SettingsDialog.xml
  addons/skin.estuary/xml/Custom_1101_SettingsList.xml
  addons/skin.estuary/xml/Custom_1105_MusicOSDSettings.xml
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_Buttons.xml
  addons/skin.estuary/xml/Includes_SettingsDialog.xml
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/SkinSettings.xml
  addons/skin.estuary/xml/Timers.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Component: Skin, v22 Piers

#25552 [addons][PVR] PVR addon-API: Replace fixed size arrays with dynamic arrays
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/ChannelGroups.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/General.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Providers.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Timers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_channel_groups.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_defines.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_general.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_providers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_timers.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRDescrambleInfo.h
  xbmc/pvr/PVREdl.cpp
  xbmc/pvr/PVRSignalStatus.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClientCapabilities.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupFromClient.cpp
  xbmc/pvr/channels/PVRChannelGroupFromClient.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.h
  xbmc/pvr/providers/PVRProvider.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/pvr/timers/PVRTimerType.cpp
Labels: Type: Improvement, Component: PVR, API change: PVR, v22 Piers

#25561 [addons] Change addon repo to Piers.
  addons/repository.xbmc.org/addon.xml
Labels: v22 Piers

#25562 [addons] PVR add-on API: Fix compiler warnings.
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
Labels: Type: Cleanup, Component: Add-ons, v22 Piers

#25449 [cppcheck] fix invocation & performance checks
  cmake/modules/buildtools/FindCppcheck.cmake
  cmake/scripts/common/StaticAnalysis.cmake
  tools/static-analysis/cppcheck/cppcheck-rules.xml
  xbmc/CueDocument.cpp
  xbmc/CueDocument.h
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
  xbmc/TextureCacheJob.cpp
  xbmc/URL.cpp
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/AudioDecoder.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/ImageDecoder.h
  xbmc/application/ApplicationPowerHandling.h
  xbmc/cores/AudioEngine/Sinks/osx/AEDeviceEnumerationOSX.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireGlobal.h
  xbmc/cores/RetroPlayer/rendering/RenderVideoSettings.h
  xbmc/favourites/FavouritesURL.h
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/CurlFile.h
  xbmc/filesystem/FTPParse.cpp
  xbmc/filesystem/FTPParse.h
  xbmc/imagefiles/ImageCacheCleaner.cpp
  xbmc/imagefiles/ImageFileURL.h
  xbmc/input/InputManager.cpp
  xbmc/interfaces/builtins/Builtins.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/music/Artist.h
  xbmc/music/Song.cpp
  xbmc/music/Song.h
  xbmc/network/httprequesthandler/HTTPImageTransformationHandler.cpp
  xbmc/network/httprequesthandler/HTTPWebinterfaceHandler.cpp
  xbmc/network/test/TestWebServer.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.h
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/linux/storage/UDisksProvider.h
  xbmc/pvr/PVRContextMenus.h
  xbmc/pvr/addons/PVRClientMenuHooks.cpp
  xbmc/pvr/addons/PVRClientMenuHooks.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/settings/SettingControl.h
  xbmc/settings/lib/Setting.h
  xbmc/storage/cdioSupport.h
  xbmc/test/TestUtils.cpp
  xbmc/utils/CPUInfo.h
  xbmc/utils/CharsetConverter.cpp
  xbmc/utils/ExecString.h
  xbmc/utils/HttpHeader.h
  xbmc/utils/XBMCTinyXML.h
  xbmc/video/ContextMenus.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoGeneratedImageFileLoader.cpp
  xbmc/windowing/X11/GLContext.h
Labels: Type: Fix, v22 Piers

#25564 [PVR] Fix CAddonRecording member init.
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25553 [MUSIC] Fix separators so that artist sortnames split correctly
  xbmc/music/Song.cpp
Labels: Type: Fix, Component: Music, v22 Piers

#25567 Added: Mark issues and PR's older then 365 days as `stale`.
  .github/workflows/stale.yml
Labels: Issue Cleanup: Backlog, v21 Omega

#25570 Specify `days-before-close` to make sure we don't close issues.
  .github/workflows/stale.yml
Labels: v22 Piers

#25556 KeyboardTranslator: Fix call to `StringUtils::ToLower`
  xbmc/input/keymaps/keyboard/KeyboardTranslator.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, v22 Piers

#25573 Removed: `debug-only` option to make it actually work.
  .github/workflows/stale.yml
Labels: Infrastructure

#25574 Changed: Cron for stale to once a day.
  .github/workflows/stale.yml
Labels: Infrastructure

#25575 Changed: With our numbers of issues/pr's, we need more runs and more …
  .github/workflows/stale.yml
Labels: Infrastructure

#25579 Changed: We need a higher rate limit otherwise it takes too much time to process the list.
  .github/workflows/stale.yml
Labels: Infrastructure

#25558 [Settings] Show "Maximum rewind time" on basic level
  system/settings/settings.xml
Labels: Type: Improvement, Component: Settings, Component: Games, v22 Piers

#25583 [BP] Bump Android SDK 34 + AGP 8.1
  cmake/platform/android/android.cmake
  docs/README.Android.md
  tools/android/packaging/build.gradle
Labels: Platform: Android, Type: Backport, Component: Build, v21 Omega

#25572 [backport] KeyboardTranslator: Fix call to `StringUtils::ToLower`
  xbmc/input/keymaps/keyboard/KeyboardTranslator.cpp
Labels: Component: Input, Type: Backport, v21 Omega

#25582 [PVR] When hiding a member of the all channels group we must not dele…
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupMember.cpp
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25581 [PVR] CPVRClients::UpdateTimerTypes: Fix crash with addons not suppor…
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25557 [MUSIC] Fix separators so that artist sortnames split correctly
  xbmc/music/Song.cpp
Labels: Type: Fix, Component: Music, Type: Backport, v21 Omega

#25590 [PVR] Fix major design flaw to use std::hash value as persistent client UID
  xbmc/addons/binary-addons/AddonInstanceHandler.cpp
  xbmc/addons/binary-addons/AddonInstanceHandler.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/addons/PVRClientUID.cpp
  xbmc/pvr/addons/PVRClientUID.h
  xbmc/pvr/addons/PVRClients.cpp
Labels: Type: Fix, Component: PVR, Backport: Needed, v22 Piers

#25592 [video] Change select action choose implementation to open the full context menu of the item…
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/guilib/VideoAction.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/guilib/VideoSelectActionProcessor.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, Backport: Needed, Component: Video, v22 Piers

#25594 [Omega][PVR] Fix major design flaw to use std::hash value as persistent client UID
  xbmc/addons/binary-addons/AddonInstanceHandler.cpp
  xbmc/addons/binary-addons/AddonInstanceHandler.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/addons/PVRClientUID.cpp
  xbmc/pvr/addons/PVRClientUID.h
  xbmc/pvr/addons/PVRClients.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25596 [Omega][video] Change select action choose implementation to open the full context menu of the item…
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/guilib/VideoAction.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/guilib/VideoSelectActionProcessor.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, Component: Video, Type: Backport, v21 Omega

#25585 [Omega] Show "Maximum rewind time" on basic level
  system/settings/settings.xml
Labels: Type: Improvement, Component: Settings, Type: Backport, Component: Games, v21 Omega

#25593 [VideoDB] Fix episode_view performance for very large databases
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Database, v22 Piers

#25610 [video][windows] Fix videos provided by plugins not played from info …
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Backport: Done, Component: Video, v22 Piers

#25611 [Omega][video][windows] Fix videos provided by plugins not played from info …
  xbmc/video/VideoUtils.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v21 Omega

#25612 [PVR] Saved searches: Add possibility to set a user defined icon for a search
  addons/resource.language.en_gb/resources/strings.po
  xbmc/FileItem.cpp
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
  xbmc/pvr/guilib/PVRGUIActionsEPG.cpp
  xbmc/pvr/guilib/PVRGUIActionsEPG.h
Labels: Type: Improvement, Component: PVR, v22 Piers

#25613 [PVR] CPVRGUIDirectory: Add support for saved search results.
  xbmc/pvr/epg/CMakeLists.txt
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgSearch.cpp
  xbmc/pvr/epg/EpgSearch.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.h
  xbmc/pvr/windows/GUIWindowPVRSearch.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25616 [PVR] Fix CAddonTimer ctor, firstDay member init. Make CaddonChannel ctor explicit
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25615 [addons][PVR] PVR Addon API 9.0.0
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/PVR.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/ChannelGroups.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Channels.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/General.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Providers.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Timers.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_epg.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_general.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Type: Improvement, Component: PVR, Component: Binary add-ons, API change: PVR, API change: Binary add-ons, Type: Breaking change, v22 Piers

#25385 [dvdread] fix warning 'gcc_struct' attribute directive ignored
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/ifo_types.h
Labels: Type: Fix, Platform: Linux, v22 Piers

#25607 TestConversionMatrix: Add missing `<iomanip>` include
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/test/TestConversionMatrix.cpp
Labels: Type: Fix, v22 Piers

#25624 [cmake] Fix waylandpp scanner hint from pkg-config
  cmake/modules/buildtools/FindWaylandPPScanner.cmake
Labels: Type: Fix, CMake, Component: Build, v22 Piers

#25622 [cmake][webOS] Exclude python config files from packaging
  cmake/scripts/webos/Install.cmake
Labels: Type: Improvement, CMake, Component: Build, Platform: webOS, v22 Piers

#25621 [cmake][addons] Dont quote variable passed to externalproject_add
  cmake/scripts/common/HandleDepends.cmake
Labels: Type: Fix, Backport: Needed, Component: Add-ons, CMake, Component: Build, v22 Piers

#25627 [backport] TestConversionMatrix: Add missing `<iomanip>` include
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/test/TestConversionMatrix.cpp
Labels: Type: Backport, v21 Omega

#25628 [cmake][addons] Dont quote variable passed to externalproject_add
  cmake/scripts/common/HandleDepends.cmake
Labels: Type: Fix, Component: Binary add-ons, CMake, Type: Backport, v21 Omega

#25620 [Omega] Release 21.1
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v21 Omega

#25626 [PVR] Misc cppcheck warning fixes.
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/guilib/PVRGUIChannelNavigator.cpp
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25584 Estuary cleanup
  addons/skin.estuary/xml/DialogVideoManager.xml
  addons/skin.estuary/xml/GameOSD.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_Animations.xml
  addons/skin.estuary/xml/Includes_Buttons.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/SettingsCategory.xml
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Type: Cleanup, Component: Skin, v22 Piers

#25625 [PVR] CPVRClient cleanup: Move CAddonEpgTag to unnamed namespace and …
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25395 AudioEngine: Include LFE mixing setting
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEResampleFFMPEG.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEResampleFFMPEG.h
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEStream.h
  xbmc/cores/AudioEngine/Interfaces/AEResample.h
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
  xbmc/settings/Settings.h
Labels: Type: Feature, Component: Audio, v22 Piers

#25629 [PVR] Feature: "Delete after watching" for recordings
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/pvr/guilib/PVRGUIActionsRecordings.cpp
  xbmc/pvr/guilib/PVRGUIActionsRecordings.h
  xbmc/settings/Settings.h
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/jobs/VideoLibraryMarkWatchedJob.cpp
Labels: Type: Improvement, Wiki: Needed, Component: PVR, v22 Piers

#25623 Fix dimming screensaver if rendering front to back
  xbmc/windows/GUIWindowScreensaverDim.cpp
Labels: Type: Fix, v22 Piers

#25286 Fix skin element "toggle button"
  xbmc/guilib/GUIToggleButtonControl.cpp
Labels: Type: Fix, v22 Piers

#24096 [PVR][addons][guilib] Add support for PVR client add-ons supplying Parental Rating Icons, extend Rating support for Recordings
  xbmc/GUIInfoManager.cpp
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/EPG.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
Labels: Type: Feature, Component: PVR, Component: GUI engine, v22 Piers

#18397 [Filesystem][smartplaylists] Don't sort grouped items by label if random order specified in xsp
  xbmc/filesystem/SmartPlaylistDirectory.cpp
Labels: Type: Fix, Component: Music, Component: Video, v22 Piers

#25439 [PVR][Estuary] Add missing EpisodePart information
  addons/skin.estuary/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Improvement, Component: PVR, Component: GUI engine, v22 Piers

#25609 [MUSIC] Fix ambiguous field in SQL if sorting by artist sortname
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Component: Music, Component: Database, v22 Piers

#25645 [addons] PVR Add-on API: Fix initialization of PVRRecording::iClientProviderUid
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/Recordings.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/pvr/recordings/PVRRecording.cpp
Labels: Type: Fix, Component: PVR, Component: Binary add-ons, v22 Piers

#25643 [PVR] Expose EpisodePart for recordings
  addons/skin.estuary/xml/Variables.xml
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_recordings.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
Labels: Type: Improvement, Component: PVR, v22 Piers

#25646 [PVR] Remove dead code
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25651 [PVR] Remember date and time channels were obtained from a client for…
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25648 [Windows] Fix crash when audio device not has 'PKEY_Device_EnumeratorName' property
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
Labels: Type: Fix, Backport: Done, Platform: Windows, Component: Audio, v22 Piers

#25660 [Backport][Windows] Fix crash when audio device not has 'PKEY_Device_EnumeratorName' property
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, Type: Backport, v21 Omega

#25657 Keymaps: update OSMC remote keymapping and add support for 3rd generation remote
  system/keymaps/osmc/osmc_remote.xml
  system/keymaps/osmcv3/osmcv3_remote.xml
  system/peripherals.xml
Labels: Type: Feature, Type: Improvement, Backport: Needed, Component: Settings, Component: Input, v22 Piers

#25658 Backport #25657 (OSMC remote keymapping)
  system/keymaps/osmc/osmc_remote.xml
  system/keymaps/osmcv3/osmcv3_remote.xml
  system/peripherals.xml
Labels: Type: Feature, Type: Improvement, Component: Settings, Component: Input, Type: Backport, v21 Omega

#25598 RetroPlayer: Show emulator name and icon in Advanced Settings dialog
  addons/skin.estuary/xml/DialogAddonSettings.xml
  xbmc/addons/gui/GUIDialogAddonSettings.cpp
Labels: Type: Feature, Component: Settings, Component: Games, v22 Piers

#25671 [PVR] Cleanup: Get rid of magic numbers for client ID
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/PVRConstants.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClientUID.cpp
  xbmc/pvr/addons/PVRClientUID.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroupMember.h
  xbmc/pvr/channels/PVRChannelsPath.cpp
  xbmc/pvr/channels/PVRChannelsPath.h
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgChannelData.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgSearchFilter.cpp
  xbmc/pvr/epg/EpgSearchFilter.h
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/pvr/timers/PVRTimerRuleMatcher.cpp
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimerType.h
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimersPath.cpp
  xbmc/pvr/timers/PVRTimersPath.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25389 [Backport] Android default buttonmaps and generic controllers
  xbmc/games/controllers/CMakeLists.txt
  xbmc/games/controllers/ControllerIDs.h
  xbmc/games/controllers/DefaultController.cpp
  xbmc/games/controllers/DefaultController.h
  xbmc/games/controllers/windows/GUIConfigurationWizard.cpp
  xbmc/input/joysticks/DriverPrimitive.cpp
  xbmc/input/joysticks/DriverPrimitive.h
  xbmc/input/joysticks/JoystickEasterEgg.cpp
  xbmc/input/keyboard/KeyboardStat.cpp
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/addons/AddonButtonMap.cpp
  xbmc/peripherals/addons/AddonButtonMap.h
  xbmc/peripherals/addons/AddonButtonMapping.cpp
  xbmc/peripherals/addons/AddonInputHandling.cpp
  xbmc/peripherals/addons/AddonInputHandling.h
  xbmc/peripherals/bus/PeripheralBus.h
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/devices/PeripheralJoystick.cpp
  xbmc/platform/android/activity/AndroidKey.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.h
  xbmc/platform/android/peripherals/AndroidJoystickTranslator.cpp
  xbmc/platform/android/peripherals/AndroidJoystickTranslator.h
  xbmc/platform/android/peripherals/PeripheralBusAndroid.cpp
  xbmc/platform/android/peripherals/PeripheralBusAndroid.h
Labels: Type: Fix, Platform: Android, Component: Input, Type: Backport, v21 Omega

#24622 [pvr] Improve support for live streaming from Epg Tags for Archive/Catchup
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_general.h
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
  xbmc/pvr/PVRStreamProperties.cpp
  xbmc/pvr/PVRStreamProperties.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
Labels: Type: Feature, Component: PVR, v22 Piers

#25672 [PVR] Cleanup: Factor out CPVRTimerType setting values into class CPVRIntSettingValues.
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/settings/CMakeLists.txt
  xbmc/pvr/settings/PVRIntSettingValues.cpp
  xbmc/pvr/settings/PVRIntSettingValues.h
  xbmc/pvr/timers/PVRTimerType.cpp
  xbmc/pvr/timers/PVRTimerType.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25673 [PVR] CPVRClient: CAddon* classes: Zero-init base struct's members in ctor
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25664 [PVR][guilib][GUIInfoManager] Add support for VideoPlayer.ParentalRatingCode/Icon/Source
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Improvement, Component: PVR, Component: GUI engine, v22 Piers

#25670 [uwp][build] Restore ability to run UWP builds on Windows 10
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: Build, v22 Piers

#25677 [MUSIC][JSON-RPC] AudioLibrary.RefreshArtist and AudioLibrary.RefreshAlbum
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.h
  xbmc/interfaces/json-rpc/JSONServiceDescription.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Feature, Wiki: Needed, Component: Music, API change: JSON-RPC, v22 Piers

#25639 Fix audiobook directory for mka albums
  xbmc/filesystem/AudioBookFileDirectory.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Component: Music, Component: FileSystem, v22 Piers

#25685 [PVR] Fix CPVRTimerType::GetPriorityValues().
  xbmc/pvr/timers/PVRTimerType.h
Labels: Type: Fix, Component: PVR, v22 Piers
