Repository xbmc/xbmc, pull requests merged in 2024-12, with the labels that each got.

#26026 [video] Optimize performance of KODI::VIDEO::UTILS::GetItemResumeInfo…
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Component: Video, v22 Piers

#25920 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.et_ee/strings.po
  addons/skin.estuary/language/resource.language.et_ee/strings.po
  addons/skin.estuary/language/resource.language.id_id/strings.po
  addons/skin.estuary/language/resource.language.sl_si/strings.po
  tools/android/packaging/xbmc/res/values-de-rde/strings.xml
  tools/android/packaging/xbmc/res/values-es-res/strings.xml
  tools/android/packaging/xbmc/res/values-it-rit/strings.xml
  tools/android/packaging/xbmc/res/values-ko-rkr/strings.xml
Labels: Component: Strings, v22 Piers

#26015 [VideoPlayer] Make sure process info is updated on close
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Backport: Done, Component: Players, v22 Piers

#26017 [VideoPlayer] Make sure process info is updated on close
  xbmc/cores/VideoPlayer/Process/ProcessInfo.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Type: Backport, Component: Players, v21 Omega

#25934 Update last selected picture on exit from full screen picture view (play picture)
  xbmc/pictures/GUIWindowPictures.cpp
Labels: Type: Improvement, Component: Picture, v22 Piers

#26028 RenderManager: improve VideoPicture comparison for HDR
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Type: Improvement, Component: Video rendering, v22 Piers

#26032 [android] Packaging: Fix `CMAKE_MAKE_EXECUTABLE` in packaging script
  cmake/scripts/android/Install.cmake
Labels: Type: Fix, Platform: Android, CMake, v22 Piers

#25614 Savestate Manager: Show emulator version that savestate was created with
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/cores/RetroPlayer/savestates/SavestateDatabase.cpp
  xbmc/games/dialogs/DialogGameDefines.h
  xbmc/games/dialogs/osd/DialogGameSaves.cpp
  xbmc/games/dialogs/osd/DialogGameSaves.h
Labels: Type: Improvement, Component: Games, v22 Piers

#26037 DVDVideoCodec: remove some not necessary definitions in .cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
Labels: Type: Cleanup, v22 Piers

#24943 [Video][Actions] new action: PreviousSubtitle
  xbmc/addons/interfaces/gui/GUITranslator.cpp
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/gui/input/action_ids.h
  xbmc/input/actions/ActionIDs.h
  xbmc/input/actions/ActionTranslator.cpp
  xbmc/video/PlayerController.cpp
Labels: Type: Feature, Wiki: Needed, Component: Subtitles, v22 Piers

#26027 MusicDataBaseDirectory::NODE_TYPE: convert to enum class
  xbmc/FileItem.cpp
  xbmc/filesystem/MusicDatabaseDirectory.cpp
  xbmc/filesystem/MusicDatabaseDirectory.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbum.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbum.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyAdded.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyAdded.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyAddedSong.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyPlayed.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyPlayed.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumRecentlyPlayedSong.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumTop100.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumTop100.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeAlbumTop100Song.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeArtist.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeArtist.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeDiscs.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeDiscs.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeGrouped.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeGrouped.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeOverview.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeOverview.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeRoot.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeRoot.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeSingles.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeSong.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeSongTop100.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeTop100.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNodeTop100.h
  xbmc/filesystem/MusicDatabaseDirectory/QueryParams.cpp
  xbmc/filesystem/MusicDatabaseDirectory/QueryParams.h
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/MusicDbUrl.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/tags/MusicInfoTagLoaderDatabase.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/music/windows/MusicFileItemListModifier.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Improvement, v22 Piers

#26020 [video] Remove unnecessary stream details extraction in version/extra addition
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Improvement, Component: Video, v22 Piers, Feature: Video Versions/Extras

#26053 VideoDataBaseDirectory::NODE_TYPE: convert to enum class
  xbmc/FileItem.cpp
  xbmc/filesystem/VideoDatabaseDirectory.cpp
  xbmc/filesystem/VideoDatabaseDirectory.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNode.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNode.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeEpisodes.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeEpisodes.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeGrouped.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeGrouped.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeInProgressTvShows.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeInProgressTvShows.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMoviesOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMoviesOverview.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMusicVideosOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMusicVideosOverview.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeOverview.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRecentlyAddedEpisodes.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRecentlyAddedMovies.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRecentlyAddedMusicVideos.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRoot.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRoot.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTitleMovies.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTitleMusicVideos.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTitleTvShows.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTitleTvShows.h
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTvShowsOverview.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeTvShowsOverview.h
  xbmc/filesystem/VideoDatabaseDirectory/QueryParams.cpp
  xbmc/filesystem/VideoDatabaseDirectory/QueryParams.h
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/VideoDbUrl.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/VideoFileItemListModifier.cpp
Labels: Type: Improvement, v22 Piers

#26054 Code Guidelines: Update C++ language standard.
  docs/CODE_GUIDELINES.md
Labels: Type: Fix, Component: Documentation, v22 Piers

#25158 [FileSystem] deprecate use of READ_CHUNKED flag
  xbmc/addons/interfaces/Filesystem.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESound.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/filesystem/File.cpp
  xbmc/filesystem/IFileTypes.h
Labels: Type: Improvement, Component: FileSystem, v22 Piers

#26061 [Windows] fix FFmpeg rebuild when version changes locally (non-merged changes)
  tools/buildsteps/windows/buildhelpers.sh
Labels: Type: Fix, Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: Build, v22 Piers

#26058 [interfaces/json-rpc] Player.Open: Fix support for option 'resume' for PVR recordings.
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.h
  xbmc/interfaces/json-rpc/schema/version.txt
Labels: Type: Fix, API change: JSON-RPC, Component: JSON-RPC, v22 Piers

#24972 Update to ffmpeg 7.1
  addons/resource.language.en_gb/resources/strings.po
  cmake/modules/FindFFMPEG.cmake
  tools/buildsteps/windows/ffmpeg_options.txt
  tools/depends/configure.ac
  tools/depends/target/ffmpeg/CMakeLists.txt
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  tools/depends/target/ffmpeg/Makefile
  xbmc/cdrip/EncoderFFmpeg.cpp
  xbmc/cdrip/EncoderFFmpeg.h
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEResampleFFMPEG.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VTB.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Component: Video, Component: Audio, Component: Depends, CMake, v22 Piers

#24160 LinuxRendererGLES: enable HDR passthrough for HDR videos with incomplete(?) metadata info
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Type: Fix, Component: Video rendering, v22 Piers

#25996 [backport] Add a scaling factor to `XBMC_ResizeEvent`
  xbmc/application/Application.cpp
  xbmc/windowing/X11/WinEventsX11.cpp
  xbmc/windowing/XBMC_events.h
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Type: Fix, Type: Improvement, Platform: Linux, Type: Backport, Component: Windowing, v21 Omega

#26041 Change width of XBMC_keysym.scancode member from 8 to 32 bit
  xbmc/input/keyboard/XBMC_keyboard.h
  xbmc/input/keyboard/XBMC_keytable.cpp
  xbmc/platform/android/activity/AndroidKey.cpp
  xbmc/platform/android/activity/AndroidKey.h
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.h
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/win10/WinEventsWin10.h
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, v22 Piers

#26068 [FFmpeg] Revert test commit I accidentially merged
  tools/depends/target/ffmpeg/Makefile
Labels: Type: Fix, v22 Piers

#26052 LinuxRendererGL/GLES: improve conditions to enable HDR to SDR tone mapping
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Type: Fix, Type: Improvement, Component: Video rendering, v22 Piers

#26065 Update README.Fedora.md dependencies command
  docs/README.Fedora.md
Labels: Type: Fix, Platform: Linux, Component: Documentation, v22 Piers

#26011 [LangInfo] Fix set/get language code setting
  xbmc/LangInfo.cpp
  xbmc/LangInfo.h
Labels: Type: Fix, Backport: Needed, v22 Piers

#26073 [ffmpeg] Add new audio profiles in stream codec name
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Improvement, Component: Audio, v22 Piers

#26079 Fix compiler warning about unused variable
  xbmc/cdrip/EncoderFFmpeg.cpp
Labels: Type: Cleanup, Component: Discs, v22 Piers

#26078 [guilib] Fix bookmark deletion in presence of chapters
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
  xbmc/video/dialogs/GUIDialogVideoBookmarks.h
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v22 Piers

#26076 SeekHandler: change SeekType to enum class
  xbmc/SeekHandler.cpp
  xbmc/SeekHandler.h
Labels: Type: Improvement, v22 Piers

#26049 [Backport] System Info: Two improvements
  addons/skin.estuary/xml/SettingsSystemInfo.xml
  xbmc/windows/GUIWindowSystemInfo.cpp
  xbmc/windows/GUIWindowSystemInfo.h
Labels: Type: Fix, Component: Settings, Component: Skin, Type: Backport, v21 Omega

#26083 Autorun: convert AutoCDAction to enum class
  xbmc/Autorun.cpp
  xbmc/Autorun.h
  xbmc/storage/MediaManager.cpp
Labels: Type: Improvement, v22 Piers

#26033 Games: Fix delay opening context menu on all file items
  xbmc/addons/Repository.cpp
  xbmc/addons/Repository.h
  xbmc/games/GameServices.cpp
  xbmc/games/GameServices.h
  xbmc/games/GameUtils.cpp
  xbmc/games/GameUtils.h
Labels: Type: Fix, Backport: Done, Component: Add-ons, Component: Games, v22 Piers

#26093 DatabaseManager: convert DBStatus to enum class
  xbmc/DatabaseManager.cpp
  xbmc/DatabaseManager.h
Labels: Type: Improvement, v22 Piers

#23299 [Settings] Increase maximum time for shutdown function timer
  system/settings/settings.xml
Labels: Type: Feature, Component: Settings, v22 Piers

#26071 [Windows] Fix vulnerability in wasapi for missing 'PKEY_Device_EnumeratorName' property
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, Platform: WindowsStore, v22 Piers

#26095 [Backport] Games: Fix $VAR[] and $INFO[] usage in <controllerdiffuse> tag
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
Labels: Type: Fix, Component: GUI engine, Component: Skin, Component: Input, Type: Backport, Component: Games, v21 Omega

#26097 Port Dialog: Fix resetting daisy-chained controllers
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
Labels: Type: Fix, Backport: Needed, Component: Input, Component: Games, v22 Piers

#26090 Games: Fix $VAR[] and $INFO[] usage in <controllerdiffuse> tag
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, Component: Skin, Component: Input, Component: Games, v22 Piers

#26098 GUIWindowVideoNav: convert enums to enum class
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoNav.h
Labels: Type: Improvement, v22 Piers

#26113 FileItem: convert (E)FileFolderType to enum class
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/filesystem/Directory.cpp
  xbmc/music/ContextMenus.cpp
  xbmc/music/windows/GUIWindowMusicPlaylistEditor.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, v22 Piers

#26115 FileItemList: convert CacheType to enum class
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.cpp
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/UPnPDirectory.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNode.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Improvement, v22 Piers

#26109 xbmc/interfaces: Allow PlayOrQueueMedia builtin to resume non-video-database items
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#26035 System Info: Add Donate tab and QR codes
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/SettingsSystemInfo.xml
  media/qr/kodilove/qr-logo.png
  media/qr/kodilove/qr-popcorn.jpg
  xbmc/guilib/GUIMessage.h
  xbmc/guilib/GUIMultiImage.cpp
  xbmc/guilib/GUIMultiImage.h
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Feature, Wiki: Needed, Backport: Done, Component: GUI engine, Component: Skin, v22 Piers

#26112 [video] Fix resume of (Non-)Videodatabase items if 'play next video automatically' is active.
  xbmc/FileItem.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/video/VideoUtils.h
  xbmc/video/guilib/VideoGUIUtils.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#26130 [video] Fix default select action 'show info' processing for PVR items.
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, Component: Video, v22 Piers

#26131 [Omega][video] Fix default select action 'show info' processing for PVR items.
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
Labels: Type: Fix, Component: PVR, Component: Video, Type: Backport, v21 Omega

#26081 [backport][guilib] Fix bookmark deletion in presence of chapters
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
  xbmc/video/dialogs/GUIDialogVideoBookmarks.h
Labels: Type: Fix, Component: GUI engine, Type: Backport, v21 Omega

#26088 [Backport] Games: Fix delay opening context menu on all file items
  xbmc/addons/Repository.cpp
  xbmc/addons/Repository.h
  xbmc/games/GameServices.cpp
  xbmc/games/GameServices.h
  xbmc/games/GameUtils.cpp
  xbmc/games/GameUtils.h
Labels: Type: Fix, Component: Add-ons, Type: Backport, Component: Games, v21 Omega

#26111 [Backport] Port Dialog: Fix resetting daisy-chained controllers
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
Labels: Type: Fix, Component: Input, Type: Backport, Component: Games, v21 Omega

#26094 [Backport] System Info: Add Donate tab and QR codes
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/SettingsSystemInfo.xml
  media/qr/kodilove/qr-logo.png
  media/qr/kodilove/qr-popcorn.jpg
  xbmc/guilib/GUIMessage.h
  xbmc/guilib/GUIMultiImage.cpp
  xbmc/guilib/GUIMultiImage.h
  xbmc/windows/GUIWindowSystemInfo.cpp
Labels: Type: Feature, Component: GUI engine, Component: Skin, Type: Backport, v21 Omega

#26100 [Omega backport] Change width of XBMC_keysym.scancode member from 8 to 32 bit
  xbmc/input/keyboard/XBMC_keyboard.h
  xbmc/input/keyboard/XBMC_keytable.cpp
  xbmc/platform/android/activity/AndroidKey.cpp
  xbmc/platform/android/activity/AndroidKey.h
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.cpp
  xbmc/windowing/wayland/InputProcessorKeyboard.h
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/win10/WinEventsWin10.h
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Type: Fix, Component: Input, Type: Backport, v21 Omega

#26123 [pvr] Narrowing Casts Cleanup
  xbmc/pvr/PVRChannelNumberInputHandler.cpp
  xbmc/pvr/PVRChannelNumberInputHandler.h
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannelGroupSettings.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/guilib/PVRGUIChannelIconUpdater.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUITimesInfo.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/MathUtils.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#26096 [Windows] Add full support for HDR toggle in Windows 11 24H2
  xbmc/HDRStatus.h
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/SDK_26100.h
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/platform/win32/WinRtUtil.cpp
  xbmc/platform/win32/WinRtUtil.h
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Type: Fix, Type: Improvement, Backport: Done, Platform: Windows, Component: System, v22 Piers

#26091 RetroPlayer: OpenGL Plumbing
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Game.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/game.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/RetroPlayer/OpenGL_Roadmap.md
  xbmc/cores/RetroPlayer/RetroPlayerTypes.h
  xbmc/cores/RetroPlayer/buffers/BaseRenderBuffer.h
  xbmc/cores/RetroPlayer/buffers/IRenderBuffer.h
  xbmc/cores/RetroPlayer/process/CMakeLists.txt
  xbmc/cores/RetroPlayer/process/RPProcessInfo.h
  xbmc/cores/RetroPlayer/process/egl/RPProcessInfoEGL.cpp
  xbmc/cores/RetroPlayer/process/egl/RPProcessInfoEGL.h
  xbmc/cores/RetroPlayer/process/gbm/RPProcessInfoGbm.cpp
  xbmc/cores/RetroPlayer/process/gbm/RPProcessInfoGbm.h
  xbmc/cores/RetroPlayer/process/wayland/RPProcessInfoWayland.cpp
  xbmc/cores/RetroPlayer/process/wayland/RPProcessInfoWayland.h
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.h
  xbmc/cores/RetroPlayer/streams/CMakeLists.txt
  xbmc/cores/RetroPlayer/streams/IStreamManager.h
  xbmc/cores/RetroPlayer/streams/RPStreamManager.cpp
  xbmc/cores/RetroPlayer/streams/RPStreamManager.h
  xbmc/cores/RetroPlayer/streams/RetroPlayerRendering.cpp
  xbmc/cores/RetroPlayer/streams/RetroPlayerRendering.h
  xbmc/games/addons/GameClient.cpp
  xbmc/games/addons/GameClient.h
  xbmc/games/addons/streams/CMakeLists.txt
  xbmc/games/addons/streams/GameClientStreamHwFramebuffer.cpp
  xbmc/games/addons/streams/GameClientStreamHwFramebuffer.h
  xbmc/games/addons/streams/GameClientStreams.cpp
  xbmc/games/addons/streams/GameClientStreams.h
Labels: Type: Feature, Component: Binary add-ons, Component: Games, API change: Binary add-ons, v22 Piers

#26139 [backport] Include missing <cstdint> includes
  xbmc/ContextMenuItem.h
  xbmc/addons/AddonManager.h
  xbmc/addons/IAddon.h
  xbmc/cores/RetroPlayer/streams/RetroPlayerVideo.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/ConversionMatrix.h
  xbmc/guilib/FFmpegImage.h
  xbmc/input/keymaps/remote/IRTranslator.h
  xbmc/messaging/ThreadMessage.h
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/Archive.h
Labels: Type: Fix, Type: Backport, v21 Omega

#26137 [backport] CFile: Handle std::bad_alloc in LoadFile
  xbmc/filesystem/File.cpp
Labels: Type: Fix, Type: Backport, v21 Omega

#26141 [strings] Fix syntax error in Kodi's strings.po.
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Fix, Component: Strings, v22 Piers

#25467 CDVDVideoCodecDRMPRIME: Fix use of v4l2request hwdevice
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
Labels: Type: Improvement, Platform: Linux, v22 Piers

#26140 [Windows] Fix the detection of SDR screens for Windows 11 22H2 and 23H2
  xbmc/platform/win32/WIN32Util.cpp
Labels: Type: Fix, Platform: Windows, Component: DirectX rendering, Component: System, v22 Piers

#26135 [Backport][Windows] Add full support for HDR toggle in Windows 11 24H2
  xbmc/platform/win32/SDK_26100.h
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/utils/SystemInfo.cpp
  xbmc/utils/SystemInfo.h
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: System, v21 Omega

#26155 [BP] apple toolchain fixups
  tools/depends/configure.ac
  tools/depends/native/cmake/Makefile
Labels: Platform: macOS, Platform: iOS, Component: Depends, Type: Backport, Platform: tvOS, v21 Omega

#26158 [Windows] Force rebuild FFmpeg when dav1d version changes
  tools/buildsteps/windows/buildhelpers.sh
  tools/buildsteps/windows/make-mingwlibs.sh
Labels: Type: Fix, Backport: Done, Platform: Windows, Component: Depends, Platform: WindowsStore, Component: Build, v22 Piers

#26149 [addons][PVR] Fix PVR_TIMER_TYPE::iPreventDuplicateEpisodesDefault and…
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/pvr/pvr_timers.h
  xbmc/pvr/settings/PVRIntSettingValues.cpp
  xbmc/pvr/settings/PVRIntSettingValues.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#26143 [MUSIC][AUDIOBOOKS] Fix last chapter duration
  xbmc/filesystem/AudioBookFileDirectory.cpp
Labels: Type: Fix, Component: Music, v22 Piers

#26146 [Backport][MUSIC][AUDIOBOOKS] Fix mka/m4b track durations
  xbmc/filesystem/AudioBookFileDirectory.cpp
Labels: Type: Partial backport, Component: Music, v21 Omega

#26163 [Backport][swig] Fix building with swig 4.3.0
  xbmc/interfaces/swig/CMakeLists.txt
Labels: Type: Fix, Type: Backport, v21 Omega

#26161 [Backport][Windows] Fix conditions to trigger FFmpeg rebuild
  tools/buildsteps/windows/buildhelpers.sh
  tools/buildsteps/windows/make-mingwlibs.sh
Labels: Type: Fix, Platform: Windows, Type: Backport, Platform: WindowsStore, Component: Build, v21 Omega

#26148 [addons][utils] StringUtils::SecondsToTimeString: Fix compiler warning…
  xbmc/addons/kodi-dev-kit/include/kodi/tools/StringUtils.h
  xbmc/utils/StringUtils.cpp
Labels: Type: Cleanup, v22 Piers

#26134 [Omega] LinuxRendererGLES: enable HDR passthrough for HDR videos with missing or incomplete metadata
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Type: Fix, Component: Video rendering, Type: Backport, v21 Omega

#26151 [backport][Android] Avoid failure when getInterfaceName() method returns null
  xbmc/platform/android/network/NetworkAndroid.cpp
Labels: Type: Fix, Platform: Android, Type: Backport, v21 Omega

#26136 [backport] RecursiveMutex: Prevent initialization-order-fiasco of mutex attribute
  xbmc/platform/posix/threads/RecursiveMutex.cpp
Labels: Type: Fix, Type: Backport, v21 Omega

#26166 [video][music] Fix missing context menu entries for plugin-provided items.
  xbmc/ContextMenuManager.cpp
  xbmc/music/ContextMenus.cpp
  xbmc/music/ContextMenus.h
  xbmc/music/MusicUtils.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/guilib/VideoGUIUtils.cpp
Labels: Type: Fix, Backport: Done, Component: Music, Component: Video, v22 Piers

#26171 Fix DTS:X and IMAX Enhanced playback after FFMPEG update
  xbmc/cores/VideoPlayer/AudioSinkAE.cpp
  xbmc/cores/paplayer/VideoPlayerCodec.cpp
Labels: Type: Fix, Component: Audio, v22 Piers

#26117 InfoScanner: convert InfoRet to enum class
  xbmc/InfoScanner.h
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/infoscanner/MusicInfoScanner.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoScanner.h
Labels: Type: Improvement, v22 Piers

#26144 [Backport] LinuxRendererGL/GLES: improve conditions to enable HDR to SDR tone mapping
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
Labels: Type: Fix, Component: Video rendering, Type: Backport, v21 Omega

#26173 InfoScanner: convert InfoType to enum class
  xbmc/InfoScanner.h
  xbmc/NfoFile.cpp
  xbmc/NfoFile.h
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
  xbmc/video/tags/IVideoInfoTagLoader.h
  xbmc/video/tags/VideoTagLoaderFFmpeg.cpp
  xbmc/video/tags/VideoTagLoaderFFmpeg.h
  xbmc/video/tags/VideoTagLoaderNFO.cpp
  xbmc/video/tags/VideoTagLoaderNFO.h
  xbmc/video/tags/VideoTagLoaderPlugin.cpp
  xbmc/video/tags/VideoTagLoaderPlugin.h
Labels: Type: Improvement, v22 Piers

#26153 [backport][cmake] do not use distutils in cmake scripts
  cmake/scripts/linux/Install.cmake
Labels: Type: Fix, Platform: Linux, Type: Backport, v21 Omega

#26152 [backport] egl async rendering fixes
  xbmc/utils/EGLFence.cpp
  xbmc/windowing/gbm/drm/DRMAtomic.cpp
Labels: Type: Fix, Platform: Linux, Type: Backport, Component: Windowing, v21 Omega

#26145 [Backport] RenderManager: improve VideoPicture comparison for HDR
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
Labels: Type: Fix, Component: Video rendering, Type: Backport, v21 Omega

#24925 [VideoInfoScanner] Honor importwatchedstate and importresumepoint from AS.xml
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoScanner.h
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
Labels: Type: Fix, Backport: Needed, v22 Piers

#26175 LockMode: convert to enum class
  xbmc/CMakeLists.txt
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/GUIPassword.cpp
  xbmc/GUIPassword.h
  xbmc/LockMode.h
  xbmc/LockType.h
  xbmc/MediaSource.cpp
  xbmc/MediaSource.h
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPowerHandling.cpp
  xbmc/dialogs/GUIDialogContextMenu.cpp
  xbmc/dialogs/GUIDialogFileBrowser.cpp
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/filesystem/test/TestHTTPDirectory.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/interfaces/builtins/ProfileBuiltins.cpp
  xbmc/interfaces/json-rpc/ProfilesOperations.cpp
  xbmc/network/test/TestWebServer.cpp
  xbmc/playlists/PlayListXML.cpp
  xbmc/profiles/Profile.cpp
  xbmc/profiles/Profile.h
  xbmc/profiles/dialogs/GUIDialogLockSettings.cpp
  xbmc/profiles/dialogs/GUIDialogLockSettings.h
  xbmc/profiles/dialogs/GUIDialogProfileSettings.cpp
  xbmc/profiles/windows/GUIWindowSettingsProfile.cpp
  xbmc/settings/MediaSourceSettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogAudioSettings.cpp
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, v22 Piers

#26156 [Windows] Refactor WIN32Util HDR and related code
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/DisplayUtilsWin32.cpp
  xbmc/platform/win32/DisplayUtilsWin32.h
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Improvement, Platform: Windows, Component: System, v22 Piers

#26178 LangInfo: convert MeridiemSymbol to enum class
  xbmc/LangInfo.cpp
  xbmc/LangInfo.h
  xbmc/XBDateTime.cpp
  xbmc/addons/interfaces/General.cpp
  xbmc/interfaces/legacy/ModuleXbmc.cpp
Labels: Type: Improvement, v22 Piers

#26174 [Windows] Refactor Directsound Device Default and Enumeration
  xbmc/cores/AudioEngine/Sinks/AESinkDirectSound.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDirectSound.h
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin.h
  xbmc/cores/AudioEngine/Sinks/windows/AESinkFactoryWin32.cpp
Labels: Type: Improvement, Platform: Windows, Component: Audio, v22 Piers

#26172 [Omega][video][music] Fix missing context menu entries for plugin-provided items.
  xbmc/ContextMenuManager.cpp
  xbmc/music/ContextMenus.cpp
  xbmc/music/ContextMenus.h
  xbmc/music/MusicUtils.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/ContextMenus.h
  xbmc/video/VideoUtils.cpp
Labels: Type: Fix, Component: Music, Component: Video, Type: Backport, v21 Omega

#26150 [interfaces/builtins] If available, pass item instance to 'PlayerControl.(Play|Queue)Media' builtin function
  xbmc/application/Application.cpp
  xbmc/favourites/ContextMenus.cpp
  xbmc/favourites/FavouritesUtils.cpp
  xbmc/favourites/FavouritesUtils.h
  xbmc/favourites/GUIWindowFavourites.cpp
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/interfaces/builtins/Builtins.cpp
  xbmc/interfaces/builtins/Builtins.h
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/video/ContextMenus.cpp
Labels: Type: Fix, v22 Piers

#26180 MediaSource: convert SourceType to enum class
  xbmc/CMakeLists.txt
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/MediaSource.cpp
  xbmc/MediaSource.h
  xbmc/SourceType.h
  xbmc/dialogs/GUIDialogFileBrowser.cpp
  xbmc/dialogs/GUIDialogFileBrowser.h
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/filesystem/VirtualDirectory.cpp
  xbmc/filesystem/test/TestHTTPDirectory.cpp
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/test/TestWebServer.cpp
  xbmc/platform/darwin/osx/storage/OSXStorageProvider.cpp
  xbmc/platform/linux/storage/LinuxStorageProvider.cpp
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/win10/storage/Win10StorageProvider.cpp
  xbmc/platform/win32/storage/Win32StorageProvider.cpp
  xbmc/programs/GUIViewStatePrograms.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIMediaWindow.h
  xbmc/windows/GUIWindowFileManager.cpp
  xbmc/windows/GUIWindowFileManager.h
Labels: Type: Improvement, v22 Piers

#26154 [VideoInfoScanner] Fix #25662 - save all tv show and episode actor images in tv show .actors folder.
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Fix, Wiki: Needed, Backport: Needed, Component: Content, v22 Piers

#26182 [Android] Return value of ExecuteAppAndroid()
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
Labels: Type: Fix, Platform: Android, Component: Players, v22 Piers

#26165 [FileSystem][POSIX] Fix prompt for credentials when browsing SMB files
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
Labels: Type: Fix, Type: Improvement, Backport: Done, Component: FileSystem, v22 Piers

#26110 [nfs][depends] Update libnfs to 6.0.2
  cmake/modules/FindNFS.cmake
  tools/depends/target/libnfs/01-MSUWP-compat.patch
  tools/depends/target/libnfs/LIBNFS-VERSION
  tools/depends/target/libnfs/Makefile
  xbmc/filesystem/NFSFile.cpp
Labels: Type: Fix, Type: Improvement, Component: FileSystem, v22 Piers

#26184 PartyModeManager: convert PartyModeContext to enum class
  xbmc/PartyModeManager.cpp
  xbmc/PartyModeManager.h
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
Labels: Type: Improvement, v22 Piers

#26051 [Android] Share files using FileProvider
  cmake/scripts/android/Install.cmake
  tools/android/packaging/xbmc/AndroidManifest.xml.in
  tools/android/packaging/xbmc/build.gradle.in
  tools/android/packaging/xbmc/res/xml/file_paths.xml
  tools/android/packaging/xbmc/src/content/XBMCFileProvider.java.in
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Improvement, Platform: Android, v22 Piers

#26189 SettingsLock: convert to enum class
  xbmc/GUIPassword.cpp
  xbmc/SettingsLock.h
  xbmc/profiles/Profile.cpp
  xbmc/profiles/Profile.h
  xbmc/profiles/dialogs/GUIDialogLockSettings.cpp
  xbmc/profiles/dialogs/GUIDialogProfileSettings.cpp
  xbmc/settings/SettingConditions.cpp
Labels: Type: Improvement, v22 Piers

#25849 [Omega][tools/depends][target] Bump curl 8.10.0
  tools/depends/target/curl/01-apple-pkgconfig_disable_requires.patch
  tools/depends/target/curl/CURL-VERSION
  tools/depends/target/curl/Makefile
Labels: Type: Fix, Component: Depends, Type: Backport, v21 Omega

#26198 [backport] Python: allow building against Python 3.13
  xbmc/interfaces/python/swig.cpp
Labels: Type: Fix, Component: Python, Type: Backport, v21 Omega

#26199 [backport] GLES: disable attribute array when rendering from FBO
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Type: Fix, Component: Video rendering, Type: Backport, v21 Omega

#26191 SortFileItem: convert SortMethod to enum class
  xbmc/SortFileItem.h
  xbmc/filesystem/PluginDirectory.cpp
  xbmc/filesystem/PluginDirectory.h
  xbmc/interfaces/legacy/ModuleXbmcplugin.cpp
  xbmc/interfaces/legacy/ModuleXbmcplugin.h
  xbmc/utils/SortUtils.cpp
  xbmc/utils/SortUtils.h
  xbmc/view/ViewDatabase.cpp
  xbmc/view/ViewStateSettings.cpp
Labels: Type: Improvement, v22 Piers

#26188 [cmake] Add policy CMP0144
  CMakeLists.txt
Labels: Type: Cleanup, CMake, v22 Piers

#26063 [posix] Exit gracefully on SIGHUP, too.
  xbmc/platform/posix/main.cpp
Labels: Type: Improvement, Platform: Linux, Platform: macOS, Platform: iOS, Platform: FreeBSD, Platform: tvOS, Platform: webOS, v22 Piers

#26185 Fix segfault on exit if Peripherals dialog is loaded
  xbmc/peripherals/dialogs/GUIDialogPeripherals.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripherals.h
Labels: Backport: Done, Component: Input, v22 Piers

#26183 Fix "ferociously annoying dialog" breaking button mapping on macOS
  cmake/treedata/common/input.txt
  xbmc/input/joysticks/generic/ButtonMapping.cpp
  xbmc/input/joysticks/generic/ButtonMapping.h
  xbmc/input/joysticks/generic/CMakeLists.txt
  xbmc/input/joysticks/mapping/AxisConfiguration.h
  xbmc/input/joysticks/mapping/AxisDetector.cpp
  xbmc/input/joysticks/mapping/AxisDetector.h
  xbmc/input/joysticks/mapping/ButtonDetector.cpp
  xbmc/input/joysticks/mapping/ButtonDetector.h
  xbmc/input/joysticks/mapping/ButtonMapping.cpp
  xbmc/input/joysticks/mapping/ButtonMapping.h
  xbmc/input/joysticks/mapping/CMakeLists.txt
  xbmc/input/joysticks/mapping/HatDetector.cpp
  xbmc/input/joysticks/mapping/HatDetector.h
  xbmc/input/joysticks/mapping/KeyDetector.cpp
  xbmc/input/joysticks/mapping/KeyDetector.h
  xbmc/input/joysticks/mapping/MouseButtonDetector.cpp
  xbmc/input/joysticks/mapping/MouseButtonDetector.h
  xbmc/input/joysticks/mapping/PointerDetector.cpp
  xbmc/input/joysticks/mapping/PointerDetector.h
  xbmc/input/joysticks/mapping/PrimitiveDetector.cpp
  xbmc/input/joysticks/mapping/PrimitiveDetector.h
  xbmc/peripherals/addons/AddonButtonMapping.cpp
Labels: Backport: Done, Platform: macOS, Component: Input, v22 Piers

#26202 XBDateTime: change State to enum class
  xbmc/XBDateTime.cpp
  xbmc/XBDateTime.h
Labels: Type: Improvement, v22 Piers
