Repository xbmc/xbmc, pull requests merged in 2024-06, with the labels that each got.

#25207 GL/GLES: split off GLES from GLTexture
  xbmc/guilib/CMakeLists.txt
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureGLES.cpp
  xbmc/guilib/TextureGLES.h
Labels: Type: Improvement, v22 "P"

#25291 [FileSystem] limit SMB chunk size to 64 KB for SMBv1
  xbmc/platform/posix/filesystem/SMBFile.cpp
Labels: Type: Fix, Backport: Done, Component: FileSystem, v22 "P"

#25295 [BP][FileSystem] limit SMB chunk size to 64 KB for SMBv1
  xbmc/platform/posix/filesystem/SMBFile.cpp
Labels: Type: Fix, Type: Backport, Component: FileSystem, v21 Omega

#25139 GBM/X11/Wayland: Implement asynchronous texture uploads
  xbmc/GUILargeTextureManager.cpp
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureGL.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/utils/EGLUtils.cpp
  xbmc/utils/EGLUtils.h
  xbmc/windowing/WinSystem.h
  xbmc/windowing/X11/GLContextEGL.cpp
  xbmc/windowing/X11/GLContextEGL.h
  xbmc/windowing/X11/WinSystemX11GLContext.cpp
  xbmc/windowing/X11/WinSystemX11GLContext.h
  xbmc/windowing/X11/WinSystemX11GLESContext.cpp
  xbmc/windowing/X11/WinSystemX11GLESContext.h
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/gbm/WinSystemGbmEGLContext.h
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.cpp
  xbmc/windowing/wayland/WinSystemWaylandEGLContext.h
Labels: Type: Improvement, Component: GL rendering, Component: GLES rendering, v22 "P"

#25244 [Android] MAC address not available in system info
  xbmc/utils/SystemInfo.cpp
Labels: Type: Improvement, v22 "P"

#25297 [PVR] Timer settings dialog: When creating new timer rules without an…
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v22 "P"

#25302 [Omega][PVR] Timer settings dialog: When creating new timer rules without an…
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25292 [Dependencies] update spdlog 1.14.1 and fmtlib 10.2.1
  tools/depends/target/fmt/001-windows-pdb-symbol-gen.patch
  tools/depends/target/fmt/FMT-VERSION
  tools/depends/target/spdlog/001-windows-pdb-symbol-gen.patch
  tools/depends/target/spdlog/SPDLOG-VERSION
Labels: Type: Improvement, Component: Depends, v22 "P"

#25274 [PlayLists] PlayListASX migrate to tinyxml2
  xbmc/playlists/PlayListASX.cpp
  xbmc/playlists/PlayListASX.h
  xbmc/playlists/test/test.asx
Labels: Type: Improvement, v22 "P"

#25306 CAEBitstreamPacker: remove unnecessary parameter in constructor
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.h
Labels: Type: Cleanup, Component: Audio, v22 "P"

#25165 [Backport]Rendering: drop markwindow dirty after setrendergui change
  xbmc/application/ApplicationPowerHandling.cpp
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
Labels: Type: Fix, Type: Cleanup, Component: GUI rendering, Type: Backport, v21 Omega

#25309 fixed: infinite loop parsing an invalid moving speed config
  xbmc/guilib/GUIControlFactory.cpp
Labels: Type: Fix, Backport: Needed, v22 "P"

#25307 Apple toolchain fixups
  tools/depends/configure.ac
  tools/depends/native/cmake/Makefile
Labels: Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v22 "P"

#25319 [build] fix missing include
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
Labels: Type: Fix, Backport: Needed, v22 "P"

#25320 [build] fix missing include
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
Labels: Type: Fix, Type: Backport, v21 Omega

#25331 [tools/depends] Bump rust 1.79 and add Cargo.lock files
  tools/depends/native/cargo-c/Cargo.lock
  tools/depends/native/cargo-c/Makefile
  tools/depends/native/rustup/Makefile
  tools/depends/target/libdovi/Makefile
  tools/depends/target/libdovi/dolby_vision-Cargo.lock
Labels: Type: Fix, Platform: Android, Component: Depends, Platform: webOS, v22 "P"

#25322 fixed: infinite loop parsing an invalid moving speed config
  xbmc/guilib/GUIControlFactory.cpp
Labels: Type: Partial backport, Component: GUI engine, v21 Omega

#25329 [Android] bump Gson 2.11.0
  tools/android/packaging/xbmc/build.gradle.in
Labels: Platform: Android, Component: Build, v22 "P"

#25325 [cmake] FindEGL add IMPORTED_NO_SONAME property
  cmake/modules/FindEGL.cmake
Labels: Platform: Linux, CMake, v22 "P"

#25326 [docs] Update documentation for FreeBSD
  cmake/modules/FindSSE.cmake
  docs/README.FreeBSD.md
  tools/buildsteps/freebsd/configure-xbmc
Labels: Type: Improvement, Documentation, CMake, v22 "P"

#25300 [Android] Allow setting the VideoLayout view to transparent color
  xbmc/platform/android/PlatformAndroid.cpp
  xbmc/platform/android/PlatformAndroid.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Fix, Wiki: Needed, Backport: Needed, Platform: Android, v22 "P"

#25328 Enhance bitrate detection for MKVs
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Improvement, Component: Players, v22 "P"

#25312 [Backport] new TrueHD MAT packer code + move TrueHD packing to CDVDAudioCodecPassthrough
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.h
  xbmc/cores/AudioEngine/Utils/AEPackIEC61937.cpp
  xbmc/cores/AudioEngine/Utils/AEPackIEC61937.h
  xbmc/cores/AudioEngine/Utils/PackerMAT.cpp
  xbmc/cores/AudioEngine/Utils/PackerMAT.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.h
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Fix, Component: Audio, Type: Backport, v21 Omega

#25335 [Backport] [Android] Allow setting the VideoLayout view to transparent color
  xbmc/platform/android/PlatformAndroid.cpp
  xbmc/platform/android/PlatformAndroid.h
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Fix, Platform: Android, Type: Backport, v21 Omega

#25332 [PVR] CPVRClient: Request TV groups and members only if the addon supports TV.
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v22 "P"

#25333 [Omega][PVR] CPVRClient: Request TV groups and members only if the addon sup…
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25289 CFile: Handle std::bad_alloc in LoadFile
  xbmc/filesystem/File.cpp
Labels: Type: Fix, Backport: Needed, v22 "P"

#25334 [VideoPlayer] define message queue time size in a single place
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.h
Labels: Type: Improvement, Component: Players, v22 "P"

#25339 [Depends] Bump smctemp to 0.3.2
  tools/depends/target/smctemp/SMCTEMP-VERSION
Labels: Type: Improvement, Component: Depends, v22 "P"

#25343 [clang-tidy] fix modernize-* and performance-* warnings
  xbmc/CueDocument.cpp
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/DataCacheCore.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/dialogs/GUIDialogNumeric.cpp
  xbmc/dialogs/GUIDialogNumeric.h
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
  xbmc/utils/PlayerUtils.cpp
  xbmc/utils/PlayerUtils.h
Labels: Type: Fix, v22 "P"

#25342 [BP][tools/depends] Bump rust 1.79 and add Cargo.lock files
  tools/depends/native/cargo-c/CARGO-C-VERSION
  tools/depends/native/cargo-c/Cargo.lock
  tools/depends/native/cargo-c/Makefile
  tools/depends/native/rustup/Makefile
  tools/depends/native/rustup/RUSTUP-VERSION
  tools/depends/target/libdovi/Makefile
  tools/depends/target/libdovi/dolby_vision-Cargo.lock
Labels: Type: Fix, Platform: Android, Component: Depends, Type: Backport, v21 Omega, Platform: webOS

#25324 PeripheralBusUSBLibUdev: fix assert issue with systemd udev
  xbmc/platform/linux/peripherals/PeripheralBusUSBLibUdev.cpp
Labels: Type: Fix, Platform: Linux, v22 "P"

#25336 [CharsetConverter] Fix crash if iconv returns EINVAL
  xbmc/utils/CharsetConverter.cpp
Labels: Type: Fix, Backport: Needed, v22 "P"

#25350 [backport][CharsetConverter] Fix crash if iconv returns EINVAL
  xbmc/utils/CharsetConverter.cpp
Labels: Type: Fix, Type: Backport, v21 Omega

#25354 strings.po: fix duplicated strings id's
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
Labels: Type: Fix, Component: Strings, v22 "P"

#25344 [PVR] Recently added channels
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Home.xml
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRDatabase.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/windows/GUIViewStatePVR.cpp
Labels: Type: Improvement, Wiki: Needed, Component: PVR, Component: GUI engine, Component: Skin, v22 "P"

#25296 Migrate from PCRE to PCRE2
  CMakeLists.txt
  cmake/modules/FindPCRE.cmake
  cmake/modules/FindPCRE2.cmake
  cmake/scripts/darwin_embedded/ArchSetup.cmake
  cmake/scripts/osx/ArchSetup.cmake
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  docs/README.Fedora.md
  docs/README.FreeBSD.md
  docs/README.Linux.md
  docs/README.Ubuntu.md
  docs/README.openSUSE.md
  tools/buildsteps/freebsd/configure-xbmc
  tools/buildsteps/windows/download-dependencies.bat
  tools/depends/target/pcre/001-all-cmakeconfig.patch
  tools/depends/target/pcre/002-all-enable_docs_pc.patch
  tools/depends/target/pcre/003-all-postfix.patch
  tools/depends/target/pcre/004-win-pdb.patch
  tools/depends/target/pcre/Makefile
  tools/depends/target/pcre/PCRE-VERSION
  tools/depends/target/pcre/ios-clear_cache.patch
  tools/depends/target/pcre/jit_aarch64.patch
  tools/depends/target/pcre/tvos-bitcode-fix.patch
  tools/depends/target/pcre2/001-all-enable_docs_pc.patch
  tools/depends/target/pcre2/002-all-cmake-config-installdir.patch
  tools/depends/target/pcre2/Makefile
  tools/depends/target/pcre2/PCRE2-VERSION
  xbmc/utils/RegExp.cpp
  xbmc/utils/RegExp.h
  xbmc/utils/StringUtils.cpp
  xbmc/utils/test/TestRegExp.cpp
Labels: Component: Depends, v22 "P"

#25352 Fix typo in strings.po
  addons/resource.language.en_gb/resources/strings.po
Labels: Component: Strings, v22 "P"

#25346 [EDL][Players] Cleanup FIXMEs
  xbmc/SeekHandler.cpp
  xbmc/application/ApplicationPlayer.cpp
  xbmc/application/ApplicationPlayer.h
  xbmc/cores/Direction.h
  xbmc/cores/IPlayer.h
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/test/edl/TestEdl.cpp
Labels: Type: Improvement, Component: Players, v22 "P"

#24689 [windows] Identify SDR WCG screens as non HDR-capable
  cmake/scripts/windows/ArchSetup.cmake
  cmake/scripts/windowsstore/ArchSetup.cmake
  docs/README.Windows.md
  xbmc/HDRStatus.h
  xbmc/platform/win10/CMakeLists.txt
  xbmc/platform/win32/CMakeLists.txt
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/platform/win32/WinRtUtil.cpp
  xbmc/platform/win32/WinRtUtil.h
  xbmc/rendering/dx/DeviceResources.h
  xbmc/rendering/dx/DirectXHelper.h
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v22 "P"

#24109 Pictures: Move image metadata processing to exiv2 as a new dependency
  CMakeLists.txt
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/MyPics.xml
  cmake/installdata/test-reference-data.txt
  cmake/modules/FindExiv2.cmake
  cmake/modules/FindIconv.cmake
  cmake/treedata/common/subdirs.txt
  cmake/treedata/common/tests.txt
  docs/README.Fedora.md
  docs/README.FreeBSD.md
  docs/README.Linux.md
  docs/README.Ubuntu.md
  docs/README.openSUSE.md
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/exiv2/0001-Add-EXIV2_ENABLE_FILESYSTEM_ACCESS-option.patch
  tools/depends/target/exiv2/0002-Set-conditional-HTTP-depending-on-EXIV2_ENABLE_WEBRE.patch
  tools/depends/target/exiv2/0003-UWP-Disable-getLoadedLibraries.patch
  tools/depends/target/exiv2/EXIV2-VERSION
  tools/depends/target/exiv2/Makefile
  xbmc/GUIInfoManager.cpp
  xbmc/addons/ImageDecoder.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pictures/CMakeLists.txt
  xbmc/pictures/ExifParse.h
  xbmc/pictures/GUIDialogPictureInfo.cpp
  xbmc/pictures/GUIDialogPictureInfo.h
  xbmc/pictures/IptcParse.cpp
  xbmc/pictures/IptcParse.h
  xbmc/pictures/JpegParse.cpp
  xbmc/pictures/JpegParse.h
  xbmc/pictures/PictureInfoTag.cpp
  xbmc/pictures/PictureInfoTag.h
  xbmc/pictures/libexif.cpp
  xbmc/pictures/libexif.h
  xbmc/pictures/metadata/CMakeLists.txt
  xbmc/pictures/metadata/Exif.h
  xbmc/pictures/metadata/ImageMetadata.h
  xbmc/pictures/metadata/ImageMetadataParser.cpp
  xbmc/pictures/metadata/ImageMetadataParser.h
  xbmc/pictures/metadata/Iptc.h
  xbmc/pictures/metadata/test/CMakeLists.txt
  xbmc/pictures/metadata/test/TestMetadataExtraction.cpp
  xbmc/pictures/metadata/test/testdata/exifgps.jpg
  xbmc/pictures/metadata/test/testdata/iptc.jpg
Labels: Type: Improvement, Component: Picture, Platform: Android, Platform: Linux, Platform: Windows, Platform: macOS, Platform: iOS, Platform: WindowsStore, Platform: FreeBSD, Platform: tvOS, Platform: webOS, v22 "P"

#25356 [PVR] Channel groups cleanup
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/channels/CMakeLists.txt
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupAllChannels.cpp
  xbmc/pvr/channels/PVRChannelGroupAllChannels.h
  xbmc/pvr/channels/PVRChannelGroupFactory.cpp
  xbmc/pvr/channels/PVRChannelGroupFactory.h
  xbmc/pvr/channels/PVRChannelGroupFromClient.h
  xbmc/pvr/channels/PVRChannelGroupFromUser.cpp
  xbmc/pvr/channels/PVRChannelGroupFromUser.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
Labels: Type: Cleanup, Component: PVR, v22 "P"

#25310 Add some tests for CGUIControlFactory
  cmake/treedata/common/tests.txt
  xbmc/guilib/GUIAction.h
  xbmc/guilib/GUIComponent.cpp
  xbmc/guilib/GUIComponent.h
  xbmc/guilib/GUIControlFactory.h
  xbmc/guilib/GUITexture.h
  xbmc/guilib/guiinfo/GUIInfoColor.h
  xbmc/guilib/test/CMakeLists.txt
  xbmc/guilib/test/TestGUIControlFactory.cpp
  xbmc/utils/MovingSpeed.h
Labels: Type: Improvement, Component: GUI engine, v22 "P"

#25359 [PVR] Channel groups: Fix duplicate database entries caused by temporarily unavailable groups/members.
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupAllChannels.h
  xbmc/pvr/channels/PVRChannelGroupFromUser.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
Labels: Type: Fix, Component: PVR, v22 "P"

#25214 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.es_es/strings.po
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.nl_nl/strings.po
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.sl_si/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.nl_nl/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.sl_si/strings.po
  addons/repository.xbmc.org/resources/language/resource.language.nl_nl/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.es_es/strings.po
  addons/screensaver.xbmc.builtin.dim/resources/language/resource.language.nl_nl/strings.po
  addons/skin.estuary/language/resource.language.es_es/strings.po
  addons/skin.estuary/language/resource.language.nl_nl/strings.po
  addons/skin.estuary/language/resource.language.sl_si/strings.po
Labels: Component: Strings, v22 "P"

#25200 Add playlist FileItem classify
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/Util.cpp
  xbmc/application/Application.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/filesystem/Directory.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/interfaces/json-rpc/FileOperations.cpp
  xbmc/interfaces/legacy/PlayList.cpp
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/pictures/PictureFolderImageFileLoader.cpp
  xbmc/pictures/PictureThumbLoader.cpp
  xbmc/playlists/CMakeLists.txt
  xbmc/playlists/PlayListFileItemClassify.cpp
  xbmc/playlists/PlayListFileItemClassify.h
  xbmc/playlists/test/CMakeLists.txt
  xbmc/playlists/test/TestPlayListFileItemClassify.cpp
  xbmc/utils/ExecString.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/view/GUIViewState.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, v22 "P"

#25366 [EDL] Use std::optional and std::unique_ptr for InEdit
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/test/edl/TestEdl.cpp
Labels: Type: Improvement, Component: Players, v22 "P"

#25372 Tuple: fix warning maybe-uninitialized
  xbmc/interfaces/legacy/Tuple.h
Labels: Type: Fix, v22 "P"

#25373 libUPnP: Fix memory allocation of size 0
  lib/libUPnP/Neptune/Source/Core/NptDataBuffer.cpp
  lib/libUPnP/patches/0054-libUPnP-Fix-memory-allocation-of-size-0.patch
Labels: Type: Fix, Type: Improvement, Backport: Needed, Component: UPnP, v22 "P"

#25371 changed: move implementation of LoadTracksFromCueDocument to CCueDocument
  xbmc/CueDocument.cpp
  xbmc/CueDocument.h
  xbmc/FileItem.cpp
  xbmc/test/CMakeLists.txt
  xbmc/test/TestCueDocument.cpp
Labels: Type: Improvement, v22 "P"

#25370 [cmake][macros] Enable buildtools to function after target migration of core/optional deps
  cmake/scripts/common/Macros.cmake
Labels: Type: Fix, CMake, v22 "P"

#25377 fixed: need to check for playlists before music/video/pictures files
  xbmc/FileItem.cpp
Labels: Type: Fix, v22 "P"

#25374 [PVR| Fix Group manager persistence problems
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupAllChannels.cpp
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.h
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.h
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
Labels: Type: Fix, Component: PVR, v22 "P"

#25360 [VideoPlayer] Add GUI settings for audio/video playback queues
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/DVDMessageQueue.cpp
  xbmc/cores/VideoPlayer/DVDMessageQueue.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.h
  xbmc/settings/CMakeLists.txt
  xbmc/settings/PlayerSettings.cpp
  xbmc/settings/PlayerSettings.h
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Type: Feature, Component: Players, v22 "P"

#25381 [backport] Tuple: fix warning maybe-uninitialized
  xbmc/interfaces/legacy/Tuple.h
Labels: Type: Fix, Type: Backport, v21 Omega

#25384 [PVR] Strings cleanup
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
  xbmc/pvr/guilib/PVRGUIActionsRecordings.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
Labels: Type: Cleanup, Type: Improvement, Component: PVR, Component: Strings, v22 "P"

#25375 [backport] libUPnP: Fix memory allocation of size 0
  lib/libUPnP/Neptune/Source/Core/NptDataBuffer.cpp
  lib/libUPnP/patches/0054-libUPnP-Fix-memory-allocation-of-size-0.patch
Labels: Type: Fix, Type: Improvement, Type: Backport, Component: UPnP, v21 Omega

#25176 Android: Fix unmapped joysticks (default joystick buttonmaps)
  xbmc/games/controllers/CMakeLists.txt
  xbmc/games/controllers/ControllerIDs.h
  xbmc/games/controllers/DefaultController.cpp
  xbmc/games/controllers/DefaultController.h
  xbmc/input/joysticks/JoystickEasterEgg.cpp
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/addons/AddonButtonMap.cpp
  xbmc/peripherals/addons/AddonButtonMap.h
  xbmc/peripherals/addons/AddonButtonMapping.cpp
  xbmc/peripherals/addons/AddonInputHandling.cpp
  xbmc/peripherals/addons/AddonInputHandling.h
  xbmc/peripherals/bus/PeripheralBus.h
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/devices/PeripheralJoystick.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.h
  xbmc/platform/android/peripherals/AndroidJoystickTranslator.cpp
  xbmc/platform/android/peripherals/AndroidJoystickTranslator.h
  xbmc/platform/android/peripherals/PeripheralBusAndroid.cpp
  xbmc/platform/android/peripherals/PeripheralBusAndroid.h
Labels: Type: Fix, Backport: Needed, Platform: Android, Component: Input, v22 "P"

#25369 [backport][Windows] Fix rx6400 detection
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Type: Fix, Platform: Windows, Type: Backport, Component: DirectX rendering, v21 Omega

#25177 Android: Fix generic controllers in UI
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
Labels: Type: Fix, Backport: Needed, Platform: Android, Component: Input, v22 "P"

#25363 Exiv2 support old API
  cmake/modules/FindExiv2.cmake
  tools/depends/target/exiv2/0004-WIN-lib-postfix.patch
  xbmc/pictures/metadata/ImageMetadataParser.cpp
  xbmc/pictures/metadata/ImageMetadataParser.h
  xbmc/pictures/metadata/test/TestMetadataExtraction.cpp
Labels: Component: Picture, Platform: Linux, Platform: Windows, v22 "P"

#25380 Python: Restore close of WindowXML when application exits
  xbmc/interfaces/legacy/Window.cpp
Labels: Type: Fix, Backport: Needed, Component: Python, v22 "P"

#25382 Python: Fix hang at application shutdown
  xbmc/interfaces/python/XBPython.cpp
Labels: Type: Fix, Backport: Needed, Component: Python, v22 "P"

#25393 [PVR] Group Manager: Fix group thumbnail update.
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.h
Labels: Type: Fix, Component: PVR, v22 "P"

#25394 [video| Fix bookmarks db persistence
  xbmc/FileItem.cpp
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, v22 "P"

#25367 [Audio] PackerMAT: simplify code - remove non-essential code
  xbmc/cores/AudioEngine/Utils/PackerMAT.cpp
  xbmc/cores/AudioEngine/Utils/PackerMAT.h
Labels: Type: Improvement, Component: Audio, v22 "P"

#25365 Fix missing subtitle help tips
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
Labels: Type: Improvement, Component: Settings, Component: Strings, Component: Subtitles, v22 "P"

#25378 [Cmake] silence policy warning and OCD reordering
  CMakeLists.txt
  cmake/modules/FindCurl.cmake
Labels: CMake, v22 "P"

#25403 [Estuary][PVR][guiinfo] PVR Group manager usability improvements
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogPVRGroupManager.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRChannelGroupsContainer.h
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Improvement, Wiki: Needed, Component: PVR, Component: GUI engine, v22 "P"

#25402 [tests][Playlists] Fix PlaylistsWPL test for windows
  xbmc/playlists/test/TestPlayListWPL.cpp
Labels: Type: Fix, v22 "P"

#25406 [tools/depends][target] exiv2 add patch for GCC13 cstdint include
  cmake/modules/FindExiv2.cmake
  tools/depends/target/exiv2/0005-GCC13-cstdint.patch
  tools/depends/target/exiv2/Makefile
Labels: Type: Fix, Platform: Linux, Component: Depends, v22 "P"

#25401 RegExp: Fix heap-use-after-free
  xbmc/utils/RegExp.cpp
  xbmc/utils/RegExp.h
Labels: Type: Fix, v22 "P"

#25408 Fix mime types
  xbmc/utils/Mime.cpp
  xbmc/utils/Mime.h
  xbmc/video/test/TestVideoFileItemClassify.cpp
Labels: Type: Fix, v22 "P"

#25411 [Windows] remove blue color from tests script
  tools/buildsteps/windows/run-tests.bat
Labels: Type: Improvement, Platform: Windows, Component: Build, v22 "P"

#25390 [windows][buildsteps] run-tests.bat fail if test executable outputs no test data
  tools/buildsteps/windows/run-tests.bat
Labels: Type: Fix, Backport: Needed, Platform: Windows, v22 "P"

#25387 changed: move CFileItem::GetTBNFile to ArtUtils
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/ThumbLoader.cpp
  xbmc/utils/ArtUtils.cpp
  xbmc/utils/ArtUtils.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/TestArtUtils.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Improvement, v22 "P"
