Repository xbmc/xbmc, pull requests merged in 2024-04, with the labels that each got.

#24933 [Android] Add forgotten args in CLog::Log() calls
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Fix, Platform: Android, v22 "P"

#24918 [webOS][video] Fix HDR parameter conversion to SEI
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
Labels: Type: Fix, Component: Video, Platform: webOS, v22 "P"

#24931 [cmake][module] FindPCRE disable building pcrecpp
  cmake/modules/FindPCRE.cmake
  tools/depends/target/pcre/Makefile
Labels: Type: Cleanup, Backport: Needed, v22 "P"

#24929 [Windows] Bump dav1d to version 1.4.1
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
Labels: Type: Fix, Type: Improvement, Backport: Needed, Platform: Windows, Component: Depends, Platform: WindowsStore, v22 "P"

#24908 [tools/depends][target] Bump dav1d 1.4.1
  tools/depends/target/dav1d/DAV1D-VERSION
Labels: Type: Fix, Backport: Needed, Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#24834 [VideoSettings] Change default tone map method to Hable
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGLES.h
  xbmc/cores/VideoSettings.cpp
  xbmc/settings/MediaSettings.cpp
Labels: Type: Improvement, Component: Settings, Component: Video rendering, v22 "P"

#24709 GetOpticalMediaPath: move to video utils
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/video/VideoUtils.cpp
  xbmc/video/VideoUtils.h
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/test/CMakeLists.txt
  xbmc/video/test/TestVideoUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, v22 "P"

#24917 [AdvandedSettings] Additional latency setting for HDR
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Wiki: Needed, Component: Video rendering, v22 "P"

#24934 [guilib] Fix two heap-user-after-free
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIIncludes.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v22 "P"

#24938 [Android] Set minimum API level to 24
  cmake/platform/android/android.cmake
  docs/README.Android.md
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/buildsteps/defaultenv
  tools/depends/configure.ac
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/network/NetworkAndroid.cpp
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Platform: Android, v22 "P"

#24939 [cmake] Optimisations/cleanup some Find module helper
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindPCRE.cmake
  cmake/modules/buildtools/FindFlatC.cmake
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  tools/depends/target/libnfs/01-MSUWP-compat.patch
  tools/depends/target/libnfs/Makefile
Labels: Type: Improvement, CMake, v22 "P"

#24911 [VideoPlayerVideo] Dont require extradata for avc3, avc4
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, v22 "P"

#24899 Remove timezone setting within Kodi
  addons/resource.language.en_gb/resources/strings.po
  system/settings/android.xml
  system/settings/settings.xml
  system/settings/windows.xml
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/platform/posix/CMakeLists.txt
  xbmc/platform/posix/PosixTimezone.cpp
  xbmc/platform/posix/PosixTimezone.h
  xbmc/platform/posix/XTimeUtils.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/Settings.h
Labels: Component: Settings, Platform: Linux, Type: Breaking change, v22 "P"

#24922 [videoplayer] Fix Playback Delay for Items from uPnP sources
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Backport: Needed, Component: Players, v22 "P"

#24871 [Omega] 21.0 Release
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v21 Omega

#24901 Info: Remove Player.Cutlist
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Type: Cleanup, Component: Skin, v22 "P"

#24949 Remove timezone/timezonecountry infolabels from guilib
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: API change: GUI, Component: Skin, Type: Breaking change, v22 "P"

#24946 [backport][guilib] Fix two heap-user-after-free
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIIncludes.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v21 Omega

#20809 ffmpeg: build with lto when -DUSE_LTO=ON
  cmake/modules/FindFFMPEG.cmake
  tools/depends/target/ffmpeg/CMakeLists.txt
Labels: Type: Improvement, Component: Depends, v22 "P"

#24858 GBM: fix setting no HDR mode (on SDR display)
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/windowing/gbm/WinSystemGbm.cpp
Labels: Type: Fix, Backport: Done, Platform: Linux, v22 "P"

#24841 GL/GLES: Add anisotropic filtering support
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUIFontTTFGLES.cpp
  xbmc/guilib/TextureGL.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Feature, Wiki: Needed, Component: GL rendering, Component: GLES rendering, v22 "P"

#24960 [cmake] FindTagLib fixup typos
  cmake/modules/FindTagLib.cmake
Labels: Type: Fix, CMake, v22 "P"

#24964 [DllLoader] Remove fstatvfs64 wrapper
  xbmc/cores/DllLoader/exports/wrapper.c
  xbmc/cores/DllLoader/exports/wrapper_mach_alias
Labels: Type: Fix, Platform: Android, Platform: Linux, Component: System, v22 "P"

#24957 [JPGDecoder] Prevent wrong buffer size through integer overflow
  tools/depends/native/TexturePacker/src/decoder/JPGDecoder.cpp
Labels: Type: Fix, v22 "P"

#24968 [backport][DllLoader] Remove fstatvfs64 wrapper
  xbmc/cores/DllLoader/exports/wrapper.c
  xbmc/cores/DllLoader/exports/wrapper_mach_alias
Labels: Type: Fix, Component: System, v21 Omega

#24924 Bump Android NDK 26c
  docs/README.Android.md
  tools/buildsteps/defaultenv
  tools/depends/target/samba-gplv3/samba_android.patch
  tools/depends/target/samba/samba_android.patch
Labels: Type: Improvement, Platform: Android, Component: Build, v22 "P"

#24953 [webOS] Cleanup of Dolby Vision / HDR
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
Labels: Type: Fix, Type: Cleanup, Component: Video, Platform: webOS, v22 "P"

#24973 [Android][libass] Unneeded link to libc++
  tools/depends/target/libass/Makefile
Labels: Type: Improvement, Platform: Android, Component: Depends, v22 "P"

#24948 [GUIDialogSettingsBase] Fix heap-use-after-free
  xbmc/settings/dialogs/GUIDialogSettingsBase.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v22 "P"

#24977 [video] Improve Performace of the "Choose version" dialog
  xbmc/video/VideoDatabase.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Improvement, Backport: Needed, Component: Video, Component: Database, v22 "P", Feature: Video Versions/Extras

#24982 [MacOS] Handle MediaKey callback in main thread
  xbmc/platform/darwin/osx/MediaKeys.mm
Labels: Backport: Done, Platform: macOS, Component: Input, v22 "P"

#24983 [backport][MacOS] Handle MediaKey callback in main thread
  xbmc/platform/darwin/osx/MediaKeys.mm
Labels: Platform: macOS, Component: Input, Type: Backport, v21 Omega

#24979 [Android][windowing] Use Display.Mode APIs
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Type: Cleanup, Platform: Android, v22 "P"

#24978 [videoplayer] Add hdrtype filter to player selection rules
  xbmc/cores/playercorefactory/PlayerSelectionRule.cpp
  xbmc/cores/playercorefactory/PlayerSelectionRule.h
Labels: Type: Improvement, Wiki: Needed, Component: Players, v22 "P"

#24981 [cmake] FindFlatbuffers enable detecting existing cmake config
  cmake/modules/FindFlatBuffers.cmake
Labels: Type: Improvement, CMake, v22 "P"

#24963 [webOS][wayland] Fix long presses on webOS 7+
  xbmc/windowing/wayland/CMakeLists.txt
  xbmc/windowing/wayland/Seat.cpp
  xbmc/windowing/wayland/Seat.h
  xbmc/windowing/wayland/SeatWebOS.cpp
  xbmc/windowing/wayland/SeatWebOS.h
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/wayland/WinSystemWayland.h
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Fix, Component: Windowing, Platform: webOS, v22 "P"

#24991 [webOS] Implement DTS support
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINTVOS.mm
  xbmc/cores/AudioEngine/Sinks/AESinkStarfish.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.h
Labels: Type: Improvement, Component: Audio, Platform: webOS, v22 "P"

#24992 [video] CGUIDialogVideoManager: Fix master profile database instance …
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
Labels: Type: Fix, Backport: Done, Component: Video, v22 "P", Feature: Video Versions/Extras

#24998 [Omega][video] CGUIDialogVideoManager: Fix master profile database instance …
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
Labels: Type: Fix, Component: Video, Type: Backport, v21 Omega, Feature: Video Versions/Extras

#25004 [backport][video] Improve Performance of the "Choose version" dialog
  xbmc/video/VideoDatabase.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Improvement, Component: Video, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24993 [backport][Android] Fix wake-up when sleeping with active hdmi
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
Labels: Type: Fix, Platform: Android, Type: Backport, v21 Omega

#24940 Start moving video fileitem classifiers to separate file
  xbmc/Autorun.cpp
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/PlayListPlayer.cpp
  xbmc/Util.cpp
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/cores/playercorefactory/PlayerSelectionRule.cpp
  xbmc/favourites/FavouritesService.cpp
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/PictureInfoLoader.cpp
  xbmc/pictures/PictureThumbLoader.cpp
  xbmc/playlists/PlayListM3U.cpp
  xbmc/playlists/PlayListPLS.cpp
  xbmc/utils/GroupUtils.cpp
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/CMakeLists.txt
  xbmc/video/VideoFileItemClassify.cpp
  xbmc/video/VideoFileItemClassify.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoItemArtworkHandler.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/video/dialogs/GUIDialogVideoBookmarks.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/test/CMakeLists.txt
  xbmc/video/test/TestVideoFileItemClassify.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, v22 "P"

#25011 [video] Fix Movie Information Refresh
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, v22 "P"

#25017 [backport][videoplayer] Fix Playback Delay for Items from uPnP sources
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Component: Players, v21 Omega

#25019 Linux: Use pulseaudio by default again
  xbmc/platform/linux/PlatformLinux.cpp
Labels: Type: Fix, Platform: Linux, Component: Audio, v21 Omega

#25009 Move more video classifiers
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/PlayListPlayer.cpp
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayer.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.cpp
  xbmc/cores/paplayer/AudioDecoder.cpp
  xbmc/cores/playercorefactory/PlayerSelectionRule.cpp
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
  xbmc/filesystem/Directory.cpp
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/music/ContextMenus.cpp
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/utils/ExecString.cpp
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoFileItemClassify.cpp
  xbmc/video/VideoFileItemClassify.h
  xbmc/video/VideoGeneratedImageFileLoader.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/test/TestVideoFileItemClassify.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
  xbmc/video/windows/VideoFileItemListModifier.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, v22 "P"

#23022 Cull GUI elements not in scissor bounds
  xbmc/guilib/GUIControl.cpp
  xbmc/guilib/GUIControl.h
  xbmc/utils/Geometry.h
Labels: Type: Improvement, Component: GUI rendering, v22 "P"

#24605 GL: improve text rendering performance and quality
  system/shaders/GL/1.2/gl_shader_vert_clip.glsl
  system/shaders/GL/1.2/gl_shader_vert_simple.glsl
  system/shaders/GL/1.5/gl_shader_vert_clip.glsl
  system/shaders/GL/1.5/gl_shader_vert_simple.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGL.cpp
  xbmc/guilib/GUIFont.cpp
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTF.h
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUIFontTTFGL.h
  xbmc/rendering/gl/GLShader.cpp
  xbmc/rendering/gl/GLShader.h
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gl/RenderSystemGL.h
Labels: Type: Improvement, Component: GUI rendering, Component: GL rendering, v22 "P"

#25025 [Xbox] Fix crash when DisplayInformation it's called from other thread
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Type: Fix, Backport: Done, Platform: WindowsStore, Component: Windowing, v22 "P"

#25032 [ffmpeg] Fix stereo upmixing
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEResampleFFMPEG.cpp
Labels: Type: Fix, Backport: Done, Component: Audio, v22 "P"

#25038 [BP][ffmpeg] Fix stereo upmixing
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEResampleFFMPEG.cpp
Labels: Type: Fix, Component: Audio, Type: Backport, v21 Omega

#25026 MacOS: Avoid rendering refresh while liveresizing
  xbmc/windowing/osx/OpenGL/OSXGLView.h
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Backport: Done, Platform: macOS, Component: Windowing, v22 "P"

#25037 [BP][Xbox] Fix crash when DisplayInformation it's called from other thread
  xbmc/windowing/win10/WinSystemWin10.cpp
  xbmc/windowing/win10/WinSystemWin10.h
  xbmc/windowing/win10/WinSystemWin10DX.cpp
Labels: Type: Fix, Type: Backport, Platform: WindowsStore, Component: Windowing, v21 Omega

#25020 [backport][GUIDialogSettingsBase] Clean-up owned edit control in FreeControls()
  xbmc/settings/dialogs/GUIDialogSettingsBase.cpp
Labels: Type: Fix, Component: GUI engine, Type: Backport, v21 Omega

#25030 MacOS: Avoid rendering refresh while liveresizing
  xbmc/windowing/osx/OpenGL/OSXGLView.h
  xbmc/windowing/osx/OpenGL/OSXGLView.mm
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
  xbmc/windowing/osx/WinSystemOSX.h
  xbmc/windowing/osx/WinSystemOSX.mm
Labels: Type: Fix, Platform: macOS, Type: Backport, Component: Windowing, v21 Omega

#25041 Backport: MediaSession: Update only when something changes
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/platform/android/activity/XBMCApp.h
Labels: Type: Fix, Platform: Android, Type: Backport, v21 Omega

#25031 move IsVideoAssetsFile to VideoFileItemClassify
  xbmc/video/ContextMenus.cpp
  xbmc/video/VideoFileItemClassify.cpp
  xbmc/video/VideoFileItemClassify.h
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/guilib/VideoVersionHelper.h
  xbmc/video/test/TestVideoFileItemClassify.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, v22 "P"

#25046 [Windows] fix DirectSound buffer underrun with some Bluetooth audio devices
  xbmc/cores/AudioEngine/Sinks/AESinkDirectSound.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, v22 "P"

#25013 [Kodi P*] small improvements and cleanup
  xbmc/addons/AddonManager.h
  xbmc/addons/AddonRepos.cpp
  xbmc/addons/AddonRepos.h
  xbmc/filesystem/AddonsDirectory.cpp
  xbmc/interfaces/json-rpc/AddonsOperations.cpp
  xbmc/interfaces/json-rpc/AddonsOperations.h
  xbmc/utils/test/TestVariant.cpp
Labels: Type: Cleanup, Type: Improvement, v22 "P"

#25033 GLES: Add font shader clipping
  system/shaders/GLES/2.0/gles_shader_clip.vert
  system/shaders/GLES/2.0/gles_shader_simple.vert
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGLES.cpp
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUIFontTTFGLES.cpp
  xbmc/guilib/GUIFontTTFGLES.h
  xbmc/rendering/gles/GLESShader.cpp
  xbmc/rendering/gles/GLESShader.h
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
Labels: Type: Improvement, Component: GUI rendering, v22 "P"

#24926 [Android TV] fixed cover display for channels
  cmake/scripts/android/Install.cmake
  tools/android/packaging/xbmc/src/XBMCJsonRPC.java.in
  tools/android/packaging/xbmc/src/XBMCTextureCache.java.in
  xbmc/platform/android/activity/CMakeLists.txt
  xbmc/platform/android/activity/JNIXBMCTextureCache.cpp
  xbmc/platform/android/activity/JNIXBMCTextureCache.h
  xbmc/platform/android/activity/android_main.cpp
Labels: Type: Fix, Backport: Needed, Platform: Android, v22 "P"

#24942 [backport][VideoPlayerVideo] Dont require extradata for avc3, avc4
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v21 Omega

#25016 [backport][video] Fix Movie Information Refresh
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v21 Omega

#25050 Update kodi.sh.in to make usage of ENV_ARGS safe when both, KODI_AE_SINK and KODI_GL_INTERFACE, are used in parallel.
  tools/Linux/kodi.sh.in
Labels: Type: Fix, Platform: Linux, v22 "P"

#25018 Add System.Platform.WebOS conditional
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Type: Improvement, Platform: webOS, v22 "P"

#24720 [Video] Improve user experience when playing movies/episodes from Bluray ISO/BDMV.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/PlayListPlayer.cpp
  xbmc/PlayListPlayer.h
  xbmc/application/Application.cpp
  xbmc/application/Application.h
  xbmc/dialogs/GUIDialogContextMenu.h
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
  xbmc/dialogs/GUIDialogSimpleMenu.h
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoFileItemClassify.cpp
  xbmc/video/VideoFileItemClassify.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, v22 "P"

#25043 [AudioEngine] Make a smarter choice between PulseAudio and PipeWire
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkPULSE.h
  xbmc/platform/freebsd/PlatformFreebsd.cpp
  xbmc/platform/linux/OptionalsReg.cpp
  xbmc/platform/linux/OptionalsReg.h
  xbmc/platform/linux/PlatformLinux.cpp
Labels: Type: Improvement, Platform: Linux, Component: Audio, v22 "P"

#24984 [Audio] TrueHD rework - totally new MAT packer implementation
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.h
  xbmc/cores/AudioEngine/Utils/AEPackIEC61937.cpp
  xbmc/cores/AudioEngine/Utils/AEPackIEC61937.h
  xbmc/cores/AudioEngine/Utils/PackerMAT.cpp
  xbmc/cores/AudioEngine/Utils/PackerMAT.h
Labels: Type: Fix, Type: Improvement, Component: Audio, v22 "P"

#25059 [Android] Manages display modes according to screen orientation
  xbmc/windowing/android/AndroidUtils.cpp
Labels: Type: Fix, Platform: Android, Component: Windowing, v22 "P"

#25044 [tools/depends][configure] Remove unneccessary flags from configure
  tools/depends/configure.ac
Labels: Type: Cleanup, Platform: macOS, Platform: iOS, Platform: tvOS, v22 "P"

#25008 [Android] Adjust cmake macros
  cmake/scripts/android/ArchSetup.cmake
Labels: Type: Improvement, Platform: Android, CMake, v22 "P"

#24996 [Android][libgcrypt] Enable neon support for all arm archs
  tools/depends/target/libgcrypt/Makefile
Labels: Type: Improvement, Platform: Android, Component: Depends, v22 "P"

#25057 [Android] Update Splash screen layout definition
  tools/android/packaging/xbmc/res/layout/activity_splash.xml
Labels: Platform: Android, v22 "P"

#24010 [tools/depends][target] Bump pythonmodule PIL
  tools/depends/target/pythonmodule-pil/PYTHONMODULE-PIL-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#24851 [backport][guilib] Decouple left/right text truncate from alignment
  xbmc/guilib/GUIEditControl.cpp
  xbmc/guilib/GUIFadeLabelControl.cpp
  xbmc/guilib/GUIFont.h
  xbmc/guilib/GUIFontTTF.cpp
  xbmc/guilib/GUILabel.cpp
  xbmc/guilib/GUILabel.h
  xbmc/guilib/GUITextBox.cpp
  xbmc/interfaces/legacy/Control.h
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v21 Omega

#25029 Move some music fileitem classifiers to separate file
  cmake/treedata/common/tests.txt
  xbmc/Autorun.cpp
  xbmc/ContextMenus.cpp
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/SeekHandler.cpp
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.cpp
  xbmc/cores/playercorefactory/PlayerSelectionRule.cpp
  xbmc/dialogs/GUIDialogContextMenu.cpp
  xbmc/favourites/FavouritesService.cpp
  xbmc/filesystem/Directory.cpp
  xbmc/filesystem/FileDirectoryFactory.cpp
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/music/CMakeLists.txt
  xbmc/music/MusicFileItemClassify.cpp
  xbmc/music/MusicFileItemClassify.h
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/dialogs/GUIDialogMusicInfo.cpp
  xbmc/music/dialogs/GUIDialogSongInfo.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/music/test/CMakeLists.txt
  xbmc/music/test/TestMusicFileItemClassify.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/music/windows/MusicFileItemListModifier.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/playlists/PlayList.cpp
  xbmc/playlists/PlayListM3U.cpp
  xbmc/playlists/PlayListPLS.cpp
  xbmc/utils/ExecString.cpp
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/test/TestVideoFileItemClassify.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, v22 "P"

#25049 [Cmake][module] Flatbuffers dont use target name that coincides with lib target
  cmake/modules/FindFlatBuffers.cmake
  xbmc/cores/RetroPlayer/messages/CMakeLists.txt
Labels: Type: Fix, CMake, v22 "P"

#25054 [Android] Place launcher icons in mipmap- folders
  tools/android/packaging/Makefile.in
  tools/android/packaging/media/mipmap-hdpi/ic_launcher.png
  tools/android/packaging/media/mipmap-ldpi/ic_launcher.png
  tools/android/packaging/media/mipmap-mdpi/ic_launcher.png
  tools/android/packaging/media/mipmap-xhdpi/banner.png
  tools/android/packaging/media/mipmap-xhdpi/ic_launcher.png
  tools/android/packaging/media/mipmap-xxhdpi/ic_launcher.png
  tools/android/packaging/media/mipmap-xxxhdpi/ic_launcher.png
  tools/android/packaging/xbmc/AndroidManifest.xml.in
Labels: Type: Fix, Platform: Android, v22 "P"

#25076 [tools/depends][target] Pythonmodule-pil fix correct archive name
  tools/depends/target/pythonmodule-pil/PYTHONMODULE-PIL-VERSION
Labels: Type: Fix, Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#25074 Add System.Platform.WebOS conditional [Omega backport]
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Type: Backport, v21 Omega, Platform: webOS

#25075 [Docs] update System.Platform.WebOS from added in v22 to 21
  xbmc/GUIInfoManager.cpp
Labels: Documentation, Platform: webOS, v22 "P"

#25070 [tools/Depends] Bump openssl 3.0.13
  tools/depends/native/cargo-c/CARGO-C-VERSION
  tools/depends/native/cargo-c/Makefile
  tools/depends/native/openssl/OPENSSL-VERSION
  tools/depends/target/openssl/001-android-getauxvalrevert.patch
  tools/depends/target/openssl/16-kodi.conf
  tools/depends/target/openssl/Makefile
  tools/depends/target/openssl/OPENSSL-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#25077 [tools/depends][target] fix makefile rule to not always rebuild for some libs
  tools/depends/target/cec/Makefile
  tools/depends/target/gmp/Makefile
  tools/depends/target/tinyxml2/Makefile
Labels: Type: Fix, v22 "P"

#25071 [tools/depends][target] Bump Curl 8.7.1
  tools/depends/target/curl/CURL-VERSION
  tools/depends/target/curl/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#24182 [GUI] [Skins] [Estuary] New InfoLabels to identify multiple PVR Clients.
  addons/skin.estuary/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Improvement, Component: PVR, Component: GUI engine, v22 "P"

#25093 GLES: disable attribute array when rendering from FBO
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
Labels: Type: Fix, Component: Video rendering, v22 "P"

#25091 [webOS] Map guide key
  xbmc/windowing/wayland/ShellSurfaceWebOSShell.cpp
  xbmc/windowing/wayland/XkbcommonKeymap.cpp
Labels: Type: Improvement, Component: Input, Component: Windowing, Platform: webOS, v22 "P"

#25086 [webOS] Stop player on minimize event
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Fix, Component: Windowing, Platform: webOS, v22 "P"
