Repository xbmc/xbmc, pull requests merged in 2024-11, with the labels that each got.

#25701 Bump Android SDK 35 + Gradle
  cmake/platform/android/android.cmake
  docs/README.Android.md
  tools/android/packaging/build.gradle
  tools/android/packaging/gradle/wrapper/gradle-wrapper.jar
  tools/android/packaging/gradle/wrapper/gradle-wrapper.properties
  tools/android/packaging/gradlew
  tools/android/packaging/xbmc/build.gradle.in
  tools/depends/configure.ac
  tools/depends/target/Toolchain.cmake.in
Labels: Type: Fix, Platform: Android, v22 Piers

#25878 [Android] Setting to ignore the capabilities reported by the codec component
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Wiki: Needed, Platform: Android, v22 Piers

#25848 [Android] The requestVisibleBehind() method has no effect since API level 26
  tools/android/packaging/xbmc/src/Main.java.in
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Improvement, Platform: Android, v22 Piers

#25902 Python: allow building against Python 3.13
  xbmc/interfaces/python/swig.cpp
Labels: Type: Fix, Backport: Needed, Component: Python, v22 Piers

#25892 [cmake] Update and Build libass for all platforms
  CMakeLists.txt
  cmake/modules/FindASS.cmake
  cmake/modules/FindFreeType.cmake
  cmake/modules/FindFriBidi.cmake
  cmake/modules/FindHarfBuzz.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/libass/01-win-CMakeLists.patch
  tools/depends/target/libass/02-win-dwrite-fontload.patch
  tools/depends/target/libass/03-win-dwrite-prevent-ass_set_fonts_dir.patch
  tools/depends/target/libass/04-win-nullcheck-shared_hdc.patch
  tools/depends/target/libass/LIBASS-VERSION
  tools/depends/target/libass/Makefile
Labels: Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, CMake, Platform: WindowsStore, Platform: tvOS, Platform: webOS, v22 Piers

#25806 MediaSources: Rename SOURCE_TYPE_DVD and SOURCE_TYPE_VIRTUAL_DVD
  xbmc/FileItem.cpp
  xbmc/MediaSource.cpp
  xbmc/MediaSource.h
  xbmc/dialogs/GUIDialogFileBrowser.cpp
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/filesystem/VirtualDirectory.cpp
  xbmc/platform/darwin/osx/storage/OSXStorageProvider.cpp
  xbmc/platform/linux/storage/UDevProvider.cpp
  xbmc/platform/linux/storage/UDisks2Provider.cpp
  xbmc/platform/linux/storage/UDisksProvider.cpp
  xbmc/platform/win10/storage/Win10StorageProvider.cpp
  xbmc/platform/win32/storage/Win32StorageProvider.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, Component: Discs, v22 Piers

#24809 [Android] Move string literals to resource files
  tools/android/packaging/xbmc/res/values-in-rid/strings.xml
  tools/android/packaging/xbmc/res/values-iw-ril/strings.xml
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/android/packaging/xbmc/strings.xml.in
Labels: Platform: Android, v22 Piers

#25917 [depends] look for android sdk manager under latest subdir
  tools/depends/configure.ac
Labels: Type: Fix, Platform: Android, Component: Depends, v22 Piers

#25857 Enable/disable media file delete confirmation
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/settings/Settings.h
  xbmc/utils/FileUtils.cpp
  xbmc/utils/FileUtils.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, Wiki: Needed, Component: Music, Component: Video, Component: Picture, Component: Settings, v22 Piers

#25889 Bump Android NDK 27c
  docs/README.Android.md
  tools/buildsteps/defaultenv
Labels: Type: Improvement, Platform: Android, v22 Piers

#25751 Estuary: fix some textures
  addons/skin.estuary/media/DefaultIconError.png
  addons/skin.estuary/media/DefaultPVRProvider.png
  addons/skin.estuary/media/DefaultPVRProviders.png
  addons/skin.estuary/media/DefaultVideoVersions.png
  addons/skin.estuary/media/OverlayLocked.png
  addons/skin.estuary/media/OverlayRAR.png
  addons/skin.estuary/media/OverlayZIP.png
  addons/skin.estuary/media/buttons/button-nofo.png
  addons/skin.estuary/media/buttons/color-button-box.png
  addons/skin.estuary/media/buttons/dialogbutton-fo.png
  addons/skin.estuary/media/buttons/dialogbutton-nofo.png
  addons/skin.estuary/media/buttons/radio-button-off.png
  addons/skin.estuary/media/buttons/radio-button-on.png
  addons/skin.estuary/media/buttons/roundbutton-fo.png
  addons/skin.estuary/media/calibrate/cal_ratio.png
  addons/skin.estuary/media/calibrate/cal_sub.png
  addons/skin.estuary/media/calibrate/reset.png
  addons/skin.estuary/media/colors/red.png
  addons/skin.estuary/media/colors/red50.png
  addons/skin.estuary/media/dialogs/dialog-bg-nobo.png
  addons/skin.estuary/media/dialogs/dialog-bg.png
  addons/skin.estuary/media/dialogs/volume/mute.png
  addons/skin.estuary/media/icons/addonstatus/manual-pinned.png
  addons/skin.estuary/media/icons/addonstatus/manual.png
  addons/skin.estuary/media/icons/infodialogs/extras.png
  addons/skin.estuary/media/icons/infodialogs/versions.png
  addons/skin.estuary/media/icons/keyboard/accents.png
  addons/skin.estuary/media/icons/pvr/PVR-HasArchive.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimer.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerConflict.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerDisabled.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerError.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerSchedule.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerScheduleConflict.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerScheduleDisabled.png
  addons/skin.estuary/media/icons/pvr/PVR-HasTimerScheduleError.png
  addons/skin.estuary/media/icons/pvr/PVR-IsRecording.png
  addons/skin.estuary/media/icons/pvr/premiere.png
  addons/skin.estuary/media/lists/focus.png
  addons/skin.estuary/media/lists/panel-mediamenu.png
  addons/skin.estuary/media/lists/panel.png
  addons/skin.estuary/media/osd/fullscreen/buttons/record.png
  addons/skin.estuary/media/overlays/extras.png
  addons/skin.estuary/media/overlays/shadow.png
  addons/skin.estuary/media/overlays/versions.png
  addons/skin.estuary/media/pointer_arrow.png
  addons/skin.estuary/media/pointer_click.png
  addons/skin.estuary/media/progress/texturebg_alt_white.png
  addons/skin.estuary/media/progress/texturebg_white.png
  addons/skin.estuary/media/windows/pvr/archive.png
  addons/skin.estuary/media/windows/pvr/record.png
  addons/skin.estuary/themes/curial/overlays/shadow.png
Labels: Type: Improvement, Component: Skin, v22 Piers

#25880 [backport][msvcrt] Fix buffer overflow due to fixed "var" size
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
Labels: Type: Fix, Platform: Windows, Type: Backport, v21 Omega

#25914 Estuary: improve codec flags
  addons/skin.estuary/media/flags/flag.png
  addons/skin.estuary/xml/Includes.xml
Labels: Type: Improvement, Component: Skin, v22 Piers

#25912 Estuary: make dialog header opaque
  addons/skin.estuary/colors/brown.xml
  addons/skin.estuary/colors/charcoal.xml
  addons/skin.estuary/colors/chartreuse.xml
  addons/skin.estuary/colors/concrete.xml
  addons/skin.estuary/colors/defaults.xml
  addons/skin.estuary/colors/gold.xml
  addons/skin.estuary/colors/green.xml
  addons/skin.estuary/colors/maroon.xml
  addons/skin.estuary/colors/midnight.xml
  addons/skin.estuary/colors/orange.xml
  addons/skin.estuary/colors/pink.xml
  addons/skin.estuary/colors/rose.xml
  addons/skin.estuary/colors/teal.xml
  addons/skin.estuary/colors/violet.xml
  addons/skin.estuary/xml/Includes.xml
Labels: Type: Improvement, Component: Skin, v22 Piers

#25929 Fix Stream Details Save After Playback
  xbmc/utils/SaveFileStateJob.cpp
Labels: Type: Fix, Type: Improvement, Component: PVR, Component: Video, Component: Discs, v22 Piers

#25926 [Estury][PVR][cores][video] Improve support for media flags for PVR recordings
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MyPVRRecordings.xml
  xbmc/GUIInfoManager.cpp
  xbmc/Util.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/PVRThumbLoader.cpp
  xbmc/pvr/PVRThumbLoader.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.h
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Improvement, Wiki: Needed, Component: PVR, Component: GUI engine, Component: Skin, v22 Piers

#25927 [PVR] Delete metadata from video db on delete of recordings.
  xbmc/pvr/guilib/PVRGUIActionsRecordings.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordings.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Improvement, Component: PVR, v22 Piers

#25928 [PVR] Add support for automatic texture cache cleanup for parantal ra…
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgDatabase.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/pvr/recordings/PVRRecordings.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25924 [filesystem][addons devkit] Update file read flags documentation
  xbmc/addons/interfaces/Filesystem.cpp
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/filesystem.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/filesystem/IFileTypes.h
Labels: Type: Improvement, Component: Add-ons, API change: Binary add-ons, Component: FileSystem, v22 Piers

#25933 [PVR] CPVRTimerInfoTag::UpdateSummary: Add support for timer types no…
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25936 [PVR] CPVRTimerInfoTag::UpdateSummary: Fixup: Add support for timer t…
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25919 [videodb] Fix Nested Transactions - Video DB Creation/Upgrade, PVR Stop
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Fix, Component: PVR, Component: Database, v22 Piers, Feature: Video Versions/Extras

#25943 [PVR] Timer settings dialog: Ensure that the order of timer custom se…
  xbmc/pvr/settings/PVRCustomTimerSettings.cpp
  xbmc/pvr/settings/PVRCustomTimerSettings.h
Labels: Type: Fix, Component: PVR, v22 Piers

#25944 [tools/depends][target] Pythonmodule-pil remove unnecessary PYTHONPATH env var
  tools/depends/target/pythonmodule-pil/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, Platform: webOS, v22 Piers

#25903 NetworkLinux: fix computing the length of the packet
  xbmc/platform/linux/network/NetworkLinux.cpp
Labels: Type: Improvement, Platform: Linux, Component: Network, v22 Piers

#25949 [tools/depends][target] pythonmodule-setuptools remove win executables
  tools/depends/target/pythonmodule-setuptools/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Platform: tvOS, Component: Build, Platform: webOS, v22 Piers

#25916 pipewire: remove CPipewireGlobal class
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireGlobal.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireGlobal.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireNode.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireRegistry.h
Labels: Type: Improvement, Platform: Linux, Component: Audio, v22 Piers

#25953 [addons] Fix compiler warnings: conversion from 'size_t' to 'unsigned int', possible loss of data
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/pvr/General.h
Labels: Type: Fix, Component: Add-ons, v22 Piers

#25954 [PVR] Make reminders created from reminder rules editable.
  xbmc/pvr/timers/PVRTimerType.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25948 [BP][depends] look for android sdk manager under latest subdir
  tools/depends/configure.ac
Labels: Type: Fix, Type: Backport, Component: Build, v21 Omega

#25915 [Android] Avoid failure when getInterfaceName() method returns null
  xbmc/platform/android/network/NetworkAndroid.cpp
Labels: Type: Fix, Platform: Android, v22 Piers

#25840 [Android] Replace the use of the deprecated Environment.getExternalStorageDirectory() method
  cmake/scripts/android/Install.cmake
  tools/android/packaging/xbmc/src/Main.java.in
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/android/packaging/xbmc/src/XBMCJsonRPC.java.in
  tools/android/packaging/xbmc/src/XBMCProperties.java.in
  tools/android/packaging/xbmc/src/channels/SyncChannelJobService.java.in
  tools/android/packaging/xbmc/src/channels/SyncProgramsJobService.java.in
  tools/android/packaging/xbmc/src/content/XBMCFileContentProvider.java.in
  tools/android/packaging/xbmc/src/content/XBMCMediaContentProvider.java.in
  tools/android/packaging/xbmc/src/util/Storage.java.in
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Type: Improvement, Platform: Android, v22 Piers

#25930 Shut down gracefully if OpenGL context is not properly set up
  xbmc/guilib/Shader.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/utils/GLUtils.cpp
Labels: Type: Fix, Type: Improvement, Backport: Done, Component: GL rendering, Component: GLES rendering, v22 Piers

#25931 [BP] Shut down gracefully if OpenGL context is not properly set up
  xbmc/guilib/Shader.cpp
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/utils/GLUtils.cpp
Labels: Type: Fix, Type: Improvement, Type: Backport, Component: GL rendering, Component: GLES rendering, v21 Omega

#25952 [Estuary] Fix Channel Guide breadcrumb.
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#25958 [PVR][cores] Prevent stream meta data extraction for in-progress PVR recordings.
  cmake/treedata/common/pvr.txt
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/pvr/CMakeLists.txt
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/utils/CMakeLists.txt
  xbmc/pvr/utils/PVRPathUtils.cpp
  xbmc/pvr/utils/PVRPathUtils.h
  xbmc/pvr/utils/PVRStreamUtils.cpp
  xbmc/pvr/utils/PVRStreamUtils.h
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
Labels: Type: Fix, Type: Cleanup, Component: PVR, v22 Piers

#25960 [PVR] Recently added channels widget: Do not remove watched channels
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#25940 [tools/Depends][target] Update pythonmodules
  tools/depends/target/pythonmodule-pil/Makefile
  tools/depends/target/pythonmodule-pil/PYTHONMODULE-PIL-VERSION
  tools/depends/target/pythonmodule-pil/pillow-crosscompile.patch
  tools/depends/target/pythonmodule-pycryptodome/01-nosetuptool.patch
  tools/depends/target/pythonmodule-pycryptodome/01-revert-ctype.pythonapi-use.patch
  tools/depends/target/pythonmodule-pycryptodome/02-android-dlopen.patch
  tools/depends/target/pythonmodule-pycryptodome/Makefile
  tools/depends/target/pythonmodule-pycryptodome/PYTHONMODULE-PYCRYPTODOME-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Python, Platform: tvOS, Platform: webOS, v22 Piers

#25968 [tools/depends] init and propogate python version number from VERSION…
  cmake/modules/FindPython.cmake
  tools/depends/Makefile.include.in
  tools/depends/configure.ac
  tools/depends/native/python3/Makefile
  tools/depends/native/pythonmodule-setuptools/Makefile
  tools/depends/target/Toolchain.cmake.in
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 Piers

#25966 [Video] Fix blank codec and incorrect channels for some PCM audio streams
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, v22 Piers

#25965 [PVR] CPVRTimerInfoTag: Cleanup: Children of reminder rules are no longer read-only.
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25961 [Video] Fix Audio Codec Description for DVD Playback
  addons/resource.language.en_gb/resources/strings.po
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Improvement, Component: Video, v22 Piers

#25971 [tools/depends][target] Python3 build _scproxy module if a platform supports it
  tools/depends/target/python3/Makefile
Labels: Type: Fix, Platform: Android, Platform: macOS, Platform: iOS, Component: Python, Component: Depends, Platform: tvOS, Platform: webOS, v22 Piers

#25976 [PVR] Fix CPVREpgInfoTag::SetEpgID to update owner of parental rating icon
  xbmc/pvr/epg/EpgInfoTag.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#25956 GL/GLES: Fix shader clipped font rendering
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUIFontTTFGLES.cpp
Labels: Type: Fix, Component: GUI rendering, Component: GL rendering, Component: GLES rendering, v22 Piers

#25855 GLES: Implement shader based 111R swizzle
  system/shaders/GLES/2.0/gles_shader_multi_111r_111r_blendcolor.frag
  system/shaders/GLES/2.0/gles_shader_multi_rgba_111r.frag
  system/shaders/GLES/2.0/gles_shader_multi_rgba_111r_blendcolor.frag
  system/shaders/GLES/2.0/gles_shader_texture_111r.frag
  xbmc/guilib/GUITextureGLES.cpp
  xbmc/guilib/GUITextureGLES.h
  xbmc/guilib/TextureBase.h
  xbmc/guilib/TextureGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/rendering/gles/RenderSystemGLES.h
Labels: Type: Improvement, Component: GLES rendering, v22 Piers

#25974 [DVDDemux] Fix not needed extra space to codec desc
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.cpp
Labels: Type: Fix, v22 Piers

#25897 [Android] Support 16 KB page sizes
  cmake/scripts/android/ArchSetup.cmake
  tools/depends/configure.ac
Labels: Type: Improvement, Platform: Android, v22 Piers

#25947 [Estuary] New Stream selection dialog + related changes/fix
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/media/osd/fullscreen/buttons/streams.png
  addons/skin.estuary/xml/Custom_1101_SettingsDialog.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  addons/skin.estuary/xml/Includes_SettingsDialog.xml
  addons/skin.estuary/xml/MusicOSD.xml
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/VideoOSD.xml
Labels: Type: Cleanup, Type: Improvement, Component: Skin, v22 Piers

#25972 [WindowTranslator] Fix audio/video/subtitle window dialog names
  xbmc/guilib/WindowIDs.dox
  xbmc/input/WindowTranslator.cpp
Labels: Type: Fix, v22 Piers

#25959 Fix TagLib deprecation warnings
  xbmc/cores/VideoPlayer/VideoPlayerAudioID3.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Type: Improvement, v22 Piers

#25983 [video] Scan art for video extras
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Improvement, Wiki: Needed, Component: Video, v22 Piers, Feature: Video Versions/Extras

#25630 Scale large texture to the actual display size
  xbmc/GUILargeTextureManager.cpp
  xbmc/GUILargeTextureManager.h
  xbmc/TextureCache.cpp
  xbmc/TextureCache.h
  xbmc/TextureCacheJob.cpp
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/guilib/AspectRatio.h
  xbmc/guilib/CMakeLists.txt
  xbmc/guilib/FFmpegImage.cpp
  xbmc/guilib/GUIColorButtonControl.cpp
  xbmc/guilib/GUIComponent.cpp
  xbmc/guilib/GUIComponent.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIListItemLayout.cpp
  xbmc/guilib/GUIRadioButtonControl.cpp
  xbmc/guilib/GUIScrollBarControl.cpp
  xbmc/guilib/GUISliderControl.cpp
  xbmc/guilib/GUITexture.cpp
  xbmc/guilib/GUITexture.h
  xbmc/guilib/GUITextureCallbackManager.cpp
  xbmc/guilib/GUITextureCallbackManager.h
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/test/TestGUIControlFactory.cpp
  xbmc/interfaces/legacy/Control.cpp
  xbmc/pictures/Picture.cpp
  xbmc/rendering/RenderSystem.cpp
  xbmc/windows/GUIWindowSplash.cpp
Labels: Type: Feature, Component: GUI rendering, v22 Piers

#25955 Add a scaling factor to `XBMC_ResizeEvent`
  xbmc/application/AppInboundProtocol.cpp
  xbmc/application/Application.cpp
  xbmc/windowing/X11/WinEventsX11.cpp
  xbmc/windowing/XBMC_events.h
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
  xbmc/windowing/wayland/WinSystemWayland.cpp
  xbmc/windowing/win10/WinEventsWin10.cpp
  xbmc/windowing/windows/WinEventsWin32.cpp
Labels: Type: Fix, Type: Improvement, Backport: Needed, Platform: Linux, Component: Windowing, v22 Piers

#25998 [PVR] Remove GUIWindowPVRBase::DoRefresh() - not needed anymore, as P…
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#25995 [guilib] Fix video stream sorting by fps on SortComparerStreamVideo
  xbmc/video/guilib/VideoStreamSelectHelper.cpp
Labels: Type: Fix, v22 Piers

#25842 [DVDSubtitlesLibass] Do not load embedded fonts if override fonts is enabled
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
Labels: Type: Fix, Component: Subtitles, v22 Piers

#26000 [utils] Fix GroupUtils::Group in-progress count calculation.
  xbmc/utils/GroupUtils.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#25997 [settings] CSettingsManager::GetSetting: Only complain about not finding a setting when all settings were loaded already.
  xbmc/settings/lib/SettingsManager.cpp
Labels: Type: Improvement, Component: Settings, v22 Piers

#25999 [guilib] CGUIWindow::DoProcess: Only focus default control if it can be focused.
  xbmc/guilib/GUIWindow.cpp
Labels: Type: Fix, Component: GUI engine, v22 Piers

#25977 Estuary: optimize some textures
  addons/skin.estuary/extras/backgrounds/primary.jpg
  addons/skin.estuary/media/dialogs/volume/progress/p0.png
  addons/skin.estuary/media/icons/menumarks/star.png
  addons/skin.estuary/media/overlays/versions.png
  addons/skin.estuary/themes/curial/lists/panel.png
Labels: Type: Improvement, Component: Skin, v22 Piers

#25695 [backport][GUITextLayout] Removed custom chinese chars line break
  xbmc/guilib/GUITextLayout.h
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v21 Omega

#25945 [Video] A few video extras fixes
  addons/resource.language.en_gb/resources/strings.po
  xbmc/InfoScanner.cpp
  xbmc/InfoScanner.h
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
Labels: Type: Fix, Component: Video, Component: Database, v22 Piers, Feature: Video Versions/Extras

#25938 LegalPath: change defines to an enum class
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/cdrip/CDDARipper.cpp
  xbmc/cdrip/CDDARipper.h
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Improvement, v22 Piers

#25543 [Android] Set a default path to the NDK
  docs/README.Android.md
  tools/depends/configure.ac
Labels: Type: Improvement, Platform: Android, Documentation, v22 Piers

#25862 [Android] Setting to enable/disable the Decoderfilter
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/application/ApplicationSettingsHandling.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/settings/Settings.h
Labels: Type: Improvement, Wiki: Needed, Platform: Android, v22 Piers

#25978 [utils] Add new label mask for plugin listitem label2 values
  xbmc/interfaces/legacy/ModuleXbmcplugin.h
  xbmc/utils/LabelFormatter.cpp
Labels: Type: Improvement, v22 Piers

#25982 [IFile][CFile] Rework `ReadString` into `ReadLine`
  xbmc/CueDocument.cpp
  xbmc/addons/interfaces/Filesystem.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/RetroPlayer/cheevos/Cheevos.cpp
  xbmc/cores/VideoPlayer/Edl.cpp
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/CurlFile.h
  xbmc/filesystem/FTPDirectory.cpp
  xbmc/filesystem/File.cpp
  xbmc/filesystem/File.h
  xbmc/filesystem/IFile.cpp
  xbmc/filesystem/IFile.h
  xbmc/filesystem/test/TestFile.cpp
  xbmc/filesystem/test/TestZipFile.cpp
  xbmc/playlists/PlayListM3U.cpp
  xbmc/playlists/PlayListPLS.cpp
  xbmc/playlists/PlayListURL.cpp
Labels: Type: Fix, Type: Improvement, v22 Piers

#26013 [Estuary] MyVideoNav, MyPlaylist: For PVR recordings items, append season/episode info to label if available.
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/View_55_WideList.xml
Labels: Type: Improvement, Component: Skin, v22 Piers

#26019 [depends] Swig update
  tools/depends/native/swig/SWIG-VERSION
Labels: Type: Improvement, Component: Python, Component: Depends, v22 Piers

#26023 [depends] Update to Ninja 1.12.1
  tools/depends/native/ninja/Makefile
  tools/depends/native/ninja/NINJA-VERSION
Labels: Type: Improvement, Component: Depends, Component: Build, v22 Piers

#24744 Screensaver: don't make the dialog black
  xbmc/windows/GUIWindowScreensaver.cpp
Labels: Type: Improvement, Component: GUI engine, v22 Piers
