Repository xbmc/xbmc, pull requests merged in 2024-05, with the labels that each got.

#25103 AEStreamInfo: remove spammy EAC3 log line
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
Labels: Type: Fix, Backport: Needed, Component: Audio, v22 "P"

#25108 [BP] AEStreamInfo: remove spammy EAC3 log line
  xbmc/cores/AudioEngine/Utils/AEStreamInfo.cpp
Labels: Type: Fix, Component: Audio, Type: Backport, v21 Omega

#25112 [tools/depends[native] Bump Rustup and rust version
  tools/depends/native/rustup/Makefile
  tools/depends/native/rustup/RUSTUP-VERSION
Labels: Platform: Android, Component: Depends, v22 "P"

#25078 [tools/depends][target] Add brotli lib for curl
  cmake/modules/FindCurl.cmake
  tools/depends/target/Makefile
  tools/depends/target/brotli/01-all-disable-exe.patch
  tools/depends/target/brotli/BROTLI-VERSION
  tools/depends/target/brotli/Makefile
  tools/depends/target/curl/Makefile
  tools/depends/target/gnutls/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#25083 [videodb][videoversion] Fix Leaks on Movie / Asset Removal
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Backport: Needed, Component: Video, Component: Database, v22 "P", Feature: Video Versions/Extras

#25111 [Windows] Fix Discovery of MAC Address
  xbmc/platform/win32/network/NetworkWin32.cpp
Labels: Type: Fix, Backport: Needed, Platform: Windows, Component: Network, v22 "P"

#25099 [Video] Fix for #25097 and requested updates from #24720
  addons/resource.language.en_gb/resources/strings.po
  xbmc/application/Application.cpp
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Type: Improvement, v22 "P"

#25121 Rendering: Set window dirty only on app thread
  xbmc/application/Application.cpp
  xbmc/application/Application.h
  xbmc/application/ApplicationPowerHandling.cpp
  xbmc/windowing/osx/OpenGL/WindowControllerMacOS.mm
Labels: Type: Fix, Type: Cleanup, Backport: Done, Component: GUI rendering, Platform: macOS, v22 "P"

#25128 [FileSystem] Fix playback stop when read external SRT subtitles files
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.cpp
  xbmc/filesystem/File.cpp
  xbmc/filesystem/IFileTypes.h
Labels: Type: Fix, Backport: Done, Component: FileSystem, v22 "P"

#24508 Refactoring Texture Handling
  xbmc/guilib/CMakeLists.txt
  xbmc/guilib/Texture.cpp
  xbmc/guilib/Texture.h
  xbmc/guilib/TextureBase.cpp
  xbmc/guilib/TextureBase.h
  xbmc/guilib/TextureFormats.h
Labels: Type: Feature, Component: GUI rendering, v22 "P"

#25126 fix loading a video thumb in picture browser
  xbmc/pictures/PictureThumbLoader.cpp
Labels: Type: Fix, Backport: Done, Component: GUI rendering, v22 "P"

#25124 Add NetworkFileItemClassify
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/Util.cpp
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/cdrip/CDDARipJob.cpp
  xbmc/cores/VideoPlayer/DVDFileInfo.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDFactoryInputStream.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/paplayer/AudioDecoder.cpp
  xbmc/cores/playercorefactory/PlayerSelectionRule.cpp
  xbmc/filesystem/SourcesDirectory.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/music/MusicInfoLoader.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicNav.cpp
  xbmc/network/CMakeLists.txt
  xbmc/network/NetworkFileItemClassify.cpp
  xbmc/network/NetworkFileItemClassify.h
  xbmc/network/test/CMakeLists.txt
  xbmc/network/test/TestNetworkFileItemClassify.cpp
  xbmc/pictures/PictureInfoLoader.cpp
  xbmc/playlists/PlayListFactory.cpp
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, v22 "P"

#25095 [Scraper] Set path when scraping filename identifiers
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
Labels: Type: Fix, Backport: Needed, Component: Content, v22 "P"

#25001 [backport][GUITextLayout] Fix text wrap and justify alignment
  xbmc/guilib/GUILabelControl.dox
  xbmc/guilib/GUITextLayout.cpp
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v21 Omega

#25129 [BP][FileSystem] Fix playback stop when read external SRT subtitles files
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamFile.cpp
  xbmc/filesystem/File.cpp
  xbmc/filesystem/IFileTypes.h
Labels: Type: Fix, Type: Backport, Component: FileSystem, v21 Omega

#25149 PackerMAT: adjust log messages
  xbmc/cores/AudioEngine/Utils/PackerMAT.cpp
Labels: Type: Improvement, Component: Audio, v22 "P"

#25151 [Docs] ListItem InfoLabels Documentation Incomplete/Malformed
  xbmc/GUIInfoManager.cpp
Labels: Type: Fix, Component: Documentation, v22 "P"

#25141 [cmake] Move Windows Effect Compiler find module to buildtools
  CMakeLists.txt
  cmake/modules/FindD3DX11Effects.cmake
  cmake/modules/buildtools/FindEffectsCompiler.cmake
  cmake/platform/windows/windows.cmake
  cmake/platform/windowsstore/windowsstore.cmake
  xbmc/guilib/CMakeLists.txt
Labels: Platform: Windows, CMake, Platform: WindowsStore, v22 "P"

#25130 Bump version to 21.0.1 to allow Android install on top of Play Store version
  version.txt
Labels: Type: Fix, Platform: Android, v21 Omega

#25110 game.controller.keyboard: Update to version 1.1.43
  addons/game.controller.keyboard/addon.xml
  addons/game.controller.keyboard/resources/language/resource.language.es_es/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.it_it/strings.po
  addons/game.controller.keyboard/resources/language/resource.language.ru_ru/strings.po
Labels: Type: Improvement, Component: Add-ons, Component: Input, Component: Strings, v22 "P"

#25150 [BP][Scraper] Set path when scraping filename identifiers
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
Labels: Type: Fix, Type: Backport, Component: Content, v21 Omega

#25144 [Cmake] Move effects11 library to external library usage
  cmake/modules/FindEffects11.cmake
  cmake/platform/windows/windows.cmake
  cmake/platform/windowsstore/windowsstore.cmake
  cmake/scripts/common/Macros.cmake
  cmake/treedata/windows/externals.txt
  cmake/treedata/windowsstore/externals.txt
  lib/win32/Effects11/Binary/EffectBinaryFormat.h
  lib/win32/Effects11/Binary/EffectStateBase11.h
  lib/win32/Effects11/Binary/EffectStates11.h
  lib/win32/Effects11/Binary/SOParser.h
  lib/win32/Effects11/CMakeLists.txt
  lib/win32/Effects11/Effect.h
  lib/win32/Effects11/EffectAPI.cpp
  lib/win32/Effects11/EffectLoad.cpp
  lib/win32/Effects11/EffectLoad.h
  lib/win32/Effects11/EffectNonRuntime.cpp
  lib/win32/Effects11/EffectReflection.cpp
  lib/win32/Effects11/EffectRuntime.cpp
  lib/win32/Effects11/EffectVariable.inl
  lib/win32/Effects11/HISTORY.md
  lib/win32/Effects11/IUnknownImp.h
  lib/win32/Effects11/LICENSE
  lib/win32/Effects11/README.md
  lib/win32/Effects11/SECURITY.md
  lib/win32/Effects11/d3dxGlobal.cpp
  lib/win32/Effects11/inc/d3dx11effect.h
  lib/win32/Effects11/inc/d3dxGlobal.h
  lib/win32/Effects11/pchfx.h
  tools/depends/target/effects11/01-win-debugpostfix.patch
  tools/depends/target/effects11/EFFECTS11-VERSION
Labels: Type: Cleanup, Platform: Windows, CMake, Platform: WindowsStore, v22 "P"

#25106 fix gcc-14 compile issues
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
  xbmc/utils/Geometry.h
Labels: Type: Fix, Backport: Done, v22 "P"

#24995 [Android][gnutls] Remove fpending patch
  tools/depends/target/gnutls/Makefile
  tools/depends/target/gnutls/android-fpending.patch
Labels: Type: Cleanup, Platform: Android, Component: Depends, v22 "P"

#25163 [GUIFontTTF] Fix regressions on centered GUI text
  xbmc/guilib/GUIFontTTF.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI rendering, v22 "P"

#25147 [GUI] Move dialog settings button and control ID range
  xbmc/settings/dialogs/GUIDialogSettingsBase.h
Labels: Type: Fix, Backport: Needed, Component: GUI engine, v22 "P"

#23944 [cmake] 3.28 change exec_program to execute_process
  cmake/modules/FindSSE.cmake
Labels: Type: Improvement, CMake, v22 "P"

#25107 [backport] fix gcc-14 compile issues for Omega
  xbmc/platform/posix/filesystem/SMBWSDiscoveryListener.cpp
  xbmc/utils/Geometry.h
Labels: Type: Fix, Type: Backport, v21 Omega

#25115 [cmake] Migrate to cmake usage for curl and build for all platforms
  CMakeLists.txt
  cmake/modules/FindBrotli.cmake
  cmake/modules/FindCurl.cmake
  cmake/modules/FindNGHttp2.cmake
  cmake/modules/FindTagLib.cmake
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/Makefile
  tools/depends/target/curl/01-win-nghttp2-add-name.patch
  tools/depends/target/curl/CURL-VERSION
  tools/depends/target/curl/Makefile
Labels: Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, CMake, Platform: WindowsStore, Platform: tvOS, Platform: webOS, v22 "P"

#24875 Translations update from Kodi Weblate
  addons/audioencoder.kodi.builtin.aac/resources/language/resource.language.it_it/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.et_ee/strings.po
  addons/audioencoder.kodi.builtin.wma/resources/language/resource.language.it_it/strings.po
  addons/skin.estuary/language/resource.language.sk_sk/strings.po
Labels: Component: Strings, v22 "P"

#24989 strings.po: Grammar - chipmunk, not chipmonk
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Fix, Component: Strings, v22 "P"

#24064 [cmake] FindBluray migrate to full TARGET usage
  cmake/modules/FindBluray.cmake
Labels: CMake, v22 "P"

#25138 [backport]fix loading a video thumb in picture browser
  xbmc/pictures/PictureThumbLoader.cpp
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v21 Omega

#25120 [picture] Make picture viewer work with enabled smart redraw
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/SlideShowPicture.cpp
  xbmc/pictures/SlideShowPicture.h
Labels: Type: Fix, Component: Picture, v22 "P"

#25169 [Backport] [GUI] Move dialog settings button and control ID range
  xbmc/settings/dialogs/GUIDialogSettingsBase.h
Labels: Type: Fix, Component: GUI engine, Type: Backport, v21 Omega

#25164 Rendering: drop markwindow dirty after setrendergui change
  xbmc/application/Application.cpp
  xbmc/application/Application.h
Labels: Type: Fix, Type: Cleanup, Backport: Done, Component: GUI rendering, v22 "P"

#25172 fix typo: [cleanup] convert defines to functions
  xbmc/utils/BitstreamReader.h
Labels: Type: Fix, Backport: Needed, v22 "P"

#24700 KeymapAction Overloading fix
  system/keymaps/joystick.xml
  xbmc/input/keymaps/KeymapTypes.h
Labels: Type: Fix, Type: Improvement, Component: Input, Component: Games, v22 "P"

#25182 [Docs] Fix unescaped commas for InfoLabel and Add-on Built-in Functions.
  xbmc/GUIInfoManager.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
Labels: Type: Improvement, Component: Documentation, v22 "P"

#25159 [Estuary][guilib][PVR] Cleanup and Fixes after #24182
  addons/skin.estuary/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRClientPriorities.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/guilib/PVRGUIActionsClients.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
Labels: Type: Fix, Type: Cleanup, Component: PVR, Component: GUI engine, Component: Skin, v22 "P"

#25187 PLAYLIST::Id: convert to enum class
  xbmc/Autorun.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/PartyModeManager.cpp
  xbmc/PartyModeManager.h
  xbmc/PlayListPlayer.cpp
  xbmc/PlayListPlayer.h
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayer.cpp
  xbmc/filesystem/PlaylistDirectory.cpp
  xbmc/filesystem/SmartPlaylistDirectory.cpp
  xbmc/games/windows/GUIWindowGames.cpp
  xbmc/guilib/guiinfo/GUIInfoHelper.cpp
  xbmc/guilib/guiinfo/GUIInfoHelper.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/interfaces/builtins/AddonBuiltins.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.h
  xbmc/interfaces/json-rpc/PlaylistOperations.cpp
  xbmc/interfaces/json-rpc/PlaylistOperations.h
  xbmc/interfaces/legacy/ModuleXbmc.cpp
  xbmc/interfaces/legacy/PlayList.cpp
  xbmc/interfaces/legacy/Player.cpp
  xbmc/music/ContextMenus.cpp
  xbmc/music/GUIViewStateMusic.cpp
  xbmc/music/MusicUtils.cpp
  xbmc/music/windows/GUIWindowMusicBase.cpp
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/network/AirPlayServer.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/playlists/PlayList.cpp
  xbmc/playlists/PlayList.h
  xbmc/playlists/PlayListTypes.h
  xbmc/profiles/ProfileManager.cpp
  xbmc/settings/MediaSettings.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
  xbmc/view/GUIViewState.cpp
  xbmc/view/GUIViewState.h
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, v22 "P"

#25188 [Docs] Unescaped commas in ListItems
  xbmc/GUIInfoManager.cpp
Labels: Type: Fix, Component: Documentation, v22 "P"

#25186 [PVR] Timer settings dialog: Fix selection of current channel, …
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v22 "P"

#25190 [Omega][PVR] Timer settings dialog: Fix selection of current channel, for ex…
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25191 [PVR] Fix crash on creation of epg-based reminder rule with 'any channel'…
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v22 "P"

#25192 [Omega][PVR] Fix crash on creation of epg-based reminder rule with 'any channel'…
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25193 [cmake][modules] FindBluray correctly append rather than set compile definition
  cmake/modules/FindBluray.cmake
Labels: Type: Fix, CMake, v22 "P"

#25180 Remove kissfft
  CMakeLists.txt
  cmake/modules/FindKissFFT.cmake
  cmake/treedata/common/externals.txt
  xbmc/contrib/kissfft/CMakeLists.txt
  xbmc/contrib/kissfft/COPYING
  xbmc/contrib/kissfft/_kiss_fft_guts.h
  xbmc/contrib/kissfft/kiss_fft.c
  xbmc/contrib/kissfft/kiss_fft.h
  xbmc/contrib/kissfft/kiss_fftr.c
  xbmc/contrib/kissfft/kiss_fftr.h
  xbmc/utils/CMakeLists.txt
  xbmc/utils/rfft.cpp
  xbmc/utils/rfft.h
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/Testrfft.cpp
Labels: Type: Cleanup, Component: Depends, v22 "P"

#25185 Simplify network FileItem classifiers
  xbmc/network/NetworkFileItemClassify.cpp
  xbmc/network/NetworkFileItemClassify.h
  xbmc/network/test/TestNetworkFileItemClassify.cpp
Labels: Type: Improvement, v22 "P"

#25183 [cleanup] Use FFmpeg for AV_RBxx, AV_WBxx and AV_WLxx functions and drop 'BitstreamWriter.cpp'
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/utils/BitstreamConverter.cpp
  xbmc/utils/BitstreamReader.cpp
  xbmc/utils/BitstreamReader.h
  xbmc/utils/BitstreamWriter.cpp
  xbmc/utils/BitstreamWriter.h
  xbmc/utils/CMakeLists.txt
Labels: Type: Cleanup, v22 "P"

#25161 [Docs] Update @return for ListItem/VideoPlayer.Cast/CastAndRole
  xbmc/GUIInfoManager.cpp
Labels: Component: Documentation, v22 "P"

#25199 [cmake][modules] Relocate FindLLVM to buildtools module folder
  cmake/modules/buildtools/FindLLVM.cmake
Labels: Type: Cleanup, CMake, v22 "P"

#25170 [tools/depends][native] Bump cmake 3.29.3
  cmake/modules/FindOpenGLES.cmake
  cmake/modules/FindOpenGl.cmake
  tools/depends/native/cmake/CMAKE-VERSION
  tools/depends/native/cmake/Makefile
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 "P"

#25142 [PVR][guilib][Estuary] Guide window improvement
  addons/skin.estuary/xml/Includes_PVR.xml
  addons/skin.estuary/xml/MyPVRGuide.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Improvement, Component: PVR, Component: GUI engine, Component: Skin, v22 "P"

#25203 [PVR] Timer settings dialog: Add client name to 'Any channel' value s…
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
Labels: Type: Fix, Component: PVR, v22 "P"

#25208 PackerMAT: adjusted log line and code comment cosmetics
  xbmc/cores/AudioEngine/Utils/PackerMAT.cpp
Labels: Type: Improvement, v22 "P"

#25156 [Omega] Fix loading ISO files on Android arm-v7a
  cmake/scripts/android/ArchSetup.cmake
Labels: Type: Fix, Platform: Android, Component: FileSystem, v21 Omega

#25198 [Video] Fix Episode NFO parsing error (introduced in #24565)
  xbmc/NfoFile.cpp
Labels: Type: Fix, Backport: Needed, v22 "P"

#25168 [backport][GUIFontTTF] Fix regressions on centered GUI text
  xbmc/guilib/GUIFontTTF.cpp
Labels: Type: Fix, Component: GUI rendering, Type: Backport, v21 Omega

#25215 [GUI] Fix network link status in system info
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Type: Fix, Backport: Done, v22 "P"

#25175 Joysticks: Fix mapping PS4 trigger analog semiaxes
  xbmc/input/joysticks/generic/ButtonMapping.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, v22 "P"

#25220 [backport][GUI] Fix network link status in system info
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
Labels: Type: Fix, Type: Backport, v21 Omega

#25181 [bp] fix typo: [cleanup] convert defines to functions
  xbmc/utils/BitstreamReader.h
Labels: Type: Fix, Type: Backport, v21 Omega

#25197 [Cmake][modules] Cleanup and utilisation of new function to link libraries
  CMakeLists.txt
  cmake/modules/FindASS.cmake
  cmake/modules/FindAcbAPI.cmake
  cmake/modules/FindAlsa.cmake
  cmake/modules/FindAvahi.cmake
  cmake/modules/FindBluetooth.cmake
  cmake/modules/FindCAP.cmake
  cmake/modules/FindCEC.cmake
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindCurl.cmake
  cmake/modules/FindDBus.cmake
  cmake/modules/FindDetours.cmake
  cmake/modules/FindEGL.cmake
  cmake/modules/FindEffects11.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFreeType.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindGBM.cmake
  cmake/modules/FindHarfBuzz.cmake
  cmake/modules/FindIconv.cmake
  cmake/modules/FindLCMS2.cmake
  cmake/modules/FindLibAndroidJNI.cmake
  cmake/modules/FindLibDRM.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindLibZip.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/scripts/common/Macros.cmake
  cmake/scripts/linux/ExtraTargets.cmake
  cmake/scripts/linux/Install.cmake
  tools/EventClients/Clients/WiiRemote/CMakeLists.txt
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/RetroPlayer/buffers/CMakeLists.txt
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/CMakeLists.txt
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/CMakeLists.txt
  xbmc/peripherals/bus/virtual/CMakeLists.txt
  xbmc/peripherals/devices/CMakeLists.txt
  xbmc/platform/freebsd/CMakeLists.txt
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/network/zeroconf/CMakeLists.txt
  xbmc/platform/linux/peripherals/CMakeLists.txt
  xbmc/platform/linux/powermanagement/CMakeLists.txt
  xbmc/platform/linux/storage/CMakeLists.txt
  xbmc/utils/CMakeLists.txt
  xbmc/windowing/linux/CMakeLists.txt
  xbmc/windowing/wayland/CMakeLists.txt
Labels: CMake, v22 "P"

#25229 ActiveAE: compensate error for TrueHD passthrough
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
Labels: Type: Fix, Type: Improvement, Component: Audio, v22 "P"

#25230 [cmake] fixup: need to INTERFACE_LINK_LIBRARIES kodi::AvahiCommon
  cmake/modules/FindAvahi.cmake
Labels: Type: Fix, CMake, v22 "P"

#25211 [cmake] do not use distutils in cmake scripts
  cmake/scripts/linux/Install.cmake
Labels: Type: Fix, Backport: Needed, Platform: Linux, CMake, v22 "P"

#25135 [wayland] Treat monitor physical width/height of 0 as invalid
  xbmc/windowing/wayland/Output.cpp
Labels: Type: Fix, Backport: Needed, Component: GUI rendering, Platform: Linux, v22 "P"

#25235 [backport][wayland] Treat monitor physical width/height of 0 as invalid
  xbmc/windowing/wayland/Output.cpp
Labels: Platform: Linux, Type: Backport, Component: Windowing, v21 Omega

#25233 VideoPlayerAudio: limit max allowed Out-Of-Sync for "self-learning" to 80 ms
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Backport: Done, Component: Audio, v22 "P"

#25238 [BP] Fix rare random audio dropouts in some TrueHD sources (passthrough)
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
Labels: Type: Fix, Component: Audio, Type: Backport, v21 Omega

#25246 [Android] Unnecessary level check to use CRYPTO_MODE_AES_CBC
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Cleanup, Platform: Android, v22 "P"

#25248 [Input] Fix Persian keyboard layout
  system/keyboardlayouts/persian.xml
Labels: Type: Fix, Backport: Done, Component: Input, v22 "P"

#25201 [Backport][Video] Fix Episode NFO parsing error (introduced in #24565).
  xbmc/NfoFile.cpp
Labels: Type: Fix, Type: Backport, v21 Omega

#25247 FileCache: fix unnecessary use of StreamBuffer when is used FileCache
  xbmc/filesystem/FileCache.cpp
Labels: Type: Fix, Backport: Done, Component: FileSystem, v22 "P"

#25251 [BP] FileCache: fix unnecessary use of StreamBuffer when is used FileCache
  xbmc/filesystem/FileCache.cpp
Labels: Type: Fix, Type: Backport, Component: FileSystem, v21 Omega

#25253 [addons] Migrate AddonInfoBuilder to tinyxml2 usage
  xbmc/addons/AddonManager.cpp
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/addons/addoninfo/AddonInfoBuilder.h
  xbmc/addons/test/TestAddonInfoBuilder.cpp
Labels: Type: Improvement, Component: Add-ons, v22 "P"

#25255 [storage] MediaManager migrate to tinyxml2 and cleanups
  xbmc/addons/Repository.cpp
  xbmc/cores/playercorefactory/PlayerCoreFactory.h
  xbmc/storage/MediaManager.cpp
Labels: Type: Improvement, v22 "P"

#25261 [Utils] Fanart migrate to tinyxml2
  xbmc/utils/Fanart.cpp
Labels: Type: Improvement, v22 "P"

#25264 VideoPlayerAudio: simplifies max Out-Of-Sync (maxpassthroughoffsyncduration) setting
  xbmc/cores/VideoPlayer/VideoPlayerAudio.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudio.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Component: Video, Component: Audio, v22 "P"

#25256 [Audio] TrueHD rework - moves MAT packing to DVDAudioCodecPassthrough
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESink.h
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.cpp
  xbmc/cores/AudioEngine/Utils/AEBitstreamPacker.h
  xbmc/cores/AudioEngine/Utils/PackerMAT.cpp
  xbmc/cores/AudioEngine/Utils/PackerMAT.h
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.h
  xbmc/cores/paplayer/PAPlayer.cpp
Labels: Type: Improvement, Component: Audio, v22 "P"

#25266 [PVR] CPVRChannelGroupFromClient::UpdateFromClients: Update from own…
  xbmc/pvr/channels/PVRChannelGroupFromClient.cpp
Labels: Type: Fix, Component: PVR, Backport: Done, v22 "P"

#25271 [Omega][PVR] CPVRChannelGroupFromClient::UpdateFromClients: Update from own …
  xbmc/pvr/channels/PVRChannelGroupFromClient.cpp
Labels: Type: Fix, Component: PVR, Type: Backport, v21 Omega

#25245 RenderSystemGL/GLES: Handle `glGetString(GL_VERSION)` returning a null pointer
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
Labels: Type: Fix, Component: GL rendering, Component: GLES rendering, v22 "P"

#25225 [Backport] [Joysticks] Fix mapping PS4 trigger analog semiaxes
  xbmc/input/joysticks/generic/ButtonMapping.cpp
Labels: Type: Fix, Component: Input, Type: Backport, v21 Omega

#25267 Assorted tinyxml related cleanups
  xbmc/addons/IAddon.h
  xbmc/addons/Skin.h
  xbmc/addons/addoninfo/AddonType.h
  xbmc/addons/gui/skin/SkinTimer.h
  xbmc/application/Application.cpp
  xbmc/application/ApplicationSettingsHandling.h
  xbmc/cores/ExternalPlayer/ExternalPlayer.h
  xbmc/filesystem/LibraryDirectory.h
  xbmc/guilib/GUIBaseContainer.h
  xbmc/guilib/GUIControlFactory.h
  xbmc/guilib/GUIListItemLayout.h
  xbmc/guilib/GUIWindow.h
  xbmc/guilib/listproviders/MultiProvider.h
  xbmc/guilib/listproviders/StaticProvider.h
  xbmc/music/Album.h
  xbmc/music/Artist.h
  xbmc/music/MusicDatabase.h
  xbmc/network/NetworkServices.h
  xbmc/profiles/ProfileManager.h
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/settings/SettingAddon.h
  xbmc/settings/SettingControl.h
  xbmc/settings/SettingPath.h
  xbmc/settings/Settings.h
  xbmc/settings/lib/Setting.h
  xbmc/settings/lib/SettingConditions.h
  xbmc/settings/lib/SettingDependency.h
  xbmc/settings/lib/SettingSection.h
  xbmc/utils/BooleanLogic.h
  xbmc/utils/SystemInfo.h
  xbmc/video/VideoDatabase.h
  xbmc/windows/GUIMediaWindow.h
Labels: Type: Improvement, v22 "P"

#25260 [filesystem] RSSDirectory migrate to tinyxml2
  xbmc/filesystem/RSSDirectory.cpp
Labels: Type: Improvement, v22 "P"

#25249 [Backport][Input] Fix Persian keyboard layout
  system/keyboardlayouts/persian.xml
Labels: Type: Fix, Component: Input, Type: Backport, v21 Omega

#25265 [PlayLists] Migrate most playlist implementations to tinyxml2
  cmake/installdata/test-reference-data.txt
  xbmc/playlists/CMakeLists.txt
  xbmc/playlists/PlayListASX.cpp
  xbmc/playlists/PlayListASX.h
  xbmc/playlists/PlayListB4S.cpp
  xbmc/playlists/PlayListFactory.cpp
  xbmc/playlists/PlayListPLS.cpp
  xbmc/playlists/PlayListPLS.h
  xbmc/playlists/PlayListRAM.cpp
  xbmc/playlists/PlayListRAM.h
  xbmc/playlists/PlayListWPL.cpp
  xbmc/playlists/PlayListXML.cpp
  xbmc/playlists/PlayListXSPF.cpp
  xbmc/playlists/test/CMakeLists.txt
  xbmc/playlists/test/TestPlayListASX.cpp
  xbmc/playlists/test/TestPlayListWPL.cpp
  xbmc/playlists/test/TestPlayListXML.cpp
  xbmc/playlists/test/test.asx
  xbmc/playlists/test/test.pxml
  xbmc/playlists/test/test.wpl
Labels: Type: Improvement, v22 "P"

#25258 [Estuary] Fix watched icons for episodes & sets
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Backport: Needed, Component: Skin, v22 "P"

#25272 Fix rx6400 detection
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/rendering/dx/DeviceResources.cpp
  xbmc/rendering/dx/DeviceResources.h
Labels: Type: Fix, Platform: Windows, Component: DirectX rendering, v22 "P"

#25282 ActiveAE: remove special latency case for TrueHD
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAE.cpp
Labels: Type: Improvement, Component: Audio, v22 "P"

#25280 [settings] Fix empty heading of input dialogs (keyboard, number, ...)…
  xbmc/settings/windows/GUIControlSettings.cpp
Labels: Type: Fix, Backport: Done, Component: Settings, v22 "P"

#25283 [Omega][settings] Fix empty heading of input dialogs (keyboard, number, ...)…
  xbmc/settings/windows/GUIControlSettings.cpp
Labels: Type: Fix, Component: Settings, Type: Backport, v21 Omega

#24564 GL: improve HQ scaler quality/performance
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  system/shaders/GL/1.5/gl_convolution-4x4.glsl
  system/shaders/GL/1.5/gl_convolution-6x6.glsl
  system/shaders/GL/1.5/gl_yuv2rgb_basic.glsl
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/YUV2RGBShaderGL.h
  xbmc/settings/Settings.h
Labels: Type: Improvement, Component: Video rendering, v22 "P"

#25276 [video] VideoSelectActionProcessor: On ACTION_INFO, if the item has …
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/guilib/VideoGUIUtils.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Backport: Done, Component: Video, v22 "P"

#25287 [Omega][video] VideoSelectActionProcessor: On ACTION_INFO, if the item has n…
  xbmc/video/VideoUtils.cpp
  xbmc/video/VideoUtils.h
  xbmc/video/guilib/VideoSelectActionProcessor.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v21 Omega

#25285 [PVR] Add support for 'any channel from any client' to epg-based reminder rules
  addons/resource.language.en_gb/resources/strings.po
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.h
  xbmc/pvr/timers/PVRTimerRuleMatcher.cpp
  xbmc/pvr/timers/PVRTimers.cpp
Labels: Type: Improvement, Component: PVR, v22 "P"
