Repository xbmc/xbmc, pull requests merged in 2024-01, with the labels that each got.

#24328 langinfo.xml: Change Canadian shortdate format to YYYY-MM-DD
  addons/resource.language.en_gb/resources/langinfo.xml
Labels: Type: Fix, v21 Omega

#24307 [Pictures addons] support Date Taken sort for pics decoded via addons
  xbmc/addons/ImageDecoder.cpp
Labels: Type: Fix, Component: Picture, v21 Omega

#24380 [BP]Bump Android SDK 33 + Gradle
  cmake/platform/android/android.cmake
  docs/README.Android.md
  tools/android/packaging/build.gradle
  tools/android/packaging/gradle/wrapper/gradle-wrapper.properties
  tools/android/packaging/xbmc/AndroidManifest.xml.in
  tools/android/packaging/xbmc/build.gradle.in
Labels: Platform: Android, Type: Backport, v20 Nexus

#24364 [Video] Redesign of the "Add version" dialog of Manage versions
  addons/resource.language.en_gb/resources/strings.po
  xbmc/dialogs/GUIDialogYesNo.cpp
  xbmc/dialogs/GUIDialogYesNo.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoManagerTypes.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24376 [UPnP] Renderer: use app messenger instead of calling into g_App
  xbmc/network/upnp/UPnPRenderer.cpp
Labels: Type: Improvement, Component: UPnP, v21 Omega

#24387 [video] Fix/cleanup: We never want to obtain all video versions and all extras at the same time.
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24389 [video] Movies window: Movies/Versions node: Context menu fixes
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24388 [MUSIC] Only drop music db triggers on clean if they exist
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Backport: Needed, Component: Music, Component: Database, v21 Omega

#24399 [MUSIC] Only drop sql triggers on cleaning if they exist
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Component: Music, Component: Database, Type: Backport, v20 Nexus

#24386 [VIDEO] Prefer nfo streamdetails over file details where possible
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, Wiki: Needed, Backport: Needed, Component: Video, v21 Omega

#24394 [Video] Add a shortcut to the video dir in the Add version/extra file browsers
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24382 [Games] Filter out "virtual" Android joysticks
  xbmc/games/agents/GameAgentManager.cpp
Labels: Type: Fix, Backport: Needed, Platform: Android, Component: Input, Component: Games, v21 Omega

#24405 [fix build on linux] forward declare CMediaSource in GUIDialogVideoMa…
  xbmc/video/dialogs/GUIDialogVideoManager.h
Labels: Type: Fix, Component: Build, v21 Omega

#24381 Format my CODEOWNERS code with clang-format-14
  xbmc/addons/kodi-dev-kit/include/kodi/tools/StringUtils.h
  xbmc/addons/kodi-dev-kit/include/kodi/tools/Thread.h
  xbmc/cores/RetroPlayer/buffers/RenderBufferManager.cpp
  xbmc/cores/RetroPlayer/playback/ReversiblePlayback.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/games/GameUtils.cpp
  xbmc/games/agents/GameAgentManager.cpp
  xbmc/games/controllers/dialogs/GUIDialogAxisDetection.cpp
  xbmc/games/controllers/dialogs/GUIDialogIgnoreInput.cpp
  xbmc/games/controllers/types/ControllerGrid.cpp
  xbmc/games/controllers/types/ControllerHub.cpp
  xbmc/games/controllers/types/ControllerNode.cpp
  xbmc/games/controllers/windows/GUIControllerList.cpp
  xbmc/games/ports/input/PortManager.cpp
  xbmc/games/ports/types/PortNode.cpp
  xbmc/games/ports/windows/GUIPortList.cpp
  xbmc/input/InputManager.cpp
  xbmc/input/WindowTranslator.cpp
  xbmc/input/joysticks/keymaps/KeyHandler.cpp
  xbmc/input/joysticks/keymaps/KeymapHandling.cpp
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/addons/PeripheralAddon.cpp
  xbmc/peripherals/addons/PeripheralAddonTranslator.cpp
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.cpp
  xbmc/peripherals/devices/PeripheralJoystick.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.cpp
  xbmc/platform/android/peripherals/AndroidJoystickState.h
  xbmc/platform/android/peripherals/AndroidJoystickTranslator.cpp
  xbmc/platform/android/peripherals/AndroidJoystickTranslator.h
  xbmc/platform/android/peripherals/PeripheralBusAndroid.cpp
  xbmc/platform/android/peripherals/PeripheralBusAndroid.h
Labels: Type: Improvement, Component: Add-ons, Platform: Android, Component: Input, Component: Games, v21 Omega

#24400 [Playlists] Rename song methods to generic item index
  xbmc/PartyModeManager.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/PlayListPlayer.h
  xbmc/application/Application.cpp
  xbmc/guilib/guiinfo/GUIInfoHelper.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/PlaylistOperations.cpp
  xbmc/interfaces/legacy/PlayList.cpp
  xbmc/interfaces/legacy/Player.cpp
  xbmc/messaging/ApplicationMessenger.h
  xbmc/music/MusicUtils.cpp
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/platform/darwin/ios-common/AnnounceReceiver.mm
  xbmc/video/VideoUtils.cpp
  xbmc/video/windows/GUIWindowVideoPlaylist.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Improvement, Component: Players, v21 Omega

#24397 [UPnP] Remove dependency on AppVolumeHandling
  xbmc/application/Application.cpp
  xbmc/messaging/ApplicationMessenger.h
  xbmc/network/upnp/UPnPRenderer.cpp
Labels: Type: Improvement, Component: UPnP, v21 Omega

#24286 [Estuary] Video Versions Dialog Redesign
  addons/skin.estuary/xml/DialogSelect.xml
  addons/skin.estuary/xml/DialogVideoManager.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Improvement, Component: Skin, v21 Omega, Feature: Video Versions/Extras

#24408 remove inclusion of MediaSource.h in GUIDialogVideoInfo.h
  xbmc/video/dialogs/GUIDialogVideoInfo.h
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24176 [GUIWindowVideoBase] Library thumbnail not updated
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Fix, Component: Video, Component: GUI rendering, v21 Omega

#24412 [Pictures] Better control of play/stop annoucements
  xbmc/pictures/GUIWindowPictures.cpp
  xbmc/pictures/GUIWindowSlideShow.cpp
  xbmc/pictures/GUIWindowSlideShow.h
  xbmc/pictures/SlideShowDelegator.cpp
  xbmc/pictures/SlideShowDelegator.h
  xbmc/pictures/interfaces/ISlideShowDelegate.h
Labels: Type: Improvement, Component: Picture, v21 Omega

#24415 [video] Fix disappearing artwork on end of multi-version movie playback.
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24423 [Estuary] Update DefaultVideoVersions.png
  addons/skin.estuary/media/DefaultVideoVersions.png
Labels: Type: Improvement, Component: Skin, v21 Omega

#24416 [Estuary] Fix duplicate music flags
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/MyMusicNav.xml
Labels: Type: Fix, Component: Skin, v21 Omega

#24413 [UPnP] Fix OnSetAVTransportURI
  xbmc/network/upnp/UPnPRenderer.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24414 [UPnP] Renderer: Avoid calling into the main thread for playlist play…
  xbmc/network/upnp/UPnPRenderer.cpp
Labels: Type: Improvement, Component: UPnP, v21 Omega

#24418 [UPnP] Renderer: Remove dependency on ApplicationPlayer
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/network/upnp/UPnPRenderer.h
Labels: Type: Improvement, Component: UPnP, v21 Omega

#24434 [videodb] Move the extras of a movie converted to a version
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Video, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24419 [video] Refresh library list after changes in Info > Manage versions
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
  xbmc/video/dialogs/GUIDialogVideoManager.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24384 [Peripherals] Fix missing controller icon in Peripheral Dialog
  xbmc/peripherals/bus/PeripheralBus.cpp
Labels: Type: Fix, Backport: Done, Platform: Android, Component: Input, v21 Omega

#24432 [Android] Enable logging of debug messages even if disabled system-wide (e.g. Fire TV)
  xbmc/platform/android/utils/AndroidInterfaceForCLog.cpp
Labels: Type: Improvement, Platform: Android, Component: Logging, v21 Omega

#24392 Peripheral API v3.0.2: Stable peripheral locations
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/peripheral/PeripheralUtils.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
Labels: Type: Improvement, Component: Binary add-ons, Component: Input, Component: Games, API change: Binary add-ons, v21 Omega

#24403 [Backport] Filter out "virtual" Android joysticks
  xbmc/games/agents/GameAgentManager.cpp
Labels: Type: Fix, Platform: Android, Component: Input, Type: Backport, Component: Games, v20 Nexus

#24404 [Backport] Fix missing controller icon in Peripheral Dialog
  xbmc/peripherals/bus/PeripheralBus.cpp
Labels: Type: Fix, Platform: Android, Component: Input, Type: Backport, v20 Nexus

#24430 [video][Estuary] Video Versions: Improvements and Fixes
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/MyVideoNav.xml
  xbmc/FileItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Type: Cleanup, Type: Improvement, Component: Video, Component: GUI engine, Component: Skin, v21 Omega, Feature: Video Versions/Extras

#24417 [Posix][Filesystem] Fixed SMB logging
  xbmc/platform/posix/filesystem/SMBFile.cpp
Labels: Type: Fix, Component: FileSystem, v21 Omega

#24447 [BP][CImageFile] Fix texture cache handling
  xbmc/TextureCache.cpp
  xbmc/filesystem/ImageFile.cpp
Labels: Type: Backport, v20 Nexus

#24407 [tools/depends][target] Bump freetyppe 2.13.2
  tools/depends/target/freetype2-noharfbuzz/FREETYPE2-NOHARFBUZZ-VERSION
  tools/depends/target/freetype2/FREETYPE2-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, v21 Omega, Platform: webOS

#24438 [UPnP] Translate object id when marked as watched
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24443 [video] CVideoDatabase::GetVideoVersionsNav cleanup after c84fdfa0971…
  xbmc/video/VideoDatabase.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24444 [video] Remove item 'New version...' from node 'Movies/Versions'. …
  addons/resource.language.en_gb/resources/strings.po
  xbmc/ContextMenus.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24445 [video] Video Versions: Remove more dead code
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
  xbmc/video/windows/GUIWindowVideoNav.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24450 [UPnP] Fix broadcast of item updates
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Fix, Component: UPnP, v21 Omega

#24452 [UPnP] Clang-format main files
  xbmc/network/upnp/UPnP.cpp
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPRenderer.cpp
  xbmc/network/upnp/UPnPServer.cpp
Labels: Type: Cleanup, Component: UPnP, v21 Omega

#24451 [video] Video versions: Fix certain default select action handling scenarios
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24454 [guilib] Kill CGUIListItemLayoutPtr typedef
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/GUIListItem.cpp
  xbmc/guilib/GUIListItem.h
Labels: Type: Cleanup, Component: GUI engine, v21 Omega

#24310 Update Kodi Icon for Linux packaging
  tools/Linux/packaging/media/icon128x128.png
  tools/Linux/packaging/media/icon16x16.png
  tools/Linux/packaging/media/icon22x22.png
  tools/Linux/packaging/media/icon24x24.png
  tools/Linux/packaging/media/icon256x256.png
  tools/Linux/packaging/media/icon32x32.png
  tools/Linux/packaging/media/icon48x48.png
  tools/Linux/packaging/media/icon64x64.png
Labels: Backport: Needed, v21 Omega

#24402 Players: Always reset CDataCacheCore on close file
  xbmc/cores/DataCacheCore.cpp
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/cores/RetroPlayer/RetroPlayer.cpp
  xbmc/cores/RetroPlayer/process/RPProcessInfo.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/paplayer/PAPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.cpp
Labels: Type: Improvement, Component: Players, v21 Omega

#24461 [guilib][utils] Set IsPlayable false on add items
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Improvement, Component: Music, Component: Video, v21 Omega

#24463 [gui] Move listproviders to guilib
  addons/resource.language.en_gb/resources/strings.po
  cmake/treedata/common/subdirs.txt
  xbmc/games/controllers/listproviders/GUIGameControllerProvider.h
  xbmc/guilib/GUIBaseContainer.cpp
  xbmc/guilib/listproviders/CMakeLists.txt
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/guilib/listproviders/DirectoryProvider.h
  xbmc/guilib/listproviders/IListProvider.cpp
  xbmc/guilib/listproviders/IListProvider.h
  xbmc/guilib/listproviders/MultiProvider.cpp
  xbmc/guilib/listproviders/MultiProvider.h
  xbmc/guilib/listproviders/StaticProvider.cpp
  xbmc/guilib/listproviders/StaticProvider.h
  xbmc/interfaces/legacy/Control.cpp
Labels: Type: Improvement, Component: GUI engine, v21 Omega

#24464 [FileItem][video] Remove dead code (we no longer have any videoversion items…
  xbmc/FileItem.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/guilib/VideoVersionHelper.h
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24457 [video] Detect similar movies when scanning movies with nfo files
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24456 [guillib][estuary] Make the existence of extras visible in the library
  addons/skin.estuary/media/overlays/extras.png
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Type: Improvement, Component: GUI engine, API change: GUI, Component: Skin, v21 Omega, Feature: Video Versions/Extras

#24462 [video] Fix video versions folder navigation.
  xbmc/video/VideoDatabase.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24460 Update Kodi Icon
  tools/Linux/packaging/media/icon128x128.png
  tools/Linux/packaging/media/icon16x16.png
  tools/Linux/packaging/media/icon22x22.png
  tools/Linux/packaging/media/icon24x24.png
  tools/Linux/packaging/media/icon256x256.png
  tools/Linux/packaging/media/icon32x32.png
  tools/Linux/packaging/media/icon48x48.png
  tools/Linux/packaging/media/icon64x64.png
Labels: Type: Backport, v20 Nexus

#24473 [video] CVideoInfoTag::Reset(): Set m_isDefaultVideoVersion to false,…
  xbmc/video/VideoInfoTag.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24469 [videodb] fix miss in field renaming of PR#24370
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24470 [Nexus] 20.3
  media/splash.jpg
  tools/Linux/kodi.metainfo.xml.in
  version.txt
Labels: v20 Nexus

#24475 [Estuary][video] Refactor video versions select dialog to use movie items
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/guilib/VideoVersionHelper.cpp
Labels: Type: Cleanup, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24477 [video] Adjust the validations and messages in add version/extra
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoManagerTypes.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24436 [clang-tidy] fix modernize-* and performance-* warnings
  xbmc/filesystem/Directory.cpp
  xbmc/filesystem/Directory.h
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/network/upnp/UPnPPlayer.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
Labels: Type: Fix, v21 Omega

#24487 [video] Refresh library list after the addition of extras in Info > Manage extras
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.h
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerExtras.h
Labels: Type: Improvement, Component: Video, Component: GUI engine, v21 Omega, Feature: Video Versions/Extras

#24411 [cppcheck] fix performance checks
  xbmc/FileItem.cpp
  xbmc/cores/ExternalPlayer/ExternalPlayer.cpp
  xbmc/cores/VideoPlayer/DVDStreamInfo.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/webvtt/WebVTTHandler.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/test/TestConversionMatrix.cpp
  xbmc/filesystem/StackDirectory.cpp
  xbmc/guilib/GUIComponent.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/network/EventClient.h
  xbmc/network/upnp/UPnPPlayer.cpp
  xbmc/platform/linux/input/LibInputKeyboard.cpp
  xbmc/settings/MediaSourceSettings.cpp
  xbmc/utils/Geometry.h
  xbmc/utils/test/TestXBMCTinyXML2.cpp
  xbmc/video/windows/GUIWindowFullScreen.cpp
  xbmc/windowing/WinSystem.cpp
  xbmc/windowing/WinSystem.h
Labels: Type: Fix, v21 Omega

#24484 [Android] Fix audio engine initialisation on startup
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Type: Fix, Platform: Android, Component: Audio, v21 Omega

#24491 AndroidMediaCodec: Retry VC1 as mime type is confusing vendors
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, Platform: Android, v21 Omega

#24499 [video] Change the name of the Manage Versions/Extras dialog
  addons/resource.language.en_gb/resources/strings.po
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24482 [Estuary] Fix hasvideextras overlay for views
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_53_Shift.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Type: Improvement, Component: Skin, v21 Omega, Feature: Video Versions/Extras

#24515 [Android] ABI check removal
  tools/android/packaging/xbmc/src/Splash.java.in
Labels: Type: Fix, Backport: Needed, Platform: Android, v21 Omega

#24509 [video] Fix watched overlay image of parent movie item
  xbmc/FileItem.cpp
  xbmc/guilib/GUIListItem.cpp
  xbmc/guilib/GUIListItem.h
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/utils/GroupUtils.cpp
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, Component: GUI engine, v21 Omega, Feature: Video Versions/Extras

#24504 [FileSystem] Refactored and improved logic to use CFileStreamBuffer
  xbmc/filesystem/File.cpp
  xbmc/filesystem/File.h
Labels: Type: Fix, Type: Improvement, Component: FileSystem, v21 Omega

#24520 added: enable .avif image support in ffmpeg image
  xbmc/guilib/FFmpegImage.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Feature, Type: Improvement, Component: Picture, v21 Omega

#24516 AndroidMediaCodec: Retry VC1 fix
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
Labels: Type: Fix, Component: Video, v21 Omega

#24406 [Player Viewer] Three improvements
  addons/skin.estuary/xml/Includes_Games.xml
  cmake/treedata/common/games.txt
  xbmc/cores/RetroPlayer/RetroPlayerInput.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/games/GameServices.cpp
  xbmc/games/GameServices.h
  xbmc/games/agents/CMakeLists.txt
  xbmc/games/agents/input/AgentController.cpp
  xbmc/games/agents/input/AgentController.h
  xbmc/games/agents/input/AgentInput.cpp
  xbmc/games/agents/input/AgentInput.h
  xbmc/games/agents/input/AgentJoystick.cpp
  xbmc/games/agents/input/AgentJoystick.h
  xbmc/games/agents/input/CMakeLists.txt
  xbmc/games/agents/windows/CMakeLists.txt
  xbmc/games/agents/windows/GUIAgentControllerList.cpp
  xbmc/games/agents/windows/GUIAgentControllerList.h
  xbmc/games/agents/windows/GUIAgentDefines.h
  xbmc/games/agents/windows/GUIAgentWindow.cpp
  xbmc/games/agents/windows/GUIAgentWindow.h
  xbmc/games/agents/windows/IAgentControllerList.h
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
  xbmc/games/controllers/guicontrols/GUIGameControllerList.cpp
  xbmc/games/controllers/guicontrols/GUIGameControllerList.h
  xbmc/utils/Observer.h
Labels: Type: Fix, Type: Improvement, Component: Input, Component: Games, v21 Omega

#24519 [Android] ABI check removal: xbmc.properties file
  tools/android/packaging/Makefile.in
Labels: Type: Cleanup, Platform: Android, v21 Omega

#24522 [Datacachecore] Initiallize SStateInfo with sane values
  xbmc/cores/DataCacheCore.h
Labels: Type: Fix, Component: Players, v21 Omega

#24534 [Windows] AESinkWASAPI: improve fallback when is not supported exact output channel layout
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
Labels: Type: Fix, Type: Improvement, Platform: Windows, Component: Audio, v21 Omega

#24480 [Nexus] Fix Playstore obb failure + bump 20.3.2
  cmake/scripts/android/Install.cmake
  tools/android/packaging/Makefile.in
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/buildsteps/android-arm64-v8a/package
  tools/buildsteps/android-x86_64/package
  tools/buildsteps/android/package
  tools/buildsteps/androidx86/package
  version.txt
Labels: v20 Nexus

#24528 [PVR] "Play EPG Tags as Movies"
  addons/resource.language.en_gb/resources/strings.po
  system/settings/settings.xml
  xbmc/application/Application.cpp
  xbmc/pvr/PVRContextMenus.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/PVRPlaybackState.h
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
  xbmc/pvr/guilib/PVRGUIActionsPlayback.h
  xbmc/settings/Settings.h
Labels: Type: Improvement, Component: PVR, v21 Omega

#24543 [ContextMenus] Don't populate python context items if browsing sub-menus
  xbmc/ContextMenuItem.cpp
  xbmc/ContextMenuItem.h
  xbmc/ContextMenuManager.cpp
Labels: Type: Fix, Component: GUI engine, Component: Add-ons, Component: Python, v21 Omega

#24363 AESinkPipewire: Set Samplerate for the node
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
Labels: Type: Fix, Component: Audio, v21 Omega

#24541 [tvOS] fix assigning bundle ID to the generated frameworks
  tools/darwin/Support/copyframeworks-dylibs2frameworks.command
Labels: Type: Fix, Backport: Done, Platform: tvOS, Component: Build, v21 Omega

#24540 [backport][tvOS] fix assigning bundle ID to the generated frameworks
  tools/darwin/Support/copyframeworks-dylibs2frameworks.command
Labels: Type: Backport, Platform: tvOS, Component: Build, v20 Nexus

#24527 [video] rework dimensions
  xbmc/utils/StreamDetails.cpp
Labels: Type: Improvement, Component: Video, v21 Omega

#24505 [VideoDB] restore compatibility with MariaDB < 10.5.2
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24553 AESinkAudioTrack: Allow multi-channel float for new devices
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Wiki: Done, Platform: Android, Component: Audio, v21 Omega

#24554 AudioTrack: Simplify Channel selection
  xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp
Labels: Type: Fix, Platform: Android, Component: Audio, v21 Omega

#24556 MacOS: add missing key mappings
  xbmc/windowing/osx/WinEventsOSXImpl.mm
Labels: Type: Fix, Platform: macOS, v21 Omega

#24538 [video] Change Versions Art Handling
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/dialogs/GUIDialogVideoManager.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, Component: Database, v21 Omega, Feature: Video Versions/Extras

#24512 [Input] Default buttonmaps for keyboard and mouse
  cmake/treedata/common/tests.txt
  xbmc/games/controllers/input/CMakeLists.txt
  xbmc/games/controllers/input/DefaultButtonMap.cpp
  xbmc/games/controllers/input/DefaultButtonMap.h
  xbmc/games/controllers/input/DefaultKeyboardTranslator.cpp
  xbmc/games/controllers/input/DefaultKeyboardTranslator.h
  xbmc/games/controllers/input/DefaultMouseTranslator.cpp
  xbmc/games/controllers/input/DefaultMouseTranslator.h
  xbmc/games/controllers/input/test/CMakeLists.txt
  xbmc/games/controllers/input/test/TestDefaultKeyboardTranslator.cpp
  xbmc/games/controllers/input/test/TestDefaultMouseTranslator.cpp
  xbmc/input/keyboard/generic/CMakeLists.txt
  xbmc/input/keyboard/generic/DefaultKeyboardHandling.cpp
  xbmc/input/keyboard/generic/DefaultKeyboardHandling.h
  xbmc/input/mouse/generic/CMakeLists.txt
  xbmc/input/mouse/generic/DefaultMouseHandling.cpp
  xbmc/input/mouse/generic/DefaultMouseHandling.h
  xbmc/peripherals/devices/Peripheral.cpp
Labels: Type: Fix, Type: Improvement, Component: Input, v21 Omega

#24531 Fix the scourge of game add-on build failures
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Fix, v21 Omega

#24563 Revert "[guilib][utils] Set IsPlayable false on add items"
  xbmc/music/MusicUtils.cpp
  xbmc/video/VideoUtils.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIWindowFileManager.cpp
Labels: Type: Fix, Component: GUI engine, v21 Omega

#24513 [Joysticks] Fix broken focus on emulated analog stick
  xbmc/input/joysticks/generic/FeatureHandling.cpp
Labels: Type: Fix, Component: Input, v21 Omega

#24518 Game API v3.0.2: Mouse/keyboard addressing
  cmake/treedata/common/tests.txt
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/Game.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/game.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/games/addons/input/GameClientKeyboard.cpp
  xbmc/games/addons/input/GameClientMouse.cpp
  xbmc/games/addons/input/GameClientTopology.cpp
  xbmc/games/addons/input/test/CMakeLists.txt
  xbmc/games/addons/input/test/TestGameClientTopology.cpp
Labels: Type: Improvement, Component: Input, Component: Games, API change: Binary add-ons, v21 Omega

#24562 [Backport] Fix the scourge of game add-on build failures
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Backport, v20 Nexus

#24561 [backport][Android] ABI check removal
  tools/android/packaging/Makefile.in
  tools/android/packaging/xbmc/src/Splash.java.in
Labels: Type: Fix, Platform: Android, Type: Backport, v20 Nexus

#24551 [tools/depends] Fix android pycryptodome package, Bump rustup 1.75.0
  tools/android/packaging/Makefile.in
  tools/depends/native/rustup/Makefile
Labels: Platform: Android, Component: Depends, v21 Omega

#24523 EGLUtils: Fix nullptr usage in EglErrorCallback
  xbmc/utils/EGLUtils.cpp
Labels: Type: Fix, Platform: Linux, v21 Omega

#24494 [Android] Remove special versioning for Android arch types
  cmake/scripts/android/Install.cmake
Labels: Platform: Android, CMake, v21 Omega

#24569 [video] Remove non-working context menu manage / info dialog buttons for versions
  addons/skin.estuary/xml/DialogVideoInfo.xml
  xbmc/FileItem.cpp
  xbmc/FileItem.h
  xbmc/video/VideoThumbLoader.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/guilib/VideoVersionHelper.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24525 [Keyboard] Optimize keyboard symbol translation
  cmake/treedata/common/tests.txt
  xbmc/games/controllers/ControllerTranslator.cpp
  xbmc/games/controllers/ControllerTranslator.h
  xbmc/games/controllers/input/PhysicalFeature.cpp
  xbmc/input/keyboard/CMakeLists.txt
  xbmc/input/keyboard/KeyboardSymbols.h
  xbmc/input/keyboard/KeyboardTranslator.cpp
  xbmc/input/keyboard/KeyboardTranslator.h
  xbmc/input/keyboard/test/CMakeLists.txt
  xbmc/input/keyboard/test/TestKeyboardTranslator.cpp
  xbmc/peripherals/addons/PeripheralAddonTranslator.cpp
Labels: Type: Improvement, Component: Input, Component: Games, v21 Omega

#24521 [Estuary] Refactor of poster/widget overlay icons
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/Variables.xml
  addons/skin.estuary/xml/View_51_Poster.xml
  addons/skin.estuary/xml/View_53_Shift.xml
  addons/skin.estuary/xml/View_54_InfoWall.xml
Labels: Type: Fix, Type: Improvement, Component: Skin, v21 Omega

#24567 Add another msys2 binary to fix game add-on build failures
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Fix, Backport: Done, v21 Omega

#24568 [Backport] Add another msys2 binary to fix game add-on build failures
  tools/buildsteps/windows/prepare-env.bat
Labels: Type: Fix, Type: Backport, v20 Nexus

#24572 [Android][windowing] Initialize m_bWindowCreated
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Platform: Android, Component: Windowing, v21 Omega

#24524 Player Viewer: Add keyboard and mouse input
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientKeyboard.cpp
  xbmc/games/addons/input/GameClientKeyboard.h
  xbmc/games/addons/input/GameClientMouse.cpp
  xbmc/games/addons/input/GameClientMouse.h
  xbmc/games/agents/input/AgentController.cpp
  xbmc/games/agents/input/AgentController.h
  xbmc/games/agents/input/AgentInput.cpp
  xbmc/games/agents/input/AgentJoystick.cpp
  xbmc/games/agents/input/AgentJoystick.h
  xbmc/games/agents/input/AgentKeyboard.cpp
  xbmc/games/agents/input/AgentKeyboard.h
  xbmc/games/agents/input/AgentMouse.cpp
  xbmc/games/agents/input/AgentMouse.h
  xbmc/games/agents/input/CMakeLists.txt
  xbmc/games/controllers/input/ControllerActivity.cpp
  xbmc/games/controllers/input/ControllerActivity.h
  xbmc/input/mouse/generic/MouseInputHandling.cpp
  xbmc/input/mouse/interfaces/IMouseInputHandler.h
Labels: Type: Feature, Component: Input, Component: Games, v21 Omega

#24575 [video] Fix multi version movie playback
  xbmc/video/ContextMenus.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24558 [video] Restore selection of extras in "Choose" dialog
  addons/resource.language.en_gb/resources/strings.po
  xbmc/video/ContextMenus.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoManagerTypes.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.cpp
  xbmc/video/guilib/VideoVersionHelper.cpp
  xbmc/video/guilib/VideoVersionHelper.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24439 add renderbuffer index to RenderCapture() (like for RenderUpdate()), fixes sporadic black captures under Linux
  xbmc/cores/VideoPlayer/VideoRenderers/BaseRenderer.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIME.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererDRMPRIMEGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererMediaCodecSurface.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/WinRenderer.h
Labels: Type: Fix, Platform: Linux, v21 Omega

#24393 Fix Input method on X11
  xbmc/windowing/X11/WinEventsX11.cpp
Labels: Type: Improvement, Platform: Linux, Component: Input, v21 Omega

#24577 Support build with taglib-2.0 with the removed integer type definitions in the release
  xbmc/music/tags/TagLibVFSStream.cpp
  xbmc/music/tags/TagLibVFSStream.h
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Type: Improvement, Component: Music, v21 Omega

#24483 [guilib] VideoThumbLoader don't look for basic local artwork when library items are displayed
  xbmc/video/VideoThumbLoader.cpp
Labels: Component: GUI engine, v21 Omega

#24581 Bump VERSION_CODE one unit to fix Android install over current
  version.txt
Labels: Type: Fix, Platform: Android, v21 Omega

#24583 AESinkWASAPI: improve fallback when is not supported exact output channel layout
  xbmc/cores/AudioEngine/Sinks/AESinkWASAPI.cpp
Labels: Type: Fix, Platform: Windows, Component: Audio, Type: Backport, v20 Nexus

#24590 [cmake] Don't append target sysroot in native toolchainfile
  tools/depends/native/Toolchain-Native.cmake.in
Labels: Type: Fix, CMake, Component: Build, v21 Omega

#24587 [Android][windowing] Revert 'Initialize m_bWindowCreated' and remove …
  xbmc/windowing/android/WinSystemAndroid.cpp
Labels: Type: Fix, Platform: Android, Component: Windowing, v21 Omega

#24391 [Video] Always respect video versions/extras ignore setting
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, Component: Video, v21 Omega, Feature: Video Versions/Extras

#24552 [tools/depends] Bump swig 4.2.0
  tools/depends/native/Makefile
  tools/depends/native/bison/BISON-VERSION
  tools/depends/native/bison/Makefile
  tools/depends/native/pcre/Makefile
  tools/depends/native/pcre2/Makefile
  tools/depends/native/pcre2/PCRE2-VERSION
  tools/depends/native/swig/Makefile
  tools/depends/native/swig/SWIG-VERSION
  xbmc/interfaces/swig/AddonModuleXbmcaddon.i
Labels: Type: Fix, Component: Depends, v21 Omega

#24571 [Scraper] Check for filename identifers during refresh job
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/video/VideoInfoDownloader.cpp
  xbmc/video/jobs/VideoLibraryRefreshingJob.cpp
Labels: Type: Fix, Component: Content, v21 Omega

#24596 changed: log to error (thanks @dmittiga) issue #24506
  xbmc/platform/posix/filesystem/SMBFile.cpp
Labels: Type: Improvement, Component: FileSystem, v21 Omega, v22 "P"

#24600 [webOS] Add setting to select allowed HDR dynamic metadata formats
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
  xbmc/settings/SettingConditions.cpp
Labels: Type: Improvement, Component: Video, v21 Omega, Platform: webOS
