Repository xbmc/xbmc, pull requests merged in 2025-02, with the labels that each got.

#26373 [application] Fix playback of items which require multiple URL resolu…
  xbmc/application/Application.cpp
  xbmc/filesystem/IDirectory.h
  xbmc/filesystem/PluginDirectory.cpp
Labels: Type: Fix, Component: Application, v22 Piers

#26350 [Estuary] Align media properties for flags/streams/versions
  addons/skin.estuary/xml/Custom_1101_SettingsDialog.xml
  addons/skin.estuary/xml/DialogVideoManager.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  addons/skin.estuary/xml/Includes_SettingsDialog.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Improvement, Component: Skin, v22 Piers

#26386 [guiinfo] Fix ListItem.FileNameNoExtension implementation for library items.
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
Labels: Type: Fix, Component: GUI engine, v22 Piers

#26362 [guiinfo][Estuary] Redesign of PVR info dialog (align it with video info dialog).
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogPVRInfo.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/interfaces/legacy/InfoTagVideo.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
Labels: Type: Improvement, Component: GUI engine, Component: Skin, v22 Piers

#26404 [Estuary] Fix variable typo
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26126 PipeWire: fix thread loop unlock error
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
Labels: Type: Fix, Backport: Needed, Platform: Linux, Component: Audio, v22 Piers

#26287 [Video] Fix SaveFileStateJob updatelisting logic and refactors
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Fix, Type: Improvement, Component: Video, Component: Database, v22 Piers

#26400 Fix typos found in xbmc/cores
  xbmc/cores/AudioEngine/Sinks/AESinkDARWINTVOS.mm
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkXAudio.h
  xbmc/cores/IPlayer.h
  xbmc/cores/RetroPlayer/guicontrols/GUIGameControl.dox
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/VideoPlayer/DVDDemuxSPU.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayerRadioRDS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideo.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.h
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererBase.cpp
Labels: Type: Cleanup, v22 Piers

#26403 [depends] Bump dav1d to 1.5.1
  project/BuildDependencies/scripts/0_package.target-win10-arm.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/target/dav1d/DAV1D-VERSION
Labels: Type: Improvement, Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, Platform: WindowsStore, Platform: tvOS, Platform: webOS, v22 Piers

#26250 [Android] Replace the use of the hidden method getPath() with the pub…
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Type: Fix, Platform: Android, v22 Piers

#26408 [Depends] Bump nghttp2 1.64.0
  tools/depends/target/nghttp2/Makefile
  tools/depends/target/nghttp2/NGHTTP2-VERSION
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 Piers

#26368 Add Flirc appearance to peripherals.xml
  system/peripherals.xml
Labels: Type: Feature, Component: Input, v22 Piers

#26372 Add OSMC Remote appearance to peripherals.xml
  system/peripherals.xml
Labels: Type: Improvement, Component: Input, v22 Piers

#26387 [Peripherals] Wait for GUI before installing controllers
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/GUIWindowManager.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/devices/Peripheral.cpp
Labels: Type: Fix, Backport: Needed, Component: Input, v22 Piers

#26405 RetroPlayer: Fix black screen in DMA OpenGL
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMAOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMAOpenGL.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererDMAOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.h
Labels: Type: Fix, Component: Games, v22 Piers

#26388 [Backport][Peripherals] Wait for GUI before installing controllers
  xbmc/guilib/GUIWindowManager.cpp
  xbmc/guilib/GUIWindowManager.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/devices/PeripheralJoystick.cpp
Labels: Type: Fix, Component: Input, Type: Backport, v21 Omega

#26380 [music] tagloadertaglib use defined unsigned int instead of uint + include header
  xbmc/music/tags/TagLoaderTagLib.cpp
Labels: Type: Fix, Component: Music, v22 Piers

#26379 [cmake] Scope module helper variables
  cmake/modules/FindASS.cmake
  cmake/modules/FindCEC.cmake
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindCurl.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindEffects11.cmake
  cmake/modules/FindExiv2.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindLibAndroidJNI.cmake
  cmake/modules/FindLibDvdCSS.cmake
  cmake/modules/FindLibDvdNav.cmake
  cmake/modules/FindLibDvdRead.cmake
  cmake/modules/FindLibZip.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindP8Platform.cmake
  cmake/modules/FindPCRE2.cmake
  cmake/modules/FindRapidJSON.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
  cmake/modules/FindUdfread.cmake
  cmake/modules/buildtools/FindFlatC.cmake
  cmake/modules/buildtools/FindGtest.cmake
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: Type: Improvement, Component: Depends, CMake, v22 Piers

#26424 [Android] Keep the use of getPath() method on devices with API level before 30
  xbmc/platform/android/storage/AndroidStorageProvider.cpp
Labels: Type: Fix, Platform: Android, v22 Piers

#24623 Disable MariaDB GSSAPI auth plugin (for Arch/Steam Deck)
  cmake/modules/FindMariaDBClient.cmake
  tools/depends/target/mariadb/Makefile
Labels: Type: Feature, Type: Improvement, Wiki: Done, v22 Piers

#26426 [cmake] Findlibdvdnav fix typo after PR 26379
  cmake/modules/FindLibDvdNav.cmake
Labels: Type: Fix, CMake, v22 Piers

#26418 [cmake] Modulehelper dont append DEP_BUILDENV when _LIB_TYPE native
  cmake/scripts/common/ModuleHelpers.cmake
Labels: Type: Improvement, CMake, v22 Piers

#26429 [database] MysqlDatabase::connect : Reduce debug logspam.
  xbmc/dbwrappers/mysqldataset.cpp
Labels: Type: Cleanup, Component: Database, v22 Piers

#26414 Fix typos found in various addons directories
  addons/metadata.generic.albums/lib/scraper.py
  addons/metadata.generic.artists/lib/scraper.py
  addons/skin.estuary/xml/SettingsScreenCalibration.xml
  xbmc/addons/Addon.h
  xbmc/addons/AddonInstaller.cpp
  xbmc/addons/AddonManager.h
  xbmc/addons/VFSEntry.h
  xbmc/addons/gui/skin/SkinTimers.dox
  xbmc/addons/kodi-dev-kit/include/kodi/AddonBase.h
  xbmc/addons/kodi-dev-kit/include/kodi/General.h
  xbmc/addons/kodi-dev-kit/include/kodi/gui/Window.h
  xbmc/addons/kodi-dev-kit/include/kodi/gui/controls/Rendering.h
  xbmc/addons/kodi-dev-kit/include/kodi/gui/gl/Shader.h
  xbmc/addons/kodi-dev-kit/include/kodi/tools/DllHelper.h
  xbmc/addons/kodi-dev-kit/include/kodi/tools/EndTime.h
Labels: Type: Fix, v22 Piers

#26431 Fix typos in xbmc/cores directory
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/DVDFactoryCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/BlurayStateSerializer.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamNavigator.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDStateSerializer.h
  xbmc/cores/VideoPlayer/DVDInputStreams/dvdnav/dvdnav.h
  xbmc/cores/VideoPlayer/Interface/DemuxCrypto.h
  xbmc/cores/VideoPlayer/VideoRenderers/RenderManager.cpp
Labels: Type: Fix, Component: Documentation, v22 Piers

#26436 Fix typos in xbmc/filesystem
  xbmc/filesystem/DirectoryFactory.h
  xbmc/filesystem/File.cpp
  xbmc/filesystem/FileCache.cpp
  xbmc/filesystem/NFSDirectory.cpp
  xbmc/filesystem/RSSDirectory.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeSeasons.h
Labels: Type: Fix, Component: Documentation, v22 Piers

#26125 PipeWire: stop log spam from RequestProcess events
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Fix, Backport: Needed, Platform: Linux, Component: Audio, v22 Piers

#26440 [win] download-msys2.bat remove obsolete msys profile env vars
  tools/buildsteps/windows/download-msys2.bat
Labels: Platform: Windows, Platform: WindowsStore, Component: Build, v22 Piers

#26438 Build script updates to support Windows ARM64
  project/BuildDependencies/scripts/0_package.target-arm64.list
  tools/buildsteps/windows/arm64/BuildSetup.bat
  tools/buildsteps/windows/arm64/bootstrap-addons.bat
  tools/buildsteps/windows/arm64/download-dependencies.bat
  tools/buildsteps/windows/arm64/download-msys2.bat
  tools/buildsteps/windows/arm64/make-addons.bat
  tools/buildsteps/windows/arm64/make-mingwlibs.bat
  tools/buildsteps/windows/arm64/prepare-env.bat
  tools/buildsteps/windows/arm64/run-tests.bat
  tools/buildsteps/windows/buildffmpeg.sh
  tools/buildsteps/windows/download-msys2.bat
  tools/buildsteps/windows/make-mingwlibs.bat
  tools/buildsteps/windows/make-mingwlibs.sh
Labels: Type: Feature, Type: Improvement, Platform: Windows, Component: Build, v22 Piers

#26298 [DVDDemuxCC] Localized "CC" text for Closed Caption
  addons/resource.language.en_gb/resources/strings.po
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxCC.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Improvement, Component: Subtitles, v22 Piers

#26376 [depends] Bump taglib 2.0.6
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUtfcpp.cmake
  tools/depends/target/Makefile
  tools/depends/target/taglib/001-cmake-pdb-debug.patch
  tools/depends/target/taglib/TAGLIB-VERSION
  tools/depends/target/utfcpp/Makefile
  tools/depends/target/utfcpp/UTFCPP-VERSION
Labels: Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Component: Depends, Platform: WindowsStore, Platform: tvOS, Platform: webOS, v22 Piers

#26448 [Windows] Clean dependencies path to prevent Debug vs Release conflicts
  tools/buildsteps/windows/download-dependencies.bat
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: Build, v22 Piers

#26441 Backport PipeWire Bugfixes
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/Pipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Component: Audio, Type: Backport, v21 Omega

#26451 Updates for CMake scripts to support Windows ARM64
  cmake/scripts/common/PrepareEnv.cmake
  cmake/scripts/windows/ArchSetup.cmake
Labels: Type: Feature, Platform: Windows, CMake, Component: Build, v22 Piers

#26456 Fix typos in xbmc/platform directory
  xbmc/platform/darwin/tvos/TVOSDisplayManager.mm
  xbmc/platform/darwin/tvos/XBMCController.mm
  xbmc/platform/linux/AppParamParserLinux.cpp
  xbmc/platform/linux/DBusMessage.h
  xbmc/platform/linux/network/zeroconf/ZeroconfAvahi.h
  xbmc/platform/posix/filesystem/SMBWSDiscovery.h
  xbmc/platform/posix/storage/discs/DiscDriveHandlerPosix.h
  xbmc/platform/win32/dxerr.cpp
  xbmc/platform/win32/storage/discs/Win32DiscDriveHandler.h
Labels: Type: Fix, Component: Documentation, v22 Piers

#26457 Fix typos in xbmc/(utils|video|windowing) directories
  xbmc/utils/DiscsUtils.h
  xbmc/utils/StringUtils.h
  xbmc/utils/guilib/GUIBuiltinsUtils.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.h
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/windowing/GraphicContext.h
  xbmc/windowing/ios/WinSystemIOS.mm
  xbmc/windowing/osx/WinEventsOSXImpl.mm
  xbmc/windowing/osx/WinSystemOSX.mm
  xbmc/windowing/wayland/WinEventsWayland.cpp
Labels: Type: Fix, Component: Documentation, v22 Piers

#26462 Update splash screen image.
  media/splash.jpg
Labels: v22 Piers

#26464 [video] Fix hang when deleting a PVR recording automatically after watching.
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Fix, Component: Video, v22 Piers
