Repository xbmc/xbmc, pull requests merged in 2025-05, with the labels that each got.

#26581 CVariant: Fix `swap()` so it doesn't change a `VariantTypeConstNull` variant
  xbmc/utils/Variant.cpp
  xbmc/utils/test/TestVariant.cpp
Labels: Type: Fix, Backport: Needed, v22 Piers

#26721 MediaSource: simplify implementation
  xbmc/MediaSource.cpp
  xbmc/MediaSource.h
  xbmc/dialogs/GUIDialogMediaSource.cpp
  xbmc/settings/MediaSourceSettings.cpp
  xbmc/test/CMakeLists.txt
  xbmc/test/TestMediaSource.cpp
  xbmc/video/dialogs/GUIDialogSubtitleSettings.cpp
  xbmc/view/GUIViewState.cpp
Labels: Type: Improvement, v22 Piers

#26566 [Video][Bluray] Extend bluray:// functionality to removable bluray discs.
  addons/skin.estuary/xml/Home.xml
  xbmc/Autorun.cpp
  xbmc/Autorun.h
  xbmc/FileItem.cpp
  xbmc/GUIInfoManager.cpp
  xbmc/application/Application.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/BlurayDirectory.h
  xbmc/filesystem/test/TestDirectory.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/interfaces/builtins/PlayerBuiltins.cpp
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/ContextMenus.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Fix, Type: Improvement, Component: Video, v22 Piers

#26722 [bluray] gate includes based on HAVE_LIBBLURAY
  xbmc/application/Application.cpp
  xbmc/storage/MediaManager.cpp
Labels: Type: Fix, v22 Piers

#26725 [PVR] Fix CPVRClient::cb_transfer_provider_entry.
  xbmc/pvr/addons/PVRClient.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#26726 [addons] CAddonInfo::GetKnownInstanceIds(): Fix SonarQube issue…
  xbmc/addons/addoninfo/AddonInfo.cpp
Labels: Type: Fix, Component: Add-ons, v22 Piers

#26727 [PVR] SonarQube finding cpp:S6012: Avoid explicitly specifying the te…
  xbmc/pvr/PVRChannelNumberInputHandler.cpp
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRPlaybackState.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroupMergedByName.cpp
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRChannelGroups.h
  xbmc/pvr/channels/PVRChannelGroupsContainer.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgSearch.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/guilib/PVRGUIChannelNavigator.cpp
  xbmc/pvr/guilib/PVRGUIProgressHandler.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUITimerInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUITimesInfo.cpp
  xbmc/pvr/providers/PVRProvider.cpp
  xbmc/pvr/providers/PVRProviders.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRChannels.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
Labels: Type: Cleanup, Component: PVR, v22 Piers

#26733 CFileItemList: some janitoring
  xbmc/FileItemList.cpp
Labels: Type: Improvement, v22 Piers

#26724 CAutoSwitch: simplify and clean up
  xbmc/AutoSwitch.cpp
  xbmc/AutoSwitch.h
  xbmc/test/CMakeLists.txt
  xbmc/test/TestAutoSwitch.cpp
Labels: Type: Improvement, v22 Piers

#26731 [Video] Not compare light metadata to avoid unnecessary video reconfigure
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
Labels: Type: Fix, Backport: Done, Component: Video rendering, v22 Piers

#26738 [cmake] Find module refactoring/cleanups
  CMakeLists.txt
  cmake/modules/FindASS.cmake
  cmake/modules/FindBrotli.cmake
  cmake/modules/FindCEC.cmake
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindCurl.cmake
  cmake/modules/FindDav1d.cmake
  cmake/modules/FindEffects11.cmake
  cmake/modules/FindExiv2.cmake
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFlatBuffers.cmake
  cmake/modules/FindFmt.cmake
  cmake/modules/FindFstrcmp.cmake
  cmake/modules/FindLibDvdCSS.cmake
  cmake/modules/FindLibDvdNav.cmake
  cmake/modules/FindLibDvdRead.cmake
  cmake/modules/FindLibZip.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/FindNGHttp2.cmake
  cmake/modules/FindNlohmannJSON.cmake
  cmake/modules/FindP8Platform.cmake
  cmake/modules/FindPCRE2.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindTinyXML2.cmake
  cmake/modules/FindUdfread.cmake
  cmake/modules/FindUtfcpp.cmake
  cmake/modules/FindXSLT.cmake
  cmake/modules/buildtools/FindFlatC.cmake
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/scripts/common/ModuleHelpers.cmake
Labels: CMake, v22 Piers

#26743 [PVR] Channel manager: Fix channels marked as changed although not changed
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#26736 [Bluray] SonarQube and optimisation.
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/BlurayDirectory.h
  xbmc/filesystem/BlurayDiscCache.cpp
  xbmc/filesystem/BlurayDiscCache.h
  xbmc/filesystem/DiscDirectoryHelper.cpp
  xbmc/filesystem/DiscDirectoryHelper.h
Labels: Type: Cleanup, Component: Video, v22 Piers

#26748 [cmake] Fix crossguid and assorted minors
  CMakeLists.txt
  cmake/modules/FindCrossGUID.cmake
  cmake/modules/FindNFS.cmake
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/scripts/common/ModuleHelpers.cmake
  xbmc/interfaces/swig/CMakeLists.txt
Labels: Type: Fix, CMake, v22 Piers

#26746 [PVR] SonarQube findings, round 2
  xbmc/pvr/PVRDatabase.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClientCapabilities.cpp
  xbmc/pvr/addons/PVRClientCapabilities.h
  xbmc/pvr/addons/PVRClientUID.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/pvr/channels/PVRChannel.cpp
  xbmc/pvr/channels/PVRChannel.h
  xbmc/pvr/channels/PVRChannelGroup.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/channels/PVRChannelGroupAllChannels.cpp
  xbmc/pvr/channels/PVRChannelGroupFromClient.cpp
  xbmc/pvr/channels/PVRChannelGroupMergedByName.cpp
  xbmc/pvr/channels/PVRChannelGroupSettings.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.cpp
  xbmc/pvr/channels/PVRRadioRDSInfoTag.h
  xbmc/pvr/dialogs/GUIDialogPVRChannelManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGroupManager.cpp
  xbmc/pvr/dialogs/GUIDialogPVRGuideSearch.cpp
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.h
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgDatabase.cpp
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/epg/EpgInfoTag.h
  xbmc/pvr/epg/EpgSearch.cpp
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#26744 [guilib/guiinfo][GUIInfoManager] Misc SonarQube findings
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/guilib/guiinfo/AddonsGUIInfo.cpp
  xbmc/guilib/guiinfo/AddonsGUIInfo.h
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.h
  xbmc/guilib/guiinfo/GUIInfo.h
  xbmc/guilib/guiinfo/GUIInfoBool.cpp
  xbmc/guilib/guiinfo/GUIInfoBool.h
  xbmc/guilib/guiinfo/GUIInfoColor.h
  xbmc/guilib/guiinfo/GUIInfoHelper.cpp
  xbmc/guilib/guiinfo/GUIInfoHelper.h
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.h
  xbmc/guilib/guiinfo/GUIInfoProvider.h
  xbmc/guilib/guiinfo/GUIInfoProviders.cpp
  xbmc/guilib/guiinfo/GUIInfoProviders.h
  xbmc/guilib/guiinfo/GamesGUIInfo.cpp
  xbmc/guilib/guiinfo/GamesGUIInfo.h
  xbmc/guilib/guiinfo/IGUIInfoProvider.h
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
  xbmc/guilib/guiinfo/LibraryGUIInfo.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.h
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
  xbmc/guilib/guiinfo/PicturesGUIInfo.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
  xbmc/guilib/guiinfo/SkinGUIInfo.cpp
  xbmc/guilib/guiinfo/SkinGUIInfo.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.h
  xbmc/guilib/guiinfo/VisualisationGUIInfo.cpp
  xbmc/guilib/guiinfo/VisualisationGUIInfo.h
  xbmc/guilib/guiinfo/WeatherGUIInfo.cpp
  xbmc/guilib/guiinfo/WeatherGUIInfo.h
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
Labels: Type: Cleanup, v22 Piers, Component: GUI Info

#26751 [PVR] Fix CPVREpgSearchFilter::RemoveDuplicates.
  xbmc/pvr/epg/EpgSearchFilter.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#26752 [PVR] SonarQube findings, round 3
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.h
  xbmc/pvr/guilib/PVRGUIActionsDatabase.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.h
  xbmc/pvr/guilib/PVRGUIChannelIconUpdater.cpp
  xbmc/pvr/providers/PVRProvider.cpp
  xbmc/pvr/providers/PVRProvider.h
  xbmc/pvr/providers/PVRProviders.cpp
  xbmc/pvr/recordings/PVRRecording.cpp
  xbmc/pvr/recordings/PVRRecording.h
  xbmc/pvr/recordings/PVRRecordings.cpp
  xbmc/pvr/recordings/PVRRecordingsPath.cpp
  xbmc/pvr/settings/CMakeLists.txt
  xbmc/pvr/settings/PVRCustomProperty.h
  xbmc/pvr/settings/PVRCustomTimerSettings.cpp
  xbmc/pvr/settings/PVRCustomTimerSettings.h
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/pvr/settings/PVRSettings.h
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
  xbmc/pvr/timers/PVRTimerRuleMatcher.cpp
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/timers/PVRTimers.h
  xbmc/pvr/windows/GUIWindowPVRBase.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.h
Labels: Type: Cleanup, Component: PVR, v22 Piers

#26760 Revert "[cmake] FindNFS relocate workaround for include dir from cmake config search"
  cmake/modules/FindNFS.cmake
Labels: Type: Fix, CMake, v22 Piers

#26763 Added: Auto closing of PR's and Issues older than 30 days.
  .github/workflows/stale.yml
Labels: Infrastructure

#26761 [cmake] FindTexturePacker add DEPENDS_PATH to internal texturepacker build
  cmake/modules/buildtools/FindTexturePacker.cmake
Labels: CMake, v22 Piers

#26750 [Video][Bluray] Further improvements to episode matching heuristics.
  xbmc/filesystem/DiscDirectoryHelper.cpp
  xbmc/filesystem/DiscDirectoryHelper.h
Labels: Type: Improvement, Component: Video, v22 Piers

#26765 Updated: Set debug-only option to false in stale.yml workflow.
  .github/workflows/stale.yml
Labels: Infrastructure

#26735 BackgroundInfoLoader: some janitoring
  xbmc/BackgroundInfoLoader.cpp
  xbmc/BackgroundInfoLoader.h
Labels: Type: Improvement, v22 Piers

#26737 CueDocument; some janitoring
  xbmc/CueDocument.cpp
  xbmc/CueDocument.h
Labels: Type: Improvement, v22 Piers

#26740 FileItemListModification: some janitoring
  xbmc/FileItemListModification.cpp
  xbmc/FileItemListModification.h
Labels: Type: Improvement, v22 Piers

#26757 [Cmake] Fix window NFS check and remove unnecessary define
  cmake/modules/FindNFS.cmake
  xbmc/filesystem/NFSFile.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Fix, Backport: Done, CMake, Component: FileSystem, v22 Piers

#26772 Misc Sonarqube findings, part 2
  xbmc/GUIInfoManager.cpp
  xbmc/GUIInfoManager.h
  xbmc/addons/RepositoryUpdater.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/guilib/StereoscopicsManager.cpp
  xbmc/guilib/guiinfo/AddonsGUIInfo.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/input/InputManager.cpp
  xbmc/network/NetworkServices.cpp
  xbmc/peripherals/Peripherals.cpp
  xbmc/platform/darwin/ios/XBMCController.mm
  xbmc/platform/linux/input/LibInputSettings.cpp
  xbmc/profiles/ProfileManager.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/channels/PVRChannelGroupSettings.cpp
  xbmc/pvr/channels/PVRChannelGroups.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/PVRGUIActionsChannels.cpp
  xbmc/pvr/guilib/PVRGUIActionsParentalControl.cpp
  xbmc/pvr/guilib/PVRGUIActionsPlayback.cpp
  xbmc/pvr/guilib/PVRGUIActionsPowerManagement.cpp
  xbmc/pvr/guilib/PVRGUIActionsRecordings.cpp
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/settings/PVRCustomTimerSettings.cpp
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/pvr/settings/PVRSettings.h
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimers.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/CMakeLists.txt
  xbmc/settings/Settings.cpp
  xbmc/settings/SettingsBase.cpp
  xbmc/settings/SettingsBase.h
  xbmc/settings/SettingsContainer.h
  xbmc/settings/dialogs/GUIDialogSettingsBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsBase.h
  xbmc/settings/dialogs/GUIDialogSettingsManagerBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsManagerBase.h
  xbmc/settings/lib/SettingDependency.cpp
  xbmc/settings/lib/SettingDependency.h
  xbmc/settings/lib/SettingsManager.cpp
  xbmc/settings/lib/SettingsManager.h
  xbmc/utils/log.cpp
  xbmc/weather/WeatherManager.cpp
Labels: Type: Cleanup, Component: Settings, v22 Piers

#26745 CLog: Format log message only if message is actually logged
  xbmc/utils/log.cpp
  xbmc/utils/log.h
Labels: Type: Improvement, v22 Piers

#26690 Backport of #26677 - Fix first episode in a multiple episode file always updated in error in the GUI when playing a subsequent episode.
  xbmc/FileItem.cpp
Labels: Type: Fix, Component: Video, Type: Backport, v21 Omega

#26734 [Backport][Video] Not compare light metadata to avoid unnecessary video reconfigure
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodec.h
Labels: Type: Fix, Component: Video rendering, Type: Backport, v21 Omega

#26778 [Xbox] Fix HDR support for Xbox One models
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Fix, Platform: Windows, Platform: WindowsStore, Component: DirectX rendering, v22 Piers

#26655 [VideoPlayer][EDL] Fix issues when playing file with chapters along with an EDL
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#26777 [Windows] fix two malformed LogF calls
  xbmc/platform/win10/filesystem/WinLibraryDirectory.cpp
Labels: Type: Fix, Platform: WindowsStore, Component: Logging, v22 Piers

#26781 drop typedef LanguageInvokerPtr
  xbmc/ContextMenuItem.cpp
  xbmc/interfaces/generic/ILanguageInvoker.h
  xbmc/interfaces/generic/LanguageInvokerThread.cpp
  xbmc/interfaces/generic/LanguageInvokerThread.h
  xbmc/interfaces/generic/ScriptInvocationManager.cpp
  xbmc/interfaces/generic/ScriptInvocationManager.h
  xbmc/network/httprequesthandler/HTTPPythonHandler.cpp
Labels: Type: Improvement, v22 Piers

#26787 [depends][samba] Specify usage of libiconv
  tools/depends/target/samba-gplv3/Makefile
Labels: Type: Fix, Component: Depends, Platform: webOS, v22 Piers

#26788 [guilib/listproviders] Fix initialization of CPVRSubscriber.
  xbmc/guilib/listproviders/DirectoryProvider.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#26789 [PVR] Fix resolving of plugin-supplied items before playback start.
  xbmc/pvr/epg/CMakeLists.txt
  xbmc/pvr/epg/Epg.cpp
  xbmc/pvr/epg/Epg.h
  xbmc/pvr/epg/EpgContainer.cpp
  xbmc/pvr/epg/EpgContainer.h
  xbmc/pvr/epg/EpgGuidePath.cpp
  xbmc/pvr/epg/EpgGuidePath.h
  xbmc/pvr/epg/EpgInfoTag.cpp
  xbmc/pvr/filesystem/PVRGUIDirectory.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#26785 Misc Sonarqube findings, part 3
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamPVRBase.h
  xbmc/games/controllers/guicontrols/GUIGameController.cpp
  xbmc/guilib/guiinfo/GUIInfoColor.h
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/guilib/guiinfo/VisualisationGUIInfo.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/channels/PVRChannelGroup.h
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/pvr/epg/EpgTagsContainer.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.cpp
  xbmc/pvr/guilib/guiinfo/PVRGUIInfo.h
  xbmc/utils/ColorUtils.h
Labels: Type: Cleanup, Component: PVR, v22 Piers, Component: GUI Info

#26719 [TVSHOWS][JSON-RPC] Add hastrailer filter and expose trailer property
  xbmc/interfaces/json-rpc/schema/types.json
  xbmc/interfaces/json-rpc/schema/version.txt
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/DatabaseUtils.cpp
Labels: Type: Improvement, API change: JSON-RPC, Component: JSON-RPC, v22 Piers

#26795 [cmake][Windows] Allow cmake 4.0 builds
  cmake/modules/FindLibDvdCSS.cmake
  cmake/modules/FindLibDvdNav.cmake
  cmake/modules/FindLibDvdRead.cmake
Labels: Platform: Windows, CMake, Platform: WindowsStore, v22 Piers

#26782 [depends][webOS] Update platform CFLAGS to support large file handling
  tools/depends/configure.ac
Labels: Type: Fix, Component: Depends, Platform: webOS, v22 Piers

#26810 [PVR] Profile switch related fixes
  xbmc/pvr/addons/PVRClientUID.cpp
  xbmc/pvr/addons/PVRClientUID.h
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
Labels: Type: Fix, Component: PVR, v22 Piers
