Repository xbmc/xbmc, pull requests merged in 2025-06, with the labels that each got.

#26819 [cmake] Fix internal dav1d build and restrict internal use to require internal ffmpeg build
  CMakeLists.txt
  cmake/modules/FindDav1d.cmake
Labels: Type: Fix, Component: Depends, CMake, v22 Piers

#26834 [guilib/guiinfo] GUILabels.h: Fix typo in copyright statement.
  xbmc/guilib/guiinfo/GUIInfoLabels.h
Labels: Type: Fix, v22 Piers, Component: GUI Info

#26818 webOS: fix Cryptodome by adding site-packages to PYTHONPATH
  xbmc/platform/linux/PlatformWebOS.cpp
Labels: Type: Fix, Platform: webOS, v22 Piers

#19197 Make libcdio optional if not used
  CMakeLists.txt
  tools/depends/target/Makefile
  xbmc/filesystem/DirectoryFactory.cpp
  xbmc/filesystem/FileFactory.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/music/tags/CMakeLists.txt
  xbmc/music/tags/MusicInfoTagLoaderFactory.cpp
  xbmc/platform/win32/WIN32Util.cpp
Labels: Type: Fix, Type: Improvement, Component: Build, Component: FileSystem, v22 Piers

#26840 Apply clang-format-18 to files in CODEOWNERS
  xbmc/addons/kodi-dev-kit/include/kodi/Filesystem.h
  xbmc/addons/kodi-dev-kit/include/kodi/addon-instance/peripheral/PeripheralUtils.h
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/addon-instance/inputstream/timing_constants.h
  xbmc/addons/kodi-dev-kit/include/kodi/tools/StringUtils.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/cores/RetroPlayer/buffers/RenderBufferManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererGuiTexture.cpp
  xbmc/cores/RetroPlayer/streams/memory/BasicMemoryStream.h
  xbmc/cores/RetroPlayer/streams/memory/LinearMemoryStream.cpp
  xbmc/games/controllers/dialogs/GUIDialogIgnoreInput.cpp
  xbmc/games/controllers/types/ControllerGrid.cpp
  xbmc/games/controllers/types/ControllerHub.cpp
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/input/keymaps/generic/KeyHandler.cpp
  xbmc/input/mouse/MouseStat.h
  xbmc/peripherals/Peripherals.cpp
  xbmc/peripherals/Peripherals.h
  xbmc/peripherals/bus/virtual/PeripheralBusAddon.cpp
Labels: Type: Improvement, v22 Piers

#26843 [actions] no pr/issue stale marking on forks
  .github/workflows/stale.yml
Labels: v22 Piers

#26827 [macOS] key handling improvements
  xbmc/platform/darwin/osx/XBMCApplication.mm
  xbmc/windowing/osx/WinEventsOSXImpl.mm
Labels: Type: Fix, Type: Improvement, Backport: Needed, Platform: macOS, Component: Input, v22 Piers

#26807 [cppcheck] fix performance checks
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/addons/LanguageResource.cpp
  xbmc/cdrip/CDDARipper.cpp
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.h
  xbmc/cores/RetroPlayer/shaders/ShaderUtils.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDMessage.h
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.cpp
  xbmc/cores/VideoPlayer/DVDSubtitles/DVDSubtitlesLibass.h
  xbmc/filesystem/MusicDatabaseDirectory/DirectoryNode.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNode.cpp
  xbmc/guilib/GUIAction.cpp
  xbmc/guilib/GUIAction.h
  xbmc/guilib/Shader.h
  xbmc/imagefiles/ImageCacheCleaner.cpp
  xbmc/input/keymaps/generic/KeyHandler.cpp
  xbmc/input/keymaps/generic/KeyHandler.h
  xbmc/music/MusicDatabase.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/playlists/PlayListB4S.cpp
  xbmc/utils/CharsetDetection.cpp
  xbmc/utils/FileExtensionProvider.cpp
  xbmc/utils/FileExtensionProvider.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/view/GUIViewState.cpp
  xbmc/view/GUIViewState.h
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, v22 Piers

#26842 RetroPlayer: Shaders skin cosmetics
  addons/skin.estuary/xml/Includes_DialogSelect.xml
Labels: Type: Improvement, Component: Games, v22 Piers

#26852 [webos] Disable setcontext based warnings
  tools/depends/target/mariadb/Makefile
  tools/depends/target/openssl/Makefile
Labels: Platform: webOS, v22 Piers

#26853 RetroPlayer: Add SCALINGMETHOD::AUTO to supported scaling methods
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGL.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPRendererOpenGLES.cpp
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPWinRenderer.cpp
  xbmc/games/dialogs/osd/DialogGameVideoFilter.cpp
Labels: Type: Fix, Component: Games, v22 Piers

#26837 [tools/depends] Update Rust toolchain, cargo-c and libdovi
  tools/depends/native/cargo-c/CARGO-C-VERSION
  tools/depends/native/cargo-c/Cargo.lock
  tools/depends/native/rustup/Makefile
  tools/depends/native/rustup/RUSTUP-VERSION
  tools/depends/target/libdovi/LIBDOVI-VERSION
  tools/depends/target/libdovi/Makefile
  tools/depends/target/libdovi/dolby_vision-Cargo.lock
Labels: Type: Improvement, Component: Depends, v22 Piers

#26841 [docs] Sort dependencies in README.Ubuntu.md
  docs/README.Ubuntu.md
Labels: Type: Improvement, Documentation, Component: Documentation, v22 Piers

#26851 [Games] Add controller tree XML serialization/deserialization
  cmake/treedata/common/games.txt
  cmake/treedata/common/tests.txt
  xbmc/games/controllers/ControllerTranslator.cpp
  xbmc/games/controllers/ControllerTranslator.h
  xbmc/games/controllers/test/CMakeLists.txt
  xbmc/games/controllers/test/TestControllerTreeXML.cpp
  xbmc/games/controllers/types/ControllerHub.cpp
  xbmc/games/controllers/types/ControllerHub.h
  xbmc/games/controllers/types/ControllerNode.cpp
  xbmc/games/controllers/types/ControllerNode.h
  xbmc/games/ports/CMakeLists.txt
  xbmc/games/ports/PortDefinitions.h
  xbmc/games/ports/types/PortNode.cpp
  xbmc/games/ports/types/PortNode.h
Labels: Type: Feature, Component: Input, Component: Games, v22 Piers

#26860 webOS: move dummy.c out of kodi source path
  cmake/modules/FindAcbAPI.cmake
Labels: CMake, Platform: webOS, v22 Piers

#26824 webOS: Allow disabling of Starfish decoder
  addons/resource.language.en_gb/resources/strings.po
  system/settings/linux.xml
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
  xbmc/settings/Settings.h
Labels: Type: Improvement, Component: Video, Component: Video rendering, v22 Piers

#26868 [Addons] Fix shader preset add-on category
  xbmc/addons/addoninfo/AddonInfo.cpp
Labels: Type: Fix, Component: Add-ons, Component: Games, v22 Piers

#26024 [depends] Update to Python 3.13
  tools/depends/native/openssl/Makefile
  tools/depends/native/python3/Makefile
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/native/pythonmodule-setuptools/01-distutils-flag.patch
  tools/depends/native/pythonmodule-setuptools/Makefile
  tools/depends/native/pythonmodule-setuptools/PYTHONMODULE-SETUPTOOLS-VERSION
  tools/depends/target/python3/01-py312-cpython118618-1.patch
  tools/depends/target/python3/01-py312-cpython118618-2.patch
  tools/depends/target/python3/02-android-cpython114875.patch
  tools/depends/target/python3/10-android-modules.patch
  tools/depends/target/python3/11-android-ctypes.patch
  tools/depends/target/python3/Makefile
  tools/depends/target/python3/PYTHON3-VERSION
  tools/depends/target/python3/apple.patch
  tools/depends/target/python3/darwin_embedded.patch
  tools/depends/target/pythonmodule-pil/PYTHONMODULE-PIL-VERSION
  tools/depends/target/pythonmodule-pil/pillow-crosscompile.patch
  tools/depends/target/pythonmodule-pycryptodome/01-revert-ctype.pythonapi-use.patch
  tools/depends/target/pythonmodule-pycryptodome/02-android-dlopen.patch
  tools/depends/target/pythonmodule-pycryptodome/PYTHONMODULE-PYCRYPTODOME-VERSION
  tools/depends/target/pythonmodule-setuptools/PYTHONMODULE-SETUPTOOLS-VERSION
Labels: Type: Improvement, Component: Python, Component: Depends, v22 Piers

#26870 [Games] Add class for controller state
  xbmc/games/controllers/input/CMakeLists.txt
  xbmc/games/controllers/input/ControllerState.cpp
  xbmc/games/controllers/input/ControllerState.h
  xbmc/games/controllers/input/test/CMakeLists.txt
  xbmc/games/controllers/input/test/TestControllerState.cpp
Labels: Type: Feature, Component: Input, Component: Games, v22 Piers

#24395 guilib: Add nearest neighbor image scaling
  system/shaders/guishader_common.hlsl
  system/shaders/guishader_multi_texture_blend_nearest.hlsl
  system/shaders/guishader_texture_nearest.hlsl
  xbmc/guilib/CMakeLists.txt
  xbmc/guilib/D3DResource.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/GUIImage.cpp
  xbmc/guilib/GUIImage.dox
  xbmc/guilib/GUIImage.h
  xbmc/guilib/GUIShaderDX.cpp
  xbmc/guilib/GUIShaderDX.h
  xbmc/guilib/GUITexture.cpp
  xbmc/guilib/GUITexture.h
  xbmc/guilib/GUITextureD3D.cpp
  xbmc/guilib/ImageSettings.cpp
  xbmc/guilib/ImageSettings.h
  xbmc/guilib/TextureBase.h
  xbmc/guilib/TextureManager.cpp
  xbmc/guilib/TextureManager.h
  xbmc/guilib/TextureScaling.h
Labels: Type: Feature, Component: GUI engine, Component: Skin, v22 Piers

#26879 [Controllers] Fix disabling keyboard and mouse in game
  xbmc/games/addons/input/GameClientInput.cpp
  xbmc/games/addons/input/GameClientInput.h
  xbmc/games/agents/input/AgentInput.cpp
  xbmc/games/controllers/input/test/CMakeLists.txt
  xbmc/games/controllers/input/test/TestPortNodeInput.cpp
  xbmc/games/controllers/types/ControllerHub.cpp
  xbmc/games/controllers/types/ControllerHub.h
  xbmc/games/controllers/types/ControllerNode.cpp
  xbmc/games/controllers/types/ControllerNode.h
  xbmc/games/ports/types/PortNode.cpp
  xbmc/games/ports/types/PortNode.h
  xbmc/games/ports/windows/GUIPortList.cpp
Labels: Type: Fix, Component: Input, Component: Games, v22 Piers

#26764 [guiinfo][Estuary] Add guiinfo bool Player.IsLive, update Estuary video OSD to use it
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
  xbmc/GUIInfoManager.cpp
  xbmc/application/ApplicationPlayer.cpp
  xbmc/application/ApplicationPlayer.h
  xbmc/cores/IPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
Labels: Type: Improvement, Wiki: Needed, Component: Skin, Component: Players, v22 Piers, Component: GUI Info

#26874 [dbwrappers] SonarQube findings
  xbmc/TextureDatabase.cpp
  xbmc/TextureDatabase.h
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/dbwrappers/DatabaseQuery.cpp
  xbmc/dbwrappers/DatabaseQuery.h
  xbmc/dbwrappers/dataset.cpp
  xbmc/dbwrappers/dataset.h
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/mysqldataset.h
  xbmc/dbwrappers/qry_dat.cpp
  xbmc/dbwrappers/qry_dat.h
  xbmc/dbwrappers/sqlitedataset.cpp
  xbmc/dbwrappers/sqlitedataset.h
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/dialogs/GUIDialogMediaFilter.h
  xbmc/dialogs/GUIDialogSmartPlaylistEditor.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistRule.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistRule.h
  xbmc/music/MusicDatabase.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/playlists/SmartPlayList.h
  xbmc/utils/DatabaseUtils.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Cleanup, Component: Database, v22 Piers

#26887 [tools/depends][target] pythonmodule-pil cleanup webos path install
  tools/depends/target/pythonmodule-pil/Makefile
Labels: Type: Cleanup, Component: Depends, v22 Piers

#26811 [VFS] Fix Recently Added Movies node navigation for Movies with Versions/Extras
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRecentlyAddedMovies.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeRecentlyAddedMovies.h
  xbmc/filesystem/VideoDatabaseDirectory/test/CMakeLists.txt
  xbmc/filesystem/VideoDatabaseDirectory/test/TestNodeRecentlyAddedMovies.cpp
Labels: Type: Fix, Component: FileSystem, v22 Piers, Feature: Video Versions/Extras

#26894 [Estuary] Fix 'Ends at' no longer shown in movie OSD info.
  addons/skin.estuary/xml/Custom_1109_TopBarOverlay.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26893 [cmake] FindLibAndroidJNI fix build dependency after build name change
  cmake/modules/FindLibAndroidJNI.cmake
Labels: Type: Fix, Platform: Android, CMake, v22 Piers

#26892 [cmake] FindPython add SEARCH_QUIET to find_package calls
  cmake/modules/FindPython.cmake
Labels: Type: Cleanup, CMake, v22 Piers

#26800 FFmpegImage: Add WebP magic byte detection and fix TIFF magic byte detection
  xbmc/guilib/FFmpegImage.cpp
Labels: Type: Fix, Type: Improvement, Component: Picture, v22 Piers

#26439 [VideoInfoScanner] Allow scraper to correctly process episodes in files named with the format SxxExx-Eyy and add further tests.
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/test/TestVideoInfoScanner.cpp
Labels: Type: Fix, Type: Improvement, Wiki: Needed, Component: Video, v22 Piers

#26900 [MUSIC] Correct sql table error when querying 'albumartistsonly wth a…
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Backport: Done, Component: Music, v22 Piers

#26869 [Shaders] Add "Get more..." button to install shader add-on
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  xbmc/cores/RetroPlayer/shaders/ShaderPresetFactory.cpp
  xbmc/cores/RetroPlayer/shaders/ShaderPresetFactory.h
  xbmc/games/dialogs/osd/DialogGameVideoFilter.cpp
  xbmc/games/dialogs/osd/DialogGameVideoFilter.h
  xbmc/games/dialogs/osd/DialogGameVideoSelect.cpp
  xbmc/games/dialogs/osd/DialogGameVideoSelect.h
  xbmc/games/dialogs/osd/DialogInGameSaves.h
Labels: Type: Feature, Type: Fix, Component: Skin, Component: Games, v22 Piers

#26901 Random SonarQube findings which were introduced lately.
  xbmc/GUIPassword.cpp
  xbmc/LangInfo.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAESettings.cpp
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/dbwrappers/dataset.cpp
  xbmc/dbwrappers/dataset.h
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/qry_dat.h
  xbmc/dialogs/GUIDialogFileBrowser.cpp
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistEditor.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistRule.cpp
  xbmc/dialogs/GUIDialogSmartPlaylistRule.h
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/input/keyboard/KeyboardLayoutManager.cpp
  xbmc/music/MusicDatabase.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/pvr/addons/PVRClient.cpp
  xbmc/pvr/addons/PVRClient.h
  xbmc/pvr/dialogs/GUIDialogPVRRecordingSettings.cpp
  xbmc/pvr/dialogs/GUIDialogPVRTimerSettings.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/settings/PVRCustomProperty.h
  xbmc/pvr/settings/PVRSettings.cpp
  xbmc/pvr/windows/GUIWindowPVRGuide.cpp
  xbmc/settings/DisplaySettings.cpp
  xbmc/settings/LibExportSettings.h
  xbmc/settings/PlayerSettings.cpp
  xbmc/settings/ServicesSettings.cpp
  xbmc/settings/SettingConditions.cpp
  xbmc/settings/Settings.cpp
  xbmc/settings/SettingsBase.cpp
  xbmc/settings/SettingsComponent.cpp
  xbmc/settings/dialogs/GUIDialogSettingsBase.cpp
  xbmc/settings/dialogs/GUIDialogSettingsBase.h
  xbmc/settings/lib/Setting.cpp
  xbmc/settings/windows/GUIControlSettings.cpp
  xbmc/settings/windows/GUIWindowSettingsScreenCalibration.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
  xbmc/video/dialogs/GUIDialogVideoSettings.cpp
  xbmc/video/guilib/VideoGUIUtils.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.cpp
  xbmc/video/guilib/VideoPlayActionProcessor.h
  xbmc/video/guilib/VideoSelectActionProcessor.h
Labels: Type: Cleanup, v22 Piers

#26903 [AnnouncementManager] Refactor large method into 4 smaller functions
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
Labels: Type: Improvement, v22 Piers

#26911 [VideoInfoTag][MusicInfoTag] Misc SonarQube findings
  xbmc/interfaces/legacy/InfoTagVideo.cpp
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/interfaces/legacy/ListItem.cpp
  xbmc/media/MediaType.h
  xbmc/music/tags/MusicInfoTag.cpp
  xbmc/music/tags/MusicInfoTag.h
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Cleanup, Component: Music, Component: Video, v22 Piers

#26910 [VideoDatabase][MusicDatabase][DatabaseUtils] Misc SonarQube findings
  xbmc/InfoScanner.h
  xbmc/LangInfo.cpp
  xbmc/LangInfo.h
  xbmc/PartyModeManager.cpp
  xbmc/addons/LanguageResource.h
  xbmc/dialogs/GUIDialogMediaFilter.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeInProgressTvShows.cpp
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/interfaces/builtins/LibraryBuiltins.cpp
  xbmc/interfaces/json-rpc/ApplicationOperations.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/VideoLibrary.cpp
  xbmc/interfaces/json-rpc/VideoLibrary.h
  xbmc/music/MusicDatabase.cpp
  xbmc/music/MusicDatabase.h
  xbmc/playlists/SmartPlayList.cpp
  xbmc/playlists/SmartPlayList.h
  xbmc/utils/DatabaseUtils.cpp
  xbmc/utils/DatabaseUtils.h
  xbmc/utils/SortUtils.cpp
  xbmc/utils/SortUtils.h
  xbmc/utils/test/TestDatabaseUtils.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Cleanup, Component: Music, Component: Video, v22 Piers

#26906 Retroplayer: Remove hardware integer scaling support
  addons/resource.language.en_gb/resources/strings.po
  system/settings/linux.xml
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.h
  xbmc/cores/RetroPlayer/rendering/RenderContext.cpp
  xbmc/cores/RetroPlayer/rendering/RenderContext.h
  xbmc/cores/RetroPlayer/rendering/VideoRenderers/RPBaseRenderer.cpp
  xbmc/windowing/WinSystem.h
  xbmc/windowing/gbm/WinSystemGbm.cpp
  xbmc/windowing/gbm/WinSystemGbm.h
  xbmc/windowing/gbm/drm/DRMAtomic.cpp
  xbmc/windowing/gbm/drm/DRMAtomic.h
Labels: Type: Improvement, Component: Games, v22 Piers

#26755 [Video][Bluray] Futher fixes for removable blurays.
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
  xbmc/GUIInfoManager.cpp
  xbmc/application/ApplicationPlayerCallback.cpp
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/BlurayDirectory.h
  xbmc/filesystem/DirectoryHistory.cpp
  xbmc/filesystem/DirectoryHistory.h
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoUtils.cpp
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Type: Improvement, Component: Video, v22 Piers

#26883 [VideoDatabase] Better interface for `VideoContentTypeToString`
  xbmc/interfaces/AnnouncementManager.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
Labels: Type: Cleanup, Component: Video, v22 Piers

#26925 Revert "[dbwrappers] Reduce compile time deps by forward-declaring struct st_mysql in mysqldataset.h"
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/mysqldataset.h
Labels: Type: Fix, Component: Database, Type: Revert, v22 Piers

#26929 [Video][Bluray] Revert "Associate bookmarks with known bluray:// paths (including removable discs) when files viewed through the Video node."
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/BlurayDirectory.h
  xbmc/utils/URIUtils.cpp
  xbmc/utils/URIUtils.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/windows/GUIMediaWindow.cpp
Labels: Type: Fix, Component: Video, Type: Revert, v22 Piers
