Repository xbmc/xbmc, pull requests merged in 2025-08, with the labels that each got.

#27031 Fix build with CMake 4.0 after merge "revert libnfs 6.0.2"
  cmake/modules/FindNFS.cmake
Labels: Type: Improvement, CMake, v22 Piers

#27013 [macOS] Skip Xcode simulator mounts
  xbmc/platform/darwin/osx/storage/OSXStorageProvider.cpp
Labels: Type: Fix, Platform: macOS, v22 Piers

#27014 RetroPlayer: Fix crash when creating savestate in Debug mode
  xbmc/cores/RetroPlayer/savestates/SavestateFlatBuffer.cpp
Labels: Type: Fix, Component: Games, v22 Piers

#27036 [Video] Fix missing #include <cstdint> in ArtUtils.h prevents compile in older GCC.
  xbmc/utils/ArtUtils.h
Labels: Type: Fix, Component: Video, v22 Piers

#27037 RetroPlayer: Fix sorting of public member functions and a log c/p error
  xbmc/cores/RetroPlayer/rendering/RPRenderManager.cpp
  xbmc/games/addons/streams/GameClientStreamHwFramebuffer.cpp
Labels: Type: Improvement, Component: Games, v22 Piers

#26990 Bump Android SDK 36 + Gradle
  cmake/platform/android/android.cmake
  docs/README.Android.md
  tools/android/packaging/build.gradle
  tools/android/packaging/gradle/wrapper/gradle-wrapper.jar
  tools/android/packaging/gradle/wrapper/gradle-wrapper.properties
  tools/android/packaging/gradlew
  tools/android/packaging/settings.gradle
  tools/android/packaging/xbmc/build.gradle.in
Labels: Type: Improvement, Platform: Android, v22 Piers

#26930 [CURL] Trying to test functions which call DNSCache::Lookup failed du…
  xbmc/utils/URIUtils.cpp
  xbmc/utils/test/TestURIUtils.cpp
Labels: Type: Fix, Component: Network, v22 Piers

#27011 [VideoPlayer][FFmpegDemux] Don't add image attachments as video streams.
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#26995 [Utils] Remove redundant mutable keyword.
  xbmc/utils/ProgressJob.cpp
  xbmc/utils/ProgressJob.h
Labels: Type: Cleanup, v22 Piers

#27032 [PVR][profiles] Fixes for problems with PVR stop/start on profile switch
  xbmc/GUIPassword.cpp
  xbmc/application/Application.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/interfaces/builtins/ProfileBuiltins.cpp
  xbmc/interfaces/json-rpc/ProfilesOperations.cpp
  xbmc/profiles/Profile.h
  xbmc/profiles/ProfileManager.cpp
  xbmc/profiles/ProfileManager.h
  xbmc/profiles/dialogs/GUIDialogProfileSettings.cpp
  xbmc/profiles/windows/GUIWindowSettingsProfile.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/addons/PVRClients.cpp
  xbmc/pvr/addons/PVRClients.h
  xbmc/windows/GUIWindowLoginScreen.cpp
Labels: Type: Fix, Type: Cleanup, Component: PVR, Component: Profiles, v22 Piers

#27039 Random SonarQube findings which were introduced since July 18 2025
  xbmc/NfoFile.cpp
  xbmc/games/dialogs/osd/DialogGameVideoFilter.cpp
  xbmc/music/tags/TagLoaderTagLib.cpp
  xbmc/utils/test/TestURIUtils.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/VideoInfoScanner.h
  xbmc/video/VideoInfoTag.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
  xbmc/video/tags/VideoTagLoaderNFO.cpp
Labels: Type: Cleanup, v22 Piers

#27052 [CA Certs] Refresh CA Certs to 2025-07-15
  system/certs/cacert.pem
Labels: Type: Improvement, v22 Piers

#26988 [webOS] Add new webOS videoplayer
  cmake/modules/FindGObject.cmake
  cmake/platform/linux/webos.cmake
  tools/depends/target/webos-userland/WEBOS-USERLAND-VERSION
  xbmc/cores/AudioEngine/CMakeLists.txt
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Engines/ActiveAE/ActiveAEBuffer.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkStarfish.cpp
  xbmc/cores/AudioEngine/Sinks/AESinkStarfish.h
  xbmc/cores/VideoPlayer/Buffers/CMakeLists.txt
  xbmc/cores/VideoPlayer/Buffers/VideoBufferStarfish.cpp
  xbmc/cores/VideoPlayer/Buffers/VideoBufferStarfish.h
  xbmc/cores/VideoPlayer/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Video/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecStarfish.h
  xbmc/cores/VideoPlayer/DVDMessageQueue.cpp
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.cpp
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.h
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerAudioWebOS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerAudioWebOS.h
  xbmc/cores/VideoPlayer/VideoPlayerVideoWebOS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerVideoWebOS.h
  xbmc/cores/VideoPlayer/VideoPlayerWebOS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerWebOS.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.h
  xbmc/cores/playercorefactory/PlayerCoreConfig.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
Labels: Type: Improvement, Component: Video, Component: Video rendering, Component: Audio, Type: Breaking change, Platform: webOS, v22 Piers

#27043 depends: Fix rebuilding Python modules
  tools/depends/native/pythonmodule-setuptools/Makefile
Labels: Type: Fix, Component: Python, Component: Depends, v22 Piers

#27060 [webOS] Don't configure addons on startup
  xbmc/platform/linux/PlatformWebOS.cpp
  xbmc/platform/linux/PlatformWebOS.h
Labels: Type: Improvement, Platform: webOS, v22 Piers

#27059 [log/fmt] add a custom formatter for enum class StreamType to prevent logging o…
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemux.h
Labels: Type: Improvement, Component: Logging, v22 Piers

#27062 [CurlFile] Fix off-by-one error in `CCurlFile::CReadState::ReadLine`
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Fix, Component: FileSystem, v22 Piers

#27046 Fix add-on sources missing when mediasources.xml is absent
  xbmc/storage/MediaManager.cpp
  xbmc/storage/MediaManager.h
Labels: Type: Fix, v22 Piers

#27038 Fix busy dialog crash
  xbmc/application/Application.cpp
  xbmc/dialogs/GUIDialogBusy.cpp
  xbmc/dialogs/GUIDialogBusy.h
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIMediaWindow.h
Labels: Type: Fix, Component: GUI engine, v22 Piers

#27067 Bump androidx.core to 1.16.0
  tools/android/packaging/xbmc/build.gradle.in
Labels: Type: Improvement, Platform: Android, v22 Piers

#27042 [cores][dllLoader] Use snprintf instead of strncpy/strncat for safer …
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
Labels: Type: Fix, v22 Piers

#19481 Linux meminfo: use MemAvailable when possible
  xbmc/platform/linux/MemUtils.cpp
Labels: Type: Improvement, v22 Piers

#27065 Translations update from Kodi Weblate
  tools/android/packaging/xbmc/res/values-ca-res/strings.xml
  tools/android/packaging/xbmc/res/values-ru-rru/strings.xml
Labels: Type: Improvement, Component: Strings, v22 Piers

#16962 [clang-format] always use a line per constructor initialiser for longer lines
  .clang-format
  CMakeLists.txt
  docs/CODE_GUIDELINES.md
Labels: Type: Improvement, v22 Piers

#27027 [cmake] add clang-tidy, cppcheck & iwyu support to JsonSchemaBuilder & TexturePacker
  cmake/modules/buildtools/FindJsonSchemaBuilder.cmake
  cmake/modules/buildtools/FindTexturePacker.cmake
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
  xbmc/platform/android/CMakeLists.txt
  xbmc/platform/android/activity/CMakeLists.txt
Labels: Type: Improvement, CMake, v22 Piers

#27076 [Android] Update the logic that checks the app is already running
  tools/android/packaging/xbmc/src/Main.java.in
  tools/android/packaging/xbmc/src/Splash.java.in
Labels: Type: Improvement, Platform: Android, v22 Piers

#26989 [tools/depends][native] Update m4 to 1.4.20
  tools/depends/native/m4/Makefile
Labels: Type: Improvement, Component: Depends, v22 Piers

#25698 [MUSIC][JSON-RPC] Changes after code reviews for RefreshArtist and RefreshAlbum
  xbmc/interfaces/builtins/LibraryBuiltins.cpp
  xbmc/interfaces/json-rpc/AudioLibrary.cpp
  xbmc/interfaces/json-rpc/schema/methods.json
Labels: Type: Cleanup, Component: Music, API change: JSON-RPC, v22 Piers

#26684 Bump Android NDK 28c
  docs/README.Android.md
  tools/buildsteps/defaultenv
  tools/depends/configure.ac
Labels: Type: Improvement, Platform: Android, v22 Piers

#26232 StringUtils: Use non locale aware `toupper`/`tolower` for functions on `char` strings
  xbmc/addons/kodi-dev-kit/include/kodi/tools/StringUtils.h
  xbmc/utils/StringUtils.cpp
Labels: Type: Fix, Backport: Needed, v22 Piers

#27084 [Video] Fix NFO regression in #27039
  xbmc/NfoFile.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#27049 [Video] Improve episode range determination when scanning library and add further tests.
  xbmc/settings/AdvancedSettings.cpp
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/test/TestVideoInfoScanner.cpp
Labels: Type: Fix, Wiki: Needed, Component: Video, v22 Piers

#27068 [smb] Rewrite GetDirectory to use smbc_readdirplus2() where possible for orders of magnitude performance improvements.
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
Labels: Type: Improvement, Component: FileSystem, v22 Piers

#26956 [Music][Audiobooks] Add support for nero type chapters in m4b files
  cmake/installdata/test-reference-data.txt
  xbmc/filesystem/AudioBookFileDirectory.cpp
  xbmc/utils/CMakeLists.txt
  xbmc/utils/Mp4ChplReader.cpp
  xbmc/utils/Mp4ChplReader.h
  xbmc/utils/test/CMakeLists.txt
  xbmc/utils/test/TestMp4ChplReader.cpp
  xbmc/utils/test/resources/corrupt_chpl.mp4
  xbmc/utils/test/resources/no_chapters.mp4
  xbmc/utils/test/resources/sample_chpl.mp4
Labels: Type: Feature, Component: Music, v22 Piers

#26902 [MUSIC] Backport of #26900 fix incorrect sql table in query
  xbmc/music/MusicDatabase.cpp
Labels: Type: Fix, Component: Music, Type: Backport, v21 Omega

#26317 [Audio][Settings] All PT audio settings visible in standard setting level and all formats enabled by default
  system/settings/settings.xml
Labels: Type: Improvement, Component: Settings, Component: Audio, v22 Piers

#27091 [Depends] Allow BASE_URL overrides for dependencies
  tools/depends/target/crossguid/Makefile
  tools/depends/target/ffmpeg/Makefile
  tools/depends/target/flatbuffers/Makefile
  tools/depends/target/fmt/Makefile
  tools/depends/target/spdlog/Makefile
  tools/depends/target/wayland-protocols/Makefile
  tools/depends/target/waylandpp/Makefile
Labels: Type: Fix, Type: Improvement, Component: Depends, v22 Piers

#27093 Update metadata.common.fanart.tv scraper
  addons/metadata.common.fanart.tv/addon.xml
  addons/metadata.common.fanart.tv/fanarttv.xml
Labels: Type: Improvement, Component: Add-ons, v22 Piers

#26921 Fix CVideoInfoScanner strHash mismatch between linux and win32 platform
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, v22 Piers

#27015 [Video][Bluray] More robust update of playcount/lastplayed/dateadded fields when saving bluray:// file or creating bluray:// versions.
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
  xbmc/utils/SaveFileStateJob.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#27097 [Settings][Player] Change default Setting / Player / Adjust display refresh rate to "At Start / Stop"
  system/settings/settings.xml
Labels: Type: Improvement, Wiki: Needed, Component: Settings, v22 Piers

#27111 [Video][Alpha 1] Fix copy of CFileItem.
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Component: Video, v22 Piers, Feature: Video Versions/Extras

#27112 [VideoInfoScanner][Alpha 1] Small fix to episode range code.
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/test/TestVideoInfoScanner.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#27121 [VideoPlayer] Fix Fancy PGS Subs
  xbmc/cores/VideoPlayer/DVDCodecs/Overlay/DVDOverlayCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDOverlayContainer.cpp
Labels: Component: Players, v22 Piers

#27096 SMBDirectory: remove dependence on StringUtils and modernize logs
  xbmc/platform/posix/filesystem/SMBDirectory.cpp
Labels: Type: Improvement, Component: FileSystem, v22 Piers

#27135 Fix waylandpp compilation on GCC 14.2.0
  tools/depends/target/waylandpp/001-fix-gcc14-build.patch
  tools/depends/target/waylandpp/Makefile
Labels: Type: Fix, Component: Depends, v22 Piers

#27133 NFSDirectory: Remove duplicate header and improve logs
  xbmc/filesystem/NFSDirectory.cpp
  xbmc/filesystem/NFSDirectory.h
Labels: Type: Improvement, Component: FileSystem, v22 Piers

#27053 [AudioEngine] PipeWire: synchronize to Process() callback
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireThreadLoop.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireThreadLoop.h
Labels: Type: Fix, Platform: Linux, Component: Audio, v22 Piers

#27105 [clang-tidy] fix performance-* warnings
  xbmc/addons/interfaces/AddonBase.cpp
  xbmc/addons/settings/AddonSettings.cpp
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/input/touch/generic/GenericTouchSwipeDetector.cpp
  xbmc/input/touch/generic/GenericTouchSwipeDetector.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/view/GUIViewState.cpp
Labels: Type: Fix, v22 Piers

#27144 [webOS] Always convert Dovi if EL is present
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.cpp
Labels: Type: Fix, Component: Video, Platform: webOS, v22 Piers

#26931 [URLUtils] Added consistency checks between `URLUtils` and `CURL::Parse`
  xbmc/URL.cpp
  xbmc/utils/test/TestURIUtils.cpp
Labels: Type: Improvement, v22 Piers

#27146 [webOS] Disable unuseful features
  cmake/scripts/linux/ArchSetup.cmake
  system/settings/linux.xml
  system/settings/webos.xml
  xbmc/settings/Settings.cpp
Labels: Type: Improvement, Platform: webOS, v22 Piers

#27141 Add support for .heif/.heic through ffmpeg
  xbmc/guilib/FFmpegImage.cpp
  xbmc/settings/AdvancedSettings.cpp
Labels: Type: Feature, Type: Improvement, Wiki: Needed, v22 Piers

#27129 [Video] Fix fail to update videoversion when updating library.
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoScanner.cpp
  xbmc/video/dialogs/GUIDialogVideoManagerVersions.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#27173 [Estuary] strings.po: Fix genre fanart pack selection setting label t…
  addons/skin.estuary/language/resource.language.en_gb/strings.po
Labels: Type: Cleanup, Wiki: Needed, Component: Skin, v22 Piers

#27172 [PVR] Recordings window: Disable 'group recordings' when displaying ' Recently added recordings'
  xbmc/pvr/windows/GUIWindowPVRRecordings.cpp
  xbmc/pvr/windows/GUIWindowPVRRecordings.h
Labels: Type: Fix, Component: PVR, v22 Piers

#27086 [Docs][Windows] Update Windows doc
  docs/README.Windows.md
Labels: Platform: Windows, Documentation, Platform: WindowsStore, v22 Piers

#26969 [DirectoryCache] Fix bugs and add tests for CDirectoryCache
  xbmc/filesystem/DirectoryCache.cpp
  xbmc/filesystem/DirectoryCache.h
  xbmc/filesystem/test/CMakeLists.txt
  xbmc/filesystem/test/TestDirectoryCache.cpp
Labels: Type: Fix, v22 Piers

#27106 [Alpha 2] Bump Python to 3.13.7
  project/BuildDependencies/scripts/0_package.target-arm64.list
  project/BuildDependencies/scripts/0_package.target-win10-win32.list
  project/BuildDependencies/scripts/0_package.target-win10-x64.list
  project/BuildDependencies/scripts/0_package.target-win32.list
  project/BuildDependencies/scripts/0_package.target-x64.list
  tools/depends/native/python3/PYTHON3-VERSION
  tools/depends/target/python3/PYTHON3-VERSION
Labels: Type: Improvement, Component: Python, Component: Depends, v22 Piers

#26639 [GUIIncludes]: Minor cleanup and performance optimizations
  xbmc/guilib/GUIIncludes.cpp
  xbmc/guilib/GUIIncludes.h
Labels: Type: Cleanup, Component: GUI engine, v22 Piers

#27195 Update sonarqube scan action to v5
  .github/workflows/sonarqube.yml
Labels: Type: Improvement, Infrastructure, v22 Piers

#27198 webOS: report current video and maximum resolution to Inputstream addons
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.cpp
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.h
  xbmc/cores/VideoPlayer/VideoPlayerWebOS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerWebOS.h
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Improvement, Component: Video, Platform: webOS, v22 Piers

#27200 [AudioEngine] PipeWire: account for partially filled buffer delay
  xbmc/cores/AudioEngine/Sinks/pipewire/AESinkPipewire.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.cpp
  xbmc/cores/AudioEngine/Sinks/pipewire/PipewireStream.h
Labels: Type: Fix, Component: Audio, v22 Piers

#27206 [Estuary] PVR channel group manager dialog: Show client/instance name…
  addons/skin.estuary/xml/Includes_PVR.xml
Labels: Type: Improvement, Component: PVR, Component: Skin, v22 Piers
