Repository xbmc/xbmc, pull requests merged in 2025-04, with the labels that each got.

#26590 Fix Wrong Info Dialog for Versions of Same Name
  xbmc/FileItem.cpp
  xbmc/interfaces/json-rpc/PlayerOperations.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
  xbmc/video/windows/GUIWindowVideoBase.cpp
Labels: Type: Fix, Backport: Needed, Component: Windowing, v22 Piers, Feature: Video Versions/Extras

#26595 [Estuary] Fix info dialogs button overlap issue
  addons/skin.estuary/xml/DialogAddonInfo.xml
  addons/skin.estuary/xml/Includes_Buttons.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26597 [rendering/dx] DeviceResources.cpp: Enable shared surfaces and fences for Qualcomm GPUs.
  xbmc/rendering/dx/DeviceResources.cpp
Labels: Type: Improvement, Platform: Windows, Component: DirectX rendering, v22 Piers

#26602 [project/Win32BuildSetup] Fix Windows ARM64 detection in NSIS installer.
  docs/README.Windows.md
  project/Win32BuildSetup/genNsisInstaller.nsi
Labels: Type: Improvement, Platform: Windows, Component: Build, v22 Piers

#26592 [cmake] FindCec add cmake config version patch and cleanup find handling
  cmake/modules/FindCEC.cmake
  tools/depends/target/cec/007-all-cmake-version.patch
  tools/depends/target/cec/Makefile
Labels: Platform: Android, Platform: Windows, Platform: macOS, Platform: iOS, Platform: WindowsStore, Platform: tvOS, Component: Build, Platform: webOS, v22 Piers

#26591 [cmake] Handle packaging of libs that arent linked into main app
  CMakeLists.txt
  cmake/modules/FindLibAACS.cmake
  cmake/modules/FindLibBDPlus.cmake
  cmake/platform/osx/osx.cmake
  cmake/platform/windows/windows.cmake
  cmake/platform/windowsstore/windowsstore.cmake
  cmake/scripts/common/Macros.cmake
  cmake/scripts/osx/Install.cmake
Labels: Platform: Windows, Platform: macOS, CMake, Platform: WindowsStore, Component: Build, v22 Piers

#26606 [Omega] Fix CDDB lookups
  xbmc/network/cddb.cpp
Labels: Component: Music, Type: Backport, v21 Omega

#26586 Fix video info dialog scroll buttons
  addons/skin.estuary/xml/DialogPVRInfo.xml
  addons/skin.estuary/xml/DialogVideoInfo.xml
  addons/skin.estuary/xml/Includes_Buttons.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26605 Fix peripheral settings
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.cpp
Labels: Type: Fix, Component: Input, v22 Piers

#26549 [docs][Windows] add binary add-on intree building
  docs/README.Windows.md
Labels: Type: Improvement, Documentation, v22 Piers

#26609 [tools/depends][target] Bump freetype2 + some cmake 4 build overrides
  cmake/modules/FindP8Platform.cmake
  cmake/modules/FindRapidJSON.cmake
  tools/depends/target/freetype2-noharfbuzz/FREETYPE2-NOHARFBUZZ-VERSION
  tools/depends/target/freetype2/FREETYPE2-VERSION
  tools/depends/target/liblzo2/Makefile
Labels: Component: Depends, CMake, Component: Build, v22 Piers

#26628 Remove a few remaining references to the video versions/extras selection dialog, missed expression refactor in Estuary
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/xml/DialogSelect.xml
  addons/skin.estuary/xml/Includes.xml
  system/settings/settings.xml
  xbmc/settings/Settings.h
Labels: Type: Cleanup, Type: Improvement, Component: Skin, v22 Piers, Feature: Video Versions/Extras

#25979 [Video] Add smart playlist rule types for movies with versions and extras
  addons/resource.language.en_gb/resources/strings.po
  xbmc/playlists/SmartPlayList.cpp
  xbmc/utils/DatabaseUtils.cpp
  xbmc/utils/DatabaseUtils.h
Labels: Type: Improvement, Wiki: Needed, Component: Video, v22 Piers, Feature: Video Versions/Extras

#26008 [guilib] Fix activation of value/browse controls in Smart Playlist Rule dialog
  xbmc/dialogs/GUIDialogSmartPlaylistRule.cpp
Labels: Type: Fix, Component: GUI engine, v22 Piers

#26630 [PVR][Estuary] Increase resolution of Estuary Guide Window
  addons/skin.estuary/xml/Includes_PVR.xml
  xbmc/guilib/GUIControlFactory.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.dox
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.h
Labels: Type: Improvement, Component: PVR, Component: Skin, v22 Piers

#26627 [GUI] Add Sorting Methods to the movie versions/extras folders
  addons/resource.language.en_gb/resources/strings.po
  addons/skin.estuary/language/resource.language.en_us/strings.po
  addons/skin.estuary/xml/Variables.xml
  xbmc/FileItemList.cpp
  xbmc/filesystem/VideoDatabaseDirectory/DirectoryNodeMovieAssets.cpp
  xbmc/utils/SortUtils.h
  xbmc/video/GUIViewStateVideo.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/view/ViewStateSettings.cpp
Labels: Type: Improvement, Component: GUI engine, v22 Piers, Feature: Video Versions/Extras

#26525 DNSNameCache: Add a Time To Live for cached names
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/addons/interfaces/Network.cpp
  xbmc/application/Application.cpp
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/NFSFile.cpp
  xbmc/filesystem/test/TestHTTPDirectory.cpp
  xbmc/network/DNSNameCache.cpp
  xbmc/network/DNSNameCache.h
  xbmc/network/WakeOnAccess.cpp
  xbmc/network/mdns/ZeroconfBrowserMDNS.cpp
  xbmc/network/test/TestWebServer.cpp
  xbmc/platform/posix/filesystem/SMBFile.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/utils/URIUtils.cpp
Labels: Type: Improvement, v22 Piers

#26635 [PVR] Reduce number of published events
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/pvr/PVRManager.cpp
  xbmc/pvr/PVRManager.h
  xbmc/pvr/channels/PVRChannelGroups.cpp
Labels: Type: Improvement, Component: PVR, v22 Piers

#26618 [VideoPlayer][skin] Add AAC codec by profile, fix inputstream codec name bug
  xbmc/GUIInfoManager.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxClient.cpp
  xbmc/cores/VideoPlayer/DVDDemuxers/DVDDemuxFFmpeg.cpp
  xbmc/utils/StreamUtils.cpp
  xbmc/utils/StreamUtils.h
Labels: Type: Fix, Type: Improvement, v22 Piers

#26626 [Estuary] Stream media info and media flag fixes
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_DialogSelect.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26638 [Estuary] Skin adjustments after changes for videoassets
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/MyVideoNav.xml
Labels: Type: Fix, Type: Improvement, Component: Skin, v22 Piers

#26645 [PVR] Fix divide by zero errors due to CGUIEPGGridContainerModel::m_minutesPerBlock being initialized to late.
  xbmc/pvr/guilib/GUIEPGGridContainer.cpp
  xbmc/pvr/guilib/GUIEPGGridContainer.h
  xbmc/pvr/guilib/GUIEPGGridContainerModel.cpp
  xbmc/pvr/guilib/GUIEPGGridContainerModel.h
Labels: Type: Fix, Component: PVR, v22 Piers

#26644 depends: linux build fixes
  tools/depends/target/gnutls/Makefile
  tools/depends/target/libmicrohttpd/Makefile
  tools/depends/target/libva/LIBVA-VERSION
  tools/depends/target/libva/Makefile
  tools/depends/target/samba-gplv3/Makefile
  tools/depends/target/samba-gplv3/backport-23ddfd3.patch
Labels: Type: Fix, Platform: Linux, Component: Depends, v22 Piers

#26648 [Estuary] Fix typo causing calendar icon to appear
  addons/skin.estuary/xml/Includes.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26493 [BP][groovy] Update groovy, apache-commons3, apache-commons-text
  xbmc/interfaces/swig/CMakeLists.txt
Labels: Type: Fix, Type: Backport, Component: Build, v21 Omega

#26641 [Windows] Allow use Video Super Resolution with 10-bit intermediate target
  xbmc/cores/VideoPlayer/VideoRenderers/windows/RendererDXVA.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, v22 Piers

#26632 Replace QR codes in "Thank you!" window
  media/qr/kodilove/qr-logo.png
  media/qr/kodilove/qr-popcorn.jpg
Labels: Type: Fix, Backport: Needed, Component: Skin, v22 Piers

#26656 [rendering] Increase font size for splash screen status message text.
  xbmc/rendering/RenderSystem.cpp
Labels: Type: Improvement, v22 Piers

#26657 [dbwrappers][settings] Make database connect timeout customizable via database advanced setting
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/dataset.h
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
Labels: Type: Improvement, Component: Database, Component: Settings, v22 Piers

#25642 Modernize `StringUtils`
  xbmc/addons/addoninfo/AddonInfoBuilder.cpp
  xbmc/music/Album.cpp
  xbmc/music/infoscanner/MusicInfoScanner.cpp
  xbmc/network/upnp/UPnPInternal.cpp
  xbmc/network/upnp/UPnPServer.cpp
  xbmc/utils/SortUtils.cpp
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
  xbmc/utils/test/TestStringUtils.cpp
  xbmc/windowing/wayland/SeatSelection.cpp
Labels: Type: Improvement, v22 Piers

#26661 [database] Fix 'endless' waiting on splash screen when connect to remote database(s) fails.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/DatabaseManager.cpp
  xbmc/DatabaseManager.h
  xbmc/application/Application.cpp
  xbmc/application/ApplicationSkinHandling.cpp
  xbmc/dbwrappers/Database.cpp
  xbmc/dbwrappers/Database.h
  xbmc/dbwrappers/dataset.h
  xbmc/dbwrappers/mysqldataset.cpp
  xbmc/dbwrappers/sqlitedataset.cpp
  xbmc/platform/darwin/ios/IOSEAGLView.mm
  xbmc/platform/darwin/tvos/XBMCController.mm
  xbmc/platform/xbmc.cpp
Labels: Type: Fix, Type: Improvement, Component: Database, v22 Piers

#26658 [xbmc] Fix missing include cstdint
  xbmc/cores/VideoPlayer/DVDInputStreams/BlurayStateSerializer.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStream.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDStateSerializer.h
  xbmc/cores/VideoPlayer/Edl.h
  xbmc/filesystem/ZipManager.h
Labels: Type: Fix, v22 Piers

#26617 Backport: Fix peripheral settings
  xbmc/peripherals/devices/Peripheral.cpp
  xbmc/peripherals/dialogs/GUIDialogPeripheralSettings.cpp
Labels: Type: Fix, Component: Input, Type: Backport, v21 Omega

#26646 [Windows] Allow use Video Super Resolution on videos up to 1440p
  addons/resource.language.en_gb/resources/strings.po
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, v22 Piers

#26625 [webOS] Remove setrlimit condition
  xbmc/platform/linux/PlatformWebOS.cpp
Labels: Type: Fix, Platform: webOS, v22 Piers

#26652 [tools/depends] Bump libxml2, libxslt, gpg-error, libgcrypt
  tools/depends/target/libgcrypt/LIBGCRYPT-VERSION
  tools/depends/target/libgcrypt/Makefile
  tools/depends/target/libgpg-error/LIBGPG-ERROR-VERSION
  tools/depends/target/libgpg-error/tvos_remove-fork.patch
  tools/depends/target/libxml2/LIBXML2-VERSION
  tools/depends/target/libxslt/LIBXSLT-VERSION
  tools/depends/target/libxslt/Makefile
  xbmc/utils/XSLTUtils.cpp
Labels: Platform: Android, Platform: macOS, Platform: iOS, Component: Depends, Platform: tvOS, Platform: webOS, v22 Piers

#26664 StringUtils: Fix MSVC iterator assertion
  xbmc/utils/StringUtils.cpp
  xbmc/utils/test/TestStringUtils.cpp
Labels: Type: Fix, v22 Piers

#26649 Run SonarQube on master
  .github/workflows/sonarqube.yml
  sonar-project.properties
Labels: Type: Improvement, v22 Piers

#26667 [Estuary] Fix and extend music player audio codec mappings
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Variables.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26292 [Video] Various fixes for bluray:// paths - fix fail to delete bluray:// file (4/4)
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#26654 [Bluray][Video] Fix unable to restart playing disc if stopped in menu.
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/filesystem/BlurayFile.cpp
Labels: Type: Fix, Component: Video, v22 Piers

#26668 Do not run SonarQube workflow in forks
  .github/workflows/sonarqube.yml
Labels: Type: Fix, v22 Piers

#26673 Fix - If episodes are added from a NFO then no hash is saved in the database.
  xbmc/video/VideoInfoScanner.cpp
Labels: Type: Fix, Component: Video, Component: Database, v22 Piers

#26672 [Estuary] Fix music dialog issues
  addons/skin.estuary/xml/DialogMusicInfo.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26398 [Windows] allow use Video Super Resolution in HDR10 videos (NVIDIA only)
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAHD.cpp
Labels: Type: Improvement, Component: Video rendering, Platform: Windows, Component: DirectX rendering, v22 Piers

#26676 [cmake] FindUdfread remove remnants of internal build
  CMakeLists.txt
  cmake/modules/FindUdfread.cmake
Labels: Type: Fix, CMake, v22 Piers

#26671 [tools/depends][target] Bump smctemp 0.6.0
  cmake/modules/FindSmctemp.cmake
  cmake/platform/osx/osx.cmake
  tools/depends/target/smctemp/SMCTEMP-VERSION
  xbmc/platform/darwin/osx/CPUInfoOsx.cpp
  xbmc/platform/darwin/osx/GPUInfoMacOS.cpp
Labels: Platform: macOS, Component: Depends, v22 Piers

#26680 [cmake] Fix some fallout from #26669 and #26636
  cmake/modules/FindPCRE2.cmake
  cmake/modules/FindSpdlog.cmake
  cmake/modules/FindXSLT.cmake
Labels: Type: Fix, CMake, v22 Piers

#26678 [pvr][video] Fix PVR recordings URL encoding bug (needs video database schema bump).
  xbmc/pvr/recordings/PVRRecordingsPath.cpp
  xbmc/video/VideoDatabase.cpp
Labels: Type: Fix, Component: PVR, v22 Piers

#26677 Fix first episode in a multiple episode file always updated in error in the GUI when playing a subsequent episode.
  xbmc/FileItem.cpp
Labels: Component: Video, v22 Piers

#26319 [Video] Improve episode display/selection for multi-episode bluray discs.
  addons/resource.language.en_gb/resources/strings.po
  xbmc/FileItem.cpp
  xbmc/PlayListPlayer.cpp
  xbmc/PlayListPlayer.h
  xbmc/ServiceBroker.cpp
  xbmc/ServiceBroker.h
  xbmc/Util.cpp
  xbmc/Util.h
  xbmc/application/Application.cpp
  xbmc/application/Application.h
  xbmc/dialogs/GUIDialogSimpleMenu.cpp
  xbmc/dialogs/GUIDialogSimpleMenu.h
  xbmc/filesystem/BlurayDirectory.cpp
  xbmc/filesystem/BlurayDirectory.h
  xbmc/filesystem/BlurayDiscCache.cpp
  xbmc/filesystem/BlurayDiscCache.h
  xbmc/filesystem/CMakeLists.txt
  xbmc/filesystem/DiscDirectoryHelper.cpp
  xbmc/filesystem/DiscDirectoryHelper.h
  xbmc/playlists/PlayListTypes.h
  xbmc/settings/AdvancedSettings.cpp
  xbmc/settings/AdvancedSettings.h
  xbmc/storage/MediaManager.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/windows/GUIWindowVideoBase.cpp
  xbmc/video/windows/GUIWindowVideoBase.h
Labels: Type: Improvement, Component: Video, v22 Piers

#26691 [cmake] FindXSLT differences on cmake config data
  cmake/modules/FindXSLT.cmake
Labels: Type: Fix, CMake, v22 Piers

#26659 [DllLoader] Define _PATH_MOUNTED and _PATH_MNTTAB if not already
  xbmc/cores/DllLoader/exports/emu_msvcrt.cpp
Labels: Type: Fix, v22 Piers

#26612 [CVariant] Replace rapidjson with nlohmann-json
  CMakeLists.txt
  cmake/modules/FindNlohmannJSON.cmake
  cmake/modules/FindRapidJSON.cmake
  docs/README.Fedora.md
  docs/README.FreeBSD.md
  docs/README.Linux.md
  docs/README.Ubuntu.md
  docs/README.openSUSE.md
  tools/depends/target/nlohmann_json/Makefile
  tools/depends/target/nlohmann_json/NLOHMANN_JSON-VERSION
  tools/depends/target/rapidjson/001-remove_custom_cxx_flags.patch
  tools/depends/target/rapidjson/002-cmake-standardise_config_installpath.patch
  tools/depends/target/rapidjson/003-cmake-removedocs-examples.patch
  tools/depends/target/rapidjson/004-win-arm64.patch
  tools/depends/target/rapidjson/Makefile
  tools/depends/target/rapidjson/RAPIDJSON-VERSION
  xbmc/platform/android/activity/XBMCApp.cpp
  xbmc/utils/JSONVariantParser.cpp
  xbmc/utils/JSONVariantWriter.cpp
Labels: Type: Improvement, Component: Depends, CMake, v22 Piers

#26695 Code Guidelines: Add missing C linkage to Header example
  docs/CODE_GUIDELINES.md
Labels: Type: Fix, Component: Documentation, v22 Piers

#26665 [guilib/listproviders] Improvements and Fixes
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/guilib/listproviders/DirectoryProvider.h
Labels: Type: Fix, Type: Cleanup, Type: Improvement, v22 Piers

#26698 [cmake] Add ApplicationEnums.h to application/CMakeLists.txt
  xbmc/application/CMakeLists.txt
Labels: Type: Fix, CMake, Component: Application, v22 Piers

#26696 [cmake] FindIconv propogate FOUND variable for external searches
  cmake/modules/FindIconv.cmake
Labels: Type: Fix, CMake, v22 Piers

#26689 [Android] XBMCProperties is initialized only after the properties file has been read
  tools/android/packaging/xbmc/src/XBMCProperties.java.in
Labels: Type: Fix, Platform: Android, v22 Piers

#26700 [FileItem] Move unnecessary include
  xbmc/FileItem.h
  xbmc/FileItemList.h
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.h
Labels: Type: Fix, Component: System, v22 Piers

#26699 [guilib/listproviders] CDirectoryProvider: Ignore PVR events until PVR manager is fully initalized.
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/guilib/listproviders/DirectoryProvider.h
Labels: Type: Improvement, Component: PVR, v22 Piers

#26679 [filesystem][CurlFile] Allow switch to HEAD request
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Fix, Component: FileSystem, v22 Piers

#26010 [guilib] Smart Playlist Rule Dialog Improvements
  xbmc/guilib/GUIEditControl.cpp
  xbmc/playlists/SmartPlayList.cpp
  xbmc/playlists/SmartPlayList.h
  xbmc/utils/StringValidation.cpp
Labels: Type: Improvement, Component: GUI engine, v22 Piers

#26697 [github] sonarqube update to nlohmann-json3-dev from rapidjson-dev
  .github/workflows/sonarqube.yml
Labels: Type: Fix, v22 Piers

#26693 [Android] PYTHONHOME variable depends on KODI_HOME
  xbmc/platform/android/activity/XBMCApp.cpp
Labels: Platform: Android, v22 Piers

#26711 Remove IVECFILEITEM type def
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
Labels: Type: Improvement, v22 Piers

#26713 Remove MAPFILEITEMPAIR type def
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
Labels: Type: Improvement, v22 Piers

#26714 Remove MAPFILEITEMS type def
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
Labels: Type: Improvement, v22 Piers

#26716 CFileItemList: remove unused private methods
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
Labels: Type: Improvement, v22 Piers

#26702 [Estuary] Fix TAB info issue
  addons/skin.estuary/xml/DialogSeekBar.xml
Labels: Type: Fix, Component: Skin, v22 Piers

#26688 [Android] Report whether the app has All Files Access permission
  tools/depends/target/libandroidjni/LIBANDROIDJNI-VERSION
  xbmc/platform/android/PlatformAndroid.cpp
Labels: Type: Improvement, Platform: Android, v22 Piers

#26717 Remove VECFILEITEMS
  xbmc/FileItem.h
  xbmc/FileItemList.cpp
  xbmc/FileItemList.h
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
  xbmc/video/dialogs/GUIDialogVideoInfo.cpp
Labels: Type: Improvement, v22 Piers

#26705 Fix - After #26319 DVD ISO images no longer play.
  xbmc/application/Application.cpp
  xbmc/utils/DiscsUtils.cpp
  xbmc/utils/DiscsUtils.h
Labels: Type: Fix, Component: Video, v22 Piers
