Repository xbmc/xbmc, pull requests merged in 2025-09, with the labels that each got.

#27186 Fix Doxygen WindowIDs man page
  .github/workflows/documentation-creation.yml
  xbmc/guilib/WindowIDs.dox
Labels: Type: Fix, Component: Documentation, v22 Piers

#27199 [guiinfo][weather][Estuary] Introduce GUI info label 'Weather.Data' as generic interface to weather data.
  addons/skin.estuary/xml/Home.xml
  addons/skin.estuary/xml/Includes.xml
  addons/skin.estuary/xml/Includes_Home.xml
  addons/skin.estuary/xml/MyWeather.xml
  addons/skin.estuary/xml/Variables.xml
  xbmc/GUIInfoManager.cpp
  xbmc/guilib/guiinfo/GUIInfoLabels.h
  xbmc/guilib/guiinfo/WeatherGUIInfo.cpp
  xbmc/weather/CMakeLists.txt
  xbmc/weather/WeatherJob.cpp
  xbmc/weather/WeatherJob.h
  xbmc/weather/WeatherManager.cpp
  xbmc/weather/WeatherManager.h
  xbmc/weather/WeatherTokenLocalizer.cpp
  xbmc/weather/WeatherTokenLocalizer.h
Labels: Type: Cleanup, Type: Improvement, Wiki: Needed, Component: Skin, v22 Piers, Component: GUI Info, Component: Weather

#27187 Add Movie/TV Show Original Language
  xbmc/interfaces/legacy/InfoTagVideo.cpp
  xbmc/interfaces/legacy/InfoTagVideo.h
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoDatabase.h
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/VideoInfoTag.h
Labels: Type: Feature, Wiki: Needed, Component: Video, Component: Database, v22 Piers

#27102 [Backport][Omega] Fix busy dialog crash
  xbmc/application/Application.cpp
  xbmc/dialogs/GUIDialogBusy.cpp
  xbmc/dialogs/GUIDialogBusy.h
  xbmc/music/windows/GUIWindowMusicPlaylist.cpp
  xbmc/windows/GUIMediaWindow.cpp
  xbmc/windows/GUIMediaWindow.h
Labels: Type: Fix, Component: GUI engine, Type: Backport, v21 Omega

#27202 [Windows] Optimize XTimeUtils with less auxiliar variables and data copy
  xbmc/platform/win32/XTimeUtils.cpp
  xbmc/platform/win32/filesystem/Win32Directory.cpp
  xbmc/platform/win32/filesystem/Win32SMBDirectory.cpp
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: FileSystem, v22 Piers

#27099 [Android] New dialog to explain the record audio permission
  tools/android/packaging/xbmc/src/Splash.java.in
  tools/android/packaging/xbmc/strings.xml.in
Labels: Type: Improvement, Platform: Android, v22 Piers

#27228 [cppcheck] fix performance checks
  xbmc/application/Application.cpp
  xbmc/cores/DllLoader/Win32DllLoader.cpp
  xbmc/cores/DllLoader/Win32DllLoader.h
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/DXVAEnumeratorHD.h
  xbmc/guilib/D3DResource.cpp
  xbmc/guilib/D3DResource.h
  xbmc/network/Socket.h
  xbmc/network/TCPServer.cpp
  xbmc/network/TCPServer.h
  xbmc/network/mdns/ZeroconfBrowserMDNS.cpp
  xbmc/network/mdns/ZeroconfBrowserMDNS.h
  xbmc/network/mdns/ZeroconfMDNS.cpp
  xbmc/network/mdns/ZeroconfMDNS.h
  xbmc/platform/win10/filesystem/WinLibraryDirectory.cpp
  xbmc/platform/win10/network/NetworkWin10.cpp
  xbmc/platform/win32/WIN32Util.cpp
  xbmc/platform/win32/WIN32Util.h
  xbmc/platform/win32/WindowHelper.cpp
  xbmc/platform/win32/WindowHelper.h
  xbmc/platform/win32/network/NetworkWin32.cpp
  xbmc/platform/win32/network/WSDiscoveryWin32.h
  xbmc/platform/win32/threads/Win32Exception.h
  xbmc/rendering/dx/DirectXHelper.h
  xbmc/utils/InfoLoader.cpp
  xbmc/video/VideoDatabase.cpp
  xbmc/video/VideoInfoTag.h
  xbmc/windowing/windows/WinSystemWin32.cpp
  xbmc/windowing/windows/WinSystemWin32DX.cpp
Labels: Type: Fix, v22 Piers

#27234 [filesystem][Windows] Apply GetDirectory optimizations to Win32 filesystem
  xbmc/platform/win32/filesystem/Win32Directory.cpp
Labels: Type: Improvement, Platform: Windows, Platform: WindowsStore, Component: FileSystem, v22 Piers

#27218 [webOS][VideoPlayer] Improve hardware acceleration detection
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.cpp
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.h
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.h
  xbmc/cores/VideoPlayer/VideoPlayerWebOS.cpp
  xbmc/cores/VideoPlayer/VideoPlayerWebOS.h
Labels: Type: Improvement, Component: Video, Component: Players, Platform: webOS, v22 Piers

#27224 [filesystem] Switch to long for CURLPROXY_* enums
  xbmc/filesystem/CurlFile.cpp
Labels: Type: Fix, Backport: Needed, v22 Piers

#27201 webOS: add helpful comment on reported GUI resolution
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
Labels: Type: Improvement, Platform: webOS, v22 Piers

#27223 [filesystem][CurlFile] Allow explicit use of HTTP Basic authentication
  xbmc/addons/kodi-dev-kit/include/kodi/c-api/filesystem.h
  xbmc/addons/kodi-dev-kit/include/kodi/versions.h
  xbmc/filesystem/CurlFile.cpp
  xbmc/filesystem/IFileTypes.h
Labels: Type: Fix, Wiki: Needed, v22 Piers

#26759 Query GL extensions by enum instead of strings
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/FrameBufferObject.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/LinuxRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/OverlayRendererGLES.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/RenderCaptureGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGL.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/VideoShaders/VideoFilterShaderGLES.cpp
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUIFontTTFGLES.cpp
  xbmc/guilib/TextureGL.cpp
  xbmc/guilib/TextureGLES.cpp
  xbmc/rendering/CMakeLists.txt
  xbmc/rendering/GLExtensions.cpp
  xbmc/rendering/GLExtensions.h
  xbmc/rendering/gl/RenderSystemGL.cpp
  xbmc/rendering/gles/RenderSystemGLES.cpp
  xbmc/utils/GLUtils.cpp
Labels: Type: Improvement, Component: GL rendering, Component: GLES rendering, v22 Piers

#27178 [VideoInfoTag] Protect against blank uniqueid
  xbmc/video/VideoInfoTag.cpp
  xbmc/video/test/TestVideoInfoTag.cpp
Labels: Type: Improvement, Component: Video, v22 Piers

#27254 [addons] CGUIDialogAddonInfo: Fix add-on status not updated when enab…
  addons/resource.language.en_gb/resources/strings.po
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Fix, Component: Add-ons, v22 Piers

#27255 [favourites][Estuary] Favourites window: Improve handling when no favourites are defined
  addons/skin.estuary/language/resource.language.en_gb/strings.po
  addons/skin.estuary/xml/MyFavourites.xml
  xbmc/favourites/GUIWindowFavourites.cpp
Labels: Type: Fix, Type: Improvement, Component: Skin, Component: Favourites, v22 Piers

#27256 [addons] CGUIDialogAddonInfo::OnSelectVersion: Sort available add-ons…
  xbmc/addons/gui/GUIDialogAddonInfo.cpp
Labels: Type: Improvement, Component: Add-ons, v22 Piers

#27262 URIUtils: Ensure hex numbers are unsigned when doing URL encoding
  xbmc/utils/URIUtils.cpp
  xbmc/utils/test/TestURIUtils.cpp
Labels: Type: Fix, v22 Piers

#26898 [Texturepacker] Hide some output behind verbose option
  cmake/scripts/common/ProjectMacros.cmake
  tools/depends/native/TexturePacker/src/TexturePacker.cpp
Labels: Component: Skin, v22 Piers

#27260 [Logs] Update some Log calls that still using `__func__`
  xbmc/Autorun.cpp
  xbmc/GUIPassword.cpp
  xbmc/cdrip/CDDARipJob.cpp
  xbmc/cdrip/CDDARipper.cpp
  xbmc/cdrip/Encoder.cpp
  xbmc/cdrip/EncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecPassthrough.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDInputStreams/InputStreamAddon.cpp
  xbmc/filesystem/FileDirectoryFactory.cpp
  xbmc/guilib/GUIFontManager.cpp
  xbmc/guilib/GUIFontTTFGL.cpp
  xbmc/guilib/GUIFontTTFGLES.cpp
Labels: Type: Improvement, v22 Piers

#27183 [tools/depends] Fix darwin host clang18+ android ndk support
  tools/depends/configure.ac
Labels: Type: Fix, Platform: Android, Component: Depends, v22 Piers

#27240 [webOS] Implement HDR GUI peak brightness
  system/settings/settings.xml
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.cpp
  xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/RendererStarfish.cpp
  xbmc/platform/linux/CMakeLists.txt
  xbmc/platform/linux/PlatformWebOS.cpp
  xbmc/platform/linux/WebOSTVPlatformConfig.cpp
  xbmc/platform/linux/WebOSTVPlatformConfig.h
  xbmc/windowing/wayland/WinSystemWaylandWebOS.cpp
  xbmc/windowing/wayland/WinSystemWaylandWebOS.h
Labels: Type: Improvement, Component: Windowing, Platform: webOS, v22 Piers

#27280 Reset the status to DVDSTATE_NORMAL during BD_EVENT_MENU exit
  xbmc/cores/VideoPlayer/DVDInputStreams/DVDInputStreamBluray.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Component: Video, v22 Piers
