Repository xbmc/xbmc, pull requests merged in 2025-10, with the labels that each got.

#27289 webOS: add missing parameter to Supports check for secure audio
  xbmc/cores/VideoPlayer/MediaPipelineWebOS.cpp
Labels: Type: Fix, Component: Players, Platform: webOS, v22 Piers

#27295 [PVR] CPVRGUIActionsTimers::EditTimer: Fix new timer created with wrong client index - take 2
  xbmc/pvr/guilib/PVRGUIActionsTimers.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.cpp
  xbmc/pvr/timers/PVRTimerInfoTag.h
Labels: Type: Fix, Component: PVR, hacktoberfest-accepted, v22 Piers

#27229 Language/Region Data Refresh, Refactor and Speed Ups
  cmake/treedata/common/subdirs.txt
  xbmc/utils/LangCodeExpander.cpp
  xbmc/utils/LangCodeExpander.h
  xbmc/utils/StringUtils.cpp
  xbmc/utils/StringUtils.h
  xbmc/utils/i18n/CMakeLists.txt
  xbmc/utils/i18n/TableISO3166_1.h
  xbmc/utils/i18n/TableISO639.h
  xbmc/utils/i18n/TableISO639_1.h
  xbmc/utils/i18n/TableISO639_2.h
  xbmc/utils/i18n/TableLanguageCodes.h
  xbmc/utils/test/TestLangCodeExpander.cpp
Labels: Type: Fix, Type: Improvement, Component: System, v22 Piers

#27149 [ffmpeg] Update to ffmpeg 8.0
  cmake/modules/FindFFMPEG.cmake
  tools/buildsteps/windows/buildhelpers.sh
  tools/buildsteps/windows/download-msys2.bat
  tools/buildsteps/windows/ffmpeg_options.txt
  tools/buildsteps/windows/patches/0001-ffmpeg-windows-configure-detect-openssl.patch
  tools/buildsteps/windows/patches/0002-ffmpeg-windows-configure-fix-zlib-conflict.patch
  tools/buildsteps/windows/patches/0003-ffmpeg-windows-configure-allow-building-static.patch
  tools/buildsteps/windows/patches/0004-ffmpeg-windows-configure-detect-libdav1d.patch
  tools/depends/target/ffmpeg/0001-libpostproc-plugin.patch
  tools/depends/target/ffmpeg/CMakeLists.txt
  tools/depends/target/ffmpeg/FFMPEG-VERSION
  tools/depends/target/ffmpeg/Makefile
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.cpp
  xbmc/cores/AudioEngine/Encoders/AEEncoderFFmpeg.h
  xbmc/cores/AudioEngine/Interfaces/AEEncoder.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/CMakeLists.txt
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecDRMPRIME.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoPP.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoPPFFmpeg.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VAAPI.cpp
  xbmc/cores/VideoPlayer/DVDCodecs/Video/VDPAU.cpp
Labels: Type: Improvement, Component: Video, Component: Audio, Component: Depends, v22 Piers

#27304 [guilib/guiinfo] clang-format xbmc/guilib/guiinfo/*
  xbmc/guilib/guiinfo/AddonsGUIInfo.cpp
  xbmc/guilib/guiinfo/AddonsGUIInfo.h
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.cpp
  xbmc/guilib/guiinfo/GUIControlsGUIInfo.h
  xbmc/guilib/guiinfo/GUIInfo.cpp
  xbmc/guilib/guiinfo/GUIInfo.h
  xbmc/guilib/guiinfo/GUIInfoBool.cpp
  xbmc/guilib/guiinfo/GUIInfoBool.h
  xbmc/guilib/guiinfo/GUIInfoColor.cpp
  xbmc/guilib/guiinfo/GUIInfoColor.h
  xbmc/guilib/guiinfo/GUIInfoHelper.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.cpp
  xbmc/guilib/guiinfo/GUIInfoLabel.h
  xbmc/guilib/guiinfo/GUIInfoProvider.h
  xbmc/guilib/guiinfo/GUIInfoProviders.cpp
  xbmc/guilib/guiinfo/GUIInfoProviders.h
  xbmc/guilib/guiinfo/GamesGUIInfo.cpp
  xbmc/guilib/guiinfo/GamesGUIInfo.h
  xbmc/guilib/guiinfo/IGUIInfoProvider.h
  xbmc/guilib/guiinfo/LibraryGUIInfo.cpp
  xbmc/guilib/guiinfo/LibraryGUIInfo.h
  xbmc/guilib/guiinfo/MusicGUIInfo.cpp
  xbmc/guilib/guiinfo/MusicGUIInfo.h
  xbmc/guilib/guiinfo/PicturesGUIInfo.cpp
  xbmc/guilib/guiinfo/PicturesGUIInfo.h
  xbmc/guilib/guiinfo/PlayerGUIInfo.cpp
  xbmc/guilib/guiinfo/PlayerGUIInfo.h
  xbmc/guilib/guiinfo/SkinGUIInfo.cpp
  xbmc/guilib/guiinfo/SkinGUIInfo.h
  xbmc/guilib/guiinfo/SystemGUIInfo.cpp
  xbmc/guilib/guiinfo/SystemGUIInfo.h
  xbmc/guilib/guiinfo/VideoGUIInfo.cpp
  xbmc/guilib/guiinfo/VideoGUIInfo.h
  xbmc/guilib/guiinfo/VisualisationGUIInfo.cpp
  xbmc/guilib/guiinfo/VisualisationGUIInfo.h
  xbmc/guilib/guiinfo/WeatherGUIInfo.cpp
  xbmc/guilib/guiinfo/WeatherGUIInfo.h
Labels: Type: Cleanup, hacktoberfest-accepted, v22 Piers, Component: GUI Info

#27305 [guilib/listproviders] clang-format xbmc/guilib/listproviders/*
  xbmc/guilib/listproviders/DirectoryProvider.cpp
  xbmc/guilib/listproviders/IListProvider.cpp
  xbmc/guilib/listproviders/IListProvider.h
  xbmc/guilib/listproviders/MultiProvider.cpp
  xbmc/guilib/listproviders/MultiProvider.h
  xbmc/guilib/listproviders/StaticProvider.cpp
  xbmc/guilib/listproviders/StaticProvider.h
Labels: Type: Cleanup, Component: GUI engine, hacktoberfest-accepted, v22 Piers

#27119 CDRMAtomic: don't create egl fence unless atomic drm init was succesful
  xbmc/windowing/gbm/WinSystemGbmEGLContext.cpp
  xbmc/windowing/gbm/drm/DRMAtomic.h
  xbmc/windowing/gbm/drm/DRMUtils.h
Labels: Type: Fix, Platform: Linux, v22 Piers

#27310 [ffmpeg][linux] Fix compilation without libpostproc
  xbmc/cores/FFmpeg.h
  xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecFFmpeg.cpp
  xbmc/cores/VideoPlayer/VideoPlayer.cpp
Labels: Type: Fix, Component: Video, Platform: Linux, v22 Piers
